<div class="bb-headline-bg bb-about-headline-bg">
</div>
<section class="bb-story-section section bb-section-on-bg">
    <h2 class="bb-title container text-center">Our story, our value</h2>

    <div class="bb-story-container container text-center">
        <div class="bb-story-container-inner">
                <div>
                    <p>nVipani is a product based IT start-up pioneered in providing comprehensive Supply Chain Management to Agricultural, Agricultural related FMCG, Agricultural related Manufacturing and Agricultural related Textile industries. nVipani operates from Bengaluru, India and is established in 2015. We, at nVipani, intent to be a leader in the B2B market place targeted to Agricultural, FMCG, Manufacturing and Textile industries in next 4 years. nVipani, a flagship product of nVipani, has made early inroads into the B2B market. nVipani is a niche product and an efficient supply chain management solution and that encompasses Business automation, Offer, Contact, Order, and Catalogue management, Inventory, Warehouse and Transportation management, support for Value Added services.</p>
                    <p>nVipani recognizes employees as equivalent to our valued Customers. nVipani focuses on building long term and sustained relations with our Customer and Employees. nVipani provides realistic opportunities to our Employees and strive best to have inclusive growth.</p>
                    <p>nVipani founders/promoters have a collective experience of 60+ years in building start-ups, technology products and innovation, idea to implementation with passion to have a footprint in B2B Marketplace.</p>
                </div><!--//about-->
         <!--       <div class="team row">
                    <h3 class="title">Meet the team</h3>
                    <p>Our entire team has several years of industry experience and all have exposure to the culture of start-ups.<br /><br /></p>
                    <div class="member col-md-6 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                               &lt;!&ndash; <img class="img-responsive" src="/modules/core/img/team/member-1.png" alt=""/>&ndash;&gt;
                                <figcaption class="info">
                                    <span class="name">Dilli Babu N</span>
                                    <br />
                                    <span class="job-title">Vision, Strategy, and Idea</span>

                                </figcaption>
                            </figure>&lt;!&ndash;//profile&ndash;&gt;
                           &lt;!&ndash; <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a href="/"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="/"><i class="fa fa-twitter"></i></a></li>
                                </ul>&lt;!&ndash;//social-list&ndash;&gt;
                            </div>&ndash;&gt;&lt;!&ndash;//social&ndash;&gt;
                        </div>&lt;!&ndash;//member-inner&ndash;&gt;
                    </div>&lt;!&ndash;//member&ndash;&gt;
                    <div class="member col-md-6 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                             &lt;!&ndash;   <img class="img-responsive" src="/modules/core/img/team/member-2.png" alt=""/>&ndash;&gt;
                                <figcaption class="info"><span class="name">Ramesh Babu PV</span><br /><span class="job-title">Ops, Strategy and Mobile Specialist</span></figcaption>
                            </figure>&lt;!&ndash;//profile&ndash;&gt;
                            <div class="social">
                                &lt;!&ndash;<ul class="social-list list-inline">
                                    <li><a href="/"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="/"><i class="fa fa-twitter"></i></a></li>
                                </ul>&ndash;&gt;&lt;!&ndash;//social-list&ndash;&gt;
                            </div>&lt;!&ndash;//social&ndash;&gt;
                        </div>&lt;!&ndash;//member-inner&ndash;&gt;
                    </div>&lt;!&ndash;//member&ndash;&gt;
                    <div class="member col-md-6 col-sm-6 col-xs-12">
                        <div class="member-inner">
                           <figure class="profile">
                               &lt;!&ndash;lt;!&ndash; <img class="img-responsive" src="/modules/core/img/team/member-3.png" alt=""/>&ndash;&gt;&ndash;&gt;
                                <figcaption class="info"><span class="name">Hema Siddareddy</span><br /><span class="job-title">Technical Lead</span></figcaption>
                            </figure>&lt;!&ndash;//profile&ndash;&gt;
                            &lt;!&ndash;   <div class="social">
                               &lt;!&ndash;  <ul class="social-list list-inline">
                                     <li><a href="/"><i class="fa fa-linkedin"></i></a></li>
                                     <li><a href="/"><i class="fa fa-twitter"></i></a></li>
                                 </ul>
                            </div>&ndash;&gt;&lt;!&ndash;//social&ndash;&gt;
                        </div>&lt;!&ndash;//member-inner&ndash;&gt;
                    </div>&lt;!&ndash;//member&ndash;&gt;
                    <div class="member col-md-6 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                &lt;!&ndash;<img class="img-responsive" src="/modules/core/img/team/member-4.png" alt=""/>&ndash;&gt;
                                <figcaption class="info"><span class="name">Vardumuni Vijayabhaskar</span><br /><span class="job-title">Business Development</span></figcaption>
                            </figure>&lt;!&ndash;//profile&ndash;&gt;
                           &lt;!&ndash; <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a href="/"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="/"><i class="fa fa-twitter"></i></a></li>
                                </ul>&lt;!&ndash;//social-list&ndash;&gt;
                            </div>&ndash;&gt;&lt;!&ndash;//social&ndash;&gt;
                        </div>&lt;!&ndash;//member-inner&ndash;&gt;
                    </div>&lt;!&ndash;//member&ndash;&gt;
                </div>--><!--//team-->

                <div>
                    <h3>Vision</h3>
                    <p>Envisage us a leader in the B2B market place targeted to Agricultural, FMCG, Manufacturing and
                        Textile industries in next 4 years</p>


                        <p>Promote sustained growth to Agricultural community by providing cost effective solution deploying
                        cutting edge technologies</p>


                       <p> Provide comprehensive Cloud based Supply Chain Management solution for the B2B market place</p>
                  </div>
                <div>
                    <h3>Mission</h3>
                    <p> Enable and Empower Small and Medium Enterprises to Boost their businesses with
                        our solutions and services. </p>


                    <p>Bring seamlessly Farmers, Traders, Retailers, Millers, Manufactures, Banks, and Micro Finance institutions onto a single platform</p>


                    <p>Our primary focus is Indian Market and we are planning to enable and empower bulk trade and

                        retail business by 10X times via Business Process Automation and Value Added Services by

                        Skilled Man Power from nVipani Team</p>
                </div>
                    <div>
                    <h3>Core values</h3>
                    <p>We believe in treating our customers with respect and faith. We grow through creativity, invention and innovation. We integrate honesty, integrity and business ethics into all aspects of our business functioning.</p>
                </div><!--//press-kit-->
            </div><!--//story-container-->
        </div><!--//container-->
    </section><!--//story-video-->
