<div layout="row" layout-align="center center" class="nvc-actionbar nv-position-relative layout-padding">
    <div flex="100" ng-init="summaryToggle = true">
        <h6 ng-show="!summaryToggle" ng-click="summaryToggle = !summaryToggle">Summary:</h6>
        <div  class="nvc-summarybar" ng-show="summaryToggle">
            <div class="nvc-summarybar-content" ng-class={'active':(key===selectedKey)} ng-repeat="(key,value) in nvactions">
                 <div ng-if="key!=='Count'" ng-click="setActive(key,value)" >
                     <h5 class="nvc-margin-top-0 nvc-primary-color"><!--<span class="nvc-icon nvc-icon-3x" ng-class="'nvc-'+page+'-'+key"></span> &nbsp;--><span class="nvc-primary-color nvc-icon-3x">{{value}}</span> </h5>
                     <h5>{{key}}</h5>
                 </div>
            </div>
        </div>
        <div class="nv-position-absolute">
            <span class="fa" ng-class="summaryToggle?'fa-chevron-up':'fa-chevron-down'" ng-click="summaryToggle = !summaryToggle"></span>
        </div>
    </div>
</div>
