<section class="section bb-cta-section text-center bb-green-border" ng-controller="BottomImageController"
		 ng-show="location.path() === '/' || location.path() === '/register'">
	<div class="container">
		<h2 class="bb-title">Interested to know more about us?</h2>

		<p><a class="btn bb-btn-color bb-btn-cta bb-btn-cta-primary" href="#!/contact">Write to us</a></p>
	</div><!--//container-->
</section>
