<div class="bb-headline-bg bb-contact-headline-bg">
</div>
<section class="bb-story-section section bb-section-on-bg">
    <h2 class="bb-title container text-center">Work for us</h2>

    <div class="bb-story-container container text-center">
        <div class="bb-story-container-inner">
            <div class="bb-about">
                    <a name="cto"></a>
                    <h2>CTO </h2>
                    <h4>Requirement Snapshot:</h4>
<ul>
    <li>Extensive software product development experience for about 15 -20 years, building <b>large scale e-commerce in
        B2B markets</b></li>
    <li>Should be well experienced in establishing viable technical strategy to meet the desired business objectives
    </li>
    <li>Hands-on engineering skills with multiple programming languages, strong foundational knowledge and understanding
        of <b>e-commerce systems, data architecture, processing and integrations</b></li>
    <li>Strong development experience in <b>MEAN (www.meanjs.org)</b> stack</li>
    <li>Experience in <b>data modelling, data quality, analytics</b></li>
    <li>Passion for use of <b>open source frameworks, tools and technologies</b><br/><br/></li>
</ul>
                    <h4>Generic skills:</h4>
<ul>
    <li>Leadership: not only at the management level, but at the individual level having the confidence and resilience
        to take risks and self-empowered.
    </li>
    <li>Oversees IT budgets to make sure there are no over-runs</li>
    <li>Excellent in establishing work estimates and planning</li>
    <li>Communication: understand and express ideas/solutions in a comprehensive and practical format knowledge
        sharing
    </li>
    <li>User Focus: an absolute focus on the user (internal or external) experience and every aspect of a solution
        should be productized for ease of use
    </li>
    <li>Improvisation: the ability to think across disciplines and existing boundaries (technologies / business)-
        lateral thinking
    </li>
    <li>Collaboration: teamwork with a positive approach to ambiguity</li>
    <li>Research: an inclination to continuous research inside and outside the current focus fields</li>
    <li>Influence by example: scientific proof of an idea (success or failure) as the presentation tool to represent an
        idea in order to promote it
    </li>
    <li>Technical Knowledge: broad and deep technical knowledge with a strong focus on data/objects and API/contracts
    </li>
    <li>Abstract Thinking: view of ideas and solutions as abstractions/patterns that can be leveraged/adapted/reused
        deliver frameworks instead of point solutions
    </li>
    <li>Passion: A need to be passionate about producing exceptional solutions in a collaborative environment (e.g.,
        Agile methodology preferred). Must always be curious and excited to try new technologies<br/><br/></li>
</ul>
<h4>What we Offer</h4>
<p>We offer a competitive salary + equity. You will also be involved in creating a cloud-based application that is accessible from the web and on mobile devices and will shortly be used by various business entities.<br /></p>

                <div class="bb-share-buttons">
  Share&nbsp;&nbsp;&nbsp;
<!--&lt;!&ndash; Email &ndash;&gt;-->
                    <a href="mailto:?Subject=UI/UX Developer&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 http://www.businessbooster.nVipani/#!/careers#cto">
        <img src="/modules/core/img/icons/email.png" alt="Email" />
    </a>

    <!--&lt;!&ndash; Facebook &ndash;&gt;-->
                    <a href="http://www.facebook.com/sharer.php?u=http://www.businessbooster.nVipani/#!/careers#cto"
                       target="_blank">
        <img src="/modules/core/img/icons/facebook.png" alt="Facebook" />
    </a>

    <!--&lt;!&ndash; Google+ &ndash;&gt;-->
                    <a href="https://plus.google.com/share?url=http://www.businessbooster.nVipani/#!/careers#cto"
                       target="_blank">
        <img src="/modules/core/img/icons/google.png" alt="Google" />
    </a>

    <!--&lt;!&ndash; LinkedIn &ndash;&gt;-->
                    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.businessbooster.nVipani/#!/careers#cto"
                       target="_blank">
        <img src="/modules/core/img/icons/linkedin.png" alt="LinkedIn" />
    </a>

    <!--&lt;!&ndash; Twitter &ndash;&gt;-->
                    <a href="https://twitter.com/share?url=http://www.businessbooster.nVipani/#!/careers#cto&amp;text=Job%20Openings&amp;hashtags=#CTO"
                       target="_blank">
        <img src="/modules/core/img/icons/twitter.png" alt="Twitter" />
    </a>

</div>
<p><br /><br /></p>
                <!-- Position 2 -->
                <a name="angular"></a>
                <h2>Angular JS Developer</h2>
                <h4>Preferred Skills</h4>
                <ul>
                    <li>3+ years of experience in building successful Angular JS applications.</li>
                    <li>Excellent programming knowledge and experience in AngularJS.</li>
                    <li>Strong work experience in HTML5, CSS3, JavaScript, AJAX and JSON.</li>
                    <li>Solid understanding of the latest MVC frameworks and UI toolkits.</li>
                    <li>Experience with GruntJS and GIT.</li>
                    <li>Writing extensive unit tests using frameworks and test runners like Jasmine, Mocha, Karma,
                        etc.
                    </li>
                    <li>Experience in handling Cross-browser compatibility issues and ways to work around them.</li>
                    <li>Ability to create clean, light, scalable code with clear documentation.</li>
                    <li>Ability to write appropriate unit tests, integration tests and deployment scripts.</li>
                    <li>Ability to estimate, plan, and execute complex technical projects.</li>
                    <li>Experience influencing product direction in creative ways.</li>
                    <li>Experience in Angular Material Designs.</li>
                    <li>Experience in bootstrap styles.<br/><br/></li>
                </ul>
                <h4>Other Skills</h4>
                <ul>
                    <li>Can work independently under very tight deadlines.</li>
                    <li>Self-driven, with a good approach to working efficiently and effectively.</li>
                    <li>Organized, detail-oriented and collaborative.</li>
                    <li>Passionate about creating clean, functional and well-designed products.</li>
                    <li>Well versed in software engineering principles, frameworks and technologies.</li>
                    <li>Excellent communication skills.<br/><br/></li>
                </ul>
                <h4>Preferred Qualifications</h4>
                <ul>
                    <li>BE/ME in Computer Science</li>
                    <li>Good team player with strong problem solving skills<br/><br/></li>
                </ul>
                <h4>What we Offer</h4>
                <p>We offer a competitive salary + equity. You will also be involved in creating a cloud-based
                    application that is accessible from the web and on mobile devices and will shortly be used by
                    various business entities.<br/></p>

                <div class="bb-share-buttons">
                    Share&nbsp;&nbsp;&nbsp;
                    <!--&lt;!&ndash; Email &ndash;&gt;-->
                    <a href="mailto:?Subject=Mean Stack Developer&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 http://www.businessbooster.nVipani/#!/careers#angular">
                        <img src="/modules/core/img/icons/email.png" alt="Email"/>
                    </a>

                    <!--   &lt;!&ndash; Facebook &ndash;&gt;-->
                    <a href="http://www.facebook.com/sharer.php?u=http://www.businessbooster.nVipani/#!/careers#angular"
                       target="_blank">
                        <img src="/modules/core/img/icons/facebook.png" alt="Facebook"/>
                    </a>

                    <!--&lt;!&ndash; Google+ &ndash;&gt;-->
                    <a href="https://plus.google.com/share?url=http://www.businessbooster.nVipani/#!/careers#angular"
                       target="_blank">
                        <img src="/modules/core/img/icons/google.png" alt="Google"/>
                    </a>

                    <!--    &lt;!&ndash; LinkedIn &ndash;&gt;-->
                    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.businessbooster.nVipani/#!/careers#angular"
                       target="_blank">
                        <img src="/modules/core/img/icons/linkedin.png" alt="LinkedIn"/>
                    </a>

                    <!--&lt;!&ndash; Twitter &ndash;&gt;-->
                    <a href="https://twitter.com/share?url=http://www.businessbooster.nVipani/#!/careers&amp;text=Job%20Openings&amp;hashtags=#AngularJSDeveloper"
                       target="_blank">
                        <img src="/modules/core/img/icons/twitter.png" alt="Twitter"/>
                    </a>
                </div>
                <p><br/><br/></p>
                <!-- Position 3 -->
                <a name="stack"></a>
                <h2>Mean Stack Developer</h2>
                <h4>Preferred Skills</h4>
                <ul>
                    <li>3+ years experience building successful nodeJS applications.</li>
                    <li>Excellent programming knowledge and experience with MEAN (MongoDB, ExpressJS, AngularJS and
                        NodeJS) stack.
                    </li>
                    <li>Strong understanding of HTML5, CSS3, Javascript, AJAX and JSON.</li>
                    <li>Solid understanding of the latest MVC frameworks and UI toolkits.</li>
                    <li>Experience with GruntJS and GIT.</li>
                    <li>Ability to create clean, light, scalable production code with clear documentation.</li>
                    <li>Ability to write appropriate unit tests, integration tests and deployment scripts.</li>
                    <li>Ability to estimate, plan, and execute complex technical projects.</li>
                    <li>Good understanding of MongoDB.</li>
                    <li>Experience with Node.js and design/development of RESTful APIs.</li>
                    <li>Experience influencing product direction in creative ways.<br/><br/></li>
                </ul>
                <h4>Other Skills</h4>
                <ul>
                    <li>Can work independently under very tight deadlines.</li>
                    <li>Self-driven, with a good approach to working efficiently and effectively.</li>
                    <li>Organized, detail-oriented and collaborative.</li>
                    <li>Passionate about creating clean, functional and well-designed products.</li>
                    <li>Well versed in software engineering principles, frameworks and technologies.</li>
                    <li>Excellent communication skills.<br/><br/></li>
                </ul>
                <h4>Preferred Qualifications</h4>
                <ul>
                    <li>BE/ME in Computer Science</li>
                    <li>Good team player with strong problem solving skills<br/><br/></li>
                </ul>
                <h4>What we Offer</h4>
                <p>We offer a competitive salary + equity. You will also be involved in creating a cloud-based
                    application that is accessible from the web and on mobile devices and will shortly be used by
                    various business entities.<br/></p>

                <div class="bb-share-buttons">
                    Share&nbsp;&nbsp;&nbsp;
<!--&lt;!&ndash; Email &ndash;&gt;-->
                    <a href="mailto:?Subject=Mean Stack Developer&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 http://www.businessbooster.nVipani/#!/careers#stack">
                        <img src="/modules/core/img/icons/email.png" alt="Email" />
                    </a>

                    <!--   &lt;!&ndash; Facebook &ndash;&gt;-->
                    <a href="http://www.facebook.com/sharer.php?u=http://www.businessbooster.nVipani/#!/careers#stack"
                       target="_blank">
                        <img src="/modules/core/img/icons/facebook.png" alt="Facebook" />
                    </a>

                    <!--&lt;!&ndash; Google+ &ndash;&gt;-->
                    <a href="https://plus.google.com/share?url=http://www.businessbooster.nVipani/#!/careers#stack"
                       target="_blank">
                        <img src="/modules/core/img/icons/google.png" alt="Google" />
                    </a>

                    <!--    &lt;!&ndash; LinkedIn &ndash;&gt;-->
                    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.businessbooster.nVipani/#!/careers#stack"
                       target="_blank">
                        <img src="/modules/core/img/icons/linkedin.png" alt="LinkedIn" />
                    </a>

                    <!--&lt;!&ndash; Twitter &ndash;&gt;-->
                    <a href="https://twitter.com/share?url=http://www.businessbooster.nVipani/#!/careers&amp;text=Job%20Openings&amp;hashtags=#MeanStackDeveloper"
                       target="_blank">
                        <img src="/modules/core/img/icons/twitter.png" alt="Twitter" />
                    </a>
</div>
<p><br /><br /></p>
                <!-- Position 4 -->
                    <a name="ux"></a>
                    <h2>UI/UX Developer</h2>
                    <p>You will be involved in every step of the product design process. This includes high-level
                        conceptualization, collaborative brainstorming, creating wireframes, visual design, and
                        front-end implementation.</p>
                    <p>You must have a flair for solving complex interaction problems and have top-notch visual and
                        interaction skills.</p>
                    <p>Our cloud-based product needs to be simple and intuitive. The design challenge here is that users
                        need to be able to work with the product without much training.<br/><br/></p>
                    <h4>Requirements</h4>
                    <ul>
                        <li>Experience in conceptualizing and designing simple business applications.</li>
                        <li>Excellent communication and interpersonal skills.</li>
                        <li>Ability to communicate ideas through sketches and wireframes.</li>
                        <li>Skill to implement the design in HTML+CSS.</li>
                        <li>A diverse design portfolio that showcases a deep understanding of both human-centered
                            interaction design and a strong design aesthetic.
                        </li>
                        <li>Genuine interest in user interface design and user experience and the ability to design
                            products that delight.<br/><br/></li>
                    </ul>
                    <h4>You will be responsible for</h4>
                    <ul>
                        <li>Creating design flows and experiences that are both simple and elegant.</li>
                        <li>Conceptualizing, designing, and prototyping new features for the core product.</li>
                        <li>Conducting frequent, iterative usability testing in parallel with development.</li>
                        <li>Collaborating with other teams to understand requirements and develop creative
                            solutions.<br/><br/></li>
                    </ul>
                    <h4>Good to have</h4>
                    <ul>
                        <li>Knowledge of Javascript and AngularJS.</li>
                        <li>Experience of designing for responsive and/or mobile experiences.<br/><br/></li>
                    </ul>
                    <h4>What we Offer</h4>
                    <p>We offer a competitive salary + equity. You will also be involved in creating a cloud-based
                        application that is accessible from the web and on mobile devices and will shortly be used by
                        various business entities.<br/></p>

                <div class="bb-share-buttons">
                        Share&nbsp;&nbsp;&nbsp;
                        <!--&lt;!&ndash; Email &ndash;&gt;-->
                    <a href="mailto:?Subject=UI/UX Developer&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 http://www.businessbooster.nVipani/#!/careers#ux">
                            <img src="/modules/core/img/icons/email.png" alt="Email"/>
                        </a>

                        <!--&lt;!&ndash; Facebook &ndash;&gt;-->
                    <a href="http://www.facebook.com/sharer.php?u=http://www.businessbooster.nVipani/#!/careers#ux"
                       target="_blank">
                            <img src="/modules/core/img/icons/facebook.png" alt="Facebook"/>
                        </a>

                        <!--&lt;!&ndash; Google+ &ndash;&gt;-->
                    <a href="https://plus.google.com/share?url=http://www.businessbooster.nVipani/#!/careers#ux"
                       target="_blank">
                            <img src="/modules/core/img/icons/google.png" alt="Google"/>
                        </a>

                        <!--&lt;!&ndash; LinkedIn &ndash;&gt;-->
                    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.businessbooster.nVipani/#!/careers#ux"
                       target="_blank">
                            <img src="/modules/core/img/icons/linkedin.png" alt="LinkedIn"/>
                        </a>

                        <!--&lt;!&ndash; Twitter &ndash;&gt;-->
                    <a href="https://twitter.com/share?url=http://www.businessbooster.nVipani/#!/careers#ux&amp;text=Job%20Openings&amp;hashtags=#UI-UXDeveloper"
                       target="_blank">
                            <img src="/modules/core/img/icons/twitter.png" alt="Twitter"/>
                        </a>

                    </div>
                    <p><br/><br/></p>
                <!-- Position 5 -->
<a name="android"></a>
<h2>Android Developer</h2>
<p>nVipani is seeking a Android Developer with demonstrated experience in designing and implementing mobile solutions. The ideal candidate should have the skills to create native applications for android mobile devices.</p>
<h4>Roles and Responsibilities</h4>
<ul>
<li>Design and develop native mobile applications for Android.</li>
<li>Integrate mobile apps with RESTful web services.</li>
<li>Work as part of an agile team on leading edge technologies.<br /><br /></li>
</ul>
<h4>Preferred Skills</h4>
<ul>
<li>2+ years experience developing android applications.</li>
<li>Excellent working knowledge of an objective oriented concepts.</li>
<li>Experience of developing a mobile client for a server service using RESTFUL.</li>
<li>API’s will be a plus.<br /><br /></li>
</ul>
<h4>Preferred Qualifications</h4>
<ul>
<li>BE / ME/ MCA in Computer Science</li>
<li>Good team player with strong problem solving skills<br /><br /></li>
</ul>
<h4>What we Offer</h4>
<p>We offer a competitive salary + equity. You will also be involved in creating a cloud-based application that is accessible from the web and on mobile devices and will shortly be used by various business entities.</p>

                <div class="bb-share-buttons">
  Share&nbsp;&nbsp;&nbsp;
<!-- Email -->
                    <a href="mailto:?Subject=Android Developer&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 http://www.businessbooster.nVipani/#!/careers#android">
        <img src="/modules/core/img/icons/email.png" alt="Email" />
    </a>

    <!-- Facebook -->
                    <a href="http://www.facebook.com/sharer.php?u=http://www.businessbooster.nVipani/#!/careers#android"
                       target="_blank">
        <img src="/modules/core/img/icons/facebook.png" alt="Facebook" />
    </a>

    <!-- Google+ -->
                    <a href="https://plus.google.com/share?url=http://www.businessbooster.nVipani/#!/careers#android"
                       target="_blank">
        <img src="/modules/core/img/icons/google.png" alt="Google" />
    </a>

    <!-- LinkedIn -->
                    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.businessbooster.nVipani/#!/careers#android"
                       target="_blank">
        <img src="/modules/core/img/icons/linkedin.png" alt="LinkedIn" />
    </a>

    <!-- Twitter -->
                    <a href="https://twitter.com/share?url=http://www.businessbooster.nVipani/#!/careers#android&amp;text=Job%20Openings&amp;hashtags=#AndroidDeveloper"
                       target="_blank">
        <img src="/modules/core/img/icons/twitter.png" alt="Twitter" />
    </a>

</div>

                    <p><br/><br/></p>
                <!-- Position 6 -->
                    <a name="sme"></a>
                    <h2>Domain Expert in Supply Chain Management</h2>
                    <h4><strong>Number of Positions: 1</strong></h4>
                    <h4><strong>Location: Bengaluru</strong></h4>
                    <h4><strong>Employment Type: Permanent and Full Time</strong></h4>
                    <br/>
                    <h4>Required Skills</h4>
                    <ul>
                        <li>Minimum of 10+ years of experience as Subject Matter Expert in Supply Chain Management
                            domain
                        </li>
                        <li>Extensively worked on the supply chain problems of Agricultural, and Agricultural related
                            FMCG Manufacturing and Textile industries
                        </li>
                        <li>Experience as solution architect of Supply Chain Areas and responsible for product
                            building
                        </li>
                        <li>Establish, implement & own business processes in Supply Chain management</li>
                        <li>Establish Service Agreements with the all markets and ensure relationship and communications
                            is managed in line with service agreements
                        </li>
                        <li>Work with cross functional teams & leaders (Quality, Marketing & Finance) for developing
                            Product
                        </li>
                        <li>Establish strategy in building the product road map</li>
                        <li>Participate in Product and Market surveys</li>
                        <li>Willing to travel whenever required<br/><br/></li>
                    </ul>
                    <h4>Generic skills</h4>
                    <ul>
                        <li>Leadership: Not only at the management level, but at the individual level having the
                            confidence and resilience to take risks and self-empowered
                        </li>
                        <li>Align product build up with IT budgets and make sure there are no over-runs</li>
                        <li>Communication: Good articulation skills while interacting with various stakeholders</li>
                        <li>User Focus: An absolute focus on the user (internal or external) experience and every aspect
                            of a solution should be productized for ease of use
                        </li>
                        <li>Collaboration: Teamwork with a positive approach to ambiguity</li>
                        <li>API’s will be a plus.<br/><br/></li>
                    </ul>
                    <h4>Preferred Qualifications</h4>
                    <ul>
                        <li>BE/ME with MBA degree preferable</li>
                    </ul>
                    <h4>What we Offer</h4>
                    <p>We offer a competitive salary + equity. You will also be involved in creating a cloud-based
                        application that is accessible from the web and on mobile devices and will shortly be used by
                        various business entities.</p>

                <div class="bb-share-buttons">
                        Share&nbsp;&nbsp;&nbsp;
                        <!-- Email -->
                    <a href="mailto:?Subject=Android Developer&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 http://www.businessbooster.nVipani/#!/careers#sme">
                            <img src="/modules/core/img/icons/email.png" alt="Email"/>
                        </a>

                        <!-- Facebook -->
                    <a href="http://www.facebook.com/sharer.php?u=http://www.businessbooster.nVipani/#!/careers#sme"
                       target="_blank">
                            <img src="/modules/core/img/icons/facebook.png" alt="Facebook"/>
                        </a>

                        <!-- Google+ -->
                    <a href="https://plus.google.com/share?url=http://www.businessbooster.nVipani/#!/careers#sme"
                       target="_blank">
                            <img src="/modules/core/img/icons/google.png" alt="Google"/>
                        </a>

                        <!-- LinkedIn -->
                    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.businessbooster.nVipani/#!/careers#sme"
                       target="_blank">
                            <img src="/modules/core/img/icons/linkedin.png" alt="LinkedIn"/>
                        </a>

                        <!-- Twitter -->
                    <a href="https://twitter.com/share?url=http://www.businessbooster.nVipani/#!/careers#sme&amp;text=Job%20Openings&amp;hashtags=#DomainExpert-SupplyChainManagement"
                       target="_blank">
                            <img src="/modules/core/img/icons/twitter.png" alt="Twitter"/>
                        </a>

                    </div>

                    <p><br/><br/></p>
                <!-- Position 7 -->
                    <a name="mands"></a>
                    <h2>Marketing and Sales Manager</h2>
                    <h4><strong>Number of Positions: 1</strong></h4>
                    <h4><strong>Location: Bengaluru</strong></h4>
                    <h4><strong>Employment Type: Permanent and Full Time</strong></h4>
                    <br/>
                    <h4>Required Skills</h4>
                    <ul>
                        <li>Minimum of 8+ experience in Marketing and Sales in IT industry</li>
                        <li>Achieves marketing and sales operational objectives by contributing marketing and sales
                            information and recommendations to strategic plans and reviews
                        </li>
                        <li>Prepare and complete action plans; implement production, productivity, quality, and
                            customer-service standards; resolve problems; complete audits; identify trends; determine
                            system improvements; implement change
                        </li>
                        <li>Establish, implement & own business processes in Supply Chain management</li>
                        <li>Meet marketing and sales financial objectives by forecasting requirements; preparing an
                            annual budget; scheduling expenditures; analysing variances; initiating corrective actions
                        </li>
                        <li>Determines annual and gross-profit plans by forecasting and developing annual sales quotas
                            for regions; projecting expected sales volume and profit for existing and new products
                        </li>
                        <li>Analyse trends and results; establishing pricing strategies; recommending selling prices;
                            monitoring costs, competition, supply, and demand
                        </li>
                        <li>Accomplish marketing and sales objectives by planning, developing, implementing, and
                            evaluating advertising, merchandising, and trade promotion programs; developing field sales
                            action plans
                        </li>
                        <li>Identifies marketing opportunities by identifying consumer requirements; defining market,
                            competitor's share, and competitor's strengths and weaknesses; forecasting projected
                            business; establishing targeted market share
                        </li>
                        <li>Improve product marketability and profitability by researching, identifying, and
                            capitalizing on market opportunities; improving product packaging; coordinating new product
                            development
                        </li>
                        <li>Sustains rapport with key accounts by making periodic visits; exploring specific needs;
                            anticipating new opportunities
                        </li>
                        <li>Provides information by collecting, analysing, and summarizing data and trends</li>
                        <li>Accomplishes marketing and organization mission by completing related results as needed</li>
                        <li>Experience in Agricultural, and Agricultural related FMCG Manufacturing and Textile
                            industries is desirable
                        </li>
                        <li>Willing to travel all over India<br/><br/></li>
                    </ul>

                    <h4>Preferred Qualifications</h4>
                    <ul>
                        <li>BE/ME and MBA in Marketing is preferable</li>
                    </ul>
                    <h4>What we Offer</h4>
                    <p>We offer a competitive salary + equity. You will also be involved in creating a cloud-based
                        application that is accessible from the web and on mobile devices and will shortly be used by
                        various business entities.</p>

                <div class="bb-share-buttons">
                        Share&nbsp;&nbsp;&nbsp;
                        <!-- Email -->
                    <a href="mailto:?Subject=Android Developer&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 http://www.businessbooster.nVipani/#!/careers#mands">
                            <img src="/modules/core/img/icons/email.png" alt="Email"/>
                        </a>

                        <!-- Facebook -->
                    <a href="http://www.facebook.com/sharer.php?u=http://www.businessbooster.nVipani/#!/careers#mands"
                       target="_blank">
                            <img src="/modules/core/img/icons/facebook.png" alt="Facebook"/>
                        </a>

                        <!-- Google+ -->
                    <a href="https://plus.google.com/share?url=http://www.businessbooster.nVipani/#!/careers#mands"
                       target="_blank">
                            <img src="/modules/core/img/icons/google.png" alt="Google"/>
                        </a>

                        <!-- LinkedIn -->
                    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.businessbooster.nVipani/#!/careers#mands"
                       target="_blank">
                            <img src="/modules/core/img/icons/linkedin.png" alt="LinkedIn"/>
                        </a>

                        <!-- Twitter -->
                    <a href="https://twitter.com/share?url=http://www.businessbooster.nVipani/#!/careers#mands&amp;text=Job%20Openings&amp;hashtags=#MarketingAndSales"
                       target="_blank">
                            <img src="/modules/core/img/icons/twitter.png" alt="Twitter"/>
                        </a>

                    </div>
                </div><!--//about-->


            </div><!--//story-container-->
        </div><!--//container-->
    </section><!--//story-video-->
