<div class="bb-headline-bg bb-contact-headline-bg">
</div>
<!--<script src="http://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js">

</script>-->
<section class="bb-contact-section section bb-section-on-bg">
                <div class="container contact" ng-controller="ContactPublicController">
                    <h2 class="bb-title text-center">Contact Us</h2>
                <p class="text-center">We’d love to hear from you.</p>

                    <form id="contact-form" name="contactform" class="bb-contact-form"
                          data-ng-submit="create();reset(contactform)">
                    <div class="row text-center">
                        <div class="bb-contact-form-inner col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 xs-offset-0">
                            <div class="row">

                                <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                    <label class="sr-only" for="name">Your name</label>
                                    <input type="text" class="form-control" id="name" data-ng-model="name" name="name" placeholder="Your name" minlength="2" required>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                    <label class="sr-only" for="email">Email address</label>
                                    <input type="email" class="form-control" id="email" name="email" data-ng-model="email" placeholder="Your email address" required>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <label class="sr-only" for="message">Your message</label>
                                    <textarea class="form-control" id="message" name="message" data-ng-model="description" placeholder="Enter your message" rows="12" required></textarea>
                                </div>
                                 <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                     <button type="submit" class="btn btn-block bb-btn-cta bb-btn-cta-primary">Send
                                         Message
                                     </button>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group text-success" ng-show="emailsent">
                                <strong data-ng-bind="emailsent"></strong>
                                    </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group text-danger" ng-show="error">
                                    <strong data-ng-bind="error"></strong>
                                </div>
                            </div><!--//row-->
                        </div>
                    </div><!--//row-->
                    <div id="form-messages">

                    </div>
                </form><!--//contact-form-->
            </div><!--//container-->
       <!--//contact-section-->

        <!-- ******Other Contact Section****** -->
    <section class="bb-contact-other-section section">
            <div class="container text-center">
                <h2 class="bb-title">Other ways to reach us</h2>

                <p class="bb-intro">You can also get in touch via </p>
                <div class="row">
                    <ul class="bb-other-info list-unstyled col-md-6 col-sm-10 col-xs-12 col-md-offset-3 col-sm-offset-1 xs-offset-0">
                        <li><i class="fa fa-envelope-o"></i><a href="mailto:info@nvipani.com">info@nvipani.com</a></li>
                        <li><i class="fa fa-twitter"></i><a href="http://www.nvipani.com" target="_blank">nVipani
                            Software Solutions Private Limited</a></li>
                        <li><i class="fa fa-phone"></i><a href="tel:+918041252425">+91-80-41252425</a></li>
                        <li><i class="fa fa-map-marker"></i> nVipani Technology Solutions Private Limited<br/>
                            # 526, Ground Floor, BBMP No. 74-8-526<br/>
                            7th Cross, Jeevan Bheema Nagar<br/>
                            HAL III stage, Bangalore - 560075<br/></li>
                    </ul>
                </div><!--//row-->
            </div><!--//container-->
        </section><!--//contact-other-section-->
</section>
        <!-- ******Map Section****** -->
  <!--      <section class="map-section section">
            <div class="container text-center">
                <h2 class="title">How to find us</h2>
                <p class="intro">We're located on 100ft Road, Indiranagar above Viveks</p>
                <div class="gmap-wrapper">
                    <div class="gmap" id="map"></div>&lt;!&ndash;//map&ndash;&gt;
                </div>&lt;!&ndash;//gmap-wrapper&ndash;&gt;
            </div>&lt;!&ndash;//container&ndash;&gt;
        </section>&lt;!&ndash;//map-section&ndash;&gt;-->
<!--<section class="map-section section" ng-controller="ContactGoogleMapController">
&lt;!&ndash;    <div class="container text-center" >
        <h2 class="title">How to find us</h2>
        <p class="intro">We're located on 100ft Road, Indiranagar above Viveks</p>
<div id="mapWrap" ng-controller="ContactGoogleMapController" data-ng-controller="uiGmapGoogleMap">
    <img ng-src="https://maps.googleapis.com/maps/api/staticmap?size=440x420&scale=2&style=feature:all|element:labels|visibility:off&markers=color:green|size:small|{{building.mapcoord}}" usemap="#Map">

</div>&ndash;&gt;
    <div class="container text-center">
        <h2 class="title">How to find us</h2>
        <p class="intro">We're located on 100ft Road, Indiranagar above Viveks</p>
   &lt;!&ndash; <google-map center="map.center" zoom="map.zoom" draggable="true">&lt;!&ndash;
        <ui-gmap-search-box template="searchbox.template" events="searchbox.events" position="BOTTOM_RIGHT"></ui-gmap-search-box>
        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">&ndash;&gt;
    </google-map>&ndash;&gt;

        <div id="map"></div>
        <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
            <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
        </div>
        </div>
</section>-->
    <!-- ******CTA Section****** -->
<!--//cta-section-->

    </div><!--//wrapper-->

    <!-- ******FOOTER****** -->

<!--<style>-->
<!--#map {-->
<!--height:420px;-->
<!--}-->
<!--.infoWindowContent {-->
<!--font-size:  14px !important;-->
<!--border-top: 1px solid #ccc;-->
<!--padding-top: 10px;-->
<!--}-->
<!--h2 {-->
<!--margin-bottom:0;-->
<!--margin-top: 0;-->
<!--}-->
<!--</style>-->
