<div class="bg-slider-wrapper" data-ng-controller="HomeController"
	 data-ng-show="(!authentication.user) && location.path() === '/'">
	<div class="flexslider bg-slider" flex-slider>
		<ul class="slides">
			<li class="slide slide-1"><h1 class="slidertext title container text-center">We are empowering retailers
				to get the best deals.</h1></li>
			<li class="slide slide-2"><h1 class="slidertext title container text-center">Our technology will help in
				assisting order management...</h1></li>
			<li class="slide slide-3"><h1 class="slidertext title container text-center">workflow management...</h1></li>
			<li class="slide slide-4"><h1 class="slidertext title container text-center">notifications to help track
				progress of orders...</h1></li>
			<li class="slide slide-5"><h1 class="slidertext title container text-center">and analytics to help
				make better decisions.</h1></li>
		</ul>
	</div>
</div><!--//bg-slider-wrapper-->
<section class="promo section section-on-bg" ng-controller="HomeController"
		 data-ng-show="(!authentication.user) && location.path() === '/'">
	<div class="container text-center"></div>
</section>
