<div id="fh5co-contact-us" data-section="contact">
    <footer id="footer" role="contentinfo">
        <div class="container" id="contact">
            <div class="col-md-12 section-heading text-center">
                <h2 class="single-animate animate-press-1">Contact Us</h2>
                <div class="row row-bottom-padded-sm">
                    <div class="col-md-12">
                        <p class="copyright text-center">nVipani Technology Solutions Pvt. Ltd., <br>#526, Ground Floor, 7th Cross, <br>HAL 3rd Stage, Jeevan Bhima Nagar, <br>Bangalore - 560 075, Karnataka, INDIA<br> <br>Call us at: <b>+91-80-41252425</b><br>Write to us: <b>info@nvipani.com</b></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="social social-circle">
                            <li><a target="_blank" href="https://twitter.com/Info_nVipani"><i class="icon-twitter"></i></a></li>
                            <li><a target="_blank" href="https://www.facebook.com/nvipanisoftware"><i class="icon-facebook"></i></a></li>
                            <li><a target="_blank" href="https://www.linkedin.com/company-beta/10130552/"><i class="icon-linkedin"></i></a></li>
                            <!--
                            <li><a href="#"><i class="icon-youtube"></i></a></li>
                            <li><a href="#"><i class="icon-pinterest"></i></a></li>
                            <li><a href="#"><i class="icon-instagram"></i></a></li>
                            <li><a href="#"><i class="icon-dribbble"></i></a></li>
                            -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row row-bottom-padded-sm">
                <div class="col-md-12">
                    <br><br>
                    <p class="copyright text-center">&copy; 2017 nVipani Technology Solutions Pvt. Ltd., All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</div>


