<div flex="100" class="nvc-footer">
    <div layout="row" layout-align="space-between center">
    <div class="nvc-footer-img" flex="20" flex-xs="10">
        <img src="modules/core/img/nvc-img/nvipani-logo.png">
    </div>
    <div class="nvc-footer-container" flex="80" hide-xs>
        <div layout="row">
        <div flex="30">
            <h1>Quick Links</h1>
            <ul>
                <li><a href="#!/">Home</a></li>
                <li><a href="/#!/signin">Login</a></li>
                <li><a href="/#!/register">Sign Up</a></li>
            </ul>
        </div>
        <div flex="30">
            <h1>Social</h1>
            <ul>
                <li>Facebook</li>
                <li>Facebook</li>
                <li>Facebook</li>
            </ul>
        </div>
        <div flex="30">
            <h1>Reach Us</h1>
            <ul>
                <li>#</li>
                <li>#......</li>
                <li>#......</li>
            </ul>
        </div>
    </div>
        <p>All rights reserved © nVipani.com</p>
    </div>
        <div class="nvc-footer-container" flex-xs="80" hide-lg hide-gt-lg hide-sm hide-md>
            <div layout="row">
            <div flex-xs="50">
            <p><a href="#">Home</a> . <a href="#">Home</a> . <a href="#">Home</a></p>
            </div>
            <div flex-xs="50">
                <p><span class="fa fa-facebook-square"></span>  <span class="fa fa-twitter"></span>  <span class="fa fa-linkedin"></span></p>
            </div>
            </div>
        </div>
    </div>
</div>
