<div data-ng-controller="HeaderController" class="nvc-headbar" data-ng-init="dashboardData()">
<div layout="row" hide-xs layout-align="center center" layout-padding class="nvc-padding-0">
    <div ng-show="(businessUnits.length>1) && (isbusinessunitslist)" flex="20" hide-sm class="nvc-header-businessunit">
        <!--<label class="bb-truncate ng-binding nvc-margin-top-10">{{businessUnitName}}</label>-->
        <md-input-container class="nvc-margin-0 md-block">
            <md-select class="md-icon-button nvc-shape-pill nv-text-bold" ng-model="authentication.companyBusinessUnits.defaultBusinessUnitId" name="selectedBusinessUnit" aria-label="businessUnitSelect" placeholder="Business Unit"
                       ng-change="changeBusinessUnit({busUnitId:authentication.companyBusinessUnits.defaultBusinessUnitId})">
                <md-option  ng-repeat="item in businessUnits track by $index"  ng-value="item.businessUnit._id">
                    <span>{{item.businessUnit.name}}</span>
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div flex class="layout-row layout-align-start-center">
        <ol class="nvc-breadcrumb">
            <li ng-repeat="item in nvipanipath track by $index"><a href="{{item.link}}">{{item.title}}</a></li>
        </ol>
    </div>
    <md-divider></md-divider>
    <div class="nv-text-center">
        <md-button class="md-icon-button nv-notification-icon" aria-label="toggle-notification" ng-click="toggleSideNavigation(true,'notification','toggle')">
        <md-icon class="fa fa-bell-o  nvc-white-color" >
            <h1 ng-show="notifications.length>0 || todos.length>0 ">{{(notifications.length + todos.length)>100?'99+':(notifications.length + todos.length)}}</h1>
        </md-icon>
        </md-button>
    </div>
    <md-divider></md-divider>
    <div class="nv-text-center">
        <md-button class="md-icon-button  nv-notification-icon" aria-label="toggle-settings" ng-click="changeUrl('settings/editmybusiness')">
        <md-icon class="fa fa-gear nvc-white-color" >
        </md-icon>
        </md-button>
    </div>
    <md-divider></md-divider>
    <div flex="20"class="nv-nav-item nv-text-center">
        <md-menu id="profilemenu" class="nvc-padding-0 bb-wid-100" md-position-mode="target-right target" md-offset="0 42">
            <div  aria-label="menu" ng-click="$mdOpenMenu($event)">
                <div layout="row" layout-align="space-around center"hide-sm>
                <div class="flex-15">
                    <img alt="{{authentication.user.displayName ?authentication.user.displayName  :authentication.user.username }}" ng-src="{{authentication.user.profileImageURL}}" class="md-avatar nvc-shape-pill" square-image/>
                </div>
                <span class="bb-truncate">{{authentication.user.displayName ?authentication.user.displayName  :authentication.user.username }}</span>
                <span class="caret" ></span>
                </div>
                <div hide-gt-sm>
                    <md-icon class="fa fa-gear nv-notification-icon nv-text-center">
                    </md-icon>
                </div>
            </div>
            <md-menu-content>
                <md-menu-item>
                    <md-button id="businessprofile" ng-click="changeUrl('/settings/myprofile')">
                        <md-icon class="fa fa-briefcase bb-f20"></md-icon>
                        My Profile
                    </md-button>
                </md-menu-item>
                <md-divider></md-divider>
                <md-menu-item>
                    <md-button id="companyprofile" ng-click="changeUrl('/settings/mycompanyprofile')">
                        <md-icon class="fa fa-briefcase bb-f20"></md-icon>
                        My Company
                    </md-button>
                </md-menu-item>
                <md-divider></md-divider>
                <md-menu-item>
                    <md-button id="changepassword" ng-click="changeUrl('settings/password')">
                        <md-icon class="fa fa-pencil bb-f20"></md-icon>
                        Change Password
                    </md-button>
                </md-menu-item>
                <md-divider></md-divider>
                <md-menu-item>
                    <md-button id="logout" ng-click="signout();">
                        <md-icon class="fa fa-fw fa-sign-out bb-f20"></md-icon>
                        Sign-out
                    </md-button>
                </md-menu-item>
                <md-divider></md-divider>
                <md-menu-item hide-gt-xs>
                    <md-button ng-click="changeUrl('settings/editmybusiness')">
                        <md-icon class="fa fa-gears bb-f20"></md-icon>
                        Settings
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</div>
    <div layout-xs="row" hide-gt-xs layout-align="center stretch">
        <div class="layout-row layout-align-center-center">
        <md-button hide-gt-sm ng-click="toggleLeft('header-sidenav')" class="md-icon-button nvc-color-white" aria-label="toggle-header">
            <md-icon class="fa fa-bars fa-lg nvc-white-color"></md-icon>
        </md-button>
        </div>
        <div class="nvc-header-businessunit layout-row layout-align-center-center layout-wrap" flex>
            <div flex="100"><h5 class="nv-text-center nv-text-bold nvc-margin-bottom-0 nvc-margin-0">{{nvipanipath[0].title}}</h5></div>
            <div flex="100">
                <md-select class="md-icon-button nvc-shape-pill nv-text-bold nvc-margin-0 nv-text-center" ng-show="businessUnits.length>1" ng-model="authentication.companyBusinessUnits.defaultBusinessUnitId" name="selectedBusinessUnit" aria-label="businessUnitSelect" placeholder="Business Unit"
                       ng-change="changeBusinessUnit({busUnitId:authentication.companyBusinessUnits.defaultBusinessUnitId})">
                <md-option  ng-repeat="item in businessUnits track by $index"  ng-value="item.businessUnit._id">
                    <span>{{item.businessUnit.name}}</span>
                </md-option>
            </md-select>
            </div>
        </div>
        <div class="nv-text-center nv-position-relative  layout-row layout-align-center-center">
            <md-button class="md-icon-button nvc-white-color" aria-label="toggle-notification" ng-click="toggleSideNavigation(true,'notification','toggle')">
                <md-icon class="fa fa-bell-o nv-notification-icon" >
                    <h1 ng-show="notifications.length>0 || todos.length>0 ">{{(notifications.length + todos.length)>100?'99+':(notifications.length + todos.length)}}</h1>
                </md-icon>
            </md-button>
        </div>
    </div>
    <md-sidenav class="md-sidenav-right" md-component-id="notification" md-whiteframe="4">
        <md-content>
            <md-tabs md-border-bottom md-dynamic-height>
                <md-tab label="Notifications {{notifications.length>0 ?'( '+notifications.length+' )':''}}">
                    <md-content>
                        <md-card ng-repeat="notification in notifications track by $index">

                            <md-list-item class="md-2-line"
                                          ng-click="clearNotifications(notification)">
                                <md-icon class="bb-f20"
                                         ng-class="{'fa fa-gift': notification.type === 'Offer','fa fa-file-o': notification.type === 'Order', 'fa fa-envelope': (notification.type === 'OfferComment' || notification.type ==='OrderComment')}"></md-icon>
                                <div class="md-list-item-text" layout="column">

                                    <!--<h3>{{orderMessage.user.displayName}}</h3>-->
                                    <p class="bb-p-cust">{{notification.title}}</p>
                                    <h4><small>{{notification.created | date:'medium'}}</small></h4>


                                </div>
                                <!--<md-divider></md-divider>-->
                            </md-list-item>
                        </md-card>
                    </md-content>
                </md-tab>
                <md-tab label="Todo List {{todos.length>0 ?'( '+todos.length+' )':''}}">
                    <md-content>
                        <md-list flex>
                            <md-card ng-repeat="todo in todos">
                                <md-list-item class="md-2-line" href="#!/orders/{{todo.source.order}}">
                                    <md-icon class="bb-f20 fa fa-tasks"></md-icon>
                                    <div class="md-list-item-text" layout="column">

                                        <!--<h3>{{orderMessage.user.displayName}}</h3>-->
                                        <p class="bb-p-cust">{{todo.title}}</p>
                                        <h4><small>{{todo.created | date:'medium'}}</small></h4>


                                    </div>
                                    <!--<md-divider></md-divider>-->
                                </md-list-item>
                            </md-card>
                        </md-list>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </md-sidenav>
</div>
