<div data-ng-controller="HeaderController" data-ng-init="dashboardData()">

	<md-sidenav ng-if="!authentication.user && !location.path().startsWith('/companyPublicPage')"
				class="md-sidenav-left nvc-sidemenu" md-component-id="left" md-whiteframe="4" md-is-locked-open="$mdMedia('gt-sm')" >
		<md-content>

			<md-list>
				<md-list-item ng-repeat="item in headermenu.items | orderBy: 'position'"
							  ng-class="{'active': '/'+item.link===location.path()}"
							  class="nv-nav-item nv-text-center"
							  ng-href="/#!/{{item.link}}">
					<span><a href="/#!/{{item.link}}" id="nav {{item.link}}">{{item.title}}</a></span>
				</md-list-item>
			</md-list>
		</md-content>
	</md-sidenav>
	<md-sidenav ng-if="authentication.user && !location.path().startsWith('/companyPublicPage')"
				class="md-sidenav-left nvc-sidemenu" md-component-id="header-sidenav" md-whiteframe="4" md-is-locked-open="$mdMedia('gt-sm')" >
		<md-content>
			<md-list>
				<div class="nv-text-center" hide-sm hide-xs>
					<a href="/#!/"><img src="/modules/core/img/nvipani-logo-small.png" class="bb-wid-35 nvc-margin-bottom-20"></a>
				</div>
                <div layout="row" layout-align="center center" layout-wrap  hide-gt-xs>
                    <img alt="{{authentication.user.displayName ?authentication.user.displayName  :authentication.user.username }}" ng-src="{{authentication.user.profileImageURL}}" class="bb-profimg-fix img-circle nvc-accent-border"  />
                    <div flex="100">
                        <h5 class="nv-text-bold nv-text-center">{{authentication.user.displayName ?authentication.user.displayName  :authentication.user.username}}</h5>
                    </div>
                    <div ng-show="businessUnits.length>1">
                        <md-input-container class="nvc-margin-top-0">
                            <md-select class="md-icon-button nvc-primary-background nv-text-bold nvc-shape-pill nvc-white-color nv-text-bold nvc-padding-left-5" ng-model="busUnitId" name="selectedBusinessUnit" aria-label="businessUnitSelect" placeholder="Business Unit"
                                       ng-change="changeBusinessUnit({busUnitId:busUnitId})">
                                <md-option  ng-repeat="item in businessUnits track by $index"  ng-value="item.businessUnit._id">
                                    <span>{{item.businessUnit.name}}</span>
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
                <md-divider hide-gt-xs></md-divider>
                <md-list-item ng-class="{'active': location.path()==='/'}" class="nv-nav-item nv-text-center" ng-href="/#!/" hide-gt-sm><a href="/#!/" id="nav-home" >Home</a></md-list-item>
				<md-list-item ng-repeat="item in menu.items | orderBy: 'position'"
							  ng-class="{'active': location.path().startsWith('/'+item.link)}"
							  class="nv-nav-item nv-text-center"
							  ng-href="/#!/{{item.link}}">
				<a href="/#!/{{item.link}}" id="nav-{{item.link}}">{{item.title}}</a>
				</md-list-item>
				<md-divider hide-gt-xs></md-divider>
				<md-subheader hide-gt-xs  class="md-no-sticky">Profile</md-subheader>
				<md-list-item hide-gt-xs  ng-click="changeUrl('settings/editmybusiness');closeright('right')" class="noright">
					<md-icon class="bb-icon-sid fa fa-briefcase"></md-icon>
					<p>MyProfile</p>
				</md-list-item>
				<md-list-item hide-gt-xs ng-click="changeUrl('settings/password');closeright('right')" class="noright">
					<md-icon class="bb-icon-sid fa fa-pencil"></md-icon>
					<p>Change Password</p>
				</md-list-item>
				<md-list-item hide-gt-xs ng-click="signout();closeright()" class="noright">
					<md-icon class="bb-icon-sid fa fa-sign-out"></md-icon>
					<p>Logout</p>
				</md-list-item>
			</md-list>
		</md-content>
	</md-sidenav>
	<md-sidenav ng-if="authentication.user && !location.path().startsWith('/companyPublicPage')" class="md-sidenav-right bb-header-cust" md-component-id="right" flex>
		<!--<md-toolbar class="md-theme-light">
			<h1 class="md-toolbar-tools">Notification Tab</h1>
		</md-toolbar>-->
		<md-content layout-padding  hide-gt-md  ng-show="profile">
			<div data-ng-hide="!authentication.user">
				<div layout="row" layout-align="center center">
					<img alt="{{authentication.user.displayName ?authentication.user.displayName  :authentication.user.username }}" ng-src="{{authentication.user.profileImageURL}}" class="md-avatar bb-prof-img" />
				</div>
				<md-list>

					<md-subheader class="md-no-sticky bb-txt-center">{{authentication.user.displayName ?authentication.user.displayName  :authentication.user.username }}</md-subheader>
					<md-list-item data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" href='/#!{{item.uiRoute}}' ng-click="closeright()"  class="noright">
						<md-icon class="fa bb-f20 bb-icon-sid"
								 ng-class="{'fa-gift': item.title==='Offers', 'fa-file-o': item.title==='Orders', 'fa-phone': item.title==='Contacts'  }"></md-icon>
						<p>{{item.title}}</p>
						<!--<md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>-->
						<!--<md-icon md-svg-icon="communication:email"  ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3" ></md-icon>-->
						<!--<md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>-->

						<md-divider></md-divider>
					</md-list-item >

					<md-subheader  class="md-no-sticky">Profile</md-subheader>

					<md-list-item   ng-click="changeUrl('settings/editmybusiness');closeright('right')" class="noright">
						<md-icon class="bb-icon-sid fa fa-briefcase"></md-icon>
						<p>MyProfile</p>
						<!--<span class="glyphicon glyphicon-lock"></span>-->
						<!--<md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>-->
						<md-divider></md-divider>
					</md-list-item>
					<md-list-item  ng-click="changeUrl('settings/password');closeright('right')" class="noright">
						<md-icon class="bb-icon-sid fa fa-pencil"></md-icon>
						<p>Change Password</p>
						<!--<span class="fa fa-pencil"></span>-->
						<!--<md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>-->
						<md-divider></md-divider>
					</md-list-item>
					<md-list-item ng-click="signout();closeright()" class="noright">
						<md-icon class="bb-icon-sid fa fa-sign-out"></md-icon>
						<p>Logout</p>
						<!--<span class="fa fa-sign-out"></span>-->
						<!--<md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>-->
						<md-divider></md-divider>
					</md-list-item>
				</md-list>
			</div>
		</md-content>
		<md-content layout-padding ng-show="notification">
			<md-list>
				<md-subheader class="md-no-sticky">You have {{notifications.length}} New Notifications</md-subheader>

				<md-divider></md-divider>

				<div layout='row' layout="column" layout-xs='row' layout-xs="column" layout-sm='row' layout-sm="column"
					 layout-wrap>
					<div flex="100" flex-xs="100">
						<md-subheader class="md-primary">Orders {{(notifications|filter:{type:'Order'}).length>0?' ( '+(notifications|filter:{type:'Order'}).length+' )':''}}</md-subheader>
						<md-icon class="fa fa-times"ng-if="(notifications|filter:{type:'Order'}).length>0"  ng-click="clearNotifications('Order',null)"></md-icon>
						<md-divider></md-divider>
						<div class="bb-notif-scroll" ng-if="(notifications|filter:{type:'Order'}).length>0">
							<md-list-item class="md-2-line" ng-repeat="notification in notifications |filter:{type:'Order'}" ng-click="closeright(notification);" href="#!/{{(notification.type === 'Offer' || notification.type === 'OfferComment' || notification.type  ==='OfferStatus')?'offers/'+notification.source.offer:'orders/'+notification.source.order}}">

								<img ng-src="{{authentication.user.profileImageURL}}" class="md-avatar" alt="{{notification.user.displayName}}" />
								<div class="md-list-item-text">

									<p class="bb-p-cust">{{notification.title}}</p>
									<h4><small>{{notification.created |date:'medium'}}</small></h4>
								</div>

								<!--<md-icon class="f20 notifi" ng-class="{'fa fa-gift': notification.type === 'Offer','fa fa-file-o': notification.type === 'Order', 'fa fa-list-o': notification.type === 'OfferComment'}"></md-icon>-->
								<!--<div class="md-list-item-text">-->
								<!--&lt;!&ndash;<h3>{{ todos[0].who }}</h3>&ndash;&gt;-->
								<!--<p>{{notification.title}}</p>-->
								<!--</div>-->
								<md-divider></md-divider>
							</md-list-item>
						</div>
					</div>

					<div flex="100" flex-xs="100">
						<md-subheader class="md-primary">Offers {{(notifications|filter:{type:'Offer' || 'OfferStatus'|| 'OfferComment'}).length>0?' ( '+(notifications|filter:{type:'Offer' || 'OfferStatus'|| 'OfferComment'}).length+' )':''}}</md-subheader>
						<md-icon class="fa fa-times" ng-show="(notifications|filter:{type:'Offer' || 'OfferStatus'|| 'OfferComment'}).length>0" ng-click="clearNotifications('Offer',null)"></md-icon>
						<md-divider></md-divider>
						<div class="bb-notif-scroll"
							 ng-if="(notifications|filter:{type:'Offer' || 'OfferStatus'|| 'OfferComment'}).length>0">
							<md-list-item class="md-2-line" ng-repeat="notification in notifications |filter:{type:'Offer' || 'OfferStatus'|| 'OfferComment'}" ng-click="closeright(notification);" ng-href="#!/{{(notification.type === 'Offer' || notification.type === 'OfferComment' || notification.type  ==='OfferStatus')?'offers/'+notification.source.offer:'orders/'+notification.source.order}}">

								<img ng-src="{{authentication.user.profileImageURL}}" class="md-avatar" alt="{{notification.user.displayName}}" />
								<div class="md-list-item-text">

									<p class="bb-p-cust">{{notification.title}}</p>
									<h4><small>{{notification.created |date:'medium'}}</small></h4>
								</div>

								<md-divider></md-divider>
							</md-list-item>
						</div>
					</div>
				</div>



				<!--<md-list-item class="md-3-line md-long-text" ng-repeat="notification in notifications">-->
				<!--<md-icon class="fa fa-gift f20"></md-icon>-->
				<!--<div class="">-->
				<!--<h3>{{notification.title}}</h3>-->
				<!--&lt;!&ndash;<p>&ndash;&gt;-->
				<!--&lt;!&ndash;Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.&ndash;&gt;-->
				<!--&lt;!&ndash;Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum&ndash;&gt;-->
				<!--&lt;!&ndash;velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.&ndash;&gt;-->
				<!--&lt;!&ndash;</p>&ndash;&gt;-->
				<!--</div>-->
				<!--</md-list-item>-->
			</md-list>


		</md-content>

	</md-sidenav>
	<md-sidenav ng-if="!authentication.user && !location.path().startsWith('/companyPublicPage')" class="md-sidenav-right bb-header-cust" md-component-id="center" flex>

		<div hide-gt-xs ng-show="profile" data-ng-repeat="item in headermenu.items | orderBy: 'position'">
			<md-menu ng-if="item.items.length>0" md-position-mode="target-right bottom">
				<md-button class="bb-headerlink bb-mobsidenav" ng-click="$mdOpenMenu($event)">

					<span>{{item.title}}</span>
					<i class="fa fa-caret-down"></i>
				</md-button>

				<md-menu-content width="1">
					<md-menu-item data-ng-repeat="subitem in item.items | orderBy: 'position'">
						<md-button  ng-click="changeUrl('/'+subitem.link);toggleSideNavigation(false,'center','close')">
							{{subitem.title}}
							<md-divider></md-divider>
						</md-button>

					</md-menu-item>
				</md-menu-content>

			</md-menu>

			<md-button class="bb-headerlink bb-mobsidenav" ng-if="item.items.length===0"
					   ng-click="changeUrl('/'+item.link);toggleSideNavigation(false,'center','close')"
					   aria-label={{item.title}}>{{item.title}}
			</md-button>
			<md-divider></md-divider>
		</div>

		<!--<md-list>
            <md-list-item data-ng-repeat="item in headermenu.items | orderBy: 'position'" ng-if="item.isPublic!=null && item.isPublic==true" href='/#!{{item.uiRoute}}' ng-click="toggleSideNavigation(false,'right','close')"  class="noright">

                <p>{{item.title}}</p>

                <md-divider></md-divider>

                <md-list>
                    <md-list-item data-ng-repeat="subitem in item.items | orderBy: 'position'" href='/#!{{subitem.uiRoute}}'>
                        <p>{{subitem.title}}</p>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-list-item >
        </md-list>
-->



		<md-content layout-padding>
			<md-list>
				<md-subheader class="md-no-sticky">You have {{notifications.length}} New Notifications</md-subheader>

				<md-divider></md-divider>

				<div layout="column" layout-xs='row' layout-xs="column" layout-sm='row' layout-sm="column" layout-wrap>
					<div flex="100" flex-xs="100">
						<md-subheader class="md-primary">Orders</md-subheader>
						<md-divider></md-divider>
						<div class="bb-notif-scroll">
							<md-list-item class="md-2-line" ng-repeat="notification in notifications" ng-click="changeUrlNotification(notification);closeright();" href="#!/{{(notification.type === 'Offer' || notification.type === 'OfferComment' || notification.type  ==='OfferStatus')?'offers/'+notification.source.offer:'orders/'+notification.source.order}}">

								<img ng-src="{{authentication.user.profileImageURL}}" class="md-avatar" alt="{{notification.user.displayName}}" />
								<div class="md-list-item-text">

									<p class="bb-p-cust">{{notification.title}}</p>
									<h4><small>{{notification.created |date:'medium'}}</small></h4>
								</div>

								<!--<md-icon class="f20 notifi" ng-class="{'fa fa-gift': notification.type === 'Offer','fa fa-file-o': notification.type === 'Order', 'fa fa-list-o': notification.type === 'OfferComment'}"></md-icon>-->
								<!--<div class="md-list-item-text">-->
								<!--&lt;!&ndash;<h3>{{ todos[0].who }}</h3>&ndash;&gt;-->
								<!--<p>{{notification.title}}</p>-->
								<!--</div>-->
								<md-divider></md-divider>
							</md-list-item>
						</div>
					</div>

					<div flex="100" flex-xs="100">
						<md-subheader class="md-primary">Offers</md-subheader>
						<md-divider></md-divider>
						<div class="bb-notif-scroll">
							<md-list-item class="md-2-line" ng-repeat="notification in notifications" ng-click="changeUrlNotification(notification);closeright();" href="#!/{{(notification.type === 'Offer' || notification.type === 'OfferComment' || notification.type  ==='OfferStatus')?'offers/'+notification.source.offer:'orders/'+notification.source.order}}">

								<img ng-src="{{authentication.user.profileImageURL}}" class="md-avatar" alt="{{notification.user.displayName}}" />
								<div class="md-list-item-text">

									<p class="bb-p-cust">{{notification.title}}</p>
									<h4><small>{{notification.created |date:'medium'}}</small></h4>
								</div>

								<md-divider></md-divider>
							</md-list-item>
						</div>
					</div>
				</div>



				<!--<md-list-item class="md-3-line md-long-text" ng-repeat="notification in notifications">-->
				<!--<md-icon class="fa fa-gift f20"></md-icon>-->
				<!--<div class="">-->
				<!--<h3>{{notification.title}}</h3>-->
				<!--&lt;!&ndash;<p>&ndash;&gt;-->
				<!--&lt;!&ndash;Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.&ndash;&gt;-->
				<!--&lt;!&ndash;Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum&ndash;&gt;-->
				<!--&lt;!&ndash;velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.&ndash;&gt;-->
				<!--&lt;!&ndash;</p>&ndash;&gt;-->
				<!--</div>-->
				<!--</md-list-item>-->
			</md-list>

		</md-content>

	</md-sidenav>
	<div data-ng-show="signouterror" class="text-center text-danger">
		<strong data-ng-bind="signouterror"></strong>
	</div>
</div>
