<div class="section why" data-ng-controller="HomeController">
	<div class="container" onprerender="fun();" >
		<section>
		<h2 class="title text-center pulse animated2">How <b>{{appName}}</b> can help you?</h2>
		</section>
		<section>
		<div class="row item wow bounceIn animated">
			<div class="content col-md-4 col-sm-12 col-xs-12 wow bounceIn animated">
				<h3 class="title">All your online orders &amp; offers at one place.</h3>
				<div class="desc">
					<p>{{appName}}  is the complete order, offer management platform servicing for traders, retailers, bulk consumers and farmers.</p>
					<p>It captures all your online orders, offers at one place. It’s a simple interface that connects your business across all important details such as traders contact information, order tracking, notifications, reminders of follow-ups and more…</p>
					<p>With over 10 marketplaces and carts integrated, we track all your online orders, offers together in one screen. Automatically!! Buy / Sell on more channels now without increasing your workload…</p>
				</div>
				<!-- quote starts here -->
				<!--//quote ends-->
			</div><!--//content-->
			<figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
				<img class="img-responsive" src="/modules/core/img/figures/figure-1.png" alt="" />
			</figure>
		</div><!--//item-->
		</section>
		<section>
		<div class="row item">
			<div class="content col-md-4 col-sm-12 col-xs-12 col-md-push-8 wow bounceIn animated col-sm-push-0 col-xs-push-0">
				<h3 class="title fadeInLeftBig animated">Retail made simple.</h3>
				<div class="desc">
					<p>{{appName}}’s service will help enable retailers to take advantage of Mobile commerce, which is the fastest growing segment of the retail sector and is prefered by 70% of shoppers using smartphones.</p>

					<p><i class="fa fa-lock"></i>Reliable and Secure Platform.</p>
					<p><i class="fa fa-paper-plane"></i>Future enabled.</p>
					<p><i class="fa fa-heart-o"></i>Ease of use.</p>
					<p><i class="fa fa-globe"></i>Searchable large customer base.</p>
					<p><i class="fa  fa-inr"></i>Cut costs by chosing the right supplier.</p>

				</div>

				<!-- quote starts here -->
				<!--//quote ends-->
			</div><!--//content-->
			<figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
				<img class="img-responsive" src="/modules/core/img/figures/figure-2.png" alt="" />

			</figure>
		</div><!--//item-->
		</section>
		<!--//item-->

		<!--//item-->



	</div><!--//container-->
</div>











