<div class="section" data-ng-controller="HomeController">
	<div class="">
		<register></register>
	<!--	<section>
			<h2 class="title text-center pulse animated2">How <b>{{appName}}</b> can help you?</h2>
		</section>
		<section>
			<div class="row item wow bounceIn animated">
				<div class="content col-md-4 col-sm-12 col-xs-12 wow bounceIn animated">
					<h3 class="title">All your online orders &amp; offers at one place.</h3>
					<div class="desc">
						<p>{{appName}} is the complete order, offer management platform servicing for traders,
							retailers, bulk consumers and farmers.</p>
						<p>It captures all your online orders, offers at one place. It’s a simple interface that
							connects your business across all important details such as traders contact information,
							order tracking, notifications, reminders of follow-ups and more…</p>
						<p>With over 10 marketplaces and carts integrated, we track all your online orders, offers
							together in one screen. Automatically!! Buy / Sell on more channels now without increasing
							your workload…</p>
					</div>
					&lt;!&ndash; quote starts here &ndash;&gt;
					&lt;!&ndash;//quote ends&ndash;&gt;
				</div>&lt;!&ndash;//content&ndash;&gt;
				<figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
					<img class="img-responsive" src="/modules/core/img/figures/figure-1.png" alt=""/>
				</figure>
			</div>&lt;!&ndash;//item&ndash;&gt;
		</section>
		<section>
			<div class="row item">
				<div class="content col-md-4 col-sm-12 col-xs-12 col-md-push-8 wow bounceIn animated col-sm-push-0 col-xs-push-0">
					<h3 class="title fadeInLeftBig animated">Retail made simple.</h3>
					<div class="desc">
						<p>{{appName}}’s service will help enable retailers to take advantage of Mobile commerce, which
							is the fastest growing segment of the retail sector and is prefered by 70% of shoppers using
							smartphones.</p>

						<p><i class="fa fa-lock"></i>Reliable and Secure Platform.</p>
						<p><i class="fa fa-paper-plane"></i>Future enabled.</p>
						<p><i class="fa fa-heart-o"></i>Ease of use.</p>
						<p><i class="fa fa-globe"></i>Searchable large customer base.</p>
						<p><i class="fa  fa-inr"></i>Cut costs by chosing the right supplier.</p>

					</div>

					&lt;!&ndash; quote starts here &ndash;&gt;
					&lt;!&ndash;//quote ends&ndash;&gt;
				</div>&lt;!&ndash;//content&ndash;&gt;
				<figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
					<img class="img-responsive" src="/modules/core/img/figures/figure-2.png" alt=""/>

				</figure>
			</div>&lt;!&ndash;//item&ndash;&gt;
		</section>-->
		<!--//item-->

		<!--//item-->



	</div><!--//container-->
</div>
<!--<section id="main-content" data-ng-controller="AuthenticationController" ng-init="dashboardData();"
		 data-ng-show="authentication.user">

	<section class="wrapper firsec-bg">
			<div class="row firsec-bg">
				<div class="col-lg-12 col-sm-12 mob-lg firsec-bg">

					<div class="col-lg-6 col-sm-6 mob-lg">
						&lt;!&ndash;notification start&ndash;&gt;
						<section class="panel firsec-bg ">

							<div  class="panel-body panelbdy verticalline">
								<div>
									<h3 class="tabtxt heading">Notifications {{notifications.length>0 ?+'( '+notifications.length+' )':''}} </h3>
								</div>
								<div class="notif-scroll">

									<div class="nodata" data-ng-show="notifications.length===0">
										<p >No Notifications</p>
									</div>

								    <div class="msg-timeline-comment" data-ng-repeat="notification in notifications">
									 <div class="timeline-comment-header"
										  data-ng-show="notification.type === 'Offer' || notification.type === 'OfferComment' || notification.type  ==='OfferStatus'">
										 <i class="fa fa-gift"></i>
										 <a class="timeline-comment-text"
											href="#!/offers/{{notification.source.offer}}">
											 <span>&nbsp;</span>{{notification.type+'-'+notification.title}}</a>
										 <p>
											 <small>{{notification.created | date:'medium'}}</small>
										 </p>
									</div>
									 <div class="timeline-comment-header"
										  data-ng-hide="notification.type === 'Offer' || notification.type === 'OfferComment' || notification.type  ==='OfferStatus'">
										 <i class="fa fa-file-o"></i>
										 <a class="timeline-comment-text"
											href="#!/orders/{{notification.source.order}}">
											 <span>&nbsp;</span>{{notification.type+'-'+notification.title}}</a>
										 <p>
											 <small>{{notification.created | date:'medium'}}</small>
										 </p>
									 </div>

								 </div>

								</div>
							</div>

						</section>&lt;!&ndash;notification ends&ndash;&gt;


					</div>


					<div class="col-lg-6 col-sm-6 mob-lg">
						&lt;!&ndash;To Do List start&ndash;&gt;
						<section class="panel firsec-bg">

							<div class="panel-body panelbdy">
								<div>
									<h3 class="tabtxt heading">To Do List {{todos.length>0 ?+'( '+todos.length+' )':''}}</h3>
								</div>
								<div class="notif-scroll">

									<div class="nodata" data-ng-show="todos.length===0">
										<p>No Todos</p>
									</div>
									<div class="msg-timeline-comment" data-ng-repeat="todo in todos">
										<div class="timeline-comment-header">
											<i class="fa fa-tasks"></i>

											<a class="timeline-comment-text"
											   href="#!/orders/{{todo.source.order}}">
												<span>&nbsp;</span>{{todo.title}}</a>
											<p>
												<small>{{todo.created | date:'medium'}}</small>
											</p>
										</div>

									</div>

								</div>

							</div>
						</section>  &lt;!&ndash;To Do List ends&ndash;&gt;
					</div>
				 &lt;!&ndash;To Do List ends&ndash;&gt;
					</div>

				</div>
		</section>
		&lt;!&ndash; wrapper&ndash;&gt;&lt;!&ndash;1st Ends&ndash;&gt;

	&lt;!&ndash;2nd starts&ndash;&gt;
	<section class="wrapper darkash-bg cleartop">
		<div class="row darkash-bg">
			<div class="col-lg-12  mob-lg darkash-bg">


				<div class="col-lg-6  mob-lg">
					&lt;!&ndash;notification start&ndash;&gt;
					<section class="panel darkash-bg">

						<div class="panel-body panelbdy">
							<div>
								<h3  class="tabtxt heading">Order Summary</h3>
							</div>


							<div class="tabs-left" role="tabpanel">
								&lt;!&ndash; Nav tabs &ndash;&gt;
								<ul class="nav nav-tabs" role="tablist">
									<li   role="presentation" class="arrow_box active">
										<a class="tabtxt" aria-expanded="false" role="tab"
										   data-toggle="tab" ng-click="changeType('Placed')">New {{(orders|filter:{_id:'Placed'}).length>0 ?+'( '+(orders|filter:{_id:'Placed'})[0].orderDetails.length+' )':''}}</a></li>
									<li  class="arrow_box" role="presentation">
										<a class="tabtxt" aria-expanded="false"  role="tab"
										   data-toggle="tab" ng-click="changeType('Disputed')">Disputed {{(orders|filter:{_id:'Disputed'}).length>0 ?+'( '+(orders|filter:{_id:'Disputed'})[0].orderDetails.length+' )':''}}</a></li>
									<li class="arrow_box" role="presentation">
										<a class="tabtxt" aria-expanded="false" role="tab"
										   data-toggle="tab" ng-click="changeType('In Progress')">Delivery Pending {{(orders|filter:{_id:'In Progress'}).length>0 ?+'( '+(orders|filter:{_id:'In Progress'})[0].orderDetails.length+' )':''}}</a></li>
									<li class="arrow_box" role="presentation">
										<a class="tabtxt" aria-expanded="false" role="tab"
										   data-toggle="tab" ng-click="changeType('Confirmed')">Respones {{(orders|filter:{_id:'Confirmed'}).length>0 ?+'( '+(orders|filter:{_id:'Confirmed'})[0].orderDetails.length+' )':''}}</a></li>
									<li class="arrow_box" role="presentation">
										<a class="tabtxt" aria-expanded="false" role="tab"
										   data-toggle="tab" ng-click="changeType('Shipped')">Payment Order Due {{(orders|filter:{_id:'Shipped'}).length>0 ?+'( '+(orders|filter:{_id:'Shipped'})[0].orderDetails.length+' )':''}}</a></li>
								</ul>
								&lt;!&ndash; Tab panes &ndash;&gt;
								<div class="tab-content">

									<div role="tabpanel" class="tab-pane fade active in"
										 data-ng-repeat="order in orders | filter:{_id:tag}">
										<div class="new">
										<div class="OrderSummary-comment"
											 data-ng-repeat="orderDetail in order.orderDetails">
											<div class="timeline-comment-header">
												<span>Order Number:</span>
												<a class="timeline-comment-text"
												   href="#!/orders/{{orderDetail.id}}">
													<span>&nbsp; </span>{{orderDetail.orderNumber}}</a><br>
												 <p> Total Amount: {{orderDetail.totalAmount |currency:' &#8377;  '}}</p>
											</div>
											<p>
												<small>{{orderDetail.created | date:'medium'}}</small>
											</p>
										</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</section>


				</div>


			</div>
		</div>
	</section>

	&lt;!&ndash;3rd starts&ndash;&gt;
	<section class="wrapper darkwhite-bg cleartop">
		<div class="row darkwhite-bg">
			<div class="col-lg-12 mob-lg darkwhite-bg">
				<section class="panel darkwhite-bg">

					<div class="panel-body panelbdy">
						<div>
							<h3  class="tabtxt heading">Offers&lt;!&ndash;<button type="button" class="btn btn-success morebtn">more</button>&ndash;&gt;</h3>
						</div>

						<div role="tabpanel">
							&lt;!&ndash; Nav tabs &ndash;&gt;
							<div class="tabs tabs-style-linebox-l">
								<ul class="nav nav-tabs l-tab" role="tablist">
									<li role="presentation" data-ng-class="{active: category.name === 'Agriculture'}"
										data-ng-repeat="category in offers track by $index"><a class="tabtxt"
																							   aria-expanded="false"
																							   href="#taboff{{$index}}"
																							   role="tab"
																							   data-toggle="tab">{{category.name}} {{category.children.length>0 ?+'( '+category.children.length+' )':''}}</a></li>

								</ul>
							</div>
							&lt;!&ndash; Tab panes &ndash;&gt;
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane" data-ng-class="{active: category.name === 'Agriculture'}"
									 data-ng-repeat="category in offers  track by $index" id="taboff{{$index}}">



									<div class="row-horizon p-top15">

										<div data-ng-show="category.children.length === 0">
											<p class="text-center">No Sub Category</p>
										</div>

										<div class="col-lg-2 col-md-3 col-sm-4 ad-pop"
											 data-ng-repeat="child in category.children"><a
												href="#!/categories/{{child._id}}">
											<img data-ng-src="{{child.categoryImageURL1}}" class="o-img-fix img-center"
												 alt=""></a>
											<p class="text-center"><strong>{{child.name}}</strong></p>
										</div>&lt;!&ndash;/.col&ndash;&gt;

									</div>&lt;!&ndash;/.row&ndash;&gt;
								</div></div>
								&lt;!&ndash;<div role="tabpanel" class="tab-pane  active" id="tab1">
									<div class="row">
										<div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
											<img src="/modules/core/img/dashboard/offers1.png" class="img-responsive img-fix" alt="">
											<p><strong>12kg beans at 18% off</strong><br>by EP Enterprises</p>
										</div>&lt;!&ndash;/.col&ndash;&gt;

										<div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
											<img src="/modules/core/img/dashboard/offers2.png" class="img-responsive img-fix" alt="">
											<p><strong>10kg basmati rice get 2kg free</strong><br>by EP Enterprises</p>
										</div>&lt;!&ndash;/.col&ndash;&gt;

										<div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
											<img src="/modules/core/img/dashboard/offers3.png" class="img-responsive img-fix" alt="">
											<p><strong>25kg banana at 15% off</strong><br>by Pragathi Corporation</p>
										</div>&lt;!&ndash;/.col&ndash;&gt;

										<div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
											<img src="/modules/core/img/dashboard/offers4.png" class="img-fix" alt="">
											<p><strong>5kg Red lentils at 25% off</strong><br>by MK Traders</p>
										</div>&lt;!&ndash;/.col&ndash;&gt;

										<div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
											<img src="/modules/core/img/dashboard/offers5.png" class="img-fix" alt="">
											<p><strong>10kg Channa dal at 25% off</strong><br>by EP Enterprises</p>
										</div>&lt;!&ndash;/.col&ndash;&gt;

										<div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
											<img src="/modules/core/img/dashboard/offers6.png" class="img-fix" alt="">
											<p><strong>10kg basmati rice get 2kg free</strong><br>by EP Enterprises</p>
										</div>&lt;!&ndash;/.col&ndash;&gt;

									</div>&lt;!&ndash;/.row&ndash;&gt;
								</div>&ndash;&gt;
								&lt;!&ndash;			<div role="tabpanel" class="tab-pane" id="tab2">
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="tab3">
                                                <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="tab4">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                        <div class="info-box blue-bg">
                                                            <i class="fa fa-cloud-download"></i>
                                                            <div class="count">6.674</div>
                                                            <div class="title">Download</div>
                                                        </div>&lt;!&ndash;/.info-box&ndash;&gt;
                                                    </div>&lt;!&ndash;/.col&ndash;&gt;

                                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                        <div class="info-box brown-bg">
                                                            <i class="fa fa-shopping-cart"></i>
                                                            <div class="count">7.538</div>
                                                            <div class="title">Purchased</div>
                                                        </div>&lt;!&ndash;/.info-box&ndash;&gt;
                                                    </div>&lt;!&ndash;/.col&ndash;&gt;

                                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                        <div class="info-box dark-bg">
                                                            <i class="fa fa-thumbs-o-up"></i>
                                                            <div class="count">4.362</div>
                                                            <div class="title">Order</div>
                                                        </div>&lt;!&ndash;/.info-box&ndash;&gt;
                                                    </div>&lt;!&ndash;/.col&ndash;&gt;

                                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                        <div class="info-box green-bg">
                                                            <i class="fa fa-cubes"></i>
                                                            <div class="count">1.426</div>
                                                            <div class="title">Stock</div>
                                                        </div>&lt;!&ndash;/.info-box&ndash;&gt;
                                                    </div>&lt;!&ndash;/.col&ndash;&gt;

                                                </div>&lt;!&ndash;/.row&ndash;&gt;
                                            </div>&ndash;&gt;
							</div>

					</div>
				</section>
			</div>

		</div>
	</section>
	&lt;!&ndash; wrapper&ndash;&gt;&lt;!&ndash;3rd Ends&ndash;&gt;

	&lt;!&ndash;4th starts&ndash;&gt;
	&lt;!&ndash;<section class="wrapper darkash-bg cleartop">
		<div class="row darkash-bg">
			<div class="col-lg-12 darkash-bg">
				<div class="col-lg-6">

					<section class="panel darkash-bg">

						<div class="panel-body panelbdy">
							<div>
								<h3  class="tabtxt heading">Messages<button type="button" class="btn btn-success morebtn">more</button></h3>
							</div>

							<div role="tabpanel">

								<div class="tabs tabs-style-linebox-msg">
									<ul class="nav nav-tabs msgtab" role="tablist">
										<li role="presentation" class=""><a class="tabtxt" aria-expanded="false" href="#tab18" role="tab" data-toggle="tab">INBOX</a></li>
										<li class="active" role="presentation"><a class="tabtxt" aria-expanded="true" href="#tab19" role="tab" data-toggle="tab">SENT MESSAGES</a></li>

									</ul>
								</div>

								<div class="tab-content">
									<div role="tabpanel" class="tab-pane  active" id="tab18">
										<div class="row">
											<div class="msg-timeline-comment">
												<div class="timeline-comment-header">
													<img src="/modules/core/img/dashboard/avatar-mini4.jpg" alt="">
													<p><small>14 Dec, 2015, 4:32 PM</small></p>
												</div>
												<p class="timeline-comment-text">Order Placed for 10kg Robusta banana by Jack Fernandez<p>
											</div>
											<div class="msg-timeline-comment">
												<div class="timeline-comment-header">
													<img src="/modules/core/img/dashboard/avatar-mini3.jpg" alt="">
													<p><small>14 Dec, 2015, 4:32 PM</small></p>
												</div>
												<p class="timeline-comment-text">Payment made for Order No:23456 by MK Retail<p>
											</div>
											<div class="msg-timeline-comment">
												<div class="timeline-comment-header">
													<img src="/modules/core/img/dashboard/avatar-mini2.jpg" alt="">
													<p><small>14 Dec, 2015, 4:32 PM</small></p>
												</div>
												<p class="timeline-comment-text">Payment Needs to be made for Order No: 548568 before 21 Dec 2015<p>
											</div>

										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="tab19">
										<div class="row">
											<div class="msg-timeline-comment">
												<div class="timeline-comment-header">
													<img src="/modules/core/img/dashboard/avatar-mini4.jpg" alt="">
													<p><small>14 Dec, 2015, 4:32 PM</small></p>
												</div>
												<p class="timeline-comment-text">Payment Needs to be made for Order No: 548568 before 21 Dec 2015<p>
											</div>
											<div class="msg-timeline-comment">
												<div class="timeline-comment-header">
													<img src="/modules/core/img/dashboard/avatar-mini3.jpg" alt="">
													<p><small>14 Dec, 2015, 4:32 PM</small></p>
												</div>
												<p class="timeline-comment-text">Order Placed for 10kg Robusta banana by Jack Fernandez<p>
											</div>

										</div>
									</div>

								</div>
							</div>



						</div>
					</section>


				</div>

				<div class="col-lg-6">

					<section class="panel darkash-bg">

						<div class="panel-body panelbdy">
							<div>
								<h3  class="tabtxt heading">Trading Partners<button type="button" class="btn btn-success morebtn">more</button></h3>
							</div>

							<div role="tabpanel">

								<div class="tabs tabs-style-linebox-msg">
									<ul class="nav nav-tabs msgtab" role="tablist">
										<li role="presentation" class=""><a class="tabtxt" aria-expanded="false" href="#tab51" role="tab" data-toggle="tab">NEW SUPPLIERS (5)</a></li>
										<li class="active" role="presentation"><a class="tabtxt" aria-expanded="true" href="#tab52" role="tab" data-toggle="tab">EXISTING SUPPLIERS (52)</a></li>

									</ul>
								</div>

								<div class="tab-content">
									<div role="tabpanel" class="tab-pane  active" id="tab51">
										<div class="row table-responsive">
											<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
												<img src="/modules/core/img/dashboard/partner1.png" class="img-responsive round" alt="">
												<p><strong>Nestle India Pvt Ltd.</strong></p>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
												<img src="/modules/core/img/dashboard/partner2.png" class="img-responsive round" alt="">
												<p><strong>India Gate Pvt Ltd.</strong></p>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
												<img src="/modules/core/img/dashboard/partner3.png" class="img-responsive round" alt="">
												<p><strong>MTR Foods Pvt Ltd.</strong></p>
											</div>
											<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
												<img src="/modules/core/img/dashboard/partner4.png" class="img-responsive round" alt="">
												<p><strong>Procter & Gamle India</strong></p>
											</div>


										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="tab52">
										<div class="row">
											<div class="msg-timeline-comment">
												<div class="timeline-comment-header">
													<img src="/modules/core/img/dashboard/avatar-mini3.jpg" alt="">
													<p><small>14 Dec, 2015, 4:32 PM</small></p>
												</div>
												<p class="timeline-comment-text">Payment Needs to be made for Order No: 548568 before 21 Dec 2015<p>
											</div>
											<div class="msg-timeline-comment">
												<div class="timeline-comment-header">
													<img src="img/avatar1_small.jpg" alt="">
													<p><small>14 Dec, 2015, 4:32 PM</small></p>
												</div>
												<p class="timeline-comment-text">Order Placed for 10kg Robusta banana by Jack Fernandez<p>
											</div>

										</div>
									</div>

								</div>
							</div>



						</div>
					</section>


				</div>

			</div>
		</div>
	</section>&ndash;&gt;


	&lt;!&ndash;5th starts&ndash;&gt;
	<section class="wrapper suppliers-bg cleartop">
		<div class="row suppliers-bg">
			<div class="col-lg-12 suppliers-bg">


				<div>
					<h3 class="heading">Best Suppliers/ Buyers</h3>
				</div>
				<div  class="flexslider" carousel>
					<ul class="slides">
						<li class="mveitem imgover">
							<img ng-src="/modules/core/img/dashboard/supplier1.png" class="img-responsive upimg" alt="">
							<img ng-src="/modules/core/img/dashboard/partner1.png" class="img-responsive round downimg"alt=""></li>

						<li class="mveitem imgover">
							<img ng-src="/modules/core/img/dashboard/supplier2.png" class="img-responsive upimg" alt="">
							<img ng-src="/modules/core/img/dashboard/partner2.png" class="img-responsive round downimg" alt=""></li>

						<li class="mveitem imgover">
							<img ng-src="/modules/core/img/dashboard/supplier3.png" class="img-responsive upimg" alt="">
							<img ng-src="/modules/core/img/dashboard/partner3.png" class="img-responsive round downimg" alt=""></li>

						<li class="mveitem imgover">
							<img ng-src="/modules/core/img/dashboard/supplier4.png" class="img-responsive upimg" alt="">
							<img ng-src="/modules/core/img/dashboard/partner4.png" class="img-responsive round downimg" alt=""></li>

						<li class="mveitem imgover">
							<img ng-src="/modules/core/img/dashboard/supplier5.png" class="img-responsive upimg" alt="">
							<img ng-src="/modules/core/img/dashboard/partner1.png" class="img-responsive round downimg" alt=""></li>

						<li class="mveitem imgover">
							<img ng-src="/modules/core/img/dashboard/supplier6.png" class="img-responsive upimg" alt="">
							<img ng-src="/modules/core/img/dashboard/partner2.png" class="img-responsive round downimg" alt=""></li>

						<li class="mveitem imgover">
							<img ng-src="/modules/core/img/dashboard/supplier3.png" class="img-responsive upimg" alt="">
							<img ng-src="/modules/core/img/dashboard/partner3.png" class="img-responsive round downimg" alt=""></li>

						<li class="mveitem imgover">
							<img ng-src="/modules/core/img/dashboard/supplier4.png" class="img-responsive upimg" alt="">
							<img ng-src="/modules/core/img/dashboard/partner4.png" class="img-responsive round downimg" alt=""></li>

						<li class="mveitem imgover">
							<img ng-src="/modules/core/img/dashboard/supplier1.png" class="img-responsive upimg" alt="">
							<img ng-src="/modules/core/img/dashboard/partner1.png" class="img-responsive round downimg"alt=""></li>

						<li class="mveitem imgover">
							<img ng-src="/modules/core/img/dashboard/supplier2.png" class="img-responsive upimg" alt="">
							<img ng-src="/modules/core/img/dashboard/partner2.png" class="img-responsive round downimg" alt=""></li>

						<li class="mveitem imgover">
							<img ng-src="/modules/core/img/dashboard/supplier2.png" class="img-responsive upimg" alt="">
							<img ng-src="/modules/core/img/dashboard/partner2.png" class="img-responsive round downimg" alt=""></li>

						<li class="mveitem imgover">
							<img ng-src="/modules/core/img/dashboard/supplier3.png" class="img-responsive upimg" alt="">
							<img ng-src="/modules/core/img/dashboard/partner3.png" class="img-responsive round downimg" alt=""></li>

						&lt;!&ndash; items mirrored twice, total of 12 &ndash;&gt;
					</ul>
				</div>
			</div>
		</div>
	</section>



	</section >-->
<!-- main content -->









