<div layout-fill data-ng-controller="PublicOfferController" data-ng-init="findInit()">
<head-bar nvipanipath="context" isbusinessunitslist="true" ></head-bar>
<div class="nvc-landing-page" layout="row" layout-wrap>
    <div class="nvc-landing-page-content" layout="row" layout-align="center center">
        <div>
        <h2><strong>Discover Your Best Deal</strong></h2>
        <input class="nvc-md-input  bb-wid-100 nvc-shape-pill nvc-primary-border nv-text-center nvc-white-background" ng-model="searchOfferText" title="Search Offers" placeholder="Search for Product, Category and Brand" />
        </div>
    </div>
</div>
<div>
    <md-tabs md-dynamic-height class="nvc-content">
        <md-tab ng-repeat="tab in tabs track by $index"  md-selected="selectedIndex"
                ng-click="changeSelectionTab(tab.type);" label="{{tab.title}}">
            <md-content>
                <div flex="100" flex-xs="100" layout="row" layout-align="center center">
                    <div flex="80" ng-if="showViewAll && selectedIndex!==2" class="nvc-padding-0"
                         ng-show="offers.length>0">
                            <span id={{selectedIndex}} search-fields=searchText[queryBy] search-query=queryBy
                                  field="offer" class="bb-wid-100"></span>
                    </div>
                    <div flex></div>
                    <div ng-show="getMyOfferIndex('MyOffers') && offers.length>0">
                        <md-menu class="nvc-menu">
                            <md-button ng-click="$mdOpenMenu($event)" class="md-primary md-raised nvc-shape-pill">
                                Group Actions
                                <span class="caret"></span>
                            </md-button>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button md-auto-focus ng-click="batchOffers(0)">
                                        <md-icon class="fa fa-trash"></md-icon>
                                        Delete
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="batchOffers(1)">
                                        <md-icon class="fa fa-ban"></md-icon>
                                        Disable
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="batchOffers(2)">
                                        <md-icon class="fa fa-check"></md-icon>
                                        Enable
                                    </md-button>
                                </md-menu-item>

                            </md-menu-content>
                        </md-menu>
                    </div>

                    <div ng-show="getMyOfferIndex('MyOffers') && offers.length>0">
                        <md-menu class="nvc-menu">
                            <md-button ng-click="$mdOpenMenu($event)"
                                       class="md-primary md-raised nvc-shape-pill nvc-margin-right-0">
                                New
                                <span class="caret"></span>
                            </md-button>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button md-autofocus
                                               ng-click="panelChange(null,'add',selectedIndex,'Sell');">
                                        <md-icon class="fa fa-plus"></md-icon>
                                        Sale Offer
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button md-autofocus
                                               ng-click="panelChange(null,'add',selectedIndex, 'Buy');">
                                        <md-icon class="fa fa-plus"></md-icon>
                                        Buy Offer
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>

                </div>

                <div ng-show="(getMyOfferIndex('MyOffers') || getMyOfferIndex('ReceivedOffers'))">
                <view-offer-list ng-show="offers.length>0" hide-xs></view-offer-list>
                <view-offer-cards ng-show="offers.length>0" hide-gt-xs></view-offer-cards>
                </div>
                <div data-ng-controller="OrdersController" data-ng-init="changeSelectionTab(busUnitId,'ReceivedOrders')" ng-show="getMyOfferIndex('ReceivedOrders')">
                    <list-order-table ng-show="orders.length>0" hide-xs></list-order-table>
                    <list-order-cards ng-show="orders.length>0" hide-gt-xs></list-order-cards>
                </div>
                <div ng-show="getMyOfferIndex('contacts')">

                    <view-offer-contact-list ng-show="contactoffers.length>0" hide-xs></view-offer-contact-list>
                    <div ng-show="contactoffers.length===0" layout="row" layout-sm="row" layout-xs="row" layout-wrap layout-align="center center" class="nvc-no-list-illustration">
                        <div flex="15" flex-xs="30" flex-sm="20">
                            <img src="/modules/contacts/img/zero-contacts.png" class="bb-wid-100">
                        </div>
                        <div flex="100" flex-xs="100" flex-sm="100" class="nv-text-center">
                            <h4 class="nv-text-bold">No Companies registered for your contacts</h4>
                        </div>
                    </div>

                </div>
                <div ng-show="getMyOfferIndex('segments')">

                    <view-offer-segment-list ng-show="segmentOffers.length>0" hide-xs></view-offer-segment-list>

                </div>
            </md-content>
        </md-tab>
    </md-tabs>
</div>
</div>
