<div class="bb-height-100 nvc-overflow-auto">
    <div layout="row" layout-padding class="bb-height-100 nvc-padding-top-10 nvc-padding-bottom-10" layout-align="center center">
        <div flex="10" layout="column" class="nvc-white-background bb-height-100 nvc-overflow-auto">
            <div flex="100" layout="row" layout-padding layout-wrap layout-align="start start">
                <div flex="100" ng-repeat="image in images track by $index">
                    <img ng-src="{{image}}" class="bb-wid-100 bb-cursor nvc-accent-border" square-image data-target="#gallerycarousel" data-slide-to="{{$index}}">
                </div>
            </div>
        </div>
        <div flex="75" class="bb-height-100 nvc-white-background nv-position-relative">
            <span class="fa fa-2x fa-times nvc-white-color close-button" ng-click="closeImage()"></span>
            <div class="carousel slide bb-height-100" data-ride="carousel" id="gallerycarousel" data-interval="3000" >
                <div class="carousel-inner bb-height-100">
                    <div class="item bb-wid-100 bb-height-100" ng-repeat="image in images track by $index" ng-class="{ 'active ':$index===index}">
                        <img ng-src="{{image}}" alt="gallery image" class="nvc-margin-auto bb-height-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
