<md-content>
    <div class="container" >
<div class="privacy"><h3><b>PRIVACY POLICY</b></h3></div>
<div class="privacy">
    <p class="description">
        IMPORTANT - PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY BEFORE YOU (HEREAFTER, "you" or "your") ARE PURCHASING, ACCESSING OR USING THE SERVICE ON THE DOMAIN www.nVipani.com, AN INTERNET BASED PORTAL, AND nVipani app, A MOBILE APPLICATION, (HEREAFTER nVipani OR "WE" OR "OUR" OR "US" OR “COMPANY”).
        The domain name www.nvipani.com and nvipani app, a mobile application, is owned and operated by nVipani Technology Solutions Private Limited, a company duly incorporated under the provisions of the Companies Act, 2013. The domain name and the mobile application are collectively referred to as “Website”.
    </p>

    <p class="description">This Privacy Policy is subject to the Terms of Use and Legal
        Disclaimer incorporated therein by reference.</p>
</div>
            <h3 class="description heading">1. Context</h3>
        <div class="privacy">
<h3 class="description heading">1.1 Who is  nVipani?</h3>
<div class="privacy">
    <p class="description"> nVipani Private Limited (“<b>nVipani</b>”) is engaged, inter alia, in the business of providing payment, customer loyalty and retail automation systems to various consumers in India (“<b>Services</b>”).</p>
    <p class="description"> nVipani owns and operates the website, www.nvipani.com- providing details about  nVipani and products offered by it (“<b>Website</b>”). Through the Website, consumers can also request an “instant call back” to know more about the Services by entering his/her name, email address, and phone number.</p>

    <p class="description">Additionally, the Website provides a link to a separate portal (“Portal”) through which payments can be made by the customers.</p>
</div>
    <h3 class="description heading">1.2. What is this Privacy Policy?</h3>
            <div class="privacy">
    <p class="description">
        This privacy policy (“<b>Privacy Policy</b>”) describes  nVipani’ policies and procedures on the collection, use and disclosure of the information provided by the End Users and the Visitors (as defined herein) of the Website (together referred to as the “<b>Users</b>”). nVipani shall not use the Users’ information in any manner except as provided under this Privacy Policy. Every User who accesses or uses the Website shall be bound by this Privacy Policy.
    </p>
            </div>
    <h3 class="description heading">1.3 Why this Privacy Policy?</h3>
            <div class="privacy">
    <p class="description">
        1. This Privacy Policy is published in compliance of:
    </p>
                <div class="subprivacy">
    <p class="description">  a. Section 43A of the Information Technology Act, 2000;
    </p>
    <p class="description">  b. Regulation 4 of the Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Information) Rules, 2011 (“SPI Rules”); and
    </p>
    <p class="description">  c. Regulation 3(1) of the Information Technology (Intermediaries Guidelines) Rules, 2011.</p>

                </div>
            </div>
            <div class="privacy">
    <p class="description">
        2. This Privacy Policy states the following:
    </p>

            <div class="subprivacy">
        <p class="description ">  a. The type of information collected from the Users, including Sensitive Personal Data or Information (as defined herein);</p>
    <p class="description">  b. The purpose, means and modes of usage of such information; and</p>
    <p class="description">  c. How and to whom  nVipani will disclose such information.</p>
            </div>
            </div>
    <h3 class="description heading">1.4 What is Personal Information?</h3>
            <div class="privacy">
    <p class="description">
        1. ‘Personal Information’ is defined under the SPI Rules to mean any information that relates to a natural person, which, either directly or indirectly, in combination with other information available or likely to be available with a body corporate, is capable of identifying such a natural person.

    </p>

    <p class="description">
        2. The SPI Rules further define ‘Sensitive Personal Data or Information’ of a person to mean Personal Information about that person relating to:
    </p>

            <div class="subprivacy">
    <p class="description"> a. Passwords;</p>
    <p class="description"> b. Financial information such as bank accounts, credit and debit card details or other payment instrument details;</p>
    <p class="description"> c. Physical, physiological and mental health condition;</p>
    <p class="description"> d. Sexual orientation;</p>
    <p class="description"> e. Medical records and history;</p>
    <p class="description"> f. Biometric information;</p>
    <p class="description"> g. Information received by body corporates under lawful contract or otherwise;</p>

    <p class="description">  h. User details as provided at the time of registration or thereafter; and
    </p>
    <p class="description">  i. Call data records
    </p>
            </div>

    <p class="description">
        3. Information that is freely available in the public domain or accessible under the Right to Information Act, 2005 or any other law will not be regarded as Sensitive Personal Data or Information.</p>

            </div>
</div>

    </div>

<h3 class="description heading">2. Privacy Statements</h3>
<div class="privacy">
    <h3 class="description heading">2.1 Users Note:</h3>
    <div class="privacy">
    <p class="description">1. This section of the Privacy Policy applies to all the Users.</p>
    <p class="description">2. A condition of each User’s use of and access to the Website by the End Users is his/her/its acceptance of the terms and conditions of use available (“<b>Terms of Use</b>”), which also involves acceptance of the terms of this Privacy Policy.
    </p>
    <p class="description">3. When browsing the Wesbite, a User is not required to provide Personal Information unless and until such User chooses to upload an EMI Linked Invoice or actually provides inputs about his/her Personal Information.</p>
    <p class="description">4. Due to the communications standards on the internet, when a User visits the Website,  nVipani automatically receives the uniform resource locator (URL) of the site from which such User came and the site to which such User is going when he/she/it leaves.  nVipani also receives the internet protocol (“<b>IP</b>”) address of each User’s computer (or the proxy server via which a User accesses the internet), the User’s computer operating system and the type of web browser the User is using, email patterns, as well as the name of User’s internet service provider (ISP). This information is used to analyse overall Users’ trends to help nVipani improve its Service. The linkage between the User’s internet protocol (IP) address and User’s personally identifiable information is not shared with third-parties without such the User’s permission or except when required by law or except where required to provide or facilitate the Service. Notwithstanding the above, the User acknowledges nVipani’ right to share some of the aggregate findings (not the specific data) with advertisers, sponsors, investors, strategic partners, and others in order to help grow its business.</p>
    <p class="description">5. The Website uses temporary cookies to store certain data.  nVipani does not store personally identifiable information in the cookies. Personal Information collected by nVipani, by any means whatsoever, that does not personally identify the User as an individual (such as, patterns of utilization described above) is exclusively owned by nVipani and may be used by  nVipani and service providers who assist  nVipani with the technical administration of the Website, User administration, research and development, business development, statistical analysis and business intelligence purposes (“<b>Third Party Service Providers</b>”). Additionally, nVipani may sell or otherwise transfer such research, statistical or intelligence data in an aggregated or non-personally identifiable form to third parties and affiliates.</p>
    <p class="description">6. A User can set or amend his/her/its web browsers to delete or disable cookies. If a User chooses to disable cookies on his/her/its computer or mobile telecommunication device, it may impair, degrade or restrict access to certain areas of the Website. Merely closing the web browser should ordinarily clear all temporary cookies installed by nVipani. However, Users are encouraged to use the “clear cookies” functionality of their browsers to ensure deletion, as  nVipani cannot guarantee, predict or provide for the behaviour of the equipment of all the Users of the Website.</p>
    <p class="description">7. nVipani may allow other companies or entities to serve advertisements to Users. These companies or entities include third party advertisement servers, advertisement agencies, advertisement technology vendors and research firms.  nVipani may “target” some advertisement to Users that fit a certain general profile.  nVipani does <b>NOT</b> use Personal Information to target advertisement. In the course of serving advertisements or optimizing the Service to its Users, nVipani may allow authorized third parties to place or recognize a unique cookie on the User’s browser.
    </p>
    <p class="description">8. This Privacy Policy applies to the Website operated by nVipani.  nVipani does not exercise control over the Website displayed as search results or links from within its Website. These other sites may place their own cookies or other files on the Users’ computer, collect data or solicit Personal Information from the Users, for which nVipani is not responsible or liable. Accordingly, nVipani does not make any representations concerning the privacy practices or policies of such third parties or terms of use of such Website, nor does nVipani guarantee the accuracy, integrity, or quality of the information, data, text, software, sound, photographs, graphics, videos, messages or other materials available on such Website. The inclusion or exclusion does not imply any endorsement by nVipani of such Website, the Website’ provider, or the information on the website.  nVipani encourages the Users to read the privacy policies of such Website.
    </p>
    <p class="description">9. nVipani may keep records of Personal Information received from the Users as well as the telephone calls received from and made to the Users for the purpose of (i) administration of the Website, (ii) rectifying any erroneous EMI Linked Invoice that may have been uploaded (iii) research and development, (iv) business development, (v) using such Personal Information to contact the User to provide details about the Services or (v) for User administration.
    </p>
    <p class="description">10. nVipani does not collect information about the Users of the Website from other sources, such as public records or bodies, or private organisations, save and except for the purposes of registration of the End Users.</p>
    <p class="description">11. nVipani may choose to conduct contests, feedbacks, and surveys to collect relevant information about the Users’ preferences. These surveys and contests are optional and if the User chooses to respond, his/her/its responses will be kept anonymous. The demographic information that the User provides in the registration process and through any surveys or contests is used to help  nVipani improve its services to meet the needs and preferences of the Users.</p>
    <p class="description">12. nVipani does not knowingly collect Personal Information from children (only persons above the aged of 18 (eighteen) will be permitted to use the Website as provided in the Terms of Use)</p>

    <p class="description">13. nVipani has implemented industry standard security policies, rules and technical measures to protect the Personal Information that it has under its control from unauthorised access, improper use or disclosure, unauthorised modification and unlawful destruction or accidental loss. <b> It is expressly stated that  nVipani shall not be responsible for any breach of security or for any actions of any third parties that receive the Users’ personal data or events that are beyond the reasonable control of  nVipani including, acts of government, computer hacking, unauthorized access to computer data and storage device, computer crashes, breach of security and encryption, etc.</b></p>
    <p class="description">14. nVipani will not disclose any Personal Information to governmental institutions or authorities unless such disclosure is requisitioned under any law or judicial decree or when  nVipani, in its sole discretion, deems it necessary in order to protect its rights or the rights of others, to prevent harm to persons or property, to fight fraud and credit risk, or to enforce or apply the Terms of Use.
    </p>
    <p class="description">15. nVipani may share/use Personal Information provided by the Users with its subsidiaries and Third Party Service Providers for the purposes of, (i) enabling the Users to enjoy the Services, (ii) contacting a User and (iii) detecting and preventing identity theft, fraud and other potentially illegal acts.</p>
    <p class="description">16. nVipani may also disclose or transfer the Personal Information provided by the Users, to any third party as part of reorganization or a sale of the assets of a  nVipani corporation division or company. Any third party to which  nVipani transfers or sells its assets will have the right to continue to use the Personal Information and other information that the Users provide to  nVipani.</p>
    <p class="description">17. All  nVipani employees and data processors, who have access to, and are associated with the processing of Sensitive Personal Data or Information provided by the Users, are obliged to respect the confidentiality of every User’s Personal Information.</p>
    <p class="description">18.  nVipani shall address any discrepancies and grievances of all the Users with respect to processing of information in a time bound manner. For this purpose,  nVipani has designated <<>>> as the ‘grievance officers’, who will redress the grievances of the Users expeditiously but in any event within 1 (one) month  from the date of receipt of grievance, and who can be reached by:</p>
        <div class="subprivacy">
        <p class="description">a. sending a letter marked to the attention of: <<>></p>

    <p class="description">b. Sending an email to <<>>>.</p>
        </div>
    <p class="description">19. The Users acknowledge that this Privacy Policy is part of the Terms of Use and unconditionally agree that becoming a User of the Website signifies their assent to this Privacy Policy. The User’s visit to the Website and any dispute over privacy is subject to this Privacy Policy and Terms of Use.  nVipani may update this privacy policy at any time, with or without advance notice. In the event there are significant changes in the way  nVipani treats User’s personally identifiable information,  nVipani will display a notice on the Website or send the Users an email, as provided for above. If a User uses the Website after notice of changes have been sent to such User or published on the Website, such User hereby provides his/her/its consent to the changed practices.</p>

    </div>

    <h3 class="description heading">2.2 Visitors Note:</h3>
        <div class="subprivacy">
    <p class="description">1. No Sensitive Personal Data or Information is automatically collected by  nVipani from any visitors of the Website who are merely perusing or browsing the Website (“<b>Visitor</b>”).</p>
    <p class="description">2. Nevertheless, certain provisions of this Privacy Policy are applicable to Visitors, and Visitors are also required to read and understand the privacy statements set out herein, failing which they are required to leave the Website immediately.</p>
    <p class="description">3. A User will not merely be a Visitor if the User has willingly submitted any personal data or Personal Information (including phone numbers, email IDs, responses to surveys, etc.) to  nVipani through any means, including email, post, telephone calls, telephonic messaging or through the registration process on the Website. All such visitors will be deemed to be, and will be treated as, the End Users for the purposes of this Privacy Policy, and in which case, all the statements in this privacy policy apply to the User.</p>
    <p class="description">4. If you, as a Visitor, have inadvertently browsed any other pages of the Website prior to reading the privacy statements set out herein, and you do not agree with the manner in which information is obtained, stored or used, merely quitting this browser application should ordinarily clear all temporary cookies installed by  nVipani. All visitors, however, are encouraged to use the “clear cookies” functionality of their browsers to ensure such clearing / deletion, as  nVipani cannot guarantee, predict or provide for the behaviour of the equipment of all the visitors of the Website.</p>

        </div>
    <h3 class="description heading">2.3 End User Note:</h3>
        <div class="subprivacy">
    <p class="description">1. All the statements in this Privacy Policy apply to all the End Users, and all the End Users are therefore required to read and understand the privacy statements set out herein prior to submitting any Sensitive Personal Data or Information to nVipani, failing which they shall be required to leave the Website.</p>

    <p class="description">2. nVipani may collect such the End Users’ credit card numbers and/or other financial institution information such as bank account numbers and may use that information for payment processing purposes, including but not limited to the use and disclosure of such credit card number and information to third parties and Third party Service Providers as necessary to provide the Services.</p>

    <p class="description">3. The End User acknowledges that all the information provided to nVipani by the End User, including Personal Information, is voluntary. The End User has the right to withdraw his/her/its consent at any time, in accordance with the terms of this Privacy Policy and the Terms of Use, but please note that withdrawal of consent will not be retroactive.</p>
    <p class="description">4. If an End User has inadvertently submitted any information to nVipani prior to reading this Privacy Policy, and does not agree with the manner in which such information is collected, stored, or used, then the End User may delete his/her/its account and unsubscribe from the Services. If the End User updates any of his/her/its information, nVipani may keep a copy of the information which such End User originally provided to nVipani in its archives for uses documented herein.  nVipani takes the End Users’ rights seriously and encourages the End User to use them if the End User deems this to be appropriate. The End User may exercise these rights by emailing nVipani at <<>>.</p>
    <p class="description">5.  nVipani may communicate with the End Users through emails, notices posted on the Website, text, and other forms of messaging. An End User can change his/her/its password at any time by logging into their account on the Website and changing their account settings.</p>
    <p class="description">6. The End Users’ personally identifiable information they choose to provide on the Website is used to help the Users describe / identify themselves, including but not limited to, collecting feedback regarding the Services on the Website. Additionally, nVipani may choose to conduct contests, feedbacks, and surveys to collect relevant information about the End Users' preferences. These surveys and contests are optional and if an End User chooses to respond, his/her/its responses will be kept anonymous. The demographic information that nVipani collects in the registration process and through any surveys, feedbacks, or contests is used to help  nVipani improve its Service to meet the needs and preferences of the End Users.</p>
    <p class="description">7. The End User may, at his/her/its discretion, provide feedback to  nVipani concerning the functionality and the performance of the Website, the Services or any other products and services of  nVipani from time to time, including without limitation, providing suggestions, or identifying potential errors, improvements, modifications, bug fixes, or enhancements (“<b>Feedback</b>”). If the End User, through the Feedback page located at <<>> or otherwise, suggests any Feedback, the End User shall hereby be deemed to grant to  nVipani a nonexclusive, worldwide, perpetual, irrevocable, royalty-free, sub-licensable right and license to make, use, sell, sublicense, reproduce, distribute, perform, display, prepare derivative works from and otherwise exploit all such Feedback and materials for any purpose without restriction. The End User agrees that  nVipani may disclose any Feedback to any third party in any manner and that  nVipani has the ability to sublicense all Feedback in any form to any third party without any restriction. By submitting any Feedback, the End User agrees that the disclosure is gratuitous, unsolicited and without restriction and will not place  nVipani under any fiduciary or other obligation, and that  nVipani is free to use any Feedback without any additional compensation to the End User, and/or to disclose any Feedback on a non-confidential basis or otherwise to any third party. The End User further acknowledges that, by acceptance of any Feedback,  nVipani does not waive any rights to use similar or related ideas previously known to  nVipani, or developed by its employees, or obtained from sources other than the End User. The End User also acknowledges that  nVipani may use any Feedback to communicate with the End User and send updates on the End User’s Feedback.</p>
        </div>
        </div>
    </div>

<h3 class="description heading">3. Registration Process</h3>
<div class="privacy">
    <p class="description">3.1. As part of the registration process, nVipani may collect the following Personal Information from the End Users (i) name, (ii) gender, (iii) age, (iv) contact information including locations including home address and office address, email address and mobile number, (v) password chosen by the End User, (vi) demographic information such as postal code, preferences, interests, etc. (vii) information regarding type of cell phone used, and (viii) other information as the End User may provide.
    </p>
    <p class="description">3.2. This information specified in clause 3.1 above is collected on the registration form for several reasons including but not limited to, (i) personal identification, (ii) to allow  nVipani to contact the User for customer service and business development purposes, (iii) to customize the content of the Website to meet specific needs of the End User, and/or (v) to make improvements to the Website.</p>
    <p class="description">3.3. In addition, the email address provided by the End User will be used to confirm his/her/its new registration and each transaction that is initiated. As a member of  nVipani, the End User may also receive updates about special offers, new services, and other noteworthy events. However, the User may, at any time, choose to no longer receive such types of emails. For further details, please refer to the Clause 4 of this Privacy Policy.</p>
</div>
<h3 class="description heading">4. Access of Information</h3>
<div class="privacy">
    <p class="description">4.1.All the information provided by the End Users (“<b>End User Information</b>”) is maintained by  nVipani in electronic form on online severs/clouds systems and shall be accessible by certain employees of  nVipani as mentioned below.  The End User Information may also be converted to physical form from time to time. Regardless of the manner of storage,  nVipani will keep all End User Information confidential, and will only disclose End User Information to the persons mentioned below:</p>
    <div class="subprivacy">
    <p class="description">a. Its employees on a need-to-know basis. All  nVipani employees and data processors, who have access to, and are associated with the processing of Sensitive Personal Data or Information, are obliged to respect the confidentiality of every End User’s Sensitive Personal Data or Information.</p>
    <p class="description">b. Third Party Service Providers to the extent necessary to provide the End Users with the Service.  nVipani may provide the Personal Information to Third Party Service Providers who work on behalf of or with  nVipani to provide the End Users with the Service, to help  nVipani communicate with the End Users or to maintain the Website. Generally the Third Party Service Providers do not have any independent right to share this information, however certain service providers who provide services on the Website, including the providers of online communications services, will have rights to use and disclose the Personal Information collected in connection with the provision of these services in accordance with their own privacy policies.</p>
    <p class="description">c. Notwithstanding the above,  nVipani shall not be responsible for any breach of security or for any actions of any third parties that receive the Users’ personal data or events that are beyond the reasonable control of  nVipani including, acts of government, computer hacking, unauthorised access to computer data and storage device, computer crashes, breach of security and encryption, etc.</p>
    </div>
    </div>
<h3 class="description heading">5.Opt-out Policy</h3>
<div class="privacy">
    <p class="description">5.1.The subsidiaries and Third Party Service Providers with whom  nVipani may share Personal Information provided by the Users are not permitted to market their own services or send promotional e-mails to the Users.  nVipani provides all the Users with the opportunity to opt-out of receiving non-essential, promotional, or marketing-related communication from itself or its partners. These settings can be found on the Website or will be informed separately by nVipani.
    </p>
    <p class="description">5.2 If a User wishes to remove his/her/its contact information from all  nVipani lists and newsletters, the User can click on the “unsubscribe” link or follow the instructions in each e-mail message. Alternatively, the User can contact nVipani at <<>>>.  nVipani reserves the right to limit membership based on availability of contact information. All the Users will be notified by email prior to any actions taken.</p>
</div>

</section>
    </div>
</md-content>
