<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right" layout-fill>
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Sidenav Right</h1>
    </md-toolbar>
    <md-content layout-padding data-ng-controller="HeaderController" hide-gt-md>



        <!--<ul class="nav navbar-nav" data-ng-if="headermenu.shouldRender(!authentication.user);">-->
            <!--<li data-ng-repeat="item in headermenu.items | orderBy: 'position'"  ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="nav-item" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'" ng-if="item.isPublic!=null && item.isPublic==true">-->
                <!--<a href=""  ng-switch-when="dropdown " class="dropdown-toggle dispay-shadow-none upper" data-toggle="dropdown" data-hover="dropdown">-->
                    <!--{{item.title}}-->
                    <!--<b class="caret"></b>-->
                <!--</a>-->
                <!--<ul ng-switch-when="dropdown" class="dropdown-menu dispay-shadow-none dropdown-home">-->
                    <!--<li data-ng-repeat="subitem in item.items | orderBy: 'position'"  ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">-->
        <!--<a href="/{{subitem.link}}" data-ng-bind="subitem.title"></a>-->
                    <!--</li>-->
                <!--</ul>-->
        <!--<a class="upper" ng-switch-default href="/{{item.link}}" data-ng-bind="item.title" class="dispay-shadow-none"></a>-->
            <!--</li>-->
            <!--&lt;!&ndash;<li class="nav-item nav-item-cta last">-->
        <!--<a class=" upper" href="/register">Register</a>-->
            <!--</li>&ndash;&gt;-->
        <!--</ul>-->

        <div data-ng-hide="authentication.user">
           <md-list>
               <md-list-item data-ng-repeat="item in headermenu.items | orderBy: 'position'"
                             ng-if="item.isPublic!=null && item.isPublic==true" href='{{item.uiRoute}}'
                             ng-click="closeright()" class="noright">

                   <p>{{item.title}}</p>
                   <!--<md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>-->

                   <md-divider></md-divider>

                    <md-list>
                        <md-list-item data-ng-repeat="subitem in item.items | orderBy: 'position'"
                                      href='{{subitem.uiRoute}}'>
                              <p>{{subitem.title}}</p>
                              <md-divider></md-divider>
                          </md-list-item>
                    </md-list>
               </md-list-item >
           </md-list>
        </div>

        <!--<md-list-item class="md-2-line" data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}">-->


            <!--<div class="md-list-item-text">-->
                <!--<h3> {{item.title}} </h3>-->

            <!--</div>-->

            <!--<md-divider ></md-divider>-->
        <!--</md-list-item>-->
        <div data-ng-hide="!authentication.user">
        <div layout="row" layout-align="center center">
        <img alt="{{authentication.user.displayName}}" ng-src="{{authentication.user.profileImageURL}}" class="md-avatar md-prof-img" />
        </div>
        <md-list>

            <md-subheader class="md-no-sticky">{{authentication.user.displayName}}</md-subheader>
            <md-list-item data-ng-repeat="item in menu.items | orderBy: 'position'"
                          data-ng-if="item.shouldRender(authentication.user);" href='{{item.uiRoute}}'
                          ng-click="closeright()" class="noright">

                <p>{{item.title}}</p>
                <!--<md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>-->
                <md-icon md-svg-icon="communication:email"  ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3" ></md-icon>
                <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>

                <md-divider></md-divider>
            </md-list-item >

            <md-subheader  class="md-no-sticky">Profile</md-subheader>

            <md-list-item   ng-click="changeUrl('settings/editmybusiness');closeright()" class="noright">

                <p>MyProfile</p>
                <span class="glyphicon glyphicon-lock"></span>
                <!--<md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>-->
                <md-divider></md-divider>
            </md-list-item>
            <md-list-item  ng-click="changeUrl('settings/password');closeright()" class="noright">

                <p>Change Password</p>
                <span class="fa fa-pencil"></span>
                <!--<md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>-->
                <md-divider></md-divider>
            </md-list-item>
            <md-list-item ng-click="signout();closeright()" class="noright">

                <p>Logout</p>
                <span class="fa fa-sign-out"></span>
                <!--<md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>-->
                <md-divider></md-divider>
            </md-list-item>

        </md-list>
        </div>



        <md-button ng-click="closeright()" class="md-primary">
            Close Sidenav Right
        </md-button>
    </md-content>


    <md-content layout-padding ng-controller="HeaderController">
        <md-list data-ng-init="findNotifications();">
        <md-subheader class="md-no-sticky">You have {{notifications.length}} New Notifications</md-subheader>
        <md-divider></md-divider>

            <md-list-item class="md-2-line" ng-repeat="notification in notifications"
                          ng-click="changeUrlNotification(notification);closeright();"
                          href="{{(notification.type === 'Offer' || notification.type === 'OfferComment' || notification.type  ==='OfferStatus')?'offers/'+notification.source.offer:'orders/'+notification.source.order}}">
                <md-icon class="fa fa-gift f20 notifi"></md-icon>
                <div class="md-list-item-text">
                    <!--<h3>{{ todos[0].who }}</h3>-->
                    <p>{{notification.title}}</p>
                </div>
                <md-divider></md-divider>
            </md-list-item>

        <!--<md-list-item class="md-3-line md-long-text" ng-repeat="notification in notifications">-->
            <!--<md-icon class="fa fa-gift f20"></md-icon>-->
            <!--<div class="">-->
                <!--<h3>{{notification.title}}</h3>-->
                <!--&lt;!&ndash;<p>&ndash;&gt;-->
                    <!--&lt;!&ndash;Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.&ndash;&gt;-->
                    <!--&lt;!&ndash;Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum&ndash;&gt;-->
                    <!--&lt;!&ndash;velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.&ndash;&gt;-->
                <!--&lt;!&ndash;</p>&ndash;&gt;-->
            <!--</div>-->
        <!--</md-list-item>-->
        </md-list>


    </md-content>

</md-sidenav>
