<div data-ng-controller="AuthenticationController" data-ng-init="init();panelChange('');">
    <div layout="row" layout-sm="row" scroll layout-xs="row" class="nvc-display-table" layout-wrap ng-show="!authentication.user">
        <div class="nvc-panel1" flex="100" flex-xs="100" flex-sm="100">

    </div>
        <div class="nvc-panel2 nvc-panel2-logo" flex="100" layout-wrap >
            <div layout="row" layout-align="space-between center">
                <div flex="25">
            <img class="nvc-panel2-logo-img" src="modules/core/img/nvc-img/nvipani-logo.png">
            </div>
        <div flex="75" class="nvc-panel2-text">
            <p>
            nVipani is engaged in organizing and optimizing the agricultural,
            and related products-supply chain to create a smarter and safer
            agri-business operation for all stake holders across India.
            We integrate agri-business sectors with sample mediation,
            logistics and warehouse management across Rural India and
            collaborate with different banking and insurance services.
            Our robust platform with our participants has in-built traceability
            system and has been always ensured with quality,
            increased profits by reducing losses and a highly devoted customer satisfaction.</p></div>
        </div>
        </div>
        <div class="nvc-panel3" flex="100">
        <h1>" Your Ethical Agri Partnership "</h1>
        <img src="modules/core/img/nvc-img/supply.png">
    </div>
        <div class="nvc-panel4" flex="100">
            <div class="nvc-features-table1" hide-xs>
            <h1>
                Everything<br>
                you need<br>
                for your<br>
                business
            </h1>
            </div>
            <div class="nvc-features-table1" hide-lg hide-gt-lg hide-sm hide-md>
                <h1 show-xs> Everything you need for your business</h1>
            </div>
            <div class="nvc-features-table2">
                <div class="nvc-features-inner">
                    <h1>FEATURES
            </h1>
                    <div layout="row" layout-padding layout-align="center center" layout-wrap>
                        <div flex="30" flex-xs="50" id="element-to-animate">
                        <img src="modules/core/img/nvc-img/order.png">
                        </div>
                        <div flex="70" flex-xs="100" class="nvc-features-inner-block">
                            <div>
                        <h2>Order Management</h2>
                            <p>we streamline, educate and measure our OMS which helps you determine
                                exactly where you can reduce labour and work more economically across the supply chain.
                                We offer scalable service to offer you a one stop omnichannel solution.</p>
                            </div>
                        </div>
                    </div>
                    <div layout="row" layout-padding layout-align="center center" layout-wrap>
                        <div flex="70" flex-xs="100" class="nvc-features-inner-block first">
                            <div>
                        <h2>Offer Management</h2>
                            <p>
                                Accelerate your sales at an initial blending point with us, Reach out
                                to new customers around nook and corner of the country. nVipani offers a
                                scalable tool designed to facilitate the entire process of management by making
                                it more efficient, adjusting to each situation and each customer’s priorities.
                            </p>
                            </div>
                        </div>
                        <div flex="30" flex-xs="50" class="second">
                            <img src="modules/core/img/nvc-img/offer.png">
                        </div>
                    </div>
                    <div layout="row" layout-padding layout-align="center center" layout-wrap>
                        <div flex="30" flex-xs="50">
                            <img src="modules/core/img/nvc-img/inventory.png">
                        </div>
                        <div flex="70" flex-xs="100" class="nvc-features-inner-block">
                            <div>
                                <h2>Inventory Management</h2>
                                <p>We have minimised stock levels whilst still being able to fully operate and meet demand.
                                    The basic element is again the data managing system from which you retrieve the relevant
                                    data for the process. Feel the liveliness of your inventories with our auto updates,
                                    notifications of orders and more.</p>
                            </div>
                        </div>
                    </div>
                    <div layout="row" layout-padding layout-align="center center" layout-wrap>
                        <div flex="70" flex-xs="100" class="nvc-features-inner-block first">
                            <div>
                            <h2>Sample Mediation</h2>
                            <p>We provide you an innovative sample standardisation and sample testing for your commodities anywhere.
                                And also providing a complete range of services to ensure the quality and quantity of your product.
                            </p>
                            </div>
                        </div>
                        <div flex="30" flex-xs="50" class="second">
                            <img src="modules/core/img/nvc-img/mediation.png">
                        </div>
                    </div>
                    <div layout="row" layout-padding layout-align="center center" layout-wrap>
                        <div flex="30" flex-xs="50">
                            <img src="modules/core/img/nvc-img/logistics.png">
                        </div>
                        <div flex="70" flex-xs="100" class="nvc-features-inner-block">
                            <div>
                                <h2>Logistics & Tracking</h2>
                                <p>Our system helps you to manage orders, Inventories, Customer orders, Processes and Dispatches
                                    to provide traceability across supply chain based on market eligibility and customer specification.
                                    Make desired changes to the instances, and that can verify the successes in the system by means of reporting.
                                </p>
                            </div>
                        </div>
                    </div>
            </div>
            </div>
        </div>
        <div class="nvc-panel5" flex="100">
            <h1>VALUE</h1>
            <h2>
                Through integration of banking, Insurance & Certificate agencies
            </h2>
            <div layout="row" class="nvc-panel5-value">
                <div flex="30">
                <h3>Banking</h3>
                </div>
                <div flex="40">
                <img src="modules/core/img/nvc-img/Value.png">
                </div>
                <dvi flex="30">
                <h4>Insurance</h4>
                </dvi>
            </div>
        </div>
        <div class="nvc-panel6" flex="100">
            <h1>WHY US</h1>
            <p>nVipanirevolutionaries agri-buissiness supply chain by enabling them to say connected
            on air and ensuring that customers take advantage of real time data and insight of their business.
            Afraid of using softwares in supply chain we're all ears and eager to help you at any time. After
            a lot of time driving lessons, ideas were taken out of hands and put up into a software
            that translates your pain points into things getting done mode.</p>
            <div class="nvc-display-flex"><img src="modules/core/img/nvc-img/3 people.png"></div>
        </div>
        <div class="nvc-panel7" flex="100">
            <div class="nvc-panel7-background">
            <img src="modules/core/img/nvc-img/Explore2.png">
                <md-button class="nvc-panel7-button mad-raised md-primary">Try Now</md-button>
            </div>
        </div>
        <div class="nvc-panel8" flex="100">
            <video autoplay control="false" loop>
            <source src="modules/core/img/nvc-img/company.mp4" type="video/mp4">
            </video>
        </div>
        <div class="nvc-panel9" flex="100">
            <h1>Testimonials</h1>
            <div class="nvc-display-flex">
                <img src="modules/core/img/nvc-img/testimonial.png">
            </div>
            <div class="nvc-panel9-text">
                <div id="text-carousel" class="carousel slide text-carousel" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="row">
                        <div>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="carousel-content">
                                        <div>
                                            <p>"Why I just stay at nVipani's you don't want to have reminders at all. The beauty is in its
                                            own B2B platform it stands out by serving all our suppliers troubles efficiently."</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="carousel-content">
                                        <div>
                                            <p>"Why I just stay at nVipani's you don't want to have reminders at all. The beauty is in its
                                                own B2B platform it stands out by serving all our suppliers troubles efficiently."</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="carousel-content">
                                        <div>
                                            <p>"Why I just stay at nVipani's you don't want to have reminders at all. The beauty is in its
                                                own B2B platform it stands out by serving all our suppliers troubles efficiently."</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Controls --> <a class="left carousel-control" href="#text-carousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                    <a class="right carousel-control" href="#text-carousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>

                </div>

            </div>
        </div>
        <footer data-ng-hide="authentication.user" data-ng-include="'/modules/core/views/footerc.client.view.html'"></footer>
    </div>
    <register ng-if="authentication.user"></register>
</div>
