    <div data-ng-controller="AuthenticationController" data-ng-init="init();panelChange('');">
    <md-content class="bb-hide-overflow"  ng-show="authentication.user" ng-init="dashboardData();" ng-cloak>
        <div class="bb-firsec-bg" layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row"
             layout-gt-lg="row" layout-wrap>
        <md-card flex="50" flex-xs="100" flex-sm="100" flex-gt-lg="50">
           <h2 class="md-title">Notifications {{notifications.length>0 ?'( '+notifications.length+' )':''}}</h2>
            <md-divider></md-divider>
            <div class="bb-notif-scroll">

                <div class="bb-nodata" data-ng-show="notifications.length===0">
                    <p >No Notifications</p>
                </div>


                <md-card ng-repeat="notification in notifications">

                    <md-list-item class="md-2-line"
                                  ng-click="clearNotifications(notification)">
                        <md-icon class="bb-f20"
                                 ng-class="{'fa fa-gift': notification.type === 'Offer','fa fa-file-o': notification.type === 'Order', 'fa fa-list-o': notification.type === 'OfferComment'}"></md-icon>
                    <div class="md-list-item-text" layout="column">

                        <!--<h3>{{orderMessage.user.displayName}}</h3>-->
                        <p class="bb-p-cust">{{notification.title}}</p>
                        <h4><small>{{notification.created | date:'medium'}}</small></h4>


                    </div>
                        <!--<md-divider></md-divider>-->
                </md-list-item>
                </md-card>


            </div>


        </md-card>
        <!--<md-divider></md-divider>-->
        <md-card flex="49" flex-xs="100" flex-sm="100" flex-gt-lg="49">
            <h2 class="md-title">To Do List {{(todos.length>0 ?'( '+todos.length+' )':'')}}</h2>
            <md-divider></md-divider>

            <div class="bb-notif-scroll">
                <div class="bb-nodata" data-ng-show="todos.length===0">
                    <p >No To Do List</p>
                </div>

                <md-list flex>
                    <md-card ng-repeat="todo in todos">
                        <md-list-item class="md-2-line" href="#!/orders/{{todo.source.order}}">
                            <md-icon class="bb-f20 fa fa-tasks"></md-icon>
                        <div class="md-list-item-text" layout="column">

                            <!--<h3>{{orderMessage.user.displayName}}</h3>-->
                            <p class="bb-p-cust">{{todo.title}}</p>
                            <h4><small>{{todo.created | date:'medium'}}</small></h4>


                        </div>
                            <!--<md-divider></md-divider>-->
                    </md-list-item>
                    </md-card>
                </md-list>

            </div>

        </md-card>
    </div>

    <div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>

        <md-card flex="50" flex-xs="100" flex-sm="100" flex-gt-lg="50" data-ng-controller="HomeController">
            <h2 class="md-title">Order Summary</h2>
            <md-divider></md-divider>


            <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
                 layout-wrap>
                <md-card flex="40" flex-xs="100" flex-sm="40" flex-gt-lg="40">
                <md-card>
                    <md-list-item md-no-ink ng-class="{'bb-md-list-arrow': tag==='New'}" ng-click="changeType('New')">
                        New {{(orders|filter:{summaryCategory:'New'})[0].orderDetails.length>0 ?'( '+(orders|filter:{summaryCategory:'New'})[0].orderDetails.length+' )':''}}

                    </md-list-item>
                    <md-list-item md-no-ink ng-class="{'bb-md-list-arrow': tag==='Disputed'}"
                                  ng-click="changeType('Disputed')">Disputed
                        {{(orders|filter:{summaryCategory:'Disputed'})[0].orderDetails.length>0 ?'( '+(orders|filter:{summaryCategory:'Disputed'})[0].orderDetails.length+' )':''}}


                   </md-list-item>
                    <md-list-item md-no-ink ng-class="{'bb-md-list-arrow': tag==='PaymentPending'}"
                                  ng-click="changeType('PaymentPending')">Payment Over Due
                        {{(orders|filter:{summaryCategory:'PaymentPending'})[0].orderDetails.length>0 ?'( '+(orders|filter:{summaryCategory:'PaymentPending'})[0].orderDetails.length+' )':''}}

                   </md-list-item>
                    <md-list-item md-no-ink ng-class="{'bb-md-list-arrow': tag==='DeliveryPending'}"
                                  ng-click="changeType('DeliveryPending')">Delivery Pending
                        {{(orders|filter:{summaryCategory:'DeliveryPending'})[0].orderDetails.length>0 ?'( '+(orders|filter:{summaryCategory:'DeliveryPending'})[0].orderDetails.length+' )':''}}

                   </md-list-item>
                    <md-list-item md-no-ink ng-class="{'bb-md-list-arrow': tag==='Delivered'}"
                                  ng-click="changeType('Delivered')">Delivered
                        {{(orders|filter:{summaryCategory:'Delivered'})[0].orderDetails.length>0 ?'( '+(orders|filter:{summaryCategory:'Delivered'})[0].orderDetails.length+' )':''}}

                   </md-list-item>
                </md-card>
                </md-card>
                <md-card class="bb-order-summary" flex="59" flex-xs="100" flex-sm="59" flex-gt-lg="59">
                    <div data-ng-repeat="order in orders | filter:{summaryCategory:tag}"
                         class='bb-order-summary-scroll'>
                            <md-card ng-repeat="orderDetail in order.orderDetails">
                                <md-list-item href="#!/orders/{{orderDetail.id}}" md-ink-ripple>
                                    <div>
                                        <div>
                                            <span class="bb-p-cust">Order Number:</span>
                                            <span>{{orderDetail.orderNumber}}</span>
                                        </div>
                                        <div>
                                            <span class="bb-p-cust">Total Amount:</span>
                                            <span> {{orderDetail.totalAmount |currency:'&#8377; '}}</span>
                                            </div>
                                        <p class="bb-p-cust">
                                            <small>{{orderDetail.created | date:'medium'}}</small>
                                       </p>
                                    </div>
                                </md-list-item>

                            </md-card>
                    </div>
                    <div class="bb-nodata" ng-show="(orders | filter:{summaryCategory:tag})[0].orderDetails.length==0">
                        <p>No {{tag}} Orders</p>
                    </div>
                </md-card>
            </div>


        </md-card>
        <div flex="25">
            <md-button href="#!/businesssegments">Segments</md-button>
        </div>
      <!--  <md-card flex="49" data-ng-controller="InventoriesController">
            <categoryselect></categoryselect>
        </md-card>-->
        <!--<md-divider></md-divider>-->
        <!--<div flex="50" flex-xs="100">


        </div>-->
    </div>

        <div class="bb-firsec-bg" layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="column"
             layout-gt-lg="row" layout-wrap>

        <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
            <h2 class="md-title">Products</h2>
            <md-divider></md-divider>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="{{category.name}} {{category.children.length
                                    > 0?'( '+category.children.length+' )':''}}" ng-repeat="category in offers | orderBy:'name'">
                    <md-content class="md-padding">
                        <div class="row-horizon bb-p-top15">

                            <!--<div  layout="row" layout-xs="column" layout-sm="column" layout-wrap>-->
                                <!--<div class="pop" flex="20" flex-xs="100" ng-repeat="child in category.children">-->
                                    <!--<img data-ng-src={{child.categoryImageURL1}} class="img-responsive img-center p-img-fix"-->
                                         <!--alt="">-->
                                    <!---->
                                <!--</div>-->


                            <!--</div>-->

                            <!-- <div class="DocumentList">
                                 <ul class="list-inline">
                                     <li class="DocumentItem ad-pop" data-ng-repeat="child in category.children">
                                         <a
                                                 href="#!/categories/{{child._id}}">
                                             <img data-ng-src="{{child.categoryImageURL1}}" class="p-img-fix img-center"
                                                  alt=""></a>
                                         <p class="text-center"><strong>{{child.name}}</strong></p>
                                     </li>

                                 </ul>
                             </div> -->

                            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 bb-pop-less"
                                 data-ng-repeat="child in category.children | orderBy:'name'"><a
                                    href="#!/categories/{{child._id}}">
                                <img data-ng-src="{{child.categoryImageURL1}}"
                                     class="img-responsive  bb-img-center bb-prod-img-fix"
                                     alt=""></a><!--o-img-fix-->
                                <p class="text-center"><strong>{{child.name}} {{child.children.length
                                    > 0?'( '+child.children.length+' )':''}}</strong></p>
                            </div>

                        </div>
                    </md-content>
                </md-tab>

            </md-tabs>


        </div>

    </div>
</md-content>
    <!--No Use Code-->
  <!--<div data-ng-hide="authentication.user">
      <div class="bb-login-bg"  layout="row" layout-xs='row' layout-xs="column" layout-sm="row"
           layout-gt-lg="row" layout-wrap
           ng-show="(path==='/signin' || '/') && path!=='/register' && (!path.startsWith('/enterotp/') && !path.startsWith('/resendotp'))">

        <div hide-xs flex="path==='/signin' ? 75 :100" flex-xs="100" flex-sm="path==='/signin' ? 75 :100" flex-gt-lg="100">
    <div  layout="column" layout-xs='column' layout-xs="row" layout-sm="row" layout-gt-lg="column" layout-wrap>

    <div flex="100" class="bb-login-slide bb-bg-slider-wrapper md-whiteframe-3dp"  data-ng-controller="HomeController">
        <div class="flexslider" flex-slider>
            <ul class="slides">
               <li class="slide bb-slide-0">
                   <div class="nv-flex-content"></div>
               </li>
                <li class="slide bb-slide-1"></li>
                    <li class="slide bb-slide-2"></li>
                    <li class="slide bb-slide-3">
                        <div class="nv-flex-content">
                            <div layout="row" layout-padding>
                                <div flex="40" class="nv-flex-content-text">
                                    <h1>BUSINESS AUTOMATION</h1>
                                    <h2>Automate your Business Process</h2>
                                </div>
                                <div flex="60" >
                                    <img  src="modules/core/img/nvipani/BA-Animation.gif" alt="Business Automation">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="slide bb-slide-4"></li>
                </ul>
            </div>
            &lt;!&ndash;<div class="flexslider" flex-slider>
                <ul class="slides">
                    <li class="slide bb-slide-1"><h1 class="bb-slidertext container">
                        <div class="row">
                        <div class="col-md-7 col-md-push-5 col-sm-8 col-sm-push-1 col-sm-push-5">
                            &lt;!&ndash;<div class="col-md-8 col-md-offset-2 text-center">
                            <div class="fh5co-owl-text-wrap">
                                <div class="fh5co-owl-text">
                                    <h1 class="fh5co-lead to-animate">Commit to Summit your Business</h1>
                                    <h2 class="fh5co-sub-lead to-animate">Enhance Profit, Reduce Losses and Scale your Business</h2>
                                    <p class="to-animate-2">Download Brochure</p>
                                </div>
                            </div>
                        </div>
                    </div></h1></li>
                    <li class="slide bb-slide-2">
                        <h1 class="bb-slidertext container">
                            <div class="col-md-5 col-sm-5">
                            <div class="fh5co-owl-text-wrap">
                                <div class="fh5co-owl-text">
                                    <h1 class="fh5co-lead to-animate">B2B Marketplace for Agriculture space</h1>
                                    <h2 class="fh5co-sub-lead to-animate">Optimized, profitable business operations along with your partners</h2>
                                    <p class="to-animate-2"><a href="#" class="btn btn-primary btn-lg">Learn More</a></p>
                                </div>
                            </div>
                        </div></h1></li>
                    <li class="slide bb-slide-3"><h1 class="bb-slidertext container"><div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="fh5co-owl-text-wrap">
                                <div class="fh5co-owl-text">
                                    <h1 class="fh5co-lead to-animate">Business Automation</h1>
                                    <h2 class="fh5co-sub-lead to-animate">Automate your business processes</h2>
                                    <p class="to-animate-2"><a href="#" class="btn btn-primary btn-lg">Learn More</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-md-push-1 col-sm-7 col-sm-push-1 iphone-image">
                            <div class="iphone to-animate-2"><img  src="modules/core/img/nvipani/BA-Animation.gif" alt="Business Automation"></div>
                        </div>
                    </div></h1></li>
                    <li class="slide bb-slide-4"><h1 class="bb-slidertext  container"><div class="row">

                        <div class="col-md-4 col-sm-4">
                            <div class="iphone to-animate-2"><img src="modules/core/img/nvipani/iphone600.png" alt="Free HTML5 Template by FREEHTML5.co"></div>
                        </div>
                        <div class="col-md-7 col-md-push-1 col-sm-7 col-sm-push-1 iphone-image">
                            <div class="fh5co-owl-text-wrap">
                                <div class="fh5co-owl-text">
                                    <h1 class="fh5co-lead to-animate">Business On-the-Go</h1>
                                    <h2 class="fh5co-sub-lead to-animate">Mobile solutions to keep up with your operations when you are on-the-go</h2>
                                    <p class="to-animate-2"><a href="#" class="btn btn-primary btn-lg">Learn More</a></p>
                                </div>
                            </div>
                        </div>

                    </div></h1></li>
                </ul>
            </div>&ndash;&gt;
    </div>
            <div flex="10" ng-show="(path==='/')" class="fh5co-about-us" id="fh5co-about-us" data-section="about">
                <div class="container">
                    <div id="about">
                        <div class="col-md-12 section-heading text-center">
                            <h2 class="to-animate">About</h2>
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 to-animate">
                                    <h3>Optimising and Organizing the agriculture and related produce supply chain
                                        ecosystem in India using technology, financial services, insurance and value
                                        added services.</h3>
                                </div>
                            </div>
                        </div>

                        <div class="fh5co-features" id="fh5co-features" data-section="features">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 section-heading text-center">
                                        <h2 class="single-animate animate-features-1">Features</h2>
                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-2 single-animate animate-features-2">
                                                <h3>Comprehensive features to address the needs of diverse marketplace for agriculture and related industries.</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-bottom-padded-sm">
                                    <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
                                        <div class="fh5co-icon"><i class="icon-tag"></i></div>
                                        <div class="fh5co-desc">
                                            <h3>Offer Management</h3>
                                            <p>Place your offers and get quick turnover of your goods. Expand your market by getting access to new customers from new trading hubs.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
                                        <div class="fh5co-icon"><i class="icon-list"></i></div>
                                        <div class="fh5co-desc">
                                            <h3>Order Management</h3>
                                            <p>Place new orders or receive orders on your inventory. Place orders based on other's offers and get quick turnover of your goods.</p>
                                        </div>
                                    </div>
                                    <div class="clearfix visible-sm-block visible-xs-block"></div>
                                    <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
                                        <div class="fh5co-icon"><i class="icon-grid"></i></div>
                                        <div class="fh5co-desc">
                                            <h3>Inventory Management</h3>
                                            <p>Keep track on your inventory in a user-friendly system. Reduce wastage and improve efficiency in storage and retrieval of inventory. </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
                                        <div class="fh5co-icon"><i class="icon-settings"></i></div>
                                        <div class="fh5co-desc">
                                            <h3>Business Automation & Intelligence</h3>
                                            <p>Automate your supply chain processes and be productive with nVipani's automation engine. Drive insights into your business with the help of on-demand analytics. nVipani's business intelligence helps you make sharper decisions resulting in higher profits and reduced losses.</p>
                                        </div>
                                    </div>
                                    <div class="clearfix visible-sm-block visible-xs-block"></div>
                                    <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
                                        <div class="fh5co-icon"><i class="icon-chemistry"></i></div>
                                        <div class="fh5co-desc">
                                            <h3>Sample Mediation</h3>
                                            <p>Get your samples certified and transported to various trading partners. nVipani's sample mediation service along with other VAS ensure smooth running of your business. </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
                                        <div class="fh5co-icon"><i class="icon-eye"></i></div>
                                        <div class="fh5co-desc">
                                            <h3>Tracking of Logistics & Warehouse</h3>
                                            <p>nVipani has made it very simple to track your logistics and warehouse operations with its VAS. Grow your business by improving efficieny and customer satisfaction. </p>
                                        </div>
                                    </div>
                                    <div class="clearfix visible-sm-block visible-xs-block"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-4 single-animate animate-features-3">
                                        <a href="#" class="btn btn-primary btn-block">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-8 to-animate">
                            <img src="modules/core/img/nvipani/how-we-started.jpg" class="img-responsive img-rounded" alt="Free HTML5 Template">
                        </div>
                        <div class="col-md-4 to-animate">
                            <h2>How we got started</h2>
                            <p>The idea was born when founders of nVipani experienced the difference in quality of food ingredients in cities and urban places. While the agricultural produce was mostly organic and fresh in rural areas of the country, cities and urban areas were getting adultrated, and old stock produce. This triggered the idea to support agricultural supply chain with latest technology.</p>
                            <p>The glaring inefficiencies in the agricultural supply chain was the biggest pain point that had to be addressed.</p>
                            <p><a href="#" class="btn btn-primary">Read full story</a></p>
                        </div>
                    </div>

                    <div class="row" class="team" id="team" data-section="team">
                        <div class="col-md-12 section-heading text-center to-animate">
                            <h2>Team</h2>
                        </div>
                        <div class="col-md-12">
                            <div>
                                <div class="col-md-4 text-center to-animate">
                                    <div class="person">
                                        <img src="modules/core/img/nvipani/dillibabu.jpg" class="img-responsive img-rounded" alt="Person">
                                        <h3 class="name">Dilli Babu Nandarapu</h3>
                                        <div class="position">Founder & CEO</div>
                                        <p>Dilli Babu is a seasoned entrepreneur backed with experience of 16 years in IT related product development spread across Telecom, Security, and Supply Chain Management domains. Dilli Babu holds M.Tech - Computer Science from University of Hyderabad and B.Tech - Mechanical from Sri Venkateswara University College of Engineering. Dilli Babu pioneered and headed engineering solutions at Athena Network Security Solutions Pvt. Ltd.</p>
                                        &lt;!&ndash;<ul class="social social-circle">
                                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                            <li><a href="#"><i class="icon-instagram"></i></a></li>
                                            <li><a href="#"><i class="icon-github"></i></a></li>
                                        </ul>&ndash;&gt;
                                    </div>
                                </div>
                                <div class="col-md-4 text-center to-animate">
                                    <div class="person">
                                        <img src="modules/core/img/nvipani/Hema.jpg" class="img-responsive img-rounded" alt="Person">
                                        <h3 class="name">Hema Siddareddy</h3>
                                        <div class="position">Co-founder & Head of Engineering</div>
                                        <p>Hema is a having 10 years of IT industry experience with latest technologies in disruptive products. Hema is tech savvy and updates herself with new technologies. Hema also specialises in Supply Chain Management and Security domains. Hema holds M.Tech - Computer Science from Visveshwara Technology University and B.Tech - Computer Science from JNTU, Hyderabad. Hema also lead engineering solutions at Athena Network Security Solutions Pvt. Ltd.</p>
                                        &lt;!&ndash;<ul class="social social-circle">
                                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                            <li><a href="#"><i class="icon-instagram"></i></a></li>
                                            <li><a href="#"><i class="icon-dribbble"></i></a></li>
                                        </ul>&ndash;&gt;
                                    </div>
                                </div>
                                <div class="col-md-4 text-center to-animate">
                                    <div class="person">
                                        <img src="modules/core/img/nvipani/Sam.jpg" class="img-responsive img-rounded" alt="Person">
                                        <h3 class="name">Venkatesam S (Sam)</h3>
                                        <div class="position">Mentor and Business Coach</div>
                                        <p>Sam is a well-rounded veteran in with 50 years of experience spread across IT, Avionics and Energy industries. Sam played vital roles in Motorola as Director of New Initiatives, and as Managing Director of their business units across the globe. Sam is penchant in establishing startups. Sam holds M.Tech from IIT, Kharagpur, and B.Tech - Electrical from Sri Venkateswara University College of Engineering. He is a faculty member of Manager of Managers Institute, a CEO training College of Motorola in Chicago.</p>
                                        &lt;!&ndash;<ul class="social social-circle">
                                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                            <li><a href="#"><i class="icon-instagram"></i></a></li>
                                            <li><a href="#"><i class="icon-github"></i></a></li>
                                        </ul>&ndash;&gt;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div flex="10"ng-show="(path==='/')"  class="fh5co-our-services" id="fh5co-our-services" data-section="services">
                <div class="container">
                    <div>
                        <div class="col-md-12 section-heading text-center">
                            <h2 class="to-animate">Built to excel</h2>
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 to-animate">
                                    <h3>Designed from the ground-up to offer smooth operations and stress-free management.
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="box to-animate">
                                <div class="icon colored-1"><span><i class="icon-wallet"></i></span></div>
                                <h3>Affordable Cost</h3>
                                <p>Our pricing plans are specially designed to cater to wide array of channel partners and is reasonably priced.</p>
                            </div>
                            <div class="box to-animate">
                                <div class="icon colored-4"><span><i class="icon-bulb"></i></span></div>
                                <h3>Easy to Use</h3>
                                <p>Our system is accessed by non-technical people from across the supply chain. Keeping that in mind the design of our interfaces are extremely simple and self-explanatory.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box to-animate">
                                <div class="icon colored-2"><span><i class="icon-shield"></i></span></div>
                                <h3>Secure</h3>
                                <p>Our system is architected to ensure security at the very foundations. We understand the importace of security to our users and have left no stone unturned to acheive a secure architecture. We subject our systems to rigourous testing to make it safe for our customers.</p>
                            </div>
                            <div class="box to-animate">
                                <div class="icon colored-5"><span><i class="icon-hourglass"></i></span></div>
                                <h3>Fast &amp; Reliable</h3>
                                <p>We have designed the system to ensure quick execution of business transactions. We also ensure reliable functioning of our system by extensive testing and quality deployments.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box to-animate">
                                <div class="icon colored-3"><span><i class="icon-directions"></i></span></div>
                                <h3>For Non-technical users</h3>
                                <p>We have designed the user experience of nVipani in such a way that it can be easily used by semi and non-technical users. The interfaces are catered with utmost simplicity and uses real world metaphors to communicate with the entire set of actors.</p>
                            </div>
                            <div class="box to-animate">
                                <div class="icon colored-6"><span><i class="icon-screen-smartphone"></i></span></div>
                                <h3>Mobile Ready</h3>
                                <p>Today's fast-paced life demands everyone to be active in business at all times. We have enabled our customers by expanding their ability to access their business operations over mobile to stay involved and improve efficiency.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div  flex="10" ng-show="(path==='/')" class="fh5co-testimonials" id="fh5co-testimonials" data-section="testimonials">
                <div class="container">
                    <div class="row"  id="testimonials">
                        <div class="col-md-12 section-heading text-center">
                            <h2 class="to-animate">Customer Speak...</h2>
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 subtext to-animate">
                                    <h3>Our endevour is to delight our customers.</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="box-testimony to-animate">
                                <blockquote>
                                    <span class="quote"><span><i class="icon-quote-left"></i></span></span>
                                    <p>&ldquo;I feel Order Management System from nVipani is very beneficial to us.&rdquo;</p>
                                </blockquote>
                                <p class="author">Customer from Gudivada, Andhra Pradesh. <span class="subtext">Leading Rice Trader</span></p>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="box-testimony to-animate">
                                <blockquote>
                                    <span class="quote"><span><i class="icon-quote-left"></i></span></span>
                                    <p>&ldquo;Must use for everyone in agricultural supply chain. Improves the profits by reducing risks. Sample mediation &rdquo;</p>
                                </blockquote>
                                <p class="author">Customer From Nellore, Andhra Pradesh<span
                                        class="subtext">Rice Miller</span></p>
                            </div>


                        </div>
                        <div class="col-md-4">
                            <div class="box-testimony to-animate">
                                <blockquote>
                                    <span class="quote"><span><i class="icon-quote-left"></i></span></span>
                                    <p>&ldquo;The best suitable B2B platform for agriculture produce as it helps various multiple players in the supply chain.&rdquo;</p>
                                </blockquote>
                                <p class="author">Kshethra Agricultural Products, Bangalore, Karnataka<span
                                        class="subtext">Trader, Distributor and Retailer for Naturally Farmed Products</span>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

    </div>
        </div>

        <div flex="25"  flex-xs="100" flex-sm="50" flex-gt-lg="50" ng-show="path==='/signin'">
            <div ng-show="showSignin" class="md-whiteframe-3dp bb-layout-padding bb-login">
                <form class="bb-layout-padding" name='signup' data-ng-submit="signin()">

                    <h4 class="md-title md-primary">Sign In</h4>

                    <md-input-container class="md-icon-float md-block">
                        &lt;!&ndash; Use floating label instead of placeholder &ndash;&gt;
                        <label>E-mail/Mobile</label>
                        <md-icon class="fa fa-user bb-f20"></md-icon>
                        <input ng-model="credentials.username" type="text" nv-regulation-exp="mail">
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block">
                        &lt;!&ndash; Use floating label instead of placeholder &ndash;&gt;
                        <label>Password</label>
                        <md-icon class="fa fa-lock bb-f20"></md-icon>
                        <input ng-model="credentials.password" nv-type="signpassword" type="password">
                    </md-input-container>

                   &lt;!&ndash; <md-checkbox ng-model="address.public">Remember me</md-checkbox>&ndash;&gt;

                    <md-button type="submit" class="md-raised md-primary bb-wid-100">Login</md-button>
                    <div data-ng-show="error" class="text-center text-danger">
                        <div class="md-subhead" data-ng-bind="error"></div>
                    </div>

                    <div class="bb-user-forgot">
                        &lt;!&ndash;<a  href="/#!/password/forgot">Forgot password?</a>&ndash;&gt;
                        <a class="bb-cursor" ng-hide="userstatus" data-ng-click="panelChange('fpwd');">Forgot password?</a>
                        <a class="bb-cursor"  href="/#!/resendotp" ng-show="userstatus">Resend?</a>


                    </div>
                    <md-button href="/#!/register" class="md-raised md-primary bb-wid-100">Register</md-button>
                </form>
            </div>
            <div ng-if="showFpwd" class="md-whiteframe-3dp bb-layout-padding bb-login" layout-fill>
                <form name="password" data-ng-submit="forgotPassword()" ng-init="reset();" autocomplete="off">


                <h2 class="md-title md-primary">Restore Your Password</h2>

                &lt;!&ndash;<img alt="nVipani" class="img-responsive center-block m-bot15" height="120" width="250" src="/modules/core/img/brand/BusinessBooster.png" />&ndash;&gt;
                <md-input-container class="md-icon-float md-block">
                    &lt;!&ndash; Use floating label instead of placeholder &ndash;&gt;
                    <label>E-mail/Mobile Number</label>
                    <md-icon class="fa fa-user bb-f20"></md-icon>
                    <input ng-disabled="passwordcredentials.otpVerified" ng-change="showPasswordOTP(passwordcredentials.username)"
                           ng-model="passwordcredentials.username" type="text" nv-regulation-exp="mail">
                </md-input-container>
                    <md-input-container  ng-if ="changenumber && ! passwordcredentials.otpVerified" class="md-icon-float md-block">
                        &lt;!&ndash; Use floating label instead of placeholder &ndash;&gt;
                        <label> Enter Existing OTP</label>
                        <md-icon  class="fa fa-user bb-f20"></md-icon>
                        <input ng-model="passwordcredentials.forgotPasswordOtp" type="text" nv-regulation-exp="otp">
                    </md-input-container>
                    <md-input-container  ng-show="passwordcredentials.otpVerified" class="md-icon-float md-block">
                        &lt;!&ndash; Use floating label instead of placeholder &ndash;&gt;
                        <label>New Password</label>
                        <md-icon  class="fa fa-lock bb-f20"></md-icon>
                        <input ng-model="passwordcredentials.newPassword" type="password" nv-type="changepassword"
                               ng-minlength="8">
                        <div ng-messages="password.passwordcredentials.newPassword.$error" md-auto-hide="true">
                            <div ng-message="pattern">Password should be Minimum 6 characters at least 1 Capital, 1
                                Number and 1 Special Character (@#$%).
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container ng-show="passwordcredentials.otpVerified" class="md-icon-float md-block">
                        &lt;!&ndash; Use floating label instead of placeholder &ndash;&gt;
                        <label>Verify Password</label>
                        <md-icon class="fa fa-lock bb-f20"></md-icon>
                        <input ng-model="passwordcredentials.verifyPassword"
                               ng-minlength="8" type="password" nv-type="verifypassword">
                        <div ng-messages="password.passwordcredentials.verifyPassword.$error" md-auto-hide="true">
                            <div ng-message="pattern">Verify Password should be Minimum 6 characters at least 1 Capital,
                                1 Number and 1 Special Character (@#$%).
                            </div>
                        </div>
                    </md-input-container>
                <md-button type="submit" class="md-raised md-primary bb-wid-100">Submit</md-button>
                <div data-ng-show="error" class="text-center text-danger">
                    <div class="md-subhead">{{error}}</div>
                </div>
                <div data-ng-show="success" class="text-center text-success">
                    <div class="md-subhead">{{success}}</div>
                </div>

                <div class="bb-hav-acc">
                    <p><a class="bb-cursor" data-ng-click="panelChange('');">
                        Sign In
                    </a>
                        <a class="bb-cursor" href="/#!/resendotp" ng-show="userstatus">Resend?</a></p>
                </div>

          &lt;!&ndash;  </form>&ndash;&gt;
               &lt;!&ndash; <form ng-show="success" data-ng-submit="resetUserPassword()" autocomplete="off">
                    <h2 class="md-title md-primary">Change Your Password</h2>&ndash;&gt;

                   &lt;!&ndash; <md-button type="submit" class="md-raised md-primary bb-wid-100">Submit</md-button>
                    <div data-ng-show="error" class="text-center text-danger">
                        <div class="md-subhead">{{error}}</div>
                    </div>
                    <div data-ng-show="success" class="text-center text-success">
                        <div class="md-subhead">{{success}}</div>
                    </div>

                    <div class="bb-hav-acc">
                        <p><a class="bb-cursor" data-ng-click="panelChange('');">
                            Sign In
                        </a>
                            <a class="bb-cursor" href="/#!/resendotp" ng-show="userstatus">Resend?</a></p>
                    </div>&ndash;&gt;
                </form>
            </div>
        </div>
    </div>

      <div class="bb-login-bg"  layout="row" layout-xs='row' layout-xs="column" layout-sm="row"
           layout-gt-lg="row" layout-wrap
           ng-show="path!=='/register' && path!=='/sigin' && path!=='/' && (path.startsWith('/resendotp') || path.startsWith('/enterotp'))">

          <div hide-xs flex="75" flex-xs="100" flex-sm="50" flex-gt-lg="50">

              <div class="bb-login-slide bb-bg-slider-wrapper md-whiteframe-3dp" data-ng-controller="HomeController">
                  <div class="flexslider" flex-slider>
                      <ul class="slides">
                          <li class="slide bb-slide-0">
                              <div class="nv-flex-content"></div>
                          </li>
                          <li class="slide bb-slide-1"></li>
                          <li class="slide bb-slide-2"></li>
                          <li class="slide bb-slide-3">
                              <div class="nv-flex-content">
                                  <div layout="row" layout-padding>
                                      <div flex="40" class="nv-flex-content-text">
                                          <h1>BUSSINESS AUTOMATION</h1>
                                          <h2>Automate your Buissiness Proccess</h2>
                                      </div>
                                      <div flex="60" >
                                          <img  src="modules/core/img/nvipani/BA-Animation.gif" alt="Business Automation">
                                      </div>
                                  </div>
                              </div>
                          </li>
                          <li class="slide bb-slide-4"></li>
                      </ul>
                  </div>
                 &lt;!&ndash; <div class="flexslider" flex-slider>
                      <ul class="slides">
                          <li class="slide bb-slide-1"><h1 class="bb-slidertext container">
                              <div class="row">
                                  <div class="col-md-7 col-md-push-5 col-sm-8 col-sm-push-4">
                                      &lt;!&ndash;<div class="col-md-8 col-md-offset-2 text-center">&ndash;&gt;
                                      <div class="fh5co-owl-text-wrap">
                                          <div class="fh5co-owl-text">
                                              <h1 class="fh5co-lead to-animate">Commit to Summit your Business</h1>
                                              <h2 class="fh5co-sub-lead to-animate">Enhance Profit, Reduce Losses and Scale your Business</h2>
                                              <p class="to-animate-2">Download Brochure</p>
                                          </div>
                                      </div>
                                  </div>
                              </div></h1></li>
                          <li class="slide bb-slide-2">
                              <h1 class="bb-slidertext container">
                                  <div class="col-md-5 col-sm-5">
                                      <div class="fh5co-owl-text-wrap">
                                          <div class="fh5co-owl-text">
                                              <h1 class="fh5co-lead to-animate">B2B Marketplace for Agriculture space</h1>
                                              <h2 class="fh5co-sub-lead to-animate">Optimized, profitable business operations along with your partners</h2>
                                              <p class="to-animate-2"><a href="#" class="btn btn-primary btn-lg">Learn More</a></p>
                                          </div>
                                      </div>
                                  </div></h1></li>
                          <li class="slide bb-slide-3"><h1 class="bb-slidertext container"><div class="row">
                              <div class="col-md-4 col-sm-4">
                                  <div class="fh5co-owl-text-wrap">
                                      <div class="fh5co-owl-text">
                                          <h1 class="fh5co-lead to-animate">Business Automation</h1>
                                          <h2 class="fh5co-sub-lead to-animate">Automate your business processes</h2>
                                          <p class="to-animate-2"><a href="#" class="btn btn-primary btn-lg">Learn More</a></p>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-7 col-md-push-1 col-sm-7 col-sm-push-1 iphone-image">
                                  <div class="iphone to-animate-2"><img  src="modules/core/img/nvipani/BA-Animation.gif" alt="Business Automation"></div>
                              </div>
                          </div></h1></li>
                          <li class="slide bb-slide-4"><h1 class="bb-slidertext  container"><div class="row">

                              <div class="col-md-4 col-sm-4">
                                  <div class="iphone to-animate-2"><img src="modules/core/img/nvipani/iphone600.png" alt="Free HTML5 Template by FREEHTML5.co"></div>
                              </div>
                              <div class="col-md-7 col-md-push-1 col-sm-7 col-sm-push-1 iphone-image">
                                  <div class="fh5co-owl-text-wrap">
                                      <div class="fh5co-owl-text">
                                          <h1 class="fh5co-lead to-animate">Business On-the-Go</h1>
                                          <h2 class="fh5co-sub-lead to-animate">Mobile solutions to keep up with your operations when you are on-the-go</h2>
                                          <p class="to-animate-2"><a href="#" class="btn btn-primary btn-lg">Learn More</a></p>
                                      </div>
                                  </div>
                              </div>

                          </div></h1></li>
                      </ul>
                  </div>&ndash;&gt;
              </div>

          </div>
          <div ng-show="path.startsWith('/resendotp') || path.startsWith('/enterotp')" data-ng-controller="OTPController" data-ng-init="panelChange();" flex="25" flex-xs="100" flex-sm="50" flex-gt-lg="50">

              <div class="md-whiteframe-3dp bb-layout-padding bb-login" layout-fill >
                  <form name="enterOTP"  data-ng-submit="submitEnterOTP()" ng-show="resendOtp"
                        autocomplete="off">


                      <h2 class="md-title md-primary">Enter Your OTP</h2>


                      <md-input-container class="md-icon-float md-block">
                          <label>OTP</label>
                          <md-icon class="fa fa-mobile bb-f20"></md-icon>
                          <input required ng-model="credentials.otp" type="text" nv-regulation-exp="otp">
                      </md-input-container>

                      <md-button type="submit" class="md-raised md-primary bb-wid-100">Submit</md-button>
                      <div data-ng-show="error" class="text-center text-danger">
                          <div class="md-subhead">{{error}}</div>
                      </div>
                      <div data-ng-show="success" class="text-center text-success">
                          <div class="md-subhead">{{success}}</div>
                      </div>

                      <div class="bb-hav-acc" data-ng-hide="success">
                          <p><a class="bb-cursor" data-ng-click="resendOTP();">
                              Resend OTP
                          </a></p>
                      </div>
                      <div class="bb-hav-acc">
                          <p><a class="bb-cursor" href="/#!/">
                              Sign In
                          </a></p>
                      </div>

                  </form>

                  <form name="enterOTP" ng-show="resendOtpUser" data-ng-submit="sendOtp()"
                        autocomplete="off">


                      <h2 class="md-title md-primary">Enter E-mail / Mobile Number </h2>


                      <md-input-container class="md-icon-float md-block">
                          <label> E-mail / Mobile Number</label>
                          <md-icon class="fa fa-mobile bb-f20"></md-icon>
                          <input required ng-model="credentials.username" type="text" nv-regulation-exp="mail">
                      </md-input-container>
                      <md-input-container ng-show="success && !email" class="md-icon-float md-block">
                          <label>OTP</label>
                          <md-icon class="fa fa-mobile bb-f20"></md-icon>
                          <input ng-required="success && !email" ng-model="credentials.otp" type="text" nv-regulation-exp="otp">
                      </md-input-container>
                      <md-button type="submit" class="md-raised md-primary bb-wid-100">Submit</md-button>
                      <div data-ng-show="error" class="text-center text-danger">
                          <div class="md-subhead">{{error}}</div>
                      </div>
                      <div data-ng-show="success" class="text-center text-success">
                          <div class="md-subhead">{{success}}</div>
                      </div>

                      &lt;!&ndash; <div class="bb-hav-acc" data-ng-hide="success">
                           <p><a class="bb-cursor" data-ng-click="resendOTP();">
                               Resend OTP
                           </a></p>
                       </div>&ndash;&gt;
                      <div class="bb-hav-acc">
                          <p><a class="bb-cursor" href="/#!/">
                              Sign In
                          </a></p>
                      </div>

                  </form>
              </div>
          </div>
      </div>

      <div class="bb-login-bg"  layout="row" layout-xs='row' layout-xs="column" layout-sm="row"
           layout-gt-lg="row" layout-wrap ng-show="path==='/register'">

        <div hide-xs hide-sm flex="60"  flex-xs="100" flex-sm="100" flex-gt-lg="65">

            <div>
                <div class="bb-reg-slide bb-bg-slider-wrapper md-whiteframe-3dp" data-ng-controller="HomeController">
                    <div class="flexslider" flex-slider>
                        <ul class="slides">
                            <li class="slide bb-slide-0">
                                <div class="nv-flex-content"></div>
                            </li>
                            <li class="slide bb-slide-1"></li>
                            <li class="slide bb-slide-2"></li>
                            <li class="slide bb-slide-3">
                                <div class="nv-flex-content">
                                    <div layout="row" layout-padding>
                                        <div flex="40" class="nv-flex-content-text">
                                            <h1>BUSSINESS AUTOMATION</h1>
                                            <h2>Automate your Buissiness Proccess</h2>
                                        </div>
                                        <div flex="60" >
                                            <img  src="modules/core/img/nvipani/BA-Animation.gif" alt="Business Automation">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="slide bb-slide-4"></li>
                        </ul>
                    </div>
                    &lt;!&ndash;<div class="flexslider" flex-slider>
                        <ul class="slides">
                            <li class="slide bb-slide-1"><h1 class="bb-slidertext container">
                                <div class="row">
                                    <div class="col-md-7 col-md-push-5 col-sm-8 col-sm-push-1 col-sm-push-5">
                                        &lt;!&ndash;<div class="col-md-8 col-md-offset-2 text-center">&ndash;&gt;
                                        <div class="fh5co-owl-text-wrap">
                                            <div class="fh5co-owl-text">
                                                <h1 class="fh5co-lead to-animate">Commit to Summit your Business</h1>
                                                <h2 class="fh5co-sub-lead to-animate">Enhance Profit, Reduce Losses and Scale your Business</h2>
                                                <p class="to-animate-2">Download Brochure</p>
                                            </div>
                                        </div>
                                    </div>
                                </div></h1></li>
                            <li class="slide bb-slide-2">
                                <h1 class="bb-slidertext container">
                                    <div class="col-md-5 col-sm-5">
                                        <div class="fh5co-owl-text-wrap">
                                            <div class="fh5co-owl-text">
                                                <h1 class="fh5co-lead to-animate">B2B Marketplace for Agriculture space</h1>
                                                <h2 class="fh5co-sub-lead to-animate">Optimized, profitable business operations along with your partners</h2>
                                                <p class="to-animate-2"><a href="#" class="btn btn-primary btn-lg">Learn More</a></p>
                                            </div>
                                        </div>
                                    </div></h1></li>
                            <li class="slide bb-slide-3"><h1 class="bb-slidertext container"><div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <div class="fh5co-owl-text-wrap">
                                        <div class="fh5co-owl-text">
                                            <h1 class="fh5co-lead to-animate">Business Automation</h1>
                                            <h2 class="fh5co-sub-lead to-animate">Automate your business processes</h2>
                                            <p class="to-animate-2"><a href="#" class="btn btn-primary btn-lg">Learn More</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 col-md-push-1 col-sm-7 col-sm-push-1 iphone-image">
                                    <div class="iphone to-animate-2"><img  src="modules/core/img/nvipani/BA-Animation.gif" alt="Business Automation"></div>
                                </div>
                            </div></h1></li>
                            <li class="slide bb-slide-4"><h1 class="bb-slidertext  container"><div class="row">

                                <div class="col-md-4 col-sm-4">
                                    <div class="iphone to-animate-2"><img src="modules/core/img/nvipani/iphone600.png" alt="Free HTML5 Template by FREEHTML5.co"></div>
                                </div>
                                <div class="col-md-7 col-md-push-1 col-sm-7 col-sm-push-1 iphone-image">
                                    <div class="fh5co-owl-text-wrap">
                                        <div class="fh5co-owl-text">
                                            <h1 class="fh5co-lead to-animate">Business On-the-Go</h1>
                                            <h2 class="fh5co-sub-lead to-animate">Mobile solutions to keep up with your operations when you are on-the-go</h2>
                                            <p class="to-animate-2"><a href="#" class="btn btn-primary btn-lg">Learn More</a></p>
                                        </div>
                                    </div>
                                </div>

                            </div></h1></li>
                        </ul>
                    </div>&ndash;&gt;
                </div>
            </div>

        </div>

        <div flex="40"  flex-xs="100" flex-sm="100" flex-gt-lg="35">

            <div class="md-whiteframe-3dp bb-layout-padding bb-login">
                <form class="bb-layout-padding" name="userForm" data-ng-submit="askPreRegistration()"
                      autocomplete="off">

                <h2 class="md-primary">Register</h2>

                <div  layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>

               <div flex="70" flex-xs="100" flex-sm="100" flex-gt-lg="100">

                    <md-input-container class="md-block" md-no-float>
                        <md-checkbox
                                ng-model="useMobileAsUserName">
                            Use Mobile as User Name
                        </md-checkbox>
                    </md-input-container>
               </div>

                <div flex="50"  flex-xs="100" flex-sm="50" flex-gt-lg="50">
                    <md-input-container class="md-block bb-padding">
                        &lt;!&ndash; Use floating label instead of placeholder &ndash;&gt;
                        <label><abbr title="required" ng-show="!useMobileAsUserName">*</abbr> E-mail</label>

                        <input ng-required="!useMobileAsUserName" ng-model="email" type="email">
                    </md-input-container>
                </div>

                <div flex="50"  flex-xs="100" flex-sm="50" flex-gt-lg="50">
                    <md-input-container class="md-block bb-padding">
                        &lt;!&ndash; Use floating label instead of placeholder &ndash;&gt;
                        <label><abbr title="required"  ng-show="useMobileAsUserName">*</abbr> Mobile</label>

                        <input ng-required="useMobileAsUserName" ng-model="mobile" type="text" only-digits md-maxlength="10">
                    </md-input-container>
                </div>
                    <div flex="50"  flex-xs="100" flex-sm="100" flex-gt-lg="100">
                        <md-input-container class="md-block">

                            <label><abbr title="required">*</abbr> Password</label>

                            <input ng-model="password"  type="password" nv-type="regpassword"
                                   ng-minlength="8" required>

                            <div ng-messages="userForm.password.$error">
                                <div ng-message="pattern">Password should be Minimum 6 characters at least 1 Capital, 1
                                    Number and 1 Special Character (@#$%).
                                </div>
                            </div>

                        </md-input-container>
                        </div>

                    <div flex="50"  flex-xs="100" flex-sm="50" flex-gt-lg="50">
                        <md-input-container class="md-block">

                            <label><abbr title="required">*</abbr> ConfirmPassword</label>

                            <input ng-model="ConfirmPassword" type="password" nv-type="regconfirmpassword"
                                   ng-minlength="8" required>
                            <div ng-messages="userForm.ConfirmPassword.$error">
                                <div ng-message="pattern">Confirm Password should be Minimum 6 characters at least 1
                                    Capital, 1 Number and 1 Special Character (@#$%).
                                </div>
                            </div>
                        </md-input-container>
                        </div>

                    <div flex="50"  flex-xs="100" flex-sm="50" flex-gt-lg="50">
                        <md-input-container class="md-block">

                            <label><abbr title="required">*</abbr> First Name</label>

                            <input required ng-model="firstName" type="text">
                        </md-input-container>
                        </div>

                    <div flex="50"  flex-xs="100" flex-sm="50" flex-gt-lg="50">
                        <md-input-container class="md-block">

                            <label>Last Name</label>

                            <input  required ng-model="lastName" type="text">
                        </md-input-container>
                        </div>

                    <div flex="100"  flex-xs="100" flex-sm="100" flex-gt-lg="50">
                        <md-input-container class="md-block">

                            <label><abbr title="required">*</abbr> Company Name</label>

                            <input required ng-model="companyName" type="text">
                        </md-input-container>
                    </div>



                    <div flex="50"  flex-xs="100" flex-sm="50" flex-gt-lg="50">
                        <h3 class="md-subhead"><abbr title="required">*</abbr> Categories</h3>

                        <div layout="column" class="bb-inblock">
                        &lt;!&ndash;<md-checkbox name="category" ng-value="Seller" ng-required='invalidselection' ng-click="changeSelection()" ng-model="category.seller">Seller</md-checkbox>&ndash;&gt;
                        &lt;!&ndash;<md-checkbox name="category" ng-value="Buyer" ng-required='invalidselection' ng-click="changeSelection()" ng-model="category.buyer">Buyer</md-checkbox>&ndash;&gt;
                        &lt;!&ndash;<md-checkbox name="category" ng-value="Mediator" ng-required='invalidselection' ng-click="changeSelection()" ng-model="category.mediator">Mediator</md-checkbox>&ndash;&gt;

                          <input type="checkbox"  name="category" ng-value="Seller" ng-required='isOptionsRequired()' ng-click="changeSelection()" ng-model="category.seller"/>
                          <label title="Seller" class="md-subhead">Seller</label>
                          <br>
                          <input type="checkbox"  name="category" ng-value="Buyer" ng-required='isOptionsRequired()' ng-click="changeSelection()" ng-model="category.buyer"/>
                          <label title="Buyer" class="md-subhead">Buyer</label>
                          <br>
                          <input type="checkbox"  name="category" ng-value="Mediator" ng-required='isOptionsRequired()' ng-click="changeSelection()" ng-model="category.mediator"/>
                          <label title="Mediator" class="md-subhead">Mediator</label>
                      </div>
                    </div>

                    <div flex="50"  flex-xs="100" flex-sm="50" flex-gt-lg="50">
                        &lt;!&ndash;<h3 class="md-subhead"><abbr title="required">*</abbr> Business Type</h3>&ndash;&gt;
                        &lt;!&ndash;<md-input-container class="wid-100 m-top15">&ndash;&gt;
                            &lt;!&ndash;<label><abbr title="required">*</abbr> Business Type</label>&ndash;&gt;
                            &lt;!&ndash;<md-select required ng-model="businessType" >&ndash;&gt;
                                &lt;!&ndash;<md-option ng-repeat="item in businessTypesSelection">{{item.value}}</md-option>&ndash;&gt;

                            &lt;!&ndash;</md-select>&ndash;&gt;
                        &lt;!&ndash;</md-input-container>&ndash;&gt;

                        <h3 class="md-subhead" for="businessType">
                        <abbr title="required">*</abbr>Business Type</h3>
                        <select class="bb-signin-control" id="businessType" ng-model="businessType"
                                ng-options="item.text as item.value for item in businessTypesSelection"></select>

                    </div>



                    <div flex="100"  flex-xs="100" flex-sm="100" flex-gt-lg="100">
                        <md-divider class="bb-m-bot15"></md-divider>
                        </div>

                    <div flex="5"  flex-xs="100" flex-sm="20" flex-gt-lg="50" >
                        <input type="checkbox"  name="agreement" ng-required ="!acceptTerms" ng-model="acceptTerms" class="field">
                       &lt;!&ndash; <p>Agree
                            <a href="#" target="_blank">Terms &amp; Conditions </a>and
                            <a href="#" target="_blank">Privacy Policy</a></p>&ndash;&gt;</input>

                        </div>
                    <div flex="70"  flex-xs="100" flex-sm="80" flex-gt-lg="50" >
                        <p>Agree
                            <a href="#" target="_blank">Terms &amp; Conditions </a>and
                            <a href="#" target="_blank">Privacy Policy</a></p>

                    </div>

                    <div class="bb-m-top15" flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="50">
                        <div data-ng-show="success && !useMobileAsUserName" class="text-center text-success">
                            <div class="md-subhead" data-ng-bind="success"></div>
                        </div>
                        <div data-ng-show="success && useMobileAsUserName" class="text-center text-success">
                            <div class="md-subhead" data-ng-bind="success"></div>
                            <p class="panel-heading"> To Enter OTP <a href="/#!/enterotp/{{statusToken}}">
                                Click Here
                            </a></p>

                        </div>
                        <div data-ng-show="registererror" class="text-center text-danger">
                            <p class="md-subhead" title="{{registererror}}" data-ng-bind="registererror"></p>
                        </div>
                        </div>

                    <div flex="30"  flex-xs="100" flex-sm="20" flex-gt-lg="50">
                        <md-button type="submit" class="md-raised md-primary bb-wid-100">Sign-Up</md-button>
                        </div>

                    <div flex="70"  flex-xs="100" flex-sm="80" flex-gt-lg="50">

                            <p class="panel-heading">Do you have account already? <a href="/#!/signin">
                                Sign In
                            </a></p>
                        </div>

               </div>



                &lt;!&ndash;<div class="col-lg-6 field m-bot10">&ndash;&gt;
                    &lt;!&ndash;<label class="email required control-label" for="username">&ndash;&gt;
                        &lt;!&ndash;<abbr title="required">*</abbr> Email</label>&ndash;&gt;
                    &lt;!&ndash;<input class="signin-control" type="email" required id="username" name="username"&ndash;&gt;
                           &lt;!&ndash;data-ng-model="username" maxlegth="128">&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;

                &lt;!&ndash;<div class="col-lg-6 field m-bot10">&ndash;&gt;
                    &lt;!&ndash;<label for="mobile">&ndash;&gt;
                        &lt;!&ndash;<abbr title="required">*</abbr>Mobile</label>&ndash;&gt;
                    &lt;!&ndash;<input class="signin-control" type="text" required id="mobile" name="mobile"&ndash;&gt;
                           &lt;!&ndash;data-ng-model="mobile" ng-minlength="10" , ng-maxlength="12"&ndash;&gt;
                           &lt;!&ndash;only-digits class="form-control m-bot15">&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;

                &lt;!&ndash;<div class="col-lg-6 field m-bot10">&ndash;&gt;
                    &lt;!&ndash;<label for="password">&ndash;&gt;
                        &lt;!&ndash;<abbr title="required">*</abbr> Password</label>&ndash;&gt;
                    &lt;!&ndash;<input class="signin-control" type="password" required id="password" name="password"&ndash;&gt;
                           &lt;!&ndash;data-ng-model="password" maxlegth="128">&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;

                &lt;!&ndash;<div class="col-lg-6 field m-bot10">&ndash;&gt;
                    &lt;!&ndash;<label  for="ConfirmPassword">&ndash;&gt;
                        &lt;!&ndash;<abbr title="required">*</abbr>Confirm Password</label>&ndash;&gt;
                    &lt;!&ndash;<input class="signin-control" type="password" required id="ConfirmPassword"&ndash;&gt;
                           &lt;!&ndash;name="ConfirmPassword" data-ng-model="ConfirmPassword" maxlegth="128">&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;

                &lt;!&ndash;<div class="col-lg-6 field m-bot10">&ndash;&gt;
                    &lt;!&ndash;<label for="firstName">&ndash;&gt;
                        &lt;!&ndash;<abbr title="required">*</abbr> First Name</label>&ndash;&gt;
                    &lt;!&ndash;<input class="signin-control" type="text" required id="firstName" name="firstName"&ndash;&gt;
                           &lt;!&ndash;data-ng-model="firstName" maxlegth="128">&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;

                &lt;!&ndash;<div class="col-lg-6 field m-bot10">&ndash;&gt;
                    &lt;!&ndash;<label for="lastname">&ndash;&gt;
                        &lt;!&ndash;Last Name</label>&ndash;&gt;
                    &lt;!&ndash;<input class="signin-control" id="lastName" name="lastName" data-ng-model="lastName"&ndash;&gt;
                           &lt;!&ndash;maxlegth="128">&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;

                &lt;!&ndash;<div class="col-lg-6 m-bot10 field">&ndash;&gt;
                    &lt;!&ndash;<label for="companyName">&ndash;&gt;
                        &lt;!&ndash;<abbr title="required">*</abbr>Company Name</label>&ndash;&gt;
                    &lt;!&ndash;<input class="signin-control" type="text" required id="companyName" ng-model="companyName" name="companyName"&ndash;&gt;
                           &lt;!&ndash;maxlegth="128">&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;


                &lt;!&ndash;<div class="col-lg-12 lg field m-bot10 regcat-border">&ndash;&gt;

                    &lt;!&ndash;<div class="col-lg-6">&ndash;&gt;
                        &lt;!&ndash;&lt;!&ndash;<label class="col-lg-12"><abbr title="required">*</abbr>Categories</label>&ndash;&gt;&ndash;&gt;

                        &lt;!&ndash;<label>&ndash;&gt;
                            &lt;!&ndash;<abbr title="required">*</abbr>Categories</label>&ndash;&gt;
                        &lt;!&ndash;<br>&ndash;&gt;

                        &lt;!&ndash;<input type="checkbox"  name="category" ng-value="Seller" ng-required='invalidselection' ng-click="changeSelection()" ng-model="category.seller"/>&ndash;&gt;
                        &lt;!&ndash;<label title="Seller"><span></span>Seller</label>&ndash;&gt;
                        &lt;!&ndash;<br>&ndash;&gt;
                        &lt;!&ndash;<input type="checkbox"  name="category" ng-value="Buyer" ng-required='invalidselection' ng-click="changeSelection()" ng-model="category.buyer"/>&ndash;&gt;
                        &lt;!&ndash;<label title="Buyer"><span></span>Buyer</label>&ndash;&gt;
                        &lt;!&ndash;<br>&ndash;&gt;
                        &lt;!&ndash;<input type="checkbox"  name="category" ng-value="Mediator" ng-required='invalidselection' ng-click="changeSelection()" ng-model="category.mediator"/>&ndash;&gt;
                        &lt;!&ndash;<label title="Mediator"><span></span>Mediator</label>&ndash;&gt;
                    &lt;!&ndash;</div>&ndash;&gt;

                    &lt;!&ndash;<div class="col-lg-6">&ndash;&gt;
                        &lt;!&ndash;<label for="businessType">&ndash;&gt;
                            &lt;!&ndash;<abbr title="required">*</abbr>Business Type</label>&ndash;&gt;
                        &lt;!&ndash;<select class="signin-control" id="businessType" ng-model="businessType"&ndash;&gt;
                                &lt;!&ndash;ng-options="item.text as item.value for item in businessTypesSelection"></select>&ndash;&gt;
                    &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;

                &lt;!&ndash;<div class="col-lg-12 m-bot10 field">&ndash;&gt;

                    &lt;!&ndash;<p><input name="agreement" required ng-model="acceptTerms" type="checkbox">&ndash;&gt;
                        &lt;!&ndash;Agree&ndash;&gt;
                        &lt;!&ndash;<a href="" target="_blank">Terms &amp; Conditions </a>and&ndash;&gt;
                        &lt;!&ndash;<a href="" target="_blank">Privacy Policy</a>&ndash;&gt;


                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;<div class="col-lg-12  field">&ndash;&gt;
                    &lt;!&ndash;<div class="col-lg-1 m-bot30"></div>&ndash;&gt;
                    &lt;!&ndash;<div class="col-lg-11">&ndash;&gt;
                        &lt;!&ndash;<div data-ng-show="success" class="text-center text-success">&ndash;&gt;
                            &lt;!&ndash;<strong data-ng-bind="success"></strong>&ndash;&gt;
                        &lt;!&ndash;</div>&ndash;&gt;
                        &lt;!&ndash;<div data-ng-show="registererror" class="text-center text-danger">&ndash;&gt;
                            &lt;!&ndash;<p title="{{registererror}}" data-ng-bind="registererror"></p>&ndash;&gt;
                        &lt;!&ndash;</div></div>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;

                &lt;!&ndash;<div class="row continue-right">&ndash;&gt;
                    &lt;!&ndash;<div class="col-lg-4 m-bot15">&ndash;&gt;
                        &lt;!&ndash;<button class="btn btn-login" type="submit">&ndash;&gt;
                            &lt;!&ndash;Sign Up&ndash;&gt;
                        &lt;!&ndash;</button>&ndash;&gt;
                    &lt;!&ndash;</div>&ndash;&gt;


                    &lt;!&ndash;<div class="col-lg-8 hav-acc">&ndash;&gt;
                        &lt;!&ndash;<p>Do you have account already? <a href="/#!/">&ndash;&gt;
                            &lt;!&ndash;Sign In&ndash;&gt;
                        &lt;!&ndash;</a></p>&ndash;&gt;
                    &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;
            </form>
              </div>
        </div>
    </div>
  </div>
    <div  layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="column" layout-gt-lg="row" layout-wrap ng-hide="authentication.user">
        <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
            <h2 class="md-title">Products</h2>
            <md-divider></md-divider>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="{{category.name}} {{category.children.length
                                    > 0?'( '+category.children.length+' )':''}}" ng-repeat="category in categories | orderBy:'name'">
                    <md-content class="md-padding bb-prod-border">
                        <div class="row-horizon bb-p-top15">

                            &lt;!&ndash;<div  layout="row" layout-xs="column" layout-sm="column" layout-wrap>&ndash;&gt;
                            &lt;!&ndash;<div class="pop" flex="20" flex-xs="100" ng-repeat="child in category.children">&ndash;&gt;
                            &lt;!&ndash;<img data-ng-src={{child.categoryImageURL1}} class="img-responsive img-center p-img-fix"&ndash;&gt;
                            &lt;!&ndash;alt="">&ndash;&gt;
                            &lt;!&ndash;&ndash;&gt;
                            &lt;!&ndash;</div>&ndash;&gt;


                            &lt;!&ndash;</div>&ndash;&gt;

                            &lt;!&ndash; <div class="DocumentList">
                                 <ul class="list-inline">
                                     <li class="DocumentItem ad-pop" data-ng-repeat="child in category.children">
                                         <a
                                                 href="#!/categories/{{child._id}}">
                                             <img data-ng-src="{{child.categoryImageURL1}}" class="p-img-fix img-center"
                                                  alt=""></a>
                                         <p class="text-center"><strong>{{child.name}}</strong></p>
                                     </li>
 | orderBy:'name'| orderBy:'name'
                                 </ul>
                             </div> &ndash;&gt;

                            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 bb-pop-less"
                                 data-ng-repeat="child in category.children | orderBy:'name'"><a
                                    href="#!/categories/{{child._id}}">
                                <img data-ng-src="{{child.categoryImageURL1}}"
                                     class="img-responsive  bb-img-center bb-prod-img-fix"
                                     alt=""></a>&lt;!&ndash;o-img-fix&ndash;&gt;
                                <p class="text-center"><strong>{{child.name}} {{child.children.length
                                    > 0?'( '+child.children.length+' )':''}}</strong></p>
                            </div>

                        </div>
                    </md-content>
                </md-tab>

            </md-tabs>


        </div>

    </div>



    <footer data-ng-hide="authentication.user" data-ng-include="'/modules/core/views/footer.client.view.html'"></footer>-->
    </div>



