<div class="bb-headline-bg bb-contact-headline-bg">
</div>
<section class="bb-story-section section bb-section-on-bg">
    <h2 class="bb-title container text-center">Team</h2>

    <div class="bb-story-container container text-center">
        <div class="bb-story-container-inner">
            <div class="bb-about bb-ourteam">
                <a name="ux"></a>
                <img class="img-responsive  bb-profimg-fix img-circle bb-member-img bb-pop-less"
                     src="/modules/core/img/team/Dilli.png"/>
                <h2>Dilli Babu Nandarapu</h2>
                <h4 class="bb-member-job">Founder and CEO</h4>

                <p class="bb-member-desc">N Dilli Babu is a seasoned entrepreneur backed with extensive experience of 16
                    years in IT related
                    product development spread across Telecom, Security, and Supply Chain Management domains. N Dilli
                    Babu holds Post Graduation in Computer Science Engineering (M.Tech/M.E) from University of Hyderabad
                    and Bachelors Degree (B.Tech/B.E) in Mechanical Engineering from Sri Venkateswara University College
                    of Engineering, Tirupati. N Dilli Babu pioneered and headed engineering solutions at Athena Network
                    Security Solutions Private Limited.</p>

                <div class="bb-share-buttons">
                    <a href="https://in.linkedin.com/in/dillin" target="_blank">
                        <img src="/modules/core/img/icons/linkedin.png" alt="LinkedIn"/>
                    </a>

                    <!--&lt;!&ndash; Twitter &ndash;&gt;-->
                    <!--    <a href="https://twitter.com/share?url=http://www.nvipani.com/careers.html#ux&amp;text=Job%20Openings&amp;hashtags=ux" target="_blank">
                            <img src="/modules/core/img/icons/twitter.png" alt="Twitter" />
                        </a>-->

                </div>
                <p><br/><br/></p>
                <!-- Position 2 -->
                <a name="stack"></a>
                <h2>Hema Siddareddy</h2>
                <h4 class="bb-member-job">Co-Founder & Engineering Head</h4>

                <p class="bb-member-desc">Hema is a having 10 years of IT industry working experience with latest
                    technologies predominantly in disruptive products. Hema is tech savvy and makes sure she catches up
                    with latest trends in the Technology Ecosystem. Hema is instrumental in establishing the product
                    that seamlessly aligns to the industry. Hema also specialises in Supply Chain Management and
                    Security domains and provides niche solutions. Hema holds Post Graduation in Computer Science
                    Engineering (M.Tech/M.E) from Visveshwara Technology University and Bachelor’s Degree (B.Tech/B.E)
                    in Computer Science Engineering from JNTU, Hyderabad. Hema lead engineering solutions at Athena
                    Network Security Solutions Private Limited.</p>

                <div class="bb-share-buttons">
                    <a href="https://www.linkedin.com/in/hemasiddareddy" target="_blank">
                        <img src="/modules/core/img/icons/linkedin.png" alt="LinkedIn"/>
                    </a>

                    <!--&lt;!&ndash; Twitter &ndash;&gt;-->
                    <!--    <a href="https://twitter.com/share?url=http://www.nvipani.com/careers.html#ux&amp;text=Job%20Openings&amp;hashtags=ux" target="_blank">
                            <img src="/modules/core/img/icons/twitter.png" alt="Twitter" />
                        </a>-->

                </div>
                <p><br/><br/></p>
                <!-- Position 3 -->
                <a name="android"></a>

                <img class="img-responsive  bb-profimg-fix img-circle bb-member-img bb-pop-less"
                     src="/modules/core/img/team/Sam.png"/>
                <h2>S Venkatesam (Generally known as Sam)</h2>
                <h4 class="bb-member-job">Mentor</h4>

                <p class="bb-member-desc">Sam is a well-rounded veteran in with 50 years of experience spread across IT,
                    Avionics and Energy industries. Sam played vital roles in Motorola as Director of New Initiatives,
                    and as Managing Director of their business units across the globe. As Director of Avionics projects,
                    he established a world record in weapon systems. Sam is penchant in establishing new startups and
                    set up first Energy Plantation on commercial scale in the world and produced cheapest green energy.
                    Sam holds Post Graduation in Engineering (M.Tech/M.E) from IIT, Kharagpur, and Bachelor’s Degree
                    (B.Tech/B.E) in Electrical Engineering from Sri Venkateswara University College of Engineering,
                    Tirupati. He is a graduate of and later a faculty member of Manager of Managers Institute, a CEO
                    training College of Motorola in Chicago.</p>

                <div class="bb-share-buttons">
                    <a href="https://in.linkedin.com/in/sam-venkatesam-2327453" target="_blank">
                        <img src="/modules/core/img/icons/linkedin.png" alt="LinkedIn"/>
                    </a>

                    <!--&lt;!&ndash; Twitter &ndash;&gt;-->
                    <!--    <a href="https://twitter.com/share?url=http://www.nvipani.com/careers.html#ux&amp;text=Job%20Openings&amp;hashtags=ux" target="_blank">
                            <img src="/modules/core/img/icons/twitter.png" alt="Twitter" />
                        </a>-->

                </div>
            </div><!--//about-->


        </div><!--//story-container-->
    </div><!--//container-->
</section><!--//story-video-->
