<md-content>
    <div class="container" >


<div class="privacy">
    <p class="description">
        IMPORTANT - PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY BEFORE YOU (HEREAFTER, "you" or "your") ARE PURCHASING, ACCESSING OR USING THE SERVICE ON THE DOMAIN www.nVipani.com, AN INTERNET BASED PORTAL, AND nVipani app, A MOBILE APPLICATION, (HEREAFTER nVipani OR "WE" OR "OUR" OR "US" OR “COMPANY”).
        The domain name <a href="/">www.nvipani.com</a> and nvipani app, a mobile application, is owned and operated by nVipani Technology Solutions Private Limited, a company duly incorporated under the provisions of the Companies Act, 2013. The domain name and the mobile application are collectively referred to as “Website”.
    </p>
    <p class="description">The domain name <a href="/">www.nvipani.com</a> and <b>nvipani</b> app, a mobile application, is owned and operated by nVipani Technology Solutions Private Limited, a company duly incorporated under the provisions of the Companies Act, 2013. The domain name and the mobile application are collectively referred to as “Website”.</p>

   <p  class="description">A. BY COMPLETING THE ELECTRONIC ACCEPTANCE PROCESS, CLICKING THE "SUBMIT" OR "ACCEPT" BUTTONS, SIGNING, USING THE PRODUCTS OR OTHERWISE INDICATING YOUR ACCEPTANCE OF THESE TERMS, YOU REPRESENT AND WARRANT THAT.</p>
    <p  class="description">B. YOU ARE AUTHORIZED TO SIGN FOR AND BIND YOURSELF AND ANY OTHER PARTY ON WHOSE BEHALF YOU USE THE SERVICE AND/OR PRODUCTS AND YOU AGREE FOR YOURSELF AND THE OTHER PARTY TO BE BOUND BY ALL OF THESE TERMS (INCLUDING THE DISCLAIMER OF WARRANTY AND LIMITATION OF LIABILITY SECTIONS SET FORTH BELOW) TO THE EXCLUSION OF ANY OTHER RIGHTS AND OBLIGATIONS, SUCH AS ANY RIGHTS, OBLIGATIONS OR OTHER TERMS LISTED ON A PURCHASE ORDER OR, THE LIKE YOU OR THE OTHER PARTY MAY PROVIDE US AND YOU AGREE THAT ANY SUCH RIGHTS, OBLIGATIONS OR OTHER TERMS LISTED ON SUCH PURCHASE ORDER OR THE LIKE ARE HEREBY NULL AND VOID. (In case of your agreeing to these terms on behalf of any other party, "you" and "your" will also refer to that other party)
    </p>
</div>
<h3 class="description heading">1. Using our Service and Products:</h3>
<div class="privacy">
    <p class="description">nVipani offers a platform/marketplace through software, website etc that facilitates sale and purchase of merchandise and services (“Services”) by various third party vendors/service providers (“Vendors”) to users. The purchase of products and services shall be governed by the terms and conditions of the Sale as may be agreed between the Purchase ("Terms of Offer For Sale").
        You agree to follow any policies made available to you while using our Service and Products. You may use the Service and Products only if you have the power to form a contract with nVipani and are not barred under any applicable laws from doing so.
        You agree not to misuse our Service and Products. For example, please don't interfere with our Service and Products or try to access them using a method other than the interface and the instructions that we provide. You may use our Service and Products only as permitted by law, including applicable export and re-export control laws and regulations.
        The Service and Products may continue to change over time as we refine and add more features. We may stop, suspend, or modify the Service and Products at any time without prior notice to you or if you do not comply with our Terms. We may also remove any content from our Service and Products at our discretion.</p>
</div>
<h3 class="description heading">2.Registration</h3>
<div class="privacy">
    <p class="description">To use the Service and Products, you are required to create an account with nVipani ("Account"). You are solely responsible for maintaining, securing, updating, and keeping strictly confidential all login IDs and passwords; and for all access to and use of your Account by you or any third party. As part of this registration process, you must (i) provide certain current, complete and accurate information about you with respect to your Account and (ii) maintain and update this information as needed to keep it current, complete and accurate. Not providing requested information may prevent you from obtaining the Service and Products. The Service and Products are not intended for use by you if you are under 18 years of age. By agreeing to these Terms, you are representing to us that you are over 18. If we discover that any of your Account information is inaccurate, incomplete or not current, or if we determine, in our sole discretion, that you are not an appropriate user of the Service and Products, we may terminate all rights to access, receive, use and license the Service and Products immediately upon notice. Your assent to these Terms constitutes your express understanding and agreement that when personal data is provided to us, such data will be processed within and outside India. Any personal data collected from or about users or licensees in connection with the Service or Products, through our website, or otherwise under these Terms, will be maintained and processed in India or outside India by us or a party acting on our behalf, as our Service, Products and website are provided via equipment and the place where other resources located. Our Privacy Policy describes how personally identifiable information may be collected, used and disclosed.
    </p>
</div>

<h3 class="description heading">3. Your content:</h3>
<div class="privacy">
    <p class="description">By using our Service you provide us with information, files, and folders that you submit to nVipani ( "your content"). You retain full ownership of any ownership/intellectual property rights that you hold in your content and we don't claim any ownership to it except for the limited rights that are needed to carry out the Service, as explained below.</p>
    <p class="description">We may need your permission to do things you ask us to do with your content, for example, hosting your files, or sharing them at your direction. This includes product features visible to you, for example, image thumbnails or document previews. It also includes design choices we make to technically administer our Service, for example, how we redundantly backup data to keep it safe. You give us the permissions we need, to do those things solely to provide the Service. This permission also extends to trusted third parties we work with to provide the Service, for example Amazon, which provides our storage space (again, only to provide the Service).</p>
    <p class="description">You can find more information about how we collect, use and store your content in the privacy policy. To be clear, aside from the rare exceptions we identify in our Privacy Policy, no matter how the Service changes, we won't share your content with others unless you direct us to.</p>
    <p class="description">However, all title, ownership rights and intellectual property rights in the Service and Products shall remain with nVipani or its suppliers, as applicable. The Service and Products are protected by copyright and other intellectual property laws and by international treaties. Title and related rights in the content accessed through the Service and Products is the property of the applicable content owner and is protected by applicable law.</p>
    <p class="description">You understand and acknowledge that your conduct, the content of your files and folders, and your communications with others while using the Service and Products is your sole responsibility. Such as, it's your responsibility to ensure that you have the rights or permission needed to comply with these Terms.</p>
</div>
<h3 class="description heading">4. Sharing Your Content</h3>
<div class="privacy">
    <p class="description">The Service and Products permit you to share your content with others. You should carefully consider what you decide to share with other users. nVipani has no responsibility for those files.</p>
</div>
<h3 class="description heading">5.Your accountability</h3>
<div class="privacy">
    <p class="description">Files and other content in the Service and Products may be protected by intellectual property rights of others. You are accountable for not using the Service and Products to infringe any third party's intellectual or other proprietary rights or rights of publicity or privacy. Please do not copy, upload, download, or share files unless you have the right to do so. You understand and agree that purchasing or otherwise legally obtaining documents, videos, music, software or other forms of media does not necessarily grant you the right to distribute or publicly share those files with third parties through our Service and Products. By sharing your content with other users, you are representing that you either (i) own all copyrights in the files you have placed in Folders/ Sub-folders or (ii) have obtained permission from the rightful copyright holder to share such files. In short, you will be fully responsible and liable for what you copy, share, upload, download or otherwise use while using our Service and Products. Please do not upload spyware or any other malicious software to the Service and Products. You are accountable for maintaining and protecting all of your content. nVipani will not be liable for any loss or corruption of your stuff, or for any costs or expenses associated with backing up or restoring any of your stuff.</p>

</div>
<h3 class="description heading">6. Acceptable Use:</h3>
<div class="privacy">
    <p class="description">The use of the Service and Products by you is subject to the end user license terms set forth herein and all applicable laws, rules and regulations, including local, state, national and international laws, rules and regulations (including without limitation those governing account collection, export control, consumer protection, unfair competition, anti-discrimination or false advertising). You will not, and you agree that you will not attempt to, misuse the Service and Products. You agree to (i) comply with all applicable laws, rules and regulations, including local, state, national and international laws, rules and regulations (including without limitation those governing laws rules and regulations mentioned earlier in this section (ii) not to post, distribute, or otherwise make available or transmit any software or other computer files that contain a virus, trojan horse, worm or other harmful or destructive component; (iii) not to use the Service and Products for any illegal purposes including but not limited to the infringement of any intellectual property right, the unauthorized transfer to yourself, and impersonation or misrepresentation; (iv) not to delete from the Products, Software, documentation or any web site used in connection with the Service and Products, any legal notices, disclaimers, or proprietary notices such as copyright or trademark notices, or modify any logos that you do not own or have express permission to modify; (v) not to use the Service and Products to interfere or disrupt networks connected to the Service and Products; (vi) not to use the Service and Products to violate the privacy of others, or to defame others; and (vii) send unsolicited communications, promotions or advertisements, or spam.</p>
</div>
<h3 class="description heading">7. Account Security and Passwords:</h3>
<div class="privacy">
    <p class="description">
        You will receive a password upon completing the registration process. You are responsible for maintaining the confidentiality of the password and account. You are fully responsible for all activities that occur under your password or account, whether or not you authorized that activity. You consent to (a) immediately notify nVipani of any unauthorized use of your password or account or any other breach of security and (b) ensure that you exit from your account at the end of each session. You agree that if you wish to protect your transmission of data or files to nVipani, it is your responsibility to use a secure encrypted connection to communicate with our Service.
    </p>

    <p class="description">You acknowledge that we will not be liable for any loss or damage arising from your failure to comply with this Section. However, you may be held liable for losses incurred by us or another party due to another's use of your password and account, whether with or without your authorization.</p>
</div>
<h3 class="description heading">8. Software and Updates</h3>
<div class="privacy">
    <p class="description">Some use of our Service and Products may require you to download a software package ("Software"). These end user license terms grant a limited nonexclusive, nontransferable, revocable license right and license to use the software, solely for the purpose of using the Service and Products (the "License Agreement"). You agree to be bound by this License Agreement by your use of Service and Products.</p>
    <p class="description">You understand and acknowledge that our or our supplier's proprietary services and products are protected by copyrights, trademarks, service marks, patents and/or other proprietary rights and laws. Your license to use the Software is automatically revoked if you violate the Terms stated in this section in a manner that implicates our intellectual property rights. We hereby reserve all rights not expressly granted in these Terms.
    </p>
    <p class="description">You may copy the software for archival purposes only, provided any copy must contain all original proprietary notices. You may not alter, modify, redistribute, sell, auction, decompile, reverse engineer, disassemble or otherwise reduce the software to a human-readable form nor assist anyone else to do so. You may not reproduce (except for archival purposes), distribute or create derivative works based on the software, Service and Products without expressly being authorized in writing to do so by <<>>. Further, you may not rent, lease, grant a security interest in or otherwise transfer rights to the Service and Products. All rights not expressly granted in this License Agreement are reserved to us and our suppliers.
    </p>
    <p class="description">Our Service may update the Software on your device automatically when a new version is available. Our connection-aware automated update feature will continue to download software updates and upload changed documents from your devices when connected. You should logout of the desktop or mobile application if you'd like to stop any such data transfer.
    </p>
</div>
<h3 class="description heading">9. nVipani's Proprietary Rights:</h3>
<div class="privacy">
    <p class="description">All content on our web site and computer programs/Software/technology associated with Service and Products may contain proprietary and confidential information which are protected by copyright and other intellectual property laws. These terms do not grant you any right, title, or interest in the Service or Products/Software, or the content in the Service. "nVipani", and "nVipani", associated logos, and other names, logos, icons and marks identifying nVipani’s products and services are trademarks or service marks of nVipani (collectively the "Trademarks"). You do not have any rights and must not use the nVipani trademarks, logos, domain names, or other brand features without the prior written permission of nVipani.</p>
</div>
<h3 class="description heading">10. Modifications</h3>
<div class="privacy">
    <p class="description">a. Service and Products
    </p>
    <p class="description">We are constantly changing and improving our Service and Products. We may add or remove a few functionalities or features, and we may suspend or discontinue the Service or Product altogether. Please understand that we are under no obligation to inform you of the updates. All the Terms will be applicable to the updates unless we indicate otherwise.

    </p>
    <p class="description">b. Terms
    </p>
    <p class="description">We may revise these Terms from time to time and the most current version will always be posted on our website. If a revision, in our sole discretion, is material we will notify you (for example via email to the email address associated with your account). Changes will not apply retroactively and will become effective immediately. If you do not agree to the modified terms for a service/product, you should discontinue your use of that service/product.
    </p>
    <p class="description">We shall not be liable to you or any party for any loss and damage caused should we exercise our right to amend these Terms or modify or suspend the Service or Product.</p>
</div>
<h3 class="description heading">11. Terminating our Service:</h3>
<div class="privacy">
    <p class="description">You may and can stop using our Service and Products at any time, although we'll be sorry to see you go. We may also stop providing the Service to you, or add or create new limits to our Service at any time, with or without cause, and with or without notice.</p>
    <p class="description">If we discontinue the Service, wherever reasonably possible, we will give you reasonable advance notice and a chance to get your information out of that Service. If we suspend or terminate your use, we will try to let you know in advance and help you retrieve your data. However, we do assume that you are taking reasonable steps to preserve your data.</p>
</div>
<h3 class="description heading">12. Third Party Content:</h3>
<div class="privacy">
    <p class="description">
        We or third parties may provide, links to other websites or resources. You acknowledge and agree that we are not responsible and liable for the availability and accuracy of such external websites or resources. We do not endorse and are not responsible or liable for any content, advertising, products or other materials on or available from such websites or resources. You are solely responsible for your use of any such websites or resources. You further acknowledge and agree that we shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such site or resource.
    </p>
</div>

    <h3 class="description heading">13. Claims of copyright or intellectual property infringement:</h3>
    <div class="privacy">
        <p class="description">We respect the intellectual property of others, and we ask you to do the same. We may, in appropriate circumstances and at our sole discretion, disable and/or terminate the accounts of users who may be repeat infringers. If you believe that your work has been copied in a way that constitutes copyright infringement, or your intellectual property rights have been otherwise violated, please provide nVipani the following information: 1.an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright or other intellectual property interest; 2. a description of the copyrighted work or other intellectual property that you claim has been infringed; 3. a description of where the material that you claim is infringing is located on the site; 4. your address, telephone number, and email address; 5.a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and 6. a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright or intellectual property owner or authorized to act on the copyright or intellectual property owner's behalf.</p>
   <p  class="description">Notice of claims of copyright or other intellectual property infringement can be reached as follows:
       <<>>>
   </p>
    </div>

    <h3 class="description heading">14. Disclaimer of Warranties:</h3>
    <div class="privacy">
                <p class="description">
                    YOU EXPRESSLY UNDERSTAND AND AGREE THAT:
                </p>

        <p class="description">YOUR USE OF THE SERVICE AND PRODUCTS ARE AT YOUR SOLE RISK. THE SERVICE AND PRODUCTS ARE PROVIDED "AS IS", WITHOUT EXPRESS OR IMPLIED WARRANTY OR CONDITION OF ANY KIND. WE MAKE NO WARRANTY THAT (i) THE SERVICE OR PRODUCTS WILL MEET YOUR REQUIREMENTS; (ii) THE SERVICE OR PRODUCTS WILL BE UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE; (iii) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICE OR PRODUCTS WILL BE ACCURATE OR RELIABLE; (iv) THE QUALITY OF ANY PRODUCTS, SERVICE, INFORMATION OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH NVIPANI WILL MEET YOUR EXPECTATIONS; AND (v) ANY ERRORS IN THE SOFTWARE WILL BE CORRECTED. ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICE AND PRODUCTS OR SOFTWARE IS ACCESSED AT YOUR OWN DISCRETION AND RISK, AND YOU WILL BE SOLELY RESPONSIBLE FOR IT.
        </p>
        <p class="description">nVipani will have no responsibility for any harm to your computer system, loss or corruption of data, or other harm that results from your access to or use of the Service or Products.
        </p>

            </div>

    <h3 class="description heading">15. Limitation of Liability</h3>
    <div class="privacy">
                <p class="description">
                    YOU EXPRESSLY UNDERSTAND AND AKNOWLEDGE THAT IN NO EVENT NVIPANI AND ITS AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS, SUPPLIERS AND LICENSORS SHALL BE LIABLE TO YOU FOR ANY PUNITIVE, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF ALLDOX HAD WARNED OR HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM: (a) THE USE OR THE INABILITY TO USE THE SERVICE AND PRODUCTS; (b) THE COST OF PROCUREMENT OF SUBSTITUTE SERVICE OR PRODUCT(S); (c) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR CONTENT (d) STATEMENTS OR CONDUCT OF ANY THIRD PARTY RELATING TO THE SERVICE; OR (e) ANY OTHER MATTER RELATING TO THE SERVICE. AGGREGATE LIABILITY FOR ALL CLAIMS RELATING TO THE SERVICE SHALL NOT BE MORE THAN THE AMOUNTS PAID BY YOU TO NVIPANI FOR THE PAST THREE MONTHS OF THE SERVICE IN QUESTION.</p>
            </div>
        <h3 class="description heading">16. Indemnity</h3>
        <div class="privacy">
            <p class="description">
                You agree to indemnify and hold nVipani and its subsidiaries, affiliates, officers, agents, employees, partners and licensors harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of content you submit, post, transmit, modify or otherwise make available through our Service and Products, your use of our Service and Products, your connection to our Service and Products, your violation of the Terms or your violation of any rights of another.
            </p>
        </div>
        <h3 class="description heading">17. Force Majeure</h3>
        <div class="privacy">
            <p class="description">
                No party shall be liable for any performance failure, delay in performance, or lost data under these Terms (other than for delay in the payment of money due and payable hereunder) to the extent said failures or delays are proximately caused by (i) failures of Software or other computer programming, (ii) natural weather events, or (iii) any other causes beyond that party's reasonable control and occurring without its fault or negligence, including, without limitation, failure of suppliers, subcontractors, and carriers, or party to substantially meet its performance obligations under these Terms, provided that in any such event, as a condition to the claim of non-liability, the party experiencing the difficulty shall give the other prompt written notice, with full details following the occurrence of the cause relied upon.</p>
        </div>
        <h3 class="description heading">18. General Terms</h3>
        <div class="privacy">
            <p class="description">
                These Terms constitutes the entire agreement between you and nVipani and governs your use of the our Service and Products. You also may be subject to additional terms and conditions that may apply when you use or purchase certain other services. For example, if we provide you with any software under an open source license, there may be provisions in those licenses that expressly conflict with these Terms, in which case the open source provisions will apply. If there is a conflict between these terms and the additional terms, the additional terms will control for that conflict.
            </p>
            <p class="description">These terms control the relationship between nVipani and you. They do not create any third party beneficiary rights.</p>
            <p class="description">If you do not comply with these terms, and we don't take action right away, this doesn't mean that we are giving up any rights that we may have (such as taking action in the future).</p>
            <p class="description">Our failure to exercise or enforce any right or provision of these Terms shall not constitute a waiver of such right or provision. If any provision of the Terms is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should attempt to give effect to the parties' intentions as reflected in that provision and all other provisions. In the event of any particular term is found to be unenforceable or invalid, the other provisions of the Terms remain in full force and effect.</p>
            <p class="description">You may not assign any of your rights in these Terms, and any such attempt is void, but nVipani may assign its rights to any of its affiliates or subsidiaries, or to any successor in interest of any business associated with the Service and Products.</p>
            <p class="description">Notices by nVipani to you may be sent to the email address you provide on the Registration Form or otherwise by any means that nVipani determines in its sole discretion as likely to come to your attention. All notices by you sent to nVipani in connection with these Terms shall be in writing and sent by certified or personally delivered at the address of nVipani.</p>
            <p class="description">You agree that Terms and the relationship between the you and nVipani shall be governed by the laws of India without regard to its conflict of law provisions and that any and all claims, causes of action or disputes (regardless of theory) arising out of or relating to the Terms, or the relationship between you and nVipani shall be litigated exclusively in the courts of Bangalore and agree to waive any and all objections to the exercise of jurisdiction over the parties by such courts and to venue in such courts.</p>
            <p class="description">The section titles in the Terms are for convenience only and have no legal or contractual effect.
            </p>
        </div>

</div>
</md-content>
