<div class="nvc-signup-tab2">
    <div layout="column" layout-align="space-around center" class="nvc-height-100">
        <div class="nv-text-center bb-wid-100">
            <h2 class="nvc-primary-color">1. You'd like to start <span class="nv-text-bold nvc-primary-100-color">Trading</span> as</h2>
        </div>
        <div>
            <md-radio-group ng-model="rcategory" ng-change="changeRegisterCategory()"
                            layout="row" layout-sm="row" layout-xs="row" layout-gt-lg="row" layout-wrap layout-align="space-around center">
                <md-radio-button ng-repeat="item in businessTypesSelection" ng-value="item._id" flex="25" flex-gt-lg="25" flex-xs="25" flex-sm="25" aria-label="{{item.name}}">
                    <div>
                        <img ng-show="item && item.rImageURL" data-ng-src="{{item.rImageURL}}" class="nvc-signup-tab2">
                        <div class="nv-text-center">
                            <h4 class="nv-text-bold">{{item.name}}</h4>
                            <p>{{item.description}}</p>
                        </div>
                    </div>
                </md-radio-button>
            </md-radio-group>
        </div>
        <div class="bb-wid-50" >
            <div data-ng-show="error" class="text-center text-danger">
                <div class="md-subhead">{{error}}</div>
            </div>
            <div data-ng-show="registererror" class="text-center text-danger bb-wid-100">
                <p title="{{registererror}}" data-ng-bind="registererror"></p>
            </div>
            <div class="bb-wid-100" layout="row" layout-align="center center">
                <md-input-container md-no-float flex class="md-block bb-wid-100 md-no-error-space">
                    <input ng-model="companyName" placeholder="Give your Company Name" type="text" class="nv-text-center " aria-label="companyname">
                </md-input-container>
                <md-button type="submit" ng-show="rcategory" class="md-primary md-raised nvc-shape-pill">Next <strong class="fa fa-arrow-right"></strong></md-button>
            </div>
        </div>
    </div>
</div>
