<div ng-show="!authentication.user" class="bb-wid-100" ng-class="isMob?'':'nvc-height-100'">
    <div ng-show="path==='/signin' || path==='/'" layout="row">
        <div ng-show="selectedPanel===0 || selectedPanel===1 " ng-class="isMob?'':'nvc-signup-background nvc-height-100'" flex="100" layout="row" layout-sm="row" layout-xs="row" layout-gt-lg="row" layout-wrap layout-align="start center">
            <div flex="65" flex-sm="65" hide-xs flex-gt-lg="65" class="md-padding">
                <h3 class="nvc-primary-color"><span><img src="modules/core/img/brand/nvc-email-orders.jpg" flex="30"></span>Turn the way you trade</h3>
                <h5 class="md-padding">Supply Chain Management Solution to stock, showcase, sell</h5>
            </div>
            <div hide-gt-xs flex-xs="100" layout-xs="row" layout-align-xs="center center" layout-wrap>
                <div flex-xs="30">
                    <img src="modules/core/img/nvc-img/nvipani-logo.png" class="bb-wid-100 img-center img-circle nvc-margin-top-10 md-whiteframe-3dp" />
                </div>
                <div flex-xs="100" class="nv-text-bold nv-text-center nvc-primary-color">
                    <h3><strong>Trust&nbsp;&nbsp;&nbsp;Trade&nbsp;&nbsp;&nbsp;Track</strong></h3>
                </div>
            </div>
            <div flex="25" flex-sm="25" flex-xs="100" flex-gt-lg="25" ng-class="isMob?'':'nvc-signup-box'">
                <div layout="column" class="layout-padding">
                    <div ng-if="showSignin" class=" bb-layout-padding bb-login nv-text-center">
                        <form class="bb-layout-padding" name='signup' data-ng-submit="signin(signup.$valid)" autocomplete="on">
                            <div flex><h3 class="nv-text-bold nv-text-center md-padding"> Login Now </h3> </div>
                            <div flex class="bb-m-top40"></div>
                            <md-input-container class="md-block" md-no-float>
                                <input ng-model="credentials.username" type="text" name="username" nv-regulation-exp="mail" required placeholder="E-mail/Mobile" class="nv-text-center">
                            </md-input-container>

                            <md-input-container class="md-block" md-no-float>
                                <input ng-model="credentials.password" nv-type="signpassword" name="pwd" type="password"  ng-minlength="8" ng-maxlength="20" required placeholder="Password" class="nv-text-center">
                            </md-input-container>

                            <!-- <md-checkbox ng-model="address.public">Remember me</md-checkbox>-->
                            <md-button type="submit" class="md-primary md-raised nvc-primary-100-background nvc-shape-pill">Login</md-button>
                            <div data-ng-show="error" class="text-center text-danger">
                                <p data-ng-bind="error"></p>
                            </div>
                            <div layout="row" layout-align="space-between center">
                                <!--<a  href="/#!/password/forgot">Forgot password?</a>-->
                                <a class="bb-cursor" ng-hide="userstatus" href="/#!/register">New Account</a>
                                <a class="bb-cursor" ng-hide="userstatus" data-ng-click="panelChange('fpwd');">Forgot Password</a>
                                <a class="bb-cursor"  href="/#!/register" ng-show="userstatus">Resend</a>
                            </div>
                        </form>
                    </div>
                    <div ng-if="showFpwd" class="bb-login" layout-fill>
                        <form name="password" ng-init="reset();" ng-submit="forgotPassword(password.$valid)" autocomplete="off" class="nv-text-center">
                            <div flex><h3 class="nv-text-bold nv-text-center md-padding"> Restore Password </h3> </div>
                            <div flex class="bb-m-top40"></div>
                            <!--<img alt="nVipani" class="img-responsive center-block m-bot15" height="120" width="250" src="/modules/core/img/brand/BusinessBooster.png" />-->
                            <md-input-container class="md-block" md-no-float>
                                <input ng-disabled="passwordcredentials.otpVerified" ng-change="showPasswordOTP(passwordcredentials.username)"
                                       ng-model="passwordcredentials.username" type="text" nv-regulation-exp="mail" required placeholder="E-mail/Mobile" class="nv-text-center">
                            </md-input-container>
                            <md-input-container  ng-if ="!passwordcredentials.otpVerified && passwordcredentials.otpGenerated" class="md-block" md-no-float>
                                <input ng-model="passwordcredentials.forgotPasswordOtp" type="text" nv-regulation-exp="otp" placeholder="OTP" class="nv-text-center">
                            </md-input-container>
                            <md-input-container  ng-show="passwordcredentials.otpVerified" class="md-block" md-no-float>
                                <input ng-model="passwordcredentials.newPassword" type="password" nv-type="changepassword"
                                       ng-minlength="8" ng-maxlength="20" ng-required="passwordcredentials.otpVerified" placeholder="New Password" class="nv-text-center">
                                <div ng-messages="password.passwordcredentials.newPassword.$error" md-auto-hide="true">
                                    <div ng-message="pattern">Password should be Minimum 6 characters at least 1 Capital, 1
                                        Number and 1 Special Character (@#$%).
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container ng-show="passwordcredentials.otpVerified" class="md-block" md-no-float>
                                <input ng-model="passwordcredentials.verifyPassword"
                                       ng-minlength="8" ng-maxlength="20" type="password"  nv-type="verifypassword" ng-required="passwordcredentials.otpVerified" placeholder="Confirm Password" class="nv-text-center">
                                <div ng-messages="password.passwordcredentials.verifyPassword.$error" md-auto-hide="true" >
                                    <div ng-message="pattern">Verify Password should be Minimum 6 characters at least 1 Capital,
                                        1 Number and 1 Special Character (@#$%).
                                    </div>
                                </div>
                            </md-input-container>
                            <md-button type="submit" class="md-primary md-raised nvc-shape-pill nvc-primary-100-background">Submit</md-button>
                            <div data-ng-show="error" class="text-center text-danger">
                                <p>{{error}}</p>
                            </div>
                            <div data-ng-show="success" class="text-center">
                                <p>{{success}}</p>
                            </div>
                            <div layout="row" layout-align="space-between center" class="nvc-margin-5" layout-padding>
                                <a class="bb-cursor" href="/#!/register">New Account</a>
                                <a class="bb-cursor" data-ng-click="panelChange('login');">Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div ng-show="path==='/register'" layout="row">
        <form class="bb-wid-100" name="userForm"
              autocomplete="on" data-ng-submit="askRegistration(selectedPanel,userForm.$valid)">
            <div ng-show="selectedPanel===0 || selectedPanel===1" ng-class="isMob?'':'nvc-signup-background nvc-height-100'" flex="100" layout="row" layout-sm="row" layout-xs="row" layout-gt-lg="row" layout-wrap layout-align="start center">
                <div flex="65" flex-sm="65" hide-xs flex-gt-lg="65" class="md-padding">
                    <h3 class="nvc-primary-color"><span><img src="modules/core/img/brand/nvc-email-orders.jpg" flex="30"></span>Turn the way you trade</h3>
                    <h5 class="md-padding">Supply Chain Management Solution to stock, showcase, sell</h5>
                </div>
                <div flex-xs="100" hide-gt-xs layout-xs="row" layout-align="center center" layout-wrap>
                    <div flex-xs="30">
                        <img src="modules/core/img/nvc-img/nvipani-logo.png" class="bb-wid-100 img-center img-circle nvc-margin-top-10 md-whiteframe-3dp" />
                    </div>
                    <div flex-xs="100" class="nv-text-bold nv-text-center nvc-primary-color">
                        <h3><strong>Trust&nbsp;&nbsp;&nbsp;Trade&nbsp;&nbsp;&nbsp;Track</strong></h3>
                    </div>
                </div>
                <div flex="25" flex-sm="25" flex-xs="100" flex-gt-lg="25" ng-class="isMob?'':'nvc-signup-box'">
                    <div layout="column" class="layout-padding">
                        <div flex><h3 class="nv-text-bold nv-text-center"> Join Now </h3> </div>
                        <div flex ng-class="isMob?'':'bb-m-top40'"></div>
                        <div flex ng-show="selectedPanel===0">
                            <md-input-container md-no-float class="md-block nvc-margin-bottom-0">
                                <input ng-model="username" name="username" class="nv-text-center" nv-regulation-exp="mail" ng-required="path==='/register' && selectedPanel===0" placeholder="Email/Mobile No.">
                            </md-input-container>
                        </div>
                        <div flex ng-show="selectedPanel===0">
                            <md-input-container md-no-float class="md-block nvc-margin-top-0">
                                <input ng-model="password" name ="pwd" type="password" nv-type="regpassword"
                                       ng-minlength="8" ng-maxlength="20" ng-required="selectedPanel===0" class="nv-text-center" placeholder="Password">
                                <div ng-messages="userForm.password.$error"  >
                                    <div ng-message="pattern" >Password should be Minimum 6 characters at least 1 Capital, 1
                                        Number and 1 Special Character (@#$%).
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div flex ng-show="selectedPanel===1" layout="row" layout-align="center" layout-wrap>
                            <div flex="80" flex-xs="80" flex-sm="80">
                                <md-input-container class="md-block nvc-margin-bottom-0">
                                    <label>{{isEmail?'Email':'Mobile'}}</label>
                                    <input ng-model="username" value="email" disabled>
                                </md-input-container>
                            </div>
                            <div flex="80" flex-xs="80" flex-sm="80">
                                <md-input-container class="md-block nvc-margin-top-0">
                                    <label>Enter OTP</label>
                                    <input   ng-model="otp" minlength="1" maxlength="6" nv-regulation-exp="otp" ng-required="path==='/register' && selectedPanel===1">
                                </md-input-container>
                            </div>
                        </div>
                        <div flex class="nv-text-center">
                            <md-button type="submit" class="md-primary md-raised nvc-shape-pill nvc-primary-100-background">{{setText(selectedPanel)}}</md-button>
                        </div>
                        <div flex>
                            <div data-ng-show="success" class="text-center">
                                <p data-ng-bind="success"></p>
                            </div>
                            <div data-ng-show="registererror" class="text-center text-danger">
                                <p title="{{registererror}}" data-ng-bind="registererror"></p>
                            </div>
                        </div>
                        <div flex>
                            <a ng-show="selectedPanel===1" class="bb-cursor nv-text-center" ng-click="askRegistration(0,true)" >
                                <h5>Resend OTP</h5>
                            </a>
                            <a href="#!/signin" class="nv-text-center"><h5> Existing User?</h5></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page page-slide-in">
                <nvc-registration-form-panel2 ng-show="selectedPanel===2"></nvc-registration-form-panel2>
                <div class="nvc-signup-tab3" ng-show="selectedPanel===3">
                    <div layout="column" layout-align="space-around stretch" ng-class="isMob?'':'nvc-height-100'">
                        <h2 class="nvc-primary-color nv-text-center"><span class="fa fa-arrow-left h3" ng-click="setSelectedPanelId(2)"></span> 2. Choose your Trading <strong class="nvc-primary-100-color">Segments</strong></h2>
                        <div class="bb-wid-100 nv-text-center nvc-primary-color">
                            <select-segments ng-show="rcategory" flex="100"></select-segments>
                        </div>
                        <div>
                            <!--<div data-ng-show="success" class="text-center text-success bb-wid-100">
                                    <div data-ng-bind="success"></div>
                            </div>-->
                            <div data-ng-show="registererror" class="text-center text-danger bb-wid-100">
                                <p title="{{registererror}}" data-ng-bind="registererror"></p>
                            </div>
                            <div class="bb-wid-100" layout="row" layout-align="center">
                                <div class="nv-position-relative">
                                    <md-button class="md-fab md-mini " ng-class="{'md-primary':selectedCount>0}" aria-label="{{selectedCount}} Products selected">
                                        <md-icon class="fa fa-bars fa-lg ng-scope material-icons" ></md-icon>
                                    </md-button>
                                    <h5 class="nvc-sup-text ng-binding ng-hide" ng-show="selectedCount>0">{{selectedCount}}</h5>
                                </div>
                                <md-button type="submit" class="md-primary md-raised nvc-shape-pill" >
                                    Start your 45 days free trial
                                </md-button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
