<div layout-xs="column" layout-align-xs="center center" class="nvc-height-100">
    <div>
        <h3>I'd like to start <strong>Trading as</strong></h3>
        <md-select class="md-block" ng-model="rcategory" ng-change="changeRegisterCategory()" placeholder="Choose Registration Category">
            <md-option ng-repeat="item in businessTypesSelection" ng-value="item._id" >{{item.name}}</md-option>
        </md-select>
        <h3>I'd like my <strong>Company Name </strong> be</h3>
        <md-input-container class="md-block">
            <input ng-model="companyName" placeholder="Company Name">
        </md-input-container>
    </div>
    <md-button ng-disabled="!rcategory" class="nvc-primary-color md-primary md-raised nvc-shape-pill bb-wid-50" type="submit" >Next</md-button>
</div>
