<div data-ng-controller="AuthenticationController" data-ng-init="init();panelChange('');">
    <register-form class="bb-wid-100" ng-if="!authentication.user"></register-form>
    <register class="bb-wid-100" ng-if="authentication.user"></register>
</div>
