<section class="wrapper login-bg" data-ng-controller="AuthenticationController" data-ng-init="init();">
    <div class="row login-bg">

        <div class="col-lg-12 login-bg" ng-show="path==='/signin'">

            <div class="col-lg-9 col-sm-9">
                <!--<div class="video">
                    <iframe src="https://www.youtube.com/embed/s1QeoSedWmM?rel=0" allowfullscreen="" width="100%" frameborder="0" height="100%"></iframe>
                </div>-->


                <div class="login-slide bg-slider-wrapper" data-ng-controller="HomeController">
                    <div class="login-slider flexslider bg-slider" flex-slider>
                        <ul class="slides">
                            <li class="slide slide-1"><h1 class="slidertext title container text-center">We are empowering retailers
                                to get the best deals.</h1></li>
                            <li class="slide slide-2"><h1 class="slidertext title container text-center">Our technology will help in
                                assisting order management...</h1></li>
                            <li class="slide slide-3"><h1 class="slidertext title container text-center">workflow management...</h1></li>
                            <li class="slide slide-4"><h1 class="slidertext title container text-center">notifications to help track
                                progress of orders...</h1></li>
                            <li class="slide slide-5"><h1 class="slidertext title container text-center">and analytics to help
                                make better decisions.</h1></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-lg-3 p-3 login-border">

                <form name='signup' data-ng-submit="signin()">

                <h2 class="login-heading m-bot35">Sign in</h2>

                <div class="field m-bot15">
                    <label class="" for="username">USER NAME</label>
                    <br>
                    <input  class="signin-control"  type="email" id="email" name="username"
                            data-ng-model="credentials.username"   maxlegth="128">
                </div>
                <div class="field m-bot15">
                    <label class="" for="password">PASSWORD</label>
                    <br>
                    <input type="password" id="pass" name="password" class="signin-control"
                           data-ng-model="credentials.password"  >
                </div>
                <div class="field">

                    <input id="rememberme"  type="checkbox" ng-model="address.public">
                    <label for="rememberme">Remember me</label>
                </div>

                <input value="LOGIN NOW" class="btn btn-save login-page" type="submit">
                <div data-ng-show="error" class="text-center text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>

                <div class="user-forgot m-bot15">
                    <a href="/password/forgot">Forgot your password?</a>
                    <br>

                </div>

                    <a href="/register" class="btn btn-cancel">Register</a>

              </form>

            </div>


        </div>


        <div class="col-lg-12 login-bg" ng-show="path==='/register'">



            <div class="col-lg-6">
                <div class="video">
                    <div class="reg-slide bg-slider-wrapper" data-ng-controller="HomeController"
                    >
                        <div class="flexslider bg-slider" flex-slider>
                            <ul class="slides">
                                <li class="slide slide-1"><h1 class="slidertext title container text-center">We are empowering retailers
                                    to get the best deals.</h1></li>
                                <li class="slide slide-2"><h1 class="slidertext title container text-center">Our technology will help in
                                    assisting order management...</h1></li>
                                <li class="slide slide-3"><h1 class="slidertext title container text-center">workflow management...</h1></li>
                                <li class="slide slide-4"><h1 class="slidertext title container text-center">notifications to help track
                                    progress of orders...</h1></li>
                                <li class="slide slide-5"><h1 class="slidertext title container text-center">and analytics to help
                                    make better decisions.</h1></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 login-border">

                <form name="userForm" data-ng-submit="askPreRegistration()" autocomplete="off">
                    <h2 class="login-heading">Register</h2>
                            <div class="col-lg-6 field m-bot10">
                                <label class="email required control-label" for="username">
                                    <abbr title="required">*</abbr> Email</label>
                                <input class="signin-control" type="email" required id="username" name="username"
                                       data-ng-model="username" maxlegth="128">
                            </div>

                            <div class="col-lg-6 field m-bot10">
                             <label for="mobile">
                            <abbr title="required">*</abbr>Mobile</label>
                                <input class="signin-control" type="number" required id="mobile" name="mobile"
                                       data-ng-model="mobile" ng-minlength="10" , ng-maxlength="12"
                                       only-digits class="form-control m-bot15">
                           </div>

                            <div class="col-lg-6 field m-bot10">
                                <label for="password">
                                    <abbr title="required">*</abbr> Password</label>
                                <input class="signin-control" type="password" required id="password" name="password"
                                       data-ng-model="password" maxlegth="128" ng-minlength="8">
                                <md-tooltip>Min Order Quantity : , Max Order Quantity: </md-tooltip>

                                <!--<md-tooltip> Password should be at least 8 character in length:<br>It should be alphanumeric with at least a special character<br> At least one of the them should be Uppercase</md-tooltip>
                        -->    </div>

                            <div class="col-lg-6 field m-bot10">
                                <label  for="ConfirmPassword">
                                    <abbr title="required">*</abbr>Confirm Password</label>
                                <input class="signin-control" type="password" required id="ConfirmPassword"
                                       name="ConfirmPassword" data-ng-model="ConfirmPassword" maxlegth="128" ng-minlength="8">
                            </div>

                            <div class="col-lg-6 field m-bot10">
                                <label for="firstName">
                                    <abbr title="required">*</abbr> First Name</label>
                                <input class="signin-control" type="text" required id="firstName" name="firstName"
                                       data-ng-model="firstName" maxlegth="128">
                            </div>

                            <div class="col-lg-6 field m-bot10">
                                <label for="lastname">
                                    Last Name</label>
                                <input class="signin-control" id="lastName" name="lastName" data-ng-model="lastName"
                                       maxlegth="128">
                            </div>

                            <div class="col-lg-6 m-bot10 field">
                                <label for="companyName">
                            <abbr title="required">*</abbr>Company Name</label>
                                <input class="signin-control" type="text" required id="companyName" ng-model="companyName" name="companyName"
                                       maxlegth="128">
                            </div>

                            <div class="col-lg-6 m-bot10 field">
                                <label for="businessCategory">
                                    <abbr title="required">*</abbr>Select Business Category</label>
                                <select class="signin-control" id="businessCategory" ng-model="businessCategory"
                                        ng-options="item.text as item.value for item in businessCategories"></select>
                          </div>



                            <div class="col-lg-12 field">
                                <label>Business Type</label>
                            </div>
                    <div class="col-lg-4 m-bot10 field" ng-repeat="item in businessTypes">
                        <input type="radio" name="businessType" ng-value="item.value" ng-model="businessType"/>
                        <label class="radio-custom-label"><span></span>{{item.text}}</label>
                    </div>




                                <div class="col-lg-12 m-bot10 field">

                                    <p><input name="agreement" required ng-model="acceptTerms" type="checkbox">
                                        Agree
                                    <a href="" target="_blank">Terms &amp; Conditions,</a>
                                    <a href="" target="_blank">Privacy Policy</a>
                                    and
                                    <a href="">Seller Policy.</a></p>

                                </div>
                    <div data-ng-show="registererror" class="text-center text-danger">
                        <strong data-ng-bind="registererror"></strong>
                    </div>

                                <div class="row continue-right">
                                    <div class="col-lg-3 hav-acc">
                                        <p>Do you have account already ?</p>
                                    </div>
                                    <div class="col-lg-3 lg m-bot10">
                                        <a href="/" class="btn btn-reg" type="button">
                                            Sign in
                                        </a>
                                    </div>
                                    <div class="col-lg-3 m-bot10">

                                    </div>
                                    <div class="col-lg-3 m-bot10">
                                        <button class="btn btn-save" type="submit">
                                            Sign Up
                                        </button>
                                    </div>



                                </div>




                </form>

            </div>


        </div>
    </div>
</section>

<section class="wrapper firsec-bg cleartop">
    <div class="row firsec-bg">
        <div class="col-lg-12 firsec-bg">
            <section class="panel firsec-bg">

                <div class="panel-body panelbdy">
                    <div>
                        <h3  class="tabtxt heading">Products<button type="button" class="btn btn-success morebtn">more</button></h3>
                    </div>

                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <div class="tabs tabs-style-linebox-p">
                            <ul class="nav nav-tabs p-tab" role="tablist">
                                <li role="presentation" class=""><a class="tabtxt" aria-expanded="false" href="#tab1" role="tab" data-toggle="tab">AGRICULTURE (5)</a></li>
                                <li class="active" role="presentation"><a class="tabtxt" aria-expanded="true" href="#tab2" role="tab" data-toggle="tab">FOOD & BEVERAGE (7)</a></li>
                                <li class="" role="presentation"><a class="tabtxt" aria-expanded="false" href="#tab3" role="tab" data-toggle="tab">APPARELS(5)</a></li>

                            </ul>
                        </div>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane  active" id="tab1">
                                <div class="row">
                                    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 ad-pop">
                                        <img src="/modules/core/img/dashboard/offers1.png" class="img-responsive p-img-fix img-center" alt="">
                                        <p><strong>Product1</strong></p>
                                    </div><!--/.col-->

                                    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 ad-pop">
                                        <img src="/modules/core/img/dashboard/offers2.png" class="img-responsive p-img-fix img-center" alt="">
                                        <p class="text-center"><strong>Product1</strong></p>
                                    </div><!--/.col-->

                                    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 ad-pop">
                                        <img src="/modules/core/img/dashboard/offers3.png" class="img-responsive p-img-fix img-center" alt="">
                                        <p class="text-center"><strong>Product1</strong></p>
                                    </div><!--/.col-->

                                    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 ad-pop">
                                        <img src="/modules/core/img/dashboard/offers4.png" class="p-img-fix img-center" alt="">
                                        <p class="text-center"><strong>Product1</strong></p>
                                    </div><!--/.col-->

                                    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 ad-pop">
                                        <img src="/modules/core/img/dashboard/offers5.png" class="p-img-fix img-center" alt="">
                                        <p class="text-center"><strong>Product1</strong></p>
                                    </div><!--/.col-->

                                    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 ad-pop">
                                        <img src="/modules/core/img/dashboard/offers6.png" class="p-img-fix img-center" alt="">
                                        <p class="text-center"><strong>Product1</strong></p>
                                    </div><!--/.col-->

                                </div><!--/.row-->
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tab2">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tab3">
                                <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
                            </div>

                        </div>
                    </div>



                </div>
            </section>
        </div>

    </div>
</section>



