<section class="wrapper login-bg" data-ng-controller="AuthenticationController" data-ng-init="init();">
    <div class="row login-bg">

        <div class="col-lg-12 login-bg">
            <label>{{successMessage}}</label>



        </div>


    </div>
</section>




