<section class="wrapper firsec-bg">
    <div class="row firsec-bg">

        <div class="col-lg-12 mob-lg firsec-bg">


            <section>
                <div class="ver-wizard">
                    <div class="wizard-inner">
                        <div class="ver-connecting-line"></div>
                        <ul class="nav nav-tabs" role="tablist">

                            <li role="presentation" class="active">
                                <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                            <span class="round-tab">
                                <!--<i class="glyphicon glyphicon-folder-open"></i>-->01
                            </span>

                                </a>
                                <label>VERIFICATION</label>
                            </li>

                            <li role="presentation" class="disabled">
                                <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                            <span class="round-tab">02
                                <!--<i class="glyphicon glyphicon-pencil"></i>-->
                            </span>
                                </a>
                                <label>INFORMATION</label>
                            </li>


                            <li role="presentation" class="disabled">
                                <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                            <span class="round-tab">03
                                <!--<i class="glyphicon glyphicon-ok"></i>-->
                            </span>
                                </a>
                                <label>COMPLETE</label>
                            </li>
                        </ul>
                    </div>

                    <form role="form">
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="step1">
                                <!--<h3>Step 1</h3>-->
                                <div class="col-lg-12 col-sm-12 m-top40 m-bot250">
                                   <div class="text-center">
                                    <p class="ver-text">A Confirmation email as been sent to your mail-box <span>veeren.annigere@gmail.com</span> </p>

                                    <p>Please sign-in to your mail and click on the verification link with 24 hours to complete your registration </p>

                                       <div class="col-lg-3 col-lg-offset-4">
                                           <button class="btn btn-save">CHECK MAIL NOW</button>
                                       </div>
                                       <div class="col-lg-3">
                                           <p class="blue"><a href="">I have not receive the mail</a></p>
                                       </div>
                                   </div>
                                </div>
                                <!--<ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-save next-step">Save and continue</button></li>
                                </ul>-->

                            </div>
                            <div class="tab-pane" role="tabpanel" id="step2">



                                <ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-save next-step">Save and continue</button></li>
                                </ul>


                            </div>
                            <div class="tab-pane" role="tabpanel" id="step3">


                                <div class="col-lg-12 m-top15"><hr class="nline m-15"></div>
                                <ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-cancel prev-step">Previous</button></li>
                                    <!--<li><button type="button" class="btn btn-cancel next-step">Skip</button></li>-->
                                    <li><button type="button" class="btn btn-save btn-info-full next-step">Make Payment</button></li>
                                </ul>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="complete">
                                <!--<h3>congratulations...!</h3>
                                <p>Your Order as been placed successfully</p>-->

                                <div class="notify successbox">
                                    <h1>Success!</h1>
                                    <span class="alerticon"><i class="fa fa-check"></i></span>
                                    <p class="text-center">Congratulations...! Your registration successfully.</p>
                                </div>

                                <div class="notify errorbox">
                                    <h1>Warning!</h1>
                                    <span class="alerticon"><i class="fa fa-close"></i></span>
                                    <p class="text-center">Please fill out the fields and then submit the form.</p>
                                </div>


                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </form>
                </div>
            </section>

        </div>

    </div>
</section>
