.content {
	margin-top: 20px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.badge-notify{
	background:red;
	position:relative;
	top: -20px;
	left: -35px;
}
.header-profile-image {
	opacity: 0.8;
	height: 28px;
	width: 28px;
	border-radius: 50%;
	margin-right: 5px;
}

.open  .header-profile-image,
a:hover .header-profile-image {
	opacity: 1;
}

.user-header-dropdown-toggle {
	padding-top: 11px !important;
	padding-bottom: 11px !important;
}
select.autotext {
	height: auto;
}

select.bb-autotext {
	height: auto;
}

/*New home pages changes*/
.layout-align-space-between-center{
	align-content: center;
	align-items: center;
	max-width: 100%;
}
/*footer.layout-row {*/
	/*flex-direction: row;*/
	/*background: #F7F7F7;*/
	/*color: #b3b3b3;*/
	/*background-color:#4D6D00*/
/*}*/

footer.layout-row-cust {
	flex-direction: row;
	background: #F7F7F7;
	color: #b3b3b3;
	background-color:#4D6D00
}

.md-toolbar-tools, .md-toolbar-tools .fill-height {
	align-items: center;
	display: flex;
}

/*====bb====*/

footer.bb-layout-row-cust {
	flex-direction: row;
	background: #F7F7F7;
	color: #b3b3b3;
	background-color: #4D6D00
}

.bb-toolbar-tools {
	align-items: center;
	display: flex;
}

.layout-padding, .layout-padding-gt-sm, .layout-padding-md, .layout-padding > *, .layout-padding-gt-sm > *, .layout-padding-md > *, .layout-padding > .flex, .layout-padding > .flex-gt-sm, .layout-padding > .flex-md {
	padding: 3px;
}
.trowserView modal-dialog {
	/*opacity: 1;*/
	max-width: 100%;
	max-height: 100%;
	position: relative;
	overflow: auto;
	box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
}
.trowserView md-dialog{
	max-width: 50%;
	max-height: 100%;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.trowserView md-dialog.md-dialog-fullscreen{
	max-width: 100%;
	max-height: 100%;
}
.trowserView modal-content {
	height: 100%;
	overflow-y: auto;
}
.trowserView .trowser {
	width: 100%;
	height: 100%;
	position: fixed;
	right: 0;
	-webkit-animation-name: slide-down;
	-moz-animation-name: slide-down;
	-o-animation-name: slide-down;
	animation-name: slide-down;
	-webkit-animation-duration: 750ms;
	-moz-animation-duration: 750ms;
	-o-animation-duration: 750ms;
	animation-duration: 750ms;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}

.loader {
	display: none;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: white;
	background-color: rgba( 0, 0, 0, .2 );
}
.loader-animation{
	background-image: url(../img/nvipani-logo-small.png);
	background-size: 75px;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
}

/*============ Empty Class=======*/
/*.trowserView md-dialog.md-transition-in.trowser {
	!*-webkit-transform: translate3d(0, -120%, 0);
	transform: translate3d(0, -120%, 0);
	overflow: hidden;
	min-width: 1024px;*!
}*/
/*============= Empty Class=======*/
@-webkit-keyframes slide-down {
	0% {
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}
}
@-moz-keyframes slide-down {
	0% {
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}
}
@-o-keyframes slide-down {
	0% {
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}
}
@keyframes slide-down {
	0% {
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}
}
@media screen and (max-width: 600px){
	.trowserView md-dialog{
		max-width: 100%;
	}
}
