@font-face {
    font-family: "icons";
    src: url("./icons.eot?47b61701409157bdcabff563d57623bc?#iefix") format("embedded-opentype"),
url("./icons.woff2?47b61701409157bdcabff563d57623bc") format("woff2"),
url("./icons.woff?47b61701409157bdcabff563d57623bc") format("woff"),
url("./icons.ttf?47b61701409157bdcabff563d57623bc") format("truetype"),
url("./icons.svg?47b61701409157bdcabff563d57623bc#icons") format("svg");
}

.nvc-icon {
    line-height: 1;
}

.nvc-icon:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    vertical-align: top;
}

.nvc-contacts-Inactive:before {
    content: "\f101";
}
.nvc-contacts-NewlyAdded:before {
    content: "\f102";
}
.nvc-inventory-Expired:before {
    content: "\f103";
}
.nvc-inventory-FastMoving:before {
    content: "\f104";
}
.nvc-inventory-Inactive:before {
    content: "\f105";
}
.nvc-inventory-LowOnStock:before {
    content: "\f106";
}
.nvc-inventory-NewlyAdded:before {
    content: "\f107";
}
.nvc-inventory-OutOfStock:before {
    content: "\f108";
}
.nvc-offers-Buy:before {
    content: "\f109";
}
.nvc-offers-Draft:before {
    content: "\f10a";
}
.nvc-offers-Expired:before {
    content: "\f10b";
}
.nvc-offers-Intra:before {
    content: "\f10c";
}
.nvc-offers-New:before {
    content: "\f10d";
}
.nvc-offers-Sell:before {
    content: "\f10e";
}
.nvc-orders-Delivered:before {
    content: "\f10f";
}
.nvc-orders-DeliveryPending:before {
    content: "\f110";
}
.nvc-orders-Disputed:before {
    content: "\f111";
}
.nvc-orders-Intra:before {
    content: "\f112";
}
.nvc-orders-New:before {
    content: "\f113";
}
.nvc-orders-PaymentPending:before {
    content: "\f114";
}
.nvc-OutOfStock:before {
    content: "\f115";
}
