/*Home */

/*================== Register page css start ===================*/
.nvc-signup-background{
    background: linear-gradient(90deg, #FFFFFF 77.5%, #e4e4e4 22.5%);
}
.nvc-signup-box{
    color: #FFFFFF;
    background: linear-gradient(#73b906, #299e26)
}
.nvc-signup-box a{
    color: #FFFFFF;
}
.nvc-signup-box input{
    border-bottom-color: #FFFFFF;
    color: #FFFFFF;
}
.nvc-signup-box .md-button.md-primary.md-raised{
    padding: 0 15px;
}
.nvc-signup-box input::-webkit-input-placeholder,
.nvc-signup-box input:-webkit-autofill,
.nvc-signup-box input:-webkit-autofill:hover,
.nvc-signup-box input:-webkit-autofill:focus,
.nvc-signup-box input:-webkit-autofill:active{
    background-color: transparent !important;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

.nvc-signup-box input:-moz-placeholder{
    color: #FFFFFF !important;
}
.nvc-signup-box input::-moz-placeholder{
    color: #FFFFFF !important;
}
.nvc-signup-box input:-ms-input-placeholder{
    color: #FFFFFF !important;
}
.nvc-signup-box md-input-container:not(.md-input-invalid).md-input-has-value label,
.nvc-signup-box md-input-container:not(.md-input-invalid).md-input-focused label,
.nvc-signup-box md-input-container input{
    color: #FFFFFF !important;
}
.nvc-signup-tab2{
    height: 100vh;
    width: 100%;
}
.nvc-signup-tab2 img{
    background: #e4e4e4;
    border-radius: 100rem;
    padding: 10px;
    width: 100px;
    height: 100px;
    margin: 20px auto;
    display: block;
}
.nvc-signup-tab2 md-radio-button:hover img{
    -webkit-box-shadow: 1px 1px 20px 0 #777777;
    -moz-box-shadow: 1px 1px 20px 0 #777777;
    box-shadow: 1px 1px 20px 0 #777777;
}
.nvc-signup-tab2 .md-checked img{
    background: #299e26;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}
.nvc-signup-tab2 .md-container.md-ink-ripple {
    display: none;
}
.nvc-signup-tab2 md-radio-button .md-label{
    margin-left: 0;
}
.nvc-signup-tab2 md-input-container .md-input{
    -webkit-border-radius: 100rem;
    -moz-border-radius: 100rem;
    border-radius: 100rem;
    background: #e4e4e4;
}

/*================== Register page css End =====================*/
/*================== Segment selection page css ===============*/
.nvc-reg-cat-select md-checkbox .md-container,
.nvc-reg-cat-select md-radio-button .md-container{
    display: none;
}
.nvc-reg-cat-select md-checkbox .md-label,
.nvc-reg-cat-select md-radio-button .md-label{
    margin-left: 0;
}
.nvc-scroll-item md-radio-group md-radio-button:not(:first-child){
    margin-top: 0;
}
.nvc-reg-cat-select md-checkbox .md-label img,
.nvc-reg-cat-select md-radio-button .md-label img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    -o-object-fit: cover;
}
.nvc-reg-cat-select md-checkbox .md-label img:hover,
.nvc-reg-cat-select md-radio-button .md-label img:hover{
    -webkit-box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.2);
}
.nvc-horizontal-scroll{
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.nvc-scroll-item{
    flex: 0 0 auto;
    margin-left: auto;
    padding: 10px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.nvc-scroll-item:last-child{
    margin-right:auto;
}
.nvc-scroll-item-content .fa{
    color: #FFFFFF;
    top: -6px;
    right: -6px;
    padding: 4px;
    height: 22px;
    width: 22px;
}
/*================== End of segment page css ================*/
/*================== Public paths page CSS goes here======================*/
.nvc-tracker-page .carousel .carousel-inner img{
    width: 100%;
}
.nvc-tracker-page .nvc-carousel-title{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 20px 40px 20px;
    background: #000000;
    background: rgba(0,0,0,0.4);
    color: white;
}
/*================== End of public path page CSS ===============*/
/*================== Tracker page CSS ========================*/
.nvc-view-separator{
    border-left: 5px solid #858585;
}
.nvc-tracker-card .timeline-left{
    width: 6px;
    height: calc(100% - 10px);
    background: #299e26;
    position: absolute;
    left: calc(50% - 3px);
    top: 10px;
}
.nvc-tracker-card .timeline-left.timeline-left-last{
    height: 50%;
}
.nvc-tracker-card .timeline-left:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid #299e26;
    top: -10px;
    left: -5px;
    position: absolute;
}
.nvc-tracker-card .track-prod-img{
    top: 0;
    width: 45px;
    height: 45px;
    right: -14%;
    border: 2px solid #299e26;
}
.nvc-tracker-card .timeline-date{
    background: #fff;
    z-index: 1;
}
.nvc-tracker-card .timeline-date div{
    text-align: center;
    width: 50px;
    height: 50px;
    border: 4px solid #299e26;
    border-radius: 50%;
}
.nvc-tracker-card-padding{
    padding: 0 18px;
}
.nvc-more-tracking-prods{
    padding: 10px 18px;
    border: 2px solid #e4e4e4;
    position: relative;
}
.nvc-more-tracking-prods:before{
    content: '';
    position: absolute;
    height: 100%;
    width: 10px;
    background: #299e26;
    left: 0;
}
.nvc-more-tracking-prods-count{
    position: absolute;
    right: 0;
    height: 100%;
}
/* ================= Tracker page css ends ===================*/

.nvc-signin-new{
    width: 100%;
    margin-top: 5em;
}

.nvc-signin-new .bb-wid-100{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.nvc-signin-content a{
    color: #299e26;
    padding: 5px 20px 10px 20px;
    font-size: xx-large;
}
.nvc-signin-content a.active{
    font-weight: 800;
}
.nvc-signin-content a:hover{
    text-decoration: none;
}
/*
.nvc-signin{
    padding: 5%;
    background: #299e26;
    background: -webkit-linear-gradient(#7400bc, #299e26);
    background: -o-linear-gradient(#7400bc, #299e26);
    background: -moz-linear-gradient(#7400bc, #299e26);
    background: -ms-linear-gradient(#7400bc, #299e26);
    background: linear-gradient(#7400bc, #299e26);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7400bc), color-stop(100%,#299e26));
    color: #FFFFFF;
    position: relative;
    height: 32vw;
}
*/
.nvc-signin [ng-if="showSignin"],
.nvc-signin [ng-if="showFpwd"]{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
/*
.nvc-signup [ng-show="selectedPanel===0"]{
    padding-top: 10%;
    padding-bottom: 10%;
}
*/
.nvc-timeline-dot{
    position: absolute;
    top:20px;
    right: -11px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 3px solid #299e26;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.nvc-timeline-dot:after{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background: #299e26;
    top: 5px;
    right: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.nvc-tag{
    text-align: right;
    position: relative;
    z-index: 1;
    padding: 20px 20px 0 0;
}
.nvc-tag.active{
    font-weight: 800;
    text-shadow: 0 0 1px rgba(0,0,0,0.5);
}
.nvc-tag.active .nvc-timeline-dot{
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.nvc-tag.completed{
    font-weight:800;
    color: green;
}
.nvc-tag.completed .nvc-timeline-dot{
    border-color: green;
}
.nvc-tag.completed .nvc-timeline-dot:after{
    background: green;
}
.nvc-tag-timeline{
    position: relative;
    padding-left: 20px;
}
.nvc-tag-timeline:before{
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    background: #299e26;
    z-index: 0;
}
.nvc-tag-content{
    position: relative;
}

.nvc-signin input:-webkit-autofill{
    background-color: transparent !important;
}
.nvc-signin .bb-user-forgot{
    display: flex;
    justify-content: space-between;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
/*.nvc-signup, [ng-show="path==='/signin'"]{
    position: absolute;
    top: 10%;
    width: 50%;
}*/
/*.nvc-signup [ng-show="selectedPanel===2"] md-input-container{
    margin-bottom: 10px;
}*/
.nvc-signup .text-danger p{
    white-space: pre-wrap;
}
.nvc-active{
    background-color: transparent;
}
.nvc-signin-new .md-button{
    letter-spacing: 1px;
    color: #FFFFFF;
    background: #299e26;
    -webkit-box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-border-radius: 100rem;
    -moz-border-radius: 100rem;
    border-radius: 100rem;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.nvc-signin-new .md-button:hover {
    letter-spacing: 4px;
    background-color: transparent;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #000;
}
/*.nvc-signup .md-button{
    margin-top: 20px;
    margin-bottom: 20px;
}*/
/*Home */

.nvc-panel1{
    background: url('../img/nvc-img/landing page.jpg') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height:100vh;
}
.nvc-panel2{
    padding-bottom: 5%;
    position: relative;
    margin-left: -5%;
    opacity: 0;
}
.nvc-panel2.animate-slideIn{
    position: relative;
    margin-left: 0;
    opacity: 1;
    -webkit-transition: linear 0.3s;
    -moz-transition: linear 0.3s;
    -ms-transition: linear 0.3s;
    -o-transition: linear 0.3s;
    transition: linear 0.3s;
}
.nvc-panel2 p{
    font-size: 16px;
    font-weight: 300;
    color: black;
    line-height: 1.8em;
    text-align: justify;
    padding:4%;
    margin-bottom:initial;

}
.nvc-panel2-text{
    position: relative;
}
.nvc-panel2-text p:before{
    content: '';
    top: 1px;
    left: 1px;
    color: #FF6D00;
    position: absolute;
    background: url('../img/nvc-img/collon.png') no-repeat scroll 0 0;
    width: 26px;
    height: 26px;
}
.nvc-panel2-text p:after{
    content: '';
    bottom: 1px;
    right: 1px;
    color: #FF6D00;
    position: absolute;
    background: url('../img/nvc-img/collon-invert.png') no-repeat scroll 0 0;
    width: 26px;
    height: 26px;
}
.nvc-panel3{
    background-color: #FF6D00;
    -webkit-box-shadow: 0 2px 25px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 2px 25px 0 rgba(0,0,0,0.5);
    box-shadow: 0 2px 25px 0 rgba(0,0,0,0.5);
}
.nvc-panel3 h1{
    text-align: center;
    color: #fff;
    font-weight:600;
    padding-top: 5%;
    opacity: 0;
    position: relative;
    margin-bottom: -5%;
}
.nvc-panel3.animate-slideIn h1{
    opacity: 1;
    margin-bottom: 0;
    -webkit-transition: linear 0.3s;
    -moz-transition: linear 0.3s;
    -ms-transition: linear 0.3s;
    -o-transition: linear 0.3s;
    transition: linear 0.3s;
}
.nvc-panel3 img{
    width: 100%;
}
.nvc-panel2-logo{
    padding:2%;
    position: relative;
}
.nvc-panel2-logo-img{
    margin-top: -84px;
    padding: 20px;
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 1px 1px 23px 3px rgba(0,0,0,0.5);
    /*-webkit-moz-animation: bounce-in 2s;
    -moz-moz-animation: bounce-in 2s;
    -ms-moz-animation: bounce-in 2s;
    -o-moz-animation: bounce-in 2s;
    -khtml-moz-animation: bounce-in 2s;
    moz-animation: bounce-in 2s;
    animation: bounce-in 2s;*/
    max-width: 100%;
}
.nvc-panel4{
    padding-top: 8%;
    padding-left: 8%;
    padding-right:8%;
    position: relative;
}
.nvc-features-table1{
    border: 10px solid #7400bc;
    height:22vw;
    max-width:40%;
    margin-left: -17%;
    opacity: 0;
}
.nvc-features-table1 h1{
    color: #FF6D00;
    font-weight: 800;
    padding-left:5%;
    font-size:2.3vw;
}
.animate-slideIn .nvc-features-table1{
    margin-left: 0;
    opacity: 1;
    -webkit-transition: linear 0.3s;
    -moz-transition: linear 0.3s;
    -ms-transition: linear 0.3s;
    -o-transition: linear 0.3s;
    transition: linear 0.3s;
}
.nvc-features-table2{
    position: relative;
    right:1px;
    border:20px solid #fff;
    max-width:85%;
    top: 78%;
    left: 17%;
    margin-top:-14%;
}
.nvc-features-inner{
    padding:3%;
    background-color: #7400bc;
    -webkit-box-shadow: 1px 1px 20px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 20px 3px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 20px 3px rgba(0,0,0,0.5);
    color: #FFFFFF;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: perspective(400px);
    -moz-transform: perspective(400px);
    -ms-transform: perspective(400px);
    -o-transform: perspective(400px);
    transform: perspective(400px);

}
.nvc-features-inner .hidden{
    margin-left: -300px;
}
.nvc-features-inner h1{
    color: #fff;
    font-weight:600;
}
.nvc-features-inner h1:after{
    content: '';
    position: absolute;
    width: 10%;
    height: 3px;
    background-color: #fff;
    left: 28px;
    top: 7%;
}
.nvc-features-inner img{
    width:100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-animation: bounce-in 2s infinite;
    -moz-animation: bounce-in 2s infinite;
    -o-animation: bounce-in 2s infinite;
    animation: bounce-in 2s infinite;
}
.nvc-features-inner h2{
    color: #fff;
    font-weight: 600;
    font-size: 2.5rem;
}
.nvc-features-inner p{
    text-align: justify;
}
.nvc-features-inner-block{
    display: flex;
    align-items: center;
}
.nvc-panel5{
    padding-top: 5%;
    position: relative;
}
.nvc-panel5 h1{
    color: #FF6D00;
    text-align: center;
    font-size: 7rem;
    font-weight: 600;
}
.nvc-panel5 h1:before{
    content: '';
    position: absolute;
    width:10%;
    height:2px;
    top: 17%;
    left: 27%;
    background-color: #FF6D00;
}
.nvc-panel5 h1:after{
    content: '';
    position: absolute;
    width:10%;
    height:2px;
    top: 17%;
    right: 27%;
    background-color: #FF6D00;
}
.nvc-panel5 h2{
    text-align: center;
    color: #7400bc;
    padding-top:1%;
    padding-bottom:1%;
}
.nvc-panel5-value img{
    width:100%;
}
.nvc-panel5-value h3{
    color: #7400bc;
    font-size: 3rem;
    font-weight: 400;
    position: relative;
    text-align: center;
    padding-top:12%;
}
.nvc-panel5-value h4{
    color: #7400bc;
    font-size: 3rem;
    font-weight: 400;
    position: relative;
    text-align: center;
    padding-top:16%;
}
.nvc-panel5-value h3:after{
    width: 33%;
    content: '';
    position: absolute;
    height: 2px;
    background-color: #ccc;
    bottom:13%;
    right:1px;
}
.nvc-panel5-value h4:after{
    width: 30%;
    content: '';
    position: absolute;
    height: 2px;
    background-color: #ccc;
    bottom:13%;
    left:1px;
}
.nvc-panel6{
    padding: 4%;
    position: relative;
}
.nvc-panel6 h1{
    text-align: center;
    color: #7400bc;
    font-size: 4rem;
    font-weight: 600;
}
.nvc-panel6 h1:before{
    content: '';
    position: absolute;
    width:37%;
    height:2px;
    background-color: #FF6D00;
    left: 5%;
    top: 14%;
}
.nvc-panel6 h1:after{
    content: '';
    position: absolute;
    width:37%;
    height: 2px;
    background-color: #FF6D00;
    right: 5%;
    top: 14%;
}
.nvc-panel6 p{
    text-align: center;
    padding:2% 2% 0 2%;
    color: #7400bc;
}
.nvc-display-flex img{
    margin-left:auto;
    margin-right:auto;
}
.nvc-panel6 div:after{
    content: '';
    position: absolute;
    width:28%;
    height:2px;
    background-color: #FF6D00;
    right: 5%;
    bottom:31%;
}
.nvc-panel6 div:before{
    content: '';
    position: absolute;
    width:28%;
    height:2px;
    background-color: #FF6D00;
    left: 5%;
    bottom: 31%;
}
.nvc-panel7{
    padding-top:5%;
    padding-left:13%;
    padding-right:13%;
    position: relative;
    text-align: center;
}
.nvc-panel7 img{
    width:100%;
}
.nvc-panel7 .nvc-panel7-background:after{
    content: '';
    position: absolute;
    width: 40%;
    height: 100%;
    background-color: #fd4600;
    right: 10%;
    top: 1px;
    z-index: -1;
}
.nvc-panel7-button.md-button.md-primary{
    padding:1% 3% 1% 3%;
    color: #FFFFFF;
    background: #91fb02;
    -webkit-border-radius: 100em;
    -moz-border-radius: 100em;
    border-radius: 100em;
}
.nvc-panel7-button:hover{
    color: #000;
}
.nvc-panel8{
    padding-top:3%;
    padding-bottom:3%;
}
.nvc-panel8 video{
    width:100%;
}
.nvc-panel9{
    padding-top:2%;
    padding-bottom:5%;
    position: relative;
}
.nvc-panel9 h1{
    font-weight:600;
    color: #7400bc;
    font-size:3rem;
    text-align: center;
}
.nvc-panel9 h1:after{
    content: '';
    position: absolute;
    width:20%;
    height:2px;
    background-color: #FF6D00;
    top:18%;
    left:40%;
}
.nvc-panel9 img{
    padding-top:2%;
    padding-bottom:2%;
}
.carousel-content {
    color:#FFFFFF;
    display:flex;
    align-items:center;
}
.carousel-control.left{
    background-image: none;
}
.carousel-control.right{
    background-image: none;
}
.text-carousel {
    width: 55%;
    height: auto;
    padding: 2% 6% 1% 9%;
    background: #fd4600;
    -webkit-border-radius: 100rem;
    -moz-border-radius: 100rem;
    border-radius: 100rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 6px 0 #000;
}
.carousel-inner .item{
    background: none;
    height:auto;
}
/*Footer */
.nvc-footer{
    padding-left:3%;
    padding-right:3%;
}
.nvc-footer-img img{
    width: 100%;
    padding: 4%;
}
.nvc-footer-container{
    background-color: #7400bc;
    color: #FFFFFF;
    padding: 2%;
}
.nvc-footer-container h1{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.8rem;
}
.nvc-footer-container ul{
    list-style: none;
    -webkit-padding-start: 8px;
    -moz-padding-start: 8px;
    padding-start: 8px;
}
.nvc-footer-container p{
    text-align: center;
    color: #FFFFFF;
}
.nvc-footer-container a{
    color: #FFFFFF;
}
.nvc-landing-page{
    height: 180px;
    color: #FFFFFF;
    background-color: #fff;
    background-image: url('../img/background/offer-home-bg.jpg');
    position: relative;
}
.nvc-landing-page input{
    color: #000;
}
.nvc-landing-page .nvc-landing-page-content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 50%, #FFFFFF);
    background-image: -moz-linear-gradient(to bottom, rgba(0,0,0,0.2) 50%, #FFFFFF);
    background-image: -ms-linear-gradient(to bottom, rgba(0,0,0,0.2) 50%, #FFFFFF);
    background-image: -webkit-linear-gradient(to bottom, rgba(0,0,0,0.2) 50%, #FFFFFF);
    background-image: -webkit-gradient(linear,top top,bottom bottom,color-stop(0%, rgb(0,0,0)), color-stop(100%,#FFFFFF));
    background-image: -o-linear-gradient(to bottom, rgba(0,0,0,0.2) 50%, #FFFFFF);

}
.nvc-landing-offers-tabs md-pagination-wrapper{
    width: auto !important;
    border: 2px solid #299e26;
    height: 32px;
    -webkit-border-radius: 100rem;
    -moz-border-radius: 100rem;
    border-radius: 100rem;
}

.nvc-landing-offers-tabs md-tabs-wrapper md-tabs-canvas{
    height: 32px;
}
.nvc-landing-offers-tabs md-tabs .md-tab{
    color: #299e26;
    font-weight: 600;
    padding: 2px 15px;
    text-transform: none;
}
.nvc-landing-offers-tabs md-tabs .md-tab.md-active{
    color: #FFFFFF;
}
.nvc-landing-offers-tabs md-ink-bar{
    color: #299e26;
    background: #299e26;
    height: 100%;
    -webkit-border-radius: 100rem;
    -moz-border-radius: 100rem;
    border-radius: 100rem;
    z-index: -1;
    margin-right: -5px;
    margin-left: -1px;
}
.nvc-landing-offers-tabs md-tabs md-tabs-wrapper{
    border: none;
    margin: 10px auto;
}
/*Category-Selection*/
md-dialog.md-dialog-fullscreen{
    min-width: 95vw;
    height: auto;
}
/*----- category selection page css goes here --------*/
.nvc-category-select-img img{
    height: 26vw;
    object-fit: cover;
    -o-object-fit: cover;
}
.nvc-category-select-img{
    background: #299e26;
}
.nvc-category-select-img .md-label{
    width: calc(100% - 30px);
}
.nvc-category-select-img md-checkbox{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
}
.nvc-category-select-img md-checkbox .md-icon,
md-radio-group:not([disabled]) .nvc-category-select-img.md-primary.md-checked .md-off,
md-radio-button:not([disabled]).md-primary.nvc-category-select-img.md-ckecked .md-off,
md-radio-button:not([disabled]).nvc-category-select-img .md-off{
    border-color: #FFFFFF;
}
.nvc-category-select-img .no-stock{
    color: #FFFFFF;
    background-color: #000000;
    background-color: rgba(0,0,0,0.3);
}
.nvc-category-select-img md-checkbox.md-checked .md-icon,
md-radio-button:not([disabled]).nvc-category-select-img .md-on{
    background-color: #FFFFFF;
}
.nvc-category-select-img md-checkbox.md-checked .md-icon:after{
    border-color: #299e26;
}
.nvc-category-select-img .md-button{
    -webkit-border-radius: 100rem;
    -moz-border-radius: 100rem;
    border-radius: 100rem;
}
.nvc-cat-chips div{
    display: inline-block;
    padding: 10px;
    background: #7400bc;
    border: 2px solid #299e26;
    -webkit-border-radius: 100rem;
    -moz-border-radius: 100rem;
    border-radius: 100rem;
    margin-left: 5px;
    margin-right: 5px;
    color: #FFFFFF;
}
.nvc-category-select h2{
    text-align: center;
    color: white;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0;
}
.nvc-category-select .md-button{
    margin-left: auto;
    margin-right: auto;
    display: block;
    -webkit-border-radius: 100rem;
    -moz-border-radius: 100rem;
    border-radius: 100rem;
    padding: 1px 15px;
    background: #299e26;
    color: #FFFFFF;
}
.nvc-category-select .md-button:hover{
    color: #000;
}
.nvc-category-select md-radio-group{
    margin-top:10px;
    margin-bottom: 10px;
}
.nvc-cat-chips div a{
    color: #FFFFFF;
}
.nvc-cat-chips{
    margin: 2% 2% 3% 2%;
    padding-bottom: 1%;
    border-bottom: 3px solid #299e26;
}
/* -------- vategory selection css ends here*/
/*----------Inventory page css starts here -------*/
.nvc-inventory-head{
    background: #299e26;
    color: #FFFFFF;
}
.nvc-inventory-head .fa-ellipsis-h{
    margin-right: 8px;
    margin-top: 6px;
}
.nvc-inventory-tag{
    margin-top: 10px;
    background: #299e26;
    color: #FFFFFF;
}
.nvc-inventory-tab div{
    border: 1px solid #299e26;
    font-size: small;
}
.nvc-inventory-tab h4,
.nvc-inventory-tab h6{
    margin: 2px;
}
md-card[product="inventory"] img{
    padding: 13px;
    height: initial;
}
md-card[product="inventory"] h3{
    margin-top: 10px;
}
.nvc-no-list-illustration img{
    margin: 40px 0 20px 0;
}
/*======= order page css goes here ======*/
.nvc-order-status-buttons .nvc-primary-border.Reject{
    border-color: #969696;
}
.nvc-order-status-buttons .nvc-primary-border.Reject .fa{
    color: #969696;
}
.nvc-order-status-buttons .nvc-primary-border.Cancel{
    border-color: #d10000;
}
.nvc-order-status-buttons .nvc-primary-border.Cancel .fa{
    color: #d10000;
}
.nvc-order-status-buttons .fa{
    color: #299e26;
}
/*todo: these font awesome icon unicode needs to be replaces with custom css icons*/
.nvc-order-status-buttons .fa-Cancelled:before{
    content: "\f00d";
}
.nvc-order-status-buttons .fa-Placed:before{
    content: "\f15b";
}
.nvc-order-status-buttons .fa-Confirmed:before{
    content: "\f14a";
}
.nvc-order-status-buttons .fa-InProgress:before{
    content: "\f017";
}
.nvc-order-status-buttons .fa-Shipped:before{
    content: "\f0d1";
}
.nvc-order-status-buttons .fa-Delivered:before{
    content: "\f015";
}
.nvc-order-status-buttons .fa-Completed:before{
    content: "\f00c";
}
.nvc-order-status-buttons .fa-Rejected:before{
    content: "\f05e";
}
.nvc-order-status-buttons .fa-Returned:before{
    content: "\f0e2";
}
.nvc-order-status-buttons .fa-Disputed:before{
    content: "\f0e2";
}

/*======= order page css ends here ======*/
/*=========== Company public page CSS starts here ===================*/
.nvc-company-logo img{
    height: 150px;
    width: auto;
    object-fit: contain;
    margin: auto;
}
.nvc-company-header a{
    color: #252525;
}
.nvc-offer-carousel .item img{
    height: 25vw;
    object-fit: cover;
    -o-object-fit: cover;
}
.nvc-offer-carousel .item .carousel-content{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: inline-block;
    vertical-align: middle;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.3);
}
.nvc-company-page-header:after{
    content: '';
    width: 100px;
    height: 4px;
    background: #299e26;
    position: absolute;
    top: calc(50% - 2px);
}
/*=========== Company public page CSS ends here =====================*/
/*=================For global Usage================*/
.nvc-rfloat{
    float: right;
}
.nvc-lfloat{
    float: left;
}
.nvc-clear-both{
    clear: both;
}
.nvc-display-flex{
    display: flex;
}
.nvc-display-block{
    display: block;
}
.nvc-display-inlineblock{
    display: inline-block;
}
.nvc-display-table{
    display: table;
}
.nvc-display-none{
    display: none;
}
.bb-wid-100{
    width: 100% !important;
}
.bb-wid-80{
    width: 80% !important;
}
.bb-wid-50{
    width: 50% !important;
}
.bb-wid-35{
    width: 35% !important;
}
.bb-wid-25{
    width: 25% !important;
}
.bb-height-100{
    height: 100% !important;
}
.nvc-height-100{
    height: 100vh !important;
}
.nvc-margin-0{
    margin: 0 !important;
}
.nvc-margin-auto{
    margin: auto;
}
.nvc-margin-5{
    margin: 5px 0 !important;
}
.nvc-margin-bottom-0{
    margin-bottom: 0 !important;
}
.nvc-margin-top-0{
    margin-top: 0 !important;
}
.nvc-margin-top-1{
    margin-top: 1px !important;
}
.nvc-margin-top-5{
    margin-top: 5px !important;
}
.nvc-margin-top-10{
    margin-top: 10px !important;
}
.nvc-margin-top-20{
    margin-top: 20px !important;
}
.nvc-margin-bottom-5{
    margin-bottom: 5px !important;
}
.nvc-margin-bottom-10{
    margin-bottom: 10px !important;
}
.nvc-margin-bottom-20{
    margin-bottom: 20px !important;
}
.nvc-margin-right-0{
    margin-right: 0;
}
.nvc-margin-right-3{
    margin-right: 3px;
}
.nvc-padding-left-0{
    padding-left:0 !important;
}
.nvc-margin-left-16{
    margin-left: 16px;
}
.nvc-padding-left-5{
    padding-left: 5px;
}
.nvc-padding-top-10{
    padding-top: 10px;
}
.nvc-padding-top-0{
    padding-top: 0 !important;
}
.nvc-padding-bottom-10{
    padding-bottom: 10px !important;
}
.nvc-padding-bottom-0{
    padding-bottom: 0 !important;
}
.nvc-padding-left-10{
    padding-left:10px;
}
.nvc-padding-15{
    padding: 0 15px;
}
.nvc-padding-5{
    padding: 5px 0;
}
.frm-inpt-mrgn-btm-0 md-input-container{
    margin-bottom:0;
}
.frm-inpt-mrgn-btm-0 md-card{
    margin: 20px;
}
.nvc-md-input{
    background: none;
    border: none;
}
.nvc-padding-0{
    padding: 0;
}
.nvc-padding-10{
    padding: 10px;
}
.nvc-primary-color{
    color: #299e26 !important;
}
.nvc-accent-color{
    color: #e4e4e4 !important;
}
.nvc-primary-background{
    background-color: #299e26 !important;
}
.nvc-primary-100-color{
    color: #73b906;
}
.nvc-accent-100-color{
    color: #b5b5b5;
}
.nvc-primary-100-background{
    background-color: #73b906 !important;
}
.nvc-accent-background{
    background-color: #e4e4e4 !important;
}
.nvc-white-background{
    background: #fff;
}
.nvc-white-color{
    color: #ffffff;
}
.nvc-white-color.md-button{
    color: #FFFFFF;
}
.nvc-accent-100-background{
    background-color: #f1f1f1;
}
.nvc-primary-border{
    border: 2px solid #299e26;
}
.nvc-accent-border{
    border: 2px solid #e4e4e4;
}
.nvc-border-bottom{
    border-bottom: 1px solid #e4e4e4;
}
.nvc-white-border{
    border: 2px solid #FFFFFF;
}
.nvc-white-border .nvc-ubtn.bb-btn-file{
    background: #FFFFFF;
    color: #252525;
}
.nvc-tag-left{
    border-top-right-radius: 100rem;
    border-bottom-right-radius: 100rem;
}
.nvc-tag-right{
    border-top-left-radius: 100rem;
    border-bottom-left-radius: 100rem;
}
.nv-text-center{
    text-align: center;
}
.nv-text-right{
    text-align: right !important;
}
.nv-text-left{
    text-align: left;
}
.nv-text-bold{
    font-weight: 600 !important;
}
.nv-text-strike{
    text-decoration: line-through;
}
td .nv-text-strike{
    text-decoration-color: red;
}
.nvc-text-light{
    font-weight: 400;
}
.nvc-whitespace-preline{
    white-space: pre-line;
}
.nvc-img-circle{
    -webkit-border-radius: 100rem;
    -moz-border-radius: 100rem;
    border-radius: 100rem;
    border: 2px solid #299e26;
}
.nv-position-relative{
    position: relative;
}
.nv-position-absolute{
    position: absolute;
}
.nv-position-top-left{
    top: 0;
    left: 0;
}
.nv-position-top-right {
    top: 2px;
    right: 2px;
}
.nvc-sticky-bottom{
    position: sticky;
    bottom: 0;
    background: #FFFFFF;
    z-index: 100;
}
.nvc-sticky-top{
    position: sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 100;
}
.nvc-bottom-right{
    right: 0;
    bottom: 0;
}
.nvc-max-height{
    max-height: 100vh;
    overflow-y: auto;
}
.nvc-box{
    width: 8px;
    height: 8px;
    display: inline-block;
}
.nvc-page-bottom-tag{
    width: 83.7%;
    margin-left: calc(2.2% + 150px);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: transform linear 0.2s,opacity linear 0.2s 0.2s;
    -moz-transition: transform linear 0.2s,opacity linear 0.2s 0.2s;
    -ms-transition: transform linear 0.2s,opacity linear 0.2s 0.2s;
    -o-transition: transform linear 0.2s,opacity linear 0.2s 0.2s;
    transition: transform linear 0.2s,opacity linear 0.2s 0.2s;
}
.nvc-page-tag-transition{
    -webkit-transform: translateY(48px);
    -moz-transform: translateY(48px);
    -ms-transform: translateY(48px);
    -o-transform: translateY(48px);
    transform: translateY(48px);
    opacity: 0;
}
.nvc-page-bottom-tag .nvc-box{
    width: 25px;
    height: 25px;
    background: orange;
    position: absolute;
    left: 10px;
    line-height: 25px;
}
.nvc-breadcrumb{
    list-style: none;
    padding-left: 5px;
    font-size: 16px;
    margin-bottom: 0;
    font-weight: 600;
}
.nvc-breadcrumb li:last-child{
    font-weight: 800;
}
.nvc-breadcrumb > li + li:before{
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
.nvc-breadcrumb li{
    display: inline;
}
.nvc-breadcrumb li a{
    color: #fff;
}
.nvc-breadcrumb > li:last-child{
    pointer-events: none;
}
.nvc-box.overdue{
    background-color: #ff0000;
}
.nvc-box.open{
    background-color: #ffff00;
}
.nvc-slider-form{
    height: 100vh;
    display: flex;
    flex-direction:column;
}
.nvc-slider-form .nvc-form-content{
    height: calc(100% - 36px);
    overflow-y: auto;
}
.nvc-layout-divider{
    border-right: 1px solid #252525;
}
md-divider.nvc-white-divider{
    height: 15px;
    border-right-color: #FFFFFF !important;
}
.nvc-shrink{
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.5;
    -webkit-transition: transform 0.3s, opacity 0.5s;
    -moz-transition: transform 0.3s, opacity 0.5s;
    -ms-transition: transform 0.3s, opacity 0.5s;
    -o-transition: transform 0.3s, opacity 0.5s;
    transition: transform 0.3s, opacity 0.5s;
}
.nvc-card-flip{
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
}
.nvc-card-flip .front,
.nvc-card-flip .back{
    position: absolute;
    height:100%;
    width:100%;
    top:0;
    left: 0;
    backface-visibility: hidden;
}
.nvc-card-flip .back{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background: #fff;
    z-index: 20;
}
.nvc-card-flip.flipped{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
md-divider.nvc-divider,
.nvc-divider{
    height: 70%;
    border-right: 1px solid #252525;
}
.nvc-input-btngrp input{
    width: 100%;
    border: 2px solid rgb(41, 158, 38);
    -webkit-border-radius: 100rem;
    -moz-border-radius: 100rem;
    border-radius: 100rem;
    min-height: 30px;
    padding-left: 10px;
}
.nvc-input-btngrp .nvc-input-button{
    position: absolute;
    top: 0;
    right: 0;
    background: #299e26;
    border: 2px solid #299e26;
    color: white;
    -webkit-border-radius: 100rem;
    -moz-border-radius: 100rem;
    border-radius: 100rem;
    min-height: 30px;
}
.nvc-overflow-hidden{
    overflow: hidden;
}
.nvc-overflow-auto{
    overflow: auto;
}
.nvc-shape-pill{
    -webkit-border-radius: 100rem;
    -moz-border-radius: 100rem;
    border-radius: 100rem;
}
.nvc-shape-pill.md-button{
    line-height: 28px;
    min-height: 30px;
    text-transform: none;
    font-weight: 400;
    width: auto;
    min-width: 30px;
    padding: 0 10px;
}
.nvc-shape-pill.md-button.md-raised{
    color: #fff !important;
}
.nvc-primary-background.md-button{
    color: #fff;
}
.nvc-primary-background.md-button:not([disabled]):hover,
.nvc-primary-background.md-button:not([disabled]).md-focused{
    background-color: #299e26;
}
.nvc-cust-mini.md-button{
    min-height: 20px;
    color: #FFFFFF;
}
.nvc-icon-button-cust.md-button.md-icon-button{
    margin: 6px 8px;
    height:30px;
    line-height: 20px;
    width: 30px;
    min-height:30px;
    padding: 4px;

}
.nvc-dialog-close{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
}
.nvc-fab-mini.md-button{
    padding: 0;
}
.nvc-fab-mini.md-button.md-fab.md-mini{
    line-height: 35px;
    width: 30px;
    height: 30px;
    min-height: 30px;
    max-height: 25px;
    margin: 2px;
}
.nuser{
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 4px;
}
.nuser img{
    border: none;
    width: 20px;
    height: 20px;
}
.md-no-error-space .md-errors-spacer{
    display: none;
}
.md-no-border .md-input{
    border-bottom: none;
}
md-menu-item > .md-button md-icon{
    margin-right: 0;
}
md-datepicker.nvc-date-picker button.md-datepicker-button{
    display: none;
}
md-datepicker.nvc-date-picker .md-datepicker-input-container{
    margin-left: 0;
}
md-datepicker.nvc-date-picker .md-datepicker-input{
    width: 86px;
    min-width: initial;
    max-width: initial;
}
md-datepicker.nvc-date-picker .md-datepicker-triangle-button.md-button.md-icon-button{
    width: 14px;
    margin:0;
    padding:0;
}
md-datepicker.nvc-date-picker{
    background: none;
}
.nvc-custom-date-picker .md-datepicker-button{
    display: none;
}
.nvc-custom-date-picker .md-datepicker-input-container{
    margin-left: 0;
    text-align: center;
    background: #e4e4e4;
    border-radius: 100rem;
    padding-top: 5px;
    border: none;
    width: 100%;
}
.nvc-custom-date-picker .md-datepicker-input{
    text-align: center;
}
.nvc-custom-date-picker .md-datepicker-triangle-button{
    top: 7px;
    right: 7px;
}
md-input-container.nvc-custom-date-picker{
    padding-left: 10px;
}
.md-calendar-scroll-container{
    width: auto;
}
.md-button{
    text-transform: none;
    font-weight: 600;
}
.md-tab{
    text-transform: none;
}
md-tabs md-ink-bar{
    color: #299e26;
    background-color: #299e26;
    height: 3px;
}
md-checkbox{
    margin-bottom: 0;
}
md-select[multiple] .md-select-value span{
    display: inherit;
}
md-select.nvc-shape-pill .md-select-value,
md-select.nvc-shape-pill:not([disabled]):focus .md-select-value{
    border-bottom-color: transparent;
}
.layout-row > md-divider{
    border-right-color: #252525;
}
.nvc-upload-button{
    width: 75px;
    height: 75px;
    background: #e4e4e4;
    border-radius: 50%;
}
.nvc-upload-button .bb-btn-file{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height:100%;
}
.nvc-ubtn.bb-btn-file{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: absolute;
    bottom:0;
    text-align: center;
    background: #e4e4e4;
    color: #252525;
    padding: 4px 0;
    font-size: 12px;
}
img.nvc-shape-pill, img.img-circle{
    object-fit: cover;
    -o-object-fit: cover;
}
.nvc-square-box{
    position: relative;  /*this css is for making any div or image 1:1 aspect ration and same css child needs to be maintained*/
    width: 100%;
}
.nvc-square-box:before{
    content: '';
    padding: 50% 0;     /*If this CSS if affecting any native properties please use dynamic height for that div or image to maintain Aspect ratio*/
    display: block;
}
.nvc-square-box > .nvc-square-box-content{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.nvc-header-businessunit{
    background: #299e26;
    background: rgba(0,0,0,0.2);
}
.nvc-vertical-center{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
}

/*========================= End of global Usage ====================*/
/*========================= Step wizard css starts =================*/
ul.nvc-step-wizard{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}
.nvc-step-wizard li{
    list-style: none;
    display: inline-block;
    flex: 1;
    text-align: center;
    position: relative;
    z-index: 0;
    font-size:12px;
    font-weight:600;
}
.nvc-step-wizard li div{
    text-align: center;
    background: #d2d2d2;
    width: 26px;
    height: 26px;
    margin: auto;
    border-radius: 50%;
    line-height: 26px;
}
.nvc-step-wizard li.completed div{
    background: #299e26;
    color: #ffffff;
}
.nvc-step-wizard li.completed div:last-child{
    border: 2px solid #299e26;

}
.nvc-step-wizard li:before{
    content: '';
    width: 100%;
    height: 4px;
    background: #d2d2d2;
    position: absolute;
    right: calc(50% - 13px);
    top: 10px;
    z-index: -1;
}
.nvc-step-wizard li.completed:before{
    background: #299e26;
}
.nvc-step-wizard li:first-child:before{
    content: none;
}
/*========================= Step wizard css ends ===================*/
/*========================= Create View Css goes here ==============*/
.nvc-create-head{
    display: flex;
}
.nvc-create-head-tag{
    margin: 10px;
    padding: 10px;
    background: #e4e4e4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    font-weight: 600;
    text-align: center;
}
.nvc-create-head-content h5 {
    color: #299e26;
    margin-bottom:0;
    font-weight: 600;
}
.nvc-create-head-content h6{
    font-weight:600;
}
.nvc-create-content{
    margin-left: 50px;
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    max-height: 10000px;

}
.nvc-create-content:before{
    content: '';
    position: absolute;
    left: -22px;
    top: 0;
    width: 5px;
    height: 100%;
    background: #e4e4e4;
}
.nvc-create-content md-input-container{
    margin-bottom:0;
}
.nvc-create-content-prod{
    font-weight: 600;
    background: #e4e4e4;
    padding: 7px 10px;
    margin: 8px 2px;
    border-radius: 100rem;
    display: inline-block;
}
.nvc-create-content-prod + span{
    font-weight: 600;
    color: #299e26;
    padding: 4px 10px;
}
/*========================= End of Create View Css =================*/
/*========================= image carousel css in orders and offers page =======*/
.nvc-order-carousel{
    overflow: hidden;
}
.nvc-order-carousel .carousel-control span{
    color: #000;
    position: absolute;
    top: 40%;
    -webkit-transition: left ease-in 0.2s,right ease-in 0.2s;
    -moz-transition: left ease-in 0.2s,right ease-in 0.2s;
    -ms-transition: left ease-in 0.2s,right ease-in 0.2s;
    -o-transition: left ease-in 0.2s,right ease-in 0.2s;
    transition: left ease-in 0.2s,right ease-in 0.2s;
}
.nvc-order-carousel .carousel-control.left span{
    left: -100%
}
.nvc-order-carousel.carousel-hover .carousel-control.left span{
    left: 0;
}
.nvc-order-carousel .carousel-control.right span{
    right: -100%;
}
.nvc-order-carousel.carousel-hover .carousel-control.right span{
    right: 0;
}
.nvc-order-carousel .carousel-indicators{
    bottom: -20% !important;
    margin-bottom: 0;
    -webkit-transition: bottom ease-in 0.2s;
    -moz-transition: bottom ease-in 0.2s;
    -ms-transition: bottom ease-in 0.2s;
    -o-transition: bottom ease-in 0.2s;
    transition: bottom ease-in 0.2s;
}
.nvc-order-carousel.carousel-hover .carousel-indicators{
    bottom: 0 !important;
}
.nvc-order-carousel .carousel-indicators li{
    border-color: #e4e4e4;
    width: 8px;
    height: 8px;
    margin: 0 1px;
}
.nvc-order-carousel .carousel-indicators .active{
    background: #e4e4e4;
}
.nvc-order-carousel .carousel-inner .item img{
    border: 1px solid #e4e4e4;
}
.nvc-image-gallery{
    position: fixed;            /* ---- nvc-image-gallery is meant to use only once in project not anywhere else since some script is added using this class ---*/
    top: 0;                        /*----- if you need to use image gallery try to use the same code which is already present ---------*/
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000;
    background: rgba(0,0,0,0.3);
    z-index: 99998;
}
.nvc-image-gallery .close-button{
    position: absolute;
    top: 0;
    right: -25px;
}
.nvc-image-gallery img{
    object-fit: contain;
    -o-object-fit: contain;
}
/*========================= End of the image carousel css ======================*/

/*Media Queries goes here */
@media (max-width: 960px) {
    .nvc-features-table2{
        max-width: 90%;
    }
    .nvc-features-inner h1{
        font-size: 26px;
    }
    .nvc-features-inner h1:after{
        top: 6%;
        left: 21px;
        height: 2px;
    }
    .nvc-features-inner h2{
        font-size: 2rem;
    }
    .nvc-featuress-inner p{
        line-height: 1.2;
    }
    .nvc-panel5 h1{
        font-size: 5rem;
    }
    .nvc-panel5 h1:before,
    .nvc-panel5 h1:after{
        top: 16%;
    }
    .nvc-panel5 h2{
        font-size: 2rem;
    }
    .nvc-panel5-value h3,
    .nvc-panel5-value h4{
        font-size: 2.5rem;
    }
    .nvc-panel5-value h3:after,
    .nvc-panel5-value h4:after{
        bottom: 17%;
        width: 21%;
    }
    .carousel-content p{
        font-size: 1rem;
        padding-left: 6%;
        padding-right: 6%;
    }
    .nvc-signin{
        height: 32vw;
    }
    .nvc-signin-new .md-button{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .nvc-page-bottom-tag{
        width: auto;
        margin-left: 10px;
        bottom: 15px;
        margin-right: 10px;
        border-radius: 100rem;
    }
    .nvc-tracker-card-padding{
        padding: 0 10px;
    }
    .nvc-tracker-card .track-prod-img{
        width: 35px;
        height: 35px;
    }
}
@media (max-width:600px) {
    .nvc-panel2 p{
        font-size: 10px;
    }
    .nvc-panel9 .nvc-display-flex img{
        width: 20%;
        height: 100%;
    }
    .nvc-panel9 h1:after{
        width: 40%;
        top: 24%;
        left: 30%;
    }
    .carousel-content p{
        font-size: 1.3rem;
        padding-right: 7%;
    }
    .nvc-panel6 h1:before,
    .nvc-panel6 h1:after,
    .nvc-panel6 div:before,
    .nvc-panel6 div:after{
        content: none;
    }
    .nvc-features-table1{
        border: 7px solid #7400bc;
        height: 28vw;
    }
    .nvc-features-table2{
        left:10%;
        margin-top: -11%;
        border: 12px solid #fff;
    }
    .nvc-panel4{
        padding-left: 5px;
        padding-right: 0;
    }
    .nvc-features-inner h1:after {
        top: 4%;
        left: 13px;
    }
    .nvc-panel5 h1{
        font-size: 3rem;
    }
    .nvc-panel5 h1:after,
    .nvc-panel5 h1:before{
        top: 17%;
    }
    .nvc-panel5-value h3,
    .nvc-panel5-value h4{
        font-size: 1.5rem;
        padding-top: initial;
    }
    .nvc-panel5-value h4{
        margin-top: 20px;
    }
    .text-carousel{
        width: 95%;
    }
    .nvc-features-inner h2{
        text-align: center;
    }
    .second{ order: 1;}
    .first{ order:2;}
    .nvc-landing-offers .first{
        order:2;
    }
    .nvc-landing-offers .nv-text-center.second{
        order:1;
        margin: 20px 0 0 0;
    }
    .nvc-landing-offers .third{
        order:3;
        display: flex;
        justify-content: center;
    }
    .nvc-landing-offers-text,
    .nvc-landing-offers-options{
        font-size: 11px;
    }
    .nvc-landing-offers-tabs md-tabs .md-tab{
        padding: 2px 10px;
        font-size: 10px;
    }
    .nvc-landing-offers-tabs md-pagination-wrapper{
        height: 32px;
    }
    .nvc-signin img{
        display: none;
    }
    .nvc-signin{
        height: auto;
    }
    /*.nvc-signup, [ng-show="path==='/signin'"]{
        position: relative;
        width: 100%;
    }*/
    .nvc-signin-new{
        margin-top: 1em;
    }
    .nvc-category-select .nv-text-center{
        margin: 15px 0 15px 0;
    }

}
@keyframes bounce-in {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
