body {

  /*font-family: 'Roboto', arial, sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  /*font-family: Roboto,Helvetica,Tahoma,Arial,"Microsoft YaHei";*/
  color: #444444;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  padding: 0 !important;
  margin: 0 !important;
  /*width: auto !important;*/
  /*overflow-x: hidden;*/
  /*height: auto;*/
}
/*over writing angular default font*/
button, select, html, textarea, input, .md-chips{
  font-family: 'Montserrat', sans-serif;
}
label{
  font-weight: 600;
}
md-backdrop{
  height: 100% !important;
}
/*Removing Outline for every element*/
/**:focus{
  outline: none;
}*/ /* Removed because of grunt error */
p {
  margin-bottom: 15px;
  line-height: 1.5;
}

a:focus {
  text-decoration: none;
}

.btn, a.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-weight: bold;
}

.btn .fa, a.btn .fa {
  color: #fff;
  margin-right: 5px;
}

.form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  /*height: 40px;*/
  border-color: #CCC;
}
.form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #a6a6a6;
}
.form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #a6a6a6;
}
.form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #a6a6a6;
}
.form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #a6a6a6;
}
.form-control:focus {
  border-color: #e1e1e1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* ======= Header ======= */
.header {
  height: 80px;
}
.foot{
    background-color: #4D6D00;
    border-color: #4D6D00;
    padding: 0 15px 8px;
}

.panel .panel-heading + .panel-body {
  padding: 0 20px 20px;
}


.panel .panel-body {
  position: relative;
  padding: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.bb-story-section .bb-story-container-inner {
  transition: all 0.8s ease 0s;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid rgb(255, 255, 255);
  margin-bottom: 10px !important;
}

.truncate {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/*MD*/


.bb-prof-img{
  width: 45%;
  border-radius: 50%;
  /*height: 23vh;*/
}

.fm{
  font-size: 20px;
  padding: 0 20px;
}

.bb-hide-overflow {
  overflow: hidden;
}

.invoice{
  width:100%
}

.invoice .inner{
  display: inline-block;
}

.md-chips .md-chip.bb-chips-custom{
  height: 20px;
  line-height: 20px;
}
.bb-chips-custom {
/*  margin: .81em .81em 0 0 !important;*/
  font-size: 13px;
  height: 1em;
  line-height: 0.9em;
  border-radius: 0.9em;
 /* box-sizing: border-box;
  display: inline-block;*/
  /*line-height: 20px !important;*/
  /*line-height: 5vh !important;*/
}
md-chips .md-chips {
  box-shadow: none;

}
md-chips .bb-cursor{
  box-shadow: none;
  cursor: pointer;

}
md-icon.md-icon-col{
  color:rgb(55, 160, 244)!important;
}
.col-white{
  color: white !important;
}
.md-menu-content.md-pad{
  padding: 0;
}

md-list-item .md-list-item-inner > md-icon.notifi{
  margin-right: 5px !important;
}

.md-white{
  background: #FFFFFF !important;
  border-bottom: 1px solid #f1f2f7;
  /*opacity: 0.9;*/
  z-index: 99;
}

.md-button.headerlink{
  color: #444444 !important;
}
button.headerlink{
  color: #444444 !important;
}

.md-blue-cust{
  background:#2196F3;
}

.md-ace-icon {
  display: inline-block;
  font-size: 14px;
  color: #FFF;
  text-align: center;
  width: 20px;
}

.md-header-cust{
  z-index: 110;
}
header .md-header-sidenav{
  left: 96%;
  max-height: 150px;
  transform: translate3d(-100%, 70px, -100px);
}
.md-mtop8{
  margin-top: 8px;
}

.mob-dd {
  width: 90% !important;
  text-align: left;
}

md-list-item .md-list-item-inner > md-icon:first-child:not(.md-avatar-icon).bb-icon-sid{
  margin-right: 10px;
}

.md-subheader.bb-txt-center{
  text-align: center;
}

.bb-min-height{
  min-height: 80vh;
}

.bb-overflow{
  overflow: auto;
}

/*md-sidenav { height: 90vh; }*/

.bb-inactive-cust {
  background: #EEE;
  border: 1px solid #EEE;
  color: #CCC;
}

.md-button.md-fab.md-mini.md-mini-cust {
  line-height: 2em;
  width:2em;
  height: 2em;
  min-height: 2em;
}

md-icon.md-icon-cust{
  height: 18px;
  /*width: 15px;*/
  font-size: 16px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.md-chip.inprogress{
  background:#CDDC39;
  color: #FFFFFF;
}

.md-chip.delivered{
  background: #73b906;
  color: #FFFFFF;
}

.md-chip.shipped{
  background:#DAB600;
  color: #252525;
}


.md-chip.complete{
  background:#299e26;
  color: #FFFFFF;
}

.md-chip.confirmed{
    background: #008000;
  color: #FFFFFF;
}

.md-chip.draft{
    background: #e4e4e4;
  color: #252525;
}
.md-chip.expire{
    background: #252525;
    color: #FFFFFF;
}

.md-chip.cancelled {
    background: #FF0000;
    color: #FFFFFF;
}

.md-chip.placed {
    background: #F8ED62;
  color: #252525;
}

.md-top{
  top:0 !important;
}

.md-stop{
  overflow-y: inherit !important;
}

.bb-closebtn{
  top: -2px;
  right: 0;
  bottom: auto;
  left: auto;
  position: absolute;
}

md-list-item.active{
  background: #359EEA;
  color: #FFFFFF;
}

.bb-pos-rel{
  position: relative;
}

.md-container-cust{
  padding: 0;
  margin: 10px 0 0 0;
}


.md-badge{
  position: absolute;
  right: 20%;
  top: 20%;
  font-weight: 900;
  color: #FFFFFF;
  font-size: 13px;
  text-shadow: 1px 3px 1px RGBA(125, 100, 100, 0.76);
}

.bb-active-cust{
  background: #FFFFFF;
  border: 1px solid #EEE;
}

.md-border-cust{
  border : 2px solid #EEE;
}

.bb-p-cust{

  margin: 3px 0 1px 0 !important;
  font-weight: 400;
  line-height: 1.2em !important;
  overflow: hidden;
  color: rgb(0,0,0);
  color: rgba(0,0,0,0.87) !important;
  font-size: 14px;
}
.bb {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100.01%;
  overflow-y: scroll !important;/* 1, 3 */
  /*overflow-x: hidden;*/
}
.bb-header,
.bb-footer {
  flex: none; /* 2 */
}
.bb-header.navbar-fixed-top{
  background: #f1f1f1;
}
.bb-content {
  flex: 1 0 auto; /* 2 */
  padding:  0;
}
@media(min-width: 960px) {
  .content-push {
    width: calc(100% - 150px);
    margin-left: 150px;
  }
  .nvc-sidemenu{
    width: 150px;
  }
}
.bb-header,
.bb-content{
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.bb-content::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: 0;
  height: 0;
  visibility: hidden;
}

.bb-content--full {
  padding: 0;
}

.bb-content--full::after {
  content: none;
}

footer {
  height: 64px;
}

.item {
  height: 20px;
  min-height: 20px;
  background-color: SteelBlue;
  color: white;
}

.bb-login h2{
  letter-spacing: 0.065em;
  margin-top: 0;
  color: rgb(56, 161, 244);
}
.bb-login h3{
  margin-top: 0;
  margin-bottom: 3px;
}
.bb-login h4{
  margin-bottom: 24px;
}
.bb-login md-input-container{
  margin: 20px 0 0 0;
}
.bb-login md-input-container .md-errors-spacer{
  min-height: 18px;
}

.bb-login md-checkbox{
  margin-bottom: 0;
}

.bb-login p{
  font-weight: inherit;
  font-size: 13px;
  margin: 0 0 2px;
}

.bb-inblock {
  display: inline-block;
}

.bb-inblock label {
  padding: 5px;
}

.inblock{
  display: inline-block;
}

.inblock label{
  padding: 5px;
}

md-content > md-content > div {
  height: 100%;
}

.bb-dialog{
  min-width: 30%;
  min-height: 45%;
}

.m-top22 {
  margin-top: 22px;
}

.bb-prod-box{
  /*border: 2px solid #DBDBDB;*/
  padding-top: 25px;
  border-radius: 5px;
  margin: 14px;
}
md-input-container label {
  font-weight: inherit;
  color: rgb(185, 185, 185);
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

md-radio-button:focus {
  border: 1px solid white;
  outline: none
}

.p0 {
  padding: 0 !important;
}

.panel-default {
  border-color: #FFF !important;
}

.bb-product-table > tbody > tr > td:nth-child(3), .bb-product-table > tbody > tr > td:nth-child(4) {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bb-minus-btn {
  color: red !important;
}

.bb-minus-btn:hover {
  color: red !important;
}

.bb-minus-btn:focus {
  color: red !important;
}

.bb-plus-btn {
  color: #FFF !important;
  background-color: rgb(33, 150, 243) !important;
}

.bb-ofs {
  background: rgb(204, 204, 204);
  background: rgba(204, 204, 204, 0.66);
}

.search-box {
  height: 62px;
  width: 70px;
}

.input-group md-input-container {
  margin: 24px 0 5px;
}

.bb-header md-sidenav, md-backdrop {
  position: fixed !important;
}
/*Header */
.bb-z0 {
  z-index: 0;
  background: white;

}
/*Header */
.bb-z1 {
  z-index: 1;
}
.navbar-fixed-top{
  z-index: 1;
  right: initial;
}
/*Header icons for sample*/
/*.Offers:before{
  content: "\f06b";
}
.Contacts:before{
  content: "\f007";
}
.Products:before{
  content: "\f1b2";
}
.Orders:before{
  content: "\f187";
}
.Reports:before{
  content: "\f15c";
}*/
md-list-item.active md-icon {
  color: #FFF;
}

md-backdrop {
  position: fixed !important;
}

.bb-table .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .bb-table .table > tfoot > tr > th {
  padding: 4px;
  line-height: 1.42857143;
  /*vertical-align: middle;*/
  border-top: 1px solid #ddd;
  text-align: center;

}

/*.bb-table .table > tbody > tr > td:not(:last-child) {*/
/*border-right: 1px solid #FFF;*/
/*}*/

.bb-table .table > tbody > tr > td:first-child {
   max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 20%;
  /*white-space: nowrap;*/
}

.bb-product-table tbody tr td md-input-container {
  vertical-align: middle;
  text-align: center;
  margin: 1px 1px 0;
}

.product-table > tbody > tr > td:nth-child(2) {
  /*max-width: 2em;*/
  overflow: hidden;
  text-overflow: ellipsis;
  width:20%;
}

.bb-table md-datepicker {
  padding-right: unset;
  margin-right: unset;
}

.bb-table md-input-container {
  margin: 0;
}

.bb-table thead tr th {
  white-space: nowrap;
  text-align: center;
}

.bb-table table {
  margin-bottom: 0;
}

.bb-cust-container {
  margin: 30px 0 0 0;
}

.bb-pl {
  padding-left: 1%;
}

.bb-layout-padding {
  padding: 8px;
}

.bb-paymntopt-header {
  padding: 0 8px;

}

.bb-paymntopt-header div {
  border: 1px solid rgb(221, 221, 221);
  background: rgb(238, 238, 238);
  text-align: center;
}

.bb-pass-chg span:nth-child(2) {
  float: right;
  padding: 0 6px 0 0;
}

.bb-prod-checkbox .md-label {
  display: block;
}

.bb-user-profile md-menu-item > .md-button md-icon {
  margin: auto 0 auto 0;
}

.bb-user-profile {
  padding: 0;
}

.bb-corner-menu {
  /*width:50%;*/
  /*height: 50%;*/
  /*border-radius: 0 300px 0 0;*/
  position: fixed;
}

.md-button.md-fab.md-fab-bottom-right {
  top: auto;
  right: 10px;
  bottom: 10px;
  left: auto;
  position: fixed;
}
.bb-img {
  width: 200px;
  height: 120px;
}
.bb-img-center-prod{
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.offer-products .panel-body {
  border-right-color: #FFF !important;
  border-bottom-color: #FFF !important;
  border-left-color: #FFF !important;
  padding: 12px;
}

.bb-container-cust {
  padding: 0;
  margin: 0;
}

.paymentopt, .paymentopt div {
  margin: 0 5px !important;
}

.bb-loc .bb-input-label {
  color: rgb(33, 150, 243);
  text-align: center;
}

.paymentopt input {
  color: rgb(33, 150, 243);
  width: 95%;
}

md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
  background-color: rgb(33, 150, 243);
}

.product-table md-checkbox {
  margin-bottom: 0;
}

.product-table tbody tr td {
  vertical-align: middle;
}

.product-table thead tr th:not(:last-child) {
  text-align: center;
}

/*bb*/

.bb-md-white {
  /*background: #FFFFFF !important;*/
  border-bottom: 1px solid #f1f2f7;
  /*opacity: 0.9;*/
  z-index: 99;
}

.md-button.bb-headerlink,.md-menu-bar-menu .md-button,.bb-user-profile >md-menu-item > .md-button span{
  color: #3ba949 !important;
}
.md-menu-bar-menu .md-button:hover,.bb-user-profile >md-menu-item .md-focused{
  color: darkblue !important;
}
button.bb-headerlink {
  color: #3ba949 !important;
}

.bb-f24 {
  font-size: 24px;
}

.bb-blue-cust {
  background: #2196F3;
}

.bb-mobsidenav {
  width: 90% !important;
  text-align: left;
}

.bb-header-cust {
  z-index: 110;
}
/*Header Signin*/
.bb-notif-scroll {
  max-height: 340px;
  margin: 0 auto;
  overflow: auto;
  width: 100%;
}

.bb-f20 {
  font-size: 20px;
}
/*Careers Contacts About*/
.bb-headline-bg {
  position: absolute;
  width: 100%;
  top: -5%;
  left: 0;
  height: 500px;
  background: #253340 url('../img/background/bg-header-small-1.jpg') no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bb-headline-bg.bb-pricing-headline-bg {
  background-image: url('../img/background/bg-header-small-2.jpg');
}

.bb-headline-bg.bb-contact-headline-bg {
  background-image: url('../img/background/bg-header-small-3.jpg');
}

.bb-headline-bg.bb-about-headline-bg {
  background-image: url('../img/background/bg-header-small-4.jpg');
}

/* ======= About Page ======= */
.bb-story-section {
  padding-top: 90px;
  position: relative;
  z-index: 10;
}

.bb-story-section .bb-title {
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 0;
  color: #fff;
  font-weight: 300;
}

.bb-story-section .bb-story-container-inner {
  max-width: 900px;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: left;
}

.bb-story-section .bb-about {
  padding: 30px;
}

.bb-story-section .bb-belife {
  border-color: #f19180;
  padding: 15px 30px;
  font-family: 'Roboto slab', serif;
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
  margin: 60px 30px;
  color: #666666;
}

.bb-story-section .bb-press-kit {
  padding-top: 60px;
  padding-bottom: 60px;
}

.bb-story-section .bb-press-kit .title {
  color: #444444;
  font-size: 28px;
}

.bb-story-section .bb-press-kit .btn {
  margin: 30px 0;
}

.bb-story-section .bb-team {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

.bb-story-section .bb-team .bb-title {
  color: #444444;
  font-size: 28px;
}

.bb-story-section .bb-team .bb-member {
  margin-bottom: 30px;
}

.bb-story-section .bb-team .bb-member .bb-member-inner {
  background: #253340;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  text-align: center;
}

.bb-story-section .bb-team .bb-member .bb-member-inner img {
  margin: 0 auto;
}

.bb-story-section .bb-team .bb-member .bb-member-inner:hover img {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}

.bb-story-section .bb-team .bb-member .bb-member-inner:hover .social {
  visibility: visible;
}

.bb-story-section .bb-team .bb-member .bb-profile {
  background: #253340;
  color: #fff;
  text-align: center;
}

.bb-story-section .bb-team .bb-member .bb-profile .bb-info {
  padding: 15px 0;
}

.bb-story-section .bb-team .bb-member .bb-profile .bb-name {
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  font-size: 18px;
}

.bb-story-section .bb-team .bb-member .bb-profile .bb-job-title {
  color: #fff;
  font-size: 14px;
}

.bb-story-section .bb-team .bb-member .bb-social {
  width: 100%;
  top: 50%;
  position: absolute;
  visibility: hidden;
}

.bb-story-section .bb-team .bb-member .bb-social-list {
  display: inline-block;
  margin: 0 auto;
}

.bb-story-section .bb-team .bb-member .bb-social-list a {
  color: #fff;
  background: #253340;
  display: inline-block;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.bb-story-section .bb-team .bb-member .bb-social-list a .fa {
  padding-top: 10px;
  font-size: 18px;
}

.bb-story-section .bb-team .bb-member .bb-social-list a:hover {
  background: #e84c23;
}

.bb-section-on-bg .bb-title {
  color: #fff;
}

.bb-section-on-bg .bb-intro {
  color: #fff;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}

.bb-ourteam > h2 {
  font-family: "Montserrat";
  font-size: 26px;
  /*text-align: center;*/
  line-height: 35px;
  color: rgb(136, 136, 136);
}

.bb-ourteam .bb-member-job {
  color: #aaa;
  margin-bottom: 0;
  /*text-align: center;*/
}

.bb-ourteam .bb-member-desc {
  font-size: 16px;
  margin: 15px 0;
  margin-bottom: 5px;
}

.bb-ourteam .bb-member-desc::before {

  content: "\00A0";
  width: 80px;
  height: 3px;
  margin: 0 auto 15px;
  display: block;
  background-color: #000;
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;

}

.bb-ourteam img.bb-member-img {
  transition: all 0.8s ease;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid #fff;
  cursor: default;
}

.bb-contact-section {
  padding: 80px 0;
  position: relative;
  z-index: 10;
}

.bb-contact-section .bb-title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 30px;
}

.bb-contact-section .bb-intro {
  margin-bottom: 60px;
  padding-left: 38%;
}

.bb-contact-section .bb-contact-form {
  margin-left: 15px;
  margin-right: 15px;
}

.bb-contact-section .bb-contact-form .bb-contact-form-inner {
  background: #fff;
  padding: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #eeeeee;
  -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
}

.bb-contact-section .bb-contact-form .error {
  color: #e84c23;
  font-family: arial, sans-serif;
  display: block;
  font-size: 14px;
  text-align: left;
  padding-top: 5px;
  padding-left: 5px;
  font-weight: 300;
}

/* ======= Contact-other section ======= */
.bb-contact-other-section .bb-title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 30px;
}

.bb-contact-other-section .bb-other-info li {
  margin-bottom: 15px;
  padding: 15px 90px 15px;
  position: relative;
  color: #666666;
  text-align: left;
  -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid #eeeeee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: white;
}

.bb-contact-other-section .bb-other-info li a {
  color: #666666;
}

.bb-contact-other-section .bb-other-info li a:hover {
  color: #e84c23;
}

.bb-contact-other-section .bb-other-info li .fa {
  position: absolute;
  left: 0;
  top: 0;
  background: #e84c23;
  color: #fff;
  width: 60px;
  height: 100%;
  font-size: 20px;
  padding-top: 15px;
  text-align: center;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.bb-contact-other-section .bb-other-info li .fa.fa-twitter {
  font-size: 22px;
}

.bb-contact-other-section .bb-other-info li .fa.fa-phone {
  font-size: 22px;
}

.bb-contact-other-section .bb-other-info li .fa.fa-map-marker {
  font-size: 22px;
  padding-top: 45px;
}

.bb-btn-color {
  color: #e84c23;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.bb-btn-color:hover {
  text-decoration: underline;
  color: #e74124;
}

a.bb-btn-cta, .bb-btn-cta {
  padding: 8px 20px;
}

a.bb-btn-cta-primary, .bb-btn-cta-primary {
  background: #e84c23;
  border: 2px solid #e84c23;
  color: #fff;
}

a.bb-btn-cta-primary:hover, .bb-btn-cta-primary:hover {
  background: #e9553b;
  border: 2px solid #e9553b;
  color: #fff;
}

/* ======= cta-section ======= */
.bb-cta-section {
  background: #253340 url('../img/background/bg-footernew2.jpg') no-repeat left top;
  background-size: cover;
  min-height: 250px;
  color: #fff;
  padding-top: 60px;
  border: none;
}

.bb-cta-section.bb-pricing-cta-section {
  background-image: url('../img/background/bg-footer-2.jpg');
}

.bb-cta-section.bb-contact-cta-section {
  background-image: url('../img/background/bg-footer-3.jpg');
}

.bb-cta-section .bb-title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 60px;
}

.bb-cta-section .bb-btn-cta {
  font-size: 20px;
}

.bb-cta-section .bb-intro {
  margin-bottom: 15px;
  color: #fff;
}

.bb-cta-section .bb-counting {
  color: #e84c23;
  font-weight: bold;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

/*flexslider*/

.bb-bg-slider-wrapper {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: #373737;
}

.bb-bg-slider-wrapper .flexslider {
  margin: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.bb-bg-slider-wrapper .flexslider .slide {
  display: block;
  /*height: 800px*/;
  padding-top: 4.02%;
}
.nv-flex-content{
  margin-top: -50%;

}
.nv-flex-content-text h1{
  color: #fff;
  font-size: 3.5vw;
  text-transform: uppercase;
  font-weight: 600;
  font-family: inherit;
}
.nv-flex-content-text h2{
  color: #fff;
  font-size: 2.5vw;
  max-heght: 100px;
  font-weight: 400;
}
.bb-login-bg.bb-bg-slider-wrapper .flexslider .slide {
  display: block;
  height: 800px;
}
.bb-bg-slider-wrapper .flexslider .slide.bb-slide-0 {
  background: #253340 url('../img/brand/GST 2.jpg') no-repeat 50% top;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.bb-bg-slider-wrapper .flexslider .slide.bb-slide-1 {
  background: #253340 url('../img/nvipani/arrow.jpg') no-repeat 50% top;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.bb-bg-slider-wrapper .flexslider .slide.bb-slide-2 {
  background: #253340 url('../img/nvipani/Hub3.jpg') no-repeat 50% top;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.bb-bg-slider-wrapper .flexslider .slide.bb-slide-3 {
  background: #253340 url('../img/nvipani/bg1.png') no-repeat 50% top;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.bb-bg-slider-wrapper .flexslider .slide.bb-slide-5 {
  background: #253340 url('../img/background/bg-new2.jpg') no-repeat 50% top;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.bb-bg-slider-wrapper .flexslider .slide.bb-slide-4 {
  background: #253340 url('../img/nvipani/Mobile.jpg') no-repeat 50% top;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.bb-bg-slider-wrapper .flexslider .flex-control-nav li a {
  background: #999999;
}

.bb-bg-slider-wrapper .flexslider .flex-control-nav li a.flex-active {
  background: #3F2F2F;
}

.bb-slidertext {
  margin-top: 15%;
  color: #fff;
}

h1.bb-slidertext {
  font-size: 250%;
  font-weight: bold;
  max-width: 100%;
}

.bb-firsec-bg {
  background: #F7F7F7;
}

.bb-firsec-bg .panel {
  box-shadow: 0 0 0 rgba(0, 0, 0, .05) !important;
}

.bb-profile-ava img {

  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #688a7e;
  display: inline-block;
  width: 40px;
}

.bb-comment-btn {
  margin: 6px 0;
}

.bb-paymentopt, .bb-paymentopt div {
  margin: 0 5px !important;
}

.bb-paymentopt input {
  color: rgb(33, 150, 243);
  width: 95%;
}

.bb-paymentopt label {
  color: rgb(33, 150, 243);
  width: 95%;
}

.bb-product-table md-checkbox {
  margin-bottom: 0;
}

.bb-product-table tbody tr td {
  vertical-align: middle;
  text-align: center;
}

.bb-product-table thead tr th:not(:last-child) {
  text-align: center;
}

.bb-product-table thead tr th {
  text-align: center;
}

/*.bb-product-table > tbody > tr > td:nth-child(3) {*/
/*max-width: 0;*/
/*overflow: hidden;*/
/*text-overflow: ellipsis;*/
/*!*width:20%;*!*/
/*}*/

.bb-product-table > thead tr th {
  white-space: nowrap;
}

.bb-product-table > thead {
  font-size: 13px;
}

.bb-offer-products .panel-body {
  border-right-color: #FFF !important;
  border-bottom-color: #FFF !important;
  border-left-color: #FFF !important;
  padding: 12px;
}

.bb-white-bg {
  background: #FFFFFF;
  border-bottom: 1px solid #f1f2f7;
  opacity: 0.9;
}

.bb-addressdetails p {
  padding: 2%;
  margin: 0;
  display: block;
  font-weight: 500;
  font-size: 14px;
  color: rgb(141, 141, 141);
}

.bb-m-top-35 {
  margin-top: 35px;
}

md-toast.md-success-toast-theme .md-toast-content {
  background-color: green;
}

md-toast.md-error-toast-theme .md-toast-content {
  background-color: maroon;
}

md-list-item.md-2-line, md-list-item.md-2-line > .md-no-style {
  min-height: 20px;
}

.bb-md-list-arrow {
  position: relative !important;
  background: #359EEA;
  color: #FFF;
  /*border: 2px solid #c2e1f5;*/
}

.bb-md-list-arrow:after, .bb-md-list-arrow:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.bb-md-list-arrow:after {
  border-color: rgb(34, 186, 160);
  border-color: rgba(34, 186, 160, 0);
  border-left-color: #359EEA;
  border-width: 2em;
  margin-top: -2em;
}

.bb-md-list-arrow:before {
  border-color: rgb(194, 225, 245);
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #359EEA;
  /*  border-width: 2em;
   margin-top: 3em;*/

}

.bb-order-summary .md-button {
  line-height: 25px;
  padding: 0 8px;
  color: #359eea;
}

.bb-order-summary .md-button:hover {
  color: green;
}

.bb-order-summary-scroll {
  max-height: 250px;
  margin: 0 auto;
  overflow: auto;
  width: 100%;
}

.bb-md-list-arrow .md-button:hover:not([disabled]), .bb-offerlist.active .md-button:hover:not([disabled]), .selected .md-button:hover:not([disabled]), .bb-orderlist.active .md-button:hover:not([disabled]) {
  background-color: #359EEA;

}

/*bb*/

/*MD*/

.form-control:focus {
  border-color: #359eea;
  outline: 0 none;
}
.form-control:focus {
  border-color: #359eea;
  outline: 0 none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}


/*Modal Content*/
.modal-content{
  border-radius:0;
  background:#FFFFFF;
}
.modal-header .close{
  font-weight: 300;
  font-size: 30px;
}

.main-content {
  margin-left: 0;
}

.header, .footer {
  min-height: 60px;
  padding: 0 0;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1002;
}

.white-bg {
  background: #FFFFFF;
  border-bottom: 1px solid #f1f2f7;
  opacity: 0.9;
}

.panel-content{
  padding: 10px;
}
.wrapper {
  display: inline-block;
  margin-top: 1px;
  padding: 15px;
  width: 100%;
}

a.logo {
  font-size: 22px;
  font-weight: 300;
  color: #fed189;
  float: left;
  margin-top: 15px;
  text-transform: uppercase;
  padding-left: 20px;
  padding-top: 10px;
}

a.logo:hover, a.logo:focus {
  text-decoration: none;
  outline: none;
}

a.logo span {
  color: #688a7e;
}


.container1{
  height: 100%;
  width: 100%;

  overflow: hidden;
}

.container2{
  width: 100%;
  height: 99%;
  border: 1px solid blue;
  overflow: auto;
  padding-right: 15px;


}


input::-moz-focus-inner {
  border: 0;
}

a {
  outline: 0 none !important;
  color: #299e26;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  box-shadow: none;
  background: #FFF;
  color: #359eea;
}




@media (max-width: 500px) {
  .nav {
    max-height: 350px;
    /*overflow-y: auto;*/
  }
}
@media (max-width: 500px)  {
  .btn
  {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
}
.header.scrolled {
  height: 80px;
  top: 0;
}
.header.scrolled .main-nav .nav .nav-item a {
  color: #666666;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.header.scrolled .main-nav .nav .nav-item.nav-item-cta a.btn-cta-secondary {
  background: #00B5F1;
  border-color: #00B5F1;
}
.header.scrolled .main-nav .nav .dropdown-menu a {
  color: #fff;
}
.header h1.logo {
  font-family: "Roboto Slab", arial, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 15px;
  float: left;
}
.header .main-nav {
  margin-top: 0;
}
.header .main-nav .navbar-toggle {
  margin-right: 0;
  margin-top: 0;
  background: none;
  position: absolute;
  right: 10px;
  top: 10px;
}
.header .main-nav .navbar-toggle:focus {
  user-focus: none;
}
.header .main-nav .navbar-toggle .icon-bar {
  background-color: rgb(255, 255, 255);
  height: 3px;
}
.header .main-nav .navbar-toggle:hover .icon-bar {
  background-color: #fff;
}
.header .main-nav .nav .nav-item {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 13px;
  margin-right: 15px;
}
.header .main-nav .nav .nav-item.active a {
  color: #359eea !important;
  font-weight: bold;
}

/* ======= sections-wrapper ======= */
.sections-wrapper {
  background: #fff;
  z-index: 20;
  position: relative;
}
.section .intro {
  max-width: 700px;
  margin-bottom: 60px;
  text-align: center;
  color: #999999;
  font-size: 18px;
  padding-left: 35%;
}
.section-on-bg .title {
  color: #fff;
}
.section-on-bg .intro {
  color: #fff;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}


/* ======= Footer ======= */
.footer {
  background: #F7F7F7;
  color: #fff;
  padding-top: 0;/*40px*/
  font-size: 14px;
  position: relative;
  z-index: 20;
}
.footer p {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.footer .btn-cta,
.footer a.btn-cta {
  padding: 9px 10px;
}
.footer .footer-col.links .fa {
  margin-right: 5px;
}
.footer .footer-col.links li {
  margin-bottom: 10px;
}
.footer .footer-col.connect .social {
  margin-bottom: 15px;
  overflow: hidden;
}
.footer .footer-col.connect .social li {
  margin-right: 10px;
}
.footer .footer-col.connect .social li a .fa {
  color: #b3b3b3;
  font-size: 22px;
}
.footer .footer-col.connect .social li a:hover .fa {
  color: #e84c23;
}
.footer .footer-col.connect .btn-cta-primary {
  background: #5d80a1;
  border-color: #5d80a1;
}
.footer .footer-col.connect .btn-cta-primary:hover {
  background: #4a6781;
  border-color: #4a6781;
}
.footer .footer-col .title {
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 20px;
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
.footer .footer-col p {
  color: #fff;
}
.footer .footer-col a {
  color: #6d8dab;
}
.footer .footer-col a:hover {
  color: #8da6bd;
}
.footer .footer-col .navbar-form {
  padding-left: 0;
  padding-right: 0;
}
.footer .footer-col .navbar-form .form-control {
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
.footer .footer-col .navbar-form .form-control:focus {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.footer .has-divider {
  border-top: 1px solid #2b3b4a;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer .download .download-list li {
  margin-bottom: 15px;
}
.footer .download .download-list li .btn-ghost {
  text-align: left;
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  width: 230px;
}
.footer .download .download-list li .btn-ghost:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.footer .contact p {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.footer .contact p a {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.footer .contact .fa {
  margin-right: 10px;
  font-size: 20px;
}
.footer .contact .email .fa {
  font-size: 16px;
}
.footer .bottom-bar {
  background: #1e1e1e;
  color: #b3b3b3;
  font-size: 14px;
  padding: 10px 0;
}
.footer .bottom-bar .copyright {
  line-height: 1.6;
  text-align: center;
  margin-bottom: 0;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {

  h1.bb-slidertext {
    font-size: 35px !important;
    font-weight: bold;
    max-width: 70%;
  }

  .bb-slidertext {
    margin-top: 7% !important;
    color: #fff;
  }

  .footer .bottom-bar .copyright {
    text-align: center;
    width:100%;
  }
  .footer {
    text-align: center;
  }
  /* custom end*/
  /*#topcontrol {
    display: none !important;
  }*/
  .header h1.logo {
    float: none;
    margin: inherit;
    text-align: left;
  }
  .header h1.logo a {
    margin: 0 auto;
  }
  .header.header-fixed {
    position: relative;
  }
  .header.navbar-fixed-top {
    position: fixed;
  }
  .navbar-collapse {
    border-top: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    left: 0;
    top: 60px;
    position: absolute;
    background: #253340;
    z-index: 45;
  }
  .navbar-collapse .nav {
    margin: 0;
  }
  .header.scrolled .main-nav .nav .nav-item a,
  .header.scrolled .main-nav .nav .dropdown-menu a,
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > li > a {
    color: white;
    background:transparent none;
  }
  .navbar-default .navbar-nav > .active > a,
  .header.scrolled .main-nav .nav .nav-item a:hover,
  .navbar-default .navbar-nav > .active > a:hover,
  .header.scrolled .main-nav .nav .dropdown-menu a:hover,
  .navbar-default .navbar-nav > li > a:hover {
    color: #359eea;
    background:transparent none;
  }
  .header .main-nav .nav .dropdown-menu:before {
    display: none;
  }

  .headline-bg + .section,
  .bg-slider-wrapper + .section {
    padding-top: 45px;
  }

  .section .title {
    font-size: 32px;
  }
  .section .intro {
    font-size: 16px;
    padding-left: 0;
  }

  .nav-tabs > li > a {
    padding: 10px 5px;
  }

  .bb-story-section .bb-about {
    padding: 0;
  }

  .bb-story-section .bb-belife {
    margin-left: 0;
    margin-right: 0;
  }

  .bb-story-section .bb-team {
    padding: 0;
  }
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .header {
    height: 80px;
  }
  .header.navbar-fixed-top {
    position: fixed;
  }
  .header.scrolled {
    background: #fff;
    z-index: 1000;
    height: 67px;
    top: 0;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  }
  .header.scrolled h1.logo a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #e84c23;
    background: none;
    padding-left: 0;
    padding-top: 15px;
  }
  .header.scrolled .main-nav .nav .nav-item a {
    color: #666666;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  .header.scrolled .main-nav .nav .nav-item.nav-item-cta a.btn-cta-secondary {
    background: #00B5F1;
    border-color: #00B5F1;
  }
  .header.scrolled .main-nav .nav .dropdown-menu a {
    color: #fff;
  }

  .header h1.logo {
    float: left;
    margin: inherit;
  }
  .header .main-nav .nav .nav-item {
    margin-right: 15px;
  }
  .main-nav.navbar-right {
    float: right !important;
  }

  .navbar-fixed-top .navbar-collapse {
    padding-left: 15px;
    padding-right: 0;
  }

  .bb-story-section {
    padding-top: 170px;
  }

  .bg-slider-wrapper {
    position: absolute;
  }

  .bb-bg-slider-wrapper {
    position: absolute;
  }

  .bb-contact-section {
    padding-top: 125px;
  }
}
/* Large devices (large desktops, 1200px and up) */
/* Custom CSS */

.bb-share-buttons img {
  width: 35px;
  padding: 5px;
  border: 0;
  box-shadow: none;
  display: inline-block;
}

.container-min{
  min-height: 87vh;
  margin-bottom: 5px;
  overflow: hidden;
}
.content
{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed !important;
  min-height:400px;
  padding-bottom: 15px;
}
@media(max-width: 800px) {
  .flex-control-nav {
    bottom: 40%;
    position: absolute;
    text-align: center;
    z-index: 100;
  }
}
@media  (min-width: 900px) {
  .flex-control-nav
  {
    bottom: 20%;
    position: absolute;
    text-align: center;
    z-index: 100;
  }
}
.navbar-nav > li > a
{
  color: #565656;
  /*padding-top: 22px;*/
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}


@media (min-device-width: 900px) {
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    box-shadow: none;
    background: white none no-repeat;
    color: #359eea;

  }
}
/* top padding*/
.submenu
{
  margin-top: 20px !important;
}

/*Scroll*/


@media (min-width: 700px) {
  .notificationscroll {
    max-height: 300px;
    overflow-y: auto;
    width: -moz-max-content;
  }
}


@media (min-width: 700px) {
  .limitscroll
  {
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media (max-device-width:700px ) {
  .limitscroll
  {
    max-height: 44vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
}




/*Back To Top*/
a.back-to-top {
  display: none;
  width: 35px;
  height: 35px;
  text-indent: -99px;
  position: sticky;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  background: #27AE61 url("../img/up-arrow.png") no-repeat scroll center 43%;
  border-radius: 30px;
  float: right;
}

/*hide flex*/
.flex-direction-nav .flex-prev,
.flex-direction-nav .flex-next,
.flexslider:hover .flex-direction-nav .flex-next:hover,
.flexslider:hover .flex-direction-nav .flex-prev,
.flexslider:hover .flex-direction-nav .flex-prev:hover,
.flexslider:hover .flex-direction-nav .flex-next{
  opacity: 1;
}



@media (max-width: 991px) {

  .list-group-item-heading {
    margin-bottom: 25px;
  }
}


@media (min-width: 800px) {
  .headerlogo
  {
    max-width:161px;
  }

  .bb-headerlogo {
    max-width: 161px;
    width: 100%;
  }
}
@media (max-width: 800px) {
  .bb-headerlogo
  {
    max-width:143px;
    width: 100%;
  }
}
/*================== Custom icon CSS starts here ===============*/
.nvc-icon{
  display: inline-block;
  font-size: inherit;
}
.nvc-icon-lg{
  font-size: 1.3333em;
}
.nvc-icon-2x{
  font-size: 2em;
}
.nvc-icon-3x{
  font-size: 3em;
}
/*================== Custom icon CSS Ends here ==================*/
/*==================Header CSS start=============================*/
.nv-nav-item.active,
.nv-nav-item.active a{
  color: #299e26;
  font-weight: 600;
  background: #FFFFFF;
}
.nv-nav-item.active{
  border-left: 6px solid #299e26;
}
.nv-nav-item a{
  margin: 0 auto;
  font-size: 14px;
  min-width: 10px;
  display: block;
  color: #000;
}
.nv-nav-item button{
  border: none;
  color:#000;
  text-shadow: none;
  padding-right: 1px;
  padding-left: 1px;
  max-width: 200px;
  letter-spacing: 1px;
}
.nv-nav-item{
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: small;
  color: #000000;
}
.nv-nav-item .btn:hover, .btn:focus, .btn:active{
  background: #299e26 !important;
  color: #fff !important;
}
.nv-nav-item .bb-ctruncate{
  width:70%;
  display: inline-block;
  color: #fff;
  font-size: small;
  font-weight: 800;
}
.nv-nav-item ul > li:hover{
  background: #EBEBEB;
}
.nv-nav-item ul > li > button{
  color: #3ba949;
  text-transform: none;
}
.nv-nav-item .md-button:not([disabled]):hover{
  background: none;
}
.nv-fixed-headline{
  position: fixed;
  background: #fff;
  z-index: 30;
  width: 100%;
}
@media (max-width: 600px){
  .nv-content-height{
    margin-top: 146px
  }
}
@media (max-width: 600px){
  md-card{
    margin:4px;
    padding: 1px;
  }
  .layout-padding{
    padding: 1px;
  }
  [layout-padding], [layout-padding] > [flex], [layout-padding] > [flex-gt-sm], [layout-padding] > [flex-md], [layout-padding] > [flex-lt-lg]{
    padding: 3px;
  }
}
.nv-notification-icon{
  position:relative;
  font-size:2.2rem;
  margin: 3% 3.5% 3% 0.5%;
  color: #fff;
}
.nv-notification-icon h1{
  position: absolute;
  padding: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #fff;
  top: 1px;
  font-size: 15px;
  line-height: 18px;
  right: 3px;
  background: #FF4500;
  border-radius: 50%;
  margin: 0;
  display: block;
  font-weight: bold;
}
.nv-notification-icon:hover h1{
  transform: scale(1.2);
  transition:all .3s;
}
.nv-notification-icon.md-icon-button.md-button{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.nv-no-overflow{
  overflow: hidden;
}
.nv-no-stock-border{
  border: 2px solid #ff1919;
  border-radius: 4px;
}
.fa-bell.disable{
  pointer-events: none;
  color: #bbb;
}
.nv-nav-item .dropdown-menu{
  width: 100%;
}
.nvc-headbar{
  background: #299e26;
  color: #fff;
}
.nvc-headbar .nv-nav-item{
  color: #FFFFFF;
}
.nvc-headbar .layout-row > md-divider{
  height: 15px;
  border-right-color: #fff;
  padding: 0;
}
/*===========================Header CSS Ends ====================*/
/*=========================== Action Bar Styles starts ==========*/
.nvc-actionbar{
  border: 2px solid #e4e4e4;
}
.nvc-summarybar{
  white-space: nowrap;
  overflow-x: auto;
}
.nvc-summarybar .nvc-summarybar-content{
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
}
.nvc-summarybar .nvc-summarybar-content.active{
  border: 1px solid #299e26;
}
.nvc-actionbar .nv-position-absolute{
  right: 4px;
  bottom: 0;
}
/*=========================== Action Bar Styles Ends ============*/
@media (min-width: 768px) {
  .hidenav
  {
    visibility: hidden;
    display: none;
  }
}

.ng-scope>.glyphicon
{
  margin-left: 5%;
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 980px) {

  .sr-btn {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 980px) {

  .navbar-default {
    background-image: none;
    background-repeat: repeat-x;
    border-radius: 0;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.15) inset, 0 0 0 rgba(0, 0, 0, 0.075);
  }
  .navbar-default {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
  }

  .inbox-wrapper .inbox-left {
    width: 30%;
  }

  .inbox-wrapper .inbox-right {
    width: 70%;
  }

  .divid-mob > a{
    padding: 22px 10px !important;
  }

  /* .col-sm-12 {
     width: 25%;
   }*/

  .aligncenter {
    padding-left: 0;
  }

  .sr-btn {
    display: none;
  }

  .sr-btn {
    display: none;
  }

  .header.scrolled {
    height: 66px;
    top: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

  }

  .navbar-nav {
    float: left;
    /*margin: -1.5px -15px;*/
  }

  .respond {
    padding: 0;
  }

  .disable-img {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.61);
    position: absolute;
    top: 0;
    left: 15px;
    width: 19%;
    height: 99%;
    text-align: center;
    border-radius: 50%;
  }

  .btn {
    margin-bottom: 5px;
  }

  .cshadow-in {
    box-shadow: 0 0 0 #888 !important;
  }

  .modal-dialog {
    width: 35% !important;

  }


}

@media (min-width: 480px) and (max-width: 500px) {
  .notification-row,.task_notificatoin_bar, .search-row,.knob-charts, .dont-show , .inbox-head .sr-input, .inbox-head .sr-btn{
    display: none;
  }

  .inbox-wrapper aside {
    display: block;
  }

  .inbox-wrapper .inbox-left , .inbox-wrapper .inbox-right{
    width: 100% ;
  }

  .top_menu .nav > li, ul.top-menu > li {
    float: right;
  }
  .hidden-phone {
    display: none !important;
  }

  .header.scrolled {
    height: 100px;
    top: 0;
  }

  .navbar-brand {
    float: left;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
    padding: 15px 12px 15px 28px;
  }

  .headerspace1 {
    margin-top: 24px;
    margin-right: 4px;
    font-size: 24px;
    padding-top: 12px;
  }


  .bb-profile-ava img {
    border-radius: 50%;
    border: 2px solid #688A7E;
    width: 30px;
    display: inline-block;
  }

  .headerspace
  {
    margin-right: 10px;
  }

  .dropdown-menu.extended {
    max-width: 520px !important;
    min-width: 160px !important;
    top: 58px;
    width: 262px !important;
    padding: 0;
    box-shadow: 7px 2px 5px rgba(0, 0, 0, 0.176) !important;
    border: medium none !important;
    border-radius: 4px;
    overflow-y: auto;
    max-height: 370px;
    overflow-x: hidden;
  }

  .username-adj {
    padding-left: 43px;
    margin-top: -30px;
  }
  .truncate {
    width: 175px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


}

@media (min-width: 741px) and (max-width: 767px) {

  .notification-row,.task_notificatoin_bar, .search-row,.knob-charts, .dont-show , .inbox-head .sr-input, .inbox-head .sr-btn{
    display: none;
  }

  .alert_notificatoin_bar
  {
    display: none !important;
  }

  .hidden-phone {
    display: none !important;
  }


  .header.scrolled {
    height: 60px;
    top: 0;
  }

  .navbar-brand {
    float: left;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
    padding: 15px 52px 15px 68px;
  }

  .headerspace1 {
    margin-top: 24px;
    margin-right: 4px;
    font-size: 24px;
    padding-top: 12px;
  }

  .headerspace2 {
    margin-top: 24px;
    margin-right: 22px;
  }

  .bb-profile-ava img {
    border-radius: 50%;
    border: 2px solid #688A7E;
    width: 30px;
    display: inline-block;
  }

  .headerspace
  {
    margin-right: 10px;
  }

  .dropdown-menu.extended {
    max-width: 520px !important;
    min-width: 160px !important;
    top: 58px;
    width: 262px !important;
    padding: 0;
    box-shadow: 7px 2px 5px rgba(0, 0, 0, 0.176) !important;
    border: medium none !important;
    border-radius: 4px;
    overflow-y: auto;
    max-height: 370px;
    overflow-x: hidden;
  }

  .truncate {
    width: 175px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


}

@media (max-width: 768px) {

  .navbar-nav {
    float: left;
    /*margin: -1.5px -15px;*/

  }

  /* body container */
  .main-content {
    margin: 0 !important;

  }
  /*---------*/

  .btn {
    margin-bottom: 5px;
  }

}


@media (max-width: 740px) {

  .bb-profile-ava img {
    border-radius: 50%;
    border: 2px solid #688A7E;
    width: 30px;
    display: inline-block;
  }

  .header.scrolled {
    height: 50px;
    top: 0;
  }


  .bb-paymentopt {
    margin: 14px 4px !important;
  }

  .bb-paymentopt div {
    margin: 6px !important;
  }

}

@media (max-width: 480px) {

  .notification-row,.task_notificatoin_bar, .search-row,.knob-charts, .dont-show , .inbox-head .sr-input, .inbox-head .sr-btn{
    display: none;
  }

  .bb-profile-ava img {
    border-radius: 50%;
    border: 2px solid #688A7E;
    width: 30px;
    display: inline-block;
  }


  .truncate {
    width: 175px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .truncate-mob {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .form-group-n
  {
    margin-top: 5px;
  }

  .inv
  {
    display: none !important;
  }

  .b-prof{
    padding: 15px 20px !important;
  }

  .col-fix {
    padding: 10px 10px 20px !important;
  }


  .bb-mob-lg {
    padding-right: 0;
    padding-left: 0;
  }

  .contact-icon-color .dropdown-menu {
    right: 0;
    left: 0;
  }

  .nlabel {

    min-width: 158px;
  }

  .dpicker{
    width: 280px;
    margin-left: -23px;
  }

  .date > ul{
    width: 114%;
    margin-left: -20px;
  }

  .bb-public-off {
    float: left;
  }

  .nodata{
    text-align:center;
    max-height: 6em;

  }

  .nodata p{
    line-height: 6em;
    text-shadow: 2px 2px 1px rgb(191, 191, 191);
  }


  .nvipani-user {
    width: 100%;
  }


  .bb-paymentopt {
    margin: 14px 4px !important;
  }

  .bb-paymentopt div {
    margin: 6px !important;
  }

  .bb-paymentopt .bb-closebtn {
    top: -14px;
  }

}

@media (max-width:320px) {

  .hidden-phone {
    display: none !important;
  }


  .form-group-n
  {
    margin-top: 5px;
  }

  .inv
  {
    display: none !important;
  }



  .b-prof{
    padding: 15px 20px !important;
  }

  .col-fix {
    padding: 10px 10px 20px !important;
  }


  .bb-mob-lg {
    padding-right: 0;
    padding-left: 0;
  }

  .contact-icon-color .dropdown-menu {
    right: 0;
    left: 0;
  }

  .nlabel {

    min-width: 158px;
  }


  .date > ul{
    width: 114%;
    margin-left: -20px;
  }

  .public-off{
    /*padding-top: 100%;*/
    /*position: inherit;*/
    float:left;
    margin-top:20px
  }

  .bb-public-off {
    float: left;
    margin-top: 20px
  }


  .nodata{
    text-align:center;
    max-height: 6em;

  }

  .nodata p{
    line-height: 6em;
    text-shadow: 2px 2px 1px rgb(191, 191, 191);
  }

  .new {
    max-height: 260px;
    margin: 0 auto;
    overflow: auto;
    float: left;
    width: 100%;
    margin-top: 30px !important;
  }

  .min {
    min-height: 0;
  }

  .nvipani-user {
    width: 100%;
  }

  .md-tab-item.md-tab {
    max-width: 240px !important;
  }

  .bb-contact md-sidenav, md-backdrop {
    position: fixed !important;
  }

}

@media (min-width: 0px) and (max-width: 320px) {

  .header {
    width:320px;
  }

  .nodata{
    text-align:center;
    max-height: 6em;
  }

  .nodata p{
    line-height: 6em;
    text-shadow: 2px 2px 1px rgb(191, 191, 191);
  }
}


@media (min-width: 960px) and (max-width: 991px) {

  .show-sm-cust{
    display: block !important;
  }

}
.fail {
  border: 2px solid #ee5f5b;
}

/*

Responsive table view css*/



.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: #fff;
}
/*.table > thead, .table > tbody, .table > tfoot, .table > thead > tr, .table > tbody > tr, .table > tfoot  >tr {
. transition(all .3 s ease);
}*/
.table> th,
.table > td {
    text-align: left;
    padding: 1.6rem;
    vertical-align: top;
    border-top: 0;
  /*.transition(all .3s ease);*/
}
.table > thead > tr > th {
    font-weight: 400;
    color: #757575;
    vertical-align: bottom;
    /*border-bottom: 1px solid #000000;*/
  }
.table > caption + thead,
.table > colgroup + thead,
.table > thead:first-child ,
.table > tr:first-child,
.table > th,
.table > td {
    border-top: 0;
  }


.table > tbody + tbody {
    border-top: 1px solid #000000;
  }

/*// Nesting*/
   .table {
     background-color: #fff;
   }

/*// Remove border*/
   .no-border {
     border: 0;
   }


/*// Condensed table w/ half padding*/
.table-condensed > thead,
.table-condensed > tbody,
.table-condensed > tfoot,
.table-condensed >tr,
.table-condensed > th,
.table-condensed >td {
    padding: 0.8rem;
  }



/*// Bordered version
//
// Add horizontal borders between columns.*/
   .table-bordered {
     border: 0;
   }
.table-bordered > thead,
.table-bordered> tbody,
.table-bordered> tfoot ,
.table-bordered> tr ,
.table-bordered> th,
.table-bordered> td {
    border: 0;
    border-bottom: 1px solid #e0e0e0;
  }

.table-bordered > thead > tr ,
.table-bordered > th,
.table-bordered> td {
    border-bottom-width: 2px;
  }


/*
// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)*/

/*.table-striped > tbody > tr:nth-child(odd),
.table-striped > td,
.table-striped > th,
    background-color: #f5f5f5;
  }*/


/*// Hover effect
//*/
/*.table-hover > tbody > tr:hover ,
.table-hover > td,
.table-hover > th {
    background-color: #000000;

}*/

/*// Responsive tables (vertical)
//
// Wrap your tables in `.table-responsive-vertical` and we'll make them mobile friendly
// by vertical table-cell display. Only applies <768px. Everything above that will display normally.
// For correct display you must add 'data-title' to each 'td'*/

@media screen and (max-width: 768px) {

/*// Tighten up spacing*/
  .table-responsive-vertical.table {
    margin-bottom: 0;
    background-color: transparent;
  }
  .table-responsive-vertical > .table > thead, .table-responsive-vertical > .table > tfoot{
    display: none;
  }

  .table-responsive-vertical > .table > tbody {
    display: block;
  }
  .table-responsive-vertical > .table > tbody > tr {
    display: block;
    border: 2px solid #e0e0e0;
    border-radius: 2px;
    margin-bottom: 1.6rem;
  }
  .table-responsive-vertical > .table > tbody > tr > td {
    background-color: #fff;
    display: block;
    text-align: right;
  }
  .table-responsive-vertical > .table >tbody >tr> td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: inherit;
    font-weight: 400;
    color: #757575;
  }




   .shadow-z-1 {
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     box-shadow: none;
   }
  .table-responsive-vertical > .table > tbody > tr {
    border: none;
 /* .shadow-z-1();*/
  }
  .table-responsive-vertical.shadow-z-1 > .table > tbody > tr{
    border: medium none;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  }


/*// Special overrides for the bordered tables*/
  .table-responsive-vertical > .table-bordered {
     border: 0;}
/*
// Nuke the appropriate borders so that the parent can handle them*/
  .table  > tbody ,
  .table>tbody>tr ,
  .table >tbody>tr> td {
    border: 0;
    border-bottom: 1px solid #e0e0e0;
    padding: 6px;
  }
  .table >tbody>tr> td:last-child {
    border-bottom: 0;
  }


/*// Special overrides for the striped tables*/
  .table-responsive-vertical > .table-striped ,
  .table-striped> tbody > tr > td,
.table-striped> tbody > tr:nth-child(odd) {
    background-color: #fff;
    padding: 6px;
  }
  .table-striped> tbody > tr > td:nth-child(odd) {
    background-color: #f5f5f5;
    padding: 6px;
  }


/*// Special overrides for hover tables*/
  .table-hover ,
.table-hover > tbody ,
  .table-hover > tr:hover > td,
  .table-hover > tr:hover {
    background-color: #fff;
  }
  .table-hover > tr > td:hover {
    background-color: #000000;
  }
}

.table-striped.table-mc-light-blue > tbody > tr:nth-child(odd) > td,
.table-striped.table-mc-light-blue > tbody > tr:nth-child(odd) > th {
  background-color: #e1f5fe;
}
.table-hover.table-mc-light-blue > tbody > tr:hover > td,
.table-hover.table-mc-light-blue > tbody > tr:hover > th {
  background-color: #b3e5fc;

}
@media screen and (max-width: 767px) {
  .table-responsive-vertical .table-striped.table-mc-light-blue > tbody > tr > td,
  .table-responsive-vertical .table-striped.table-mc-light-blue > tbody > tr:nth-child(odd) {
    background-color: #fff;
  }
  .table-responsive-vertical .table-striped.table-mc-light-blue > tbody > tr > td:nth-child(odd) {
    background-color: #e1f5fe;
  }
  .table-responsive-vertical .table-hover.table-mc-light-blue > tbody > tr:hover > td,
  .table-responsive-vertical .table-hover.table-mc-light-blue > tbody > tr:hover {
    background-color: #fff;
  }
  .table-responsive-vertical .table-hover.table-mc-light-blue > tbody > tr > td:hover {
    background-color: #b3e5fc;
  }
}
.bb-text-center{
  margin: auto;
}
.bb-border-input{
  border-width: 0 0 1px 0;
}
td .md-chips{
    padding-left: 0;
}
.bb-center{
  text-align: center;
  vertical-align: middle;
}

.fontsize{
  color: darkslategrey;
  background-color:#73c1f3e6 ;
}

form[name=userForm] md-input-container md-checkbox{
 padding:10px;
}

.nv-margin-top-30{
  margin-top: 30%;
}
.no-stock{
  position: absolute;
  top: 1px;
  left: 1px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-size: x-large;
  font-weight: 600;
  border: none !important;
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
  padding: inherit;
  color:red;
  pointer-events: none;
}
.no-stock-image{
  opacity: 0.5;
}
.nv-red{
  color:red;
}
.no-stock-inventory{
  opacity: 1;
}
.nv-header-product{
  background: #00B5F1;
  white-space: nowrap;
}
.nv-border{
  border:1px solid #ccc;
}
md-dialog{
  min-width: 50vw;
}
.fa-info-circle.nv-red[data]:after{
  content: attr(data);
  padding: 4px 8px;
  position: absolute;
  left: 0;
  top: 60%;
  color: red;
  z-index: 2;
}
md-input-container.md-no-float{
  margin: 0;
}
.nv-max-height-inventory{
  max-height: 680px !important;
  overflow-y: auto;
}
/*Category Selection Page*/
.nvc-category-select nv-node{
  width: 75%;
  padding-bottom: 10px;
  padding-top: 10px;
}
.nvc-category-select md-checkbox{
  margin: 8px 0 8px 8px;
}
.nvc-subcategory1 .nvc-category-select nv-node{
  width: 100%;
  padding-bottom: 0;
}
.nvc-subcategory1 .nvc-category{
  border:none;
}
.nvc-subcategory1 .accordion-toggle{
  position: absolute;
  right: 10px;
  top: 25px;
  padding: 3px;
  background: #299e26;
  border-radius: 50%;
}
.nvc-subcategory1 .accordion-toggle:after{
  line-height: 22px;
  color: #FFFFFF;
}
.nvc-category{
  border: 3px solid #299e26;
}
.nvc-subcategory1[ng-if="node.childrenVisibility"]{
  padding-left: 25px;
  box-shadow: 0 5px 13px 0 rgba(0,0,0,0.2);
  background: #f6f6f6;
}
/*=================Products Page ====================*/
.nvc-content{
  width: 95%;
  margin: auto;
  clear: both;
}
.nvc-content-table{
  border-collapse: collapse;
}
.nvc-content-table td{
  vertical-align: middle;
  padding: 0 4px;
  font-weight: 600;
}
.nvc-content-table thead{
  background: #e9e9e9;
  font-size: 12px;
}
.nvc-content-table tr{
  border-bottom: 1px solid #cccaca
}
.nvc-content-table thead td{
  padding: 10px 4px;
}
.nvc-content-table tr td:first-child{
  padding-left: 10px;
}
.nvc-content-table md-checkbox{
  margin-bottom: 0;
}
.nvc-content-table tbody tr:hover {
  background: #f6f6f6;
}
.nvc-content-table img:not(.nvipani-img){
  width: 65px;
  height: 65px;
  margin: 7px 0;
  border: 1px solid;
  object-fit: cover;
}
.form-control.nvc-input{
  border: 2px solid #299e26;
  -webkit-border-radius: 100rem;
  -moz-border-radius: 100rem;
  border-radius: 100rem;
}
.nvc-product-detail{
  background: #e4e4e4;
}
.nvc-product-detail h6,
.nvc-product-detail label{
  margin: 0;
}
.nvc-product-detail label{
  font-size: 13px;
}
.nvc-chips .md-chips{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  font-size: 14px;
}
.nvc-chips .md-chips .md-chip{
  order: 2;
}
.nvc-chips .md-chips .md-chip-input-container{
  order: 1;
  width: 100%;
  border-bottom: 2px solid #299e26;
}
.nvc-no-chips-wrap .md-chip{
  display: none;
}
md-chips.nvc-chips .md-chips.md-focused{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.nvc-sup-text{
  position: absolute;
  top: 0;
  right: 1px;
  padding: 4px;
  background: orange;
  z-index: 21;
  margin: 0;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  text-align: center;
}
.ng-hide{
  max-height: 0 !important;
  /*-webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;*/
}
/*=================== Products page css ends =============*/
/*.hub3{
  background-image: url('../img/nvipani/Hub3.jpg');
}
.bg1{
  background-image: url('../img/nvipani/bg1.png');
}
.mobile{
  background-image: url('../img/nvipani/Mobile.jpg');
}*/

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:500px;
  height:350px;
}
