<section data-ng-controller="TodosController" data-ng-init="find()">
    <div class="page-header">
        <h1>Todos</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="todo in todos" data-ng-href="todos/{{todo._id}}" class="list-group-item">
            <small class="list-group-item-text">
                Posted on
                <span data-ng-bind="todo.created | date:'medium'"></span>
                by
                <span data-ng-bind="todo.user.displayName"></span>
            </small>
            <h4 class="list-group-item-heading" data-ng-bind="todo.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!todos.$resolved || todos.length">
        No Todos yet, why don't you <a href="/todos/create">create one</a>?
    </div>
</section>
