<section class="wrapper firsec-bg" data-ng-controller="PasswordController">
    <div class="row firsec-bg">
        <div class="col-lg-12 firsec-bg">
            <h3 class="text-center">Restore your password</h3>
            <img alt="nVipani" class="img-responsive center-block" height="120" width="250" src="modules/core/img/brand/nvipani_logo.png" />
            <p class="text-center">Enter your account Email.</p>
            <form name="password"  data-ng-submit="askForPasswordReset()" autocomplete="off"  >
                <div class="col-lg-12 col-sm-12 m-top15 col-lg-offset-4 col-md-offset-4 col-sm-offset-3 xs-offset-0 m-bot250 mob-lg">
                    <div class="col-lg-12 col-sm-12">
                        <div class="col-lg-4 col-sm-6">

                            <input  class="form-control"  type="email" id="username" name="username"
                                    data-ng-model="credentials.username"  placeholder="Enter Email..." maxlegth="128">
                            <div data-ng-show="error" class="text-center text-danger">
                                <strong>{{error}}</strong>
                            </div>
                            <div data-ng-show="success" class="text-center text-success">
                                <strong>{{success}}</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 m-top15 col-sm-12">
                        <div class="col-lg-2 col-sm-3">
                            <button type="submit" class="btn btn-save">Submit</button>
                        </div>
                        <div class="col-lg-2 col-sm-3">
                            <button type="button" class="btn btn-cancel">Cancel</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>
