<section class="wrapper firsec-bg" data-ng-controller="PasswordController">
    <div class="row firsec-bg">

        <div class="col-lg-12 firsec-bg">
            <h3 class="text-center">Reset your password</h3>
            <img alt="nVipani" class="img-responsive center-block" height="120" width="250" src="modules/core/img/brand/nvipani_logo.png" />

            <form name="resetPassword" data-ng-submit="resetUserPassword()" autocomplete="off">
                <div class="col-lg-12 col-sm-12 m-top15 col-lg-offset-4 col-md-offset-4 col-sm-offset-3 xs-offset-0 m-bot250 mob-lg">
                    <div class="col-lg-12 col-sm-12">
                        <div class="col-lg-4 col-sm-6">
                            <h5  class="tabtxt heading">New Password</h5>
                            <input  type="password"  nv-type="newpassword" name="newPassword" class="form-control"
                                    data-ng-model="passwordDetails.newPassword"  placeholder="Enter Password..."
                                    required  ng-minlength="8" ng-maxlength="20">

                        </div>

                    </div>

                    <div class="col-lg-12 col-sm-12">
                        <div class="col-lg-4 col-sm-6">
                            <h5  class="tabtxt heading">Verify Password</h5>
                            <input  type="password" name="verifyPassword" nv-type="verifypassword" class="form-control"
                                    data-ng-model="passwordDetails.verifyPassword"   placeholder="Enter Password Again..."
                                    required  ng-minlength="8" ng-maxlength="20">

                        </div>

                    </div>


                    <div class="col-lg-12 m-top15 col-sm-12">
                        <div class="col-lg-4 col-sm-6">
                            <button type="submit"  class="btn btn-save" ng-disabled="{{resetPassword.$invalid}}">Update Password</button>

                            <div data-ng-show="error" class="text-center text-danger">
                                <strong>{{error}}</strong>
                            </div>
                            <div data-ng-show="success" class="text-center text-success">
                                <strong>{{success}}</strong>
                            </div>

                        </div>

                    </div>



                </div>

            </form>
        </div>
    </div>
</section>
