<section data-ng-controller="GroupsController" ng-if="showAddGroup">
    <div class="page-header">
        <h1>New Group</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" name="addGroupForm" novalidate>
            <fieldset>
                <div class="form-group">
                    <div class="col-sm-4">
                        <label class="control-label" for="name">Name</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text"  id="name" name="name" ng-model="name" class="form-control" placeholder="Name" required>
                        <span class="text-danger" ng-show="addGroupForm.name.$dirty && addGroupForm.name.$invalid">
                            <span ng-show="addGroupForm.name.$error.required">Group Name is required.</span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <label class="control-label" for="Description">Description</label>
                    </div>
                    <div class="col-sm-8">
                        <textarea rows="3" style="resize:none" data-ng-model="description" id="description" name="description" class="form-control" placeholder="Description"> </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" data-ng-disabled="addGroupForm.$invalid" data-ng-click="reset(addGroupForm);" class="btn btn-default" value="Save">
                    <input type="button" value="Cancel" data-ng-click="panelChange('');" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
