<section data-ng-controller="GroupsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Group</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" name="editGroupForm" novalidate>
            <fieldset>
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label" for="name">Name</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text"  id="name" name="name" data-ng-model="group.name" class="form-control" placeholder="Name" required>
                        <span class="text-danger" data-ng-show="editGroupForm.name.$dirty && editGroupForm.name.$invalid">
                            <span data-ng-show="editGroupForm.name.$error.required">Group Name is required.</span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label" for="Description">Description</label>
                    </div>
                    <div class="col-sm-4">
                        <textarea rows="3" style="resize:none" data-ng-model="group.description" id="description" name="description" class="form-control" placeholder="Description"> </textarea>
                    </div>
                </div>
                <div class="form-group">
                        <input type="submit" data-ng-disabled="editGroupForm.$invalid" data-ng-click="reset(editGroupForm)" class="btn btn-default" value="Save">
                        <input type="button" value="Cancel" class="btn btn-default" data-ng-click="panelChange(''); revert();reset(editGroupForm);">
                </div>
				<div data-ng-show="error" class="text-danger">
					    <strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
