<section data-ng-controller="GroupsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="group.name"></h1>
		<h4 data-ng-bind="group.description"></h4>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == group.user._id))">
        <a class="btn btn-primary" href="/groups/{{group._id}}/edit">
			<i class="glyphicon glyphicon-edit"> Edit</i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"> Delete</i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="group.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="group.user.displayName"></span>
		</em>
	</small>
</section>
