.img-center{
	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.col-fix{
	padding: 10px 60px 20px;
}

.form-browse {
	display: block;
	width: 100%;

	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #8e8e93;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-moz-box-shadow : inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	/*-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.bb-p-top15 {
	padding-top: 15px;
}

.b-prof{
	padding: 21px 100px 19px;
}

.b-center{
	display: table;
	margin: 0 auto;
	width: 20% !important;
}

.p-data{
	border: 1px solid rgb(238, 238, 238);
	min-width: 100%;
	text-align: center;
	padding: 5px;
	border-radius: 5px;
	font-weight: 500;
}

.p-edit{
	margin-top: 35px;
}

.p-table{
	font-size: 13px;
}

.p-tab > li.active > a, .p-tab > li.active > a:focus, .p-tab > li.active > a:hover {
	color: #359eea !important;
	cursor: default;
	background-color: #F7F7F7;
	border-style: none;
}


.plabel {
	border: 1px solid #CBBDBD;
	padding: 6px 35px;
	border-radius: 5px;
	font-size: 13px;
	min-width: 115px;
	text-align: center;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}

.ver-wizard .nav-tabs > li {
	width: 33%;
}

.wizard {
	margin: 0 auto;
	background: #F7F7F7;
}



div.wizard-inner > ul li{
	text-align: center;
	position: relative !important;
}

div.wizard-inner > ul li label{
	padding-bottom: 8px;
}

.wiz .nav-tabs > li a {
	width: inherit;
	height: inherit;
	margin: 3px auto;
	border-radius: 0;
	padding: 8px;
}

.wiz .nav-tabs > li {
	width: auto;
}

.ver-text{
	font-weight: 600;
	font-size: 19px;
}

.ver-text span {
	color: #359eea;
}

.blue a{
	color: #359eea;
	text-decoration: none;
}

.blue a:hover{
	color: #3c3c3c;
	text-decoration: none;
}
.m-bot30 {
	margin-bottom: 30px;
}

.text-danger p{
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold !important;
	color: #bc2b2b !important;

}


.login-heading {
	font-family: "justus-pro", sans-serif;
	font-style: normal;
	font-weight: 500;
	text-align: left;
	color: #359EEA;
	font-size: 22px;
}

.login-bg{
	/*background: #FAFAFA;*/
	background: #FFF;
}

/*====BB====*/

.bb-login-bg {
	background: #FFF;
}

.bb-login-slide.bb-bg-slider-wrapper ,.bb-login-slides.bb-bg-slider-wrapper{
	position: inherit;
}
.bb-login-slide .flex-direction-nav .flex-next, .bb-login-slide .flex-direction-nav .flex-prev {
	display: none;
}

.bb-login-slide .flex-control-nav,.bb-login-slides.flex-control-nav .bb-reg-slide .flex-control-nav {
	bottom: 0;
}

.bb-login-slide .flexslider .flex-control-nav li a, .bb-login-slides .flexslider .flex-control-nav li a ,.bb-reg-slide .flexslider .flex-control-nav li a {
	background: #359eea;
}

.bb-reg-slide .bb-slidertext {
	margin-top: 30%;
	color: #fff;
}



.bb-login-bg .flex-direction-nav .flex-next,bb-login-bg .flex-direction-nav .flex-prev,.bb-reg-slide .flex-direction-nav .flex-next, .bb-reg-slide .flex-direction-nav .flex-prev {
	display: none;
}

.bb-reg-slide.bb-bg-slider-wrapper {
	/*height: 750px !important;*/
	position: inherit;
}

/*.bb-reg-slide .flex-viewport,bb-login-slide.flex-viewport {
	height: 750px !important;
}*/


.bb-img-center {
	display: block !important;
	margin-left: auto;
	margin-right: auto;
}

.bb-prod-img-fix {
	height: 150px;
	width: 160px;
	border: 1px solid #EEE;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(167, 177, 185, 0.6);
	background: #FFF;
}

.bb-nodata {
	text-align: center;
	max-height: 16em;

}

.bb-nodata p {
	line-height: 16em;
	/*text-shadow: 2px 2px 1px rgb(191, 191, 191);*/
}

.bb-link-me {
	margin-top: -30px;
}

.bb-link-me i.fa {
	background-color: #1ABC9C;
	background-color: rgba(26, 188, 156, 0);
	color: #ecf0f1;
	width: 47px;
	height: 27px;
	padding-top: 3px;

	font-size: 14pt;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

.bb-link-me i.fa {
	color: #ecf0f1;
	font-size: 14pt;
}

.bb-link-me .bb-hr-center {
	height: 3px;
	background-color: #34495e;
	margin: 0 auto;
	width: 100px;
	margin-top: 15px;
}

.bb-link-me .btnn {
	background-color: #1abc9c;
	color: #ecf0f1;
	width: 93px;
	height: 28px;
	padding-top: 3px;
	border-radius: 10px;
	font-size: 11pt;
}

.bb-btn-file {
	position: relative;
	overflow: hidden;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.bb-btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	background: white;
	cursor: pointer;
	display: block;
}

.bb-ubtn {
	display: inline-block;
	cursor: pointer;
}

.bb-wbtn {
	width: 28%;
}

.bb-responstable > thead > tr > th {

	border: 1px solid #CCC;
	background-color: #F7F7F7;
	color: #212121;
	font-weight: 500;

}

.bb-responstable.table {
	border: 1px solid #CCC !important;
}

.bb-responstable tbody td label {
	white-space: nowrap;
}

.bb-inv-img-fix {
	height: 100px;
	width: 100px;
	border: 1px solid #EEE;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(167, 177, 185, 0.6);
	background: #FFF;
}

.bb-mw-18 {
	min-width: 18vh;
}

.bb-fhead {
	font-size: 13px;
}

.bb-wizard {
	margin: 0 auto;
	background: #F7F7F7;
}

/*====BB====*/




.login-img{
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.login-border{
	border: 2px solid rgb(238, 238, 238);
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px rgba(167, 177, 185, 0.6);
	background: #FFF;

}

.login-border2 {
	border: rgb(62, 54, 54);
	border: 20px solid rgba(62, 54, 54, 0.22);
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px rgba(167, 177, 185, 0.6);
	background:RGB(255, 255, 255);
	background: RGBA(255, 255, 255, 0.82);

}


.field label{
	color: #555;
	font-weight: inherit;
	font-size: 15px;
}

.field p {
	color: #505050;
	font-weight: inherit;
	font-size: 13px;
}

.field label abbr {
	margin-right: 5px;
	color: #E61313;
	border-bottom: 0 none;
	font-size: 15px;
}

.p-3{
	padding-top: 0;
	padding-bottom: 1%;
}



.border{
	border: 2px solid rgb(238, 238, 238);
	padding-top: 25px;
	border-radius: 5px;
}

.w-bg{
	background: #FFFFFF;
}

.flex-direction-nav a.flex-disabled {
	display:none;
}


.responstable > thead > tr > th {

	border: 1px solid #CCC;
	background-color: #F7F7F7;
	color: #212121;
	font-weight: 500;

}

.responstable.table{
	border: 1px solid #CCC !important;
}

.product-table > thead tr th{
	white-space: nowrap;
}

.responstab tr:nth-child(2n+1) {
	background-color: #EAF3F3;
}
.responstab tr {
	border: 1px solid #D9E4E6;
}

.bb-user-forgot a, .bb-user-forgot p {
	font-size: 13px;
	color: #0067CA;
}

.bb-user-forgot a:hover, .bb-user-forgot p:hover {
	text-decoration: none;
	color: #FF7519;
}

.bb-hav-acc p {
	font-size: 13px;
	color: #0067CA;
	/*padding: 15px;*/
	padding: 5% 4%;
	white-space: nowrap;
}

.bb-hav-acc p a {
	font-size: 16px;
	color: #FC9D5D;
	padding-left: 9px;

}

.bb-hav-acc p a:hover {
	color: #FF7519;
	text-decoration: none;
}




.hav-acc p {
	font-size: 13px;
	color: #0067CA;
	/*padding: 15px;*/
	padding: 5% 4%;
	white-space: nowrap;
}

.hav-acc p a {
	font-size: 16px;
	color: #FC9D5D;
	padding-left: 9px;

}

.hav-acc p a:hover{
	color: #FF7519;
	text-decoration: none;
}

.text-success strong{
	color: rgb(91, 170, 17);
}


.pan-prod{

	padding: 0 20px !important;
}

.btn-reg {
	background-color: #FF7920;
	border-color: #FF7519;
	font-weight: 900;
	font-size: 16px;
	width: 100%;
	color: #FFF;
}

.prod-log{
	margin-top: 3px;
	font-size: 22px;
}


.login_txtbox {
	height: 52px;
	width: 100%;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	margin-bottom: 18px;
	padding-left: 40px;
	background-repeat: no-repeat;
	background-position: 18px 18px;
}

.w-bg section {
	box-shadow: 0 0 0 rgba(0, 0, 0, .05);
}

.btn-login {
	background-color: #359eea;
	border-color: #359eea;
	font-weight: 900;
	font-size: 16px;
	width: 100%;
	color: #FFF;
}

.input-group-addon {
	padding: 6px 12px;
	font-size: 15px;
	color: #8b9199;
	font-weight: normal;
	line-height: 1;
	text-align: center;
	background-color: #ffffff;
	border: none;
	border-radius: 0;
}

.reg-slide .slidertext {
	margin-top: 30%;
	color: #fff;
}

.contact p{
	color : #FFFFFF;
}

.green-border{
	border: 2px solid rgb(77, 109, 0);
}

.bb-green-border {
	border: 2px solid rgb(77, 109, 0);
}

/*.date ul.dropdown-menu{
	top: auto !important;
	bottom: 43% !important;
	position:absolute ;
}*/

.date ul.dropdown-menu{
	width: 190%;
}

.login-user span i {
	font-size: 19px;
}

.login-pwd span i {
	font-size: 22px;
}

.p-left15{
	padding-left: 15px !important;
}

.suppliers-bg {
	background: #273238;
}

.instal .input-group-addon{
	padding: 6px 12px;
	font-size: 15px;
	color: #8b9199;
	font-weight: normal;
	line-height: 1;
	text-align: center;
	background-color: #f7f7f7;
	border: none;
	border-radius: 0;
}

.row-horizon .border strong{
	font-size: 14px;
	/*white-space: nowrap;*/
}

.row-horizon p.text-center{
	font-size: 14px;

}

.flex-direction-nav .flex-prev {
	left: -15px;
}

.flex-direction-nav .flex-next {
	right: -15px;
	text-align: right;
}

.new{
	max-height: 260px;
	margin: 0 auto;
	overflow: auto;
}

.nodata{
	text-align:center;
	max-height: 16em;

}

.nodata p{
	line-height: 16em;
	text-shadow: 2px 2px 1px rgb(191, 191, 191);
}

.dev_cell_tall {
	border-radius: 4px;
	border: 1px solid #dddddd;
	padding: 10px;
	margin-bottom: 18px;
}

.dev_cell_price_over {
	position: absolute;
	top: 0;
	right: 15px;
	opacity: 0.8;
	background-color: #359eea;
	color: #ffffff;
	font-size: 1.1em;
	font-weight: bold;
	padding: 3px 5px 3px 5px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.dev_cell_tall .title {
	margin-top: 10px;
	height: 52px;
	text-overflow: clip;
	overflow: hidden;
}

.row-fluid{
	white-space: nowrap;
}
.row-fluid .col-lg-2{
	display: inline-block;
}

ul.comp-profile > li{
	padding: 10px 10px;

}

.comp-prof-border{
	border: 2px solid rgb(204, 204, 204)
}

.md-border{
	border : 2px solid #EEE;
	border-radius : 5px;
}



@media (min-width: 768px) {
	.login {
		background-color: #EDEDED;
		padding: 3%;
	}



}

@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}


}
.remove-account-container {
	display: inline-block;
	position: relative;
}
.btn-remove-account {
	top: 1%;
	right: 1%;
	position: absolute;
}

.btn-file {
	position: relative;
	overflow: hidden;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.mw-18 {
	min-width: 18vh;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	background: white;
	cursor: inherit;
	display: block;
}

.user-profile-picture {
	min-height: 150px;
	max-height: 150px;
}

.product-profile-picture {
	min-height: 100px;
	max-height: 100px;
}



.row-horizon {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}
.row-horizon > [class*="col-lg"], .row-horizon > [class*="col-md"], .row-horizon > [class*="col-sm"], .row-horizon > [class*="col-xs"] {
	float: none;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
}
.row-horizon > .col-xs-12 {
	width: 90%;
}
.row-horizon > .col-xs-11 {
	width: 82.5%;
}
.row-horizon > .col-xs-10 {
	width: 75%;
}
.row-horizon > .col-xs-9 {
	width: 67.5%;
}
.row-horizon > .col-xs-8 {
	width: 60%;
}
.row-horizon > .col-xs-7 {
	width: 52.5%;
}
.row-horizon > .col-xs-6 {
	width: 45%;
}
.row-horizon > .col-xs-5 {
	width: 37.5%;
}
.row-horizon > .col-xs-4 {
	width: 30%;
}
.row-horizon > .col-xs-3 {
	width: 22.5%;
}
.row-horizon > .col-xs-2 {
	width: 15%;
}
.row-horizon > .col-xs-1 {
	width: 7.5%;
}
@media (min-width: 768px) {
	.row-horizon > .col-sm-12 {
		width: 90%;
	}
	.row-horizon > .col-sm-11 {
		width: 82.5%;
	}
	.row-horizon > .col-sm-10 {
		width: 75%;
	}
	.row-horizon > .col-sm-9 {
		width: 67.5%;
	}
	.row-horizon > .col-sm-8 {
		width: 60%;
	}
	.row-horizon > .col-sm-7 {
		width: 52.5%;
	}
	.row-horizon > .col-sm-6 {
		width: 45%;
	}
	.row-horizon > .col-sm-5 {
		width: 37.5%;
	}
	.row-horizon > .col-sm-4 {
		width: 30%;
	}
	.row-horizon > .col-sm-3 {
		width: 22.5%;
	}
	.row-horizon > .col-sm-2 {
		width: 15%;
	}
	.row-horizon > .col-sm-1 {
		width: 7.5%;
	}
}
@media (min-width: 992px) {
	.row-horizon > .col-md-12 {
		width: 90%;
	}
	.row-horizon > .col-md-11 {
		width: 82.5%;
	}
	.row-horizon > .col-md-10 {
		width: 75%;
	}
	.row-horizon > .col-md-9 {
		width: 67.5%;
	}
	.row-horizon > .col-md-8 {
		width: 60%;
	}
	.row-horizon > .col-md-7 {
		width: 52.5%;
	}
	.row-horizon > .col-md-6 {
		width: 45%;
	}
	.row-horizon > .col-md-5 {
		width: 37.5%;
	}
	.row-horizon > .col-md-4 {
		width: 30%;
	}
	.row-horizon > .col-md-3 {
		width: 22.5%;
	}
	.row-horizon > .col-md-2 {
		width: 15%;
	}
	.row-horizon > .col-md-1 {
		width: 7.5%;
	}
}
@media (min-width: 1200px) {
	.row-horizon > .col-lg-12 {
		width: 90%;
	}
	.row-horizon > .col-lg-11 {
		width: 82.5%;
	}
	.row-horizon > .col-lg-10 {
		width: 75%;
	}
	.row-horizon > .col-lg-9 {
		width: 67.5%;
	}
	.row-horizon > .col-lg-8 {
		width: 60%;
	}
	.row-horizon > .col-lg-7 {
		width: 52.5%;
	}
	.row-horizon > .col-lg-6 {
		width: 45%;
	}
	.row-horizon > .col-lg-5 {
		width: 37.5%;
	}
	.row-horizon > .col-lg-4 {
		width: 30%;
	}
	.row-horizon > .col-lg-3 {
		width: 22.5%;
	}
	.row-horizon > .col-lg-2 {
		width: 15%;
	}
	.row-horizon > .col-lg-1 {
		width: 7.5%;
	}
}
/* for toggle icon of password */
.pass-icon{
	float: right;
	margin-top: -25px;
	positin: relative;
	cursor: pointer;
	margin-left: 3px;
}
.pass-icons{
	float: right;
	min-height: 24px;
	min-width: 1px;
	margin-top: -45px;
}

