<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <base href="{{baseUrl}}" >
</head>
<body>
<table style="border:1px solid #CCCCCC;border-collapse: collapse; margin: auto;min-width: 480px;max-width: 600px;font-family: sans-serif;">
    <tbody>
    <tr>
        <td>
            {% include 'company-email-header.html' %}
        </td>
    </tr>
    <tr>
        <td>
            <img src="/modules/core/img/brand/nvc-email-otp.jpg" style="width: 100%;display: block;" alt="logo">
        </td>
    </tr>
    <tr>
        <td>
            <table style="width: 90%;margin:auto;">
                <tr>
                    <td style="text-align: center; color: #299e26;">
                        <h2>Congratulations</h2>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;">
                        <h4>Dear User</h4>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <p>{{owner}} is added you as <b>{{userGroup}}</b> in the  <span>{{businessUnits}} </span> . click the below link to check your account</p>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;"><a href={{url}} >Check Account</a></td><br>
                </tr>
                <tr>
                    <td>
                        If the above link is not redirecting you to our page, Please copy it and paste in your browser
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="background-color: #e9e9e9; text-align: center; font-size: 14px;">
            {% include 'company-signature.html' %}
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
