<table style="width: 100%;">
    <tr>
        <td>
            <p style="padding: 4px 0 1px 0; margin: 0;">nVipani Technology Solutions Pvt Ltd</p>
            <p style="padding: 1px 0; margin: 0;">#526, Ground Floor, 7th Cross, 10th Main, HAL 3rd Stage, Jeevanbheema Nagar,</p>
            <p style="padding: 1px 0 4px 0; margin: 0;">Bangalore, Karnataka - 560075</p>
        </td>
    </tr>
</table>
