<head>
    <meta charset="utf-8">
    <title>nVipani Sales Report</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<style>
    .invoice-title h2, .invoice-title h3 {
        display: inline-block;
    }

    .table > tbody > tr > .no-line {
        border-top: none;
    }

    .table > thead > tr > .no-line {
        border-bottom: none;
    }

    .table > tbody > tr > .thick-line {
        border-top: 2px solid;
    }
    .table > tbody > tr > td {
        text-align: center;
    }
    .text-left-center{
        text-align: start;
        font-weight: bold;
    }
    .text-value{
        font-weight: normal;
    }


    .td-border{
        border: 1px solid #ccc;
    }

    .tr-subtotal{
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
    }

    .last-table{
        width: 100%;
    }

    .container-style{
        border: 2px solid #ccc;
    }

    .heading-style{
        font-size: 12px;
    }
    .address-style{
        font-size: 12px;
        line-height: 0px;
    }
    .conditions{
        font-size: 8px;
    }
    .conditionsdetails{
        font-size: 6px;
    }

    #t1{

        -moz-tab-size: 4; /* Code for Firefox */
        -o-tab-size: 4; /* Code for Opera 10.6-12.1 */
        tab-size: 4;

    }

    table {
        width: 100%;
        font-size: 8px;
    }
    thead th{
        font-weight: bold;
        padding: 6px 0;
        background: #e5e5e5;
    }
    header strong {
        text-align:center;
        margin:0px auto;
        font-size:8px;
        color:white;
        font-family:"ufonts com perpetua 2";
        display:inline-block;
    }
    thead tc { text-align: center }

    thead th:first-of-type { padding-left: 8px }

    thead th:last-of-type {
        text-align: right;
        padding-right: 8px;
    }

    tbody tr th{ padding-left: 8px }

    tbody tr td:last-of-type, tbody tr td:last-of-type {
        text-align: right;
        padding-right: 8px;
    }

    tbody tr:nth-of-type(even) th, tbody tr:nth-of-type(even) td{ background: #eee }

    tbody th, tbody td{
        padding-top: 6px;
        padding-bottom: 6px;
        background: #fff;
    }

    thead td { font-weight: bold; }

    tbody td {
        text-align: center;
        font-size: 6px;
        background: #e5e5e5;
        padding: 6px 8px;
    }
    .tdclass {
        font-size: 8px;
        font-weight: bold;
    }

    #footer {
        border-top: 1px solid #dddddd;
        font-size: 6px;
        font-weight: bold;
    }
</style>
<div>


        <div class="heading-style">
<div class="text-center ">
    <h3>Sales Report</h3>
</div>
<div class="text-center">
    <b>{{company.name}}</b></br>
    <span >{{#addresses company.addresses}}{{/addresses}} <br>Phone:{{#phones company.phones}}{{/phones}}, E-mail: {{#emails company.emails}}{{/emails}}
                </span>
</div>
            </div>
    <div class="row">
        <div class="col-md-12">
    <div class="table-responsive">
<table class="table">
        <thead>
        <tr>
            <th>S.No.</th>
            <th>Invoice No.</th>
           <!-- <th>Order Number</th>-->
           <!-- <th>Order Type (Purchase/Sales)</th>-->
            <th>Product Name</th>
            <th>Unit Size (Measure) </th>
            <th>Number Of Units </th>
            <th>Unit Price (&#8377;)</th>
            <th>VAT  (&#8377;)</th>
            <th>Total Amount (&#8377;)</th>
        </tr>
        </thead>
        <tbody>
    {{#each products}}
    <tr>
        <td>{{#counters @index}}{{/counters}}</td>
        <td>{{orderNumber}}</td>
{{counter }}
    {{#each products}}
        {{#if @index}}
        <td class="no-line"></td>
        <td class="no-line"></td>
        {{/if}}
        <!--<td>{{../orderNumber}}</td>-->
        <!--<td>{{../orderType}}</td>-->
        <td>{{inventory.product.name}}</td>
        <td>{{inventory.unitSize}} ( {{inventory.unitMeasure}} )</td>
        <td>{{numberOfUnits}}</td>
        <td>{{unitPrice}}</td>
        <td>{{#vatprice inventory.tax.VAT numberOfUnits unitPrice}}{{/vatprice}}
        <td>{{#total numberOfUnits unitPrice}}{{/total}}</td>
    </tr>
        {{/each}}
    {{/each}}


    <!--<tr>
        <td class="no-line"></td>
        <td class="no-line"></td>
        <td class="no-line"></td>
        <td class="no-line"></td>
        <td class="no-line"></td>
        <td class="no-line"></td>
        <td class="no-line"></td>
        <td class="no-line text-left"><strong>Roundoff</strong></td>
        <td class="no-line text-right">0.30</td>
    </tr>-->
        </tbody>
</table>
    </div>
</div>
</div>
</div>
