<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<base href="{{baseUrl}}" >
</head>
<body>
<table style="border:1px solid #CCCCCC;border-collapse: collapse; margin: auto;width: 600px;font-family: sans-serif;">
	<tbody>
	<tr>
		<td>
			{% include 'company-email-header.html' %}
		</td>
	</tr>
	<tr>
		<td>
			<img src="/modules/core/img/brand/nvc-email-registration-success.jpg" style="width: 100%;display: block;" alt="logo">
		</td>
	</tr>
	<tr>
		<td style="text-align: center; color: #5f5f5f;">
			<p style="font-size: small;">Use the below One Time Password(OTP) to Verify</p>
			<strong style="font-size: xx-large;">{{otp}}</strong>
		</td>
	</tr>
	<tr>
		<td>
			<p style="font-size: small;">Dear user,<br>
				To verify your user name: {{username}}, use the above OTP
			</p>
			<p><b>If you didn't make this request please Ignore this mail.</b></p>
			<p><strong>Best Regards<br></strong>The {{appName}} Support team</p>
		</td>
	</tr>
	<tr>
		<td style="background-color: #e9e9e9; text-align: center; font-size: 14px;">
			{% include 'company-signature.html' %}
		</td>
	</tr>
	</tbody>
</table>
</body>
</html>
