
/*.accordion-toggle:after {*/
/*!* symbol for "opening" panels *!*/
/*font-family: 'Glyphicons Halflings'; !* essential for enabling glyphicon *!*/
/*content: "\e114"; !* adjust as needed, taken from bootstrap.css *!*/
/*float: right; !* adjust as needed *!*/
/*color: grey; !* adjust as needed *!*/
/*}*/

/*.accordion-toggle-collapsed:after {*/
/*!* symbol for "collapsed" panels *!*/
/*font-family: 'Glyphicons Halflings';*/
/*content: "\e080";*/
/*float: right; !* adjust as needed *!*/
/*color: grey;!* adjust as needed, taken from bootstrap.css *!*/
/*}*/

.accordion-toggle:after {
    /*font-family: 'Glyphicons Halflings'; !* essential for enabling glyphicon *!*/
    content: "\2b";
    float: right;
    color: #2196F3;
    font-weight: 500;
    font-size: 36px;

}
.accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\2212";
}

.bb-order-slider md-toolbar {
    background-color: #F7F7F7 !important;
    color: #333 !important;
    min-height: 45px;
}

.bb-order-slider md-toolbar .md-toolbar-tools {
    height: 45px;
    max-height: 45px;
}

.bb-publicOffer-slider md-toolbar {
    background-color: #F7F7F7 !important;
    color: #333 !important;
    min-height: 50px;
}

.bb-publicOffer-slider md-toolbar .md-toolbar-tools {
    height: 50px;
    max-height: 50px;
}

.bb-publicOffer-slider .md-button {
    min-width: 60%;
}

.bb-publicOffer-slider md-toolbar a {
    color: #337ab7;
}

.bb-link {
    line-height: 14px;
}

.md-accordion .expandCollapse {
    width: 30px;
    height: 30px;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #2196F3;
    display: block;
    margin-top: -2px;
    margin-left: -2px;
    overflow: hidden;
}

.md-accordion .expandCollapse:active {
    border: 0;
}

.md-accordion .expandCollapse:before, .md-accordion .expandCollapse:after {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 32px;
    text-align: center;
    -webkit-transition: .3s all ease-out;
    -moz-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out;
}

.md-accordion .expandCollapse:before {
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    content: "|";
    margin-top: -3px;
}

.md-accordion .expandCollapse:after {
    opacity: 1;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    content: "|";
    margin-left: -3px;

}

.md-accordion .active:before {
    opacity: 1;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-left: 3px;
    margin-top: 0;
}

.md-accordion .dataContent {
    background: #FFF;
    height: 0;
    overflow: hidden;
    -webkit-transition: .3s all ease-out;
    -moz-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out;
}

.md-accordion .activeContent {
    height: auto;
    padding: 5px;
    display: block;
}

/*.bb-txt-wrap{*/
/*white-space: -moz-pre-wrap !important;  !* Mozilla, since 1999 *!*/
/*white-space: -o-pre-wrap;    !* Opera 7 *!!* css-3 *!*/
/*word-wrap: break-word;       !* Internet Explorer 5.5+ *!*/
/*word-break: break-all;*/
/*white-space: normal;*/
/*}*/

.bb-m-top40 {
    margin-top: 40px;
}

.bb-off-srch {
    margin-top: 15px;
    background: #CCC;
}

.bb-p-15 {
    padding: 15px
}

.osidebar ul li {
    /*border-bottom: 1px solid #E7E7E7;*/
    padding: 6px 5px;
}

ul.active li a span.gname , ul.active li a{
    color: #FFF!important;
}

.public-off p strong{
    /*white-space: nowrap;*/
    font-size: 14px;
}



.osidebar ul li a {
    color: #363333;
    cursor: pointer;
    /*font-size: 15px;*/
}

.sel-prod{
    display: block;
    position: absolute;
    bottom: 26px;
    right: -1px;
}

.off-label{
    font-size: 16px;
    font-weight: 400;
    color: rgb(120, 112, 112);
}

.bb-label-blue {
    background-color: #359eea;
}

.bb-label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 73%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

ul.gul > li > a:hover, ul.gul > li > a:focus {
    background: transparent !important;
    color: #393333 !important;
}

.btn-search {
    background-color: #359eea;
    border-color: #359eea;
    font-weight: 900;
    font-size: 16px;

    color: #FFF;
    padding: 4px 12px;
}

.bb-btn-search {
    background-color: #359eea;
    border-color: #359eea;
    font-weight: 900;
    font-size: 16px;

    color: #FFF;
    padding: 4px 12px;
}

.btnSocial{

    position: relative;

    transition: 0.3s ease;
    cursor: pointer;

}
.btnSocial:hover{
    transform: scale(1.5, 1.5);
    opacity: 1;
}

.bb-pop-less {
    position: relative;
    transition: 0.3s ease;
    cursor: pointer;
}

.bb-pop-less:hover {
    transform: scale(1.05, 1.05);
    opacity: 1;
}

.bb-pop-more {
    position: relative;
    transition: 0.3s ease;
    cursor: pointer;
}

.bb-pop-more:hover {
    transform: scale(1.2, 1.2);
    opacity: 1;
}

.sel-addr {
    display: block;
    position: absolute;
    bottom: -13px;
    right: -23px;
}

.add-scroll {
    max-height: 285px;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 10px;
}

.bb-add-scroll {
    max-height: 285px;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 10px;
}

.confirmed, .Confirmed{
    background: #008000;
    color: #FFFFFF;
}

.placed, .Placed{
    background: #F8ED62;
    color: #252525;
}
.draft, .Drafted{
    background: #e4e4e4;
    color: #252525;
}
.inprogress, .InProgress{
    background:#CDDC39;
    color: #FFFFFF;
}

.shipped, .Shipped{
    background:#DAB600;
    color: #252525;
}

.delivered, .Delivered{
    background: #73b906;
    color: #FFFFFF;
}

.rejected, .Rejected{
    background-color: rgb(245, 28, 28);

}

.cancelled, .Cancelled{
    background: #FF0000;
    color: #FFFFFF;
}

.complete, .Completed{
    background:#299e26;
    color: #FFFFFF;

}

.expire{
    background: #252525;
    color: #FFFFFF;
}

.bb-confirmed {
    background-color: #006300;
}

.bb-placed {
    background-color: #800001;
}

.bb-inprogress {
    background-color: #AEAEAE;
}

.bb-shipped {
    background-color: rgb(189, 180, 5);
}

.bb-delivered {
    background-color: #9BFB9A;
}

.bb-rejected {

    background-color: rgb(245, 28, 28);

}

.bb-cancelled {

    background-color: rgb(245, 28, 28);

}
.bb-opened{
    background: #F8ED62;
    color: #252525;
}
.bb-complete {

    background-color: #62C462;

}

.bb-expire {
    background-color: #EE5F5B;
}

.text-left{
    text-align: left !important;
}

.bb-text-left {
    text-align: left !important;
}

.p-sh{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.offerlist-timeline{
    overflow: hidden;

    width: 100%;

    padding-bottom: 5px;
}

.productul > li{
    position: static !important;
    display: block;
    float: left;
}

.offerlist-timeline p.timeline-comment-text {
    display: block;
    font-size: 16px !important;
    color: #636363;
    font-weight: 700;
    margin-bottom: 5px;
    line-height: 1.4;
}

.o-title{
    display: block;
    font-size: 16px !important;
    color: #359eea;
    font-weight: 700;
}

.o-img-fix {
    /*height: 135px;*/
    /*width: 135px;*/
    border: 1px solid #EEE;
    box-shadow: 1px 1px 8px #EEE;
}

.offer-by p {
    display: block;

    font-weight: 500;
    font-size: 14px;
    color: rgb(141, 141, 141);
    margin-bottom: 5px;
    line-height: 1.4;
}

.flabel{
    display: block;

    font-weight: 500;
    font-size: 14px;
    color: rgb(141, 141, 141);


}

.flabel span{
    /*padding-left: 10px;*/
    /*font-size: 15px !important;*/
    /*color: #636363;*/
    /*font-weight: 700;*/
    display: block;
    font-weight: 500;
    font-size: 14px;
    color: rgb(141, 141, 141);
}

.bb-flabel {
    display: block;
    font-weight: 500;
    font-size: 14px;
    color: rgb(141, 141, 141);
}
.bb-flabel-center{
    text-align: center;
}
.bb-flabel span {
    /*display: block;*/
    font-weight: 500;
    font-size: 14px;
    color: rgb(141, 141, 141);
}

md-input-container textarea{
    overflow: auto;
}

/*.nv-position-top-right{
    top: 0px;
    right: 0px;
}*/

.min {
    min-height: 660px;
}

.bb-sidenav-scroll {
    max-height: 518px;
    margin: 0 auto;
    overflow: auto;
}


.bb-offerprod-scroll {
    max-height: 310px;
    /*margin: 0 auto;*/
    overflow: auto;
}


.bel{
    position: absolute;
    left: 16px;
    top: 0;
    height: 19px;
    padding: 4px 5px !important;
}

.f22{
    font-size: 22px;
}

.p-top30{
    padding-top: 30px;
}

.bb-p-top30 {
    padding-top: 30px;
}

.w-55{
    width: 100%;
}

.bb-w-18 {
    width: 18%;
}

.bb-w-10 {
    width: 10%;
}
.bb-w-2{
    width: 2%;
}
.bb-w-3{
    width: 3%;
}

.bb-w-16 {
    width: 16%;
}

.bb-w-18 {
    width: 18%;
}



.pan{
    overflow: auto;
    height: auto;
}

.plimit {
    max-width: 90px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    margin-top: 5px;
}

.m-top20m{
    margin-top: -20px;
}

.modal-backdrop{
    position: relative;

}

.m-top80{
    margin-top: 80px;

}

.m-bot35{
    margin-bottom: 35px;

}

.min-prod{
    /*min-height: 76px;*/
   color: #333;
}
.min-prod > a{
    text-decoration: none;
    color: #FFF;
}

.min-prod > p{
    text-align: center;
    padding: 50px 0;
}

.bb-min-prod {
    /*min-height: 76px;*/
    color: #333;
}

.bb-min-prod > a {
    text-decoration: none;
    color: #FFF;
}

.bb-min-prod > p {
    text-align: center;
    padding: 50px 0;
}

.edit-date {
    padding-right: 8px;
    color: #359eea;
    text-shadow: 3px 3px 1px #CCC;
}

.addprod > a:hover{
    color: #359eea !important;
    border-style: none none none !important;
    border-bottom: 0 !important;
}


.bb-min-prod > a:hover {
    color: #CCC;
    cursor: pointer;
}

table tfoot tr:last-child td {
    color: #359eea;
    font-size: 1.2em;
    font-weight: 600;
    /*border-top: 1px solid #57B223;*/
}

.addr-prof {
    font-family: "Arial",serif;
    font-size: 15px;
    font-weight: normal;
    color: #8D8D8D;
    padding: 15px;
    line-height: 1.0;

}

.addr-prof p i {
    padding-right: 10px;
    font-size: 15px;
    color: #359eea;
}

/*.modal-content{
    position: absolute;
}
*/
.select2-results .select2-highlighted {
    background: #00b5f1;
    color: #fff;
}

.select2-results li {
    font-size: 14px;
    border-bottom: solid 1px #BCBCBC;
}

/*.of-name a {*/
    /*padding: 10px 7px !important;*/
/*}*/

.red{
    color: #E94E4E;
}

.bb-red {
    color: #E94E4E;
}

.blue{
    color: #00B5F1;
}
.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}


.bb-address p i {
    padding-right: 10px;
    font-size: 15px;
    color: #359eea;
}

.bb-address {
    font-family: "Arial", serif;
    font-size: 15px;
    font-weight: normal;
    color: #8D8D8D;
    padding: 15px;
    line-height: 1.0;

}


.bb-addr-sel p i {
    padding-right: 10px;
    font-size: 15px;
    color: #299e26;
}

.bb-addr-sel {
    font-family: "Arial", serif;
    font-size: 14px;
    font-weight: normal;
    color: #252525;
    padding: 10px;
    line-height: 1.0;
    border: 1px solid #909090;
    border-radius: 4px;
}

.addr-pay p i {
    padding-right: 10px;
    font-size: 15px;
    color: #359eea;
}

.addr-pay {
    font-family: "Arial",serif;
    font-size: 15px;
    font-weight: normal;
    color: #8D8D8D;
    padding: 15px;
    line-height: 1.0;
    min-height: 175px;
}

.bb-menu-p0 {
    padding: 0;
    max-height: unset;
    overflow-y: unset;
}

.bb-grp {
    max-height: 230px;
    overflow-y: auto;
}


.bb-sel-address {
    display: block;
    width: 95%;
}

.bb-data-item > p {
    margin: 0 0 7px;
    line-height: 1.3;
}

.data-item > p{

    margin: 0 0 7px;
    line-height: 1.3;

}

.text > ul.dropdown-menu > .active > a, .text > ul.dropdown-menu > .active > a:hover, .text > ul.dropdown-menu > .active > a:focus {
    background-color: #359eea;
    background-image: -webkit-linear-gradient(top, #359eea 0%, #359eea 100%);
    background-image: -o-linear-gradient(top, #359eea 0%, #359eea 100%);
    background-image: -moz-linear-gradient(#359eea , #359eea ,#359eea); /* For Firefox 3.6 to 15 */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#359eea), to(#359eea));
    background-image: linear-gradient(to bottom, #359eea 0%, #359eea 100%);

}

.text > ul{
    width:90%;
}



/** notifications **/
.notify {
    display: block;
    background: #fff;
    padding: 12px 18px;
    max-width: 90%;
    margin: 0 auto;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px 0;
}

.notify h1 { margin-bottom: 6px; }

.successbox h1 { color: #678361; }
.errorbox h1 { color: #6f423b; }

.successbox h1:before, .successbox h1:after { background: #cad8a9; }
.errorbox h1:before, .errorbox h1:after { background: #d6b8b7; }

.notify .alerticon {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.successbox i {
    font-size: 75px;
    color: rgb(41, 135, 20);
}

.errorbox  i {
    font-size: 75px;
    color: #E94E4E;
}

.disabled .round-tab{
    color : #CCC;
    background: #EEE;
}

.edit{
    padding: 4px 10px;
    color: #359eea;
}

.f-13{
    font-size: 13px;
}

.of-name > a span.label{
    font-size: 13px;
    vertical-align: super;
}

/*.o-pan-scroll ul:hover{
    text-decoration: none;
    background-color: #eee;
}*/

.edit-status{
    padding-left: 8px;
    padding-top: 4px;
    color: #359eea;
    text-shadow: 3px 3px 1px #CCC;
}

.bb-edit-status {
    padding-left: 8px;
    padding-top: 4px;
    color: #359eea;
    text-shadow: 3px 3px 1px #CCC;
}

.date > ul.dropdown-menu{
    width: 290px !important;
}


.progress-tab  {
    text-align: center;
    /*flex: 1 1 100%;*/
    max-height: 100%;
    max-width: 100%;
    color: #4b3e3e;
    display: block;
    font-size: 100%;
    flex: 1 1 auto;
    position: relative;
    background: #FFF;
    /*text-transform:uppercase;*/
}

.progress-tab, md-list-item.progress-indicator {
    flex: 1 1 auto;
    padding: 0;
    position: relative;
    min-height: 5px;
    /*min-height: 28px;*/
}
.upperimg {
    position: relative;
    top: 50px;
    left: 0;
    float: right;
    padding: 0 20px;
    height: 26% !important;
    width: 40% !important;
}

.responstable tbody td label{
    white-space: nowrap;
}

/*.responstable thead tr th{
    white-space: nowrap;
}*/

ul.off-menu > li > a {
    color: #359EEA;
    font-size: 20px !important;
    padding: 0 0 !important;
    margin-right: 1px !important;
}

.border-line {
    border: 2px solid rgb(219, 219, 219);
    padding: 12px;
    border-radius: 5px;
}

.hline{
    border-bottom: 1px solid rgb(219, 219, 219);
    padding: 6px 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 2px rgba(167, 177, 185, 0.6);
    background: #FFF;
}


.flexer,.progress-indicator{
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex
}

.no-flexer,.progress-indicator.stacked{
    display:block
}

.no-flexer-element{
    -ms-flex:0;
    -webkit-flex:0;
    -moz-flex:0;
    flex:0}

.flexer-element,.progress-indicator>li{
    -ms-flex:1;
    -webkit-flex:1;
    -moz-flex:1;
    flex:1}



.bb-progress-status {
    max-height: 100%;
    max-width: 100%;
    display: block;
    flex: 1 1 auto;
    padding: 0;
    position: relative;
    /*min-height: 44px;*/
}

.bb-progress-tab {
    text-align: center;
    max-height: 100%;
    max-width: 100%;
    color: #4b3e3e;
    display: block;
    font-size: 100%;
    flex: 1 1 auto;
    position: relative;
    background: #FFF;
}

.bb-progress-tab, md-list-item.bb-progress-indicator {
    flex: 1 1 auto;
    padding: 0;
    position: relative;
    min-height: 5px;
    /*min-height: 28px;*/
}

.flexer, .bb-progress-indicator {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.no-flexer, .bb-progress-indicator.stacked {
    display: block
}

.no-flexer-element {
    -ms-flex: 0;
    -webkit-flex: 0;
    -moz-flex: 0;
    flex: 0
}

.flexer-element, .bb-progress-indicator > li {
    -ms-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1
}

.bb-progress-indicator {
    /*margin:0 0 1em;
    padding:0;*/
    font-size: 60%;
    /*text-transform:uppercase;*/
    /* border-left: 1px solid #CCC;
     border-bottom: 1px solid #CCC;
     border-right: 1px solid #CCC;*/
    /*padding-top: 2px;
    background: #FFF;*/
}

.bb-progress-indicator > li {
    list-style: none;
    text-align: center;
    width: auto;
    padding: 0;
    margin: 0;
    position: relative;
    text-overflow: ellipsis;
    color: #bbb;
    display: block;
    /*min-height: 75px;*/
}

.bb-progress-indicator > li:hover {
    color: #6f6f6f
}

.bb-progress-indicator > li.completed, .bb-progress-indicator > li.completed .bubble {
    color: #65d074
}

.bb-progress-indicator > li .bubble {
    border-radius: 1000px;
    width: 10px;
    height: 10px;
    background-color: #bbb;
    display: block;
    margin: 0 auto .5em;
    border-bottom: 3px solid #bbb
}

.bb-progress-indicator > li .bubble:after, .bb-progress-indicator > li .bubble:before {
    display: block;
    position: absolute;
    top: 21px;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #bbb
}

.bb-progress-indicator > li.completed .bubble, .bb-progress-indicator > li.completed .bubble:after, .bb-progress-indicator > li.completed .bubble:before {
    background-color: #4caf50;
    border-color: #4caf50;
    /*animation: move 2s linear infinite;
    -webkit-animation: move 2s linear infinite;
    -moz-animation: move 2s linear infinite;*/
}

.bb-progress-indicator > li .bubble:before {
    left: 0
}

.bb-progress-indicator > li .bubble:after {
    right: 0
}

.bb-progress-indicator > li.active, .bb-progress-indicator > li.active .bubble {
    color: #337AB7
}

.bb-progress-indicator > li.active .bubble, .bb-progress-indicator > li.active .bubble:after, .bb-progress-indicator > li.active .bubble:before {

    background-color: #337AB7;
    border-color: #122a3f
}

.bb-progress-indicator > li a:hover .bubble, .bb-progress-indicator > li a:hover .bubble:after, .bb-progress-indicator > li a:hover .bubble:before {
    background-color: #5671d0;
    border-color: #1f306e
}

.bb-progress-indicator > li a:hover .bubble {
    color: #5671d0
}

.bb-progress-indicator > li.danger .bubble, .bb-progress-indicator > li.danger .bubble:after, .bb-progress-indicator > li.danger .bubble:before {
    background-color: #d3140f;
    border-color: #440605
}

.bb-progress-indicator > li.danger .bubble {
    color: #d3140f
}

.bb-progress-indicator > li.warning .bubble, .bb-progress-indicator > li.warning .bubble:after, .bb-progress-indicator > li.warning .bubble:before {
    background-color: #edb10a;
    border-color: #5a4304
}

.bb-progress-indicator > li.warning .bubble {
    color: #edb10a
}

.bb-progress-indicator > li.info .bubble, .bb-progress-indicator > li.info .bubble:after, .bb-progress-indicator > li.info .bubble:before {
    background-color: #5b32d6;
    border-color: #25135d
}

.bb-progress-indicator > li.info .bubble {
    color: #5b32d6
}

.bb-progress-indicator.stacked > li {
    text-indent: -10px;
    text-align: center;
    display: block
}

.bb-progress-indicator.stacked > li .bubble:after, .bb-progress-indicator.stacked > li .bubble:before {
    left: 50%;
    margin-left: -1.5px;
    width: 3px;
    height: 100%
}

.bb-progress-indicator.stacked .stacked-text {
    position: relative;
    z-index: 10;
    top: 0;
    margin-left: 60% !important;
    width: 45% !important;
    display: inline-block;
    text-align: left;
    line-height: 1.2em
}

.bb-progress-indicator.stacked > li a {
    border: none
}

.bb-progress-indicator.stacked.nocenter > li .bubble {
    margin-left: 0;
    margin-right: 0
}

.bb-progress-indicator.stacked.nocenter > li .bubble:after, .bb-progress-indicator.stacked.nocenter > li .bubble:before {
    left: 10px
}

.bb-progress-indicator.stacked.nocenter .stacked-text {
    width: auto !important;
    display: block;
    margin-left: 40px !important
}

.banner-deactive {
    right: 8px !important;
    top: 417px !important;
    width: 902px !important;
    z-index: 999;
}




/* RIBBON BANNERS */

.ribbon {
    position: absolute;
    /*top: 0;*/
    /*right: 0;*/
    top: 1%;
    right: 1%;
}

/* reset certain elements (in case of conflicting CSS for classes, links, etc.) */
.ribbon .text,
.ribbon .banner,
.ribbon a {
    margin: 0;
    padding: 0;
    border: 0;
    /*outline: 0;*/
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.ribbon a {
    color: #fff;
    text-decoration: none;
}

.no-css-transforms .ribbon {
    font-size: 1em;
    position: relative;
    width: 100%;
}

.ribbon .banner {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    color: #fff;
    -webkit-font-smoothing: antialiased;
    display: block;
    float: right;
    position: relative;
    right: 0;
    top: 22px;
    width: 100px;
}

.ribbon-small .banner {
    right: -8px;
    top: 15px;
    width: 65px;
}

/*.ribbon-large .banner {*/
    /*right: -20px;*/
    /*top: 32px;*/
    /*width: 150px;*/
/*}*/

.ribbon-large .banner {
    right: -6px;
    top: 56px;
    width: 171px;
    z-index: 999;
}

.ribbon .banner::after,
.ribbon .banner::before {
    content: '';
    display: block;
    height: 12px;
    position: absolute;
    /*width: 30px;*/
}

.ribbon-small .banner::after,
.ribbon-small .banner::before {
    height: 6px;
    width: 20px;
}

/*.ribbon-large .banner::after,*/
/*.ribbon-large .banner::before {*/
    /*height: 18px;*/
    /*width: 45px;*/
/*}*/

.ribbon .banner::before {
    -webkit-transform: skewY(-45deg) translate(50%,15px);
    -moz-transform: skewY(-45deg) translate(50%,15px);
    -ms-transform: skewY(-45deg) translate(50%,15px);
    -o-transform: skewY(-45deg) translate(50%,15px);
    transform:skewY(-45deg) translate(50%,15px);
    -webkit-transform-origin: 100% center;
    -moz-transform-origin: 100% center;
    -ms-transform-origin: 100% center;
    -o-transform-origin: 100% center;
    transform-origin: 100% center;
    left: -45px;
}

.ribbon-small .banner::before {
    top: -5px;
    left: -30px;
}

/*.ribbon-large .banner::before {*/
    /*top: 9px;*/
    /*left: -68px;*/
/*}*/

.ribbon .banner::after {
    -webkit-transform: translate(100%,-100%) skewY(45deg) translateX(-58%);
    -moz-transform: translate(100%,-100%) skewY(45deg) translateX(-58%);
    -ms-transform: translate(100%,-100%) skewY(45deg) translateX(-58%);
    -o-transform: translate(100%,-100%) skewY(45deg) translateX(-58%);
    transform:translate(100%,-100%) skewY(45deg) translateX(-58%) ;
    -webkit-transform-origin: 0 center;
    -moz-transform-origin: 0 center;
    -ms-transform-origin: 0 center;
    -o-transform-origin: 0 center;
    transform-origin: 0 center;
    right: -17px;
}

.ribbon-small .banner::after {
    top: 18px;
    right: -12px;
}

/*.ribbon-large .banner::after {*/
    /*top: 45px;*/
    /*right: -26px;*/
/*}*/


.no-css-transforms .ribbon .banner {
    position: static;
    width: 100%;
    float: none;
    font-size: 10px;
}

.ribbon .text {
    position: relative;
    z-index: 2;
    padding: 6px 0;
    font-size: 14px;
    font-weight: bold;
    min-height: 18px;
    line-height: 18px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.20);
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* small text */
.ribbon-small .text {
    padding: 3px 0;
    font-size: 0.9em;
    min-height: 14px;
    line-height: 14px;
    text-align: center;
}

/* large text */
.ribbon-large .text {
    padding: 9px 0;
    font-size: 18px;
    min-height: 28px;
    line-height: 28px;
    text-align: center;
}


.ribbon .text::before,
.ribbon .text::after {
    content: '';
    display: block;
    height: 30px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

/* small text */
.ribbon.ribbon-small .text::before,
.ribbon.ribbon-small .text::after {
    height: 20px;
}

/* large text */
.ribbon.ribbon-large .text::before,
.ribbon.ribbon-large .text::after {
    height: 46px;
}

.ribbon .text::before {
    -webkit-transform: translateX(-15%) skewX(-45deg);
    -moz-transform: translateX(-15%) skewX(-45deg);
    -ms-transform: translateX(-15%) skewX(-45deg);
    -o-transform: translateX(-15%) skewX(-45deg);
    transform:translateX(-15%) skewX(-45deg);
}

.ribbon .text::after {
    -webkit-transform: translateX(15%) skewX(45deg);
    -moz-transform: translateX(15%) skewX(45deg);
    -ms-transform: translateX(15%) skewX(45deg);
    -o-transform: translateX(15%) skewX(45deg);
    transform:translateX(15%) skewX(45deg) ;
}

.no-css-transforms .ribbon .text {
    height: 25px;
    padding: 3px;
}


/*--- RIBBON COLORS ---*/

/* default */
.ribbon .banner::after,
.ribbon .banner::before {
    background-color: #51a351;
}
.ribbon .text::before,
.ribbon .text::after,
.no-css-transforms .ribbon .text {
    background-color: #62c462;
}

/* green */
.ribbon-green .banner::after,
.ribbon-green .banner::before {
    background-color: #51a351;
}
.ribbon-green .text::before,
.ribbon-green .text::after,
.no-css-transforms .ribbon-green .text {
    background-color: #62c462;
}

/* blue */
.ribbon-blue .banner::after,
.ribbon-blue .banner::before {
    background-color: #0044cc;
}
.ribbon-blue .text::before,
.ribbon-blue .text::after,
.no-css-transforms .ribbon-blue .text {
    background-color: #0088cc;
}

/* mms blue */
.ribbon-blue-mms .banner::after,
.ribbon-blue-mms .banner::before {
    background-color: #2d5b98;
}
.ribbon-blue-mms .text::before,
.ribbon-blue-mms .text::after,
.no-css-transforms .ribbon-blue-mms .text {
    background-color: #367ab3;
}

/* light blue */
.ribbon-blue-light .banner::after,
.ribbon-blue-light .banner::before {
    background-color: #2f96b4;
}
.ribbon-blue-light .text::before,
.ribbon-blue-light .text::after,
.no-css-transforms .ribbon-blue-light .text {
    background-color: #5bc0de;
}

/* yellow */
.ribbon-yellow .banner::after,
.ribbon-yellow .banner::before {
    background-color: #f2ba00;
}
.ribbon-yellow .text::before,
.ribbon-yellow .text::after,
.no-css-transforms .ribbon-yellow .text {
    background-color: #ffd95e;
}

/* orange */
.ribbon-orange .banner::after,
.ribbon-orange .banner::before {
    background-color: #f89406;
}
.ribbon-orange .text::before,
.ribbon-orange .text::after,
.no-css-transforms .ribbon-orange .text {
    background-color: #fbb450;
}

/* red */
.ribbon-red .banner::after,
.ribbon-red .banner::before {
    background-color: #bd362f;
}
.ribbon-red .text::before,
.ribbon-red .text::after,
.no-css-transforms .ribbon-red .text {
    background-color: #ee5f5b;
}

/* purple */
.ribbon-purple .banner::after,
.ribbon-purple .banner::before {
    background-color: #611bbd;
}
.ribbon-purple .text::before,
.ribbon-purple .text::after,
.no-css-transforms .ribbon-purple .text {
    background-color: #af4ce8;
}
.green-ball{
    background: #3ba949;
    padding: 3px;
    border-radius: 3px;
    color: #fff;
}


/* pink */
.ribbon-pink .banner::after,
.ribbon-pink .banner::before {
    background-color: #f000c0;
}
.ribbon-pink .text::before,
.ribbon-pink .text::after,
.no-css-transforms .ribbon-pink .text {
    background-color: #ff5edf;
}

/* black */
.ribbon-black .banner::after,
.ribbon-black .banner::before {
    background-color: #222222;
}
.ribbon-black .text::before,
.ribbon-black .text::after,
.no-css-transforms .ribbon-black .text {
    background-color: #444444;
}


@media handheld,screen and (max-width:400px){
    .progress-indicator{
        font-size:60%
    }

    .bb-progress-indicator {
        font-size: 60%
    }

}

@media handheld, screen and (max-width: 600px) {
    .progress-status {
        min-height: 44px;
    }

    .progress-tab{
        font-size: 75%
    }

    .bb-progress-status {
        min-height: 44px;
    }

    .bb-progress-tab {
        font-size: 75%
    }

    .progress-indicator > li .bubble::after, .progress-indicator > li .bubble::before {

        top: 4px;
    }

    .bb-progress-indicator > li .bubble::after, .bb-progress-indicator > li .bubble::before {

        top: 4px;
    }
}



@media(max-width : 585px) {

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .vline{
        border-left: 0;
    }
}

@media (max-width: 480px) {

    .ribbon-large .banner {
        right: -6px;
        top: 33px;
        width: 100px;
        z-index: 0;
    }

    .ribbon .text::before {
        -webkit-transform: translateX(-30%) skewX(-45deg);
        -moz-transform: translateX(-30%) skewX(-45deg);
        -ms-transform: translateX(-30%) skewX(-45deg);
        -o-transform: translateX(-30%) skewX(-45deg);
        transform: translateX(-30%) skewX(-45deg);
    }

    .ribbon-large .text {
        padding: 9px 0;
        font-size: 13px;
        min-height: 23px;
        line-height: 30px;
        text-align: center;
    }
}

@keyframes move {
    0% { width: 2%; }
    100% { width: 100%; }
}
.bb-text-blue{
    color: #dd4b39 !important;
}
.bb-input-label{
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0);
    border-radius: 0;
    border-style: solid;
    border-width: 0 0 1px;
}
.f1 {
    /*padding-left:10px;
    padding-right: 10px;*/
    background: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.f1 h3 {
    margin-top: 0;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.f1-steps {
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}
.f1-step {
    z-index: 0;
    position: relative;
    float: left;
    text-align: center;
    pointer-events:none;
}
.f1-step:after{
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    background: #e4e4e4;
    left: 0;
    top: 20px;
    z-index: -1;
}
.f1-step:first-child:after{
    width: 50%;
    left: 50%;
}
.f1-step:last-child:after{
    width: 50%;
    right: 50%;
}
.f1-step.active:after,
.f1-step.activated:after{
    background: #299e26;
}
.f1-step-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-top: 4px;
    background: #ddd;
    font-size: 16px;
    color: #fff;
    line-height: 40px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.f1-step.activated .f1-step-icon {
    background: #fff;
    border: 1px solid #3ba949;
    color: #3ba949;
    line-height: 38px;
    pointer-events: all;
}
.f1-step.active .f1-step-icon {
    background: #3ba949;
    pointer-events: all;
}

.f1-step p {
    color: #ccc;
}
.f1-step.activated p {
    color: #3ba949;
}
.f1-step.active p {
    color: #3ba949;
}
@media(max-width : 960px){
    md-toast{
        position: fixed;
        bottom: 0;
    }
}



