<form data-ng-submit="groupcreate(addGroupForm);" name="addGroupForm" ng-submit-force="true" novalidate ng-show="showAddGroup" class="nvc-slider-form">
    <div class="nvc-form-content">
        <div layout="row" layout-align="center center" class="nvc-sticky-top">
            <md-button class="md-icon-button md-mini" ng-click="cancel()" aria-label="close dialog">
                <md-icon class="fa fa-times fa-lg"></md-icon>
            </md-button>
            <h4 flex class="nv-text-center nv-text-bold">Create Group</h4>
            <md-button class="md-icon-button md-mini " ng-click="clearFields()" aria-label="clear fields">
                <md-icon class="fa fa-repeat fa-lg"></md-icon>
            </md-button>
        </div>
        <div class="nvc-create-head">
            <div class="nvc-create-head-tag">1</div>
            <div class="nvc-create-head-content">
                <h5 class="md-primary">Add Group Info</h5>
                <h6>Enter Group type and name</h6>
            </div>
        </div>
        <div class="nvc-create-content">
            <div layout="row" layout-sm="row" layout-xs="row" layout-wrap layout-padding>
                <div flex="20" flex-xs="20" flex-sm="20">
                    <div class="nvc-accent-border nvc-shape-pill nvc-overflow-hidden">
                        <div class="nv-position-relative layout-align-center-center layout-row">
                            <img class="bb-wid-100" data-ng-src="{{groupImageURL}}" alt="">
                            <span class="nvc-ubtn bb-btn-file bb-wid-100">Upload
                                <input type="file" ng-model="groupImageURL" uploadpathkey='group' accept="image/*" uploader="uploader" />
                        </span>
                        </div>
                    </div>
                </div>
                <div flex="80" flex-xs="80" flex-sm="80" layout="row" layout-xs="row" layout-sm="row" layout-wrap layout-align="space-around start">
                    <div flex="30" flex-xs="30" flex-sm="30">
                        <md-input-container class="md-block bb-wid-100">
                            <label>Group Type</label>
                            <md-select ng-required="true" ng-change="find(groupType==='Customer'?true:false,pageno,null)" ng-model="groupType" name="groupType" ng-disabled="selectedIndex!=2">
                                <md-option ng-repeat="type in groupTypes" ng-value="type.value">{{type.text}}</md-option>
                            </md-select>
                            <div ng-messages="addGroupForm.groupType.$error">
                                <div ng-message="required">Group Type is required.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex="60" flex-xs="60" flex-sm="60" flex-gt-lg="60">
                        <md-input-container class="md-block bb-wid-100">
                            <label>Group Name</label>
                            <input required  md-no-asterisk  id="name" name="name" ng-model="name">
                            <div ng-messages="addGroupForm.name.$error">
                                <div ng-message="required">Group name is required.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex="95" flex-xs="95" flex-sm="95" flex-gt-lg="95">
                        <md-input-container class="md-block">
                            <label>Description</label>
                            <input md-no-asterisk  ng-model="description" id="description" name="description">

                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="nvc-create-head">
            <div class="nvc-create-head-tag">2</div>
            <div class="nvc-create-head-content">
                <h5 class="md-primary">Add Contacts</h5>
                <h6>Select Contacts or set location criteria</h6>
            </div>
        </div>
        <div class="nvc-create-content">
            <div layout="row" layout-xs="row" layout-sm="row" layout-padding>
                <div flex="50" flex-xs="50" flex-sm="50" class="nvc-margin-bottom-10">
                    <md-input-container class="md-block bb-wid-100 nvc-margin-bottom-10">
                        <label>Contact Selection Type</label>
                        <md-select ng-model="groupClassification.classificationType">
                            <md-option ng-repeat="type in groupClassification.classificationTypes" class="md-primary" ng-value="type.value">{{type.text}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>

            <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100" ng-if="groupClassification.classificationType==='Criteria' &&  groupClassification.classificationCriteria.criteriaType==='Custom'">
                <h5 class="nvc-padding-left-10 nvc-margin-bottom-10"><span class="nv-text-bold">Note: </span>This will auto add all the {{groupType}} from below location</h5>
                <nv-address cnode="eachLocation" ng-repeat="eachLocation in groupClassification.classificationCriteria.location"></nv-address>
            </div>

            <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100" ng-if="groupClassification.classificationType==='Custom'" layout-padding>
                <!--<view-contacts ng-show="addParticipents || contacts.length>0"></view-contacts>-->
                <view-single-group-contacts isgroup="true" iscriteria="groupClassification.classificationType==='Criteria'" gcontacts="contacts"></view-single-group-contacts>
            </div>
            <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100" ng-if="groupClassification.classificationType==='All'">
                <h5 class="nvc-padding-left-10"><span class="nv-text-bold">Note: </span>This will add all of your current {{groupType}} list</h5>
            </div>
        </div>

        </div>
    </div>
        <div layout="row" layout-wrap>
                <md-button type="submit" id="createGroup"
                           class="nvc-accent-background nvc-primary-color nvc-padding-0 nvc-margin-0 md-background-accent" flex="100">Create
                </md-button>
            <!--<div flex="50" flex-xs="100" flex-sm="100" flex-gt-lg="50">
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </div>-->
        </div>
    </form>
