<form data-ng-submit="updateGroupval(editGroupForm)" name="editGroupForm" novalidate class="nvc-slider-form">
    <div class="nvc-form-content">
        <div layout="row" layout-align="center center" class="nvc-sticky-top">
            <md-button class="md-icon-button md-mini" ng-click="cancel()" aria-label="close dialog"><md-icon class="fa fa-times fa-lg"></md-button>
            <h4 flex class="nv-text-center nv-text-bold">Group Details</h4>
            <md-button class="md-icon-button md-mini" ng-click="slice(group,'group');cancel()" aria-label="Delete group"><md-icon class="fa fa-trash fa-lg"></md-icon></md-button>
            <md-button class="nvc-rfloat md-icon-button" aria-label="edit button" ng-click="toggleEdit = !toggleEdit"><md-icon class="fa fa-lg nvc-primary-color" ng-class="toggleEdit?'fa-check':'fa-pencil'"></md-icon></md-button>
        </div>
    <div layout-padding  class="nvc-product-detail" layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap >
        <div flex="20" flex-xs="20" flex-sm="20" flex-gt-lg="20" class="layout-row layout-align-center-center">
            <div class="flex-90 nv-position-relative">
                <div class="nvc-white-border nvc-shape-pill nvc-overflow-hidden  nv-position-relative layout-align-center-center layout-row">
                    <img class="bb-wid-100" data-ng-src="{{group.groupImageURL}}" alt="{{group.name}}">
                    <span class="nvc-ubtn bb-btn-file bb-wid-100" ng-show="toggleEdit">Change
                        <input type="file" ng-model="group.groupImageURL" uploadpathkey='contact' accept="image/*" uploader="uploader" />
                    </span>
                </div>
            </div>
        </div>
        <div flex="80" flex-xs="80" flex-sm="80" layout="row" layout-xs="row" layout-sm="row" layout-padding layout-wrap layout-align="space-around center">

            <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50" ng-show="toggleEdit">
                <md-input-container class="md-block md-no-error-space" >
                    <label>Group Name</label>
                    <input md-maxlength="128" required  md-no-asterisk  id="name" name="name" data-ng-model="group.name">
                </md-input-container>
            </div>
            <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50" ng-show="!toggleEdit">
                <h6>Group Name</h6>
                <label>{{group.name}}</label>
            </div>
            <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50" ng-show="toggleEdit">
                <md-input-container class="bb-wid-100">
                    <label>Group Type</label>
                    <md-select ng-change="addContacts()" ng-model="group.groupType" name="Group Type" ng-disabled="selectedIndex!=2">
                        <md-option ng-repeat="type in groupTypes" ng-value="type.value">{{type.text}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50" ng-show="!toggleEdit">
                <h6>Group Type</h6>
                <label>{{group.groupType}}</label>
            </div>
            <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100" ng-show="toggleEdit">
                <md-input-container class="md-block nvc-margin-0">
                    <label>Description</label>
                    <input md-maxlength="1056"  md-no-asterisk  ng-model="group.description" id="description" name="description">
                </md-input-container>
            </div>
            <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100" ng-show="!toggleEdit">
                <h6>Description</h6>
                <label>{{group.description?group.description:'N/A'}}</label>
            </div>
        </div>
    </div>
     <!--   <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
            <div flex="50" flex-xs="100" flex-sm="100" flex-gt-lg="50" layout="row">
                <h2 class="md-headline">Participants</h2>
                <span flex></span>
                <md-button  ng-show="group.groupClassification.classificationType==='Custom'" class="md-fab md-mini md-mini-cust bb-plus-btn"
                            aria-label="Favorite"
                            aria-label="Favorite" ng-click="addContacts(group)">
                    <md-tooltip md-direction="top">Add  Participants</md-tooltip>
                    <md-icon class="fa fa-plus md-icon-cust"></md-icon>
                </md-button>
            </div>
            <view-contacts ng-show="addParticipents"></view-contacts>
            <view-group-contacts ng-show="!addParticipents"></view-group-contacts>
        </div>-->
        <div flex="100" flex-gt-lg="100" flex-sm="100">
            <md-tabs md-dynamic-height md-border-bottom class="frm-inpt-mrgn-btm-0">
                <md-tab label="Location Criteria" ng-if="group.groupClassification.classificationType==='Criteria' && group.groupClassification.classificationCriteria.criteriaType==='Custom'">
                    <md-content class="nvc-content">
                        <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100" ng-if="group.groupClassification.classificationType==='Criteria'">
                            <h5 class="nvc-padding-10"><span class="nv-text-bold">Note: </span>The contact from the below location will be added as a participants </h5>
                            <div flex="100" layout="row" class="layout-align-start-center nvc-padding-left-10">
                                                <span class="md-primary fa fa-plus-circle fa-2x nvc-primary-color" aria-label="favourite" ng-click="addAddress(contact.addresses,tab)">
                                                </span>
                                <h6 class="nvc-padding-left-10">Add Location criteria</h6>
                            </div>
                            <nv-address cnode="eachLocation" ng-repeat="eachLocation in group.groupClassification.classificationCriteria.location"></nv-address>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Participants" ng-if="group.groupClassification.classificationType==='Criteria' || group.groupClassification.classificationType==='Custom' || group.groupClassification.classificationType==='All'">
                    <md-content layout="row" layout-padding layout-wrap>
                        <div flex="100" layout="row" layout-padding>
                            <div flex="100" layout="row" class="layout-align-start-center">
                                <!--<span class="md-primary fa fa-plus-circle fa-2x nvc-primary-color" aria-label="Add Participants"  ng-click="">
                                </span>-->
                                <div flex="30" class="nvc-padding-left-10">
                                    <div class="nvc-input-btngrp nv-position-relative">
                                        <input placeholder="Search..." type="text" ng-model="searchInventoryText">
                                        <span>
                                <button class="nvc-input-button" type="button" ng-click="find()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layout-padding" layout="row" flex="50" ng-if="group.groupClassification.classificationType!=='Criteria'">
                            <div class="nv-position-relative"><md-button class="md-fab md-mini" ng-class="{'md-primary':selectedContacts.length>0}">
                                <md-icon class="fa fa-bars fa-lg"></md-icon>
                                <md-tooltip>{{selectedContacts.length}} Add Participants</md-tooltip>
                            </md-button>
                                <h5 class="nvc-sup-text" ng-show="selectedContacts.length>0">{{(selectedContacts.length>99)?'99+':selectedContacts.length}}</h5>
                            </div>
                            <div flex><md-chips class="nvc-chips" ng-model="selectedContacts" md-autocomplete-snap="" md-transform-chip="criteriaChips.transformChip($chip)" md-require-match="autocompleteDemoRequireMatch">
                                <md-autocomplete md-selected-item="selectedContactItem" md-search-text="searchOfferContactText" md-items="item in queryContactsForGroups(selectedContact,searchOfferContactText)" md-item-text="item.name" placeholder="Search for Contacts to add to Group">
                                    <span md-highlight-text="searchOfferContactText">{{item.name ? item.name:item.displayName}}</span>
                                    <!--<md-not-found>-->
                                        <!--<div class="chip-not-found" ng-click="notFound(searchOfferContactText)">Not found. Click here to add new.</div>-->
                                    <!--</md-not-found>-->
                                </md-autocomplete>
                                <md-chip-template>
                            <span>
                              <strong>{{$chip.displayName?$chip.displayName:$chip.name}}</strong>

                            </span>
                                </md-chip-template>
                            </md-chips>
                            </div>
                        </div>


                        <div ng-repeat="contact in group.contacts track by $index" flex="100" layout="row" layout-padding layout-align="center center">
                                <div flex="5" ng-if="group.groupClassification.classificationType!=='Criteria'"><md-icon class="fa-times-circle faa bb-minus-btn material-icons"
                                                       ng-click="removeGroupContact($index)" ></md-icon></div>
                                <div flex="15">
                                    <img ng-src="{{contact.contact.contactImageURL}}" class="img-circle nv-accent-background bb-wid-100 nvc-accent-border">
                                </div>
                                <div flex="80" layout="column" layout-align="space-between start">
                                    <label>{{contact.contact.displayName}}</label>
                                    <h6 class="nvc-margin-5">{{contact.contact.customerType}}</h6>
                                    <h6><span ng-show="contact.contact.phones.length>0"><span class="fa fa-phone nvc-primary-color" ></span>&nbsp;&nbsp;Phone: {{contact.contact.phones[0].phoneNumber}} &nbsp;&nbsp;</span>
                                        <span ng-show="contact.contact.emails.length>0" ><span class="fa fa-envelope nvc-primary-color"></span>&nbsp;&nbsp;Email: {{contact.contact.emails[0].email}}</span></h6>
                                </div>
                        </div>
                        <!--<view-single-group-contacts isgroup="true" iscriteria="group.groupClassification.classificationType==='Criteria'" gcontacts="gcontacts"></view-single-group-contacts>-->
                    </md-content>
                </md-tab>
                <md-tab label="Comments">
                    <md-content></md-content>
                </md-tab>
                <md-tab label="Offers" ng-click="getOffersByGroup(group._id)">
                    <md-content></md-content>
                </md-tab>
            </md-tabs>
        </div>
    </div>
    <div layout="row" layout-sm="row" layout-gt-lg="row">
            <md-button type="submit" data-ng-disabled="editGroupForm.$invalid"
                       class="nvc-accent-background nvc-primary-color nvc-padding-0 nvc-margin-0 md-background-accent" flex="100">Update
            </md-button>
    </div>
</form>
