<section>
    <div class="col-md-12 col-xs-12" ng-if="showAddToGroups && showSelection()">
        <h3>Add To Groups</h3>

        <form class="form-horizontal" name="editContactGroupForm"
              data-ng-submit="update(updatecontact,selcontact);$scope.updatecontact=updatecontact;" novalidate>
            <div class="panel panel-primary">
                <div class="scroll-list panel-body limitscroll">
                    <div class="col-sm-12" ng-repeat="group in groups">
                        <div class="form-group">
                            <label>
                                <input type="checkbox" checklist-model="updatecontact.groups"
                                       checklist-value="group._id"> {{group.name}}
                            </label>
                        </div>
                    </div>
                </div>
                </div>
                <div class="form-group text-center">
                    <div class="col-sm-4 col-xs-6">
                        <input type="submit" value="Update" data-ng-click="reset(editContactGroupForm);"
                               class="btn btn-success">
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <a class="btn btn-danger"  data-ng-click="panelChange(updatecontact,'');"
                           title="Cancel Contact">
                            <i class="glyphicon"></i> Cancel
                        </a>
                    </div>
                </div>
            <!--    <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>-->
        </form>
    </div>

</section>
