<table class="bb-wid-100 nvc-content-table" id="groupTable">
                            <thead>
                            <tr>
                                <td><nv-check-box  selectedlist="selectedList" orginallist="groups" sort-by="-created"></nv-check-box></td>
                                <td></td>
                                <td>Name</td>
                                <td>Type</td>
                                <td>Status</td>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr dir-paginate="group in groups |orderBy:'-created'|filter:searchText|itemsPerPage:itemsPerPage" pagination-id="paginationGroupId" total-items="total_count">
                                <td><md-checkbox ng-model="group.selected" aria-label="select-group" class="md-primary"></md-checkbox></td>
                                <td><img ng-src="{{group.groupImageURL}}"
                                         alt="{{contactfullName(contact)}}"
                                         class="img-responsive bb-img-center-prod"></td>
                                <td ng-click="panelChange(group,'editgroup');">{{group.name}}
                                </td>
                                <td>{{group.groupType}}
                                </td>
                                <td>{{group.disabled?'Disabled':'Enabled'}}</td>
                                <td class="nvc-primary-color" ng-click="panelChange(group,'editgroup');">view&nbsp;&nbsp; <span class="fa fa-eye"></span></td>
                                <!--<td>
                                    <div layout="column"><div layout="row" layout-align="space-around center" flex="15" flex-xs="100" flex-sm="15" flex-gt-lg="20">
                               <div flex="20">
                                <md-icon class="fa fa-pencil bb-f20 md-icon-col"

                                   data-ng-click="panelChange(group,'editgroup');"
                                ></md-icon>x`
                               </div>
                                        <div flex="20">
                                <md-icon class="fa fa-trash bb-f20 md-icon-col"
                                   data-ng-click="removeGroup(group);"></md-icon>
                                        </div>
                                    </div>
                                    </div>
                            </td>-->
                            </tr></tbody> </table>
<div class="nv-text-right">
    <dir-pagination-controls pagination-id="paginationGroupId" on-page-change="findGroup(newPageNumber)"
                             max-size="8"
                             direction-links="true"
                             boundary-links="true" >
    </dir-pagination-controls>

</div>


