<div class="tab-pane" role="tabpanel" id="step2">

    <div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap
         class="bb-white-bg">


        <div class="md-accordion bb-order-slider" layout-fill>
            <md-toolbar class="" ng-init="data.expanded = false" ng-click="data.expanded = !data.expanded">
                <div class="md-toolbar-tools">
                    <h2>
                        <div class="md-subhead">Order Details :</div>
                    </h2>
                    <span flex=""></span>
                    <span ng-class="{'accordion-toggle':true, collapsed:data.expanded}"></span>
                </div>
            </md-toolbar>
            <div ng-class="{dataContent:true, activeContent:data.expanded}">
                <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>


                    <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                        <div class="bb-pos-rel" layout-padding layout="row" layout-xs='row' layout-xs="column"
                             layout-sm="row" layout-gt-lg="row" layout-wrap>

                            <md-icon class="fa-pencil faa md-primary bb-closebtn"
                                     ng-click="!isCompleted(page)||prev()"></md-icon>

                            <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                                <h3 class="md-subhead">Order Number</h3>
                                <label class="bb-flabel">{{selOrder.orderNumber}}</label>
                            </div>
                            <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                                <h3 class="md-subhead">Order Type</h3>
                                <label class="bb-flabel">{{selOrder.orderType}}</label>
                            </div>

                            <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                                <h3 class="md-subhead bb-truncate">Buyer</h3>
                                <label class="bb-flabel">{{selOrder.buyer.contact.firstName +' '+selOrder.buyer.contact.middleName+' '+selOrder.buyer.contact.lastName}}</label>
                            </div>

                            <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                                <h3 class="md-subhead bb-truncate">Seller</h3>
                                <label class="bb-flabel">{{selOrder.seller.contact.firstName +' '+selOrder.seller.contact.middleName+' '+selOrder.seller.contact.lastName}}</label>

                            </div>


                            <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25"
                                 ng-show="selOrder.mediator.contact">
                                <h3 class="md-subhead">Number of Products</h3>
                                <label class="bb-flabel">{{selOrder.products.length}}</label>
                            </div>
                            <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                                <h3 class="md-subhead">Total Price</h3>
                                <label class="bb-flabel">{{totalPriceFormatter() |currency:' &#8377; '}}</label>
                            </div>


                        </div>


                    </div>
                </div>
            </div>
            <div>
        </div>
        </div>


        <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100" layout="row">
            <div flex="50">
                <div layout-padding layout="row" layout-xs="row" layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                    <div flex="80" flex-sm="80" flex-xs="80">
                <h3 class="md-title">Shipping Details :</h3>
                    </div>
                <div flex="20" flex-sm="20" flex-xs="20">

                    <div layout="column" layout-align="end end">
                        <md-button  ng-click="showAddressDialog(false,false);" class="md-fab md-primary md-mini">
                            <md-tooltip md-direction="bottom">Add New Address</md-tooltip>
                            <md-icon class="fa fa-plus bb-f20"> </md-icon>
                        </md-button>
                    </div>
                </div>
                </div>
            <md-divider></md-divider>
            <div class="bb-add-scroll">
            <div layout-padding layout="row" layout-xs="row" layout-xs="column" layout-sm="column" layout-gt-lg="row" layout-wrap>

                <div flex="30" flex-xs="100" flex-sm="100" flex-gt-lg="30" ng-show="pages[selectedPageId].currentStatus==='Placed' || pages[selectedPageId].currentStatus==='Drafted'" data-ng-repeat="address in shippingAddresses=filterAddressLines('Shipping')">
                        <div class="panel panel-default bb-firsec-bg bb-pop-less">

                        <div class="bb-addr-sel">

                            <input class="shippingaddr bb-checkbox-custom" title="Ship to this address" type="radio"
                                   ng-model="$parent.selOrder.shippingAddress" id="{{$index+1}}+ship"
                                   ng-value="address" radio-track-by="addressLine"/>
                            <label class="bb-checkbox-custom-label pull-right bb-sel-address"
                                   for="{{$index+1}}+ship">

                            <h5 class="md-title">Address - {{$index+1}}</h5>

                            <div class="bb-data-item">
                                <p><i class="fa fa-home"></i>{{address.addressLine}}</p>
                                <p><i class="fa fa-road"></i>{{address.city}},</p>
                                <p><i class="glyphicon glyphicon-map-marker"></i>{{address.state}} - {{address.pinCode}}</p>
                                <p><i class="fa fa-flag"></i>{{address.country}}</p>
                            </div>
                           <!-- <div layout="row" layout-align="center center">
                                <md-button ng-click="showAddressDialog(false,true)" value="editAddress" >
                                    <md-tooltip md-direction="bottom">Edit</md-tooltip>
                                    <md-icon class="fa fa-pencil fa-lg"> </md-icon>
                                </md-button>
                                &lt;!&ndash;<md-button ng-click="deleteAddress($index,false)" value="editAddress" >
                                    <md-tooltip md-direction="bottom">Delete</md-tooltip>
                                    <md-icon class="fa fa-trash fa-lg"> </md-icon>
                                </md-button>&ndash;&gt;
                            </div>-->
                            </label>
                        </div>

                    </div>
                    </div>
            </div>

            </div>
            </div>
               <div flex="50">
                        <div layout-padding layout="row" layout-xs="row" layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                            <div div flex="80" flex-sm="80" flex-xs="80">
                                <h3 class="md-title">Billing Details :</h3>
                            </div>
                            <div flex="20" flex-sm="20" flex-xs="20">

                                <div layout="column" layout-align="end end">
                                    <md-button  ng-click="showAddressDialog(true,false);" class="md-fab md-primary md-mini">
                                        <md-tooltip md-direction="bottom">Add New Address</md-tooltip>
                                        <md-icon class="fa fa-plus bb-f20"> </md-icon>
                                    </md-button>
                                </div>
                            </div>
                        </div>
            <md-divider></md-divider>
            <div class="bb-add-scroll" >
            <div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="column" layout-gt-lg="row" layout-wrap>

                <div flex="30" flex-xs="100" flex-sm="100" flex-gt-lg="30" ng-show="pages[selectedPageId].currentStatus==='Placed' || pages[selectedPageId].currentStatus==='Drafted'" data-ng-repeat="address in  billingAddresses=filterAddressLines('Billing')">

                    <div class="panel panel-default bb-firsec-bg bb-pop-less">

                        <div class="bb-addr-sel">

                            <input class="billingaddr bb-checkbox-custom" type="radio" ng-model="$parent.selOrder.billingAddress"
                                   id="{{$index+1}}" ng-value="address" radio-track-by="addressLine"/>
                            <label class="bb-checkbox-custom-label pull-right bb-sel-address"
                                   for="{{$index+1}}">
                            <h5 class="md-title">Address - {{$index+1}}</h5>

                            <div class="bb-data-item">
                                    <p><i class="fa fa-home"></i>{{address.addressLine}}</p>
                                    <p><i class="fa fa-road"></i>{{address.city}},</p>
                                    <p><i class="glyphicon glyphicon-map-marker"></i>{{address.state}} - {{address.pinCode}}</p>
                                    <p><i class="fa fa-flag"></i>{{address.country}}</p>
                                </div>
                            </label>
                            </div>

                        </div>
                    </div>
                </div>

                </div>
            </div>

        </div>
    </div>
</div>
