       <!-- <div ng-show="address.shipping || address.billing || !editAddress">-->
       <div layout="row" layout-padding layout-sm="row" layout-xs="row" layout-wrap>
                <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50" ng-if="address.addressLine">
                    <md-input-container class="md-block">
                        <label>Address Line</label>
                        <textarea md-no-asterisk  ng-model="address.addressLine">
                     </textarea>
                    </md-input-container>
                </div>

                <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                    <md-input-container class="md-block">
                        <label>Town/City</label>
                        <input md-no-asterisk  ng-model="address.city">

                    </md-input-container>
                </div>
                <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                    <md-input-container class="md-block">
                        <label>State</label>
                        <input md-no-asterisk  ng-model="address.state">

                    </md-input-container>
                </div>

                <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                    <md-input-container class="md-block">
                        <label>Country</label>
                        <input  md-no-asterisk  ng-model="address.country">

                    </md-input-container>
                </div>

                <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                    <md-input-container class="md-block">
                        <label>Pin Code</label>
                        <input required ng-model="address.pinCode" id="pinCode"
                               name="pinCode" ng-minlength="6" ng-maxlength="6" only-digits>
                    </md-input-container>
                    <span ng-show="address.pinCode.$dirty && address.pinCode.$required">Pincode is must</span>
                </div>
                <div flex="100" flex-xs="100" flex-sm="50" flex-gt-lg="50" ng-show="billing">
                <md-checkbox ng-model="address.shipping">Shipping Address</md-checkbox>
            </div>
            <div flex="100" flex-xs="100" flex-sm="50" flex-gt-lg="50" ng-show="shipping">
                <md-checkbox ng-model="address.billing">Billing Address</md-checkbox>
            </div>
       </div>
         <!--   <div flex="100" flex-xs="100" flex-sm="25" flex-gt-lg="15">
                    <md-button ng-click="addAddress()" class="md-raised md-primary bb-wid-100">Add New Address</md-button>
                </div>
                <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="15">
                    <md-button ng-click="cancel()" class="md-raised md-accent bb-wid-100">Cancel</md-button>
                </div>
            </div>-->




