<md-dialog aria-label=" Dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add New Address</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon class="fa fa-times fa-lg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
       <!-- <form  name="tableform"  data-ng-submit="createOffer()" autocomplete="off">-->
            <div class="layout-padding" layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
           <!-- <div ng-show="address.shipping || address.billing || !editAddress">-->
                <div flex="30" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                    <md-input-container class="md-block">
                        <label>Address Line</label>
                        <textarea md-maxlength="1024"  md-no-asterisk  ng-model="address.addressLine">
                     </textarea>
                    </md-input-container>
                </div>

                <div flex="30" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                    <md-input-container class="md-block">
                        <label>Town/City</label>
                        <input md-maxlength="128"  md-no-asterisk  ng-model="address.city">

                    </md-input-container>
                </div>
                <div flex="30" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                    <md-input-container class="md-block">
                        <label>State</label>
                        <input md-maxlength="128" md-no-asterisk  ng-model="address.state">

                    </md-input-container>
                </div>

                <div flex="30" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                    <md-input-container class="md-block">
                        <label>Country</label>
                        <input md-maxlength="128"  md-no-asterisk  ng-model="address.country">

                    </md-input-container>
                </div>

                <div flex="30" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                    <md-input-container class="md-block">
                        <label>Pin Code</label>
                        <input md-maxlength="6"  required md-no-asterisk  ng-model="address.pinCode">

                    </md-input-container>
                    <span ng-show="address.pinCode.$dirty && address.pinCode.$required">Pincode is must</span>
                </div>
                <div flex="100" flex-xs="100" flex-sm="50" flex-gt-lg="50" ng-show="billing">
                <md-checkbox ng-model="address.shipping">Use the same address for Shipping</md-checkbox>
            </div>
            <div flex="100" flex-xs="100" flex-sm="50" flex-gt-lg="50" ng-show="shipping">
                <md-checkbox class="md-primary bb-center" ng-model="address.billing">Use the same address for Billing</md-checkbox>
            </div>



      <!--  <md-dialog-actions layout="row">

            <div flex="100" flex-xs="100" flex-sm="60" flex-gt-lg="50">
                <md-button ng-click="addAddress()" class="md-raised md-primary">Add New Address
                </md-button>
            </div>
            <div flex="50" flex-xs="100" flex-sm="60" flex-gt-lg="50" data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error" ></strong>
            </div>
            <span flex></span>

            <div flex="50" flex-xs="100" flex-sm="60" flex-gt-lg="50">
                <md-button ng-click="cancel()" class="md-raised md-accent">Cancel
                </md-button>
            </div>
        </md-dialog-actions>-->


            <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="15">
                    <md-button ng-click="addAddress()" class="md-raised md-primary bb-wid-100">Add New Address</md-button>
                </div>
                <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="15">
                    <md-button ng-click="cancel()" class="md-raised md-accent bb-wid-100">Cancel</md-button>
                </div>
            </div>
       <!-- </form>-->
</md-dialog>

