<section data-ng-controller="OrdersController" data-ng-init="findOne();" ng-show="order.currentStatus=='Placed'">
    <div class="page-header">
        <h1>Change Order</h1>
    </div>
    <form editable-form name="tableform" onaftersave="update()"  oncancel="cancel()"
                 novalidate>
    <fieldset>
        <div class="form-horizontal" data-ng-init="findContacts();">
            <!--	<div class="form-group">
                    <a title="Edit Order" class="btn pull-right">
                        <i class="glyphicon glyphicon-edit"></i> Edit Order
                    </a>
                    </div>-->
            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label">Order Number</label>
                </div>
                <div class="col-sm-2">
                    <b><span  data-ng-bind="order.orderNumber"></span></b>
                </div>

            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label">Order Type</label>
                </div>
                <div class="col-sm-2">
                    <span  data-ng-bind="order.role"></span>
                </div>

            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label">Buyer</label>
                </div>
                <div class="col-sm-2">
                    <span data-ng-bind="order.buyer.contact.firstName +' '+order.buyer.contact.lastName"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label">Seller</label>
                </div>
                <div class="col-sm-2">
                    <span data-ng-bind="order.seller.contact.firstName +' '+order.seller.contact.lastName"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label">Mediator/Agent</label>
                </div>
                <div class="col-sm-2">
                    <span data-ng-bind="order.mediator.contact.firstName +' '+order.mediator.contact.lastName"></span>
                </div>


            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label">Status</label>
                </div>
                <div class="col-sm-2">
                    <span data-ng-bind="order.currentStatus"></span>
                    <!--<select ng-model="order.currentStatus" ng-options="s.value as s.text for s in orderStatusTypes[order.currentStatus]"></select>-->
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label" >Payment Status</label>
                </div>
                <div class="col-sm-2">
                    <span data-ng-bind="order.paymentStatus"></span>
                  <select ng-model="order.paymentStatus" ng-options="s.value as s.text for s in paymentStatusList[order.paymentStatus]"></select>-->
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label" >Delivery Date</label>
                </div>
                <div class="col-sm-2">
                   <span> {{order.deliveryDate | date:"dd-MM-yyyy"}}</span>
                </div>
            </div>
           <!-- <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label" >Total Price</label>
                </div>
                <div class="col-sm-2">
                    <span> {{totalPriceFormatter();}}</span>
                </div>
            </div>-->
        <!-- <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label" >Paid Amount</label>
                </div>
                <div class="col-sm-2">
                    <span> {{order.paidAmount}}</span>
                </div>
            </div>-->
        </div>
        <div class="panel panel-default">
            <div class="panel panel-default table-responsive" data-ng-init="findProducts();">
                <div class="panel-heading"><h4><span class="label label-primary">Products</span></h4></div>
                <table class="table table-bordered table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Product Category</th>
                        <th>Sample Number</th>
                        <th>Unit Size</th>
                        <th>Unit Measure</th>
                        <th>Unit Price</th>
                        <th>No Units</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="product in order.products track by $id(product)">
                        <!-- <tr ng-repeat="prod in order.products track by $index">
                             <td><span data-ng-bind="prod.product.name"></span></td>
                             <td><span data-ng-bind="prod.product.subCategory"></span></td>
                             <td><span data-ng-bind="prod.sampleNumber"></span></td>
                             <td><span data-ng-bind="prod.unitSize"></span></td>
                             <td><span data-ng-bind="prod.unitMeasure"></span></td>
                             <td><span data-ng-bind="prod.unitPrice"></span></td>
                             <td><span data-ng-bind="prod.numberOfUnits"></span></td>
                             <td><span data-ng-bind="prod.unitSize*prod.numberOfUnits"></span></td>
                             <td><span data-ng-bind="prod.unitPrice*prod.numberOfUnits"></span></td>
                         </tr>-->
                        <td>
                            <span ng-show="!tableform.$visible" data-ng-bind="product.product.name" e-form="tableform"></span>
                                <span  ng-show="tableform.$visible" editable-text="product.product"  e-typeahead-on-select="selectProduct($item, $index);"
                                       e-name="name"
                                       e-typeahead="metaProduct as metaProduct.name for metaProduct in filterByProductName(metaProducts, $viewValue)"
                                       e-form="tableform" e-autocomplete="off">
          {{ product.name || 'empty' }}</span></td>
                        <td>
                            <span ng-show="!tableform.$visible" data-ng-bind="product.product.subCategory" e-form="tableform"></span>
                                <span ng-show="tableform.$visible" editable-text="product.product.subCategory" e-name="subCategory" e-form="tableform" e-readonly>
          {{ product.subCategory || 'empty' }}</span></td>
                        <td>
                            <span ng-show="!tableform.$visible" data-ng-bind="product.sampleNumber" e-form="tableform"></span>
                                <span ng-show="tableform.$visible" editable-text="product.sampleNumber" e-ng-bind="product.sampleNumber" e-ng-change="changeProductSampleNumber($index,this);" e-name="sampleNumber" e-form="tableform">
          {{ product.sampleNumber || 'empty' }}</span>
                        </td>
                        <td>
                            <span ng-show="!tableform.$visible" data-ng-bind="product.unitSize" e-form="tableform"></span>
                                <span ng-show="tableform.$visible" editable-text="product.unitSize" e-ng-change="changeProductUnitSize($index,this);" e-name="unitSize" e-form="tableform">
          {{ product.unitSize || 'empty' }}</span>
                        </td>
                        <td>
                            <span ng-show="!tableform.$visible" data-ng-bind="product.unitMeasure" e-form="tableform"></span>
                                <span ng-show="tableform.$visible" editable-text="product.unitMeasure" e-ng-change="changeProductUnitMeasure($index,this);" e-name="unitMeasure" e-form="tableform">
                                {{ product.unitMeasure || 'empty' }}</span>
                        </td>
                        <td>
                            <span ng-show="!tableform.$visible" data-ng-bind="product.unitPrice" e-form="tableform"></span>
                                <span ng-show="tableform.$visible" editable-text="product.unitPrice"  e-name="unitPrice" e-ng-change="changeProductUnitPrice($index,this);"
                                      e-form="tableform">{{ product.unitPrice || 'empty'}}
                            </span></td>
                        <td>
                            <span ng-show="!tableform.$visible" data-ng-bind="product.numberOfUnits" e-form="tableform"></span>
                                <span ng-show="tableform.$visible" editable-text="product.numberOfUnits" e-ng-change="changeProductNumberOfUnits($index,this);"
                                      e-name="numberOfUnits"
                                      e-form="tableform">{{ product.numberOfUnits || 'empty'}}</span></td>
                        <td>
                            <span ng-show="!tableform.$visible" data-ng-bind="product.unitSize*product.numberOfUnits"></span>
                            <span ng-show="tableform.$visible" e-form="tableform"> {{product.unitSize*product.numberOfUnits}}</span>
                        </td>
                        <td>
                            <span ng-show="!tableform.$visible" data-ng-bind="product.unitPrice*product.numberOfUnits"></span>
                            <span ng-show="tableform.$visible" e-form="tableform"> {{product.unitPrice*product.numberOfUnits }}</span>
                        </td>
                        <td ng-show="tableform.$visible">
                            <button type="button" ng-show="tableform.$visible" ng-click="order.products.splice($index, 1)"
                                    class="btn btn-danger pull-right">-
                            </button>
                        </td>
                    </tr>

                    </tbody>
                </table>
                    </div>
        </div>
             <span class="pull-right">
			<!--<tr>
				<td>-->

					<label class="control-label" >Total Price: {{totalPriceFormatter();}}</label>

				<!--</td>
			</tr>-->
		</span>
        <div class="form-group">
            <div class="btn-form">
                <button ng-show="tableform.$visible" type="button" class="btn btn-default pull-right"
                        ng-click="updateProducts(order);">
                    ADD Products
                </button>
                <button ng-show="!tableform.$visible" type="button" class="btn btn-default pull-right"
                        ng-click="tableform.$show();updateProduct(order);">
                    Edit Products
                </button>
                <button type="submit" class="btn btn-primary" ng-click="order.currentStatus='Placed'">Place Order</button>
                <button type="submit" class="btn btn-primary" ng-click="order.currentStatus='Confirmed'">Confirm Order</button>
                <button type="button"  ng-click="clearFields();orderRedirection();"
                        class="btn btn-default">Cancel
                </button>
            </div>
        </div>
        <div data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error"></strong>
        </div>

    </div>
    </fieldset>
    </form>
</section>
