<section class="wrapper firsec-bg" data-ng-controller="OrdersController" data-ng-init="findOne();"
         xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="row firsec-bg">

        <div class="col-lg-12 mob-lg firsec-bg">
        <!--    <tabset>
                <tab ng-repeat="tab in workspaces"  heading="{{tab.name}}" select="select(tab);"
                     active=tab.active>
                    <div id="certificateBody">... tab body ...</div>
                </tab>
            </tabset>-->
         <!--   <wizard on-finish="finishedWizard()">
                <wz-step title="Starting" wz-disabled="{{disabled}}">
                    <h1>This is the first step</h1>
                    <p>Here you can use whatever you want. You can use other directives, binding, etc.</p>
                    <input type="submit" wz-next value="Continue" />
                </wz-step>
                <wz-step title="Continuing">
                    <h1>Continuing</h1>
                    <p>You have continued here!</p>
                    <input type="submit" wz-next value="Go on" />
                </wz-step>
                <wz-step title="More steps">
                    <p>Even more steps!!</p>
                    <input type="submit" wz-next value="Finish now" />
                </wz-step>
            </wizard>-->
            <section ng-show="true">
                <div class="wizard" >
                    <div class="wizard-inner" ng-show="order.currentStatus!=='Drafted'">
                        <div class="connecting-line"></div>
                        <ul class="nav nav-tabs" role="tablist" >

                            <li ng-show="order.currentStatus==='Confirmed'" role="presentation" class="active" >
                                <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                            <span class="round-tab">
                                <!--<i class="glyphicon glyphicon-folder-open"></i>-->01

                            </span>

                                </a>
                                <label>New Order</label>
                            </li>

                            <li ng-show="order.currentStatus==='Confirmed'" role="presentation" class="disabled">
                                <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                            <span class="round-tab">02
                                <!--<i class="glyphicon glyphicon-pencil"></i>-->
                            </span>
                                </a>
                                <label>Address</label>
                            </li>
                            <li role="presentation" class="disabled">
                                <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                            <span class="round-tab">03
                                <!--<i class="glyphicon glyphicon-picture"></i>-->
                            </span>
                                </a>
                                <label>Payment</label>
                            </li>

                            <li ng-show="order.currentStatus==='Confirmed'" role="presentation" class="disabled">
                                <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                                </a>
                                <label>Complete</label>
                            </li>
                        </ul>
                    </div>


                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="step1">
                                <view-order></view-order>
                                <ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-save next-step">Save and continue</button></li>
                                </ul>

                            </div>
                            <div class="tab-pane" role="tabpanel" id="step2">

                                <div class="col-lg-12">
                                    <div class="col-lg-2">
                                        <h5  class="tabtxt heading">Order Type</h5>
                                        <label class="flabel">{{order.orderType}}</label>
                                    </div>

                                </div>


                                <div class="col-lg-12 m-bot15">
                                    <div class="col-lg-2">
                                        <h5  class="tabtxt heading">Buyer</h5>
                                        <label class="flabel">{{order.buyer.contact.firstName +' '+order.buyer.contact.middleName+' '+order.buyer.contact.lastName}}</label>
                                    </div>
                                    <div class="col-lg-2 col-sm-4">
                                        <h5  class="tabtxt heading">Seller</h5>
                                        <label  class="flabel">{{order.seller.contact.firstName +' '+order.seller.contact.middleName+' '+order.seller.contact.lastName}}</label>
                                    </div>
                                    <div class="col-lg-2">
                                        <h5  class="tabtxt heading">No. of Products</h5>
                                        <label class="flabel">{{order.products.length}}</label>
                                    </div>
                                    <div class="col-lg-2 col-sm-4">
                                        <h5  class="tabtxt heading">Total Price</h5>
                                        <label  class="flabel">{{totalPriceFormatter() |currency:' &#8377;  '}}</label>
                                    </div>


                                </div>


                                <!--<p>This is step 1</p>-->
                                <div class="col-lg-12 lg">
                                    <div class="col-lg-6">


                                     <div class="col-lg-12">
                                         <div>
                                             <h4  class="nhead tabtxt heading">Shipping Address</h4>
                                             <hr class="nline m-15" >
                                         </div>
                                       <div class="add-scroll">



                                        <div class="col-lg-6"  data-ng-repeat="address in filterAddressLines('Shipping',order.buyer.contact.addresses)">
                                        <div class="panel panel-default firsec-bg ad-pop">

                                            <div class="address">

                                                <label><input type="radio" title="Ship to this address" ng-model="$parent.order.shippingAddress" ng-value="address" radio-track-by="addressLine">Ship to {{address.addressType}}</label>
                                                <!--<div class="label-item">
                                                    <span>{{address.addressType}}</span>
                                                </div>-->
                                                <div class="data-item">
                                                    <p>{{address.addressLine}}<br>{{address.city}}, {{address.state}},{{address.pinCode}}<br>{{address.country}}</p>
                                                </div>

                                            </div>

                                        </div>
                                    </div>


                                       </div>
                                     </div>
                                     <div class="col-lg-12">
                                            <div>
                                                <h4  class="nhead tabtxt heading">Billing Address</h4>
                                                <hr class="nline m-15" >
                                            </div>
                                            <div class="add-scroll">

                                                <div class="col-lg-6" data-ng-repeat="address in filterAddressLines('Billing',order.buyer.contact.addresses)">
                                                    <div class="panel panel-default firsec-bg ad-pop">

                                                        <div class="address"  >

                                                            <label><input type="radio" title="Ship to this address" ng-model="$parent.order.billingAddress" ng-value="address" radio-track-by="addressLine">Ship to {{address.addressType}}</label>
                                                            <!--<div class="label-item">
                                                                <span>{{address.addressType}}</span>
                                                            </div>-->
                                                            <div class="data-item">
                                                                <p>{{address.addressLine}}<br>{{address.city}}, {{address.state}} {{address.pinCode}}<br>{{address.country}}</p>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                        </form>
                                </div>
                                    <div class="col-lg-6 vline">
                                        <div class="col-lg-12 lg m-bot35">
                                            <div class="col-lg-6">
                                                <input class="checkbox-custom" type="checkbox" ng-model="address.shipping" id="shipping" name="shipping" />
                                                <label class="checkbox-custom-label" for="shipping"><span></span>Shipping Address</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input class="checkbox-custom" type="checkbox" ng-model="address.billing" id="billing" name="billing" />
                                                <label class="checkbox-custom-label" for="billing"><span></span>Billing Address</label>
                                            </div>

                                        </div>

                                      <!--  <div>
                                            &lt;!&ndash;<h4  class="nhead tabtxt heading">Billing Address</h4>&ndash;&gt;
                                            <hr class="nline m-15 nhead tabtxt heading" >
                                        </div>-->

                                     <!--   <div class="col-lg-12 lg">
                                            <div class="col-lg-4">
                                                <h5  class="tabtxt heading">First Name</h5>
                                                <input type="text" class="form-control"  id="firstName" name="firstName" placeholder="Enter First Name..." maxlegth="128">

                                            </div>
                                            <div class="col-lg-4">
                                                <h5  class="tabtxt heading">Last Name</h5>
                                                <input type="text" class="form-control"  id="lastName" name="lastName" placeholder="Enter Last Name..." maxlegth="128">

                                            </div>
                                            <div class="col-lg-4">

                                            </div>
                                        </div>

                                        <div class="col-lg-12 lg">
                                            <div class="col-lg-4">
                                                <h5  class="tabtxt heading">Company Name</h5>
                                                <input type="text" class="form-control"  id="companyName" name="companyName" placeholder="Enter Company Name..." maxlegth="128">

                                            </div>
                                            <div class="col-lg-4">
                                                <h5  class="tabtxt heading">Email</h5>
                                                <input type="text" class="form-control"  id="email" name="email" placeholder="Enter Email Id..." maxlegth="128">

                                            </div>
                                            <div class="col-lg-4">
                                                <h5  class="tabtxt heading">Phone Number</h5>
                                                <input type="text" class="form-control"  id="phone" name="phone" placeholder="Enter Phone Number..." maxlegth="128">

                                            </div>

                                        </div>
-->          <form name='orderAddress' role="form" ng-submit="updateAddress();">
                                        <div class="col-lg-12 lg">
                                            <div class="col-lg-9">
                                                <h5  class="tabtxt heading">Address</h5>
                                                <!--<textarea class="form-control txt-fix" rows="4" cols="40" style="resize:none"
                                                          maxlength="1024" placeholder="Enter Your Billing Address.." ></textarea>-->

                                                <textarea rows="3" data-ng-model="address.addressLine" name="addressLine" class="form-control" placeholder="Address Line" maxlength="1024"> </textarea>
                            <span class="text-danger" data-ng-show="orderAddress.addressLine.$dirty && orderAddress.addressLine.$invalid">
                                <span data-ng-show="orderAddress.addressLine.$error.maxlength">The address line should not exceed 1024 characters.</span>
                            </span>
                                            </div>


                                        </div>

                                        <div class="col-lg-12 lg">


                                            <div class="col-lg-4">
                                                <h5  class="tabtxt heading">Country</h5>
                                                <input type="text" data-ng-model="address.country"  name="country" class="form-control" placeholder="Country" maxlength="128">
                            <span class="text-danger" data-ng-show="orderAddress.country.$dirty && orderAddress.country.$invalid">
                                <span data-ng-show="orderAddress.country.$error.maxlength">The country should not exceed 128 characters.</span>
                            </span>

                                            </div>
                                            <div class="col-lg-4">
                                                <h5  class="tabtxt heading">State</h5>
                                                <input type="text" data-ng-model="address.state" name="state" class="form-control" placeholder="State" maxlength="128">
                                             <span class="text-danger" data-ng-show="orderAddress.state.$dirty && orderAddress.state.$invalid">
                                              <span data-ng-show="orderAddress.state.$error.maxlength">The state should not exceed 128 characters.</span>
                                             </span>

                                            </div>


                                        </div>

                                        <div class="col-lg-12 lg">

                                            <div class="col-lg-4">
                                                <h5  class="tabtxt heading">Town/City</h5><!--
                                                <input type="text" class="form-control"  id="city" name="city" placeholder="Enter City..." maxlegth="128">-->
                                                <input type="text" data-ng-model="address.city" name="city" class="form-control" placeholder="City" maxlength="128">
                            <span class="text-danger" data-ng-show="orderAddress.city.$dirty && orderAddress.city.$invalid">
                                <span data-ng-show="orderAddress.city.$error.maxlength">The city should not exceed 128 characters.</span></span>

                                            </div>

                                            <div class="col-lg-4">
                                                <h5  class="tabtxt heading">Pin Code</h5>
                                                <input type="text" class="form-control"  data-ng-model="address.pinCode" id="pinCode" name="pinCode" placeholder="Enter Pin Code..." maxlegth="128">

                                            </div>

                                        </div>

                                        <div class="col-lg-12 lg m-top15">

                                            <div class="col-lg-4">
                                                <button class="btn btn-save next-step" type="button" ng-click="updateAddress()">Add New Address</button>
                                            </div>


                                        </div>
            </form>
                                    </div>


                                </div>

                                <div class="col-lg-12 m-top15"><hr class="nline m-15"></div>

                                <ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-save next-step">Save and continue</button></li>
                                </ul>


                            </div>
                            <div class="tab-pane" role="tabpanel" id="step3">
                                <div class="col-lg-12">
                                    <div class="col-lg-2">
                                        <h5  class="tabtxt heading">Order Type</h5>
                                        <label class="flabel">{{order.orderType}}</label>
                                    </div>

                                </div>


                                <div class="col-lg-12 m-bot15">
                                    <div class="col-lg-2">
                                        <h5  class="tabtxt heading">Buyer</h5>
                                        <label class="flabel">{{order.buyer.contact.firstName +' '+order.buyer.contact.middleName+' '+order.buyer.contact.lastName}}</label>
                                    </div>
                                    <div class="col-lg-2 col-sm-4">
                                        <h5  class="tabtxt heading">Seller</h5>
                                        <label  class="flabel">{{order.seller.contact.firstName +' '+order.seller.contact.middleName+' '+order.seller.contact.lastName}}</label>
                                    </div>
                                    <div class="col-lg-2">
                                        <h5  class="tabtxt heading">No. of Products</h5>
                                        <label class="flabel">{{order.products.length}}</label>
                                    </div>
                                    <div class="col-lg-2 col-sm-4">
                                        <h5  class="tabtxt heading">Total Price</h5>
                                        <label  class="flabel">{{totalPriceFormatter() |currency:' &#8377;  '}}</label>
                                    </div>


                                </div>

                                <!--<p>This is step 1</p>-->
                                <div class="col-lg-12 lg">
                                    <div class="col-lg-6">

                                        <div>
                                            <h4  class="nhead tabtxt heading">Billing Address</h4>
                                            <hr class="nline m-15" >

                                            <div class="panel panel-default firsec-bg">

                                            <div class="address">



                                                <p><i class="glyphicon glyphicon-map-marker"></i>{{order.billingAddress.addressLine}}<br>{{order.billingAddress.city}}, {{order.billingAddress.state}},{{order.billingAddress.pinCode}}<br>{{order.billingAddress.country}} </p>



                                            </div>

                                            </div>
                                        </div>

                                        <div>
                                            <h4  class="nhead tabtxt heading">Shipping Address</h4>
                                            <hr class="nline m-15" >

                                            <div class="panel panel-default firsec-bg">

                                                <div class="address">



                                                    <p><i class="glyphicon glyphicon-map-marker"></i> {{order.billingAddress.addressLine}}<br>{{order.billingAddress.city}}, {{order.billingAddress.state}},{{order.billingAddress.pinCode}}<br>{{order.billingAddress.country}}  </p>



                                                </div>
                                            </div>

                                        </div>


                                    </div>


                                    <div class="col-lg-6">
                                        <!--<div class="col-lg-12 lg m-bot35">
                                            <div class="col-lg-6">
                                                <input class="checkbox-custom" type="checkbox" id="shipping" name="shipping" />
                                                <label class="checkbox-custom-label" for="shipping"><span></span>Shipping Address</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input class="checkbox-custom" type="checkbox" id="billing" name="billing" />
                                                <label class="checkbox-custom-label" for="billing"><span></span>Billing Address</label>
                                            </div>

                                        </div>-->

                                        <div>
                                            <h4  class="nhead tabtxt heading">Payment Details</h4>
                                            <hr class="nline m-15">

                                           <!-- <div class="col-lg-4 m-bot10 field" ng-repeat="item in order.paymentOptionType  track by $index">-->
                                         <!--       <input type="radio" ng-show="order.paymentOptionType.payOnDelivery.enabled" name="businessType2" ng-value="order.paymentOptionType.payOnDelivery" ng-model="businessType2">
                                                <label class="radio-custom-label"><span></span>Pay On Delivery</label></input>
                                            <input type="radio" ng-show="order.paymentOptionType.payNow.enabled" name="businessType2" ng-value="order.paymentOptionType.payNow" ng-model="businessType2">
                                            <label class="radio-custom-label"><span></span>Pay Now</label></input>
                                            <input type="radio" ng-show="order.paymentOptionType.installments.enabled" name="businessType2" ng-value="order.paymentOptionType.installments" ng-model="businessType2">
                                            <label class="radio-custom-label"><span></span>Installments</label></input>-->
                                            <!--</div>-->



                                            <div class="col-lg-12 col-sm-4 m-bot10" ng-show="order.paymentOptionType.payOnDelivery.enabled">

                                                    <input type="radio" name='option' ng-model="order.paymentOptionType.payOnDelivery.selection">
                                                    <label class="radio-custom-label" >Pay On Delivery</label></input>

                                                <!-- <input type="checkbox" ng-model="company.settings.paymentOptions.upfrontFullpayment"/>
                                                     <label class="radio-custom-label">Up Front Fullpayment</label>
                                                 <input type="checkbox" ng-model="company.settings.paymentOptions.lineOfCredit"/>
                                                 <label class="radio-custom-label">LOC</label>
                                                 <input type="checkbox"  ng-model="company.settings.paymentOptions.multiplePayments"/>
                                                 <label class="radio-custom-label">Multiple Payments</label>-->

                                            </div>
                                            <div class="col-lg-12 col-sm-4 m-bot10" ng-show="order.paymentOptionType.payNow.enabled">
                                                    <input type="radio" name='option' ng-model="order.paymentOptionType.payNow.selection" />
                                                    <label class="radio-custom-label">Pay Now</label>

                                            </div>
                                            <div class="col-lg-12 col-sm-4 m-bot10" ng-show="order.paymentOptionType.lineOfCredit.enabled">





                                                    <input type="radio" name='option' ng-model="order.paymentOptionType.lineOfCredit.selection" />
                                                    <label class="radio-custom-label">Line of Credit {{order.paymentOptionType.lineOfCredit.days}} days</label>


                                                <!--<input ng-show="IsLoc" type="number" ng-model="company.settings.paymentOptions.lineOfCredit.days"/>
                                                <label ng-show="IsLoc"  class="radio-custom-label">days</label>-->

                                             <!--   <div ng-show="IsLoc" class="col-lg-3">
                                                    <div class="input-group">
                                                        <input class="form-control" type="number" ng-model="order.paymentOptionType.lineOfCredit.days"/>
                                                        <span class="input-group-addon" >days</span>
                                                    </div></div>


                                            </div>--></div>
                                            <div class="col-lg-12 col-sm-12 m-bot10" ng-show="order.paymentOptionType.installments.enabled">

                                                    <input type="radio" name='option' ng-value="order.paymentOptionType.installments.selection" >
                                                    <label class="radio-custom-label">Installments</label></input>
                                            </div>
                                                <div ng-show="order.paymentOptionType.installments.enabled && option" class="col-lg-8 m-bot10" data-ng-repeat="option in order.paymentOptionType.installments.options track by $id(option)">
                                                    <span class="input-group-addon" >{{ option.description}} {{option.days}} days {{ option.percentage}} % </span>

                                                <!--<div class="instal" ng-show="IsVisible">

                                                    <hr class="nline" >

                                                    <div class="col-lg-8 m-bot10" data-ng-repeat="option in order.paymentOptionType.installments.options track by $index">

                                                        <div style="" type="button" title="Remove" class="closeButton cursor"  ng-click="order.paymentOptionType.installments.options.splice($index, 1)"><i class="fa-minus-circle faa"></i>
                                                        </div>

                                                        <div class="col-lg-6">
                                                            <input class="form-control" type="text" ng-model="option.description" placeholder="Payment description"/>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <div class="input-group">
                                                                <input class="form-control" type="number" ng-model="option.days"/>
                                                                <span class="input-group-addon" >days</span>
                                                            </div></div>

                                                        <div class="col-lg-3">
                                                            <div class="input-group">
                                                                <input class="form-control" type="number" ng-model="option.percentage"/>
                                                                <span class="input-group-addon"> % </span>
                                                            </div></div>


                                                        &lt;!&ndash;<a>
                                                            <button type="button" title="Add Options"
                                                                    class="btn btn-success addbtn"
                                                                    ng-click="company.settings.paymentOptions.installments.options.splice($index, 1)">
                                                                <i class="fa-minus faa"></i></button>
                                                        </a>&ndash;&gt;
                                                    </div>
                                                </div>
-->
                                            </div>

                                        </div>



                                        <!--<div class="col-lg-12 lg m-top15">

                                            <div class="col-lg-3">
                                               <button class="btn btn-save">Add</button>
                                            </div>


                                        </div>-->

                                    </div>


                                </div>

                                <div class="col-lg-12 m-top15"><hr class="nline m-15"></div>
                                <ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-cancel prev-step">Previous</button></li>
                                    <!--<li><button type="button" class="btn btn-cancel next-step">Skip</button></li>-->
                                    <li><button type="button" class="btn btn-save btn-info-full next-step">Make Payment</button></li>
                                </ul>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="complete">
                                <!--<h3>congratulations...!</h3>
                                <p>Your Order as been placed successfully</p>-->

                                <div class="notify successbox">
                                    <h1>Success!</h1>
                                    <span class="alerticon"><i class="fa fa-check"></i></span>
                                    <p class="text-center">Congratulations...! Your Order as been placed successfully.</p>
                                </div>

                                <div class="notify errorbox">
                                    <h1>Warning!</h1>
                                    <span class="alerticon"><i class="fa fa-close"></i></span>
                                    <p class="text-center">Please fill out the fields and then submit the form.</p>
                                </div>


                            </div>
                            <div class=""></div>
                        </div>


                </div>
            </section>

        </div>

    </div>
</section>

<script>

    $(document).ready(function () {
        //Initialize tooltips
        $('.nav-tabs > li a[title]').tooltip();

        //Wizard
        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

            var $target = $(e.target);

            if ($target.parent().hasClass('disabled')) {
                return false;
            }
        });

        $(".next-step").click(function (e) {

            var $active = $('.wizard .nav-tabs li.active');
            $active.next().removeClass('disabled');
            nextTab($active);

        });
        $(".prev-step").click(function (e) {

            var $active = $('.wizard .nav-tabs li.active');
            prevTab($active);

        });
    });

    function nextTab(elem) {
        $(elem).next().find('a[data-toggle="tab"]').click();
    }
    function prevTab(elem) {
        $(elem).prev().find('a[data-toggle="tab"]').click();
    }

</script>
