<section ng-show="selOrder!==null">
    <md-card class="nvc-content submenu md-whiteframe-5dp" id="page-0">
        <div layout="row" layout-sm="row" layout-align="space-around center">
            <div flex="10" flex-sm="10">
                <img src="modules/core/img/brand/nvc-email-orders.jpg" class="bb-wid-100 nvc-margin-5">
            </div>
            <div flex="85" flex-sm="85" layout="row" layout-padding>
                <div flex>
                    <h5><span class="nv-text-bold">Total Amount({{selOrder.products.length}} items): </span>{{selOrder.totalAmountWithoutDiscount| currency:' &#8377; '}}</h5>
                    <h5><span class="nv-text-bold">Discount: </span>{{(selOrder.totalAmountWithoutDiscount - selOrder.totalAmount)| currency:' &#8377; '}}</h5>
                    <h5><span class="nv-text-bold">Payable Order Amount: </span>{{selOrder.totalAmount |currency:' &#8377; '}}</h5>
                    <md-checkbox ng-show="!selOrder.offer && authentication.companyBusinessUnits.businessUnits.length>1" class="md-primary" ng-model="selOrder.isIntraStock">Intra Stock</md-checkbox>
                </div>
                <div flex="25" layout="column">
                    <div flex></div>
                    <md-button class="md-primary md-raised" ng-click="next()" ng-show="selectedPageId===0">Continue</md-button>
                    <md-button class="md-primary md-raised" ng-click="setSelectedPageId(0)" ng-show="selectedPageId>0">Modify</md-button>
                </div>
            </div>
        </div>
    </md-card>
    <table ng-show="selectedPageId===0" class="nvc-content nvc-content-table">
        <thead>
        <tr>
            <td ng-show="selOrder.products.length > 1"></td>
            <td></td>
            <td>Product Details</td>
            <td>In Stock</td>
            <td>MOQ</td>
            <td>Margin</td>
            <td>Price</td>
            <td class="nv-text-center" >Quantity</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-disable="singleproduct.inventory.disabled===true" ng-repeat="singleproduct in selOrder.products track by $index"
            ng-show="selOrder.currentStatus==='Drafted' || selOrder.currentStatus==='Placed'">
            <td ng-show="selOrder.products.length > 1 || singleproduct.disabled">
                <md-icon class="fa-times-circle faa bb-minus-btn"
                         ng-click="selOrder.products.splice($index, 1)" ></md-icon></td>
            <td ><img ng-src="{{singleproduct.inventory.inventoryImageURL1}}"
                      alt="{{singleproduct.inventory.productName}}"
                      class="img-responsive bb-img-center-prod"></td>
            <td><h5 class="nv-text-bold" >{{singleproduct.inventory.productName}} - {{singleproduct.inventory.unitOfMeasureName}}</h5>
                <h6 class="nv-text-bold">{{singleproduct.inventory.brandName}}</h6></td>
            <td>{{singleproduct.inventory.numberOfUnits}}</td>
            <td>{{singleproduct.MOQ?singleproduct.MOQ:'1'}}</td>
            <td>{{singleproduct.margin?singleproduct.margin:'0'}} %</td>
            <td>{{singleproduct.inventory.MRP * singleproduct.numberOfUnits | number:2}}</td>
            <td class="nv-text-center"><md-input-container class="md-icon-float md-icon-right md-no-error-space nvc-margin-bottom-0">
                <md-icon class="fa fa-minus-circle fa-2x nvc-primary-color" ng-click="(singleproduct.numberOfUnits = singleproduct.numberOfUnits - 1);changeProductPrice(singleproduct,$index)"></md-icon>
                <input ng-change="changeProductPrice(singleproduct,$index)" ng-disabled="singleproduct.inventory.disabled"
                       aria-label="numberOfUnits" id="product_{{$index}}" type="number" ng-model="singleproduct.numberOfUnits"
                       ng-min="{{getMinMOQ(singleproduct,selOrder.orderType)}}" ng-max="{{maxProductUnits(singleproduct,(selOrder.offer && selOrder.offer.offerType==='Buy'))}}">
                <md-icon class="fa fa-plus-circle fa-2x nvc-primary-color" ng-click="(singleproduct.numberOfUnits = singleproduct.numberOfUnits + 1);changeProductPrice(singleproduct,$index)"></md-icon></md-input-container>
                <p ng-show="(singleproduct.numberOfUnits<getMinMOQ(singleproduct)) || !singleproduct.numberOfUnits" class="text-danger h6 nvc-margin-0">Please enter greater than MOQ: {{getMinMOQ(singleproduct)}}</p>
            </td>
        </tr>
        </tbody>
    </table>
    <div ng-show="selectedPageId>0" class="nvc-content nvc-accent-background">
        <div layout="row" layout-wrap layout-align="start center" class="layout-padding">
            <md-card flex="30" layout="row" ng-repeat="singleproduct in selOrder.products" layout-align="center center">
                <div flex="30">
                    <img ng-src="{{singleproduct.inventory.inventoryImageURL1}}"
                         alt="{{singleproduct.inventory.productName}}"
                         class="img-responsive nvc-shape-pill nvc-padding-10" square-image>
                </div>
                <div flex="70">
                    <h5 class="nv-text-bold" >{{singleproduct.inventory.productName}} - {{singleproduct.inventory.unitOfMeasureName}}</h5>
                    <h6 class="nv-text-bold nvc-margin-bottom-0">{{singleproduct.inventory.brandName}}</h6>
                    <div layout="row" layout-align="space-between center">
                        <h6><span class="nv-text-bold">Qty. :</span> {{singleproduct.numberOfUnits}}</h6>
                        <h6><span class="nv-text-bold">Price: </span>{{singleproduct.numberOfUnits * singleproduct.unitPrice | number:'2'}}</h6>
                    </div>
                </div>
            </md-card>
        </div>
    </div>
    <md-card class="nvc-content md-whiteframe-5dp nvc-margin-top-1" id="page-1">
        <div class="md-padding nv-text-bold" ng-show="selectedPageId<1">
            2. Buyer Details
        </div>
        <div ng-show="selectedPageId===1" layout="row" layout-sm="row" layout-align="space-around center">
            <div flex="10" flex-sm="10">
                <img src="modules/core/img/brand/nvc-buyer.png" class="bb-wid-100 nvc-margin-5">
            </div>
            <div flex="85" flex-sm="85" layout="row" layout-padding>
                <div flex layout="column" ng-show="!selOrder.isIntraStock">
                    <div layout="row">
                        <div ng-show="selOrder.orderType==='Purchase' && showSellerChange" layout="row" layout-align="center center"><h5 class="nv-text-bold">Seller: &nbsp;&nbsp;&nbsp;</h5>
                            <label class="bb-flabel bb-truncate" ng-show="showSellerChange"
                                   data-ng-bind="selOrder.seller.contact.displayName?selOrder.seller.contact.displayName:selOrder.seller.contact.firstName +' '+selOrder.seller.contact.middleName+' '+selOrder.seller.contact.lastName">
                            </label></div>

                        <div ng-show="selOrder.orderType==='Purchase' && !showSellerChange" layout="row" layout-align="center center"><h5 class="nv-text-bold" >Seller: &nbsp;&nbsp;&nbsp;</h5>
                            <md-select ng-change="getBusinessUnitForContact(selOrder.seller)" ng-show="!showSellerChange" ng-model="selOrder.seller.contact" placeholder="Select here">
                                <md-option  ng-repeat="c in contacts" ng-value="c">{{(c.displayName?c.displayName:(c.firstName?c.firstName:'')+(c.middleName?' '+c.middleName:'')+(c.lastName?' '+c.lastName:''))}}</md-option>
                            </md-select>
                            <md-select ng-show="!showSellerChange && selOrder.seller.contact.nVipaniUser && contactBusinessUnits.length>0"  placeholder="Seller Business Unit" ng-model-options="{trackBy: '$value._id' }"  ng-model="selOrder.seller.businessUnit">
                                <md-option  ng-value="c" ng-repeat="c in contactBusinessUnits">{{c.name}}</md-option>
                            </md-select>
                        </div>
                        <div ng-show="selOrder.orderType==='Sale' && showBuyerChange" layout="row" layout-align="center center"><h5 class="nv-text-bold">Buyer: &nbsp;&nbsp;&nbsp;</h5>
                            <label ng-show="showBuyerChange" class="bb-flabel bb-truncate"
                                   data-ng-bind="(selOrder.buyer.contact.displayName?selOrder.buyer.contact.displayName :(selOrder.buyer.contact.firstName +' '+selOrder.buyer.contact.middleName+' '+selOrder.buyer.contact.lastName))">
                            </label></div>
                        <div ng-show="selOrder.orderType==='Sale' && !showBuyerChange" layout="row" layout-align="center center"><h5 class="nv-text-bold">Buyer: &nbsp;&nbsp;&nbsp;</h5>
                            <md-select ng-show="!showBuyerChange" ng-click="selOrder.buyer.businessUnit = null"  placeholder="Select here" ng-model-options="{trackBy: '$value._id' }"  ng-model="selOrder.buyer.contact" ng-change="getBusinessUnitForContact(selOrder.buyer)">
                                <md-option  ng-value="c" ng-repeat="c in contacts">{{(c.displayName?c.displayName:(c.firstName?c.firstName:'')+(c.middleName?' '+c.middleName:'')+(c.lastName?' '+c.lastName:''))}}</md-option>
                            </md-select>
                            <md-select ng-show="!showBuyerChange && selOrder.buyer.contact.nVipaniUser && contactBusinessUnits.length>0"  placeholder="Buyer Business Unit" ng-model-options="{trackBy: '$value._id' }"  ng-model="selOrder.buyer.businessUnit">
                                <md-option  ng-value="c" ng-repeat="c in contactBusinessUnits">{{c.name}}</md-option>
                            </md-select>
                        </div>
                    </div>
                    <div layout="row">

                        <!--<div ng-show="selOrder.currentStatus!=='Drafted' && selOrder.mediator.contact" layout="row" layout-align="center center"> <h5>Mediator/Agent: &nbsp;&nbsp;&nbsp;</h5>
                        <label ng-show="selOrder.currentStatus!=='Drafted' && selOrder.mediator.contact" class="bb-flabel"
                               data-ng-bind="selOrder.mediator.contact.firstName +' '+selOrder.mediator.contact.middleName+' '+selOrder.mediator.contact.lastName"></label>
                        </div>-->
                        <div ng-show="selOrder.currentStatus==='Drafted' " layout="row" layout-align="center center"><h5 class="nv-text-bold">Mediator/Agent: &nbsp;&nbsp;&nbsp;</h5>
                            <md-select  ng-model="selOrder.mediator.contact" placeholder="Select here" ng-model-options="{trackBy: '$value._id' }">
                                <md-option value=""><em>None</em></md-option>
                                <md-option ng-repeat="c in contacts" value="{{c._id}}">{{(c.displayName?c.displayName:(c.firstName?c.firstName:'')+(c.middleName?' '+c.middleName:'')+(c.lastName?' '+c.lastName:''))}}</md-option>
                            </md-select>
                        </div>
                    </div>
                </div>
                <div flex layout="column" ng-show="selOrder.isIntraStock">
                    <div layout="row">
                        <div ng-show="selOrder.orderType==='Sale' && showSellerChange" layout="row" layout-align="center center"><h5 class="nv-text-bold">Seller: &nbsp;&nbsp;&nbsp;</h5>
                            <label class="bb-flabel bb-truncate" ng-show="showSellerChange"
                                   data-ng-bind="selOrder.seller.businessUnit.name">
                            </label>
                        </div>

                        <div ng-show="selOrder.orderType==='Sale' && !showBuyerChange" layout="row" layout-align="center center"><h5 class="nv-text-bold">Buyer: &nbsp;&nbsp;&nbsp;</h5>
                            <md-select ng-show="!showBuyerChange"  data-ng-init="getCompanyBusinessUnits()" placeholder="Buyer Business Unit" ng-model-options="{trackBy: '$value._id' }"  ng-model="selOrder.buyer.businessUnit">
                                <md-option  ng-repeat="item in companyBusinessunits track by $index"  ng-value="item">
                                    <span>{{item.name}}</span>
                                </md-option>
                            </md-select>
                        </div>
                    </div>
                </div>

                        <div flex="25" layout="column">
                            <div flex>
                            </div>
                            <md-button class="md-primary md-raised" ng-click="next($event)">Continue</md-button>
                        </div>
                    </div>
                </div>
                <div ng-show="selectedPageId>1" layout="row" layout-align="space-around center">
                    <div flex="10" flex-sm="10">
                        <img src="modules/core/img/brand/nvc-buyer.png" class="bb-wid-100">
                    </div>
                    <div flex="85" flex-sm="85" layout="row" layout-padding layout-align="center center">
                        <div flex ng-show="!selOrder.isIntraStock">
                            <h5 ng-show="selOrder.orderType==='Purchase'"><span class="nv-text-bold">Seller: </span>{{selOrder.seller.contact.displayName?selOrder.seller.contact.displayName:selOrder.seller.contact.firstName +' '+selOrder.seller.contact.middleName+' '+selOrder.seller.contact.lastName}}</h5>
                            <h5 ng-show="selOrder.orderType==='Sale'"><span class="nv-text-bold">Buyer: </span>{{(selOrder.buyer.contact.displayName?selOrder.buyer.contact.displayName :(selOrder.buyer.contact.firstName +' '+selOrder.buyer.contact.middleName+' '+selOrder.buyer.contact.lastName))}}</h5>
                            <h5 ng-show="selOrder.mediator.contact"><span class="nv-text-bold">Mediator: </span>{{selOrder.mediator.contact.displayName?selOrder.mediator.contact.displayName:selOrder.mediator.contact.firstName +' '+selOrder.mediator.contact.middleName+' '+selOrder.mediator.contact.lastName}}</h5>
                        </div>
                        <div flex ng-show="selOrder.isIntraStock">
                            <h5 ng-show="selOrder.orderType==='Sale'"><span class="nv-text-bold">Buyer: </span>{{selOrder.buyer.businessUnit.name}}</h5>
                        </div>
                        <div flex="25" layout="column">
                            <md-button class="md-primary md-raised" ng-click="setSelectedPageId(1)">Modify</md-button>
                        </div>
                    </div>
                </div>
    </md-card>
    <div layout="row" layout-sm="row" layout-xs="row" layout-gt-lg="row" layout-wrap class="nvc-content" ng-show="selectedPageId===1 && ((selOrder.seller.contact && selOrder.buyer.contact) || (selOrder.isIntraStock && selOrder.buyer.businessUnit))">
        <div flex="100" flex-sm="100" flex-xs="100" flex-gt-lg="100" class="nvc-accent-background layout-padding" layout="row">
            <div flex="50">
                <md-button class="md-icon-button md-mini md-primary md-raised" ng-click="showAddressDialog(false,false)" aria-label="add shipping address"><md-icon class="fa fa-plus fa-lg"></md-icon> </md-button> &nbsp; Shipping Addresses
            </div>
            <md-divider></md-divider>
            <div flex="50">
                <md-button class="md-icon-button md-mini md-primary md-raised" ng-click="showAddressDialog(true,false)" aria-label="add Billing address"><md-icon class="fa fa-plus fa-lg"></md-icon> </md-button> &nbsp; Billing Address
            </div>
        </div>
        <div flex="100" flex-gt-lg="100" flex-sm="100" flex-xs="100" class="layout-padding" layout="row">
            <div flex="50">
                <div ng-show="shippingAddresses=filterAddressLines('Shipping').length===0" layout-align="center center" layout="row">
                    <md-card class="bb-pop-less md-whiteframe-3dp" flex="50" ng-click="showAddressDialog(false,false)" >
                        <div class="bb-addr-sel md-padding nv-text-center">
                            <md-button class="md-icon-button md-mini md-primary md-mini" aria-label="add shipping address"><md-icon class="fa fa-plus fa-lg"></md-icon> </md-button>
                            <h5>Add New address</h5>
                        </div>
                    </md-card>
                </div>
                <div layout="row" layout-align="start stretch" layout-wrap>
                    <div ng-repeat="address in shippingAddresses=filterAddressLines('Shipping') | orderBy : '' : true" flex="50" layout="column">
                        <md-card class="bb-pop-less md-whiteframe-3dp bb-addr-sel flex-100">
                            <input class="shippingaddr bb-checkbox-custom" title="Ship to this address" type="radio"
                                   ng-model="$parent.selOrder.shippingAddress" id="{{$index+1}}+ship"
                                   ng-value="address" radio-track-by="addressLine"/>
                            <label class="bb-checkbox-custom-label bb-sel-address"
                                   for="{{$index+1}}+ship">
                                <h5 class="md-title">Address - {{$index+1}}</h5>
                                <div class="bb-data-item nvc-text-light">
                                    <p><i class="fa fa-home"></i>{{address.addressLine}}</p>
                                    <p><i class="fa fa-road"></i>{{address.city}},</p>
                                    <p><i class="glyphicon glyphicon-map-marker"></i>{{address.state}} - {{address.pinCode}}</p>
                                    <p><i class="fa fa-flag"></i>{{address.country}}</p>
                                </div>
                            </label>
                        </md-card>
                    </div>
                </div>
            </div>
            <md-divider></md-divider>
            <div flex="50">
                <div ng-show="billingAddresses=filterAddressLines('Billing').length===0" layout-align="center center" layout="row">
                    <md-card class="bb-pop-less md-whiteframe-3dp" flex="50" ng-click="showAddressDialog(true,false)" >
                        <div class="bb-addr-sel md-padding nv-text-center">
                            <md-button class="md-icon-button md-mini md-primary md-mini" aria-label="add shipping address"><md-icon class="fa fa-plus fa-lg"></md-icon> </md-button>
                            <h5>Add New address</h5>
                        </div>
                    </md-card>
                </div>
                <div layout="row" layout-align="start stretch" layout-wrap>
                    <div  ng-repeat="address in  billingAddresses=filterAddressLines('Billing') | orderBy : '' : true" flex="50" layout="column">
                        <md-card class="bb-pop-less md-whiteframe-3dp bb-addr-sel flex-100">
                            <input class="billingaddr bb-checkbox-custom" type="radio" ng-model="$parent.selOrder.billingAddress"
                                   id="{{$index+1}}" ng-value="address" radio-track-by="addressLine"/>
                            <label class="bb-checkbox-custom-label bb-sel-address"
                                   for="{{$index+1}}">
                                <h5 class="md-title">Address - {{$index+1}}</h5>
                                <div class="bb-data-item nvc-text-light">
                                    <p><i class="fa fa-home"></i>{{address.addressLine}}</p>
                                    <p><i class="fa fa-road"></i>{{address.city}},</p>
                                    <p><i class="glyphicon glyphicon-map-marker"></i>{{address.state}} - {{address.pinCode}}</p>
                                    <p><i class="fa fa-flag"></i>{{address.country}}</p>
                                </div>
                            </label>
                        </md-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <md-card class="nvc-content md-whiteframe-5dp nvc-margin-top-1" id="page-2">
        <div class="md-padding nv-text-bold" ng-show="selectedPageId!==2">
            3. Payment Details
        </div>
        <div ng-show="selectedPageId===2" layout="row" layout-sm="row" layout-align="space-around center">
            <div flex="10" flex-sm="10">
                <img src="modules/core/img/brand/nvc-buyer.png" class="bb-wid-100 nvc-margin-5">
            </div>
            <div flex="85" flex-sm="85" layout="row" layout-padding layout-align="center center">
                <div flex>
                    <payment-order-view layout-fill ng-show="selectedPageId===2"></payment-order-view>
                </div>
                <div flex="25" layout="column">
                    <md-button class="md-primary md-raised" ng-click="next($event)">Continue</md-button>
                </div>
            </div>
        </div>
    </md-card>
</section>
