<section>
    <div class="col-md-12">
        <form editable-form name="tableform" onaftersave="updatePaymentHistory()" oncancel="cancel()">

            <!-- table -->
            <!--<table class="table table-bordered table-hover table-condensed">
                <thead>
                <th style="font-weight: bold">
                    <td style="width:40%">Name</td>
                    <td style="width:30%">Status</td>
                    <td style="width:30%">Group</td>
                    <td style="width:30%"><span ng-show="tableform.$visible">Action</span></td>
                </th>-->
            <table class="table table-bordered table-hover table-condensed" ng-show="order.paymentHistory.length>0">
                <thead>
                <tr>
                    <th>User Name</th>
                    <th>Create Date</th>
                    <th>Status</th>
                    <th>Payment Type</th>
                    <th>Amount</th>
                    <th>comments</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="history in order.paymentHistory track by $id(history) ">
                    <td>
          <span text="history.displayName">
            {{ history.displayName || 'empty' }}
          </span>
                    </td>
                    <td>
          <span text="history.date">
            {{ history.date |date:'medium' || 'empty' }}
          </span>
                    </td>
                    <td>
          <span select="history.status">
            {{ history.status || 'empty'}}
          </span>
                    </td>
                    <td>
          <span select="history.paymentMode">
            {{ history.paymentMode || 'empty'}}
          </span>
                    </td>
                    <td>
          <span text="history.amount">
            {{ history.amount || 'empty' }}
          </span>
                    </td>

                    <td>
          <span text="history.comments">
            {{ history.comments || 'empty' }}
          </span>
                    </td>

                </tr>
                </tbody>
            </table>
           <!-- <table class="table table-bordered table-hover table-condensed" ng-show="tableform.$visible && paymentHistory.length>0">
                <thead>
                <tr>
                    <th>Status</th>
                    <th>Payment Type</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="history in paymentHistory track by $index ">
                    &lt;!&ndash;						<td>
                      <span editable-text="user.date" e-form="tableform" onbeforesave="checkName($data, user.id)">
                        {{ user.date || 'empty' }}
                      </span>
                                            </td>&ndash;&gt;
                    <td>
          <span editable-select="history.status" e-form="tableform" e-ng-options="g.value as g.text for g in paymentStatusList">
            {{ showStatus(history) }}
          </span>
                    </td>
                    <td>
          <span editable-select="history.paymentMode" e-form="tableform"  e-ng-options="g.value as g.text for g in paymentType">
            {{ showGroup(history) }}
          </span>
                    </td>
                    <td>
          <span editable-text="history.amount" e-form="tableform">
            {{history.amount || 'empty' }}
          </span>
                    </td>
                    <td><button type="button" ng-show="tableform.$visible" ng-click="paymentHistory.splice($index, 1);" class="btn btn-danger pull-right">Del</button></td>
                </tr>
                </tbody>
            </table>-->
            <!--	<div class="btn-edit">
                    <button type="button" class="btn btn-primary" ng-show="!tableform.$visible" ng-click="tableform.$show()">
                        edit
                    </button>
                </div>-->
   <!--         <div class="btn-form">
                <button type="button" ng-disabled="tableform.$waiting" ng-click="tableform.$show();addPaymentHistory();" ng-hide="tableform.$visible && paymentHistory.length!==0"  class="btn btn-primary pull-right">Add Payment</button>
                <button type="submit" ng-disabled="tableform.$waiting" ng-show="tableform.$visible && paymentHistory.length>0" class="btn btn-primary">Save</button>
                <button type="button" ng-disabled="tableform.$waiting" ng-show="tableform.$visible && paymentHistory.length>0" ng-click="tableform.$cancel();paymentHistory=[]" class="btn btn-default">Cancel</button>
            </div>-->

        </form>
    </div>
</section>
