<!--1st starts-->
<section class="wrapper firsec-bg">
    <div class="row firsec-bg">
        <div class="col-lg-12 firsec-bg">


            <div class="nhead" >
                <h3  class="tabtxt heading">New Order</h3>
                <hr class="nline" >
            </div>

            <div class="col-lg-12">
                <div class="col-lg-2">
                    <input class="radio-custom" type="radio" id="p1" name="cc"/>
                    <label class="radio-custom-label" for="p1"><span></span>BUYER</label>
                </div>
                <div class="col-lg-2">
                    <input class="radio-custom" type="radio" id="p2" name="cc"/>
                    <label class="radio-custom-label" for="p2"><span></span>SELLER</label>
                </div>
                <div class="col-lg-2">
                    <input class="radio-custom" type="radio" id="p3" name="cc"/>
                    <label class="radio-custom-label" for="p3"><span></span>MEDIATOR</label>
                </div>


            </div>

            <div class="col-lg-12">
                <div class="col-lg-2">
                    <h5  class="tabtxt heading">Buyer</h5>
                    <label>Veerendra</label>

                </div>
                <div class="col-lg-2">
                    <h5  class="tabtxt heading">Seller</h5>
                    <input type="text"  class="form-control">
                </div>

                <div class="col-lg-2">
                    <h5  class="tabtxt heading">Mediator</h5>
                    <input type="text"  class="form-control">
                </div>

                <div class="col-lg-2">
                    <h5  class="tabtxt heading">Delivery Date</h5>
                    <input type="text"  class="form-control">
                </div>


            </div>


            <div class="col-lg-12">

                <div>
                    <h3  class="tabtxt">Products<button type="button" title="Add Products"  class="btn btn-success addbtn"><i class="fa-plus faa"></i></button></h3>
                    <hr class="nline" >
                </div>

                <section class="panel ">


                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Product Name</th>

                                <th>Unit Size</th>
                                <th>Measure</th>
                                <th>Unit Price</th>
                                <th>No. of Units</th>

                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Sample</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <img alt="" class="simple p-img-fix img-center" src="/modules/core/img/dashboard/offers1.png"></td>
                                <td><input type="text" class="form-control m-bot15" placeholder="Product Name"></td>

                                <td><input type="text" class="form-control m-bot15" placeholder="123"></td>
                                <td><input type="text" class="form-control m-bot15" placeholder="123"></td>
                                <td><input type="text" class="form-control m-bot15" placeholder="Kg"></td>
                                <td><input type="text" class="form-control m-bot15" placeholder="123"></td>
                                <td><input type="text" class="form-control m-bot15" placeholder="123"></td>
                                <td><input type="text" class="form-control m-bot15" placeholder="123"></td>
                                <td><input type="checkbox" id="c41" name="cc" />
                                    <label for="c41"  id="heading" class="tabtxt" ><span></span></label></td>
                            </tr>

                            <tr>
                                <td>
                                    <img alt="" class="simple p-img-fix img-center" src="/modules/core/img/dashboard/offers3.png"></td>
                                <td><input type="text" class="form-control m-bot15" placeholder="Product Name"></td>

                                <td><input type="text" class="form-control m-bot15" placeholder="123"></td>
                                <td><input type="text" class="form-control m-bot15" placeholder="123"></td>
                                <td><input type="text" class="form-control m-bot15" placeholder="Kg"></td>
                                <td><input type="text" class="form-control m-bot15" placeholder="123"></td>
                                <td><input type="text" class="form-control m-bot15" placeholder="123"></td>
                                <td><input type="text" class="form-control m-bot15" placeholder="123"></td>
                                <td><input type="checkbox" id="c42" name="cc" />
                                    <label for="c42"  class="tabtxt heading" ><span></span></label></td>
                            </tr>

                            <tr>
                                <td>
                                    <img alt="" class="simple p-img-fix img-center" src="/modules/core/img/dashboard/offers2.png"></td>
                                <td><input type="text" class="form-control m-bot15" placeholder="Product Name"></td>

                                <td><input type="text" class="form-control m-bot15" placeholder="123"></td>
                                <td><input type="text" class="form-control m-bot15" placeholder="123"></td>
                                <td><input type="text" class="form-control m-bot15" placeholder="Kg"></td>
                                <td><input type="text" class="form-control m-bot15" placeholder="123"></td>
                                <td><input type="text" class="form-control m-bot15" placeholder="123"></td>
                                <td><input type="text" class="form-control m-bot15" placeholder="123"></td>
                                <td><input type="checkbox" id="c43" name="cc" />
                                    <label for="c43"   class="tabtxt heading" ><span></span></label></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                </section>
                <hr class="nline" >
                <div class="col-lg-12 lg">
                    <div class="col-lg-2">
                        <button class="btn btn-save">PLACE ORDER</button>
                    </div>
                    <div class="col-lg-2"><button class="btn btn-save">DRAFT ORDER</button></div>
                    <div class="col-lg-2"><button class="btn btn-cancel">CANCEL</button></div>
                </div>

            </div>
        </div>
    </div>
</section>
