<section data-ng-controller="OrdersController">
    <div class="page-header">
        <h1>New Order</h1>
    </div>
    <div class="col-md-12">
        <form editable-form name="tableform" onaftersave="create()"  oncancel="cancel()" data-ng-submit="create()"
              novalidate>
            <fieldset>
                <div class="form-horizontal" data-ng-init="findContacts();">
                    <div class="form-group">
                           <label class="col-sm-2" ng-repeat="item in roles" for="{{item}}">

                                <input type="radio"
                                       ng-model="my.role"
                                       ng-value="item"
                                       id="{{item}}"
                                       name="role">  {{item}}
                            </label>
                    </div>
                    <div class="form-group" ng-show="my.role==='Buyer'">
                            <div class="col-sm-2">
                                <label class="control-label">Buyer</label>
                            </div>
                           <div class="col-sm-2">
                                <span>{{selfcontact[0].firstName+' '+selfcontact[0].lastName}}</span>
                            </div>
                    </div>
                    <div class="form-group" ng-show="my.role!=='Buyer'">
                        <div class="col-sm-2">
                            <label class="control-label"  for="buyer">Buyer</label>
                        </div>
                       <div class="col-sm-2">
                            <input type="text" autocomplete="off" data-ng-model="buyer.contact" id="buyer"
                                   class="form-control"
                                   typeahead="contact as contact.firstName+' '+contact.lastName for contact in filterByName(contacts, $viewValue)"
                                   placeholder="Buyer" required>
                        </div>
                    </div>

                    <div class="form-group" ng-show="my.role!=='Seller'">
                        <div class="col-sm-2">
                            <label class="control-label" for="seller">Seller</label>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" autocomplete="off" data-ng-model="seller.contact" id="seller" ng-show="selection!=='sellers'"
                                   class="form-control"
                                   typeahead="contact as contact.firstName+' '+contact.lastName for contact in filterByName(contacts, $viewValue)"
                                   placeholder="Seller" required>
                        </div>
                    </div>
                    <div class="form-group" ng-show="my.role==='Seller'">
                        <div class="col-sm-2">
                            <label class="control-label">Seller</label>
                        </div>
                        <div class="col-sm-2">
                            <span>{{selfcontact[0].firstName+' '+selfcontact[0].lastName}}</span>
                        </div>
                    </div>
                    <div class="form-group" ng-show="my.role==='Mediator'">
                        <div class="col-sm-2">
                            <label class="control-label">Mediator/Agent</label>
                        </div>
                        <div class="col-sm-2">
                            <span>{{selfcontact[0].firstName+' '+selfcontact[0].lastName}}</span>
                        </div>
                    </div>
                    <div class="form-group" ng-show="my.role!=='Mediator'">
                        <div class="col-sm-2">
                            <label class="control-label" for="mediator">Mediator/Agent</label>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" autocomplete="off" data-ng-model="mediator.contact" id="mediator"
                                   class="form-control"
                                   typeahead="contact as contact.firstName+' '+contact.lastName for contact in filterByName(contacts, $viewValue)"
                                   placeholder="Mediator/Agent">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label" for="deliveryDate">Delivery Date</label>
                        </div>
                        <div class="col-sm-2">
                        <input ng-model="deliveryDate" type="text" id="deliveryDate" name="dueDate"
                               class="form-control" datepicker-popup="MM-dd-yyyy" datepicker-append-to-body="true"
                               is-open="data.isOpen" ng-click="data.isOpen = true">
                        </div>
                    </div>
                </div>
                <div class="panel panel-default table-responsive" data-ng-init="findProducts();" ng-show="products.length>0">
                    <div class="panel-heading"><h4><span class="label label-primary">Products</span></h4></div>
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                        <tr>
                            <th>Product Name</th>
                           <!-- <th>Product Category</th>-->
                            <!--<th>Sample Number</th>-->
                            <th>Unit Size</th>
                            <th>Unit Measure</th>
                            <th>Unit Price ( &#8377; )</th>
                            <th>No Units</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="product in products track by $id(product)">
                            <td><span editable-text="product.product"  e-typeahead-on-select="selectProduct($item, $index);"
                                      e-name="name"
                                      e-typeahead="metaProduct as metaProduct.name for metaProduct in filterByProductName(metaProducts, $viewValue)"
                                      e-form="tableform" e-autocomplete="off">
          {{ product.name || 'empty' }}</span></td>
                    <!--        <td>
                                <span data-ng-bind="product.product.category" e-form="tableform"></span>
                                &lt;!&ndash;<span editable-text="product.product.category" e-name="category" e-form="tableform" e-readonly>
          {{ product.subCategory || 'empty' }}</span>&ndash;&gt;</td>-->
                            <!--<td>
                                <span e-form="tableform">sampleNumber</span>&lt;!&ndash;<span editable-text="product.sampleNumber" e-ng-change="changeProductSampleNumber($index,this);" e-name="sampleNumber" e-form="tableform">
          {{ prod.sampleNumber || 'empty' }}</span>&ndash;&gt;</td>-->
                            <td>
                                <span data-ng-bind="product.product.unitSize" e-form="tableform"></span>
                                <!--<span editable-text="product.product.unitSize" e-ng-change="changeProductUnitSize($index,this);" e-name="unitSize" e-form="tableform">
          {{ product.unitSize || 'empty' }}--></span></td>
                            <td><span data-ng-bind="product.product.unitMeasure" e-form="tableform"></span>
                                <!--<span editable-text="product.product.unitMeasure" e-ng-change="changeProductUnitMeasure($index,this);" e-name="unitMeasure" e-form="tableform">
                                {{ product.unitMeasure || 'empty' }}</span>--></td>
                            <td><span data-ng-bind="product.product.unitPrice" e-form="tableform"></span>
                                <!--<span editable-text="product.product.unitPrice"  e-name="unitPrice" e-ng-change="changeProductUnitPrice($index,this);"
                                      e-form="tableform">{{ prod.unitPrice || 'empty'}}
                            </span>--></td>
                            <td><span editable-text="product.numberOfUnits" e-ng-change="changeProductNumberOfUnits($index,this);"
                                      e-name="numberOfUnits"
                                      e-form="tableform">{{ product.numberOfUnits || 'empty'}}</span></td>
                            <td><span> {{ calculateTotalQuantity($index)}}</span>
                            </td>
                            <td><span> {{ calculateTotalPrice($index)|currency:'&#8377;' }}</span>
                            </td>
                            <td ng-show="tableform.$visible">
                                <button type="button" ng-show="tableform.$visible" ng-click="products.splice($index, 1)"
                                        class="btn btn-danger pull-right">-
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- buttons -->
                <div class="form-group">
                      <div class="btn-form">
                        <button type="button" class="btn btn-default pull-right"
                                ng-click="tableform.$show();addProduct();">
                            ADD Product
                        </button>
                        <button type="submit" ng-disabled="orderValidation(false);" ng-click="currentStatus='Placed'" class="btn btn-primary">Place Order</button>
                        <button type="submit" class="btn btn-primary">Draft Order</button>
                        <button type="button"  ng-click="clearFields();orderRedirection();"
                                class="btn btn-default">Cancel
                        </button>
                    </div>
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
