<section data-ng-controller="OrdersController" data-ng-init="findOne();" ng-show="order.currentStatus==='Drafted'">
    <div class="page-header">
        <h1>Edit Order {{order.orderNumber}}</h1>
    </div>
    <div class="col-md-12">
        <form editable-form name="tableform" onaftersave="update()"  oncancel="cancel()"
              novalidate>
            <fieldset>
                <div class="form-horizontal" data-ng-init="findContacts();">
                    <div class="form-group" ng-show="!order.offer">
                        <label class="col-sm-2" ng-repeat="item in roles" for="{{item}}">

                            <input ng-change="changeFields(this);" type="radio"
                                   ng-model="order.role"
                                   ng-value="item"
                                   id="{{item}}"
                                   name="role">  {{item}}
                        </label>
                    </div>
                    <div class="form-group" ng-show="order.offer">
                        <div class="col-sm-2">
                            <label class="control-label">Order Type</label>
                        </div>
                        <div class="col-sm-2">
                            <span>{{order.orderType}}</span>
                        </div>
                        </div>
                    <div class="form-group" ng-show="order.orderType==='Purchase'">
                        <div class="col-sm-2">
                            <label class="control-label">Buyer</label>
                        </div>
                        <div class="col-sm-2" ng-show="order.buyerDisplayName">
                            <span>{{order.buyerDisplayName}}</span>
                        </div>
                        <div class="col-sm-2" ng-show="!order.buyerDisplayName">
                            <input type="text" autocomplete="off" data-ng-model="order.buyer.contact"  ng-show="selection!=='sellers'"
                                   class="form-control"
                                   typeahead="contact as contact.firstName+' '+contact.lastName for contact in filterByName(contacts, $viewValue)"
                                   placeholder="Buyer" required>
                        </div>

                    </div>
                    <div class="form-group" ng-show="order.orderType!=='Purchase'">
                        <div class="col-sm-2">
                            <label class="control-label"  for="buyer">Buyer</label>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" autocomplete="off" data-ng-model="order.buyer.contact" id="buyer"
                                   class="form-control"
                                   typeahead="contact as contact.firstName+' '+contact.lastName for contact in filterByName(contacts, $viewValue)"
                                   placeholder="Buyer" required>
                        </div>
                    </div>

                    <div class="form-group" ng-show="order.orderType!=='Sale'">
                        <div class="col-sm-2">
                            <label class="control-label" for="seller">Seller</label>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" autocomplete="off" data-ng-model="order.seller.contact" id="seller" ng-show="selection!=='sellers'"
                                   class="form-control"
                                   typeahead="contact as contact.firstName+' '+contact.lastName for contact in filterByName(contacts, $viewValue)"
                                   placeholder="Seller" required>
                        </div>
                    </div>
                    <div class="form-group" ng-show="order.orderType==='Sale'">
                        <div class="col-sm-2">
                            <label class="control-label">Seller</label>
                        </div>
                       <!-- <div class="col-sm-2">
                            <span>{{order.sellerDisplayName}}</span>
                        </div>-->
                        <div class="col-sm-2" ng-show="order.sellerDisplayName">
                            <span>{{order.sellerDisplayName}}</span>
                        </div>
                        <div class="col-sm-2" ng-show="!order.sellerDisplayName">
                            <input type="text" autocomplete="off" data-ng-model="order.seller.contact"  ng-show="selection!=='sellers'"
                                   class="form-control"
                                   typeahead="contact as contact.firstName+' '+contact.lastName for contact in filterByName(contacts, $viewValue)"
                                   placeholder="Seller" required>
                        </div>
                    </div>
                <!--    <div class="form-group" ng-show="order.orderType==='Mediator'">
                        <div class="col-sm-2">
                            <label class="control-label">Mediator/Agent</label>
                        </div>
                       &lt;!&ndash; <div class="col-sm-2">
                            <span>{{order.mediatorDisplayName}}</span>
                        </div>&ndash;&gt;
                        <div class="col-sm-2" ng-show="order.mediatorDisplayName">
                            <span>{{order.mediatorDisplayName}}</span>
                        </div>
                        <div class="col-sm-2" ng-show="!order.mediatorDisplayName">
                            <input type="text" autocomplete="off" data-ng-model="order.mediator.contact"
                                   class="form-control"
                                   typeahead="contact as contact.firstName+' '+contact.lastName for contact in filterByName(contacts, $viewValue)"
                                   placeholder="Mediator/Agent" required>
                        </div>
                    </div>
                    <div class="form-group" ng-show="order.orderType!=='Mediator'">
                        <div class="col-sm-2">
                            <label class="control-label" for="mediator">Mediator/Agent</label>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" autocomplete="off" data-ng-model="order.mediator.contact" id="mediator"
                                   class="form-control"
                                   typeahead="contact as contact.firstName+' '+contact.lastName for contact in filterByName(contacts, $viewValue)"
                                   placeholder="Mediator/Agent">
                        </div>
                    </div>-->
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label" for="deliveryDate">Delivery Date</label>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" data-ng-model="order.deliveryDate" id="deliveryDate" name="Delivery Date"
                                   class="form-control" datepicker-popup="MM-dd-yyyy" datepicker-append-to-body="true"
                                   is-open="data.isOpen" ng-click="data.isOpen = true">
                        </div>
                    </div>
                </div>
                <div class="panel panel-default table-responsive" data-ng-init="findProducts();">
                    <div class="panel-heading"><h4><span class="label label-primary">Products</span></h4></div>
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                        <tr>
                            <th>Product Name</th>
                         <!--   <th>Product Category</th>-->
                        <!--    <th>Sample Number</th>-->
                            <th>Unit Size</th>
                            <th>Unit Measure</th>
                            <th>Unit Price ( &#8377; )</th>
                            <th>No Units</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="product in order.products track by $id(product)">
                       <!-- <tr ng-repeat="prod in order.products track by $index">
                            <td><span data-ng-bind="prod.product.name"></span></td>
                            <td><span data-ng-bind="prod.product.subCategory"></span></td>
                            <td><span data-ng-bind="prod.sampleNumber"></span></td>
                            <td><span data-ng-bind="prod.unitSize"></span></td>
                            <td><span data-ng-bind="prod.unitMeasure"></span></td>
                            <td><span data-ng-bind="prod.unitPrice"></span></td>
                            <td><span data-ng-bind="prod.numberOfUnits"></span></td>
                            <td><span data-ng-bind="prod.unitSize*prod.numberOfUnits"></span></td>
                            <td><span data-ng-bind="prod.unitPrice*prod.numberOfUnits"></span></td>
                        </tr>-->
                            <td>
                                <!--span ng-show="!tableform.$visible" data-ng-bind="product.product.name" e-form="tableform"></span>-->

                                <span ng-show="!tableform.$visible">
                                    <div>
                                    <img data-ng-src="{{product.product.productImageURL1}}" alt="{{product.product.name}}"
                                     class="img-thumbnail product-profile-picture">
                                    </div>
                                   <a data-ng-href="products/{{product.product._id}}{{((authentication.user) && (authentication.user._id === product.product.user))?'/edit':''}}">{{product.product.name}}</a>
                                </span>

                                <span  ng-show="tableform.$visible" editable-text="product.product"  e-typeahead-on-select="selectProduct($item, $index);"
                                      e-name="name"
                                      e-typeahead="metaProduct as metaProduct.name for metaProduct in filterByProductName(metaProducts, $viewValue)"
                                      e-form="tableform" e-autocomplete="off">
          {{ product.name || 'empty' }}</span></td>
                            <!--<td>
                                <span data-ng-bind="product.product.category" e-form="tableform"></span>
                               &lt;!&ndash; <span ng-show="tableform.$visible" editable-text="product.product.category" e-name="category" e-form="tableform" e-readonly>
          {{ product.Category || 'empty' }}</span>&ndash;&gt;</td>-->
                            <!--<td>
                                <span  e-form="tableform">SampleNumber</span>
                               &lt;!&ndash; <span ng-show="tableform.$visible" editable-text="product.sampleNumber" e-ng-bind="product.sampleNumber" e-ng-change="changeProductSampleNumber($index,this);" e-name="sampleNumber" e-form="tableform">
          {{ product.sampleNumber || 'empty' }}</span>&ndash;&gt;
                            </td>-->
                            <td>
                                <span data-ng-bind="product.product.unitSize" e-form="tableform"></span>
                                <!--<span ng-show="tableform.$visible" editable-text="product.product.unitSize" e-ng-change="changeProductUnitSize($index,this);" e-name="unitSize" e-form="tableform">
          {{ product.unitSize || 'empty' }}</span>-->
                            </td>
                            <td>
                                <span data-ng-bind="product.product.unitMeasure" e-form="tableform"></span>
                                <!--<span ng-show="tableform.$visible" editable-text="product.product.unitMeasure" e-ng-change="changeProductUnitMeasure($index,this);" e-name="unitMeasure" e-form="tableform">
                                {{ product.unitMeasure || 'empty' }}</span>-->
                            </td>
                            <td>
                                <span data-ng-bind="product.unitPrice" e-form="tableform"></span>
                                <!--<span ng-show="tableform.$visible" editable-text="product.unitPrice"  e-name="unitPrice" e-ng-change="changeProductUnitPrice($index,this);"
                                      e-form="tableform">{{ product.unitPrice || 'empty'}}
                            </span>--></td>
                            <td>
                                <span ng-show="!tableform.$visible" data-ng-bind="product.numberOfUnits" e-form="tableform"></span>
                                <span ng-show="tableform.$visible" editable-text="product.numberOfUnits" e-ng-change="changeProductNumberOfUnits($index,this);"
                                      e-name="numberOfUnits"
                                      e-form="tableform">{{ product.numberOfUnits || 'empty'}}</span></td>
                            <td>
                                <span  data-ng-bind="product.product.unitSize*product.numberOfUnits"></span>
                            </td>
                            <td>
                                <span data-ng-bind="product.unitPrice*product.numberOfUnits | currency:' &#8377;  '"></span>
                            </td>
                            <td ng-show="tableform.$visible">
                                <button type="button" ng-show="tableform.$visible" ng-click="order.products.splice($index, 1);"
                                        class="btn btn-danger pull-right">-
                                </button>
                            </td>
                        </tr>

                         </tbody>
                    </table>
                </div>
                <!-- buttons -->
                <div class="form-group">
                    <div class="btn-form">
                        <button ng-show="tableform.$visible" type="button" class="btn btn-default pull-right"
                                ng-click="updateProducts(order);">
                            ADD Product
                        </button>
                        <button ng-show="!tableform.$visible" type="button" class="btn btn-default pull-right"
                                ng-click="tableform.$show();updateProduct(order);">
                            Edit Product
                        </button>
                        <button type="submit" class="btn btn-primary" ng-disabled="orderValidation(true);" ng-click="order.currentStatus='Placed'">Place Order</button>
                        <button type="submit" class="btn btn-primary">Draft Order</button>
                        <button type="button"  ng-click="clearFields();orderRedirection();"
                                class="btn btn-default">Cancel
                        </button>
                    </div>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
