
<section data-ng-controller="OrdersController" data-ng-init="find();">

    <div class="panel-body page-header submenu">
        <!-- <a  class="btn pull-right" href="/orders/create" title="Add Order"> <i class="glyphicon glyphicon-plus"></i>Create Order</a>-->
        <ul class="tabrow" ng-init="selectedTab = 'MyOrders';">
            <li id="myOrders" ng-class="{'active':selectedTab === 'MyOrders'}" data-ng-click="selectedTab = 'MyOrders';find();">MyOrders</li>

            <li id="queryOrders" ng-class="{'active':selectedTab === 'QueryOrders'}" data-ng-click="selectedTab = 'QueryOrders';findSpecific();">Received</li>
        </ul>


        <div class="clearboth list-group">
            <div class="clearboth table-responsive panel panel-default">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Order Number</th>
                        <th>Buyer</th>
                        <th>Seller</th>
                        <th>Agent</th>
                        <th>Status</th>
                        <th>Offer Name</th>
                        <th>Payment Status</th>
                        <th>Created</th>
                        <th>Delivery Date</th>
                        <!--th>Update</th-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="order in orders track by $id(order)">
                        <th scope="row">{{$index+1}}</th>
                        <td><a data-ng-href="orders/{{order._id}}">{{order.orderNumber}}</a></td>
                        <!--    <td ng-show="order.currentStatus=='Placed'"><a data-ng-href="#!/orders/{{order._id}}/change">{{order.orderNumber}}</a></td>-->
                       <!-- <td ng-show="order.currentStatus!=='Drafted'"><a data-ng-href="#!/orders/{{order._id}}">{{order.orderNumber}}</a></td>-->
                        <td>{{order.buyer.contact.firstName +' '+order.mediator.contact.middleName+' '+order.buyer.contact.lastName}}</td>
                        <td>{{order.seller.contact.firstName +' '+order.mediator.contact.middleName+' '+order.seller.contact.lastName}}</td>
                        <td>{{order.mediator.contact.firstName+' '+order.mediator.contact.middleName +' '+order.mediator.contact.lastName}}</td>
                        <td>{{order.currentStatus}}</td>
                        <td><a data-ng-href="offersnotification/{{order.offer._id}}">{{order.offer.name}}</a></td>
                     <!--   <td>{{order.offer.name}}</td>-->
                        <td>{{order.paymentStatus}}</td>
                        <td>{{order.created | date:'medium'}}</td>
                        <td>{{order.deliveryDate | date:'dd-MM-yyyy'}}</td>

                        <!-- <td></td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--   <update-order></update-order>-->
    <!-- <div class="alert alert-warning text-center" data-ng-hide="!orders.$resolved || orders.length">
         No Orders yet, why don't you <a href="/orders/create">create one</a>?
     </div>-->
</section>
