
    <md-card class="md-whiteframe-3dp nvc-padding-0">
    <div layout="row" layout-align="space-between center" layout-padding>
        <md-checkbox class="md-primary" ng-model="order.selected" aria-label="select order" ng-show="(authentication.companyBusinessUnits.userGroup.name === 'Admin')"></md-checkbox>
        <h5 class="nv-text-bold nv-text-center nvc-margin-5" ng-class="order.currentStatus">
            {{order.currentStatus}}&nbsp;
            <span ng-show="orderUpdateStatusEditButton(order) ||( order.currentStatus === 'Rejected' || order.currentStatus === 'Cancelled' || order.currentStatus === 'Drafted') "
                  ng-click="!(order.user===authentication.user._id && order.currentStatus !== 'Drafted' && !((order.currentStatus==='Cancelled' || order.currentStatus==='Placed')) && (authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager')) ? '':showOrderDialog(order)"
                  class="fa bb-cursor " ng-class="{'fa-pencil bb-cursor bb-text-center':order.currentStatus !== 'Drafted' && !((order.currentStatus==='Cancelled' || order.currentStatus==='Placed') && order.user!==authentication.user._id)}"></span>
        </h5>
        <h5 class="nvc-primary-color nvc-margin-5"><span class="fa fa-eye"></span> view</h5>
    </div>
        <md-divider></md-divider>
    <div layout="row" layout-align="center stretch" layout-padding>
        <div flex="33" class="nvc-primary-color nv-text-center">
            <h6>Payable Amount</h6>
            <h5 class="nv-text-bold">&#8377; {{order.totalAmount - order.paidAmount}}</h5>
            <h6>Total Amount <span class="nv-text-bold">&#8377; {{order.totalAmount}}</span></h6>
        </div>
        <md-divider></md-divider>
        <div flex="66">
            <h5 class="nv-text-bold">{{order.orderNumber}} <span class="nvc-primary-color">({{order.orderType}})</span></h5>
            <h5>Expected Delivery : {{order.deliveryDate | date:'dd-MM-yyyy'}}</h5>
            <h6>{{(order.orderType === 'Sale'?'Buyer'+' : '+(order.buyer.contact.displayName?order.buyer.contact.displayName:(order.buyer.contact.firstName+" "+order.buyer.contact.middleName+" "+order.buyer.contact.lastName)):'Seller'+' : '+(order.seller.contact.displayName?order.seller.contact.displayName:(order.seller.contact.firstName+" "+order.seller.contact.middleName+" "+order.seller.contact.lastName)))}}</h6>
            <h6 ng-show="order.mediator.contact">{{(order.mediator.contact.displayName?order.mediator.contact.displayName:(order.mediator.contact.firstName+" "+order.mediator.contact.middleName+" "+order.mediator.contact.lastName))}}</h6>
        </div>
    </div>
        <div layout="row" layout-padding class="nvc-accent-background nv-text-center" ng-show="order.currentStatus !== 'Drafted'">
            <div flex="33"><h6 class="nvc-margin-5">Add Payment</h6></div>
            <md-divider class="nvc-layout-divider"></md-divider>
            <div flex="66" layout="row">
            <div flex="50"><h6 class="nvc-margin-5">Invoice <span class="fa fa-download"></span></h6></div>
            <md-divider class="nvc-layout-divider"></md-divider>
            <div flex="50"><h6 class="nvc-margin-5">Add Payment</h6></div>
            </div>
        </div>
</md-card>

