<div ng-controller="OrdersController" data-ng-init="findInit();">
    <!-----------Head Bar -------------------->
    <head-bar nvipanipath="context" isbusinessunitslist="true" change-business-unit="getOrdersByBusinessUnit(busUnitId)"></head-bar>
    <!-----------Action Bar ------------------>
    <div ng-show="viewAllOrders">
    <!-----------Content --------------------->
    <md-content  id="tab-content" class="nvc-content">
    <md-tabs md-dynamic-height md-selected="selectedIndex" >
            <md-tab  label="{{tab.title}}" ng-repeat="tab in tabs" ng-click="changeSelectionTab(busUnitId,tab.type);" >
                <action ng-show="orderfilters && orderfilters.Count>0" nvactions="orderfilters" filter-summary="getOrdersFilterSummary(filterKey,filterCount,toggle)" page="'orders'"></action>
                <div ng-show="orders.length === 0">
                    <div  layout="row" layout-wrap layout-align="center cenrer" class="nvc-no-list-illustration">
                        <div flex="15">
                            <img src="/modules/inventories/img/profile/zero-orders.png" class="bb-wid-100">
                        </div>
                        <div flex="100" class="nv-text-center">
                            <h4 class="nv-text-bold">There is no Orders available</h4>
                            <h5>Looks like you haven't placed any order yet</h5>
                        </div>
                    </div>
                </div>
            <md-content ng-show="orders.length > 0">
                <div flex="100" flex-xs="100" layout="row" layout-align="center center">
                    <div flex="80">
                            <span id="order_{{selectedIndex}}" search-fields=searchText[queryBy] search-query=queryBy field="order" class="bb-wid-100"></span>
                    </div>
                    <div flex></div>
                    <!--    <div ng-if="selectedIndex===0">
                            <md-menu class="nvc-menu">
                                <md-button ng-click="$mdOpenMenu($event)">
                                    New
                                    <span class="caret"></span>
                                </md-button>
                                <md-menu-content>
                                    <md-menu-item>
                                        <md-button md-autofocus ng-click="panelChange(null,'add',selectedIndex)">
                                            <md-icon class="fa fa-plus"> </md-icon> New Offer
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>-->
                    <div ng-if="selectedIndex===0 && authentication.companyBusinessUnits.userGroup.name === 'Admin'">
                    <md-menu class="nvc-menu">
                            <md-button ng-click="$mdOpenMenu($event)" class="md-primary md-raised nvc-shape-pill">
                                Group Actions
                               <span class="caret"></span>
                            </md-button>
                           <md-menu-content>
                                <md-menu-item>
                                    <md-button md-auto-focus ng-click="batchOrders(0)" >
                                        <md-icon class="fa fa-trash"></md-icon> Delete
                                    </md-button>
                                </md-menu-item>
                                <!--<md-menu-item>
                                    <md-button ng-click="batchOrders(1)">
                                        <md-icon class="fa fa-ban"></md-icon> Disable
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="batchOrders(2)">
                                        <md-icon class="fa fa-check"></md-icon> Enable
                                    </md-button>
                                </md-menu-item>-->
                            </md-menu-content>
                       </md-menu>
                    </div>
                    <!--<div ng-if="selectedIndex===0 && (authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager')">
                        <md-menu class="nvc-menu">
                            <md-button ng-click="$mdOpenMenu($event)" class="md-primary md-raised nvc-shape-pill">
                                Add
                                <span class="caret"></span>
                            </md-button>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button md-autofocus ng-click="panelChange(null,'add',selectedIndex);">
                                        <md-icon class="fa fa-plus"> </md-icon> New Order
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>-->
                </div>
                <list-order-table ng-show="orders.length>0" hide-xs></list-order-table>
                <div ng-show="orders.length>0" hide-gt-sm>
                    <list-order-cards order="order" dir-paginate="order in orders| orderBy:'-created' | filter:searchText |itemsPerPage :itemsPerPage" pagination-id="paginationId" total-items="total_count">
                    </list-order-cards>
                    <div class="nv-text-right">
                        <dir-pagination-controls pagination-id="paginationId" on-page-change="find(selectedIndex,newPageNumber)"
                                                 max-size="5"
                                                 direction-links="true"
                                                 boundary-links="true" >
                        </dir-pagination-controls>
                    </div>
                </div>
            </md-content>
            </md-tab>
        </md-tabs>
        </md-content>
    </div>
    <div ng-show="selOrder!==null && selOrder._id && selOrder.currentStatus==='Drafted'">
        <check-out ng-show="selOrder.currentStatus==='Drafted'"></check-out>
        <!--<order-details data-ng-show="showView"></order-details>-->
    </div>
</div>
