<table id="table"   class="nvc-content-table bb-wid-100">
    <thead>
    <tr>
        <!-- <th>ID</th>-->
        <td ng-show="(authentication.companyBusinessUnits.userGroup.name === 'Admin')"><nv-check-box  ng-show="tabs[selectedIndex].type === 'MyOrders'"  selectedlist="selectedList" orginallist="orders" sort-by="-created"></nv-check-box>
            <!--<md-checkbox class="md-primary ng-hide" aria-label="selectAll" ng-change="selectall()" ng-model="selectAll"></md-checkbox> --></td>
        <td>Order Details</td>
        <td>Offer Applied</td>
        <td>Total / Paid Amount(&#8377;)</td>
        <td>Delivery Date</td>
        <td>{{tabs[selectedIndex].type==='ReceivedOrders'?'Source':'To'}}</td>
        <td>Status</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="order in orders| orderBy:'-created' | filter:searchText |itemsPerPage :itemsPerPage" pagination-id="paginationId" total-items="total_count">
        <td ng-show="(authentication.companyBusinessUnits.userGroup.name === 'Admin')"><md-checkbox ng-show="tabs[selectedIndex].type === 'MyOrders'" class="md-primary" ng-model="order.selected" aria-label="select order"></md-checkbox></td>
        <td data-title="Order Details" ng-click="changeSelOrder(order)">
            <h5 class="nv-text-bold" aria-label="Order Number" >{{order.orderNumber}}</h5>
            <h6 class="nv-text-bold" >{{order.orderType}} Order</h6>
        </td>
        <td data-title="Offer Details" ng-show="order.offer">
            <h5 class="bb-truncate nv-text-bold" aria-label="offer name"><a href="#!/offers/{{order.offer._id}}">{{order.offer.name}}</a></h5>
            <h6 class="nv-text-bold">{{order.offer.offerType}} Offer</h6>
        </td>
        <td data-title="Offer Details" ng-show="!order.offer">
            N/A
        </td>
        <td>
            {{order.totalAmount | number:2}} / {{order.paidAmount | number:2}}
        </td>
        <td data-title="Delivery Date">

            {{order.deliveryDate?(order.deliveryDate | date:"dd-MM-yyyy"):'N/A'}}</td>
        <td data-title="Source">
            <p class="nvc-whitespace-preline nvc-margin-0">{{getSourceOrder(order,true)}}</p>
        </td>
        <td data-title="Status">
            <div flex="100" layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-align="start center">
                <md-chips >
                    <md-chip class="bb-chips-custom"
                             ng-class="{'confirmed': order.currentStatus === 'Confirmed', 'inprogress': order.currentStatus === 'InProgress', 'draft': order.currentStatus === 'Drafted' , 'shipped': order.currentStatus === 'Shipped' , 'placed': order.currentStatus === 'Placed' , 'expire': order.currentStatus === 'Rejected',  'complete': order.currentStatus === 'Completed' ,  'delivered': order.currentStatus === 'Delivered' ,  'cancelled': order.currentStatus === 'Cancelled'}">
                        {{order.currentStatus}}&nbsp;
                        <span ng-show="orderUpdateStatusEditButton(order) ||( order.currentStatus === 'Rejected' || order.currentStatus === 'Cancelled' || order.currentStatus === 'Drafted') "
                              ng-click="!(order.user===authentication.user._id && order.currentStatus !== 'Drafted' && !((order.currentStatus==='Cancelled' || order.currentStatus==='Placed')) && (authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager')) ? '':showOrderDialog(order)"
                              class="fa bb-cursor " ng-class="{'fa-pencil bb-cursor bb-text-center':order.currentStatus !== 'Drafted' && !((order.currentStatus==='Cancelled' || order.currentStatus==='Placed') && order.user!==authentication.user._id)}"></span>
                    </md-chip>
                </md-chips>
            </div>
        </td>
        <td class="nvc-primary-color" ng-click="changeSelOrder(order)"><div ng-if="order.currentStatus!=='Drafted'">view &nbsp;&nbsp;<span class="fa fa-eye"></span> </div><div ng-if="order.currentStatus==='Drafted'">Edit &nbsp;&nbsp;<span class="fa fa-pencil"></span> </div> </td>
        <!--<td data-title="Status">
            <div flex="100" layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row">

            <span flex="70">
                <span class="bb-chips-custom"
                         ng-class="{'confirmed': order.currentStatus === 'Confirmed', 'inprogress': order.currentStatus === 'InProgress', 'draft': order.currentStatus === 'Drafted' , 'shipped': order.currentStatus === 'Shipped' , 'placed': order.currentStatus === 'Placed' , 'expire': order.currentStatus === 'Rejected',  'complete': order.currentStatus === 'Completed' ,  'delivered': order.currentStatus === 'Delivered' ,  'cancelled': order.currentStatus === 'Cancelled'}">{{order.currentStatus}}</span>
</span>
                <span flex="10" ng-show="orderUpdateStatusEditButton(order) ||( order.currentStatus === 'Rejected' || order.currentStatus === 'Cancelled' || order.currentStatus === 'Drafted') " ng-click="((order.currentStatus === 'Drafted') || (order.currentStatus === 'Rejected' || order.currentStatus==='Cancelled' || order.currentStatus==='Placed') && order.user===authentication.user._id) ? remove(order):changeStatusOrder(order);"
                             class="fa bb-cursor bb-text-center" ng-class="{'fa-trash bb-sample-icon':(order.currentStatus === 'Drafted') || ((order.currentStatus === 'Rejected' || order.currentStatus==='Cancelled' || order.currentStatus==='Placed') && order.user===authentication.user._id), 'fa-pencil bb-cursor bb-text-center':order.currentStatus !== 'Drafted' && !((order.currentStatus==='Cancelled' || order.currentStatus==='Placed') && order.user!==authentication.user._id)}"></span>
                &lt;!&ndash;<span class="fa bb-sample-icon fa-trash" ng-click="remove(order)" ng-show="order.currentStatus === 'Drafted'" ></span>&ndash;&gt;
</div>
        </td>-->
    </tr>
    </tbody>
</table>
<div class="nv-text-right">
    <dir-pagination-controls pagination-id="paginationId" on-page-change="isFilterSummary?ordersFilterSummary(null,null,newPageNumber):find(selectedIndex,newPageNumber)"
                             max-size="8"
                             direction-links="true"
                             boundary-links="true" >
    </dir-pagination-controls>
</div>
