<div layout-padding layout="column">
    <form  name="orderStatus"  data-ng-submit="updateOrderStatus(true)" autocomplete="off">
            <div class="layout-padding" layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
           <!-- <div ng-show="address.shipping || address.billing || !editAddress">-->
                <div flex="33" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                    <md-input-container class="md-block">
                        <label>Status</label>
                        <md-select  data-ng-change="changeStatusPriority();" ng-model="currentStatus" placeholder="Change status">
                            <md-option ng-value="s.value" ng-repeat="s in selOrder.statusArray">{{s.text}}</md-option></md-select>
                        </md-select>
                    </md-input-container>
                </div>
                <div flex="33" flex-xs="100" flex-sm="50" flex-gt-lg="50" ng-if="currentStatus && currentStatus==='Confirmed'">
                   <!-- <a ng-show="getInsuffientStock(selOrder.products)" ng-click="showInsuffientProductsView();">NoStock</a>-->
                    <label>Expected Delivery Date</label>
                    <md-datepicker ng-model="selOrder.deliveryDate" ng-hide="currentStatus==='Confirmed' && outOfStock" md-placeholder="Delivery date"></md-datepicker>
                </div>
                <div flex="33" flex-xs="100" flex-sm="50" flex-gt-lg="50" ng-if="currentStatus && currentStatus==='Shipped'">
                    <md-input-container class="md-block">
                        <label>Transport Type</label>
                        <md-select  data-ng-change="changeStatusPriority();" ng-model="selOrder.transport.type" placeholder="Type">
                            <md-option ng-value="s.value" ng-repeat="s in tTypes">{{s.text}}</md-option></md-select>

                    </md-input-container>
                </div>

                <div flex="33" flex-xs="100" flex-sm="50" flex-gt-lg="50" ng-if="currentStatus && currentStatus==='Shipped' && selOrder.transport.type==='Self'">
                    <md-input-container class="md-block">
                        <label>Transport Mode</label>
                        <md-select  data-ng-change="changeStatusPriority();" ng-model="selOrder.transport.mode" placeholder="Mode">
                            <md-option ng-value="s.value" ng-repeat="s in tMode">{{s.text}}</md-option></md-select>

                    </md-input-container>
                </div>
                <div flex="33" flex-xs="100" flex-sm="50" flex-gt-lg="50" ng-if="currentStatus && currentStatus==='Shipped' && selOrder.transport.type==='Parcel'">
                    <md-input-container class="md-block">
                        <label>Transport Mode</label>
                        <md-select  data-ng-change="changeStatusPriority();" ng-model="selOrder.transport.mode" placeholder="Mode">
                            <md-option ng-value="s.value" ng-repeat="s in tModes">{{s.text}}</md-option></md-select>

                    </md-input-container>
                </div>

                <div flex="33" flex-xs="100" flex-sm="50" flex-gt-lg="50" ng-if="currentStatus && currentStatus==='Shipped'&& selOrder.transport.type==='Self' && selOrder.transport.mode==='Truck'">
                    <md-input-container class="md-block">
                        <input type="text" ng-model="selOrder.transport.vehicleNumber" placeholder="Vehicle Number">

                    </md-input-container>

                </div>
                <div flex="33" flex-xs="100" flex-sm="50" flex-gt-lg="50" ng-if="currentStatus && currentStatus==='Shipped' && selOrder.transport.type==='Parcel'">
                    <md-input-container class="md-block">
                        <input type="text" ng-model="selOrder.parcel.name" placeholder="Name of the Parcel">
                    </md-input-container>
                </div>
                <div flex="33" flex-xs="100" flex-sm="50" flex-gt-lg="50" ng-if="currentStatus && currentStatus==='Shipped' && selOrder.transport.type==='Parcel' && selOrder.transport.mode==='Other'">
                    <md-input-container class="md-block">
                        <input type="text" ng-model="selOrder.parcel.consignmentNumber" placeholder="Consignment Number">

                    </md-input-container>
                </div>
                <div flex="33" flex-xs="100" flex-sm="50" flex-gt-lg="50" ng-if="currentStatus && currentStatus==='Shipped' && selOrder.transport.type==='Parcel' && selOrder.transport.mode==='Rail'">

                <md-input-container class="md-block">
                        <input type="text" ng-model="selOrder.parcel.fnrNumber" placeholder="Frieght Record No - Railways">

                    </md-input-container>
                </div>
                <div flex="33" flex-xs="100" flex-sm="50" flex-gt-lg="50" ng-if="currentStatus && currentStatus==='Shipped' && selOrder.transport.type==='Parcel'">

                <md-input-container class="md-block">
                        <input type="text" ng-model="selOrder.parcel.trackurl" placeholder="Track Url">
                    </md-input-container>

                </div>
                <div flex="33" flex-xs="100" flex-sm="50" flex-gt-lg="50" ng-if="currentStatus && currentStatus==='Shipped' && selOrder.transport.type==='Courier'">
                    <md-input-container class="md-block">
                        <input type="text" ng-model="selOrder.courier.name" placeholder="Name of Courier">
                    </md-input-container>
                </div>
                <div flex="33" flex-xs="100" flex-sm="50" flex-gt-lg="50" ng-if="currentStatus && currentStatus==='Shipped' && selOrder.transport.type==='Courier'">

                <md-input-container class="md-block">
                        <input type="text" ng-model="selOrder.courier.awbNumber" placeholder="Awb Number">

                    </md-input-container>
                </div>
                <div flex="33" flex-xs="100" flex-sm="50" flex-gt-lg="50" ng-if="currentStatus && currentStatus==='Shipped' && selOrder.transport.type==='Courier'">

                <md-input-container class="md-block">
                        <input type="text" ng-model="selOrder.courier.trackurl" placeholder="Track Url">
                    </md-input-container>

                </div>
            </div>
        <div class="layout-padding" layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
            <div flex="100" layout="row" layout-align="center center">
                <div flex >
                    <md-input-container class="md-block">
                        <label>Comments</label>
                        <input ng-model="statusComments">
                    </md-input-container>
                </div>
                <div>
                    <md-button class="md-raised md-primary nvc-shape-pill nvc-margin-right-0" type="submit">Submit</md-button>
                </div>
            </div>
        </div>
        </form>
    </div>


