<div class="tab-pane" role="tabpanel" id="step3">

    <div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap
         class="bb-white-bg">

        <div class="md-accordion bb-order-slider" layout-fill>
            <md-toolbar class="" ng-init="data.expandedOrder = false"
                        ng-click="data.expandedOrder = !data.expandedOrder">
                <div class="md-toolbar-tools">
                    <h2>
                        <div class="md-subhead">Order Details :</div>
                    </h2>
                    <span flex=""></span>
                    <span ng-class="{'accordion-toggle':true, collapsed:data.expandedOrder}"></span>
                </div>
            </md-toolbar>
            <div ng-class="{dataContent:true, activeContent:data.expandedOrder}">
                <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>

                    <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">


                        <div class="bb-pos-rel" layout-padding layout="row" layout-xs='row' layout-xs="column"
                             layout-sm="row" layout-gt-lg="row" layout-wrap>

                            <md-icon class="fa-pencil faa md-primary bb-closebtn"></md-icon>

                            <div flex="20" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                                <h3 class="md-subhead">Order Number</h3>
                                <label class="bb-flabel">{{selOrder.orderNumber}}</label>
                            </div>
                            <div flex="20" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                                <h3 class="md-subhead">Order Type</h3>
                                <label class="bb-flabel">{{selOrder.orderType}}</label>
                            </div>

                            <div flex="20" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                                <h3 class="md-subhead ">Buyer</h3>
                                <label class="bb-flabel bb-truncate">{{selOrder.buyer.contact.firstName
                                    +''+selOrder.buyer.contact.middleName+' '+selOrder.buyer.contact.lastName}}</label>
                            </div>

                            <div flex="20" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                                <h3 class="md-subhead">Seller</h3>
                                <label class="bb-flabel bb-truncate">{{selOrder.seller.contact.firstName +' '+selOrder.seller.contact.middleName+' '+selOrder.seller.contact.lastName}}</label>
                            </div>


                            <div flex="20" flex-xs="100" flex-sm="25" flex-gt-lg="25"
                                 ng-show="selOrder.mediator.contact">
                                <h3 class="md-subhead">Number of Products</h3>
                                <label class="bb-flabel">{{selOrder.products.length}}</label>
                            </div>
                            <div flex="20" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                                <h3 class="md-subhead">Total Price</h3>
                                <label class="bb-flabel">{{totalPriceFormatter() |currency:' &#8377; '}}</label>
                            </div>


                        </div>


                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>

        <div class="md-accordion bb-order-slider" layout-fill>
            <md-toolbar class="" ng-init="data.expandedAddress = false"
                        ng-click="data.expandedAddress = !data.expandedAddress">
                <div class="md-toolbar-tools">
                    <h2>
                        <div class="md-subhead">Address Details :</div>
                    </h2>
                    <span flex=""></span>
                    <span ng-class="{'accordion-toggle':true, collapsed:data.expandedAddress}"></span>
                </div>
            </md-toolbar>
            <div ng-class="{dataContent:true, activeContent:data.expandedAddress}">
                <div class="bb-pos-rel" layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row"
                     layout-gt-lg="row" layout-wrap>

                    <md-icon class="fa-pencil faa md-primary bb-closebtn"
                             ng-click="!isCompleted(page)||prev()"></md-icon>

                    <div flex="50" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                        <div class="md-subhead">Billing Details :</div>
                        <!--<md-divider></md-divider>-->
                        <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
                             layout-wrap>
                            <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                                <div class="bb-addressdetails">
                                    <p><i class="glyphicon glyphicon-map-marker">{{selOrder.billingAddress.addressLine}}, {{selOrder.billingAddress.city}},
                                        {{selOrder.billingAddress.state}} - {{selOrder.billingAddress.pinCode}}
                                        {{selOrder.billingAddress.country}}</i></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div flex="50" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                        <div class="md-subhead">Shipping Details :</div>
                        <!--<md-divider></md-divider>-->
                        <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
                             layout-wrap>
                            <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                                <div class="bb-addressdetails">
                                    <p><i class="glyphicon glyphicon-map-marker">{{selOrder.shippingAddress.addressLine}}, {{selOrder.shippingAddress.city}},
                                        {{selOrder.shippingAddress.state}} - {{selOrder.shippingAddress.pinCode}}
                                        {{selOrder.shippingAddress.country}}</i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>




        <payment-order-view layout-fill></payment-order-view>


       <!-- <payment-order-view></payment-order-view>-->
        <!--<div flex="65" flex-xs="100" flex-sm="65" flex-gt-lg="50">-->
        <!--<div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap >-->
        <!--<div flex="50" flex-xs="100" flex-sm="100" flex-gt-lg="50">-->
        <!--<div class="md-title">Billing Details :</div>-->

        <!--<md-card >-->

        <!--<div class="addr-pay">-->

        <!--&lt;!&ndash;<p><i class="glyphicon glyphicon-map-marker"></i>{{selOrder.billingAddress.addressLine}}<br>{{selOrder.billingAddress.city}}, {{selOrder.billingAddress.state}},{{selOrder.billingAddress.pinCode}}<br>{{selOrder.billingAddress.country}} </p>&ndash;&gt;-->
        <!--<div class="data-item">-->
        <!--<p><i class="fa fa-home"></i>{{selOrder.billingAddress.addressLine}}</p>-->
        <!--<p><i class="fa fa-road"></i>{{selOrder.billingAddress.city}},</p>-->
        <!--<p><i class="glyphicon glyphicon-map-marker"></i>{{selOrder.billingAddress.state}} - {{selOrder.billingAddress.pinCode}}</p>-->
        <!--<p><i class="fa fa-flag"></i>{{selOrder.billingAddress.country}}</p>-->
        <!--</div>-->

        <!--</div>-->

        <!--</md-card>-->
        <!--</div>-->

        <!--<div flex="50" flex-xs="100" flex-sm="100" flex-gt-lg="50">-->

        <!--<div class="md-title">Shipping Details :</div>-->
        <!--&lt;!&ndash;<md-divider></md-divider>&ndash;&gt;-->
        <!--<md-card>-->

        <!--<div class="addr-pay">-->

        <!--&lt;!&ndash;<p><i class="glyphicon glyphicon-map-marker"></i> {{selOrder.shippingAddress.addressLine}}<br>{{selOrder.shippingAddress.city}}, {{selOrder.shippingAddress.state}},{{selOrder.shippingAddress.pinCode}}<br>{{selOrder.billingAddress.country}}  </p>&ndash;&gt;-->

        <!--<div class="data-item">-->
        <!--<p><i class="fa fa-home"></i>{{selOrder.shippingAddress.addressLine}}</p>-->
        <!--<p><i class="fa fa-road"></i>{{selOrder.shippingAddress.city}},</p>-->
        <!--<p><i class="glyphicon glyphicon-map-marker"></i>{{selOrder.shippingAddress.state}} - {{selOrder.shippingAddress.pinCode}}</p>-->
        <!--<p><i class="fa fa-flag"></i>{{selOrder.billingAddress.country}}</p>-->
        <!--</div>-->


        <!--</div>-->
        <!--</md-card>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--<md-divider></md-divider>-->
        <!--<div flex="30" flex-xs="100" flex-sm="30" flex-gt-lg="49">-->
        <!--<h3 class="md-title">Payment Details :</h3>-->
        <!--<md-divider></md-divider>-->
        <!--<div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="column" layout-gt-lg="row" layout-wrap>-->
        <!--<div flex="100" flex-xs="100" ng-show="!selOrder.selectedPayMentOptions.selection" ng-repeat="(key,value) in selOrder.paymentOptionType" for="{{key}}">-->
        <!--<input  type="radio" name="selOrder.paymentOptionType.$key" ng-value="value" data-ng-model="$parent.selOrder.selectedPayMentOptions" ng-change="paymentChange(key)"> {{paymentOptions[key]  }}<b>{{(value.days?' '+value.days +' days ':'')}}</b>-->
        <!--</div>-->

        <!--<div flex="100" flex-xs="100" ng-show="selectedPayMentOptions.installments.selection" data-ng-repeat="option in selOrder.paymentOptionType.installments.options">-->
        <!--<span class="input-group-addon text-left" ><strong>{{ option.description}}</strong>  {{option.days}} days  {{ option.percentage}} % </span>-->
        <!--</div>-->

        <!--<div flex="50" ng-show="selOrder.selectedPayMentOptions.selection">-->
        <!--<h5  class="md-subhead">Payment Status :</h5>-->
        <!--<span ng-click="toggleModal2()" class="label label-blue cursor">{{selOrder.selectedPayMentOptions.status}}</span>-->
        <!--&lt;!&ndash; <button ng-click="toggleModal()"  class="btn btn-default">Open modal</button>&ndash;&gt;-->

        <!--<modal title="Payment Status" visible="showModal2">-->


        <!--<div class="form-group">-->
        <!--<label for="paymentstatus">Payment Status</label>-->

        <!--<select class="form-control input-sm m-bot15" name="currentStatus" ng-model="paymentStatus" id='paymentstatus' ng-options="s.value as s.text for s in selOrder.paymentArray">-->
        <!--<option value="" selected="selected">Select</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<label for="paymentMode">Payment Mode</label>-->
        <!--<select class="form-control input-sm m-bot15" ng-model="paymentMode" id="paymentMode" name="paymentMode" ng-options="s.value as s.text for s in paymentType" chosen="chosen-select" >-->
        <!--<option value="" selected="selected">Select</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<input ng-model="amount" name="amount" class="form-control" is-number>-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<label for="paycomments">Order Payment Comments</label>-->
        <!--<textarea ng-model="paymentComments" id="paycomments"  rows="4" cols="40" class="form-control m-top15 resize" rows="1" id="paymentComments" maxlength="1024"></textarea>-->
        <!--</div>-->
        <!--<div class="col-lg-6"><button type="button" class="btn btn-save">Submit</button></div>-->
        <!--<div class="col-lg-6"><button type="button" class="btn btn-cancel"  data-dismiss="modal" aria-hidden="true" data-ng-click="selOrder.onchangespaymentstatus=false;orderUpdateFields();clearPaymentData();">Cancel</button></div>-->


        <!--</modal>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->


        </div>

    <!--<div class="row firsec-bg">-->

    <!--<div class="col-lg-12 col-sm-12">-->
        <!--<div class="col-lg-3 col-sm-3">-->
            <!--<h5  class="tabtxt heading">Order Number</h5>-->
            <!--<label class="flabel">{{selOrder.orderNumber}}</label>-->
        <!--</div>-->
        <!--<div class="col-lg-3 col-sm-3">-->
            <!--<h5  class="tabtxt heading">Order Type</h5>-->
            <!--<label class="flabel">{{selOrder.orderType}}</label>-->
        <!--</div>-->

    <!--</div>-->


    <!--<div class="col-lg-12 col-sm-12 m-bot15">-->
        <!--<div class="col-lg-3 col-sm-3">-->
            <!--<h5  class="tabtxt heading">Buyer</h5>-->
            <!--<label class="flabel">{{selOrder.buyer.contact.firstName +' '+selOrder.buyer.contact.middleName+' '+selOrder.buyer.contact.lastName}}</label>-->
        <!--</div>-->
        <!--<div class="col-lg-3 col-sm-3">-->
            <!--<h5  class="tabtxt heading">Seller</h5>-->
            <!--<label  class="flabel">{{selOrder.seller.contact.firstName +' '+selOrder.seller.contact.middleName+' '+selOrder.seller.contact.lastName}}</label>-->
        <!--</div>-->
        <!--<div class="col-lg-3 col-sm-3">-->
            <!--<h5  class="tabtxt heading">No. of Products</h5>-->
            <!--<label class="flabel">{{selOrder.products.length}}</label>-->
        <!--</div>-->
        <!--<div class="col-lg-3 col-sm-3">-->
            <!--<h5  class="tabtxt heading">Total Price</h5>-->
            <!--<label  class="flabel">{{totalPriceFormatter() |currency:' &#8377;  '}}</label>-->
        <!--</div>-->


    <!--</div>-->

    <!--&lt;!&ndash;<p>This is step 1</p>&ndash;&gt;-->
    <!--<div class="col-lg-12 col-sm-12 lg">-->
        <!--<div class="col-lg-6 col-sm-6">-->

            <!--<div>-->
                <!--<h4  class="nhead tabtxt heading">Billing Address</h4>-->
                <!--<hr class="nline m-15" >-->

                <!--<div class="panel panel-default firsec-bg">-->

                    <!--<div class="addr-pay">-->

                        <!--&lt;!&ndash;<p><i class="glyphicon glyphicon-map-marker"></i>{{selOrder.billingAddress.addressLine}}<br>{{selOrder.billingAddress.city}}, {{selOrder.billingAddress.state}},{{selOrder.billingAddress.pinCode}}<br>{{selOrder.billingAddress.country}} </p>&ndash;&gt;-->
                        <!--<div class="data-item">-->
                        <!--<p><i class="fa fa-home"></i>{{selOrder.billingAddress.addressLine}}</p>-->
                        <!--<p><i class="fa fa-road"></i>{{selOrder.billingAddress.city}},</p>-->
                        <!--<p><i class="glyphicon glyphicon-map-marker"></i>{{selOrder.billingAddress.state}} - {{selOrder.billingAddress.pinCode}}</p>-->
                        <!--<p><i class="fa fa-flag"></i>{{selOrder.billingAddress.country}}</p>-->
                        <!--</div>-->

                    <!--</div>-->

                <!--</div>-->
            <!--</div>-->

            <!--<div>-->
                <!--<h4  class="nhead tabtxt heading">Shipping Address</h4>-->
                <!--<hr class="nline m-15" >-->

                <!--<div class="panel panel-default firsec-bg">-->

                    <!--<div class="addr-pay">-->

                        <!--&lt;!&ndash;<p><i class="glyphicon glyphicon-map-marker"></i> {{selOrder.shippingAddress.addressLine}}<br>{{selOrder.shippingAddress.city}}, {{selOrder.shippingAddress.state}},{{selOrder.shippingAddress.pinCode}}<br>{{selOrder.billingAddress.country}}  </p>&ndash;&gt;-->

                        <!--<div class="data-item">-->
                            <!--<p><i class="fa fa-home"></i>{{selOrder.shippingAddress.addressLine}}</p>-->
                            <!--<p><i class="fa fa-road"></i>{{selOrder.shippingAddress.city}},</p>-->
                            <!--<p><i class="glyphicon glyphicon-map-marker"></i>{{selOrder.shippingAddress.state}} - {{selOrder.shippingAddress.pinCode}}</p>-->
                            <!--<p><i class="fa fa-flag"></i>{{selOrder.billingAddress.country}}</p>-->
                        <!--</div>-->



                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->


        <!--</div>-->


        <!--<div class="col-lg-6 col-sm-6">-->
            <!--&lt;!&ndash;<div class="col-lg-12 lg m-bot35">-->
                <!--<div class="col-lg-6">-->
                    <!--<input class="checkbox-custom" type="checkbox" id="shipping" name="shipping" />-->
                    <!--<label class="checkbox-custom-label" for="shipping"><span></span>Shipping Address</label>-->
                <!--</div>-->
                <!--<div class="col-lg-6">-->
                    <!--<input class="checkbox-custom" type="checkbox" id="billing" name="billing" />-->
                    <!--<label class="checkbox-custom-label" for="billing"><span></span>Billing Address</label>-->
                <!--</div>-->

            <!--</div>&ndash;&gt;-->

            <!--<div>-->
                <!--<h4  class="nhead tabtxt heading">Payment Details</h4>-->
                <!--<hr class="nline m-15">-->

                <!--&lt;!&ndash; <div class="col-lg-4 m-bot10 field" ng-repeat="item in selOrder.paymentOptionType  track by $index">&ndash;&gt;-->
                <!--&lt;!&ndash;       <input type="radio" ng-show="selOrder.paymentOptionType.payOnDelivery.enabled" name="businessType2" ng-value="selOrder.paymentOptionType.payOnDelivery" ng-model="businessType2">-->
                       <!--<label class="radio-custom-label"><span></span>Pay On Delivery</label></input>-->
                   <!--<input type="radio" ng-show="selOrder.paymentOptionType.payNow.enabled" name="businessType2" ng-value="selOrder.paymentOptionType.payNow" ng-model="businessType2">-->
                   <!--<label class="radio-custom-label"><span></span>Pay Now</label></input>-->
                   <!--<input type="radio" ng-show="selOrder.paymentOptionType.installments.enabled" name="businessType2" ng-value="selOrder.paymentOptionType.installments" ng-model="businessType2">-->
                   <!--<label class="radio-custom-label"><span></span>Installments</label></input>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--<div class="col-lg-12 col-sm-12 m-bot10" ng-show="!selOrder.selectedPayMentOptions.selection" ng-repeat="(key,value) in selOrder.paymentOptionType" for="{{key}}" >-->
    <!--<input  type="radio" name="selOrder.paymentOptionType.$key" ng-value="value" data-ng-model="$parent.selOrder.selectedPayMentOptions" ng-change="paymentChange(key)"> {{paymentOptions[key]  }}<b>{{(value.days?' '+value.days +' days ':'')}}</b>-->


                <!--</div>-->
                <!--<div class="col-lg-12 col-sm-12" ng-show="selectedPayMentOptions.installments.selection" data-ng-repeat="option in selOrder.paymentOptionType.installments.options">-->
                    <!--<span class="input-group-addon text-left" ><strong>{{ option.description}}</strong>  {{option.days}} days  {{ option.percentage}} % </span>-->
                <!--</div>-->
                <!--<div class="col-lg-3 col-sm-3" ng-show="selOrder.selectedPayMentOptions.selection">-->
                    <!--<h5  class="tabtxt heading">Payment Status :</h5>-->
                    <!--<span ng-click="toggleModal2()" class="label label-blue cursor">{{selOrder.selectedPayMentOptions.status}}</span>-->
                  <!--&lt;!&ndash; <button ng-click="toggleModal()"  class="btn btn-default">Open modal</button>&ndash;&gt;-->

                    <!--<modal title="Payment Status" visible="showModal2">-->


                        <!--<div class="form-group">-->
                            <!--<label for="paymentstatus">Payment Status</label>-->

                            <!--<select class="form-control input-sm m-bot15" name="currentStatus" ng-model="paymentStatus" id='paymentstatus' ng-options="s.value as s.text for s in selOrder.paymentArray">-->
                                <!--<option value="" selected="selected">Select</option>-->
                            <!--</select>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label for="paymentMode">Payment Mode</label>-->
                            <!--<select class="form-control input-sm m-bot15" ng-model="paymentMode" id="paymentMode" name="paymentMode" ng-options="s.value as s.text for s in paymentType" chosen="chosen-select" >-->
                                <!--<option value="" selected="selected">Select</option>-->
                            <!--</select>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<input ng-model="amount" name="amount" class="form-control" is-number>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label for="paycomments">Order Payment Comments</label>-->
                            <!--<textarea ng-model="paymentComments" id="paycomments"  rows="4" cols="40" class="form-control m-top15 resize" rows="1" id="paymentComments" maxlength="1024"></textarea>-->
                        <!--</div>-->
                        <!--<div class="col-lg-6"><button type="button" class="btn btn-save">Submit</button></div>-->
                        <!--<div class="col-lg-6"><button type="button" class="btn btn-cancel"  data-dismiss="modal" aria-hidden="true" data-ng-click="selOrder.onchangespaymentstatus=false;orderUpdateFields();clearPaymentData();">Cancel</button></div>-->




                    <!--</modal>-->
                <!--</div>-->
                <!--&lt;!&ndash;<div ng-show="selOrder.selectedPayMentOptions.key==='lineOfCredit'">-->
                    <!--<label>{{selOrder.selectedPayMentOptions.status}} <b>{{selOrder.selectedPayMentOptions.key}}</b></label>-->
                <!--</div>-->

                <!--<div ng-show="selOrder.selectedPayMentOptions.key==='payNow'">-->
                    <!--<label>{{selOrder.selectedPayMentOptions.status}} <b>{{selOrder.selectedPayMentOptions.key}}</b></label>-->
                <!--</div>-->
                <!--<div ng-show="selOrder.selectedPayMentOptions.key==='payOnDelivery'">-->
                    <!--<label>{{selOrder.selectedPayMentOptions.status}} <b>{{selOrder.selectedPayMentOptions.key}}</b></label>-->
                <!--</div>-->
                <!--<div ng-show="selOrder.selectedPayMentOptions.key==='installments'">-->
                    <!--<label>{{selOrder.selectedPayMentOptions.status}} <b>{{selOrder.selectedPayMentOptions.key}}</b></label>-->

                <!--</div>&ndash;&gt;-->
            <!--</div>-->



            <!--&lt;!&ndash;<div class="col-lg-12 lg m-top15">-->

                <!--<div class="col-lg-3">-->
                   <!--<button class="btn btn-save">Add</button>-->
                <!--</div>-->


            <!--</div>&ndash;&gt;-->

        <!--</div>-->


    <!--</div>-->
    <!--</div>-->
</div>
