<div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
    <div>
        <md-input-container class="md-block">
            <label>Select Payment Method</label>
        <md-select flex="50" md-on-open="orderPaymentTerms(selOrder._id)" ng-model="selOrder.applicablePaymentTerm.paymentTerm" ng-change="getChangedPaymentDetails(selOrder)" aria-label="Payment Terms">
            <md-option  id='PT_{{$index}}' ng-repeat="item in orderApplicableTerms track by $id(item)" ng-value="item">{{item.name}}</md-option>
        </md-select>
        </md-input-container>
        <!--<label ng-show="selOrder.currentStatus!=='Drafted'">{{selOrder.applicablePaymentTerm.name}}</label>-->
        <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>

            <div layout-padding flex="100" flex-xs="100" flex-sm="100"
                 ng-show="selOrder.applicablePaymentTerm && selOrder.applicablePaymentTerm.type==='Installments'" data-ng-init="getChangedPaymentDetails(selOrder)">

                <div  hide-xs
                     ng-show="selOrder.applicablePaymentTerm && selOrder.applicablePaymentTerm.paymentTerm && selOrder.applicablePaymentTerm.paymentTerm.type==='Installments'  && selOrder.applicablePaymentTerm.paymentTerm.installments.length>0"
                     layout="row" flex layout-xs='row'
                     layout-xs="column" layout-sm="row" layout-gt-lg="row"
                     layout-wrap>
                    <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="80">
                        <div class="bb-paymntopt-header" layout-padding layout="row"
                             flex layout-xs='row'
                             layout-xs="column" layout-sm="row" layout-gt-lg="row"
                             layout-wrap>
                            <div flex="30" flex-xs="100" flex-sm="30" flex-gt-lg="30">
                                <span>Payment Description</span>
                            </div>
                            <div flex="15" flex-xs="100" flex-sm="15" flex-gt-lg="15">
                                <span>Days</span>
                            </div>
                            <div flex="20" flex-xs="100" flex-sm="20"
                                 flex-gt-lg="30">
                                <span>Percentage ( % )</span>
                            </div>
                            <div flex="23" flex-xs="100" flex-sm="23"
                                 flex-gt-lg="10">
                                <span>Total ( &#8377; )</span>
                            </div>
                            <div flex="12" flex-xs="100" flex-sm="12">

                            </div>
                        </div>
                    </div>
                </div>
                <div
                     class="bb-pos-rel"
                     layout="row" flex layout-xs='row'
                     layout-xs="column" layout-sm="row" layout-gt-lg="row"
                     layout-wrap
                    ng-repeat="option in selOrder.applicablePaymentTerm.installmentPaymentDetails track by $id(option)">


                    <md-card flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="80">
                        <div class="bb-paymentopt bb-pos-rel" layout-margin
                             layout="row" flex
                             layout-xs='row' layout-xs="column" layout-sm="row"
                             layout-gt-lg="row" layout-wrap>

                            <div flex="30" flex-xs="100" flex-sm="30"
                                 flex-gt-lg="30">
                                <md-input-container
                                        class="md-block bb-container-cust">
                                    <label hide-gt-xs>Payment
                                        Description</label>
                                    <input ng-readonly="true" aria-label="description"
                                           ng-model="option.description">

                                </md-input-container>
                            </div>

                            <div flex="15" flex-xs="100" flex-sm="15"
                                 flex-gt-lg="25">
                                <md-input-container
                                        class="md-block bb-container-cust">
                                    <label hide-gt-xs>Days</label>

                                    <input ng-readonly="true" aria-label="days"
                                           ng-model="option.days">

                                </md-input-container>
                            </div>

                            <div flex="20" flex-xs="100" flex-sm="20"
                                 flex-gt-lg="15">
                                <md-input-container
                                        class="md-block bb-container-cust">
                                    <label hide-gt-xs>Percentage ( % )</label>
                                    <input ng-readonly="true" aria-label="percentage" ng-model="option.percentage">

                                </md-input-container>
                            </div>
                            <div flex="23" flex-xs="100" flex-sm="23"
                                 flex-gt-lg="20">
                                <md-input-container
                                        class="md-block bb-container-cust">
                                    <label hide-gt-xs>Total (&#8377;)</label>
                                    <input type="text" ng-model="option.amount" ng-readonly="true" aria-label="total">

                                </md-input-container>
                            </div>
                            <div flex="12" flex-xs="100" flex-sm="12">
                                <md-input-container
                                        class="md-block bb-container-cust">
                                    <md-icon  ng-show="selOrder.applicablePaymentTerm.paymentDetails[selOrder.applicablePaymentTerm.installmentPaymentDetails.indexOf(option)-1].status!=='YetToPay' && option.status==='YetToPay'" class="faa md-block"
                                    ng-click="paymentClick($index)">{{option.status==='YetToPay'?'Pay':option.status}}</md-icon>
                            <md-icon  ng-show="option.status==='Paid'" class="faa md-block" >{{option.status}}</md-icon>
                                </md-input-container></div>

                        </div>

                    </md-card>

                </div>

                <div ng-show="selectedTag">

                    <div ng-show="selOrder.applicablePaymentTerm.type==='Installments'">
                        <form>
                            <div layout-padding>
                                <div flex="50" flex-xs="100" flex-sm="25" flex-gt-lg="25">

                                 <!--   <select ng-show="(authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager')" ng-model="selectedOptions.paymentMode" data-placeholder="Payment Mode">
                                        <option ng-repeat="s in paymentModeSelected()" value="{{s.value}}">{{s.text}}</option>
                                    </select><i title="Payment information" class="fa fa-info-circle bb-text-blue"></i>

-->
                                    <md-input-container class="md-block">
                                        <label>Select Payment Mode</label>
                                    <md-select md-on-open="orderPaymentModes(selOrder._id)" ng-model="selectedOptions.paymentMode"   aria-label="Payment Modes">
                                        <md-option  id='Installment_{{$index}}' ng-repeat="item in orderApplicableModes track by $id(item)" ng-value="item">{{item.name}}</md-option>
                                    </md-select>
                                    </md-input-container>
                                </div>
                                <div flex="100" >
                                    <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                                        <div flex="20" flex-xs="100"><label>Total Amount : </label></div>
                                        <div flex="20" flex-xs="100"><input  type="text" class="bb-input-label" readonly
                                                                            value={{selectedOptions.amount}}></div>
                                    </div>


                                </div>
                                <div flex="100">
                                    <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                                        <div flex="20" flex-xs="100"><label>Pay To : </label></div>
                                        <div flex="20" flex-xs="100"><input type="text" class="bb-input-label" readonly
                                                                            value="{{selOrder.seller.contact.displayName}}">
                                        </div>
                                    </div>
                                </div>

                                <div flex="100">
                                    <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                                        <div flex="20" flex-xs="100"><label>Pay By : </label></div>
                                        <div flex="20" flex-xs="100"><input type="text" class="bb-input-label" readonly
                                                                            value="{{selOrder.buyer.contact.displayName}}">
                                        </div>
                                    </div>



                                </div>

                                <div ng-show="selectedOptions.paymentMode==='Cash'">


                                    <label><strong> Payment Date :</strong></label>
                                    <md-datepicker  ng-model="selectedOptions.paymentDate"  md-placeholder="Payment Date">
                                    </md-datepicker>


                                </div>


                                <div ng-show="selectedOptions.paymentMode==='Card'">

                                    <md-card>
                                        <md-list-item>
                                            <h5 class="bb-truncate">Net banking
                                                <md-tooltip>Net banking</md-tooltip>
                                            </h5>


                                        </md-list-item>
                                        <md-list-item>
                                            <h5 class="bb-truncate">Credit Card
                                                <md-tooltip>Credit Card</md-tooltip>
                                            </h5>


                                        </md-list-item>
                                        <md-list-item>
                                            <h5 class="bb-truncate">Debit Card
                                                <md-tooltip>Debit Card</md-tooltip>
                                            </h5>


                                        </md-list-item>
                                    </md-card>
                                    <!-- </td>-->

                                </div>


                            </div>

                            <md-card layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
                                     layout-wrap ng-show="selectedOptions.paymentMode==='Cheque'">

                                <div flex="100" flex-xs="100">

                                    <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                                        <div flex="25" flex-xs="100" flex-sm="50"><label>Cheque No :</label></div>
                                        <div flex="25" flex-xs="100" flex-sm="50"><input ng-disabled="selectedOptions.status==='Paid'" type="text" class="bb-input-label"
                                                                                         ng-model="selectedOptions.referenceNumber"
                                                                                         placeholder="Cheque referenceNumber"></div>
                                    </div>
                                </div>

                                <!--<md-input-container>-->
                                <div flex="100" flex-xs="100">
                                    <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                                        <div flex="25" flex-xs="100" flex-sm="50"><label>Cheque Date :</label></div>
                                        <div flex="25" flex-xs="100" flex-sm="50">
                                            <md-datepicker ng-disabled="selectedOptions.status==='Paid'" ng-model="selectedOptions.paymentDate"
                                                           md-placeholder="Cheque Date">
                                            </md-datepicker>
                                        </div>
                                    </div>

                                    <!--<label>Cheque Date :</label>-->
                                    <!--<md-datepicker  ng-model="selOrder.selectedPayMentOptions.paymentDate"  md-placeholder="Cheque Date">-->
                                    <!--</md-datepicker></strong>-->
                                </div>
                                <!--</md-input-container>-->
                                <div flex="100" flex-xs="100">
                                    <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                                        <div flex="25" flex-xs="100" flex-sm="50"><label>Drawee Bank :</label></div>
                                        <div flex="25" flex-xs="100" flex-sm="50"><input ng-disabled="selectedOptions.status==='Paid'" type="text" class="bb-input-label"
                                                                                         ng-model="selectedOptions.bankName"
                                                                                         placeholder="Drawee Bank"></div>
                                    </div>

                                    <!--<label>Drawee Bank :</label>-->
                                    <!--<input type="text" class="bb-input-label" ng-model="selOrder.selectedPayMentOptions.bankName"  md-placeholder="Drawee Bank">-->
                                    <!--</input>-->
                                </div>

                                <div flex="100" flex-xs="100">
                                    <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                                        <div flex="25" flex-xs="100" flex-sm="50"><label>Drawee Bank Branch :</label></div>
                                        <div flex="25" flex-xs="100" flex-sm="50"><input ng-disabled="selectedOptions.status==='Paid'" type="text" class="bb-input-label"
                                                                                         ng-model="selectedOptions.bankBranchName"
                                                                                         placeholder="Drawee Bank Branch"></div>
                                    </div>

                                    <!--<label>Drawee Bank Branch :</label>-->
                                    <!--<input type="text" class="bb-input-label" ng-model="selOrder.selectedPayMentOptions.bankBranchName"  placeholder="Drawee Bank Branch">-->


                                </div>
                            </md-card>


                            <md-card layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
                                     layout-wrap
                                     ng-show="selectedOptions.paymentMode==='NEFT' || selectedOptions.paymentMode==='IMPS' || selectedOptions.paymentMode==='RTGS'">
                                <div flex="100">

                                    <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                                        <div flex="25" flex-xs="100" flex-sm="50"><label>Reference No :</label></div>
                                        <div flex="25" flex-xs="100" flex-sm="50"><input ng-disabled="selectedOptions.status==='Paid'" type="text" class="bb-input-label"
                                                                                         ng-model="selectedOptions.referenceNumber"
                                                                                         placeholder="Reference Number"></div>
                                    </div>

                                    <!--<label>Reference No :</label>-->
                                    <!--&lt;!&ndash; <span class="input-group-addon text-left"><strong> Cheque No :</strong></span>&ndash;&gt;-->
                                    <!--<input type="text" class="bb-input-label"  ng-model="selOrder.selectedPayMentOptions.referenceNumber"  md-placeholder="Reference Number">-->
                                    <!--</input>-->

                                </div>

                                <div flex="100">
                                    <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                                        <div flex="25" flex-xs="100" flex-sm="50"><label>Payment Date :</label></div>
                                        <div flex="25" flex-xs="100" flex-sm="50">
                                            <md-datepicker ng-disabled="selectedOptions.status==='Paid'" ng-model="selectedOptions.paymentDate"
                                                           md-placeholder="Payment Date">
                                            </md-datepicker>
                                        </div>
                                    </div>

                                    <!--<label>Payment Date :</label>-->
                                    <!--<md-datepicker ng-model="selOrder.selectedPayMentOptions.paymentDate"  md-placeholder="Payment Date">-->
                                    <!--</md-datepicker></strong>-->
                                </div>
                                <div flex="100">
                                    <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                                        <div flex="25" flex-xs="100" flex-sm="50"><label>Drawee Bank :</label></div>
                                        <div flex="25" flex-xs="100" flex-sm="50"><input ng-disabled="selectedOptions.status==='Paid'" type="text" class="bb-input-label"
                                                                                         ng-model="selectedOptions.bankName"
                                                                                         placeholder="Drawee Bank"></div>
                                    </div>

                                    <!--<label>Drawee Bank :</label>-->
                                    <!--<input type="text" class="bb-input-label" ng-model="selOrder.selectedPayMentOptions.bankName"  md-placeholder="Drawee Bank">-->
                                    <!--</input>-->

                                </div>
                                <div flex="100">
                                    <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                                        <div flex="25" flex-xs="100" flex-sm="50"><label>Drawee Bank Branch :</label></div>
                                        <div flex="25" flex-xs="100" flex-sm="50"><input ng-disabled="selectedOptions.status==='Paid'" type="text" class="bb-input-label"
                                                                                         ng-model="selectedOptions.bankBranchName"
                                                                                         placeholder="Drawee Bank Branch"></div>
                                    </div>

                                    <!--<label>Drawee Bank Branch :</label>-->
                                    <!--<input type="text" class="bb-input-label" ng-model="selOrder.selectedPayMentOptions.bankBranchName"  md-placeholder="Drawee Bank Branch">-->
                                    <!--</input>-->

                                </div>

                            </md-card>

                            <div ng-show="selectedOptions.paymentMode!=='Card' && (authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager')">
                                <div flex="75" flex-xs="100" flex-sm="100">
                                    <label class="input-group-addon bb-text-left"><strong>Order Payment Comments :</strong>
                    <textarea placeholder="Enter Your Order Payment Comments"
                              ng-model="selectedOptions.comments"  rows="4" cols="40"
                              class="form-control bb-m-top15 bb-resize"
                              maxlength="1024"></textarea>
                                    </label>
                                </div>
                            </div>
                            <div flex="100" ng-show="selectedOptions.status!=='Paid' && selOrder.currentStatus!=='Drafted' && (authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager')">
                                <div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
                                     layout-wrap>
                                    <div flex="33" flex-xs="100" flex-sm="33" flex-gt-lg="15">
                                        <md-button class="md-raised md-accent bb-wid-100">Reset</md-button>
                                    </div>
                                    <div flex="33" flex-xs="100" flex-sm="33" flex-gt-lg="15">
                                        <md-button class="md-raised md-accent bb-wid-100" aria-hidden="true"
                                                   ng-click="orderUpdateFields();clearPaymentData();">
                                            Cancel
                                        </md-button>
                                    </div>
                                    <div flex="33" flex-xs="100" flex-sm="33" flex-gt-lg="15">
                                        <md-button class="md-raised md-primary bb-wid-100"
                                                   ng-click="updateOrderStatus(false);">Make
                                            Payment
                                        </md-button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>

            <div flex="100" flex-xs="100" flex-sm="100" layout-wrap ng-show="selOrder.selectedPayMentOptions && selOrder.selectedPayMentOptions.type && selOrder.selectedPayMentOptions.type!=='Installments'">
               <!-- // (selectedTag && selectedPaymentIndex===0)) ||-->
                <div ng-show="(selOrder.selectedPayMentOptions.type==='PayNow' || selOrder.currentStatus!=='Drafted')">
                    <form>
                        <div layout-padding>
                            <div flex="50" flex-xs="100" flex-sm="70" >
                                <md-input-container class="md-block">
                                    <label>Select Payment Mode</label>
                                <md-select ng-disabled="getDisabledMode(selOrder)" md-on-open="orderPaymentModes(selOrder._id)" ng-model="selOrder.selectedPayMentOptions.paymentMode"   aria-label="Payment Modes">
                                    <md-option  id='PM_{{$index}}' ng-repeat="item in orderApplicableModes track by $id(item)" ng-value="item">{{item.name}}</md-option>
                                </md-select>
                                </md-input-container>
                            </div>
                            <div flex="100" >
                                <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                                    <div flex="20" flex-xs="100"><label>Total Amount : </label></div>
                                    <div flex="20" flex-xs="100"><input ng-disabled="getDisabledMode(selOrder)" type="text" class="bb-input-label" readonly
                                                                        ng-value="paymentDiscount(selOrder,false)"></div>
                                </div>


                            </div>
                            <div flex="100" ng-show="selOrder.selectedPayMentOptions.type==='PayOnDelivery'">
                                <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                                    <div flex="20" flex-xs="100"><label>Discount Amount : </label></div>
                                    <div flex="20" flex-xs="100"><input ng-disabled="getDisabledMode(selOrder)" type="text" class="bb-input-label" readonly
                                                                        ng-value="paymentDiscount(selOrder,true)"></div>
                                </div>


                            </div>
                            <div flex="100">
                                <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                                    <div flex="20" flex-xs="100"><label>Pay To : </label></div>
                                    <div flex="20" flex-xs="100"><input ng-disabled="getDisabledMode(selOrder)" type="text" class="bb-input-label" readonly
                                                                        value="{{selOrder.seller.contact.displayName}}">
                                    </div>
                                </div>
                            </div>

                            <div flex="100">
                                <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                                    <div flex="20" flex-xs="100"><label>Pay By : </label></div>
                                    <div flex="20" flex-xs="100"><input ng-disabled="getDisabledMode(selOrder)" type="text" class="bb-input-label" readonly
                                                                        value="{{selOrder.buyer.contact.displayName}}">
                                    </div>
                                </div>



                            </div>

                            <div ng-show="selOrder.selectedPayMentOptions.paymentMode==='Cash'">


                                <label><strong> Payment Date :</strong></label>
                                <md-datepicker ng-disabled="getDisabledMode(selOrder)" ng-model="selOrder.selectedPayMentOptions.paymentDate"  md-placeholder="Payment Date">
                                </md-datepicker>


                            </div>


                            <div ng-show="selOrder.selectedPayMentOptions.paymentMode==='Card'">

                                <md-card>
                                    <md-list-item>
                                        <h5 class="bb-truncate">Net banking
                                            <md-tooltip>Net banking</md-tooltip>
                                        </h5>


                                    </md-list-item>
                                    <md-list-item>
                                        <h5 class="bb-truncate">Credit Card
                                            <md-tooltip>Credit Card</md-tooltip>
                                        </h5>


                                    </md-list-item>
                                    <md-list-item>
                                        <h5 class="bb-truncate">Debit Card
                                            <md-tooltip>Debit Card</md-tooltip>
                                        </h5>


                                    </md-list-item>
                                </md-card>
                                <!-- </td>-->

                            </div>


                        </div>

                        <md-card layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
                                 layout-wrap ng-show="selOrder.selectedPayMentOptions.paymentMode==='Cheque'">

                            <div flex="100" flex-xs="100">

                                <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                                    <div flex="25" flex-xs="100" flex-sm="50"><label>Cheque No :</label></div>
                                    <div flex="25" flex-xs="100" flex-sm="50"><input ng-disabled="selOrder.selectedPayMentOptions.status==='Paid'" type="text" class="bb-input-label"
                                                                                     ng-model="selOrder.selectedPayMentOptions.referenceNumber"
                                                                                     placeholder="Check referenceNumber"></div>
                                </div>
                            </div>

                            <!--<md-input-container>-->
                            <div flex="100" flex-xs="100">
                                <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                                    <div flex="25" flex-xs="100" flex-sm="50"><label>Cheque Date :</label></div>
                                    <div flex="25" flex-xs="100" flex-sm="50">
                                        <md-datepicker ng-disabled="getDisabledMode(selOrder)" ng-model="selOrder.selectedPayMentOptions.paymentDate"
                                                       md-placeholder="Cheque Date">
                                        </md-datepicker>
                                    </div>
                                </div>

                                <!--<label>Cheque Date :</label>-->
                                <!--<md-datepicker  ng-model="selOrder.selectedPayMentOptions.paymentDate"  md-placeholder="Cheque Date">-->
                                <!--</md-datepicker></strong>-->
                            </div>
                            <!--</md-input-container>-->
                            <div flex="100" flex-xs="100">
                                <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                                    <div flex="25" flex-xs="100" flex-sm="50"><label>Drawee Bank :</label></div>
                                    <div flex="25" flex-xs="100" flex-sm="50"><input ng-disabled="selOrder.selectedPayMentOptions.status==='Paid'" type="text" class="bb-input-label"
                                                                                     ng-model="selOrder.selectedPayMentOptions.bankName"
                                                                                     placeholder="Drawee Bank"></div>
                                </div>

                                <!--<label>Drawee Bank :</label>-->
                                <!--<input type="text" class="bb-input-label" ng-model="selOrder.selectedPayMentOptions.bankName"  md-placeholder="Drawee Bank">-->
                                <!--</input>-->
                            </div>

                            <div flex="100" flex-xs="100">
                                <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                                    <div flex="25" flex-xs="100" flex-sm="50"><label>Drawee Bank Branch :</label></div>
                                    <div flex="25" flex-xs="100" flex-sm="50"><input ng-disabled="selOrder.selectedPayMentOptions.status==='Paid'" type="text" class="bb-input-label"
                                                                                     ng-model="selOrder.selectedPayMentOptions.bankBranchName"
                                                                                     placeholder="Drawee Bank Branch"></div>
                                </div>

                                <!--<label>Drawee Bank Branch :</label>-->
                                <!--<input type="text" class="bb-input-label" ng-model="selOrder.selectedPayMentOptions.bankBranchName"  placeholder="Drawee Bank Branch">-->


                            </div>
                        </md-card>


                        <md-card layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
                                 layout-wrap
                                 ng-show="selOrder.selectedPayMentOptions.paymentMode &&(selOrder.selectedPayMentOptions.paymentMode.name==='NEFT' || selOrder.selectedPayMentOptions.paymentMode.name==='IMPS' || selOrder.selectedPayMentOptions.paymentMode.name==='RTGS')">
                            <div flex="100">

                                <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                                    <div flex="25" flex-xs="100" flex-sm="50"><label>Reference No :</label></div>
                                    <div flex="25" flex-xs="100" flex-sm="50"><input ng-disabled="getDisabledMode(selOrder)" type="text" class="bb-input-label"
                                                                                     ng-model="selOrder.selectedPayMentOptions.referenceNumber"
                                                                                     placeholder="Reference Number"></div>
                                </div>

                                <!--<label>Reference No :</label>-->
                                <!--&lt;!&ndash; <span class="input-group-addon text-left"><strong> Cheque No :</strong></span>&ndash;&gt;-->
                                <!--<input type="text" class="bb-input-label"  ng-model="selOrder.selectedPayMentOptions.referenceNumber"  md-placeholder="Reference Number">-->
                                <!--</input>-->

                            </div>

                            <div flex="100">
                                <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                                    <div flex="25" flex-xs="100" flex-sm="50"><label>Payment Date :</label></div>
                                    <div flex="25" flex-xs="100" flex-sm="50">
                                        <md-datepicker ng-disabled="getDisabledMode(selOrder)" ng-model="selOrder.selectedPayMentOptions.paymentDate"
                                                       md-placeholder="Payment Date">
                                        </md-datepicker>
                                    </div>
                                </div>

                                <!--<label>Payment Date :</label>-->
                                <!--<md-datepicker ng-model="selOrder.selectedPayMentOptions.paymentDate"  md-placeholder="Payment Date">-->
                                <!--</md-datepicker></strong>-->
                            </div>
                            <div flex="100">
                                <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                                    <div flex="25" flex-xs="100" flex-sm="50"><label>Drawee Bank :</label></div>
                                    <div flex="25" flex-xs="100" flex-sm="50"><input ng-disabled="getDisabledMode(selOrder)" type="text" class="bb-input-label"
                                                                                     ng-model="selOrder.selectedPayMentOptions.bankName"
                                                                                     placeholder="Drawee Bank"></div>
                                </div>

                                <!--<label>Drawee Bank :</label>-->
                                <!--<input type="text" class="bb-input-label" ng-model="selOrder.selectedPayMentOptions.bankName"  md-placeholder="Drawee Bank">-->
                                <!--</input>-->

                            </div>
                            <div flex="100">
                                <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                                    <div flex="25" flex-xs="100" flex-sm="50"><label>Drawee Bank Branch :</label></div>
                                    <div flex="25" flex-xs="100" flex-sm="50"><input ng-disabled="getDisabledMode(selOrder)" type="text" class="bb-input-label"
                                                                                     ng-model="selOrder.selectedPayMentOptions.bankBranchName"
                                                                                     placeholder="Drawee Bank Branch"></div>
                                </div>

                            </div>

                        </md-card>

                        <div ng-show="selOrder.selectedPayMentOptions.paymentMode!=='Card' && (authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager')">
                            <div flex="75" flex-xs="100" flex-sm="100">
                                <label class="input-group-addon bb-text-left"><strong>Order Payment Comments :</strong>
                                    <textarea placeholder="Enter Your Order Payment Comments"
                              ng-model="selOrder.selectedPayMentOptions.comments" ng-disabled="getDisabledMode(selOrder)" id="paycomments" rows="4" cols="40"
                              class="form-control bb-m-top15 bb-resize" id="paymentComments"
                              maxlength="1024"></textarea>
                                </label>
                            </div>
                        </div>
                        <div flex="100" ng-show="selOrder.selectedPayMentOptions.type!=='PayNow' && selOrder.selectedPayMentOptions.paymentDetails.status!=='Paid' && (authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager')">
                            <div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
                                 layout-wrap>
                                <div flex="33" flex-xs="100" flex-sm="33" flex-gt-lg="15">
                                    <md-button class="md-raised md-accent bb-wid-100">Reset</md-button>
                                </div>
                                <div flex="33" flex-xs="100" flex-sm="33" flex-gt-lg="15">
                                    <md-button class="md-raised md-accent bb-wid-100" aria-hidden="true"
                                               ng-click="selOrder.onchangespaymentstatus=false;orderUpdateFields();clearPaymentData();">
                                        Cancel
                                    </md-button>
                                </div>
                                <div flex="33" flex-xs="100" flex-sm="33" flex-gt-lg="15">
                                    <md-button class="md-raised md-primary bb-wid-100"
                                               ng-click="updateOrderStatus(false);">Make
                                        Payment
                                    </md-button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
