<section data-ng-controller="OrdersController" data-ng-init="findOne();" ng-show="order.currentStatus!=='Drafted'"
		 xmlns="http://www.w3.org/1999/html">

	<div class="page-header">
		<h1>View Order</h1>
	</div>
	<ul class="nav nav-tabs customtab" ng-show="order.currentStatus !=='Placed'">
		<li class="active"><a href="#tab1" data-toggle="tab">{{order.currentStatus}} Order</a></li>
		<li><a href="#tab2" data-toggle="tab">Addressess</a></li>
		<!--<li><a href="#tab3" data-toggle="tab">Shipping Address</a></li>-->
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id='tab1'>
			<div class="form-horizontal" data-ng-init="findContacts();">
				<!--	<div class="form-group">
                        <a title="Edit Order" class="btn pull-right">
                            <i class="glyphicon glyphicon-edit"></i> Edit Order
                        </a>
                        </div>-->
				<div class="form-group">
					<div class="col-sm-2">

						<label class="control-label">Order Number</label>
					</div>
					<div class="col-sm-2">
						<b><span  data-ng-bind="order.orderNumber"></span></b>
					</div>

				</div>
				<div class="form-group">
					<div class="col-sm-2">
						<label class="control-label">Order Type</label>
					</div>
					<div class="col-sm-2">
						<span  data-ng-bind="order.orderType"></span>
					</div>

				</div>
				<div class="form-group">
					<div class="col-sm-2">
						<label class="control-label">Buyer</label>
					</div>
					<div class="col-sm-2">
						<span data-ng-bind="order.buyer.contact.firstName +' '+order.buyer.contact.lastName"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2">
						<label class="control-label">Seller</label>
					</div>
					<div class="col-sm-2">
						<span data-ng-bind="order.seller.contact.firstName +' '+order.seller.contact.lastName"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2">
						<label class="control-label">Mediator/Agent</label>
					</div>
					<div class="col-sm-2">
						<span data-ng-bind="order.mediator.contact.firstName +' '+order.mediator.contact.lastName"></span>
					</div>


				</div>
				<div class="form-group">
					<div class="col-sm-2">
						<label class="control-label">Order Status</label>
					</div>
					<div class="col-sm-2">
						<span data-ng-bind="order.currentStatus" ></span>
					</div>

					<button ng-show="order.changeStatusDisplay" ng-click="order.onchangestatus=true;clearStatusData();" class="btn btn-primary">Update Status</button>
				</div>
				<div class="form-group" ng-show="order.onchangestatus">
					<form class="form-horizontal" name="statusForm" data-ng-submit="updateOrderStatus(true);onchangestatus=false">
						<fieldset>
							<table class="table table-bordered table-hover table-condensed">
								<thead>
								<tr>
									<th>Order Status</th>
									<th>Order Status Comments</th>
									<th></th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>
										<select name="currentStatus" ng-model="currentStatus" ng-options="s.value as s.text for s in order.statusArray">
											<option value="" selected="selected">Select</option>
										</select>
									</td>
									<td>
										<textarea ng-model="statusComments" class="form-control" rows="1" id="statusComments"></textarea>
									</td>
									<td>
										<div class="btn-form">
											<button type="submit" class="btn btn-primary" data-ng-click="reset(statusForm);">Submit</button>
											<input type="button" value="Cancel" class="btn btn-primary" data-ng-click="order.onchangestatus=false;orderUpdateFields();clearStatusData();">
										</div>
									</td>
								</tr></tbody></table>
						</fieldset>
					</form>
				</div>

				<div class="form-group">
					<div class="col-sm-2">
						<label class="control-label">Payment Status</label>
					</div>
					<div class="col-sm-2">
						<span data-ng-bind="order.paymentStatus"></span>
					</div>
					<button ng-show="order.changePaymentDisplay" ng-click="order.onchangespaymentstatus=true;clearPaymentData();"  class="btn btn-primary">Update Status</button>
				</div>
				<div class="form-group" ng-show="order.onchangespaymentstatus">

					<form class="form-horizontal" name="paymentForm" data-ng-submit="updateOrderStatus(false);">
						<fieldset>
							<table class="table table-bordered table-hover table-condensed">
								<thead>
								<tr>
									<th>Payment Status</th>
									<th>Payment Type</th>
									<th>Amount</th>
									<th>Payment Comments</th>
									<th></th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>
										<select ng-model="paymentStatus" name="paymentStatus" ng-options="s.value as s.text for s in order.paymentArray">
											<option value="" selected="selected">Select</option>
										</select>

									</td>

									<td>

										<select ng-model="paymentMode" name="paymentMode" ng-options="s.value as s.text for s in paymentType" chosen="chosen-select" >
											<option value="" selected="selected">Select</option>
										</select>

									</td>
									<td>
										<input ng-model="amount" name="amount" class="form-control" is-number>

									</td>
									<td>

										<textarea ng-model="paymentComments" class="form-control" rows="1" id="paymentComments"></textarea>

									</td>
									<td>

										<button type="submit" class="btn btn-primary" data-ng-click="reset(paymentForm);">Submit</button>
										<input type="button" value="Cancel" data-ng-click="order.onchangespaymentstatus=false;orderUpdateFields();clearPaymentData();" class="btn btn-primary">
									</td>
								</tr>
								</tbody>
							</table>
						</fieldset>
					</form>
				</div>
				<div class="form-group">
					<div class="col-sm-2">
						<label class="control-label" >Delivery Date</label>
					</div>
					<div class="col-sm-2">
						<span> {{order.deliveryDate | date:"dd-MM-yyyy"}}</span>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-2">
						<label class="control-label" >Paid Amount</label>
					</div>
					<div class="col-sm-2">
						<span> {{order.paidAmount |currency:' &#8377;  '}}</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2">
						<label class="control-label" >Balance</label>
					</div>
					<div class="col-sm-2">
						<span> {{amount |currency:' &#8377;  '}}</span>
					</div>
				</div>
			</div>
			<form editable-form name="updateform" onaftersave="update()"  oncancel="cancel()"
				  novalidate>
				<fieldset>
					<div class="panel panel-default">

						<div class="panel panel-default table-responsive" data-ng-init="findProducts();">
							<div class="panel-heading"><h4><span class="label label-primary">Products</span></h4></div>
							<table class="table table-bordered table-hover table-condensed">
								<thead>
								<tr>
									<th>Product Name</th>
									<!--<th>Product Category</th>-->
									<!--<th>Sample Number</th>-->
									<th>Unit Size</th>
									<th>Unit Measure</th>
									<th>Unit Price ( &#8377; )</th>
									<th>No Units</th>
									<th>Quantity</th>
									<th>Price</th>
								</tr>
								</thead>
								<tbody>
								<tr ng-repeat="product in order.products track by $id(product)">
									<!-- <tr ng-repeat="prod in order.products track by $index">
                                         <td><span data-ng-bind="prod.product.name"></span></td>
                                         <td><span data-ng-bind="prod.product.subCategory"></span></td>
                                         <td><span data-ng-bind="prod.sampleNumber"></span></td>
                                         <td><span data-ng-bind="prod.unitSize"></span></td>
                                         <td><span data-ng-bind="prod.unitMeasure"></span></td>
                                         <td><span data-ng-bind="prod.unitPrice"></span></td>
                                         <td><span data-ng-bind="prod.numberOfUnits"></span></td>
                                         <td><span data-ng-bind="prod.unitSize*prod.numberOfUnits"></span></td>
                                         <td><span data-ng-bind="prod.unitPrice*prod.numberOfUnits"></span></td>
                                     </tr>-->
									<!--<td>
                                        <span ng-show="!updateform.$visible" data-ng-bind="product.product.name" e-form="updateform"></span>
                                                <span  ng-show="updateform.$visible" editable-text="product.product"  e-typeahead-on-select="selectProduct($item, $index);"
                                                       e-name="name"
                                                       e-typeahead="metaProduct as metaProduct.name for metaProduct in filterByProductName(metaProducts, $viewValue)"
                                                       e-form="updateform" e-autocomplete="off">
                          {{ product.name || 'empty' }}</span></td>
                                    <td>
                                        <span ng-show="!updateform.$visible" data-ng-bind="product.product.Category" e-form="updateform"></span>
                                                <span ng-show="updateform.$visible" editable-text="product.product.Category" e-name="subCategory" e-form="updateform" e-readonly>
                          {{ product.subCategory || 'empty' }}</span></td>
                                    <td>
                                        <span ng-show="!updateform.$visible" data-ng-bind="product.sampleNumber" e-form="updateform"></span>
                                                <span ng-show="updateform.$visible" editable-text="product.sampleNumber" e-ng-bind="product.sampleNumber" e-ng-change="changeProductSampleNumber($index,this);" e-name="sampleNumber" e-form="updateform">
                          {{ product.sampleNumber || 'empty' }}</span>
                                    </td>
                                    <td>
                                        <span ng-show="!updateform.$visible" data-ng-bind="product.unitSize" e-form="updateform"></span>
                                                <span ng-show="updateform.$visible" editable-text="product.unitSize" e-ng-change="changeProductUnitSize($index,this);" e-name="unitSize" e-form="updateform">
                          {{ product.unitSize || 'empty' }}</span>
                                    </td>
                                    <td>
                                        <span ng-show="!updateform.$visible" data-ng-bind="product.unitMeasure" e-form="updateform"></span>
                                                <span ng-show="updateform.$visible" editable-text="product.unitMeasure" e-ng-change="changeProductUnitMeasure($index,this);" e-name="unitMeasure" e-form="updateform">
                                                {{ product.unitMeasure || 'empty' }}</span>
                                    </td>
                                    <td>
                                        <span ng-show="!updateform.$visible" data-ng-bind="product.unitPrice |currency:'&#8377;'" e-form="updateform"></span>
                                                <span ng-show="updateform.$visible" editable-text="product.unitPrice"  e-name="unitPrice" e-ng-change="changeProductUnitPrice($index,this);"
                                                      e-form="updateform">{{ product.unitPrice || 'empty'}}
                                            </span></td>
                                    <td>
                                        <span ng-show="!updateform.$visible" data-ng-bind="product.numberOfUnits" e-form="updateform"></span>
                                                <span ng-show="updateform.$visible" editable-text="product.numberOfUnits" e-ng-change="changeProductNumberOfUnits($index,this);"
                                                      e-name="numberOfUnits"
                                                      e-form="updateform">{{ product.numberOfUnits || 'empty'}}</span></td>
                                    <td>
                                        <span ng-show="!updateform.$visible" data-ng-bind="product.unitSize*product.numberOfUnits"></span>
                                        <span ng-show="updateform.$visible" e-form="updateform"> {{product.unitSize*product.numberOfUnits}}</span>
                                    </td>
                                    <td>
                                        <span ng-show="!updateform.$visible" data-ng-bind="product.unitPrice*product.numberOfUnits |currency:'&#8377;'"></span>
                                        <span ng-show="updateform.$visible" e-form="updateform"> {{product.unitPrice*product.numberOfUnits |currency:'&#8377;' }}</span>
                                    </td>
                                    <td ng-show="updateform.$visible">
                                        <button type="button" ng-show="updateform.$visible" ng-click="order.products.splice($index, 1)"
                                                class="btn btn-danger pull-right">-
                                        </button>
                                    </td>
                                </tr>-->
									<td>
										<!--	<span ng-show="!updateform.$visible" data-ng-bind="product.product.name" e-form="updateform"></span>-->
						      <span ng-show="!updateform.$visible">
                                    <div>
										<img data-ng-src="{{product.product.productImageURL1}}" alt="{{product.product.name}}"
											 class="img-thumbnail product-profile-picture">
									</div>
                                   <a data-ng-href="products/{{product.product._id}}{{((authentication.user) && (authentication.user._id == product.product.user))?'/edit':''}}">{{product.product.name}}</a>
                                </span>
                                <span  ng-show="updateform.$visible" editable-text="product.product"  e-typeahead-on-select="selectProduct($item, $index);"
									   e-name="name"
									   e-typeahead="metaProduct as metaProduct.name for metaProduct in filterByProductName(metaProducts, $viewValue)"
									   e-form="updateform" e-autocomplete="off">
          {{ product.name || 'empty' }}</span></td>
									<!--	<td>
                                            <span data-ng-bind="product.product.category" e-form="updateform"></span>
                                                  &lt;!&ndash;  <span ng-show="updateform.$visible" editable-text="product.product.category" e-name="category" e-form="updateform" e-readonly>
                              {{ product.category || 'empty' }}</span>&ndash;&gt;</td>
                                        &lt;!&ndash;<td>
                                            <span ng-show="!updateform.$visible" data-ng-bind="product.sampleNumber" e-form="updateform"></span>
                                                    <span ng-show="updateform.$visible" editable-text="product.sampleNumber" e-ng-bind="product.sampleNumber" e-ng-change="changeProductSampleNumber($index,this);" e-name="sampleNumber" e-form="updateform">
                              {{ product.sampleNumber || 'empty' }}</span>
                                        </td>&ndash;&gt;-->
									<td>
										<span data-ng-bind="product.product.unitSize" e-form="updateform"></span>
										<!--  <span ng-show="updateform.$visible" editable-text="product.product.unitSize" e-ng-change="changeProductUnitSize($index,this);" e-name="unitSize" e-form="updateform">
                    {{ product.unitSize || 'empty' }}</span>-->
									</td>
									<td>
										<span data-ng-bind="product.product.unitMeasure" e-form="updateform"></span>
										<!--  <span ng-show="updateform.$visible" editable-text="product.product.unitMeasure" e-ng-change="changeProductUnitMeasure($index,this);" e-name="unitMeasure" e-form="updateform">
                                          {{ product.unitMeasure || 'empty' }}</span>-->
									</td>
									<td>
										<span data-ng-bind="product.unitPrice" e-form="updateform"></span>
                               <!-- <span ng-show="updateform.$visible" editable-text="product.unitPrice"  e-name="unitPrice" e-ng-change="changeProductUnitPrice($index,this);"
									  e-form="updateform">{{ product.unitPrice || 'empty'}}
                            </span>--></td>
									<td>
										<span ng-show="!updateform.$visible" data-ng-bind="product.numberOfUnits " e-form="updateform"></span>
                                <span ng-show="updateform.$visible" editable-text="product.numberOfUnits" e-ng-change="changeProductNumberOfUnits($index,this);"
									  e-name="numberOfUnits"
									  e-form="updateform">{{ product.numberOfUnits || 'empty'}}</span></td>
									<td>
										<span ng-show="!updateform.$visible" data-ng-bind="product.product.unitSize*product.numberOfUnits"></span>
										<span ng-show="updateform.$visible" e-form="updateform"> {{product.product.unitSize*product.numberOfUnits}}</span>
									</td>
									<td>
										<span data-ng-bind="product.unitPrice*product.numberOfUnits |currency:' &#8377; '"></span>
										<!--<span ng-show="updateform.$visible" e-form="updateform"> {{product.unitPrice*product.numberOfUnits |currency:'&#8377;'}}</span>-->
									</td>
									<td ng-show="updateform.$visible">
										<button type="button" ng-show="updateform.$visible" ng-click="order.products.splice($index, 1);"
												class="btn btn-danger pull-right">-
										</button>
									</td>
								</tr>

								</tbody>
							</table>
						</div>
		<span class="pull-right" ng-show="order.products.length>0">
			<!--<tr>
				<td>-->

					<label class="control-label" >Total Price: {{totalPriceFormatter() | currency:'  &#8377; '}}</label>

			<!--</td>
        </tr>-->
		</span>
					</div>

					<div class="clearboth form-group">
						<div class="btn-form">
							<button ng-show="updateform.$visible" type="button" class="btn btn-default pull-right"
									ng-click="updateProducts(order);">
								ADD Products
							</button>
							<!--	<div ng-show="order.createduser===true" ng-init="updateform.$show();">	</div>-->
							<button ng-show="!updateform.$visible && order.currentStatus==='Placed' && order.createduser" type="button" class="btn btn-default pull-right"
									ng-click="updateform.$show();updateProduct(order);">
								Edit Products
							</button>
							<button type="submit" class="btn btn-primary" ng-show="order.currentStatus==='Placed' && order.createduser">Place Order</button>
							<button type="submit" class="btn btn-primary" ng-show="order.currentStatus==='Placed' && !order.createduser" ng-click="order.currentStatus='Confirmed'">Confirm Order</button>
							<button type="button" ng-show="order.currentStatus==='Placed'" ng-click="clearFields();orderRedirection();"
									class="btn btn-default">Cancel
							</button>
						</div>
					</div>
					<div data-ng-show="error" class="text-danger">
						<strong data-ng-bind="error"></strong>
					</div>

				</fieldset>
			</form>

			<div class="form-group">

				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments</a></li>
					<li role="presentation"><a href="#payments-history" aria-controls="paymentOptions-history"
											   role="tab" data-toggle="tab">Payment History</a></li>
					<li role="presentation"><a href="#status-history" aria-controls="status-history" role="tab" data-toggle="tab">Status History</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="comments" data-ng-init="findOrderMessages()">
						<div class="media" ng-repeat="orderMessage in orderMessages track by $id(orderMessage)">
							<div class="media-left"
								 data-ng-show="((authentication.user) && (authentication.user._id != orderMessage.user._id))">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<img data-ng-src="{{orderMessage.user.profileImageURL}}"
										 alt="{{orderMessage.user.displayName}}" class="media-object"
										 style="width: 64px; height: 64px;"/>
								</a>
							</div>
							<div class="media-body"
								 data-ng-show="((authentication.user) && (authentication.user._id != orderMessage.user._id))">
								<h4 class="media-heading">{{orderMessage.user.displayName}}</h4>
								{{orderMessage.body}}
							</div>

							<div class="media-body"
								 data-ng-show="((authentication.user) && (authentication.user._id == orderMessage.user._id))">
								<h4 class="media-heading text-right">{{authentication.user.displayName}}</h4>
								{{orderMessage.body}}
							</div>
							<div class="media-right"
								 data-ng-show="((authentication.user) && (authentication.user._id == orderMessage.user._id))">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<img data-ng-src="{{authentication.user.profileImageURL}}"
										 alt="{{authentication.user.displayName}}" class="media-object"
										 style="width: 64px; height: 64px;"/>
								</a>
							</div>
						</div>
						<form class="form-horizontal" name="commentsForm" data-ng-submit="createMessage(order._id)">
							<div class="form-group">
								<label for="comment">Comment:</label>
								<textarea data-ng-model="body" class="form-control" rows="5" id="comment"></textarea>
							</div>
							<div class="form-group">
								<button type="submit" ng-disabled="commentsForm.$waiting" class="btn btn-primary">Save Comments
								</button>

							</div>
						</form>
					</div>
					<div role="tabpanel" class="tab-pane" id="payments-history" >
						<add-payment-history data-ng-show="true"></add-payment-history>
					</div>
					<div role="tabpanel" class="tab-pane" id="status-history">
						<add-status-history data-ng-show="true"></add-status-history>

					</div>
				</div>

			</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="tab2">
			<div class="col-sm-12">
				<div class="col-main grid12 grid-col2-main no-gutter">
					<div class="page-title">
						<h1>Checkout</h1>
					</div>
					<ol id="checkoutSteps" class="opc" >
						<li class="section step-title" id="opc-shipping" ng-click="expandAddress('Shipping');"  ng-class="{'allow active':!order.shippingAddress.pinCode.length>0}">
							<h2>Shipping Information</h2>
						</li>
						<div ng-show="showShipping" class="step a-item" id="checkout-step-shipping">
							<form name="addressForm" ng-submit="update();" id="co-shipping-form">
								<fieldset>

									<!--<label for="billing-address-select">Select a billing address.</label>-->
									<!--<div class="input-box">
                                        <select title="" class="address-select" id="billing-address-select" name="billing_address_id"><option value="">New Address</option></select></div>-->
									<input type="checkbox" ng-model="singleValueShipping"  aria-label="Toggle ngHide"> New Address</input>
									<!--<label class="col-sm-4" for="billing:use_for_shipping_yes"><input type="radio" title="Ship to this address"  ng-model="Billing" id="billing:use_for_shipping_yes" name="billing[use_for_shipping]">Ship to this address</label>

                                    <label class="col-sm-4" for="billing:use_for_shipping_no"><input type="radio" title="Ship to different address"  ng-model="billing" id="billing:use_for_shipping_no" name="billing[use_for_shipping]">Ship to different address</label>-->
									<div data-ng-repeat="address in filterAddressLines('Shipping',order.seller.contact.addresses)" class="item-group col-sm-12" ng-show="!singleValueShipping">
										<div class="col-sm-4">
											<!--<label><input type="radio" title="Ship to this address" ng-model="address" name="billing[use_for_shipping]" ng-value="order.shippingAddress" ng-click="selectedAddress('Shipping',address);">Ship to {{address.addressType}}</label>-->

											<label><input type="radio" title="Ship to this address" ng-model="$parent.order.shippingAddress" ng-value="address" radio-track-by="addressLine">Ship to {{address.addressType}}</label>
											<!--<div class="label-item">
                                                <span>{{address.addressType}}</span>
                                            </div>-->
											<div class="data-item">
												<p>{{address.addressLine}}<br>{{address.city}}, {{address.state}} {{address.pinCode}}<br>{{address.country}}</p>
											</div>
											<br>
										</div>
									</div>
									<div class="item-group col-sm-12" ng-show="singleValueShipping">

										<div ng-show="singleValueShipping">
											<div class="form-group" >
												<div class="col-sm-12">
													<label class="control-label">Address Line</label>
												</div>
												<div class="col-sm-12">
													<textarea rows="3" data-ng-model="order.shippingAddress.addressLine" name="addressLine" class="form-control" placeholder="Address Line" maxlength="1024"> </textarea>
                            <span class="text-danger" data-ng-show="addressForm.addressLine.$dirty && addressForm.addressLine.$invalid">
                                <span data-ng-show="addressForm.addressLine.$error.maxlength">The address line should not exceed 1024 characters.</span>
                            </span>
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-12">
													<label class="control-label" for="city">City</label>
												</div>
												<div class="col-sm-12">
													<input type="text" data-ng-model="order.shippingAddress.city" name="city" class="form-control" placeholder="City" maxlength="128">
                            <span class="text-danger" data-ng-show="addressForm.city.$dirty && addressForm.city.$invalid">
                                <span data-ng-show="addressForm.city.$error.maxlength">The city should not exceed 128 characters.</span>
                            </span>
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-12">
													<label class="control-label" for="state">State</label>
												</div>
												<div class="col-sm-12">
													<input type="text" data-ng-model="order.shippingAddress.state" name="state" class="form-control" placeholder="State" maxlength="128">
                            <span class="text-danger" data-ng-show="addressForm.state.$dirty && addressForm.state.$invalid">
                                <span data-ng-show="addressForm.state.$error.maxlength">The state should not exceed 128 characters.</span>
                            </span>
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-12">
													<label class="control-label" for="country">Country</label>
												</div>
												<div class="col-sm-12">
													<input type="text" data-ng-model="order.shippingAddress.country"  name="country" class="form-control" placeholder="Country" maxlength="128">
                            <span class="text-danger" data-ng-show="addressForm.country.$dirty && addressForm.country.$invalid">
                                <span data-ng-show="addressForm.country.$error.maxlength">The country should not exceed 128 characters.</span>
                            </span>
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-12">
													<label class="control-label" for="pinCode">Pincode</label>
												</div>
												<div class="col-sm-12">
													<input type="text" data-ng-model="order.shippingAddress.pinCode" name="pinCode" class="form-control" placeholder="Pincode" ng-minlength="6" ng-maxlength="6" only-digits>
												</div>
                                <span class="text-danger" data-ng-show="addressForm.pinCode.$dirty && addressForm.pinCode.$invalid">
                                    <span data-ng-show="addressForm.pinCode.$error.maxlength || addressForm.pinCode.$error.minlength">Pincode should be 6 digits.</span>
                                    <span data-ng-show="addressForm.pinCode.$error.number">Pincode should number.</span>
                                </span>
											</div>
										</div>


									</div>

									<div id="shipping-buttons-container" class="buttons-set">
										<!--<p class="required">* Required Fields</p>-->
										<button  class="btn button" title="Continue" type="submit"><span><span>Continue</span></span></button>
									</div>

								</fieldset>
							</form>

						</div>
						<li class="section step-title" id="opc-billing" ng-click="expandAddress('Billing');">
							<h2>Billing Information</h2>

						</li>
						<div ng-show="showBilling" class="step a-item" id="checkout-step-billing">
							<form name="ShippingForm" ng-submit="update();" id="co-billing-form">
								<fieldset>

									<!--<label for="billing-address-select">Select a billing address.</label>-->
									<!--<div class="input-box">
                                        <select title="" class="address-select" id="billing-address-select" name="billing_address_id"><option value="">New Address</option></select></div>-->
									<input type="checkbox" ng-model="singleBilling" aria-label="Toggle ngHide">Use Billing Address</input>
									<input type="checkbox" ng-model="singleValueBilling" aria-label="Toggle ngHide" ng-show="!singleBilling">{{singleBilling?'':'New Address'}}</input>
									<!--<label class="col-sm-4" for="billing:use_for_shipping_yes"><input type="radio" title="Ship to this address"  ng-model="Billing" id="billing:use_for_shipping_yes" name="billing[use_for_shipping]">Ship to this address</label>

                                    <label class="col-sm-4" for="billing:use_for_shipping_no"><input type="radio" title="Ship to different address"  ng-model="billing" id="billing:use_for_shipping_no" name="billing[use_for_shipping]">Ship to different address</label>-->
									<div data-ng-repeat="address in filterAddressLines('Billing',order.seller.contact.addresses)" class="item-group col-sm-12" ng-show="!singleValueBilling && !singleBilling ">
										<div class="col-sm-4">
											<label><input type="radio" title="Ship to this address" ng-model="$parent.order.billingAddress" ng-value="address" radio-track-by="addressLine">Ship to {{address.addressType}}</label>
											<!--<div class="label-item">
                                                <span>{{address.addressType}}</span>
                                        	    </div>-->
											<div class="data-item">
												<p>{{address.addressLine}}<br>{{address.city}}, {{address.state}} {{address.pinCode}}<br>{{address.country}}</p>
											</div>
											<br>
										</div>
									</div>
									<div class="item-group col-sm-12" ng-show="singleValueBilling">

										<div ng-show="singleValueBilling">
											<div class="form-group" >
												<div class="col-sm-12">
													<label class="control-label">Address Line</label>
												</div>
												<div class="col-sm-12">
													<textarea rows="3" data-ng-model="order.billingAddress.addressLine" id="addressLine" name="addressLine" class="form-control" placeholder="Address Line" maxlength="1024"> </textarea>
                            <span class="text-danger" data-ng-show="ShippingForm.addressLine.$dirty && ShippingForm.addressLine.$invalid">
                                <span data-ng-show="ShippingForm.addressLine.$error.maxlength">The address line should not exceed 1024 characters.</span>
                            </span>
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-12">
													<label class="control-label" for="city">City</label>
												</div>
												<div class="col-sm-12">
													<input type="text" data-ng-model="order.billingAddress.city" id="city" name="city" class="form-control" placeholder="City" maxlength="128">
                            <span class="text-danger" data-ng-show="ShippingForm.city.$dirty && ShippingForm.city.$invalid">
                                <span data-ng-show="ShippingForm.city.$error.maxlength">The city should not exceed 128 characters.</span>
                            </span>
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-12">
													<label class="control-label" for="state">State</label>
												</div>
												<div class="col-sm-12">
													<input type="text" data-ng-model="order.billingAddress.state" id="state" name="state" class="form-control" placeholder="State" maxlength="128">
                            <span class="text-danger" data-ng-show="ShippingForm.state.$dirty && ShippingForm.state.$invalid">
                                <span data-ng-show="ShippingForm.state.$error.maxlength">The state should not exceed 128 characters.</span>
                            </span>
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-12">
													<label class="control-label" for="country">Country</label>
												</div>
												<div class="col-sm-12">
													<input type="text" data-ng-model="order.billingAddress.country" id="country" name="country" class="form-control" placeholder="Country" maxlength="128">
                            <span class="text-danger" data-ng-show="ShippingForm.country.$dirty && ShippingForm.country.$invalid">
                                <span data-ng-show="ShippingForm.country.$error.maxlength">The country should not exceed 128 characters.</span>
                            </span>
												</div>
											</div>
											<div class="form-group">
												<div class="col-sm-12">
													<label class="control-label" for="pinCode">Pincode</label>
												</div>
												<div class="col-sm-12">
													<input type="text" data-ng-model="order.billingAddress.pinCode" id="pinCode" name="pinCode" class="form-control" placeholder="Pincode" ng-minlength="6" ng-maxlength="6" only-digits>
												</div>
                                <span class="text-danger" data-ng-show="ShippingForm.pinCode.$dirty && ShippingForm.pinCode.$invalid">
                                    <span data-ng-show="ShippingForm.pinCode.$error.maxlength || ShippingForm.pinCode.$error.minlength">Pincode should be 6 digits.</span>
                                    <span data-ng-show="ShippingForm.pinCode.$error.number">Pincode should number.</span>
                                </span>
											</div>
										</div>


									</div>

									<div id="billing-buttons-container" class="buttons-set">
										<!--<p class="required">* Required Fields</p>-->
										<button  class="btn button" title="Continue"  type="submit"><span><span>Continue</span></span></button>
									</div>

								</fieldset>
							</form>

						</div>

					</ol>
				</div>
			</div>

		</div>
	</div>
	</div>
	<div data-ng-show="error" class="text-danger">
		<strong data-ng-bind="error"></strong>
	</div>


</section>
