<div ng-show="!(selOrder===null)" class="nvc-slider-form">
    <div class="nvc-form-content">
        <div layout="row" layout-align="center center" class="nvc-sticky-top">
            <md-button class="md-icon-button md-mini" ng-click="cancel();location.path('/orders')" aria-label="close dialog"><md-icon class="fa fa-times fa-lg"></md-button>
            <span flex class="nv-text-center nvc-display-block nvc-margin-top-5"><span class="h4 nv-text-bold">{{selOrder.orderType +' Order ('+selOrder.orderNumber+')'}}</span><br><span class="h5" ng-show="selOrder.offer">From - <a class="bb-cursor" href=#!/offers/{{selOrder.offer._id}} aria-label="Number">{{selOrder.offer.name}}</a></span></span>
            <md-button class="md-icon-button md-mini" ng-show="(authentication.companyBusinessUnits.userGroup.name === 'Admin')" ng-click="slice(contact,'contact');cancel()" aria-label="Delete contact"><md-icon class="fa fa-trash fa-lg"></md-icon></md-button>
        </div>
        <div layout="row" layout-sm="row" layout-xs="row" layout-gt-lg="row" class="nvc-product-detail" layout-wrap>

            <div flex-gt-lg="100" flex="100" flex-sm="100" flex-xs="100"
                 layout="row" layout-sm="row" layout-xs="row" layout-gt-lg="row" layout-padding layout-align="center center">
                <div flex="70" layout="row" layout-padding layout-align="center center" class="nvc-padding-bottom-0">
                    <div flex="50">
                        <h6>{{getPlayerText(selOrder,true,true)}}</h6>
                        <label class="bb-truncate nvc-whitespace-preline">{{getPlayerText(selOrder,true,false)}}</label>
                        <h6 ng-show="selOrder.mediator.contact">Mediator: <span class="nv-text-bold bb-truncate nv-text-bold">{{selOrder.mediator.contact.displayName?selOrder.mediator.contact.displayName:selOrder.mediator.contact.firstName+' '+selOrder.mediator.contact.lastName}}</span></h6>
                    </div>
                    <md-divider class="nvc-divider">
                    </md-divider>
                    <div flex="50">
                        <h6>{{getPlayerText(selOrder,false,true)}}</h6>
                        <label class="bb-truncate nvc-whitespace-preline">{{getPlayerText(selOrder,false,false)}}</label>
                        <h6 ng-show="selOrder.deliveryDate">Exp. Delivery: <span class="nv-text-bold">{{selOrder.deliveryDate | date:"dd-MM-yyyy"}}</span></h6>
                    </div>
                    <!--<players order="selOrder" class="bb-wid-100 layout-padding"></players>-->
                </div>
                <md-divider class="nvc-divider"></md-divider>
                <div flex="30" class="nv-text-center nvc-padding-bottom-0">
                    <h6>Payable Amount: </h6>
                    <h4 class="nvc-primary-color nv-text-bold">&#8377; {{selOrder.totalAmount - selOrder.paidAmount |
                        number:2}}</h4>
                    <h6>Total: &#8377; {{selOrder.totalAmount | number:2}}</h6>
                </div>
            </div>
            <div flex-gt-lg="100" flex="100" flex-sm="100" flex-xs="100"
                 layout="row" layout-sm="row" layout-xs="row" layout-gt-lg="row" layout-padding layout-align="center center">
            <div layout="row" flex="70" class="nvc-order-status-buttons nvc-padding-top-0">
                <div ng-repeat="status in selOrder.statusArray" ng-show="selOrder.statusArray.length>0">
                    <md-button class=" nvc-shape-pill nvc-primary-border ml-0" ng-class="status.text" ng-click="changeStatus(status.value)" ><span><span class="fa" ng-class="'fa-'+status.value"></span> {{status.text}}</span></md-button>
                </div>
            </div>
                <div flex="30" layout="row" layout-align="space-around center" class="nvc-padding-top-0">
                    <md-button class="md-primary md-raised nvc-shape-pill" ng-click="myTabIndex=2" ng-show="selOrder.totalAmount !== selOrder.paidAmount">&#8377; Pay</md-button>
                    <md-button class="md-primary nvc-primary-border nvc-shape-pill" ng-click="invoice()" ng-hide="selOrder.currentStatus==='Placed' || selOrder.currentStatus==='Cancelled' ||  selOrder.currentStatus==='Rejected' " >Invoice <span class="fa fa-download"></span></md-button>
                </div>
            </div>
            <div flex-gt-lg="100" flex-sm="100" flex-xs="100" flex="100">
                <ul class="nvc-step-wizard nvc-padding-bottom-10">
                    <li ng-repeat="link in trackdetails track by $index" ng-class="{completed:link.complete===true,info:link.complete===true && link.active,danger:link.active}">
                        <div>{{$index + 1}}</div>
                        <span class="nvc-display-block nvc-margin-top-5">{{link.currentStatus}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <md-tabs md-dynamic-height md-border-bottom md-selected="myTabIndex">
            <!--<md-tab label="Summary">
                <md-content class="md-padding">
                    <div class="bb-z1 nvc-order-summary-page nv-position-relative">
                        <div ng-repeat="history in selOrder.statusHistory" layout="row" layout-padding layout-align="center stretch">
                            <div flex="15">
                                <img ng-src="modules/core/img/order-status/{{history.status}}.svg" class="bb-wid-100 nvc-white-background nvc-shape-pill nvc-primary-border">
                            </div>
                            <div flex="80">
                                <h5><span class="nvc-primary-color nv-text-bold">{{history.status}}</span> on <span class="nv-text-bold">{{history.date | date:'dd MM yyyy'}}</span></h5>
                                <div ng-show="isTargetPlayer(selOrder)">
                                <h5><span class="nv-text-bold">Seller: </span>{{selOrder.seller.contact.displayName?selOrder.seller.contact.displayName:selOrder.seller.contact.firstName+' '+selOrder.seller.contact.middleName+' '+' '+selOrder.seller.contact.lastName}}</h5>
                                    <h5 ng-show="selOrder.seller.businessUnit"><span class="nv-text-bold">Branch: </span>{{selOrder.seller.businessUnit.name}}</h5>
                                </div>
                                <div ng-show="!isTargetPlayer(selOrder)">
                                    <h5><span class="nv-text-bold">Buyer: </span>{{selOrder.buyer.contact.displayName?selOrder.buyer.contact.displayName:selOrder.buyer.contact.firstName+' '+selOrder.buyer.contact.middleName+' '+' '+selOrder.buyer.contact.lastName}}</h5>
                                    <h5 ng-show="selOrder.buyer.businessUnit"><span class="nv-text-bold">Branch: </span>{{selOrder.buyer.businessUnit.name}}</h5>
                                </div>
                                <div ng-show="history.comments">
                                    <h6><span class="nv-text-bold">Comments: </span>{{history.comments}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-tab>-->
            <md-tab label="Products ({{selOrder.products.length}})">
                <md-content class="md-padding">
                    <div layout="row" flex="100" layout-padding>
                        <div flex="30">
                            <div class="nvc-input-btngrp nv-position-relative">
                                <input placeholder="Search..." type="text" ng-model="searchInventoryText">
                                <span>
                                            <button class="nvc-input-button" type="button" ng-click="find()">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                            </div>
                        </div>
                    </div>
                    <div class="layout-padding nv-position-relative nvc-border-bottom nvc-margin-bottom-10"
                         layout-align="start center" layout-wrap flex="100" layout="row" layout-xs="row"
                         layout-sm="row" layout-gt-lg="row" ng-repeat="singleproduct in selOrder.products track by $id(singleproduct)">
                        <div flex="100" flex-sm="100" flex-gt-lg="100" flex-xs="100"
                             layout="row" layout-align="center center" layout-wrap>
                            <div flex="15" >
                                <product-image images="[singleproduct.inventory.inventoryImageURL1,singleproduct.inventory.inventoryImageURL2,singleproduct.inventory.inventoryImageURL3]" id="$id"></product-image>
                                <!--<img class="img-circle nvc-accent-border bb-wid-100 flex-90 bb-img-center" ng-src="{{singleproduct.inventory.inventoryImageURL1}}">-->
                            </div>
                            <div flex="85" class="nvc-padding-left-10">
                                <label>{{singleproduct.inventory.productName}} ({{singleproduct.inventory.unitOfMeasureName}})</label>
                                <h6 class="nv-text-bold nvc-margin-5">{{singleproduct.inventory.brandName}}</h6>
                                <h6>Quantity : <span><label>{{singleproduct.numberOfUnits}}</label></span>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    MRP : <span><label>{{singleproduct.unitPrice | number:2}}</label></span></h6>

                            </div>
                            <div flex="15" class="nv-text-center">
                                <md-button class="nvc-shape-pill nvc-primary-background nvc-cust-mini" ng-click="track(singleproduct.inventory._id)"><h6 class="nvc-margin-0 nv-text-bold">Track</h6> </md-button>
                            </div>
                            <div flex="85" class="nvc-padding-left-10">
                                <h5>Discounts : <span><label class="nvc-primary-color">{{singleproduct.margin?singleproduct.margin+'%':'No Discount'}}</label></span></h5>
                            </div>
                            <div flex="100" flex-sm="100" flex-xs="100" flex-gt-lg="100" layout="row" layout-sm="row" layout-xs="row" ng-show="showMore">
                                <div flex="15" flex-sm="15" flex-xs="15" flex-gt-lg="15">
                                    &nbsp;
                                </div>
                                <div flex="85" flex-sm="85" flex-xs="85" flex-gt-lg="85" layout="row" layout-sm="row" layout-xs="row" class="nvc-padding-left-10">
                                    <h6>Mfg : <span><label>{{singleproduct.inventory.packagingDate | date:'dd-MM-yyyy'}}</label></span>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        Pkg : <span><label>{{singleproduct.inventory.packagingDate | date:'dd-MM-yyyy'}}</label></span>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        Exp : <span><label>{{singleproduct.inventory.packagingDate | date:'dd-MM-yyyy'}}</label></span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="nv-position-absolute nvc-bottom-right">
                            <span class="fa" ng-class="showMore?'fa-chevron-up':'fa-chevron-down'" ng-click="showMore = !showMore"></span>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Addresses">
                <md-content class="md-padding">
                    <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="50">
                        <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row"
                             layout-gt-lg="row" layout-wrap>
                            <div flex="50" flex-xs="100" flex-sm="100" flex-gt-lg="50">
                                <h3 class="md-title">Shipping Details :</h3>
                                <div class="panel panel-default bb-firsec-bg">
                                    <div class="bb-address">
                                        <p><i class="glyphicon glyphicon-map-marker"></i>
                                            {{selOrder.shippingAddress.addressLine}}<br>{{selOrder.shippingAddress.city}},
                                            {{selOrder.shippingAddress.state}},{{selOrder.shippingAddress.pinCode}}<br>{{selOrder.shippingAddress.country}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div flex="50" flex-xs="100" flex-sm="100" flex-gt-lg="50">
                                <h3 class="md-title">Billing Details :</h3>
                                <!--<md-divider></md-divider>-->
                                <div class="panel panel-default bb-firsec-bg">
                                    <div class="bb-address">
                                        <p><i class="glyphicon glyphicon-map-marker"></i>{{selOrder.billingAddress.addressLine}}<br>{{selOrder.billingAddress.city}},
                                            {{selOrder.billingAddress.state}},{{selOrder.billingAddress.pinCode}}<br>{{selOrder.billingAddress.country}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Payments" ng-click="changePaymentTerm(selOrder)">
                <md-content class="md-padding"><payment-order-view></payment-order-view></md-content>

            </md-tab>
            <md-tab label="Comments">
                <md-content class="md-padding">
                    <div flex="100" layout="row" layout-padding layout-wrap>
                        <div flex="100" layout="row" class="layout-align-start-center">
                                <span class="md-primary fa  fa-2x nvc-primary-color nvc-padding-left-5" ng-class="showComment?'fa-chevron-circle-up':'fa-plus-circle'"
                                      ng-show="(authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager')" ng-click="showComment = !showComment" aria-label="favourite" >
                                </span>
                            <div flex="30" class="nvc-padding-left-10">
                                <div class="nvc-input-btngrp nv-position-relative">
                                    <input placeholder="Search..." type="text" ng-model="searchCommentText">
                                    <span>
                                                    <button class="nvc-input-button" type="button" ng-click="find()">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                </div>
                            </div>
                        </div>
                        <div flex="100" ng-show="showComment">
                            <md-input-container md-no-float class="md-block md-icon-right">
                                <input ng-model="body" type="text" placeholder="Comment" >
                                <md-icon class="fa-lg fa fa-paper-plane nvc-display-inlineblock" ng-click="createMessage(selOrder._id)"></md-icon>
                            </md-input-container>
                        </div>
                    </div>
                    <md-list flex>
                        <md-list-item class="md-3-line" ng-repeat="orderMessage in orderMessages track by $id(orderMessage)">
                            <img ng-src="{{orderMessage.user.profileImageURL}}" class="md-avatar nvc-accent-border img-circle nvc-margin-top-10" alt="{{orderMessage.user.displayName}}" />
                            <div class="md-list-item-text" layout="column">
                                <h4 class="nv-text-bold nvc-margin-bottom-5">{{orderMessage.user.displayName}}</h4>
                                <h4>{{orderMessage.body}}</h4>
                                <h6 class="nv-text-right">{{orderMessage.created |date:'medium'}}</h6>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-tab>
            <md-tab label="History" md-on-select="changeStatusOrder(selOrder);">
                <md-content class="md-padding" ng-show="(authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager')">
                    <div ng-show="selOrder.statusArray.length>0">
                    <h5 class="nv-text-bold nvc-padding-left-10">Change your order status here</h5>
                    <order-status-view ng-show="!(selOrder.currentStatus==='Cancelled' || selOrder.currentStatus==='Completed' || selOrder.currentStatus==='Rejected')"></order-status-view>
                    </div>
                    <div flex="100" class="nvc-margin-top-10">
                        <md-list flex>
                            <md-list-item class="md-3-line" ng-repeat="history in selOrder.statusHistory track by $id(history)">
                                <img ng-src="{{history.user.profileImageURL}}" class="md-avatar nvc-accent-border img-circle nvc-margin-top-10" alt="{{orderMessage.user.displayName}}" />
                                <div class="md-list-item-text" layout="column">
                                    <h4 class="nv-text-bold nvc-margin-bottom-5">{{history.displayName}} - {{history.status}} the order</h4>
                                    <h4>{{history.comments}}</h4>
                                    <h6 class="nv-text-right">{{history.date |date:'medium'}}</h6>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </div>
</div>
