<div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap
     class="bb-white-bg">

    <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
        <div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-wrap >


            <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                <h3 class="md-subhead bb-truncate">Order Number</h3>
                <label class="bb-flabel">{{selOrder.orderNumber}}</label>
            </div>
            <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                <h3 class="md-subhead bb-truncate">Order Type</h3>
                <label class="bb-flabel">{{selOrder.orderType}}</label>
            </div>
            <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25" ng-show="selOrder.offer">
                <h3 class="md-subhead bb-truncate">Offer Number</h3>
                <a class="bb-cursor" href=#!/offers/{{selOrder.offer._id}} aria-label="Number"
                >{{selOrder.offer.offerNumber}}</a>
            </div>
            <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25" ng-show="selOrder.offer">
                <h3 class="md-subhead bb-truncate">Offer Type</h3>
                <label class="bb-flabel">{{selOrder.offer.offerType}}</label>
            </div>
            <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                <h3 class="md-subhead">Seller</h3>
                <label class="bb-flabel bb-truncate" ng-show="showSellerChange"
                       data-ng-bind="selOrder.seller.contact.displayName ?selOrder.seller.contact.displayName :selOrder.seller.contact.firstName +' '+selOrder.seller.contact.middleName+' '+selOrder.seller.contact.lastName"></label>

                <select ng-change="getSellerProducts()" ng-show="!showSellerChange" class="form-control" ng-model="selOrder.seller.contact._id">
                    <option  ng-repeat="c in contacts" value="{{c._id}}">{{(c.firstName?c.firstName:'')+(c.middleName?' '+c.middleName:'')+(c.lastName?' '+c.lastName:'')}}</option>
                </select>

            </div>

            <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                <h3 class="md-subhead">Buyer</h3>
                <label ng-show="showBuyerChange"
                       class="bb-flabel bb-truncate"
                       data-ng-bind="selOrder.buyer.contact.displayName ?selOrder.buyer.contact.displayName :selOrder.buyer.contact.firstName +' '+selOrder.buyer.contact.middleName+' '+selOrder.buyer.contact.lastName"></label>

                <select class="form-control" ng-show="!showBuyerChange" ng-model="selOrder.buyer.contact._id">
                     <option ng-repeat="c in contacts" value="{{c._id}}">{{(c.firstName?c.firstName:'')+(c.middleName?' '+c.middleName:'')+(c.lastName?' '+c.lastName:'')}}</option>
                 </select>

               <!-- <md-input-container ng-show="!showBuyerChange" class="md-block">
                    &lt;!&ndash; <label>Registration Category</label>&ndash;&gt;
                    <md-select ng-model="selOrder.buyer.contact._id"  aria-label="Select  Buyer" ng-change="createContact(selOrder.buyer.contact._id)">
                        <md-option  id='RC_{{$index}}' ng-repeat="item in contacts track by $id(item)"  ng-value="item._id">
                            <span ng-class="item._id===-1?'fa fa-plus nv-select-new-label':''"></span>
                            <span>{{(item.firstName?item.firstName:'')+(item.middleName?' '+item.middleName:'')+(item.lastName?' '+item.lastName:'')}}</span>
                        </md-option>
                    </md-select>
                </md-input-container>-->

            </div>
            <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25" ng-show="selOrder.currentStatus==='Drafted' || selOrder.mediator.contact">
                <h3 class="md-subhead bb-truncate">Mediator/Agent</h3>
                <label ng-show="selOrder.currentStatus!=='Drafted' && selOrder.mediator.contact" class="bb-flabel"
                       data-ng-bind="selOrder.mediator.contact.displayName ?selOrder.mediator.contact.displayName:selOrder.mediator.contact.firstName +' '+selOrder.mediator.contact.middleName+' '+selOrder.mediator.contact.lastName"></label>
                <!--   <select  ng-options="(c.firstName?c.firstName:'')+(c.middleName?' '+c.middleName:'')+(c.lastName?' '+c.lastName:'') for c in contacts"  ng-show="selOrder.currentStatus==='Drafted'" class="form-control"  ui-select2="select2Options"  ng-model="selOrder.mediator.contact" placeholder="Type Contacts" >
                   </select>-->

                <select class="form-control" ng-model="selOrder.mediator.contact._id">
                    <option ng-repeat="c in contacts" value="{{c._id}}">{{(c.firstName?c.firstName:'')+(c.middleName?' '+c.middleName:'')+(c.lastName?' '+c.lastName:'')}}</option>
                </select>
            </div>
            <!--  <div flex="33" flex-xs="100" flex-sm="33" flex-gt-lg="33" ng-if='(selOrder.deliveryDate || selOrder.createduser)'>
                  <h3 class="md-subhead">Delivery Date</h3>
                  <label class="bb-flabel" data-ng-bind="selOrder.deliveryDate |date:'dd-MM-yyyy'"
                         ng-show="(selOrder.deliveryDate &&!selOrder.createduser) || selOrder.currentStatus!=='Drafted'"></label>
                  &lt;!&ndash;<input  ng-show="selOrder.currentStatus==='Drafted'" type="text" class="form-control" id="date" datepicker-popup="{{dt.format}}"
                         data-ng-model="selOrder.deliveryDate" is-open="dt.opened" min-date="dt.minDate"
                         data-ng-click="dt.open($event)" placeholder="Delivery Date" required/>&ndash;&gt;

                  <md-datepicker ng-if='selOrder.createduser' ng-model="selOrder.deliveryDate" md-placeholder="Delivery date">
                  </md-datepicker>

              </div>-->

            <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25" ng-show="selOrder.currentStatus!=='Drafted'">
                <h3 class="md-subhead">Order Status</h3>
                <span class="bb-label bb-label-blue">{{selOrder.currentStatus}}</span>
                <span ng-show='selOrder.statusArray.length>0' ng-click="showOrderDialog($event,true)" class="fa fa-pencil bb-cursor bb-edit-status"></span>
                <!--<button ng-click="toggleModal()"  class="btn btn-default">Open modal</button>-->


            </div>
            <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                <h3 class="md-subhead">Total Amount</h3>
                <label class="bb-flabel">{{totalPriceFormatter() |currency:' &#8377; '}}</label>
            </div>
            <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25" ng-show="selOrder.selectedPayMentOptions.selection">
                <h3 class="md-subhead">Paid Amount</h3>
                <label class="bb-flabel">{{selOrder.paidAmount |currency:' &#8377; '}}</label>
            </div>

            <!--  <div flex="33" flex-xs="100" flex-sm="33" flex-gt-lg="33" ng-show="selOrder.selectedPayMentOptions.selection && selOrder.selectedPayMentOptions.status==='YetToPay'">


                  <h3 class="md-subhead">Payment Status ( {{paymentOptions[selOrder.selectedPayMentOptions.key]}}
                      {{selOrder.selectedPayMentOptions.days?selOrder.selectedPayMentOptions.days+ ' days':''}})</h3>
                  &lt;!&ndash;<span ng-click="toggleModal2()" class="label label-blue cursor">{{selOrder.selectedPayMentOptions.status}}</span>&ndash;&gt;
                  <span  class="label label-blue">{{selOrder.selectedPayMentOptions.status}}</span>
                  &lt;!&ndash;<span ng-click="toggleModal2()" class="fa fa-pencil cursor edit-status"></span>&ndash;&gt;

              </div>-->
        </div>
    </div>
</div>

<div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap
     class="bb-white-bg">

    <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
        <div class="md-title">Product Details :</div>
        <!--<md-divider></md-divider>-->
        <div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="column" layout-gt-lg="row" layout-wrap >

            <div class="table-responsive bb-wid-100 bb-table">
                <table class="table bb-responstable">
                    <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Unit Price ( &#8377; )</th>
                        <th>Unit Size ( Measure )</th>
                        <th>No. of Units</th>
                        <th>Margin (%)</th>
                        <!-- <th>MOQ</th>
                         <th>No. of Available Units</th>-->
                        <th>Price</th>
                        <th ng-show="selOrder.products.length > 0">Remove Product</th>
                        <!-- <th>VAT (%)</th>
                         <th>CST (%)</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-disable="singleproduct.disabled" ng-repeat="singleproduct in selOrder.products"
                        ng-show="selOrder.currentStatus!=='Drafted' && selOrder.currentStatus!=='Placed'">
                        <td >
                            <md-input-container class="md-block">
                                <div class="md-subhead bb-truncate">
                                    <a ng-class="getOutStockLabel(singleproduct)===true ? 'nv-red bb-cursor' : 'bb-cursor'" class="bb-cursor" ng-click="productDetails(selOrder.products,$index)" aria-label="Number">{{singleproduct.productName}}</a>
                                    <md-tooltip ng-show="getOutStockLabel(singleproduct)===true">
                                        {{'Available Units :'+singleproduct.numberOfUnits}}
                                    </md-tooltip>
                                    <md-tooltip ng-show="!getOutStockLabel(singleproduct)===true">
                                        {{singleproduct.productName}}
                                    </md-tooltip>

                                </div>
                            </md-input-container>
                        </td>
                        <td class="nv-text-right">
                            <md-input-container class="md-block">
                                <div class="md-subhead">{{singleproduct.unitPrice | number:2}}</div>
                            </md-input-container>
                        </td>
                        <td>
                            <md-input-container class="md-block">
                                <div class="md-subhead">
                                    {{singleproduct.unitOfMeasureName}}
                                </div>
                            </md-input-container>

                        </td>
                        <!--  <td>
                              <md-input-container class="md-block">
                                  <div class="md-subhead">{{singleproduct.numberOfUnits}}</div>
                              </md-input-container>
                          </td>
                          <td>
                              <md-input-container class="md-block">
                                  <div class="md-subhead">{{singleproduct.MOQ}}</div>
                              </md-input-container>
                          </td>-->
                        <td>
                            <md-input-container class="md-block">
                                <div class="md-subhead">
                                    {{singleproduct.unitPrice*singleproduct.numberOfUnits |currency:' &#8377; '}}
                                </div>
                            </md-input-container>

                        </td>
                    </tr>


                    <tr  ng-repeat="singleproduct in selOrder.products track by $id(singleproduct)" ng-show="selOrder.currentStatus==='Drafted' || selOrder.currentStatus==='Placed'">
                        <td>
                            <md-input-container class="md-block">
                                <div class="md-subhead bb-truncate">
                                    <a  class="bb-cursor" ng-click="productDetails(selOrder.products,$index)" aria-label="Number">{{singleproduct.productName}}</a>
                                    <md-tooltip>
                                        {{singleproduct.productName}}
                                    </md-tooltip>

                                </div>


                            </md-input-container>
                        </td>
                        <td class="nv-text-right">
                            <md-input-container ng-disabled="singleproduct.disabled" class="md-block">
                                <div class="md-subhead">{{singleproduct.unitPrice | number:2}}</div>
                            </md-input-container>
                            <!-- <md-input-container ng-disabled="singleproduct.inventory.disabled" class="md-block" ng-if="!selOrder.offer">
                                 <input ng-disabled="singleproduct.inventory.disabled" aria-label="Unit Price" id="product_price_{{$index}}" required type="number" ng-model="singleproduct.unitPrice" ng-min=0 ng-max="{{singleproduct.inventory.unitPrice}}">
                                 <md-tooltip>Min Order Unit Price :0, Max Order Unit Price: {{singleproduct.inventory.unitPrice}}</md-tooltip>
                             </md-input-container>-->
                        </td>
                        <td>
                            <md-input-container ng-disabled="singleproduct.disabled" class="md-block">
                                <div class="md-subhead">
                                    {{singleproduct.unitOfMeasureName}}
                                </div>
                            </md-input-container>

                        </td>
                        <td>
                            <md-input-container class="md-block">
                                <!-- <label class="active" data-error="Please enter valid url." for="product_{{$index}}">url</label>-->
                                <input ng-change="changeProductPrice(singleproduct,$index)" ng-disabled="singleproduct.disabled"
                                       aria-label="numberOfUnits" id="product_{{$index}}" type="number" ng-model="singleproduct.numberOfUnits"
                                       ng-min="{{singleproduct.MOQ}}" ng-max="{{maxProductUnits(singleproduct,(selOrder.offer && selOrder.offer.offerType==='Buy'))}}">
                                <md-tooltip>Min Order Quantity : {{(singleproduct.MOQ!==0)?singleproduct.MOQ:(maxProductUnits(singleproduct,(selOrder.offer && selOrder.offer.offerType==='Buy'))>=1?1:0)}}, Max Order Quantity: {{maxProductUnits(singleproduct,(selOrder.offer && selOrder.offer.offerType==='Buy'))}}</md-tooltip>
                            </md-input-container>
                            <!--<div class="showtooltip" tooltip-placement="left" tooltip-enable="$isValid" tooltip="tooltip message"></div>-->


                        </td>
                        <!-- <td>
                             <md-input-container class="md-block">
                                 <div class="md-subhead">{{singleproduct.MOQ}}</div>
                             </md-input-container>
                         </td>-->
                        <!--  <td>
                              <md-input-container class="md-block">
                                  <div class="md-subhead">{{singleproduct.numberOfUnitsAvailable}}
                                  </div>
                              </md-input-container>
                          </td>-->
                        <td>
                            <md-input-container class="md-block">
                                <div class="md-subhead">{{singleproduct.margin | number:2}}
                                </div>
                            </md-input-container>
                        </td>
                        <td>
                            <md-input-container class="md-block">
                                <div class="md-subhead">
                                    {{singleproduct.unitPrice*singleproduct.numberOfUnits |currency:' &#8377; '}}
                                </div>
                            </md-input-container>
                        </td>
                        <!-- <td>
                             <md-input-container class="md-block">
                                 <div class="md-subhead"> {{singleproduct.inventory.tax.VAT}}</div>
                             </md-input-container>

                             &lt;!&ndash; <md-input-container class="md-block">
                                  <div class="md-subhead">{{ 'Service Tax-'+inventory.inventory.tax.serviceTax}}</div>
                              </md-input-container>&ndash;&gt;
                         </td>
                         <td>
                             <md-input-container ng-disabled="singleproduct.inventory.disabled" class="md-block">
                                 <div class="md-subhead">{{singleproduct.inventory.tax.CST}}</div>
                             </md-input-container>
                         </td>-->
                        <td ng-show="selOrder.products.length > 0 || singleproduct.disabled">
                            <md-icon class="fa-minus-circle faa bb-minus-btn"
                                     ng-click="selOrder.products.splice($index, 1)" ></md-icon></td>

                    </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>

<div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" class="bb-contact-bg"
     layout-wrap ng-show="selOrder.currentStatus!=='Drafted'&& selOrder.currentStatus!=='Placed'">

    <div ng-cloak layout-fill>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="COMMENTS">
                    <md-content class="md-padding">
                        <md-list flex>
                            <md-list-item class="md-3-line" ng-repeat="orderMessage in orderMessages track by $id(orderMessage)" ng-click="null">
                                <img ng-src="{{orderMessage.user.profileImageURL}}" class="img-responsive md-avatar" alt="{{orderMessage.user.displayName}}" />
                                <div class="md-list-item-text" layout="column">

                                    <h3>{{orderMessage.user.displayName}}</h3>
                                    <h4><small>{{orderMessage.created |date:'medium'}}</small></h4>

                                    <p>{{orderMessage.body}}</p>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>

                            <form name="commentsForm" data-ng-submit="createMessage(selOffer._id)">
                                <div>
                                    <textarea class="form-control  bb-m-top15 bb-resize" rows="4" cols="40"
                                              data-ng-model="body" placeholder="Enter Your Comments..."
                                              maxlength="1024"></textarea>

                                </div>
                                <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="10">
                                    <md-button class="md-raised md-primary bb-wid-100">SUBMIT COMMENT</md-button>
                                    <!--<button class="btn btn-save m-top15">SUBMIT COMMENT</button>-->
                                </div>

                            </form>

                        </md-list>

                    </md-content>
                </md-tab>
                <md-tab label="PAYMENT HISTORY">
                    <md-content class="md-padding">
                        <add-payment-history data-ng-show="true"></add-payment-history>
                    </md-content>
                </md-tab>
                <md-tab label="STATUS HISTORY">
                    <md-content class="md-padding">
                        <add-status-history data-ng-show="true"></add-status-history>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>

</div>

<!--1st starts-->
<!--<section class="wrapper firsec-bg">-->
<!--<div class="row firsec-bg">-->
<!--<div class="col-lg-12 mob-lg firsec-bg">-->
<!--<div class="col-lg-12 mob-lg col-sm-12">-->
<!--<div class="col-lg-4 col-sm-4 m-bot15">-->
<!--<h5  class="tabtxt heading">Order Number</h5>-->
<!--<label class="flabel">{{selOrder.orderNumber}}</label>-->
<!--</div>-->
<!--<div class="col-lg-4 col-sm-4 m-bot15">-->
<!--<h5  class="tabtxt heading">Order Type</h5>-->
<!--<label  class="flabel">{{selOrder.orderType}}</label>-->
<!--</div>-->

<!--<div class="col-lg-4 col-sm-4 m-bot15">-->
<!--<h5  class="tabtxt heading">Seller</h5>-->
<!--<label  class="flabel" data-ng-bind="selOrder.seller.contact.firstName +' '+selOrder.seller.contact.middleName+' '+selOrder.seller.contact.lastName"></label>-->

<!--</div>-->


<!--</div>-->
<!--<div class="col-lg-12 mob-lg">-->




<!--<div class="col-lg-4 col-sm-4 m-bot15 text" >-->
<!--<h5  class="tabtxt heading">Buyer</h5>-->
<!--<label ng-show="selOrder.currentStatus!=='Drafted' || selOrder.orderType==='Purchase' || selOrder.buyer.contact" class="flabel" data-ng-bind="selOrder.buyer.contact.firstName +' '+selOrder.buyer.contact.middleName+' '+selOrder.buyer.contact.lastName"></label>-->
<!--&lt;!&ndash;  <input ng-show="selOrder.currentStatus==='Drafted' && selOrder.orderType!=='Purchase'" type="text" autocomplete="off" data-ng-model="selOrder.buyer.contact"-->
<!--class="form-control"-->
<!--typeahead="contact as contact.firstName+' '+contact.middleName+' '+contact.lastName for contact in filterByName(contacts, $viewValue)"-->
<!--placeholder="Buyer" required>&ndash;&gt;-->

<!--<select ng-show="!selOrder.buyer.contact &&selOrder.currentStatus==='Drafted' && selOrder.orderType!=='Purchase'"  ng-options="(c.firstName?c.firstName:'')+(c.middleName?' '+c.middleName:'')+(c.lastName?' '+c.lastName:'') for c in contacts"  ng-show="selOrder.currentStatus==='Drafted' && selOrder.orderType!=='Purchase'" class="form-control"  ui-select2="select2Options"  ng-model="selOrder.buyer.contact" placeholder="Type Contacts" >-->
<!--</select>-->
<!--</div>-->


<!--<div class="col-lg-4 col-sm-4 m-bot15 text" ng-show="selOrder.currentStatus==='Drafted' || selOrder.mediator.contact">-->
<!--<h5  class="tabtxt heading">Mediator/Agent</h5>-->
<!--<label  ng-show="selOrder.currentStatus!=='Drafted' && selOrder.mediator.contact" class="flabel" data-ng-bind="selOrder.mediator.contact.firstName +' '+selOrder.mediator.contact.middleName+' '+selOrder.mediator.contact.lastName"></label>-->
<!--<select ng-show="selOrder.currentStatus==='Drafted' && selOrder.orderType!=='Purchase'"  ng-options="(c.firstName?c.firstName:'')+(c.middleName?' '+c.middleName:'')+(c.lastName?' '+c.lastName:'') for c in contacts"  ng-show="selOrder.currentStatus==='Drafted' && selOrder.orderType!=='Purchase'" class="form-control"  ui-select2="select2Options"  ng-model="selOrder.mediator.contact" placeholder="Type Contacts" >-->
<!--</select>-->
<!--</div>-->

<!--&lt;!&ndash;  <div class="col-lg-2 col-sm-4">-->

<!--<label class="flabel" data-ng-bind="selOrder.currentStatus"></label>-->
<!--</div>&ndash;&gt;-->
<!--<div class="col-lg-4 col-sm-4 date m-bot15">-->
<!--<h5  class="tabtxt heading">Delivery Date</h5>-->
<!--<label class="flabel" data-ng-bind="selOrder.deliveryDate |date:'dd-MM-yyyy'" ng-show="selOrder.currentStatus!=='Drafted'"></label>-->
<!--&lt;!&ndash;<input  ng-show="selOrder.currentStatus==='Drafted'" type="text" class="form-control" id="date" datepicker-popup="{{dt.format}}"-->
<!--data-ng-model="selOrder.deliveryDate" is-open="dt.opened" min-date="dt.minDate"-->
<!--data-ng-click="dt.open($event)" placeholder="Delivery Date" required/>&ndash;&gt;-->

<!--<md-datepicker ng-model="selOrder.deliveryDate"  md-placeholder="Valid Till">-->
<!--</md-datepicker>-->
<!--</div>-->
<!--<div class="col-lg-2 col-sm-4 m-bot15" ng-show="selOrder.currentStatus!=='Drafted'">-->
<!--<h5  class="tabtxt heading">Order Status</h5>-->
<!--<span  class="label label-blue">{{selOrder.currentStatus}}</span>-->
<!--<span ng-click="toggleModal()" class="fa fa-pencil cursor edit-status"></span>-->
<!--&lt;!&ndash;<button ng-click="toggleModal()"  class="btn btn-default">Open modal</button>&ndash;&gt;-->

<!--<modal title="Order Status" visible="showModal">-->

<!--&lt;!&ndash;<div class="form-group">-->
<!--<label for="email">Order Status</label>-->
<!--<input type="email" class="form-control" id="email" placeholder="Enter email" />-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="order-comments">Order Status Comments</label>-->
<!--<textarea class="form-control  m-top15 resize" id="order-comments" rows="4" cols="40" placeholder="Enter Your Comments..." maxlength="1024"></textarea>-->
<!--</div>-->
<!--<div class="col-lg-6"><button type="button" class="btn btn-save">Submit</button></div>-->
<!--<div class="col-lg-6"><button type="button" class="btn btn-cancel"  data-dismiss="modal" aria-hidden="true">Cancel</button></div>&ndash;&gt;-->

<!--<div class="form-group">-->
<!--&lt;!&ndash; <label for="currentstatus">Order Status</label>&ndash;&gt;-->

<!--<select class="form-control input-sm m-bot15" name="currentStatus" id="currentstatus" ng-model="currentStatus" ng-options="s.value as s.text for s in selOrder.statusArray">-->
<!--<option value="" selected="selected">Select</option>-->
<!--</select>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--&lt;!&ndash;    <label for="order-comments">Order Status Comments</label>&ndash;&gt;-->
<!--<textarea class="form-control m-top15 resize" ng-model="statusComments" id="order-comments" rows="4" cols="40" placeholder="Enter Your Comments..." maxlength="1024"></textarea>-->
<!--</div>-->

<!--<div class="col-lg-6"><button type="button" class="btn btn-save" data-ng-click="updateOrderStatus(true);onchangestatus=false;toggleModal();">Submit</button></div>-->
<!--<div class="col-lg-6"><button type="button" value="Cancel" class="btn btn-cancel" data-dismiss="modal" aria-hidden="true" data-ng-click="selOrder.onchangestatus=false;orderUpdateFields();clearStatusData();">Cancel</button></div>-->
<!--&lt;!&ndash;  <div class="btn-form">-->
<!--<button type="submit" class="btn btn-primary" data-ng-click="reset(statusForm);">Submit</button>-->
<!--<input type="button" value="Cancel" class="btn btn-primary" data-ng-click="selOrder.onchangestatus=false;orderUpdateFields();clearStatusData();">-->
<!--</div>-->
<!--</td>-->
<!--</tr></tbody></table>&ndash;&gt;-->


<!--</modal>-->
<!--</div>-->

<!--</div>-->
<!--<div class="col-lg-12 col-sm-12 mob-lg">-->


<!--<div class="col-lg-4 col-sm-4 m-bot15">-->
<!--<h5  class="tabtxt heading">Total Amount</h5>-->
<!--<label class="flabel">{{totalPriceFormatter() |currency:' &#8377;  '}}</label>-->
<!--</div>-->
<!--<div class="col-lg-4 col-sm-4 m-bot15" ng-show="selOrder.selectedPayMentOptions.selection">-->
<!--<h5  class="tabtxt heading">Paid Amount</h5>-->
<!--<label class="flabel">{{selOrder.paidAmount |currency:' &#8377;  '}}</label>-->
<!--</div>-->

<!--<div class="col-lg-4 col-sm-2 m-bot15" ng-show="selOrder.selectedPayMentOptions.selection">-->
<!--<h5  class="tabtxt heading">Payment Status</h5>-->
<!--&lt;!&ndash;<span ng-click="toggleModal2()" class="label label-blue cursor">{{selOrder.selectedPayMentOptions.status}}</span>&ndash;&gt;-->
<!--<span  class="label label-blue">{{selOrder.selectedPayMentOptions.status}}</span>-->
<!--<span ng-click="toggleModal2()" class="fa fa-pencil cursor edit-status"></span>-->

<!--<modal title="Payment Status" visible="showModal2">-->


<!--<div class="form-group">-->
<!--<label for="paymentstatus">Payment Status</label>-->

<!--<select class="form-control input-sm m-bot15" name="status" ng-model="selOrder.selectedPayMentOptions.status" id='paymentstatus' ng-options="s.value as s.text for s in selOrder.paymentArray">-->
<!--<option value="" selected="selected">Select</option>-->
<!--</select>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="paymentMode">Payment Mode</label>-->
<!--<select class="form-control input-sm m-bot15" ng-model="selOrder.selectedPayMentOptions.paymentMode" id="paymentMode" name="paymentMode" ng-options="s.value as s.text for s in paymentType" chosen="chosen-select" >-->
<!--<option value="" selected="selected">Select</option>-->
<!--</select>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<input ng-model="amount" name="amount" class="form-control" is-number>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="paycomments">Order Payment Comments</label>-->
<!--<textarea ng-model="paymentComments" id="paycomments"  rows="4" cols="40" class="form-control m-top15 resize" rows="1" id="paymentComments" maxlength="1024"></textarea>-->
<!--</div>-->
<!--<div class="col-lg-6"><button type="button" class="btn btn-save" ng-click="updateOrderStatus(false);toggleModal2();">Submit</button></div>-->
<!--<div class="col-lg-6"><button type="button" class="btn btn-cancel"  data-dismiss="modal" aria-hidden="true" data-ng-click="selOrder.onchangespaymentstatus=false;orderUpdateFields();clearPaymentData();">Cancel</button></div>-->




<!--</modal>-->
<!--</div>-->


<!--</div>-->
<!--<div class="col-lg-12 col-sm-12 m-top40 mob-lg">-->

<!--&lt;!&ndash;   <div>-->
<!--<h3  class="tabtxt heading">Products<button type="button" title="Add Products"  class="btn btn-success addbtn"><i class="fa-plus faa"></i></button></h3>-->
<!--<hr class="nline" >-->
<!--</div>&ndash;&gt;-->

<!--<section class="panel ">-->


<!--<div class="table-responsive">-->
<!--<table class="table responstable">-->
<!--<thead>-->
<!--<tr>-->
<!--<th>Product Name</th>-->
<!--<th>Unit Price</th>-->
<!--<th>Unit Size(Measure)</th>-->
<!--<th>No. of Units</th>-->
<!--<th>MOQ</th>-->
<!--<th>Price</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr ng-repeat="singleproduct in selOrder.products" ng-show="selOrder.currentStatus!=='Drafted' && selOrder.currentStatus!=='Placed'">-->
<!--<td><label title="{{singleproduct.product.name}}" type="text" class="form-control prlimit">{{singleproduct.product.name}}</label></td>-->
<!--<td><label type="text" class="form-control">{{singleproduct.unitPrice}}</label></td>-->
<!--<td><label type="text" class="form-control">{{singleproduct.product.unitSize+' ('+singleproduct.product.unitMeasure+' )'}}</label></td>-->
<!--<td><label type="text" class="form-control">{{singleproduct.numberOfUnits}}</label></td>-->
<!--<td><label type="text" class="form-control">{{singleproduct.MOQ}}</label></td>-->
<!--<td><label type="text" class="form-control">{{singleproduct.unitPrice*singleproduct.numberOfUnits |currency:' &#8377; '}}</label></td>-->
<!--</tr>-->
<!--&lt;!&ndash;  <tr ng-repeat="singleproduct in selOrder.products" ng-show="selOrder.currentStatu==='Drafted'">-->
<!--<td><label type="text" class="form-control">{{singleproduct.product.name}}</label></td>-->
<!--<td><label type="text" class="form-control">{{singleproduct.unitPrice}}</label></td>-->
<!--<td><label type="text" class="form-control">{{singleproduct.product.unitSize+' ('+singleproduct.product.unitMeasure+' )'}}</label></td>-->
<!--<td><label type="text" class="form-control">{{singleproduct.numberOfUnits}}</label></td>-->
<!--<td><label type="text" class="form-control">{{singleproduct.MOQ}}</label></td>-->
<!--<td><label type="text" class="form-control">{{singleproduct.unitPrice*singleproduct.numberOfUnits |currency:' &#8377; '}}</label></td>-->
<!--</tr>&ndash;&gt;-->

<!--<tr ng-repeat="singleproduct in selOrder.products" ng-show="selOrder.currentStatus==='Drafted' || selOrder.currentStatus==='Placed'">-->
<!--<td><label title="{{singleproduct.product.name}}" type="text" class="form-control prlimit">{{singleproduct.product.name}}</label></td>-->
<!--<td><label type="text" class="form-control">{{singleproduct.unitPrice}}</label></td>-->
<!--<td><label type="text" class="form-control">{{singleproduct.product.unitSize+' ('+singleproduct.product.unitMeasure+' )'}}</label></td>-->
<!--<td><input type="number" ng-model="singleproduct.numberOfUnits" class="form-control"></td>-->
<!--<td><label type="text" class="form-control">{{singleproduct.MOQ}}</label></td>-->
<!--<td><label type="text" class="form-control">{{singleproduct.unitPrice*singleproduct.numberOfUnits |currency:' &#8377; '}}</label></td>-->

<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->

<!--</section>-->



<!--</div>-->
<!--<div class="col-lg-12 col-sm-12 mob-lg" ng-show="selOrder.currentStatus!=='Drafted'&& selOrder.currentStatus!=='Placed'">-->
<!--<hr class="nline" >-->
<!--<div class="col-lg-12 mob-lg">-->
<!--<div class="wiz">-->
<!--<div role="tabpanel">-->
<!--&lt;!&ndash; Nav tabs &ndash;&gt;-->
<!--<div class="tabs tabs-style-comments">-->
<!--<ul class="nav nav-tabs comments" role="tablist">-->
<!--<li role="presentation" class="active"><a class="tabtxt" aria-expanded="false" href="#tab51" role="tab" data-toggle="tab">COMMENTS</a></li>-->
<!--<li role="presentation"><a class="tabtxt" aria-expanded="true" href="#tab52" role="tab" data-toggle="tab">PAYMENT HISTORY</a></li>-->

<!--<li role="presentation"><a class="tabtxt" aria-expanded="true" href="#tab53" role="tab" data-toggle="tab">STATUS HISTORY</a></li>-->

<!--</ul>-->
<!--</div>-->
<!--&lt;!&ndash; Tab panes &ndash;&gt;-->
<!--<div class="tab-content">-->
<!--<div role="tabpanel" class="tab-pane  active" id="tab51">-->
<!--<div class="row">-->
<!--<div class="msg-timeline-comment" ng-repeat="orderMessage in orderMessages track by $index">-->
<!--<div class="timeline-comment-header">-->
<!--<img data-ng-src="{{orderMessage.user.profileImageURL}}" alt="{{authentication.user.displayName}}">-->
<!--<p><small>{{orderMessage.created |date:'medium'}}</small></p>-->
<!--</div>-->
<!--<p class="timeline-comment-text">{{orderMessage.body}}<p>-->
<!--</div>-->
<!--<form class="form-horizontal" name="commentsForm" data-ng-submit="createMessage(selOrder._id)">-->
<!--<div>-->
<!--<textarea class="form-control  m-top15 resize" rows="4" cols="40" data-ng-model="body" placeholder="Enter Your Comments..."  maxlength="1024"></textarea>-->

<!--</div>-->
<!--<div class="col-lg-3 lg col-sm-3">-->
<!--<button class="btn btn-save m-top15">SUBMIT COMMENT</button>-->
<!--</div>-->

<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--<div role="tabpanel" class="tab-pane" id="tab52">-->
<!--<add-payment-history data-ng-show="true"></add-payment-history>-->
<!--&lt;!&ndash;   <div class="row">-->
<!--<div class="msg-timeline-comment">-->
<!--<div class="timeline-comment-header">-->
<!--<img src="/modules/core/img/dashboard/avatar-mini3.jpg" alt="">-->
<!--<p><small>14 Dec, 2015, 4:32 PM</small></p>-->
<!--</div>-->
<!--<p class="timeline-comment-text">Payment Needs to be made for Order No: 548568 before 21 Dec 2015<p>-->
<!--</div>-->
<!--<div class="msg-timeline-comment">-->
<!--<div class="timeline-comment-header">-->
<!--<img  alt="">-->
<!--<p><small>14 Dec, 2015, 4:32 PM</small></p>-->
<!--</div>-->
<!--<p class="timeline-comment-text">Order Placed for 10kg Robusta banana by Jack Fernandez<p>-->
<!--</div>-->

<!--</div>/.row&ndash;&gt;-->
<!--</div>-->

<!--<div role="tabpanel" class="tab-pane" id="tab53">-->
<!--<add-status-history data-ng-show="true"></add-status-history>-->
<!--&lt;!&ndash; <div class="row">-->
<!--<div class="msg-timeline-comment">-->
<!--<div class="timeline-comment-header">-->
<!--<img src="/modules/core/img/dashboard/avatar-mini3.jpg" alt="">-->
<!--<p><small>14 Dec, 2015, 4:32 PM</small></p>-->
<!--</div>-->
<!--<p class="timeline-comment-text">Payment Needs to be made for Order No: 548568 before 21 Dec 2015<p>-->
<!--</div>-->
<!--<div class="msg-timeline-comment">-->
<!--<div class="timeline-comment-header">-->
<!--<img  alt="">-->
<!--<p><small>14 Dec, 2015, 4:32 PM</small></p>-->
<!--</div>-->
<!--<p class="timeline-comment-text">Order Placed for 10kg Robusta banana by Jack Fernandez<p>-->
<!--</div>-->

<!--</div>/.row&ndash;&gt;-->
<!--</div>-->


<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->
