
<div layout-padding>
    <div class="md-toolbar-tools" flex layout-align="space-between start"><div>Products with insufficient inventory</div>  <span class="fa fa-times" ng-click="cancel()"></span></div>

    <div layout-padding layout-wrap layout="row" layout-sm="row" layout-xs="row" layout-gt-lg="row" layout-align="center center" class="nv-text-center nv-border">
        <div flex="100" flex-gt-lg="100" flex-sm="100" flex-xs="100" layout="row" class="nv-header-product">
        <div flex="25" flex-sm="25" flex-xs="25" flex-gt-lg="25" >
            <span>Name</span>
        </div>
        <div flex="25" flex-sm="25" flex-xs="25" flex-gt-lg="25">
            <span>Unit Size (Measure)</span>
        </div>
        <div flex="25" flex-sm="25" flex-xs="25" flex-gt-lg="25">
            <span>Required</span>
        </div>
        <div flex="25" flex-sm="25" flex-xs="25" flex-gt-lg="25">
            <span>Available</span>
        </div>
        </div>
        <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100" ng-repeat="product in insuffientProducts track by $id(product)" class="nv-no-background">
            <div layout-wrap layout="row" layout-sm="row" layout-xs="row" layout-gt-lg="row">
            <div flex="25" flex-sm="25" flex-xs="25" flex-gt-lg="25">
                {{product.inventory.product.name}}
            </div>
            <div flex="25" flex-sm="25" flex-xs="25" flex-gt-lg="25">
                {{product.inventory.unitSize+' ('+product.inventory.unitMeasure+')'}}
            </div>
            <div flex="25" flex-sm="25" flex-xs="25" flex-gt-lg="25">
                {{product.numberOfUnits}}
            </div>
                <div flex="25" flex-sm="25" flex-xs="25" flex-gt-lg="25">
                    {{product.inventory.numberOfUnits}}
                </div>
            </div>
        </div>
    </div>

</div>
</div>
