<md-card class="bb-min-height"  ng-controller="ReportsController" data-ng-init="find()">
    <div  layout="row" layout-xs='row' layout-xs="column"
          layout-sm="row" layout-gt-lg="row" layout-wrap>

        <form name="companyPaymentFormMode" data-ng-submit="generateSalesReport()">
            <div  layout="row" layout-xs='row' layout-xs="column"
                 layout-sm="row" layout-gt-lg="row" layout-wrap>



                <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                    <md-input-container>
                        <md-select-header>
                            <span> Report Type </span>
                        </md-select-header>
                        <md-select required ng-model="reportType">
                            <md-option ng-repeat="option in reportTypes">
                                {{option}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                    <md-datepicker  ng-model="from" md-placeholder="From Duration">
                    </md-datepicker>
                    <md-datepicker  ng-model="to" md-placeholder="To Duration">
                    </md-datepicker>
                </div>


            </div>
            <div layout-padding layout="row" layout-xs='row' layout-xs="column"
                 layout-sm="row" layout-gt-lg="row" layout-wrap>
                <div flex="40" flex-xs="100" flex-sm="25" flex-gt-lg="15">
                    <md-button ng-click="reportFormat='PDF'"
                               type="submit"
                               class="md-raised md-primary bb-wid-100">PDF
                    </md-button>
                </div>

                <div flex="40" flex-xs="100" flex-sm="25" flex-gt-lg="15">
                    <md-button type="submit" ng-click="reportFormat='XLS'"
                               class="md-raised md-primary bb-wid-100">XLS
                    </md-button>
                </div>

                <div flex="30" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                    <div data-ng-show="success" class="text-center text-success">
                        <strong>Saved Options Successfully</strong>
                    </div>
                    <div data-ng-show="error" class="text-center text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div flex="40" flex-xs="100" flex-sm="25" flex-gt-lg="15" ng-show="authentication.user.username==='hema@nvipani.com'">
        <md-button type="submit" ng-click="getFiles()"
                   class="md-raised md-primary bb-wid-100">Get Files
        </md-button>
    </div>
    <div ng-show="showFiles && authentication.user.username==='hema@nvipani.com'">
        <div  ng-repeat="file in files">
        <a  ng-click="getFile(file)">{{file.name}}</a>
        </div>
    </div>
</md-card>
