<section data-ng-controller="ReportsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1 data-ng-bind="report.name"></h1>
    </div>
    <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == report.user._id))">
        <a class="btn btn-primary" href="/#!/reports/{{report._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <small>
        <em class="text-muted">
            Posted on
            <span data-ng-bind="report.created | date:'mediumDate'"></span>
            by
            <span data-ng-bind="report.user.displayName"></span>
        </em>
    </small>
</section>
