<div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
    <div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
         layout-wrap>

        <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
            <!--<div class="md-subhead">Category</div>
            <select id="subCategory11" size="10"
                    data-ng-model="subCategory1"
                    data-ng-options="subCategory1._id as subCategory1.name+' ('+subCategory1.code+')' for subCategory1 in  subCategories1  | orderBy:'name'"
                    data-ng-change="findCategory(subCategory1);"
                    class="form-control input-sm  bb-autotext">

            </select>-->
            <md-input-container class="bb-wid-100">
                <label>Category</label>
                <md-select id="subCategory11" data-ng-model="subCategory1" md-on-open="findSubCategories1()">
                    <md-option ng-repeat="subCategory1 in  subCategories1  | orderBy:'name'"
                               value="{{subCategory1._id}}"  >{{subCategory1.name}} ({{subCategory1.code}})</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50" ng-show="subCategory1">
            <md-input-container class="bb-wid-100">
                <label>Product</label>
                <md-select id="subCategory21" data-ng-model="subCategory2" name="homepage_select_first" md-on-open="findCategory(subCategory1)">
                    <md-option value="" ng-click="panelChange('addCategory')"><em>Add New Product</em></md-option>
                    <md-divider></md-divider>
                    <md-option data-ng-repeat="subCategory2 in subCategories2  | orderBy:'name' "
                                value="{{subCategory2._id}}">{{subCategory2.name}} ({{subCategory2.code}})</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50" ng-show="subCategory2">
            <md-input-container class="bb-wid-100">
                <label>Brand</label>
                <md-select md-on-open="findCategory(subCategory2)"
                           data-ng-model="productBrand"
                           data-ng-change="findBrandChange(productBrand);" id="brand">
                    <md-option value="" ng-click="panelChange('addBrand')">Add New Brand</md-option>
                    <md-divider></md-divider>
                    <md-option id="{{brand.name}}" data-ng-repeat="brand in productBrands"
                                value="{{brand._id}}">{{brand.name}}</md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>
</div>
