<div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
         layout-wrap>
    <div flex="50">
        <label>UOMs : </label>
        <md-autocomplete
                required
                md-no-cache="false"
                md-search-text="searchUomText"
                md-selected-item="existingProduct"
                md-selected-item-change="getSelectedItem(item)"
                md-items="item in findByUom(searchUomText,subCategory2,false,true)"
                md-item-text="item.name"
                md-floating-label="Search For UOM">
            <md-item-template>
                <span md-highlight-text="searchUomText" md-highlight-flags="^i" >{{item.name + ' '+(item.brandName?item.brandName:'')+' '+item.productUID}}</span>
            </md-item-template>
        </md-autocomplete>
    </div>
    <div flex="100" ng-show="UOMS.length>0" flex-xs="100" flex-sm="100" flex-gt-lg="100" layout="row" layout-wrap >
        <h4 class="nv-text-bold">Choose from the list of UOMs</h4>
        <div ng-repeat="uom in UOMS track by  $id(uom) " flex="100" layout-padding layout="row" layout-align="center center" class="nvc-border-bottom">
            <div>
                <!-- <md-icon
                         class="fa-minus-circle faa bb-minus-btn"
                         ng-click="UOMS.splice($index, 1)"
                         ng-show="UOMS.length > 0"></md-icon>-->
                <md-checkbox ng-disabled="uom.disabled" class="bb-center md-primary" ng-model="uom.selected" aria-label="Selection">
            </div>
            <div flex>
                <h6>Name</h6>
                <label class="bb-truncate">{{uom.name}}</label>
            </div>
            <div flex>
                <h6>Symbol</h6>
                <label>{{uom.symbol}}</label>
            </div>
        </div>
    </div>
    <div ng-show="UOMS.length===0 && searchUomText.length>2" flex="100">
        <h5 class="nv-text-bold">No UOMs Found... Search with another keyword</h5>
    </div>
</div>
