<div layout="row" layout-padding>
    <div class="bb-ubtn bb-btn-file nvc-shape-pill">
        <img class="bb-profimg-fix bb-img-center" data-ng-src="{{imageURL1}}"
             alt="Product Image 1">
        <div class="bb-layer">
            <span class="fa fa-camera bb-cam"></span>
        </div>
        <input type="file" ng-model="categoryImageURL1"  uploadpathkey='product'
               accept="image/*" uploader="uploader"/>
    </div>
    <div flex="70" layout="row">
        <md-autocomplete
                required
                md-no-cache="false"
                md-search-text="searchText"
                md-selected-item="existingProduct"
                md-selected-item-change="getSelectedItem(item)"
                md-items="item in findProduct(searchText,subCategory1,false)"
                md-item-text="item.name"
                md-floating-label="Product Name">
            <md-item-template>
                <span md-highlight-text="searchText" md-highlight-flags="^i" >{{item.name + ' '+(item.brandName?item.brandName:'')+' '+item.productUID}}</span>
            </md-item-template>
        </md-autocomplete>
        <md-input-container class="md-block">
            <label>Description</label>
            <textarea md-maxlength="1058" ng-disabled="selectedItem.productUID" md-no-asterisk ng-model="description"></textarea>
        </md-input-container>
    </div>
    <!--<div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100" layout="row" layout-wrap>
    <div flex="50" flex-xs="100" flex-sm="100" flex-gt-lg="50" layout-wrap class="nv-max-height-inventory">
        <div flex="{{createProducts.product.gradeDefinition.length>0? '100':'50'}}" flex-xs="100" flex-sm="100" flex-gt-lg="50" layout="row">
            <h2 class="md-headline">{{createProducts.product.gradeDefinition && createProducts.product.gradeDefinition.length>0? '':'Add '}}Grades</h2>
            <span flex></span>
            <md-button ng-hide="selectedItem.productUID " class="md-fab md-mini md-mini-cust bb-plus-btn"
                       aria-label="Favorite"
                       aria-label="Favorite" ng-click="addGrade(false)">
                <md-tooltip md-direction="top">Add Another Grade</md-tooltip>
                <md-icon class="fa fa-plus md-icon-cust"></md-icon>
            </md-button>
        </div>
    <md-card ng-repeat="eachGrade in createProducts.product.gradeDefinition track by $id(eachGrade) ">

        <div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
             layout-wrap>

            <div flex="80" flex-xs="45" flex-sm="45" flex-gt-lg="45">
                <md-input-container class="md-block">
                    <label>Key</label>
                    <input md-maxlength="128" required md-no-asterisk
                           ng-model="eachGrade.attributeKey">

                </md-input-container>
            </div>

            <div flex="2" flex-xs="2" flex-sm="2" flex-gt-lg="2">
                <md-icon class="fa-minus-circle faa bb-minus-btn"
                         ng-click="createProducts.product.gradeDefinition.splice($index, 1)"
                         ng-show="createProducts.product.gradeDefinition.length >0"></md-icon>
            </div>

        </div>




    </md-card>
    </div>
    <div flex="50" flex-xs="100" flex-sm="100" flex-gt-lg="50" layout-wrap class="nv-max-height-inventory">
        <div flex="{{createProducts.product.qualityDefinition && createProducts.product.qualityDefinition.length>0? '100': '50'}}" flex-xs="100" flex-sm="100" flex-gt-lg="50" layout="row">
            <h2 class="md-headline">{{createProducts.product.qualityDefinition && createProducts.product.qualityDefinition.length>0? '':'Add '}}Quality</h2>
            <span flex></span>
            <md-button ng-hide="selectedItem.productUID " class="md-fab md-mini md-mini-cust bb-plus-btn"
                       aria-label="Favorite"
                       aria-label="Favorite" ng-click="addQuality()">
                <md-tooltip md-direction="top">Add Another quality</md-tooltip>
                <md-icon class="fa fa-plus md-icon-cust"></md-icon>
            </md-button>
        </div>
    <md-card ng-repeat="eachQuality in createProducts.product.qualityDefinition track by $id(eachQuality) ">

        <div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
             layout-wrap>

            <div flex="80" flex-xs="45" flex-sm="45" flex-gt-lg="45">
                <md-input-container class="md-block">
                    <label>Key</label>
                    <input md-maxlength="128"  required md-no-asterisk ng-model="eachQuality.attributeKey">

                </md-input-container>

            </div>

            <div flex="2" flex-xs="2" flex-sm="2" flex-gt-lg="2">
                <md-icon class="fa-minus-circle faa bb-minus-btn"
                         ng-click="createProducts.product.qualityDefinition.splice($index, 1)"
                         ng-show="createProducts.product.qualityDefinition.length >0"></md-icon>
            </div>

        </div>




    </md-card>
    </div>
    </div>-->
</div>

