<div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
     layout-wrap>
    <div flex="50" flex-xs="100" flex-sm="75" flex-gt-lg="50">
        <label>HSN Codes : </label>
        <md-autocomplete
                required
                md-no-cache="false"
                md-search-text="searchHsnText"
                md-selected-item="existingProduct"
                md-selected-item-change="getSelectedItem(item)"
                md-items="item in findByHsncode(searchHsnText,subCategory1,false)"
                md-item-text="item.name"
                md-floating-label="Search Keywords">
            <md-item-template>
                <span md-highlight-text="searchHsnText" md-highlight-flags="^i" >{{item.name + ' '+(item.brandName?item.brandName:'')+' '+item.productUID}}</span>
            </md-item-template>
        </md-autocomplete>
    </div>
    <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">

        <div ng-show="hsnCodes.length>0" layout-padding layout="row" layout-xs='row' layout-xs="column"
             layout-sm="row" layout-gt-lg="row"
             layout-wrap>
            <h5 class="nv-text-bold">Found matching HSN Codes</h5>
            <div ng-repeat="hsncode in hsnCodes track by  $id(hsncode)" class="nvc-border-bottom" flex="100" layout-padding layout="row" layout-align="center center">
                <div>
                    <md-checkbox ng-disabled="hsncode.disabled" class="bb-center md-primary" ng-model="hsncode.selected" aria-label="Selection">
                    </md-checkbox>
                    <!-- <md-icon
                             class="fa-minus-circle faa bb-minus-btn"
                             ng-click="hsnCodes.splice($index, 1)"
                             ng-show="hsnCodes.length > 0"></md-icon>-->
                </div>
                <div flex>
                    <h6>Code</h6>
                    <label>{{hsncode.hsncode}}</label>
                    <!--<md-input-container class="md-block">
                        <label>code</label>
                        <input  md-maxlength="128"
                                md-minlength="1"
                                required
                                md-no-asterisk disabled ng-model="hsncode.hsncode">
                    </md-input-container>-->
                </div>
                <div flex>
                    <h6>Description</h6>
                    <label>{{hsncode.description}}</label>
                    <!--<md-input-container class="md-block">
                        <label>Description</label>
                        <input  md-maxlength="128"
                                md-minlength="1"
                                required
                                md-no-asterisk disabled ng-model="hsncode.description">
                    </md-input-container>-->
                </div>
            </div>
        </div>
        <div ng-show="searchHsnText.length>2 && hsnCodes.length===0">
            <h5>No matching HSN Codes found with the key work " <strong>{{searchHsnText}}</strong> "... Please try again</h5>
        </div>
    </div>
</div>
