<div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
     layout-wrap>

    <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="25">
        <label>Tax Groups: </label>
        <md-autocomplete
                required
                md-no-cache="false"
                md-search-text="searchTaxText"
                md-selected-item="existingProduct"
                md-selected-item-change="getSelectedItem(item)"
                md-items="item in findByTax(searchTaxText,subCategory2,false)"
                md-item-text="item.name"
                md-floating-label="Search Tax Keyword">
            <md-item-template>

                <span md-highlight-text="searchTaxText" md-highlight-flags="^i" >{{item.name + ' '+(item.brandName?item.brandName:'')+' '+item.productUID}}</span>

            </md-item-template>
            <!--      <md-not-found>
                      No states matching were found.
                      <a ng-click="newSelecetedItem(searchText)">Create a new one!</a>
                  </md-not-found>-->
        </md-autocomplete>
    </div>
    <div ng-show="taxGroups.length>0" flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100" layout="row" layout-wrap>
        <div ng-repeat="taxgroup in taxGroups track by  $id(taxgroup) " flex="100" layout="row" layout-wrap class="nvc-border-bottom" layout-align="center center">
            <div>
                <!--<md-icon
                        class="fa-minus-circle faa bb-minus-btn"
                        ng-click="taxGroups.splice($index, 1)"
                        ng-show="taxGroups.length > 0"></md-icon>-->
                <md-checkbox ng-disabled="taxgroup.disabled" class="bb-center md-primary" ng-model="taxgroup.selected" aria-label="Selection">
                </md-checkbox>
            </div>
            <div flex>
                <h6>Tax Name</h6>
                <label>{{taxgroup.name}}</label>
                <!--<md-input-container class="md-block">
                    <label>tax name</label>
                    <input  md-maxlength="128"
                           md-minlength="1"
                           required
                           md-no-asterisk disabled ng-model="taxgroup.name" nv-regulation-exp="key">
                </md-input-container>-->
            </div>
            <div flex>
                <h6>Tax Rate</h6>
                <label>{{taxgroup.IGST}}</label>
                <!--<md-input-container class="md-block">
                    <label>Tax Rate</label>
                    <input md-maxlength="128"
                           md-minlength="1"
                           required
                           md-no-asterisk disabled ng-model="taxgroup.IGST" nv-regulation-exp="key">
                </md-input-container>-->
            </div>
            <div flex>
                <h6>Description</h6>
                <label>{{taxgroup.description}}</label>
                <!--<md-input-container class="md-block">
                    <label>Description</label>
                    <input  md-maxlength="128"
                           md-minlength="1"
                           required
                           md-no-asterisk disabled ng-model="taxgroup.description" nv-regulation-exp="key">
                </md-input-container>-->
            </div>
        </div>
    </div>
</div>
