<div class="nvc-slider-form">
    <div class="nvc-form-content">
        <div layout="row" layout-align="center center" class="nvc-sticky-top">
            <md-button class="md-icon-button md-mini" ng-click="cancel()" aria-label="close dialog">
                <md-icon class="fa fa-times fa-lg"></md-icon>
            </md-button>
            <h4 flex class="nv-text-center nv-text-bold">Import from CSV/Excel</h4>
            <md-button class="md-icon-button md-mini" ng-click="clearFields()" aria-label="reset form">
                <md-icon class="fa fa-repeat fa-lg"></md-icon>
            </md-button>
        </div>
    <div class="nvc-create-head">
        <div class="nvc-create-head-tag nvc-primary-color">1</div>
        <div class="nvc-create-head-content">
            <h5>Upload File</h5>
            <h6>Add the products list file in excel or csv format</h6>
        </div>
    </div>
    <div class="nvc-create-content" >
        <span>Use the sample xlsx file to get started for entering products to be added to the system.</span>
        <h6 ng-show="importLevel>0" class="nvc-create-content-prod">
            File Uploaded
        </h6>
        <span ng-show="importLevel>0" ng-click="setImportLevel(0)">Modify</span>
        <div layout="row" layout-padding layout-align="start stretch" ng-show="importLevel ===0">
            <div >
                <div class="nvc-upload-button bb-cursor" >
                <span class="fa fa-cloud-upload fa-2x nvc-primary-color bb-btn-file bb-cursor layout-row layout-align-center-center">
                    <input id="fileproducts" type="file" ng-model="doc"  fileimport="true" uploadpathkey='product'
                                                                      accept=".csv,.xlsx" uploader="uploader"/>
                     </span>
                    <md-tooltip md-direction="bottom">{{result?'Modify':'Upload'}} File</md-tooltip>
                </div>
            </div>
        <div flex layout="column" layout-align="space-between start" class="nvc-padding-left-10">
            <h6 >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;View sample product listed file&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a type='text/csv' target="_blank" class="bb-cursor" ng-click="getViewFileTemplate('products')"><span class="fa fa-eye nvc-primary-color"></span></a> </h6>
            <h6 >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Download file template&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a target='_blank' download="product-import-template.xlsx" href="/templates/product-import-template.xlsx"><span class="fa fa-download nvc-primary-color"></span></a> </h6>
        </div>
        </div>
    </div>
    <div class="nvc-create-head">
        <div class="nvc-create-head-tag nvc-primary-color">2</div>
        <div class="nvc-create-head-content">
            <h5>Ensure Classifications</h5>
            <h6>Confirm product categories present in file and proceed</h6>
        </div>
    </div>
    <div class="nvc-create-content">
        <div ng-show="importLevel===1">
            <div flex="100" class="nvc-margin-bottom-10" ng-show="results.matchedCategories.length>1">
                <nv-check-box  selectedlist="selectedList" label='Select All Categories' orginallist=" results.matchedCategories"></nv-check-box>
            </div>
            <md-checkbox class="md-primary bb-center" ng-repeat="category in results.matchedCategories" ng-model="category.selected" ng-change="changeSelectedCategory(true)">
            {{category.name}}
            </md-checkbox>
        <h5 ng-show="results.matchedCategories.length===0"><span class="text-danger nv-text-bold">No matched categories found in the uploaded file, Please check the file for any errors and kindly use the sample file for reference</span></h5>
        <!-- errors here-->

        <!--print scope.result.error in case of errors on hover-->
        <h5><span class="text-danger nv-text-bold"
                  ng-show="errorsummary">{{errorsummary}}</span></h5>
        <table class="table" table ng-if="results.errors.length>0">
            <thead>
            <tr>
                <th>Line Number</th>
                <th>Error Message</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="error in results.errors">
                <td >{{error.srcLine}}</td>
                <td><p ng-bind-html="error.lineData"></p></td>
            </tr>
            </tbody>
        </table>
        </div>
        <div ng-show="importLevel>1">
            <h6 class="nvc-create-content-prod">
                {{getSelectedCategoriesName()+' '+ (selectedMatchedCategories.length>1?'Categories are ':'Category is ')}} selected
            </h6>
            <span ng-click="setImportLevel(1)">Modify</span>
        </div>
    </div>
        <div class="nvc-create-head">
        <div class="nvc-create-head-tag nvc-primary-color">3</div>
        <div class="nvc-create-head-content">
            <h5>Finalize Listing</h5>
            <h6>Select the matches from nVipani's Catalogue, If they are the one you want to list</h6>
        </div>
        </div>
    <div class="nvc-create-content">
        <div ng-show="importLevel===2">
       <div layout="row" layout-align="space-around center" layout-wrap ng-show="matchedProducts.length>0">
           <div flex="5">
               <!--<md-checkbox aria-label="select all matched products" class="md-primary" ng-model="selectAllMatchedProducts" ng-change="changeMatchedProductSelection(false)"></md-checkbox>-->
               <nv-check-box  selectedlist="selectedList" orginallist="matchedProducts"></nv-check-box>
           </div>
           <div flex="40">
               <h5 class="nv-text-bold">Select all matches</h5>
           </div>
           <div flex="40"></div>
           <div flex="50" class="nv-text-center nvc-accent-background"><h6 class="nv-text-bold">From nVipani Catalogue</h6></div>
           <div flex="50" class="nv-text-center nvc-accent-background"><h6 class="nv-text-bold">Your Products </h6></div>
           <div flex="100" layout="row" ng-repeat="matchedProduct in matchedProducts" layout-padding layout-align="space-around center">
               <div flex="5">
                   <md-checkbox class="md-primary" ng-model="matchedProduct.selected" aria-label="select matched inventory">
                   </md-checkbox>
               </div>

               <div flex="40" >
                   <!--category-->
                   <div ng-if="matchedProduct.productData.isOld">
                   <h5>{{matchedProduct.lineData.subCategory1}}</h5>
                   <!--Product-->
                   <h5 class="nv-text-bold">{{matchedProduct.productData.productName}}</h5>
                   <!--Company-->
                   <h5>{{matchedProduct.productData.brandName}}</h5>
                   <!--hsn code-->
                   <h5>HSN Code: {{matchedProduct.productData.hsnCode}}</h5>
                   </div>
               </div>
               <md-divider class="nvc-divider"></md-divider>
               <div flex="40">
                   <!--category-->
                   <h5>{{matchedProduct.lineData.subCategory1}}</h5>
                   <!--Product-->
                   <h5 class="nv-text-bold">{{matchedProduct.lineData.productName}}</h5>
                   <!--Company-->
                   <h5>{{matchedProduct.lineData.productBrand}}</h5>
                   <!--hsn code-->
                   <h5>HSN Code: {{matchedProduct.lineData.hsnCode}}</h5>
               </div>
           </div>

       </div>
        <h5 ng-show="matchedProducts.length===0"><span class="text-danger nv-text-bold">No matched products found in the uploaded file, Please check the file for any errors and kindly use the sample file for reference</span></h5>
        <div>
            <h5><span class="text-danger nv-text-bold bb-layout-padding nvc-accent-background nvc-shape-pill"
                      ng-show="productErrors.length > 0">Error Messages</span></h5>
            <table class="table" table ng-if="productErrors.length > 0">
                <thead>
                <tr>
                    <th>Line Number</th>
                    <th>Error Message</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="error in productErrors">
                    <td >{{error.srcLine}}</td>
                    <td><p ng-bind-html="error.errorMessage"></p></td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>
        <div ng-show="importLevel>2">
            <h6 class="nvc-create-content-prod">
                {{(importCount)+' '+(importCount>1?'Inventories':'Inventory')}} added Successfully
            </h6>
        </div>
    </div>
        <div class="nvc-create-head">
            <div class="nvc-create-head-tag nvc-primary-color">4</div>
            <div class="nvc-create-head-content">
                <h5>Upload Images</h5>
                <h6>Upload the images in the file.  This could take a while to finish depending on the number of images to upload and your network speed.</h6>
                <span>All product images are uploaded in a single zip file. Provide the image filenames as in the zip file in the images column field. For example, if the path in the zip file is product1/sonarice.jpg, then the corresponding image field in the excel file should contain the same path. If the file is directly in the zip file, then the product import csv should contain the field value as sonarice.jpg. </span>
            </div>
        </div>
        <div class="nvc-create-content" ng-show="importLevel===3">
            <div layout="row" layout-wrap>
                <div class="nvc-upload-button bb-cursor" >
                <span class="fa fa-cloud-upload fa-2x nvc-primary-color bb-btn-file bb-cursor layout-row layout-align-center-center">
                   <input type="file" ng-model="doc"  uploadpathkey='inventory'
                          accept=".zip" uploader="uploader"/>
                     </span>
                </div>
            </div>
            <div>
                <table class="table" table ng-if="imageUploadErrors.length">
                    <thead>
                    <tr>
                        <th>Line Number</th>
                        <th>Error Message</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="error in imageUploadErrors">
                        <td >{{error.srcLine}}</td>
                        <td><p ng-bind-html="error.message"></p></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <h5>{{imageUploadMessage}}</h5>
            </div>
        </div>


<!--<div flex="100" ng-show="importType==='product'">
    <h1>Import Csv File</h1>
    <input type="file" ng-model="doc"  fileimport="true" uploadpathkey='product'
           accept="text/*" uploader="uploader"/></div>

    <div ng-show="importType==='MassImport'">
     &lt;!&ndash; <create-category></create-category>&ndash;&gt;
        <create-import></create-import>
    </div>-->
</div>
    <div layout="row">
        <md-button class="nvc-padding-0 nvc-margin-0 flex-100" ng-click="importNextStep(importLevel)" ng-disabled="!getImportButtonStatus(importLevel)" ng-class="getImportButtonStatus(importLevel)?'nvc-primary-background':'nvc-accent-background'" title="List Selected Products">
            {{importButtonText}}
        </md-button>
    </div>
</div>
