<div class="nvc-slider-form">
    <div class="bb-height-100">
        <div layout="row" layout-align="center center" class="nvc-sticky-top">
            <md-button class="md-icon-button md-mini" ng-click="changeBack()" aria-label="close dialog"><md-icon class="fa fa-times fa-lg"></md-button>
            <h4 flex class="nv-text-center nv-text-bold">Add {{(isProduct?'New Product in '+selectedSubCategory1Category.name:'')+(isBrand?'New Brand in '+selectedSubCategory.name:'')}}</h4>
            <md-button class="md-icon-button md-mini" ng-click="clearProduct()" aria-label="reset form"><md-icon class="fa fa-repeat fa-lg"></md-icon></md-button>
        </div>
        <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-wrap layout-align="space-between center" class="nvc-content" >
            <div flex>
                <div class="f1-steps">
                    <!--<div class="f1-progress">
                        <div class="f1-progress-line" ng-style="{'width': (100*getSelectedPageId()/pages.length + 50/pages.length)+'%'}"></div>
                    </div>-->
                    <div class="f1-step" ng-style="{'width': (100/pages.length)+'%'}" ng-repeat="page in pages track by $index" ng-click="!isCompleted(page)||prev(page)" ng-class="{ active: isActive(page), activated: isCompleted(page) }">
                        <div class="f1-step-icon">{{$index+1}}</div>
                        <p>{{page.title}}</p>
                    </div>
                </div>
            </div>
            <div>
                <md-button class="md-raised md-primary" ng-click="next()" ng-hide="selectedPageId >= pages.length - 1">
                    Next <span class="fa fa-arrow-right"></span>
                </md-button>
                <md-button class="md-raised md-primary" ng-show="selectedPageId >= pages.length - 1" type="button" ng-click="next(2)">
                    Submit
                </md-button>
            </div>
            <div ng-show="isProduct && !isBrand" flex="100">
                <create-category ng-show="selectedPageId===0" class="bb-wid-100"></create-category>
                <create-hsncodes-product ng-show="selectedPageId===1" class="bb-wid-100"></create-hsncodes-product>
                <create-tax ng-show="selectedPageId===2" class="bb-wid-100"></create-tax>
            </div>
            <div ng-show="isBrand && !isProduct" flex="100">
                <create-product-brand ng-show="selectedPageId===0" class="bb-wid-100"></create-product-brand>
            </div>
            <create-uom ng-show="(isProduct &&selectedPageId===3)||(isBrand&&selectedPageId===1) " class="bb-wid-100"></create-uom>
        </div>
    </div>
</div>
