<div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
    <md-card layout-padding layout="row" layout-xs='row' layout-xs="column"
             layout-sm="row" layout-gt-lg="row"
             layout-wrap>
        <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
            <md-autocomplete
                    required
                    md-no-cache="false"
                    md-search-text="searchBrandText"
                    md-selected-item="existingProduct"
                    md-selected-item-change="getSelectedItem(item)"
                    md-items="item in findProduct(searchText,subCategory2,false)"
                    md-item-text="item.name"
                    md-floating-label="Brand Name" class="nvc-padding-0 nvc-margin-bottom-0">
                <md-item-template>

                    <span md-highlight-text="searchBrandText" md-highlight-flags="^i" >{{item.name + ' '+(item.brandName?item.brandName:'')+' '+item.productUID}}</span>

                </md-item-template>
                <!--      <md-not-found>
                          No states matching were found.
                          <a ng-click="newSelecetedItem(searchText)">Create a new one!</a>
                      </md-not-found>-->
            </md-autocomplete>
        </div>
        <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
            <md-input-container class="md-block nvc-margin-bottom-0">
                <label>Brand Description</label>
                <textarea md-maxlength="1058" ng-disabled="selectedItem.productUID" md-no-asterisk ng-model="description"></textarea>
            </md-input-container>
        </div>
        <div flex="50" flex-xs="50" flex-sm="50" flex-gt-lg="50">
            <md-input-container class="md-block nvc-margin-top-0">
                <label>Hsn Code</label>
                <md-select ng-model="createProducts.brand.hsncode"  aria-label="Select  Hsn code" >
                    <md-option  id='RC_{{$index}}' ng-repeat="hsncode in hsncodes track by $id(hsncode)"  ng-value="hsncode._id">
                        <!-- <span ng-class="item._id===-1?'fa fa-plus nv-select-new-label':''"></span>-->
                        <span>{{(hsncode.hsncode)}}</span>
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div flex="50" flex-xs="50" flex-sm="50" flex-gt-lg="50">
            <md-input-container ng-show="!showBuyerChange" class="md-block nvc-margin-top-0">
                <label>Tax Group</label>
                <md-select ng-model="createProducts.brand.taxGroup"  aria-label="Select  tax group">
                    <md-option  ng-repeat="tax in taxGroups track by $id(tax)"  ng-value="tax._id">
                        <!-- <span ng-class="item._id===-1?'fa fa-plus nv-select-new-label':''"></span>-->
                        <span>{{(tax.name)}}</span>
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <h4 class="nv-text-bold" ng-show="gradeDefinition.length>0"> Grade Details </h4>
        <div ng-repeat="singleGrade in gradeDefinition track by $id(singleGrade)" flex="100" layout="row" layout-padding layout-align="center center">
            <div>
                <md-icon class="fa-times-circle fa fa-lg bb-minus-btn"
                         ng-click="gradeDefinition.splice($index, 1)"
                         ng-show="gradeDefinition.length >0"></md-icon>
            </div>
            <div flex>
                <h6>Key</h6>
                <label>{{singleGrade.attributeKey}}</label>
                <!--<md-input-container class="md-block">
                    <label>Key</label>
                    <input md-maxlength="128" ng-disabled="true" required md-no-asterisk
                            ng-model="singleGrade.attributeKey">
                </md-input-container>-->
            </div>
            <div flex>
                <h6>Value</h6>
                <label>{{singleGrade.attributeValue.join(', ')}}</label>
                <!--<md-input-container class="md-block">
                    <label>Value</label>
                    <input md-maxlength="128"  required md-no-asterisk
                            ng-model="singleGrade.attributeValue">
                </md-input-container>-->
            </div>
        </div>
        <h4 class="nv-text-bold" ng-show="qualityDefinition.length>0"> Quality Details </h4>
        <div ng-repeat="singleQuality in qualityDefinition track by $id(singleQuality)" flex="100" layout="row" layout-padding layout-align="center center">
            <div>
                <md-icon class="fa-times-circle fa fa-lg bb-minus-btn"
                         ng-click="qualityDefinition.splice($index, 1)"
                         ng-show="qualityDefinition.length >0"></md-icon>
            </div>
            <div flex>
                <h6>Key</h6>
                <label>{{singleQuality.attributeKey}}</label>
                <!--<md-input-container class="md-block">
                    <label>Key</label>
                    <input md-maxlength="128" disabled required md-no-asterisk
                           ng-model="singleQuality.attributeKey">
                </md-input-container>-->
            </div>
            <div flex>
                <h6>Value</h6>
                <label>{{singleQuality.attributeValue.join(', ')}}</label>
                <!--<md-input-container class="md-block">
                    <label>Value</label>
                    <input md-maxlength="128" required md-no-asterisk
                          ng-model="singleQuality.attributeValue">
                </md-input-container>-->
            </div>
        </div>
        <div flex="30" flex-xs="100" flex-sm="25" flex-gt-lg="25">
            <div class="bb-ubtn bb-btn-file">
                <img class="bb-profimg-fix bb-img-center" data-ng-src="{{imageURL1}}"
                     alt="Product Image 1">

                <div class="bb-layer">
                    <span class="fa fa-camera bb-cam"></span></div>
                <!--<input type="file" nv-file-select uploader accept="image/*">-->
                <input type="file" ng-model="categoryImageURL1"  uploadpathkey='product'
                       accept="image/*" uploader="uploader"/></div>
            <span id="lblErrorAddProduct" class="text-danger bb-f-15 bb-center"></span>
        </div>
    </md-card>
</div>

