<section data-ng-controller="CategoriesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Categories</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="category in categories" data-ng-href="#!/categories/{{category._id}}"
           class="list-group-item">
            <small class="list-group-item-text">
                Posted on
                <span data-ng-bind="category.created | date:'medium'"></span>
                by
                <span data-ng-bind="category.user.displayName"></span>
            </small>
            <h4 class="list-group-item-heading" data-ng-bind="category.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!categories.$resolved || categories.length">
        No Categories yet, why don't you <a href="/#!/categories/create">create one</a>?
    </div>
</section>
