<div class="nvc-category-select">
    <div layout="row" layout-xs="row" layout-wrap layout-align="space-around center">

        <md-card flex="30" flex-xs="90" ng-repeat="segment in segments  track by $id(segment)" id="segm_{{$index}}" ng-value="segment" class="bb-pop-less nvc-category-select-img" ng-if="registrationCategory.name==='Distributor' && !segment.isSpecific">
            <md-checkbox ng-model="segment.selected" aria-label="{{segment.name}}" class="nvc-margin-0">
                <div class="nv-position-relative">
                <img data-ng-src="{{segment.segmentImageURL1}}" class="p-img-fix img-responsive" alt="{{segment.name}}">
                <div class="no-stock">{{segment.name}}</div></div>
            </md-checkbox>
        </md-card>

        <md-radio-group ng-model="selectedSegments"  ng-show="!segment.isSpecific && registrationCategory.name==='Manufacturer'" layout-align="space-around center" layout="row"
                        layout-xs='row' layout-sm="row" layout-gt-lg="row" layout-wrap>
            <md-radio-button flex="30" flex-xs="90" ng-repeat="segment in segments  track by $id(segment)" ng-click="getSegmentCount();" id="seg_{{$index}}" ng-value="segment" class="md-primary bb-pop-less nvc-category-select-img nvc-margin-5" ng-show="!segment.isSpecific">
                <div class="nv-position-relative">
                    <img data-ng-src="{{segment.segmentImageURL1}}" class="p-img-fix img-responsive bb-wid-100" alt="">
                    <div class="no-stock">{{segment.name}}</div></div>
            </md-radio-button>
        </md-radio-group>

    </div>

    <md-button class="md-raised" ng-show="registrationCategory.name ==='Distributor'" ng-click=otherSegment();>{{otherSegments.selected?'Show Less':'Explore More'}}</md-button>
    <div class="nv-text-left">
        <nv-tree  ng-if="otherSegments.selected || !(registrationCategory.name==='Manufacturer' || registrationCategory.name==='Distributor')" tree="mainSubCategories" parent="mainSubCategories"></nv-tree>
    </div>
</div>

