<div class="nvc-category">
    <div class="nvc-subcategory1 nv-position-relative"><md-checkbox ng-model="node.isChecked" ng-change="checkChange(node)" class="md-primary">{{node.name}} {{node.selectedChild?' ('+node.selectedChild+')':''}}</md-checkbox>
    <span id={{node.code}} ng-class="{'accordion-toggle':node.children.length>0?true:false, collapsed:node.childrenVisibility}" ng-click="toggleVisibility(node)"></span>
    </div>
</div>
