<div class="nvc-reg-cat-select">
<div ng-show="registrationCategory.name==='Distributor' && !otherSegments.selected">
    <div class="nvc-horizontal-scroll">
        <div class="nvc-scroll-item" ng-repeat="segment in segments track by $id(segment)" id="segm_{{$index}}" ng-value="segment" ng-if="!segment.isSpecific">
            <md-checkbox ng-model="segment.selected" aria-label="{{segment.name}}">
                <div class="nvc-scroll-item-content">
                    <div class="nv-position-relative">
                    <img data-ng-src="{{segment.segmentImageURL1}}" alt="{{segment.name}}">
                        <span class="fa fa-check nvc-shape-pill nv-position-top-right nv-position-absolute" ng-class="segment.selected?'nvc-primary-background':'nvc-accent-background'"></span>
                    </div>
                    <label class="nvc-display-block">{{segment.name}}</label>
                </div>
            </md-checkbox>
        </div>
    </div>
</div>
    <md-button  ng-show="registrationCategory.name ==='Distributor'" ng-click="otherSegment()" aria-label="Switch1">
        {{otherSegments.selected?'Show Less':'Explore More'}}
    </md-button>
    <div ng-show="registrationCategory.name==='Manufacturer' && !otherSegments.selected">
        <md-radio-group ng-model="selectedSegments" class="nvc-horizontal-scroll" >
            <md-radio-button class="nvc-scroll-item" ng-repeat="segment in segments  track by $id(segment)" ng-click="getSegmentCount();" id="seg_{{$index}}" ng-value="segment"  ng-if="!segment.isSpecific">
                <div class="nvc-scroll-item-content">
                    <div class="nv-position-relative">
                    <img data-ng-src="{{segment.segmentImageURL1}}" alt="{{segment.name}}">
                        <span class="fa fa-check nvc-shape-pill nv-position-top-right nv-position-absolute" ng-class="(selectedSegments === segment)?'nvc-primary-background':'nvc-accent-background'"></span>
                    </div>
                    <label class="nvc-display-block">{{segment.name}}</label>
                </div>
            </md-radio-button>
        </md-radio-group>
    </div>
    <div>
        <nvc-tree  ng-show="otherSegments.selected || !(registrationCategory.name==='Manufacturer' || registrationCategory.name==='Distributor')" tree="mainSubCategories" parent="mainSubCategories"></nvc-tree>
    </div>

</div>
