<div class="nvc-scroll-item">
    <md-checkbox ng-model="node.isChecked" ng-change="checkChange(node)"  aria-label="{{node.name}}" >
        <div class="nvc-scroll-item-content">
            <div class=" nv-position-relative">
            <img data-ng-src="{{node.categoryImageURL1}}" alt="{{node.name}}">
                <span class="fa nvc-shape-pill nv-position-top-right nv-position-absolute" ng-class="{'fa-check':!node.selectedChild, 'nvc-primary-background':(node.selectedChild || node.isChecked), 'nvc-accent-background':!(node.selectedChild || node.isChecked)}">{{node.selectedChild>0?node.selectedChild:''}}</span>
            </div>
            <label ng-click="toggleVisibility(node)" class="nvc-display-block">{{node.name}}</label>
        </div>
    </md-checkbox>
    <label id={{node.code}} ng-show="node.children.length>0" ng-click="toggleVisibility(node)" class="nvc-display-block">{{node.childrenVisibility?'Hide':'Show'}} Details</label>
</div>
