<section data-ng-controller="CategoriesController" data-ng-init="findOne()">
    <div class="col-lg-12 bb-m-top40">
        <ol class="breadcrumb">
            <li ng-if="category.parent._id"><i class=""></i><a href="#!/categories/{{category.parent._id}}">{{category.parent.name}} {{(category.parent.children.length
                > 0?'( '+category.parent.children.length+' )':'')}}</a></li>
            <li><i class=""></i>{{category.name}} {{(category.children.length
                > 0?'( '+category.children.length+' )':'')}}</li>
        </ol>
        <div>
            <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                <div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
                     layout-wrap>
                    <div flex="20" flex-xs="100" flex-sm="33" flex-gt-lg="15" class=" bb-pop-less"
                     ng-repeat="child in category.children | orderBy:'name'">
                    <a href="#!/offers/category/{{child._id}}" ng-if="category.type ==='SubCategory1'">
                        <img data-ng-src={{child.categoryImageURL1}}
                             class="img-responsive bb-img-center bb-prod-img-fix" alt="">
                    </a>
                        <a href="#!/categories/{{child._id}}" ng-if="category.type ==='MainCategory'">
                            <img data-ng-src={{child.categoryImageURL1}}
                                 class="img-responsive bb-img-center bb-prod-img-fix" alt="">
                        </a>
                    <!--<p class="f-13 text-center">{{child.name}}</p>-->
                    <p class="text-center"><strong>{{child.name}} {{(child.children.length
                        > 0?'( '+child.children.length+' )':'')}}</strong></p>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
