
<md-list-item layout="row" layout-align="start" flex="5" flex-xs="100" flex-sm="5" flex-gt-lg="5">
    <md-checkbox ng-model="like" aria-label="Checkbox">
    </md-checkbox>
</md-list-item>
<md-list-item flex="30" flex-xs="100" flex-sm="30" flex-gt-lg="25">
        <img ng-src="{{contact.contactImageURL}}" class="md-avatar"  />
        <h5 class="bb-truncate">{{contactfullName(contact)}}
            <md-tooltip>{{contactfullName(contact)}}</md-tooltip></h5>

    </md-list-item>


<md-list-item flex="25" flex-xs="100" flex-sm="30" flex-gt-lg="25">
          <h5 class="bb-truncate">{{contact.emails[0].email}}
          <md-tooltip>{{contact.emails[0].email}}</md-tooltip></h5>
    </md-list-item>


<md-list-item flex="25" flex-xs="100" flex-sm="20" flex-gt-lg="25">
            <div><h5 class="bb-truncate ">{{contact.phones[0].phoneNumber }}</h5></div>

</md-list-item>

<div layout="row" layout-align="space-around center" flex="15" flex-xs="100" flex-sm="15" flex-gt-lg="20">

    <div flex="20">
        <md-icon class="fa fa-pencil bb-f20 md-icon-col"
                 ng-click="changeSelContact(contact);panelChange(selcontact,'edit');">
            <md-tooltip md-direction="top">Edit Contact</md-tooltip>
        </md-icon>



    </div>
    <div flex="20">
        <md-menu md-position-mode="left bottom">
            <md-icon class="fa fa-group bb-f20" ng-disabled='contact.disabled'
                     ng-class="{'bb-inactive-cust' :contact.disabled,'md-icon-col':!contact.disabled}"
                     ng-click="!contact.disabled && $mdOpenMenu($event)">
                <md-tooltip md-direction="top">Add to Groups</md-tooltip>
            </md-icon>

                <md-menu-content class="bb-menu-p0" width="4">

                    <md-subheader class="md-no-sticky">Select Groups</md-subheader>
                    <md-divider></md-divider>
                    <div class="bb-grp">
                    <md-list-item ng-repeat="group in groups">
                        <md-checkbox checklist-model='contact.groups' checklist-value='group._id;'
                                     checklist-change="update(contact,contact,true);$scope.updatecontact=contact;"
                                     aria-label="Checkbox"></md-checkbox>
                        <p> {{group.name}} </p>

                        <md-divider></md-divider>
                    </md-list-item>
                    </div>

                    <md-list-item>
                        <md-button ng-click="panelChange('','group');" class="md-raised md-primary bb-wid-100">Create
                            Group
                        </md-button>
                    </md-list-item>

                    <!--<md-button ng-click="ctrl.announceClick($index)">-->
                    <!--<md-checkbox></md-checkbox>-->
                    <!--{{group.name}}-->
                    <!--</md-button>-->
                    <!--<div><md-button class="md-raised md-primary bb-grpbtn">Create Group</md-button></div>-->

                </md-menu-content>

            </md-menu>

    </div>

<div flex="20" ng-if="contact.nVipaniUser">
            <img class="nvipani-user img-responsive" ng-show="contact.nVipaniUser" ng-src="/modules/core/img/icons/nvipani-user.png"/>
            <md-tooltip  md-direction="top">nVipani User</md-tooltip>
</div>
    <div flex="15">
        <md-menu md-position-mode="left bottom">
            <md-icon class="fa fa-ellipsis-v bb-f20 md-icon-col"
                     ng-click="$mdOpenMenu($event);changeSelContact(contact);">
                <md-tooltip md-direction="top">More Actions</md-tooltip>
            </md-icon>

                <md-menu-content width="3">
                    <md-menu-item>
                        <md-button ng-controller="OffersController" href="/#!/offers">
                            <md-icon md-menu-align-target class="fa fa-gift bb-f20"></md-icon>
                            Offers
                        </md-button>
                    </md-menu-item>
                    <md-divider></md-divider>
                    <md-menu-item>
                        <md-button ng-controller="OrdersController" href="/#!/orders">
                            <md-icon md-menu-align-target class="fa fa-file-o bb-f20"></md-icon>
                            Orders
                        </md-button>
                    </md-menu-item>
                    <md-divider></md-divider>
                    <md-menu-item>
                        <md-button ng-click="updateStatus(updatecontact,selcontact);$scope.updatecontact=contact;" ng-show="showSelection()" ng-if="selcontact.disabled==false;">
                            <md-icon md-menu-align-target class="fa fa-ban bb-f20"></md-icon>
                            Inactive
                        </md-button>

                        <md-button ng-click="updateStatus(updatecontact,selcontact);$scope.updatecontact=contact;"  ng-show="showSelection()" ng-if="selcontact.disabled==true;">
                            <md-icon md-menu-align-target class="fa fa-adn bb-f20"></md-icon>
                            Active
                        </md-button>
                    </md-menu-item>
                    <md-divider></md-divider>
                </md-menu-content>
            </md-menu>

    </div>

    </div>


