<!---------- Cards view of default contact list fo rcreate page and mobile page ---------->
<div layout="row" layout-sm="row" layout-xs="row" layout-gt-lg="row" layout-wrap ng-show="contacts.length>0">
    <div flex="100" flex-sm="100" flex-xs="100" flex-gt-lg="100" layout="row"
    dir-paginate="contact in contacts|orderBy:'-created'|filter:searchText|itemsPerPage:itemsPerPage" pagination-id="paginationId" total-items="total_count"></divflex>
    <md-card flex="100" layout-align="center center"  layout="row" class="nv-position-relative layout-padding" layout-align-gt-lg="space-around center">
        <div flex="5">
        <md-checkbox class="md-primary" ng-model="contact.selected" aria-label="Contact Selection">
        </md-checkbox>
        </div>
        <div flex="15">
            <span class="nv-position-relative nvc-display-inlineblock ">
                <img ng-src="{{contact.contactImageURL}}" alt="{{contactfullName(contact)}}" class="img-responsive bb-img-center-prod">
            <div ng-show="contact.nVipaniUser" class="nuser">
                <img class="nvipani-img bb-img-center" ng-show="contact.nVipaniUser" ng-src="/modules/core/img/icons/nvipani-user.png"/>
                <md-tooltip  md-direction="top">nVipani User</md-tooltip>
            </div></span>
            <div layout="row" layout-align="space-around center">
                <div><a href="tel: {{contact.phones[0].phoneNumber}}" class="nvc-primary-color"><span class="fa fa-phone fa-lg"></span></a>
                    <md-tooltip>{{contact.phones[0].phoneNumber?contact.phones[0].phoneNumber:'N/A'}}</md-tooltip>
                </div>
                <div><a href="mailto: {{contact.emails[0].email}}" class="nvc-primary-color"><span class="fa fa-envelope fa-lg"></span></a>
                <md-tooltip>{{contact.emails[0].email?contact.emails[0].email:'N/A'}}</md-tooltip>
                </div>
            </div>
        </div>
        <md-divider></md-divider>
        <div flex="80" ng-click="changeSelContact(contact);panelChange(selcontact,'edit');" layout="row" layout-xs="row" layout-sm="row" layout-gt-lg="row" layout-align="space-around start" layout-wrap>
            <div flex="30" flex-xs="30" flex-sm="30" flex-gt-lg="30">
                <h6 class="nv-text-bold">{{contactfullName(contact)}}</h6>
                <h6 class="nv-text-bold">{{contact.companyName}}</h6>
            </div>
            <div flex="30" flex-xs="30" flex-sm="30" flex-gt-lg="30">
                <h6>Location</h6>
                <label>{{contact.addresses[0].city?contact.addresses[0].city:'N/A'}}</label>
            </div>
            <div flex="30" flex-xs="30" flex-sm="30" flex-gt-lg="30">
                <h6>Type</h6>
                <label class="nvc-primary-color">{{contact.customerType}}</label>
            </div>
            <div flex="30" flex-xs="30" flex-sm="30" flex-gt-lg="30">
                <h6><span class="nvc-box overdue"></span> Over Due</h6>
                <label class="bb-truncate">&#8377;(12345678)</label>
            </div>
            <div flex="30" flex-xs="30" flex-sm="30" flex-gt-lg="30">
                <h6><span class="nvc-box open"></span> Open</h6>
                <label class="bb-truncate">&#8377;(12345678)</label>
            </div>
            <div flex="30" flex-xs="30" flex-sm="30" flex-gt-lg="30">
                <h6>Status</h6>
                <label ng-class="{'nvc-primary-color':(!contact.disabled)}">{{contact.disabled?'Disabled':'Enabled'}}</label>
            </div>
        </div>
    </md-card>
    </div>
</div>
