<table class="nvc-content nvc-content-table" ng-show="group.contacts.length>0">
    <thead>
    <tr>
        <!--<td><md-checkbox ng-model="selectedAll" aria-label="batch operations" data-ng-value="selectedProducts.length === contacts.length"></md-checkbox></td>
        --><td>Name</td>
        <td>Email</td>
        <td>Phone</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr ng-disabled="contact.disabled" dir-paginate="contact in group.contacts|orderBy:'-created'|filter:searchText|itemsPerPage:itemsPerPage"  total-items="total_count">
        <!--<td><md-checkbox ng-disabled="contact.disabled" class="bb-center" ng-model="contact.selected" aria-label="Contact Selection">
        </md-checkbox></td>-->
        <td><span><img ng-src="{{contact.contact.contactImageURL}}"
                       alt="{{contactfullName(contact.contact)}}"
                       class="img-responsive bb-img-center-prod">{{contactfullName(contact.contact)}}</span>
        </td>
        <td>{{contact.contact.emails[0].email}}</td>
        <td>{{contact.contact.phones[0].phoneNumber}}</td>
        <!--<td>{{inventory.moqAndMargin[0].margin}}</td>
        <td>{{inventory.moqAndMargin[0].MOQ}}</td>-->
        <td><div layout="column"><div layout="row" layout-align="space-around center" flex="15" flex-xs="100" flex-sm="15" flex-gt-lg="20">


            <div flex="20" ng-if="contact.contact.nVipaniUser">
                <img class="nvipani-user img-responsive" ng-show="contact.contact.nVipaniUser" ng-src="/modules/core/img/icons/nvipani-user.png"/>
                <md-tooltip  md-direction="top">nVipani User</md-tooltip>
            </div>
           <!-- <div flex="15">
                <md-menu md-position-mode="left bottom">
                    <md-icon class="fa fa-ellipsis-v bb-f20 md-icon-col"
                             ng-click="$mdOpenMenu($event);changeSelContact(contact);">
                        <md-tooltip md-direction="top">More Actions</md-tooltip>
                    </md-icon>

                    <md-menu-content width="2">
                        <md-menu-item>
                            <md-button ng-controller="OffersController" href="/#!/offers">
                                <md-icon md-menu-align-target class="fa fa-gift bb-f20"></md-icon>
                                Offers
                            </md-button>
                        </md-menu-item>
                        <md-divider></md-divider>
                        <md-menu-item>
                            <md-button ng-controller="OrdersController" href="/#!/orders">
                                <md-icon md-menu-align-target class="fa fa-file-o bb-f20"></md-icon>
                                Orders
                            </md-button>
                        </md-menu-item>
                        <md-divider></md-divider>
                    </md-menu-content>
                </md-menu>

            </div>-->
            <div flex="20">
                <md-icon class="fa-minus-circle faa bb-minus-btn"
                         ng-click="group.contacts.splice($index,1)">
                    <md-tooltip md-direction="top">Remove</md-tooltip>
                </md-icon>



            </div>
        </div>
        </div></td>

    </tr>

    </tbody>

</table>
<div class="nv-text-right">
    <dir-pagination-controls on-page-change="find(selectedIndex,newPageNumber)"
                             max-size="8"
                             direction-links="true"
                             boundary-links="true" >
    </dir-pagination-controls>
</div>
