
<table class="bb-wid-100 nvc-content-table" ng-show="contacts.length >0" id="contactTable" >
    <thead>
    <tr>
        <td class="td-checkbox-width" ng-show="!isCriteria"><nv-check-box  selectedlist="selectedList" orginallist="contacts" sort-by="-created"></nv-check-box></td>
        <td hide-xs></td>
        <td>Name</td>
        <td>Email</td>
        <td>Phone</td>
        <td>Status</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr ng-disabled="contact.disabled" dir-paginate="contact in contacts|orderBy:'-created'|filter:searchText|itemsPerPage:itemsPerPage" pagination-id="paginationId" total-items="total_count">
        <td class="td-checkbox-width" ng-show="!isCriteria"><md-checkbox  class="md-primary bb-center" ng-model="contact.selected" aria-label="Contact Selection">
        </md-checkbox></td>
        <td class="td-image-width" hide-xs><span class="nv-position-relative nvc-display-inlineblock"><img ng-src="{{contact.contactImageURL}}"
                       alt="{{contact.displayName?contact.displayName:contactfullName(contact)}}"
                 class="img-responsive bb-img-center-prod">
            <div ng-show="contact.nVipaniUser" class="nuser">
                <img class="nvipani-img bb-img-center" ng-show="contact.nVipaniUser" ng-src="/modules/core/img/icons/nvipani-user.png"/>
                <md-tooltip  md-direction="top">nVipani User</md-tooltip>
            </div></span></td>
        <td ng-click="changeSelContact(contact);panelChange(selcontact,'edit');">{{contact.displayName?contact.displayName:contactfullName(contact)}}
        </td>
        <td>{{contact.emails[0].email}}</td>
        <td>{{contact.phones[0].phoneNumber}}</td>
        <td>{{contact.disabled?'Disabled':'Enabled'}}</td>
        <td class="nvc-primary-color" ng-click="changeSelContact(contact);panelChange(selcontact,'edit');">view&nbsp;&nbsp; <span class="fa fa-eye"></span></td>
    </tr>

    </tbody>

</table>
<div class="nv-text-right">
    <dir-pagination-controls pagination-id="paginationId" on-page-change="isFilterSummary?contactFilterSummary(null,null,newPageNumber):find(!selectedIndex,newPageNumber)"
                             max-size="8"
                             direction-links="true"
                             boundary-links="true" >
    </dir-pagination-controls>
</div>
