<div>
    <form name="addContactForm" data-ng-submit="create()">
        <div  class="md-mtop8" layout="row" layout-xs='row' layout-xs="column" layout-sm="column" layout-gt-lg="row" layout-wrap >

            <div flex="25" flex-xs="100" flex-sm="100" flex-gt-lg="25">
                         <span class="bb-profile-ava">
                                        <img class="img-responsive bb-simple bb-profimg-fix bb-img-center"
                                             data-ng-src="{{contactImageURL}}" alt="">
                             <!-- <div class=""><span class="fa fa-camera cam"></span></div>-->
                                      </span>

                <div class="bb-link-me">
                    <div class="text-center">

                                                    <span class="bb-ubtn bb-btn-file">
                                                      <i title="Upload images" class="fa fa-camera fa-2x" ></i>

                                                        </i><input type="file" ng-model="contactImageURL" uploadpathkey='contact' accept="image/*" uploader="uploader" />

                                                        <!--<input type="file" accept="image/*" nv-file-select accept="image/*" uploader="uploader">
                                                   --></span>

                    </div>

                    <div class="bb-hr-center"></div>
                    <span id="lblError" class="text-danger bb-f-15"></span>
                </div>
            </div>

            <div flex="75" flex-xs="100" flex-sm="100" flex-gt-lg="75">
                <div class="layout-padding"  layout="row" layout-xs='row' layout-xs="column" layout-sm="column" layout-gt-lg="row" layout-wrap>
                    <div flex="33" flex-xs="100" flex-sm="100" flex-gt-lg="33">
                        <md-input-container class="md-block">
                            <label>First Name</label>
                            <input md-maxlength="128"   ng-model="firstName">

                        </md-input-container>
                    </div>

                    <div flex="33" flex-xs="100" flex-sm="100" flex-gt-lg="33">
                        <md-input-container class="md-block">
                            <label>Middle Name</label>
                            <input md-maxlength="128"   ng-model="middleName" id="middleName" name="middleName">

                        </md-input-container>
                    </div>
                    <div flex="33" flex-xs="100" flex-sm="100" flex-gt-lg="33">
                        <md-input-container class="md-block">
                            <label>Last Name</label>
                            <input md-maxlength="128"  ng-model="lastName" id="lastName" name="lastName">

                        </md-input-container>
                    </div>

                    <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="33">
                        <md-input-container class="md-block">
                            <label>Company Name</label>
                            <input md-maxlength="256"   data-ng-model="companyName" id="companyName" name="companyName">

                        </md-input-container>
                    </div>
                    <div flex="50" flex-xs="100" flex-sm="30" flex-gt-lg="30">
                        <md-input-container class="md-block">
                            <label>GSTIN</label>
                            <input name="gstin"
                                   ng-model="gstinNumber"
                                   nv-regulation-exp="gstin">
                        </md-input-container>
                    </div>

                    <div flex="30" flex-xs="100" flex-sm="40"
                         flex-gt-lg="30">
                        <label ng-if="!gstinNumberProof" class="bb-nlabel bb-m-bot15">GSTIN
                            Proof</label>
                        <a ng-if="gstinNumberProof" class="bb-simple bb-profimg-fix "
                           href="{{gstinNumberProof}}" target="_blank">GSTIN Proof</a>
                    </div>

                    <div flex="20" flex-xs="100" flex-sm="20"
                         flex-gt-lg="15"><span class="bb-wbtn btn bb-btn-save bb-btn-file bb-wid-100">Browse<input type="file" ng-model="gstinNumberProof" uploadpathkey='contact'  uploader="uploader" /></span>
                    </div>
                </div>

            </div>

        </div>

        <div layout="row" layout-xs='row' layout-xs="column" layout-sm="column" layout-gt-lg="row"
             layout-wrap>

            <div flex="50" flex-xs="100" flex-sm="100" flex-gt-lg="50">
                <div layout="row">
                    <div class="md-subhead bb-pl">Phone</div>
                    <span flex></span>
                    <md-button class="md-fab md-mini md-mini-cust bb-plus-btn" aria-label="Favorite"
                               ng-click="addPhone(phones)">
                        <md-tooltip>Add Another Phone Number</md-tooltip>
                        <md-icon class="fa fa-plus bb-f20 md-icon-cust"></md-icon>
                    </md-button>
                </div>
                <!--<md-divider></md-divider>-->
                <md-card class="bb-pos-rel" layout-margin layout="row" flex layout-xs='row'
                         layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap
                         ng-repeat="phone in phones  track by $index" data-ng-form="phoneForm">

                    <!--<div type="button" title="Remove" class="md-closebtn cursor" data-ng-show="company.phones.length > 1 && !phone.primary"-->
                    <!--data-ng-click="company.phones.splice($index, 1)"><i class="fa-minus-circle faa"></i>-->
                    <!--</div>-->

                    <md-icon class="fa-minus-circle faa bb-minus-btn bb-closebtn"
                             ng-show="phones.length > 1" ng-click="phones.splice($index, 1)"></md-icon>


                    <div flex="30" flex-xs="100" flex-sm="30" flex-gt-lg="30">
                        <md-input-container>
                            <label>Type</label>
                            <md-select ng-model="phone.phoneType">
                                <md-option ng-repeat="item in phoneTypes">{{item}}</md-option>

                            </md-select>
                        </md-input-container>
                    </div>

                    <div flex="60" flex-xs="100" flex-sm="60" flex-gt-lg="60">
                        <md-input-container class="md-block">
                            <label>Phone Number</label>
                            <input md-maxlength="11"  data-ng-model="phone.phoneNumber" id="phoneNumber"  ng-required="isOneContactRequired();" name="phoneNumber" nv-regulation-exp="num">

                        </md-input-container>
                    </div>
                </md-card>
            </div>

            <div flex="50" flex-xs="100" flex-sm="100" flex-gt-lg="50">
                <div layout="row">
                    <div class="md-subhead bb-pl">Email</div>
                    <span flex></span>
                    <md-button class="md-fab md-mini md-mini-cust bb-plus-btn" aria-label="Favorite"
                               ng-click="addEmail(emails)">
                        <md-tooltip>Add Another Email</md-tooltip>
                        <md-icon class="fa fa-plus bb-f20 md-icon-cust"></md-icon>
                    </md-button>
                </div>
                <!--<md-divider></md-divider>-->

                <md-card class="bb-pos-rel" layout-margin layout="row" flex layout-xs='row'
                         layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap
                         ng-repeat="email in emails  track by $index" data-ng-form="emailForm">
                    <!--<div type="button" title="Remove" data-ng-show="company.emails.length > 1 && !email.primary"-->
                    <!--class="md-closebtn cursor"  data-ng-click="company.emails.splice($index, 1)"><i class="fa-minus-circle faa"></i>-->
                    <!--</div>-->

                    <md-icon class="fa-minus-circle faa bb-minus-btn bb-closebtn"
                             ng-show="emails.length > 1"
                             data-ng-click="emails.splice($index, 1)"></md-icon>

                    <div flex="30" flex-xs="100" flex-sm="30" flex-gt-lg="30">
                        <md-input-container>
                            <label>Type</label>
                            <md-select ng-model="email.emailType">
                                <md-option ng-repeat="item in emailTypes">{{item}}</md-option>

                            </md-select>
                        </md-input-container>
                    </div>

                    <div flex="60" flex-xs="100" flex-sm="60" flex-gt-lg="60">
                        <md-input-container class="md-block">
                            <label>E-mail</label>
                            <input md-maxlength="128"  ng-model="email.email" id="email" name="email">

                        </md-input-container>
                    </div>




                    <!--<md-button class="md-primary md-fab md-fab-bottom-right">-->
                    <!--FAB-->
                    <!--</md-button>-->
                    <!--<md-button class="md-accent md-fab md-fab-top-right">-->
                    <!--FAB-->
                    <!--</md-button>-->


                </md-card>

            </div>
        </div>

        <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
             layout-wrap>

            <h3 class="md-subhead bb-pl">Address</h3>
            <span flex></span>
            <md-button class="md-fab md-mini md-mini-cust bb-plus-btn" aria-label="Favorite"
                       ng-click="addAddress(addresses)">
                <md-tooltip>Add Another Address</md-tooltip>
                <md-icon class="fa fa-plus bb-f20 md-icon-cust"></md-icon>
            </md-button>

        </div>

        <div layout="row" layout-xs='row' layout-xs="column" layout-sm="column" layout-gt-lg="row"
             layout-wrap>


            <div flex="50" flex-xs="100" flex-sm="100" flex-gt-lg="50"
                 ng-repeat="address in addresses  track by $index" data-ng-form="addressForm">

                <md-card class="bb-pos-rel" layout-margin layout="row" flex layout-xs='row'
                         layout-xs="column" layout-sm="column" layout-gt-lg="row" layout-wrap>

                    <md-icon class="fa-minus-circle faa bb-minus-btn bb-closebtn"
                             ng-show="addresses.length > 1"
                             ng-click="addresses.splice($index, 1)"></md-icon>

                    <div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row"
                         layout-gt-lg="row" layout-wrap>
                        <div flex="30" flex-xs="100" flex-sm="30" flex-gt-lg="30">
                            <md-input-container>
                                <label>Type</label>
                                <md-select ng-model="address.addressType">
                                    <md-option ng-repeat="item in addressTypes">{{item}}</md-option>

                                </md-select>
                            </md-input-container>
                        </div>
                        <span flex></span>


                        <!--<div flex="10">-->
                        <!--<md-button class="md-fab md-mini md-mini-cust" aria-label="Favorite" ng-show="addresses.length > 1" data-ng-click="addresses.splice($index, 1)">-->
                        <!--<md-icon class="fa fa-minus f20 md-icon-cust"></md-icon>-->
                        <!--</md-button>-->
                        <!--&lt;!&ndash;<div type="button" title="Remove" class="cursor" data-ng-show="phones.length > 1" ng-click="phones.splice($index, 1)"><i class="fa-minus-circle faa"></i>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--</div>-->

                        <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                            <md-input-container class="md-block">
                                <label>Address Line</label>
                                <input md-maxlength="1024" ng-model="address.addressLine" id="addressLine"
                                       name="addressLine">

                            </md-input-container>
                        </div>


                        <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                            <md-input-container class="md-block">
                                <label>City</label>
                                <input md-maxlength="128" ng-model="address.city" id="city" name="city">

                            </md-input-container>
                        </div>

                        <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                            <md-input-container class="md-block">
                                <label>State</label>
                                <input md-maxlength="128" ng-model="address.state" id="state" name="state">

                            </md-input-container>
                        </div>

                        <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                            <md-input-container class="md-block">
                                <label>Country</label>
                                <input md-maxlength="128" ng-model="address.country" id="country"
                                       name="country">

                            </md-input-container>
                        </div>

                        <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                            <md-input-container class="md-block">
                                <label>Pin Code</label>
                                <input md-maxlength="6" ng-model="address.pinCode" id="pinCode"
                                       name="pinCode" ng-minlength="6" ng-maxlength="6" only-digits>

                            </md-input-container>
                        </div>
                    </div>

                </md-card>
            </div>


        </div>

        <!--<div  layout="row" layout-xs='row' layout-xs="column" layout-sm="column" layout-gt-lg="row" layout-wrap >-->

        <!--<div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">-->
        <!--<div layout="row">-->
        <!--<div class="md-subhead">Address</div>-->
        <!--<span flex></span>-->
        <!--<md-button class="md-fab md-mini md-mini-cust" aria-label="Favorite" ng-click="addAddress(addresses)">-->
        <!--<md-tooltip>Add Another Address</md-tooltip>-->
        <!--<md-icon class="fa fa-plus f20 md-icon-cust"></md-icon>-->
        <!--</md-button>-->
        <!--</div>-->
        <!--&lt;!&ndash;<md-divider></md-divider>&ndash;&gt;-->


        <!--<div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="column" layout-gt-lg="row" layout-wrap >-->


        <!--<md-card class="bb-pos-rel" flex="50" flex-xs="100" flex-sm="100" flex-gt-lg="50" ng-repeat="address in addresses  track by $index" data-ng-form="addressForm">-->

        <!--<md-icon class="fa-minus-circle faa md-primary bb-closebtn" ng-show="addresses.length > 1" ng-click="addresses.splice($index, 1)"></md-icon>-->

        <!--<div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="column" layout-gt-lg="row" layout-wrap >-->
        <!--<div flex="30" flex-xs="100" flex-sm="100" flex-gt-lg="30">-->
        <!--<md-input-container>-->
        <!--<label>Type</label>-->
        <!--<md-select ng-model="address.addressType">-->
        <!--<md-option ng-repeat="item in addressTypes">{{item}}</md-option>-->

        <!--</md-select>-->
        <!--</md-input-container>-->
        <!--</div>-->
        <!--<span flex></span>-->


        <!--&lt;!&ndash;<div flex="10">&ndash;&gt;-->
        <!--&lt;!&ndash;<md-button class="md-fab md-mini md-mini-cust" aria-label="Favorite" ng-show="addresses.length > 1" data-ng-click="addresses.splice($index, 1)">&ndash;&gt;-->
        <!--&lt;!&ndash;<md-icon class="fa fa-minus f20 md-icon-cust"></md-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;</md-button>&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;<div type="button" title="Remove" class="cursor" data-ng-show="phones.length > 1" ng-click="phones.splice($index, 1)"><i class="fa-minus-circle faa"></i>&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--<div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">-->
        <!--<md-input-container class="md-block">-->
        <!--<label>Address Line</label>-->
        <!--<input md-maxlength="1024"    ng-model="address.addressLine" id="addressLine" name="addressLine">-->

        <!--</md-input-container>-->
        <!--</div>-->


        <!--<div flex="50" flex-xs="100" flex-sm="100" flex-gt-lg="50">-->
        <!--<md-input-container class="md-block">-->
        <!--<label>City</label>-->
        <!--<input md-maxlength="128"     ng-model="address.city" id="city" name="city">-->

        <!--</md-input-container>-->
        <!--</div>-->

        <!--<div flex="50" flex-xs="100" flex-sm="100" flex-gt-lg="50">-->
        <!--<md-input-container class="md-block">-->
        <!--<label>State</label>-->
        <!--<input md-maxlength="128"    ng-model="address.state" id="state" name="state">-->

        <!--</md-input-container>-->
        <!--</div>-->

        <!--<div flex="50" flex-xs="100" flex-sm="100" flex-gt-lg="50">-->
        <!--<md-input-container class="md-block">-->
        <!--<label>Country</label>-->
        <!--<input md-maxlength="128"  ng-model="address.country" id="country" name="country">-->

        <!--</md-input-container>-->
        <!--</div>-->

        <!--<div flex="50" flex-xs="100" flex-sm="100" flex-gt-lg="50">-->
        <!--<md-input-container class="md-block">-->
        <!--<label>Pin Code</label>-->
        <!--<input md-maxlength="6"   ng-model="address.pinCode" id="pinCode" name="pinCode"  ng-minlength="6" ng-maxlength="6" only-digits>-->

        <!--</md-input-container>-->
        <!--</div>-->
        <!--</div>-->

        <!--</md-card>-->

        <!--</div>-->


        <!--</div>-->
        <!--</div>-->

        <div layout-padding  layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap >
            <div flex="20" flex-xs="100" flex-sm="20" flex-gt-lg="20">
                <md-button type="submit" ng-disabled="addContactForm.$invalid"
                           class="md-raised md-primary bb-wid-100 bb-comment-btn">Save
                </md-button>
            </div>

            <div flex="20" flex-xs="100" flex-sm="20" flex-gt-lg="20">
                <md-button ng-click="panelChange(''); clearFields();"
                           class="md-raised md-accent bb-wid-100 bb-comment-btn">Cancel
                </md-button>
            </div>

            <div flex="60" flex-xs="100" flex-sm="60" flex-gt-lg="60">
                <div data-ng-show="error" class="text-danger bb-f-15">
                    <strong data-ng-bind="error"></strong>
                </div>
            </div>

        </div>


    </form>

</div>
<!--add contact-->
<!--<section class="panel contact-bg" ng-if="showAdd">-->

<!--&lt;!&ndash; <div class="row">-->
<!--<div class="col-lg-12">-->

<!--<ol class="breadcrumb">-->
<!--<li><i class="fa fa-home"></i><a href="/#!/" class="breadcrumb-adj" >Home</a></li>-->
<!--<li><i class="fa fa-contao"></i><a data-ng-click="changeSelGroup('',false) ;toggleGroupView();panelChange('','');"  class="breadcrumb-adj cursor">Contacts</a></li>-->
<!--<li><i class="fa fa-edit"></i><a   class="breadcrumb-adj">Create-Contact</a></li>-->
<!--</ol>-->
<!--</div>-->
<!--</div>&ndash;&gt;-->

<!--<div class="col-lg-12 mob-lg">-->



<!--<div class="progress-panel contact-bg">-->

<!--<div class="row">-->
<!--&lt;!&ndash;   <div class="col-lg-12">-->

<!--&lt;!&ndash;    <div class="col-lg-3">-->
<!--<a href="#">-->
<!--<span class="fa fa-arrow-left icon-size"><span class="allc">&nbsp;All Contacts</span></span></a>-->
<!--</div>&ndash;&gt;-->

<!--<div class="col-lg-12 pull-left">-->
<!--<ul class="nav top-menu conn-menu pull-right">-->
<!--&lt;!&ndash;<li  class="contact-icon-color mb-icon"><a href="#">-->
<!--<span class="fa fa-pencil icon-size"><span class="menu-txt inv">&nbsp;Edit</span></span></a></li>-->

<!--<li class="contact-icon-color mb-icon"><a href ="#">-->
<!--<span class="fa fa-group icon-size"><span class="menu-txt inv" >&nbsp;Add To Group</span></span></a></li>-->
<!--&ndash;&gt;-->
<!--<li  class="contact-icon-color mb-icon"><a data-ng-controller="OffersController" href="/#!/offers" title="Offers">-->
<!--<span class="fa fa-circle-o icon-size"><span class="menu-txt inv">&nbsp;Offers</span></span></a></li>-->

<!--<li class="contact-icon-color mb-icon">-->
<!--<a data-ng-controller="OrdersController" href="/#!/orders" title="Orders">-->
<!--<span class="fa fa-list icon-size"><span class="menu-txt inv">&nbsp;Orders</span></span></a></li>-->
<!--</ul>-->

<!--</div>-->
<!--<hr class="line" >-->

<!--</div>&ndash;&gt;-->

<!--<form name="addContactForm" data-ng-submit="create()">-->
<!--<div ng-if="showRequiredError">-->
<!--<div ng-message="required">Please enter something</div>-->
<!--</div>-->

<!--<div class="col-lg-12">-->


<!--<div class="col-lg-3">-->
<!--&lt;!&ndash;<div class="box" style="background:url(img/avatar1.jpg) no-repeat 50% 50%;">-->
<!--<a href="#"><div class="overlay">-->
<!--<span class="search"><i class="fa fa-camera"></i></span>-->
<!--</div></a>-->
<!--</div>&ndash;&gt;-->

<!--<div class="col-lg-12">-->
<!--&lt;!&ndash;<div class="box" style="background:url(img/avatar1.jpg) no-repeat 50% 50%;">-->
<!--<a href="#"><div class="overlay">-->
<!--<span class="search"><i class="fa fa-camera"></i></span>-->
<!--</div></a>-->
<!--</div>&ndash;&gt;-->

<!--<span class="profile-ava">-->
<!--<img  class="simple img-fix img-center" data-ng-src="{{contactImageURL}}" alt="">-->
<!--&lt;!&ndash; <div class=""><span class="fa fa-camera cam"></span></div>&ndash;&gt;-->
<!--</span>-->
<!--<div class="link-me" >-->
<!--<div class="text-center">-->

<!--<span class="ubtn btn-file" >-->
<!--<i title="Upload images" class="fa fa-camera fa-2x" ></i><input type="file" accept="image/*" nv-file-select accept="image/*" uploader="uploader">-->
<!--</span>-->

<!--</div>-->

<!--<div class="hr-center"></div>-->
<!--<span id="lblError" class="text-danger f-15"></span>-->
<!--</div>-->

<!--</div>-->


<!--</div>-->

<!--<div class="col-lg-9 form-group-nn mob-lg">-->


<!--<div class="col-lg-4 form-group-n">-->

<!--<md-input-container class="md-block">-->
<!--<label>First Name</label>-->
<!--<input md-maxlength="30" required md-no-asterisk name="description" ng-model="firstName">-->
<!--<div ng-messages="projectForm.description.$error">-->
<!--<div ng-message="required">First Name is required.</div>-->
<!--<div ng-message="md-maxlength">First Name length should not exceed 128 characters.</div>-->
<!--</div>-->
<!--</md-input-container>-->


<!--<h5  class="tabtxt heading">First Name</h5>-->
<!--<input type="text" class="form-control" data-ng-model="firstName" id="firstName" name="firstName" placeholder="Enter First Name..." maxlegth="128">-->
<!--<span class="text-danger f-15" data-ng-show="addContactForm.firstName.$dirty && addContactForm.firstName.$invalid">-->
<!--<span data-ng-show="addContactForm.firstName.$error.required">First Name is required.</span>-->
<!--<span data-ng-show="addContactForm.firstName.$error.maxlength">First Name length should not exceed 128 characters.</span>-->
<!--</span>-->
<!--</div>-->

<!--<div class="col-lg-4 form-group-n">-->
<!--<h5 class="tabtxt heading">Middle Name</h5>-->
<!--<input type="text" class="form-control" data-ng-model="middleName" id="middleName" name="middleName" placeholder="Enter Middle Name..." maxlegth="128">-->
<!--<span class="text-danger f-15" data-ng-show="addContactForm.middleName.$dirty && addContactForm.middleName.$invalid">-->
<!--<span data-ng-show="addContactForm.middleName.$error.maxlength">Last Name length should not exceed 128 characters.</span>-->
<!--</span>-->
<!--</div>-->

<!--<div class="col-lg-4 form-group-n">-->
<!--<h5  class="tabtxt heading">Last Name</h5>-->
<!--<input type="text" data-ng-model="lastName" id="lastName" name="lastName" class="form-control" placeholder="Enter Last Name..." maxlegth="128">-->
<!--<span class="text-danger f-15" data-ng-show="addContactForm.lastName.$dirty && addContactForm.lastName.$invalid">-->
<!--<span data-ng-show="addContactForm.lastName.$error.maxlength">Last Name length should not exceed 128 characters.</span>-->
<!--</span>-->
<!--</div>-->

<!--<div class="col-lg-12 form-group-n">-->
<!--<h5  class="tabtxt heading">Company</h5>-->
<!--<input type="text" data-ng-model="companyName" id="companyName" name="companyName" class="form-control" placeholder="Company Name" maxlength="256">-->
<!--<span class="text-danger f-15" data-ng-show="addContactForm.companyName.$dirty && addContactForm.companyName.$invalid">-->
<!--<span data-ng-show="addContactForm.companyName.$error.maxlength">Company Name length should not exceed 256 characters.</span>-->
<!--</span>-->
<!--</div>-->

<!--</div>-->

<!--</div>-->

<!--<div class="col-lg-12 form-group-n">-->
<!--<div class="row">-->
<!--<div class="col-lg-6 mob-lg">-->


<!--<div>-->
<!--<h5  class="nhead tabtxt heading">Phone<button type="button" data-ng-click="addPhone(phones)" class="btn btn-success addbtn"><i class="fa-plus faa"></i></button></h5>-->
<!--<hr class="nline m-15" >-->
<!--</div>-->

<!--<div class="col-lg-12 m-top15" data-ng-repeat="phone in phones  track by $index" data-ng-form="phoneForm">-->
<!--<div type="button" title="Remove" class="closeButton cursor" data-ng-show="phones.length > 1" data-ng-click="phones.splice($index, 1)"><i class="fa-minus-circle faa"></i>-->
<!--</div>-->
<!--<div class="col-lg-6">-->
<!--<select class="form-control input-sm m-bot15" ng-model="phone.phoneType" ng-options="item as item for item in phoneTypes"></select>-->


<!--</div>-->
<!--<div class="col-lg-6">-->
<!--<input type="text" class="form-control" placeholder="eg: +919164518060"  data-ng-model="phone.phoneNumber" id="phoneNumber" name="phoneNumber"  ng-required="isOneContactRequired();" ng-minlength="10", ng-maxlength="11" only-digits>-->

<!--</div>-->


<!--<div class="col-lg-12">-->
<!--<span class="text-danger f-15" data-ng-show="phoneForm.phoneNumber.$dirty && phoneForm.phoneNumber.$invalid">-->
<!--<span data-ng-show="phoneForm.phoneNumber.$error.number">Not a valid phone number.</span>-->
<!--<span data-ng-show="phoneForm.phoneNumber.$error.minlength || phoneForm.phoneNumber.$error.maxlength">Phone Number length should be 10 to 11 digits.</span>-->
<!--</span>-->
<!--</div>-->


<!--</div>-->

<!--&lt;!&ndash;<hr class="nline m-15" >&ndash;&gt;-->

<!--</div>-->


<!--&lt;!&ndash; <div class="nhead" >-->
<!--<h5  class="tabtxt heading">Phone<button type="button" data-ng-click="addPhone(updatecontact.phones)" class="btn btn-success addbtn"><i class="fa-plus faa"></i></button></h5>-->
<!--<hr class="nline" >-->
<!--</div>-->

<!--<div class="col-lg-6 npadj" data-ng-repeat="phone in updatecontact.phones  track by $index" data-ng-form="phoneForm">-->
<!--<div type="button" class="closeButton cursor" data-ng-show="updatecontact.phones.length > 1" data-ng-click="updatecontact.phones.splice($index, 1)"><i class="fa-minus-circle faa"></i></div>-->
<!--<div>-->
<!--<div class="col-lg-6">-->
<!--<select class="form-control input-sm m-bot15" ng-model="phone.phoneType" ng-options="item as item for item in phoneTypes"></select>-->

<!--</div>-->
<!--<div class="col-lg-6">-->
<!--<input type="text" data-ng-model="phone.phoneNumber" id="phoneNumber" class="form-control m-bot15" name="phoneNumber" placeholder="Phone Number" ng-required="isOneContactRequiredUpdate();" ng-minlength="10", ng-maxlength="11" only-digits  placeholder="eg: +919164518060">-->

<!--</div>-->
<!--<div class="col-lg-12">-->

<!--<span class="text-danger" data-ng-show="phoneForm.phoneNumber.$dirty && phoneForm.phoneNumber.$invalid">-->
<!--<span data-ng-show="phoneForm.phoneNumber.$error.number">Not a valid phone number.</span>-->
<!--<span data-ng-show="phoneForm.phoneNumber.$error.minlength || phoneForm.phoneNumber.$error.maxlength">Phone Number length should be 10 to 11 digits.</span>-->
<!--</span>-->
<!--</div>-->
<!--</div>-->


<!--</div>&ndash;&gt;-->

<!--<div class="col-lg-6 mob-lg ">-->


<!--<div>-->
<!--<h5  class="nhead tabtxt heading">E-mail<button type="button" data-ng-click="addEmail(emails)" class="btn btn-success addbtn"><i class="fa-plus faa"></i></button></h5>-->
<!--<hr class="nline m-15" >-->
<!--</div>-->

<!--<div class="col-lg-12 m-top15" data-ng-repeat="email in emails  track by $index" data-ng-form="emailForm">-->
<!--<div type="button" title="Remove" class="closeButton cursor" data-ng-show="emails.length > 1" data-ng-click="emails.splice($index, 1)"><i class="fa-minus-circle faa"></i>-->
<!--</div>-->
<!--<div class="col-lg-6">-->
<!--<select class="form-control input-sm m-bot15" ng-model="email.emailType" ng-options="item as item for item in emailTypes"></select>-->

<!--</div>-->
<!--<div class="col-lg-6">-->
<!--<input type="email" class="form-control" placeholder="eg: name@gmail.com"  data-ng-model="email.email" id="email" name="email"  ng-required="isOneContactRequired();"  maxlength="256" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/">-->
<!--</div>-->


<!--<div class="col-lg-12">-->
<!--<span class="text-danger f-15" data-ng-show="emailForm.email.$dirty && emailForm.email.$invalid">-->
<!--<span ng-show="emailForm.email.$error.email">Invalid email address.</span>-->
<!--<span ng-show="emailForm.email.$error.maxlength">The email should not exceed 256 characters.</span>-->
<!--</span>-->
<!--</div>-->


<!--</div>-->

<!--&lt;!&ndash;<hr class="nline m-15" >&ndash;&gt;-->

<!--</div>-->

<!--</div>-->
<!--</div>-->



<!--<div class="col-lg-12">-->
<!--<div class="row">-->
<!--<div class="col-lg-12 mob-lg" >-->
<!--<h5  class="nhead tabtxt heading">Address<button type="button" data-ng-click="addAddress(addresses)" class="btn btn-success addbtn"><i class="fa-plus faa"></i></button></h5>-->
<!--<hr class="nline m-15" >-->
<!--</div>-->
<!--<div class="col-lg-12 mob-lg">-->
<!--<div class="col-lg-6 npadj" data-ng-repeat="address in addresses  track by $index" data-ng-form="addressForm">-->
<!--<div class="closeButton cursor" type="button" data-ng-show="addresses.length > 1" data-ng-click="addresses.splice($index, 1)"><i class="fa-minus-circle faa"></i></div>-->
<!--<div class="col-lg-6 ">-->

<!--<select class="form-control input-sm m-bot15" ng-model="address.addressType" ng-options="item as item for item in addressTypes"></select>-->


<!--</div>-->
<!--<div class="col-lg-12">-->
<!--<textarea class="form-control  m-top15 resize" rows="4" cols="40" placeholder="Enter Your Billing Address.." data-ng-model="address.addressLine" id="addressLine" name="addressLine"  maxlength="1024"></textarea>-->
<!--<span class="text-danger f-15" data-ng-show="addressForm.addressLine.$dirty && addressForm.addressLine.$invalid">-->
<!--<span data-ng-show="addressForm.addressLine.$error.maxlength">The address line should not exceed 1024 characters.</span>-->
<!--</span>-->
<!--</div>-->

<!--<div class="col-lg-6">-->
<!--<input type="text" data-ng-model="address.city" id="city" name="city" class="form-control m-top15" placeholder="Select City..." maxlength="128">-->
<!--<span class="text-danger f-15" data-ng-show="addressForm.city.$dirty && addressForm.city.$invalid">-->
<!--<span data-ng-show="addressForm.city.$error.maxlength">The city should not exceed 128 characters.</span>-->
<!--</span>-->

<!--</div>-->
<!--<div class="col-lg-6">-->
<!--<input type="text" data-ng-model="address.state" id="state" name="state" class="form-control m-top15" placeholder="Enter State. . ." maxlength="128">-->
<!--<span class="text-danger f-15" data-ng-show="addressForm.state.$dirty && addressForm.state.$invalid">-->
<!--<span data-ng-show="addressForm.state.$error.maxlength">The state should not exceed 128 characters.</span>-->
<!--</span>-->
<!--</div>-->
<!--<div class="col-lg-6">-->
<!--<input type="text" data-ng-model="address.country" id="country" name="country" class="form-control m-top15" placeholder="Country" maxlength="128">-->
<!--<span class="text-danger f-15" data-ng-show="addressForm.country.$dirty && addressForm.country.$invalid">-->
<!--<span data-ng-show="addressForm.country.$error.maxlength">The country should not exceed 128 characters.</span>-->
<!--</span>-->

<!--</div>-->

<!--<div class="col-lg-6">-->
<!--<input type="text" class="form-control m-top15" placeholder="Enter Pincode..." data-ng-model="address.pinCode" id="pinCode" name="pinCode"  ng-minlength="6" ng-maxlength="6" only-digits>-->
<!--<span class="text-danger f-15" data-ng-show="addressForm.pinCode.$dirty && addressForm.pinCode.$invalid">-->
<!--<span data-ng-show="addressForm.pinCode.$error.maxlength || addressForm.pinCode.$error.minlength">Pincode should be 6 digits.</span>-->
<!--<span data-ng-show="addressForm.pinCode.$error.number">Pincode should number.</span>-->
<!--</span>-->
<!--</div>-->
<!--<div class="col-lg-12 mob-lg">-->
<!--<hr class="nline" >-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;<hr class="nline" >&ndash;&gt;-->
<!--</div>-->

<!--<div class="col-lg-12">-->
<!--<div class="row">-->

<!--<div class="col-lg-12 mob-lg">-->
<!--<div class="col-lg-6">-->
<!--<div class="col-lg-6">-->

<!--<button type="submit" data-ng-disabled="addContactForm.$invalid" class="btn btn-save">Save</button>-->
<!--</div>-->
<!--<div class="col-lg-6">-->
<!--<button type="button" class="btn btn-cancel" data-ng-click="panelChange(''); clearFields();">Cancel</button>-->
<!--</div>-->

<!--</div>-->
<!--<div data-ng-show="error" class="text-danger f-15">-->
<!--<strong data-ng-bind="error"></strong>-->
<!--</div>-->
<!--</div>-->


<!--</div>-->
<!--</div>-->

<!--</form>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--</section>-->
<!--add contact end-->

