<div>
    <form name="addContactsForm" data-ng-submit="create(addContactsForm)" class="nvc-slider-form">

        <div class="nvc-form-content">
            <div layout="row" layout-align="center center" class="nvc-sticky-top">
                <md-button class="md-icon-button md-mini" ng-click="cancel()" aria-label="close dialog"><md-icon class="fa fa-times fa-lg"></md-icon></md-button>
                <h4 flex class="nv-text-center nv-text-bold">Create Contact</h4>
                <md-button class="md-icon-button md-mini " type="reset" aria-label="clear fields">
                    <md-icon class="fa fa-repeat fa-lg"></md-icon>
                </md-button>
            </div>
        <div class="nvc-create-head" id="step-1">
            <div class="nvc-create-head-tag">1</div>
            <div class="nvc-create-head-content">
                <h5>Add Basic Info</h5>
                <h6>Enter all necessary proprietary details</h6>
            </div>
        </div>
        <div class="nvc-create-content">
            <div layout="row" layout-sm="row" layout-xs="row" layout-wrap layout-padding>
                <div flex="20" flex-xs="20" flex-sm="20">
                    <div class="nvc-accent-border nvc-shape-pill nvc-overflow-hidden">
                        <div class="nv-position-relative layout-align-center-center layout-row">
                        <img class="bb-wid-100" data-ng-src="{{contactImageURL}}" alt="" square-image>
                        <span class="nvc-ubtn bb-btn-file bb-wid-100" type="button">Upload
                                <input type="file" ng-model="contactImageURL" uploadpathkey='contact' accept="image/*" uploader="uploader" id="ele" />
                        </span>
                        </div>
                    </div>
                    <!--<button type="button" data-toggle="modal" data-target="#myModal">Open Modal</button>
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Modal Header</h4>
                                </div>
                                <div>Select an image file: <input type="file" id="fileInput" onchange="angular.element(this).scope().handleFileSelect(event)"/></div>
                                <div class="cropArea">
                                    <img-crop image="myImage" result-image="myCroppedImage" change-on-fly=true ></img-crop>
                                </div>
                                <div>Cropped Image:</div>
                                <div><img ng-src="{{myCroppedImage}}" /></div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="setImageUrl()">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>-->
                </div>
                <div flex="80" flex-xs="80" flex-sm="80" layout="row" layout-xs="row" layout-sm="row" layout-wrap layout-align="space-around start">
                    <div flex="30" flex-xs="30" flex-sm="30">
                        <md-input-container class="bb-wid-100">
                            <label>Contact Type</label>
                            <md-select ng-model="customerType" ng-disabled="customerType">
                                <md-option value="Customer">Customer</md-option>
                                <md-option value="Supplier">Supplier</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div flex="60" flex-xs="60" flex-sm="60" flex-gt-lg="60">
                        <md-input-container class="md-block bb-wid-100 ">
                            <label>Display Name</label>
                            <input required ng-model="displayName" id="displayName" name="displayName">
                        </md-input-container>
                    </div>
                    <div ng-show="showMore" layout="row" layout-sm="row" layout-xs="row" layout-wrap layout-align="space-around start" flex="100" flex-xs="100" flex-sm="100">
                        <div flex="30" flex-sm="30" flex-xs="30">
                            <md-input-container class="bb-wid-100">
                                <label>First Name</label>
                                <input ng-model="firstName">
                            </md-input-container>
                        </div>
                        <div flex="60" flex-xs="60" flex-sm="60" layout="row" layout-xs="row" layout-sm="row">
                            <div flex="50" flex-xs="50" flex-sm="50" flex-gt-lg="50">
                                <md-input-container class="md-block bb-wid-100">
                                    <label>Middle Name</label>
                                    <input  ng-model="middleName" id="middleName" name="middleName">
                                </md-input-container>
                            </div>
                            <div flex="50" flex-xs="50" flex-sm="45" flex-gt-lg="45">
                                <md-input-container class="md-block bb-wid-100">
                                    <label>Last Name</label>
                                    <input ng-model="lastName" id="lastName" name="lastName">
                                </md-input-container>
                            </div>
                        </div>
                        <div flex="30" flex-sm="30" flex-xs="30">
                            <md-input-container class="bb-wid-100">
                                <label>Payment</label>
                                <md-select md-on-open="paymentTerms()" ng-model="paymentTerm"   aria-label="Payment Terms">
                                    <md-option  id='PT_{{$index}}' ng-repeat="item in paymentterms track by $id(item)" ng-value="item._id">{{item.name}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div flex="60" flex-sm="60" flex-xs="60">
                            <md-input-container class="md-block">
                                <label>Company Name</label>
                                <input data-ng-model="companyName" id="companyName" name="companyName">
                            </md-input-container>
                        </div>
                        <div flex="30" flex-sm="30" flex-xs="30">
                                     <!--<label ng-if="gstinNumberProof"><a ng-if="gstinNumberProof" class="bb-simple"
                                                                        href="{{gstinNumberProof}}" target="_blank">GSTIN Proof</a></label>
                                     <span class="bb-wbtn btn bb-btn-save bb-btn-file bb-wid-100">+ GSTIN Proof
                                     <input type="file" ng-model="gstinNumberProof" uploadpathkey='contact'  uploader="uploader" /></span>-->
                            <h6 class="nvc-margin-top-0">GSTIN Proof:</h6>
                            <div flex="100" layout="row" layout-align="space-around center" class="nvc-bottom-tag">
                                <span class="bb-btn-file bb-cursor">
                                    <input type="file" ng-model="contact.gstinNumberProof" uploadpathkey='contact'  uploader="uploader" />
                                    <span ng-if="!contact.gstinNumberProof" class="fa fa-link "></span>&nbsp;&nbsp;Add
                                <span ng-if="contact.gstinNumberProof"><a href="{{contact.gstinNumberProof}}" target="_blank" ><span class="fa fa-eye"></span></a></span>
                                <span ng-if="contact.gstinNumberProof"><a href="{{contact.gstinNumberProof}}" download><span class="fa fa-download"></span></a></span>
                            </div>
                        </div>
                        <div flex="60" flex-sm="60" flex-xs="60">
                            <md-input-container class="md-block">
                                <label>GSTIN</label>
                                <input name="gstin"
                                       ng-model="gstinNumber"
                                                nv-regulation-exp="gstin">
                            </md-input-container>
                        </div>
                    </div>
                    <div flex="95" flex-xs="100" aria-label="Show More Or Less Link" flex-sm="95" class="nv-text-right nvc-primary-color" ng-click="showMore = !showMore">{{showMore?'-':'+'}} show {{showMore?'less':'more'}}</div>
                </div>
            </div>
        </div>
        <!--<div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap >

                     <div flex="25" flex-xs="100" flex-sm="100" flex-gt-lg="25">
                         &lt;!&ndash;<span class="bb-profile-ava">
                                        <img class="img-responsive bb-simple bb-profimg-fix bb-img-center"
                                             data-ng-src="{{contactImageURL}}" alt="">
                             &lt;!&ndash; <div class=""><span class="fa fa-camera cam"></span></div>&ndash;&gt;
                                      </span>

                         <div class="bb-link-me">
                             <div class="text-center">

                                                    <span class="bb-ubtn bb-btn-file">
                                                      <i title="Upload images" class="fa fa-camera fa-2x" ></i>

                                                        <input type="file" ng-model="contactImageURL" uploadpathkey='contact' accept="image/*" uploader="uploader" />

                                                        &lt;!&ndash;<input type="file" accept="image/*" nv-file-select accept="image/*" uploader="uploader">
                                                   &ndash;&gt;</span>

                             </div>

                             <div class="bb-hr-center"></div>
                             <span id="lblError" class="text-danger bb-f-15"></span>
                         </div>&ndash;&gt;
                     </div>

                     <div flex="75" flex-xs="100" flex-sm="100" flex-gt-lg="75">
                         <div class="layout-padding"  layout="row" layout-xs='row' layout-xs="column" layout-sm="column" layout-gt-lg="row" layout-wrap>
                             <div flex="33" flex-xs="100" flex-sm="100" flex-gt-lg="33">
                                 <md-input-container class="md-block">
                                     <label>First Name</label>
                                     <input md-maxlength="128"   ng-model="firstName">

                                 </md-input-container>
                             </div>

                             <div flex="33" flex-xs="100" flex-sm="100" flex-gt-lg="33">
                                 <md-input-container class="md-block">
                                     <label>Middle Name</label>
                                     <input md-maxlength="128"   ng-model="middleName" id="middleName" name="middleName">

                                 </md-input-container>
                             </div>
                             <div flex="33" flex-xs="100" flex-sm="100" flex-gt-lg="33">
                                 <md-input-container class="md-block">
                                     <label>Last Name</label>
                                     <input md-maxlength="128"  ng-model="lastName" id="lastName" name="lastName">

                                 </md-input-container>
                             </div>

                             <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="33">
                                 <md-input-container class="md-block">
                                     <label>Company Name</label>
                                     <input md-maxlength="256"   data-ng-model="companyName" id="companyName" name="companyName">

                                 </md-input-container>
                             </div>
                             <div flex="50" flex-xs="100" flex-sm="30" flex-gt-lg="30">
                                 <md-input-container class="md-block">
                                     <label>GSTIN</label>
                                     <input name="gstin"
                                              ng-model="gstinNumber"
                                            nv-regulation-exp="gstin">
                                 </md-input-container>
                             </div>

                             <div flex="30" flex-xs="100" flex-sm="40"
                                  flex-gt-lg="30">
                                 <label ng-if="!gstinNumberProof" class="bb-nlabel bb-m-bot15">GSTIN
                                     Proof</label>
                                 <a ng-if="gstinNumberProof" class="bb-simple bb-profimg-fix "
                                    href="{{gstinNumberProof}}" target="_blank">GSTIN Proof</a>
                             </div>

                             <div flex="20" flex-xs="100" flex-sm="20"
                                  flex-gt-lg="15"><span class="bb-wbtn btn bb-btn-save bb-btn-file bb-wid-100">Browse<input type="file" ng-model="gstinNumberProof" uploadpathkey='contact'  uploader="uploader" /></span>
                             </div>
                             &lt;!&ndash;<div flex="33" flex-xs="100" flex-sm="33" flex-gt-lg="33">
                                 <h5>Payment Terms</h5>
                                 <md-input-container class="md-block">
                                     <label>Select One</label>
                                     <md-select ng-model="paymentTerm"   aria-label="Payment Terms">
                                         <md-option  id='PT_{{$index}}' ng-repeat="item in paymentterms track by $id(item)" ng-value="item._id">{{item.name}}</md-option>
                                     </md-select>
                                 </md-input-container>
                             </div>&ndash;&gt;
                             <div flex="50" flex-xs="100" flex-sm="5-" flex-gt-lg="50">
                                 <div class="md-subhead">Type</div>
                                &lt;!&ndash; <md-radio-group ng-show="groupTypes.length>0" ng-model="customerType" name="Group Type" layout-padding layout="row"
                                                 layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>

                                     <md-radio-button flex-xs="100" ng-repeat="type in groupTypes" class="md-primary"
                                                      data-ng-model="customerType" name="type.text" ng-value="type.value">{{type.text}}
                                     </md-radio-button>
                                 </md-radio-group>&ndash;&gt;
                                 <md-head>{{customerType}}</md-head>
                             </div>
                         </div>

                     </div>

                 </div>-->
        <div class="nvc-create-head" ng-click="show2 = !show2" id="step-2">
            <div class="nvc-create-head-tag">2</div>
            <div class="nvc-create-head-content">
                <h5>Add Communication Info</h5>
                <h6>Enter all Phone No. &amp; Email Id</h6>
            </div>
        </div>
        <div class="nvc-create-content" >
            <div layout-wrap layout="row" layout-sm="row" layout-xs="row" layout-padding layout-align="center center" id="mobile-{{$index}}" ng-repeat="phone in phones  track by $index" data-ng-form="phoneForm">
                <div flex="5">
                    <md-icon ng-if="$index>0" class="fa fa-minus-circle fa-2x nv-red" aria-label="favourite" ng-click="phones.splice($index, 1)">
                        <md-tooltip>Remove Phone</md-tooltip>
                    </md-icon>
                    <md-icon ng-if="$index===0" class="md-primary fa fa-plus-circle fa-2x" aria-label="favourite" ng-click="addPhone(phones)">
                        <md-tooltip>Add Phone</md-tooltip>
                    </md-icon>
                </div>
                <div flex="95" layout="row" layout-align="space-around start">
                    <div flex="20">
                        <md-input-container class="md-block b-wid-100">
                            <md-select ng-model="phone.phoneType" aria-label="phoneType">
                                <md-option ng-repeat="item in phoneTypes">{{item}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div flex="70">
                        <md-input-container class="md-block bb-wid-100">
                            <label>Phone Number</label>
                            <input ng-model="phone.phoneNumber" id="phoneNumber"  ng-required="!isOneContactRequired();" name="phoneNumber" nv-regulation-exp="phonenumber">
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div layout="row" id="email-{{$index}}" layout-align="center center" layout-padding layout-wrap ng-repeat="email in emails  track by $index" data-ng-form="emailForm">
                <div flex="5" >
                    <md-icon ng-if="$index>0" class="fa fa-minus-circle fa-2x nv-red" aria-label="favourite" ng-click="emails.splice($index, 1)">
                        <md-tooltip>Remove Email</md-tooltip>
                    </md-icon>
                    <md-icon ng-if="$index===0" class="md-primary fa fa-plus-circle fa-2x" aria-label="favourite" ng-click="addEmail(emails)">
                        <md-tooltip>Add Email</md-tooltip>
                    </md-icon>
                </div>
                <div flex="95" layout="row" layout-align="space-around start">
                    <div flex="20">
                        <md-input-container class="md-block bb-wid-100">
                            <md-select ng-model="email.emailType" aria-label="emailType">
                                <md-option ng-repeat="item in emailTypes">{{item}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div flex="70">
                        <md-input-container class="md-block bb-wid-100">
                            <label>E-mail</label>
                            <input ng-model="email.email"  ng-required="!isOneContactRequired();" id="email" name="email" nv-regulation-exp="mail1">
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="nvc-create-head" ng-click="show3 = !show3" id="step-3">
            <div class="nvc-create-head-tag">3</div>
            <div class="nvc-create-head-content">
                <h5>Add Address Details</h5>
                <h6>Enter all Billing, Shipping, Invoicing, &amp; Receiving Addresses</h6>
            </div>
        </div>
        <div class="nvc-create-content nvc-landing-offers-tabs" ng-show="show3">
            <add-addresses addresstypes="addressTypes" addresses="addresses" add-address="addAddress(addresses,tab)"></add-addresses>
            <!--<md-tabs md-dynamic-height class="nvc-padding-left-10">
                <md-tab ng-repeat="tab in addressTypes" label="{{tab}}">
                    <md-content id='tab_{{tab}}' class="nvc-padding-left-0" layout-padding>
                        <div flex="100" layout="row" class="layout-align-start-center nvc-padding-left-0">
                                <span class="md-primary fa fa-plus-circle fa-2x nvc-primary-color" aria-label="favourite" ng-click="addAddress(addresses,tab)">
                                    <md-tooltip>Add Address</md-tooltip>
                                </span>
                            <h6 class="nvc-padding-left-10">Add Address</h6>
                        </div>
                        <div layout="row" ng-repeat="address in addresses | filter:{addressType: tab}" id="address-{{$index}}" layout-wrap>
                            <div flex="100"  ng-show="$index>0" layout="row" class="layout-align-start-center">
                                <span class="fa fa-minus-circle fa-2x nv-red " aria-label="favourite" ng-click="addresses.splice(addresses.indexOf(address), 1)">
                                    <md-tooltip>Remove Address</md-tooltip>
                                </span>
                                <h6 class="nvc-padding-left-10">Address - {{$index}}</h6>
                            </div>
                            <div layout="row" layout-align="space-around center" layout-wrap>
                                <div flex="95">
                                    <md-input-container class="md-block bb-wid-100">
                                        <label>Address Line</label>
                                                     <input ng-model="address.addressLine" id="addressLine" name="addressLine">
                                    </md-input-container>
                                </div>
                                <div flex="45" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                                    <md-input-container class="md-block">
                                        <label>City</label>
                                        <input ng-model="address.city" id="city" name="city">
                                    </md-input-container>
                                </div>
                                <div flex="45" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                                    <md-input-container class="md-block">
                                        <label>State</label>
                                        <input ng-model="address.state" id="state" name="state">
                                    </md-input-container>
                                </div>
                                <div flex="45" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                                    <md-input-container class="md-block">
                                        <label>Country</label>
                                        <input ng-model="address.country" id="country"
                                               name="country">
                                    </md-input-container>
                                </div>
                                <div flex="45" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                                    <md-input-container class="md-block">
                                        <label>Pin Code</label>
                                        <input ng-model="address.pinCode" id="pinCode"
                                               name="pinCode" ng-minlength="6" ng-maxlength="6" only-digits>
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>-->
        </div>
        </div>
        <div layout="row" layout-wrap>
                <md-button type="submit"
                           class="nvc-accent-background nvc-primary-color nvc-padding-0 nvc-margin-0 md-background-accent" flex="100">Create Contact
                </md-button>
            <!--<div flex="60" flex-xs="100" flex-sm="60" flex-gt-lg="60">
                <div data-ng-show="error" class="text-danger bb-f-15">
                    <strong data-ng-bind="error"></strong>
                </div>
            </div>-->
        </div>
    </form>
</div>

