
<section>
    <div class="col-md-12 col-xs-12" ng-if="showEdit">
        <h3>Edit Contact</h3>
        <form class="form-horizontal" name="editContactForm" data-ng-submit="update(updatecontact,selcontact);$scope.updatecontact=updatecontact;" novalidate>
            <fieldset>
                <div class="scroll-list">
                <div class="form-group">
                    <div class="col-sm-5">
                        <label class="control-label" for="firstName">First Name</label>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" data-ng-model="updatecontact.firstName" id="firstName" name="firstName" class="form-control" placeholder="First Name" maxlength="128" >
                        <span class="text-danger" data-ng-show="editContactForm.firstName.$dirty && editContactForm.firstName.$invalid">
                            <span data-ng-show="editContactForm.firstName.$error.required">First Name is required.</span>
                            <span data-ng-show="editContactForm.firstName.$error.maxlength">First Name length should not exceed 128 characters.</span>
                        </span>
                    </div>
                </div>
                    <div class="form-group">
                        <div class="col-sm-5">
                            <label class="control-label" for="middleName">Middle Name</label>
                        </div>
                        <div class="col-sm-7">
                            <input type="text" data-ng-model="updatecontact.middleName" id="middleName" name="middleName" class="form-control" placeholder="Middle Name" maxlength="128">
                        <span class="text-danger" data-ng-show="editContactForm.middleName.$dirty && editContactForm.middleName.$invalid">
                            <span data-ng-show="editContactForm.middleName.$error.maxlength">Last Name length should not exceed 128 characters.</span>
                        </span>
                        </div>
                    </div>
                <div class="form-group">
                    <div class="col-sm-5">
                        <label class="control-label" for="lastName">Last Name</label>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" data-ng-model="updatecontact.lastName" id="lastName" name="lastName" class="form-control" placeholder="Last Name" maxlength="128">
                        <span class="text-danger" data-ng-show="editContactForm.lastName.$dirty && editContactForm.lastName.$invalid">
                            <span data-ng-show="editContactForm.lastName.$error.maxlength">Last Name length should not exceed 128 characters.</span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5">
                        <label class="control-label" for="companyName">Company</label>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" data-ng-model="updatecontact.companyName" id="companyName" name="companyName" class="form-control" placeholder="Company Name" maxlength="256">
                        <span class="text-danger" data-ng-show="editContactForm.companyName.$dirty && editContactForm.companyName.$invalid">
                            <span data-ng-show="editContactForm.companyName.$error.maxlength">Company Name length should not exceed 256 characters.</span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-10">
                        <label class="control-label">Phone </label>
                    </div>
                    <div class="col-xs-2">
                        <button type="button" class="pull-right" data-ng-click="addPhone(updatecontact.phones)">+</button>
                    </div>
                    </div>
                    <hr>
                <div data-ng-repeat="phone in updatecontact.phones  track by $index" data-ng-form="phoneForm" class="form-group">
                    <div class="col-sm-4 col-xs-10">
                        <label class="control-label">{{phone.phoneType}}</label>
                        <button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <span class="control-label glyphicon glyphicon-chevron-down email-down-icon">
                                                </span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="list-item" ng-click="phone.phoneType = 'Mobile'" role="button">Mobile</a></li>
                            <li><a class="list-item" ng-click="phone.phoneType = 'Home'" role="button">Home</a></li>
                            <li><a class="list-item" ng-click="phone.phoneType = 'Work'" role="button">Work</a></li>
                            <li><a class="list-item" ng-click="phone.phoneType = 'Other'" role="button">Other</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-2 col-xs-2">
                        <button type="button" data-ng-show="updatecontact.phones.length > 1" data-ng-click="updatecontact.phones.splice($index, 1)">-</button>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <input type="text" data-ng-model="phone.phoneNumber" id="phoneNumber" class="form-control" name="phoneNumber" placeholder="Phone Number" ng-required="isOneContactRequiredUpdate();" ng-minlength="10", ng-maxlength="11" only-digits>
                        <span class="text-danger" data-ng-show="phoneForm.phoneNumber.$dirty && phoneForm.phoneNumber.$invalid">
                            <span data-ng-show="phoneForm.phoneNumber.$error.number">Not a valid phone number.</span>
                            <span data-ng-show="phoneForm.phoneNumber.$error.minlength || phoneForm.phoneNumber.$error.maxlength">Phone Number length should be 10 to 11 digits.</span>
                        </span>
                    </div>
                </div>
                <hr>

                <div class="form-group">
                    <div class="col-xs-10">
                        <label class="control-label">Email </label>
                    </div>
                    <div class="col-xs-2">
                        <button type="button" class="pull-right" data-ng-click="addEmail(updatecontact.emails)">+</button>
                    </div>
                </div>

                <hr>
                <div data-ng-repeat="email in updatecontact.emails  track by $index" data-ng-form="emailForm" class="form-group">
                    <div class="col-sm-4 col-xs-10">
                        <label class="control-label">{{email.emailType}}</label>
                        <button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="control-label glyphicon glyphicon-chevron-down email-down-icon">
                                                </span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="list-item" ng-click="email.emailType = 'Work'" role="button">Work</a></li>
                            <li><a class="list-item" ng-click="email.emailType = 'Personal'" role="button">Personal</a></li>
                            <li><a class="list-item" ng-click="email.emailType = 'Other'" role="button">Other</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-2 col-xs-2">
                        <button type="button" data-ng-show="updatecontact.emails.length > 1" data-ng-click="updatecontact.emails.splice($index, 1)">-</button>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <input type="email" data-ng-model="email.email" id="email" name="email" class="form-control" placeholder="Email" maxlength="256" ng-required="isOneContactRequiredUpdate();" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/">
                        <span class="text-danger" data-ng-show="emailForm.email.$dirty && emailForm.email.$invalid">
                            <span ng-show="emailForm.email.$error.email">Invalid email address.</span>
                            <span ng-show="emailForm.email.$error.maxlength">The email should not exceed 256 characters.</span>
                             <span ng-show="emailForm.email.$error.email">Invalid email address.</span>
                        </span>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <div class="col-xs-10">
                        <label class="control-label">Address </label>
                    </div>
                    <div class="col-xs-2">
                        <button type="button" class="pull-right" data-ng-click="addAddress(updatecontact.addresses)">+</button>
                    </div>
                </div>
                <hr>
                    <div data-ng-repeat="address in updatecontact.addresses  track by $index" data-ng-form="addressForm">
                    <div class="form-group">
                        <div class="col-sm-4 col-xs-10">
                            <label class="control-label">{{address.addressType}}</label>
                            <button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <span class="control-label glyphicon glyphicon-chevron-down email-down-icon">
                                                </span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a class="list-item" ng-click="address.addressType = 'Billing'" role="button">Billing</a></li>
                                <li><a class="list-item" ng-click="address.addressType = 'Shipping'" role="button">Shipping</a></li>
                                <li><a class="list-item" ng-click="address.addressType = 'Receiving'" role="button">Receiving</a></li>
                                <li><a class="list-item" ng-click="address.addressType = 'Invoice'" role="button">Invoice</a></li>
                            </ul>
                        </div>

                        <div class="col-xs-2 col-sm-8">
                            <button type="button" data-ng-show="updatecontact.addresses.length > 1" class="pull-right" data-ng-click="updatecontact.addresses.splice($index, 1)">-</button>
                        </div>
                    </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-md-4">
                                <label class="control-label"></label>
                            </div>
                            <div class="col-sm-8 col-md-8">
                                <textarea rows="3" data-ng-model="address.addressLine" id="addressLine" name="addressLine" class="form-control" placeholder="Address Line" maxlength="1024"> </textarea>
                            <span class="text-danger" data-ng-show="addressForm.addressLine.$dirty && addressForm.addressLine.$invalid">
                                <span data-ng-show="addressForm.addressLine.$error.maxlength">The address line should not exceed 1024 characters.</span>
                            </span>
                            </div>
                        </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-md-4">
                            <label class="control-label" for="city"></label>
                        </div>
                        <div class="col-sm-8 col-md-8">
                            <input type="text" data-ng-model="address.city" id="city" name="city" class="form-control" placeholder="City" maxlength="128">
                            <span class="text-danger" data-ng-show="addressForm.city.$dirty && addressForm.city.$invalid">
                                <span data-ng-show="addressForm.city.$error.maxlength">The city should not exceed 128 characters.</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-md-4">
                            <label class="control-label" for="state"></label>
                        </div>
                        <div class="col-sm-8 col-md-8">
                            <input type="text" data-ng-model="address.state" id="state" name="state" class="form-control" placeholder="State" maxlength="128">
                            <span class="text-danger" data-ng-show="addressForm.state.$dirty && addressForm.state.$invalid">
                                <span data-ng-show="addressForm.state.$error.maxlength">The state should not exceed 128 characters.</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-md-4">
                            <label class="control-label" for="country"></label>
                        </div>
                        <div class="col-sm-8 col-md-8">
                            <input type="text" data-ng-model="address.country" id="country" name="country" class="form-control" placeholder="Country" maxlength="128">
                            <span class="text-danger" data-ng-show="addressForm.country.$dirty && addressForm.country.$invalid">
                                <span data-ng-show="addressForm.country.$error.maxlength">The country should not exceed 128 characters.</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-md-4">
                            <label class="control-label" for="pinCode"></label>
                        </div>
                        <div class="col-sm-8 col-md-8">
                            <input type="text" data-ng-model="address.pinCode" id="pinCode" name="pinCode" class="form-control" placeholder="Pincode" ng-minlength="6" ng-maxlength="6" only-digits>
                             <span class="text-danger" data-ng-show="addressForm.pinCode.$dirty && addressForm.pinCode.$invalid">
                                 <span data-ng-show="addressForm.pinCode.$error.maxlength || addressForm.pinCode.$error.minlength">Pincode should be 6 digits.</span>
                                 <span data-ng-show="addressForm.pinCode.$error.number">Pincode should number.</span>
                             </span>
                        </div>
                    </div>
                </div>
                </div>
                <div class="form-group text-center">
                    <div class="col-sm-6 col-xs-6">
                        <input type="submit" value="Update" onclick="backbtn();" data-ng-disabled="editContactForm.$invalid" data-ng-click="reset(editContactForm);" class="btn btn-success">
                    </div>
                    <div class="col-sm-6 col-xs-6">

                        <a class="btn btn-danger" onclick="backbtn();" data-ng-click="panelChange(updatecontact,'');revert()" title="Cancel Contact">
                            <i class="glyphicon"></i> Cancel
                        </a>
                    </div>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>

</section>
