<form name="editContactForm" data-ng-submit="update(contact,contact,'',editContactForm);" novalidate ng-if="showEdit" class="nvc-slider-form">
    <div class="nvc-form-content">
        <div layout="row" layout-align="center center" class="nvc-sticky-top bb-z1">
            <md-button class="md-icon-button md-mini" ng-click="cancel()" aria-label="close dialog"><md-icon class="fa fa-times fa-lg"></md-button>
            <h4 flex class="nv-text-center nv-text-bold">Contact Details</h4>
            <md-button class="md-icon-button md-mini" ng-click="slice(contact,'contact');cancel()" aria-label="Delete contact"><md-icon class="fa fa-trash fa-lg"></md-icon></md-button>
            <md-button class="nvc-rfloat md-icon-button" aria-label="edit button" ng-click="toggleEdit = !toggleEdit"><md-icon class="fa fa-lg nvc-primary-color" ng-class="toggleEdit?'fa-check':'fa-pencil'"></md-icon></md-button>
        </div>
        <div layout="row" layout-xs="row" layout-sm="row" class="nvc-inventory-detail nvc-clear-both bb-z0" layout-wrap>
            <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100" layout="row" layout-align="center center" layout-padding class="nvc-product-detail" >
                <div flex="20" flex-xs="20" flex-sm="20" class="layout-row layout-align-center-center">
                    <div class="flex-90 nv-position-relative">
                        <div ng-show="contact.nVipaniUser" class="nuser bb-z1">
                            <img alt="" class="nvipani-img bb-img-center"
                                 src="/modules/core/img/icons/nvipani-user.png" square-image>
                        </div>
                        <div class="nvc-white-border nvc-shape-pill nvc-overflow-hidden  nv-position-relative layout-align-center-center layout-row">
                            <img class="bb-wid-100" data-ng-src="{{contact.contactImageURL}}" alt="{{contact.firstName}}" square-image>
                            <span class="nvc-ubtn bb-btn-file bb-wid-100" ng-show="toggleEdit">Change
                                <input type="file" ng-model="contact.contactImageURL" uploadpathkey='contact' accept="image/*" uploader="uploader" />
                            </span>
                            </img>
                        </div>
                    </div>
                    <!-- <span class="nv-position-relative nvc-display-block flex-90">

                     <img class="img-responsive bb-img-center-prod bb-wid-100 bb-img-center"
                          data-ng-src="{{contact.contactImageURL}}"
                          alt="{{contact.firstName}}">
                         <div ng-show="contact.nVipaniUser" class="nuser">
                                 <img alt="" class="nvipani-img bb-img-center"
                                      src="/modules/core/img/icons/nvipani-user.png">
                         </div>
                 </span>-->
                    <!--<div class="bb-link-me" ng-show="toggleEdit">
                        <div class="text-center">
                        <span class="bb-ubtn bb-btn-file">
                            <i title="Upload images" class="fa fa-camera fa-2x" >
                            </i>
                            <input type="file" ng-model="contact.contactImageURL" uploadpathkey='contact' accept="image/*" uploader="uploader" />
                        </span>
                        </div>
                    </div>-->
                </div>
                <div id="contactdetails" flex="80" flex-xs="80" flex-sm="80" layout="row" layout-xs="row" layout-sm="row" layout-gt-lg="row" layout-wrap layout-padding layout-align="space-around start">
                    <div flex="40" flex-xs="40" flex-sm="40" flex-gt-lg="40" ng-show="!toggleEdit">
                        <h6>Display Name</h6>
                        <label class="bb-truncate" >{{contact.displayName? contact.displayName : contact.firstName +' '+contact.middleName+ contact.lastName}}</label>
                    </div>
                    <div flex="40" flex-xs="40" flex-sm="40" flex-gt-lg="40" ng-show="toggleEdit">
                        <md-input-container class="md-block">
                            <label >Display Name</label>
                            <input  ng-model="contact.displayName" id="displayName" name="displayName">
                        </md-input-container>
                    </div>
                    <div flex="40" flex-xs="40" flex-sm="40" flex-gt-lg="40" ng-show="!toggleEdit">
                        <h6>Type</h6>
                        <label class="bb-truncate">{{contact.customerType}}</label>
                    </div>
                    <div flex="40" flex-xs="40" flex-sm="40" flex-gt-lg="40" ng-show="toggleEdit">
                        <h6>Type</h6>
                        <label class="bb-truncate">
                            <md-select ng-model="contact.customerType" class="md-no-underline nvc-margin-0" aria-label="customer type">
                                <md-option value="Customer">Customer</md-option>
                                <md-option value="Supplier">Supplier</md-option>
                            </md-select>
                        </label>
                    </div>
                    <div flex="40" flex-xs="40" flex-sm="40" flex-gt-lg="40">
                        <h6>Status</h6>
                        <label class="bb-truncate">{{showSelection()?'Active':'Inactive'}}</label>
                    </div>
                    <div flex="40" flex-xs="40" flex-sm="40" flex-gt-lg="40">
                        <h6>Location</h6>
                        <label class="bb-truncate">{{contact.addresses[0].city}}</label>
                    </div>
                    <!--<div flex="30" flex-xs="30" flex-sm="30" flex-gt-lg="30">
                        <h6><span class="nvc-box overdue"></span> Over Due</h6>
                        &lt;!&ndash;Payment Over Due&ndash;&gt;
                        <label class="bb-truncate">&#8377;</label>
                    </div>
                    <div flex="30" flex-xs="30" flex-sm="30" flex-gt-lg="30">
                        <h6><span class="nvc-box open"></span> Open</h6>
                        &lt;!&ndash;Open Balance&ndash;&gt;
                        <label class="bb-truncate">&#8377;</label>
                    </div>-->
                </div>
            </div>
            <div flex="100" id="moredetails" flex-xs="100" flex-sm="100" flex-gt-lg="100" class="frm-inpt-mrgn-btm-0">
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Basic Info">
                        <md-content >
                            <md-card layout="row" layout-sm="row" layout-xs="row" layout-padding>
                                <div flex="25" flex-sm="25" flex-xs="25" layout="row" layout-wrap layout-padding>
                                    <div flex="100">
                                        <md-input-container class="bb-wid-100 md-block">
                                            <label>GSTIN No.</label>
                                            <input name="gst1" ng-model="contact.gstinNumber"
                                                   nv-regulation-exp="gstin">
                                        </md-input-container>
                                    </div>
                                    <h6 flex="100" class="nvc-margin-0">GSTIN Proof:</h6>
                                    <div flex="100" layout="row" layout-align="space-around center" >
                                        <div class="nvc-bottom-tag bb-wid-100 nv-text-center nvc-margin-bottom-5">
                                            <span class="bb-btn-file bb-cursor nvc-display-block"><input type="file" ng-model="contact.gstinNumberProof" uploadpathkey='contact'  uploader="uploader" /><span class="fa fa-link "></span><span ng-if="!contact.gstinNumberProof"></span> Add</span>
                                            <span ng-if="contact.gstinNumberProof"><a href="{{contact.gstinNumberProof}}" target="_blank" ><span class="fa fa-eye"></span></a></span>
                                            <span ng-if="contact.gstinNumberProof"><a href="{{contact.gstinNumberProof}}" download><span class="fa fa-download"></span></a></span>
                                        </div>
                                    </div>
                                </div>
                                <md-divider></md-divider>
                                <div flex="75" flex-sm="75" flex-xs="75" layout="row" layout-wrap layout-align="space-around stretch">
                                    <div flex="70" layout="row" layout-wrap layout-padding>
                                        <div flex="100">
                                            <md-input-container class="md-block bb-wid-100">
                                                <label>Company Name</label>
                                                <input  ng-model="contact.companyName" id="companyName" name="companyName">
                                            </md-input-container>
                                        </div>
                                        <div flex="50">
                                            <md-input-container class="md-block bb-wid-100 md-no-error-space">
                                                <label>First Name</label>
                                                <input ng-model="contact.firstName" id="firstName" name="firstName">
                                            </md-input-container>
                                        </div>
                                        <div flex="50">
                                            <md-input-container class="md-block bb-wid-100 md-no-error-space">
                                                <label>Middle Name</label>
                                                <input ng-model="contact.middleName" id="middleName" name="middleName">
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div flex="30" layout="column" layout-align="space-around center" layout-wrap>
                                        <div>
                                            <md-input-container class="md-block nvc-margin-bottom-20">
                                                <label>Payment Term</label>
                                                <md-select ng-model="contact.paymentTerm._id"   aria-label="Payment Terms">
                                                    <md-option  id='PT_{{$index}}' ng-repeat="item in paymentterms track by $id(item)" ng-value="item._id">{{item.name}}</md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>

                                        <div>
                                            <md-input-container class="md-block bb-wid-100 md-no-error-space">
                                                <label>Last Name</label>
                                                <input ng-model="contact.lastName" id="lastName" name="lastName">
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>
                            </md-card>
                            <md-card layout="row" layout-sm="row" layout-xs="row" layout-padding layout-wrap class="nvc-landing-offers-tabs">
                                <md-tabs md-dynamic-height flex="100">
                                    <md-tab label="Phone ( {{contact.phones.length}} )">
                                        <md-content id="contact_phone">
                                            <div flex="100" layout="row" class="layout-align-start-center nvc-padding-left-0">
                                <span class="md-primary fa fa-plus-circle fa-2x nvc-primary-color" aria-label="favourite" ng-click="addPhone(contact.phones)">
                                    <md-tooltip>Add Phone</md-tooltip>
                                </span>
                                                <h6 class="nvc-padding-left-10">Add Phone</h6>
                                            </div>
                                            <div flex="100" layout-wrap layout="row" layout-sm="row" layout-align="center center" id="mobile-{{$index}}"layout-xs="row" ng-repeat="phone in contact.phones  track by $id(phone)" data-ng-form="phoneForm">
                                                <div flex="5">
                                                    <md-icon ng-show="$index>0" class="fa fa-minus-circle fa-2x nv-red" aria-label="favourite" ng-click="contact.phones.splice($index, 1)">
                                                        <md-tooltip>Remove Phone</md-tooltip>
                                                    </md-icon>
                                                </div>
                                                <div flex="95" layout="row">
                                                    <div flex="20">
                                                        <md-input-container class="md-block b-wid-100">
                                                            <md-select ng-model="phone.phoneType" aria-label="phoneType">
                                                                <md-option ng-repeat="item in phoneTypes">{{item}}</md-option>

                                                            </md-select>
                                                        </md-input-container>
                                                    </div>
                                                    <div flex="80">
                                                        <md-input-container class="md-block bb-wid-100">
                                                            <label>Phone Number</label>
                                                            <input data-ng-model="phone.phoneNumber" id="phoneNumber"  ng-required="!isOneContactRequiredUpdate(contact);" name="phoneNumber" nv-regulation-exp="phonenumber">
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </md-content>
                                    </md-tab>
                                    <md-tab label="Email ( {{contact.emails.length}} )">
                                        <md-content id="contact_email">
                                            <div flex="100" layout="row" class="layout-align-start-center nvc-padding-left-0">
                                            <span class="md-primary fa fa-plus-circle fa-2x nvc-primary-color" aria-label="favourite" ng-click="addEmail(contact.emails)">
                                            <md-tooltip>Add Email</md-tooltip>
                                            </span>
                                                <h6 class="nvc-padding-left-10">Add Email</h6>
                                            </div>
                                            <div flex="100" layout-wrap layout="row" layout-sm="row" layout-align="center center" id="email-{{$index}}" layout-xs="row" ng-repeat="email in contact.emails  track by $id(email)" data-ng-form="emailForm">
                                                <div flex="5" >
                                                    <md-icon ng-show="$index>0" class="fa fa-minus-circle fa-2x nv-red" aria-label="favourite" ng-click="contact.emails.splice($index, 1)">
                                                        <md-tooltip>Remove Email</md-tooltip>
                                                    </md-icon>
                                                </div>
                                                <div flex="95" layout="row">
                                                    <div flex="20">
                                                        <md-input-container class="md-block bb-wid-100">
                                                            <md-select ng-model="email.emailType" aria-label="emailType">
                                                                <md-option ng-repeat="item in emailTypes">{{item}}</md-option>

                                                            </md-select>
                                                        </md-input-container>
                                                    </div>
                                                    <div flex="80">
                                                        <md-input-container class="md-block bb-wid-100">
                                                            <label>E-mail</label>
                                                            <input ng-model="email.email" id="email" name="email"  ng-required="!isOneContactRequiredUpdate(contact);"  nv-regulation-exp="mail1">
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </md-content>
                                    </md-tab>
                                </md-tabs>
                            </md-card>
                            <md-card layout="row" layout-sm="row" layout-xs="row" layout-padding class="nvc-landing-offers-tabs">
                                <add-addresses addresses="contact.addresses" addresstypes="addressTypes" add-address="addAddress(addresses,tab)" class="bb-wid-100"></add-addresses>
                                <!--<md-tabs md-dynamic-height flex="100">
                                    <md-tab ng-repeat="tab in addressTypes" label="{{tab}}">
                                        <md-content id="tab_{{tab}}" class="nvc-padding-left-0" layout-padding>
                                            <div flex="100" layout="row" class="layout-align-start-center nvc-padding-left-0">
                                                <span class="md-primary fa fa-plus-circle fa-2x nvc-primary-color" aria-label="Add Address" ng-click="addAddress(contact.addresses,tab)">
                                                </span>
                                                <h6 class="nvc-padding-left-10">Add Address</h6>
                                            </div>
                                            <div layout="row" ng-repeat="address in contact.addresses | filter:{addressType: tab}" id="address-{{$index}}" layout-wrap>
                                                <div flex="100"  ng-show="$index>0" layout="row" class="layout-align-start-center">
                                                    <span class="fa fa-minus-circle fa-2x nv-red " aria-label="remove address" ng-click="contact.addresses.splice(contact.addresses.indexOf(address), 1)">
                                                    </span>
                                                    <h6 class="nvc-padding-left-10">Address - {{$index + 1}}</h6>
                                                </div>
                                                <div layout="row" layout-align="space-around center" layout-wrap>
                                                    <div flex="95">
                                                        <md-input-container class="md-block bb-wid-100">
                                                            <label>Address Line</label>
                                                            <input ng-model="address.addressLine" id="addressLine" name="addressLine">
                                                        </md-input-container>
                                                    </div>
                                                    <div flex="45" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                                                        <md-input-container class="md-block">
                                                            <label>City</label>
                                                            <input ng-model="address.city" id="city" name="city">
                                                        </md-input-container>
                                                    </div>
                                                    <div flex="45" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                                                        <md-input-container class="md-block">
                                                            <label>State</label>
                                                            <input ng-model="address.state" id="state" name="state">
                                                        </md-input-container>
                                                    </div>
                                                    <div flex="45" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                                                        <md-input-container class="md-block">
                                                            <label>Country</label>
                                                            <input ng-model="address.country" id="country"
                                                                   name="country">
                                                        </md-input-container>
                                                    </div>
                                                    <div flex="45" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                                                        <md-input-container class="md-block">
                                                            <label>Pin Code</label>
                                                            <input ng-model="address.pinCode" id="pinCode"
                                                                   name="pinCode" ng-minlength="6" ng-maxlength="6" only-digits>
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </md-content>
                                    </md-tab>
                                </md-tabs>-->
                            </md-card>
                        </md-content>
                    </md-tab>
                    <md-tab label="Offers" ng-click="getOffersByContact(contact._id)">
                        <div ng-show="contactOffers.length>0">
                            <view-offer-cards ng-repeat="offer in contactOffers" offer="offer" ></view-offer-cards>
                        </div>
                    </md-tab>
                    <md-tab label="Orders" ng-click="getOrdersByContact(contact._id)">
                        <div ng-show="contactOrders.length>0">
                            <list-order-cards ng-repeat="order in contactOrders" order="order"></list-order-cards>
                        </div>
                    </md-tab>
                </md-tabs>
            </div>
        </div>
    </div>
    <div layout="row" layout-wrap >
        <!--<div flex="20" flex-xs="100" flex-sm="20" flex-gt-lg="20">
            <md-button ng-click="panelChange(null,'cancelView');"
                       class="md-raised md-accent bb-wid-100 bb-comment-btn">
                Cancel
            </md-button>
        </div>-->
        <!--<div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
            <div data-ng-show="error" class="text-danger nv-text-center bb-f-15">
                <strong data-ng-bind="error"></strong>
            </div>
        </div>-->
        <md-button type="submit"
                   class="nvc-accent-background nvc-primary-color nvc-padding-0 nvc-margin-0 md-background-accent" flex="100"">Update
        </md-button>
    </div>
</form>
