<div class="nvc-slider-form">
    <div class="nvc-form-content">
        <div layout="row" layout-align="center center" class="nvc-sticky-top">
            <md-button class="md-icon-button md-mini" ng-click="cancel()" aria-label="close dialog">
                <md-icon class="fa fa-times fa-lg"></md-icon>
            </md-button>
            <h4 flex class="nv-text-center nv-text-bold">Import from CSV/Excel</h4>
            <md-button class="md-icon-button md-mini" ng-click="clearFields()" aria-label="reset form">
                <md-icon class="fa fa-repeat fa-lg"></md-icon>
            </md-button>
        </div>
        <div class="nvc-create-head">
            <div class="nvc-create-head-tag nvc-primary-color">1</div>
            <div class="nvc-create-head-content">
                <h5>Upload File</h5>
                <h6>Add the contacts list file in excel or csv format.</h6>
                <h6>Use the sample file to get started for entering contacts to be added to the system.</h6>
            </div>
        </div>
        <div class="nvc-create-content" >
            <h6 ng-show="contactResult && !show1" class="nvc-create-content-prod">
                File Uploaded
            </h6>
            <span ng-show="contactResult && !show1" ng-click="show1 = !show1">Modify</span>
            <div layout="row" layout-padding layout-align="start stretch" ng-show="!contactResult || show1">
                <div >
                    <div class="nvc-upload-button bb-cursor" >
                <span class="fa fa-cloud-upload fa-2x nvc-primary-color bb-btn-file bb-cursor layout-row layout-align-center-center">
                    <input id="contactsbrowsefile" type="file" ng-model="doc"  fileimport="true" uploadpathkey='contacts'
                           accept=".csv,.xlsx" uploader="uploader"/>
                     </span>
                        <md-tooltip md-direction="bottom">{{contactResult?'Modify':'Upload'}} File</md-tooltip>
                    </div>
                </div>
                <div flex layout="column" layout-align="space-between start" class="nvc-padding-left-10">
                    <h6 >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;View sample contacts listed file&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a type='text/csv' href="" target="_blank" ng-click="getViewFileTemplate('importContacts')"><span class="fa fa-eye nvc-primary-color"></span></a>  </h6>
                    <h6 >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Download file template and get started &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a target='_blank' download="contacts-import-template.xlsx" href="/templates/contacts-import-template.xlsx"><span class="fa fa-download nvc-primary-color"></span></a> </h6>
                </div>
            </div>

        </div>

        <div class="nvc-create-content" ng-show="contactHeaderError">
            <!-- errors here-->
            <span class="text-danger" ng-show="contactHeaderError">{{contactHeaderError.rowError}}</span>
            <!--<a class="btn" data-ng-click="updateMatchingProducts()" title="Import Selected Products" ng-show="matchedCategories">
                Proceed to import with selected contacts
            </a>-->
            <!--print scope.result.error in case of errors on hover-->

            <table class="table" table ng-if="contactImports.errors.length>0">
                <thead>
                <tr>
                    <th>Line Number</th>
                    <th>Error Message</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="error in contactImports.errors">
                    <td >{{error.srcLine}}</td>
                    <td><ul ng-repeat="message in error.errors">{{message}}</ul></td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="nvc-create-content" >
            <a class="btn" id="proceedButton" data-ng-click="massImportContacts(contactImports.contacts)" title="Import Selected contacts"
               ng-show="(contactImports.contacts.length>0)">
                Proceed to import contacts
            </a>
        </div>

        <div class="nvc-create-content" ng-show="(contactImportErrors)">
            <!-- errors here-->
            <!--<a class="btn" data-ng-click="updateMatchingProducts()" title="Import Selected Products" ng-show="matchedCategories">
                Proceed to import with selected contacts
            </a>-->
            <!--print scope.result.error in case of errors on hover-->
            <table class="table" table ng-if="contactImportErrors.length>0">
                <thead>
                <tr>
                    <th>Line Number</th>
                    <th>Error Message</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="error in contactImportErrors">
                    <td >{{error.srcLine}}</td>
                    <td><p ng-bind-html="error.message"></p></td>
                </tr>
                </tbody>
            </table>
            <span class="text" ng-show="importsummary">{{importsummary}}</span>
        </div>

    </div>
    <div layout="row" >

        <md-button id="finishImport" ng-disabled="!contactsImportSuccess" class="nvc-accent-background nvc-primary-color nvc-padding-0 nvc-margin-0 md-background-accent flex-100" data-ng-click="panelChange(null,'cancelView')" title="Finish Import">
            Finish
        </md-button>
    </div>
</div>
        <!--<div class="nvc-create-head" ng-click="show2 = !show2">
            <div class="nvc-create-head-tag nvc-primary-color">2</div>
            <div class="nvc-create-head-content">
                <h5>Ensure Classifications</h5>
                <h6>Confirm product categories present in file and proceed</h6>
            </div>
        </div>
        <div class="nvc-create-content" ng-show="((result && !matchedProducts && !show2) || (result && matchedProducts && show2))">
            <md-checkbox class="md-primary" ng-repeat="category in matchedCategories" ng-model="category.selected">
                {{category.name}}
            </md-checkbox>
            &lt;!&ndash; errors here&ndash;&gt;
            <span class="text-danger bb-layout-padding nvc-accent-background nvc-shape-pill" ng-show="errorsummary">{{errorsummary}}</span>
            <a class="btn" data-ng-click="updateMatchingProducts()" title="Import Selected Products" ng-show="matchedCategories">
                Proceed to import with selected categories
            </a>
            &lt;!&ndash;print scope.result.error in case of errors on hover&ndash;&gt;
            <table class="table" table ng-if="errors.length">
                <thead>
                <tr>
                    <th>Line Number</th>
                    <th>Error Message</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="error in errors">
                    <td >{{error.srcLine}}</td>
                    <td><p ng-bind-html="error.lineData"></p></td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="nvc-create-head">
            <div class="nvc-create-head-tag nvc-primary-color">3</div>
            <div class="nvc-create-head-content">
                <h5>Finalize Listing</h5>
                <h6>Select the matches from nVipani's Catalogue, If they are the one you want to list</h6>
            </div>
        </div>
        <div class="nvc-create-content" ng-show="matchedProducts">
            <div layout="row" layout-wrap>
                <div flex="5">
                    <md-checkbox class="md-primary" ng-model="selectAll"></md-checkbox>

                </div>
                <div flex="95">
                    <h5>select all matches</h5>
                </div>
                <div flex="50" class="nv-text-center nv-text-bold"><h6>From Catalogue</h6></div>
                <div flex="50" class="nv-text-center nv-text-bold"><h6>From List</h6></div>
                <div flex="100" layout="row" ng-repeat="matchedProduct in matchedProducts" layout-padding layout-align="space-around center">
                    <div flex="5">
                        <md-checkbox ng-model="matchedProduct.selected" >
                        </md-checkbox>
                    </div>

                    <div flex="40" >
                        &lt;!&ndash;category&ndash;&gt;
                        <div ng-if="matchedProduct.productData.isOld">
                            <h5>{{matchedProduct.lineData.subCategory1}}</h5>
                            &lt;!&ndash;Product&ndash;&gt;
                            <h5 class="nv-text-bold">{{matchedProduct.productData.productName}}</h5>
                            &lt;!&ndash;Company&ndash;&gt;
                            <h5>{{matchedProduct.productData.brandName}}</h5>
                            &lt;!&ndash;hsn code&ndash;&gt;
                            <h5>HSN Code: {{matchedProduct.productData.hsnCode}}</h5>
                        </div>
                    </div>
                    <md-divider class="nvc-divider"></md-divider>
                    <div flex="40">
                        &lt;!&ndash;category&ndash;&gt;
                        <h5>{{matchedProduct.lineData.subCategory1}}</h5>
                        &lt;!&ndash;Product&ndash;&gt;
                        <h5 class="nv-text-bold">{{matchedProduct.lineData.productName}}</h5>
                        &lt;!&ndash;Company&ndash;&gt;
                        <h5>{{matchedProduct.lineData.productBrand}}</h5>
                        &lt;!&ndash;hsn code&ndash;&gt;
                        <h5>HSN Code: {{matchedProduct.lineData.hsnCode}}</h5>
                    </div>
                </div>

            </div>
            <div>
                <table class="table" table ng-if="productErrors.length">
                    <thead>
                    <tr>
                        <th>Line Number</th>
                        <th>Error Message</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="error in productErrors">
                        <td >{{error.data.srcLine}}</td>
                        <td><p ng-bind-html="error.errorMessage"></p></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div layout="row" ng-show="matchedProducts">
        <md-button class="nvc-accent-background nvc-primary-color nvc-padding-0 nvc-margin-0 md-background-accent flex-100" data-ng-click="addToUserItemMaster()" title="List Selected Products">
            Add to inventory
        </md-button>
    </div>
</div>-->



<!--<input type="file" ng-model="doc"  fileimport="true" uploadpathkey='contacts'
       accept=".csv" uploader="uploader"/>
<table class="table" table ng-if="errors.length">
    <thead>
    <tr>
        <th>Line Number</th>
        <th>Error Message</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="error in result.errors">
        <td >{{error.srcLine}}</td>
        <td><p ng-bind-html="error.errors"></p></td>
    </tr>
    </tbody>
</table>-->

