<div data-ng-controller="ContactsController" data-ng-init="find();findGroups();panelChange('','');" >
    <!--Groups List-->

    <div id="deskview" class="panel panel-primary submenu hidden-xs hidden-sm wordwrap">
        <div class="panel-heading">
            Contacts
        </div>
        <div class="panel-body">
                <div class="col-sm-4 panel-body  ctcgroup-list" data-ng-show="viewGroups">
               <!-- <div  class="list-group pull-left">
                    <a class="btn" data-ng-click="panelChange('','add');" title="Add Contact">
                        <i class="glyphicon glyphicon-plus"></i> New Contact
                    </a>
                </div>
                <div class="list-group pull-right">
                <a class="btn" data-ng-click="panelChange('','group');" title="Add Group">
                    <i class="glyphicon glyphicon-plus"></i> New Group
                </a>
                </div>-->
                        <a class="btn" data-ng-click="panelChange('','add');" title="Add Contact">
                            <i class="glyphicon glyphicon-plus"></i> Contact
                        </a>
                        <a class="btn" data-ng-click="panelChange('','group');" title="Add Group">
                            <i class="glyphicon glyphicon-plus"></i>  Group
                        </a>
                    <a class="btn" data-ng-controller="OrdersController" href="/orders" title="Orders">
                            <i class="glyphicon glyphicon-edit">OR</i>
                        </a>

                    <a class="btn" data-ng-controller="OffersController" href="/offers" title="Offers">
                            <i class="glyphicon glyphicon-edit">OF</i>
                        </a>

                    <!-- <a class="btn" data-ng-controller="MessagesController" href="/messages">
                         <i class="glyphicon glyphicon-envelope">M</i>
                     </a>-->
                <div class="clearboth list-group wordwrap" data-ng-init="mainContactView('')">
                    <div>

                            <a class="list-group-item scope"
                       data-ng-click="changeSelGroup('',false) ;toggleGroupView();panelChange('','');"
                       data-ng-bind="AllContactsString" data-ng-class="{active: allContacts}"></a>
                        <div class="limitscroll">
                        <table class="table table-bordered table-hover" ng-if="groups.length>0">
                            <tbody>
                            <tr data-ng-repeat="group in groups">
                                <td>
                    <a class="list-group-item ng-scope"
                       data-ng-click="changeSelGroup(group,false);toggleGroupView();"
                       data-ng-class="{active: selectedGroup === group}"
                       data-ng-bind="group.name"></a>
                                    </td><td>
                            <a class="btn col-sm-6 list-group-item glyphicon glyphicon-edit"
                               data-ng-click="changeSelGroup(group,true);panelChange(selectedGroup,'editgroup');"
                               ></a>
                                    <a class="btn col-sm-6 list-group-item glyphicon glyphicon-remove"
                                       data-ng-click="changeSelGroup(group,false);removeGroup();"
                                    ></a>
                                </td>
                            </tr></tbody> </table>
                        </div>
                    </div>
                </div>
             <!--   <ul id="context2" class="dropdown-menu">
                    <li><a ng-click="edit()">Edit</a></li>
                    <li class="divider"></li>
                    <li><a ng-click="properties()">Properties</a></li>
                </ul>-->
            </div>
                <div class="col-sm-4 panel-body contact-list">


                            <!--
                            <div class="alert alert-warning text-center" data-ng-hide="!contacts.$resolved || contacts.length ">
                                No Contacts yet, why don't you create one?
                            </div>
                            -->
                            <div class="clearboth alert alert-warning text-center" data-ng-show="!allContacts && contacts.length===0">
                                No Contacts in this Group
                            </div>

                            <div class="clearboth alert alert-warning text-center" data-ng-show="allContacts && contacts.length===0">
                                No Contacts ,why don't you create one?
                            </div>
                            <div class="clearboth col-sm-12" data-ng-show="contacts.length>0">


                                <div class="list-group">
                                    <input type="text" class="form-control" data-ng-model="query.firstName"
                                           placeholder="Search" aria-describedby="search-icon">
                                </div>
                                <div class="list-group limitscroll">
                                    <div data-ng-class="{disable: selcontact.disabled ===true}">
                                        <a data-ng-repeat="contact in contacts | filter:query.firstName "
                                           class="list-group-item"
                                           data-ng-click="changeSelContact(contact);panelChange(''); clearFields(); toggleView();"
                                           data-ng-class="contact.disabled ===true ? (selcontact === contact ?{selecteddisable:true}:{disable:true}) :{active: selcontact === contact}">
                                            <div class="list-group-item-heading" id={{contact._id}}>
                                                <div class='pull-left glyphicon glyphicon-user'></div>
                                                <div class='col-sm-11 contactname' data-ng-bind="contactfullName(contact) | limitTo: 20"></div>
                                                <div class='pull-right contactcompanyname' data-ng-bind="contactDetails(contact) | limitTo: 20"></div>
                                            </div>
                                        </a>

                                </div>
                            </div>
                    </div>
                </div>
                <!--View, Edit, Add Contact and Add To Groups panels-->
            <div class="col-sm-4 panel-body contact-panel" data-ng-show="viewContactDetails">
             <div class="list-group" data-ng-show="!(contacts.$resolved) || contacts.length|| showAdd || showAddToGroups">
            <div>
            <view-contact data-ng-show="showView && contacts.length>0"></view-contact>
            <add-contact data-ng-show="showAdd"></add-contact>
            <edit-contact data-ng-show="showEdit"></edit-contact><edit-contact-group data-ng-show="showAddToGroups && contacts.length>0"></edit-contact-group>
            </div>

            <add-group-contact data-ng-show="showAddGroup"></add-group-contact>
        </div>

    <div data-ng-show="selectedGroup && showEditGroup">
        <!--<view-group data-ng-show="showEditGroup && !allContacts"></view-group>-->
        <edit-group data-ng-show="showEditGroup && !allContacts"></edit-group>
    </div>
    </div>
        </div>
    </div>
    </div>
