<div layout-fill data-ng-controller="ContactsController"
     data-ng-init="panelChange('','');">
    <head-bar>

    </head-bar>
    <!--Action Bar of this section-->
    <md-divider></md-divider>
    <action></action>

    <div class="nvc-content">
        <div class="input-group bb-w-18 nvc-lfloat">
            <input class="form-control" placeholder="Search..." type="text" data-ng-model="searchText">
            <span class="input-group-btn">
                                <button class="btn bb-btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
        </div>
        <div class="nvc-lfloat">
           <!-- <md-menu-bar >
                <md-menu>
                    <md-button class="md-icon-button" aria-label="open menu" ng-click="$mdOpenMenu($event)">
                        <md-icon class="fa fa-filter">
                        </md-icon>
                    </md-button>
                    <md-menu-content>
                        &lt;!&ndash;Filters Here&ndash;&gt;
                        <md-menu-item>
                            Filter 1
                        </md-menu-item>
                        <md-menu-item>
                            Filter 2
                        </md-menu-item>
                        <md-menu-item>
                            Filter 3
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <md-button class="md-icon-button" aria-label="open menu" ng-click="$mdOpenMenu($event)">
                        <md-icon class="fa fa-arrows-v"></md-icon>
                    </md-button>
                    <md-menu-content>
                        &lt;!&ndash;Sort Here&ndash;&gt;
                        <md-menu-item>
                            Sort 1
                        </md-menu-item>
                        <md-menu-item>
                            Sort 2
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>-->
        </div>
        <div class="nvc-rfloat">
            <md-menu class="nvc-menu">
                <md-button ng-click="$mdOpenMenu($event)">
                    New
                    <span class="caret"></span>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button md-autofocus ng-click="panelChange('','add')">
                            <md-icon class="fa fa-plus"> </md-icon> New Contact
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="panelChange('','group')">
                            <md-icon class="fa fa-file"></md-icon>New Group
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
    <div class="nvc-content">
        <div id="view">
            <add-contact-new ng-show="showAdd"></add-contact-new>
            <edit-contact-new ng-show="showEdit"></edit-contact-new>
            <view-alls ng-show="viewAll"></view-alls>
            <add-group-contact  ng-show="showAddGroup"></add-group-contact>
            <edit-contact-group ng-show="showAddToGroups && contacts.length>0"></edit-contact-group>
            <edit-group ng-show="showEditGroup"></edit-group>
        </div>
    </div>
</div>
