<div layout-fill data-ng-controller="ContactsController"
     data-ng-init="init()">

    <head-bar nvipanipath="context"></head-bar>
    <md-divider></md-divider>

    <div ng-show="viewAll"  class="table-responsive-vertical shadow-z-1" id="contact-tabs">
        <md-tabs md-dynamic-height md-selected="selectedIndex" class="nvc-content">
            <md-tab id="contact_"+{{tab.title}} label="{{tab.title}}" ng-repeat="tab in tabs" ng-click="changeSelectionTab(busUnitId,tab.type)" >
                <md-content id="contact_{{tab.title}}" >
                    <action ng-if="(tab.title!=='Groups')&&((selectedIndex===0 &&contactfilters && contactfilters.Count>1) || (selectedIndex===1 && contactfilters && contactfilters.Count>0))"  nvactions="contactfilters" filter-summary="getContactsFilterSummary(filterKey,filterCount,toggle)" page="'contacts'"></action>
                    <div layout="row" layout-align="center center" class=" nvc-margin-top-10 nvc-margin-bottom-10">
                        <!--<div class="input-group bb-w-18 nvc-lfloat" ng-show="contacts.length >0 || groups.length >0">
                            <input class="form-control nvc-input nv-text-center" placeholder="Search..." type="text" ng-model="searchText">
                            <span class="input-group-btn">
                                            <button class="btn bb-btn-search" type="button" ng-click="find(!selectedIndex)">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                        </div>-->
                        <div class="nvc-input-btngrp nv-position-relative" flex="30" ng-show="contacts.length >0 || groups.length >0">
                            <input placeholder="Search..." type="text" ng-model="searchText">
                            <span>
                                <button class="nvc-input-button" type="button" ng-click="changeSelectionTab(busUnitId,tab.type)">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div flex></div>
                        <div ng-show="contacts.length >0 || groups.length >0">
                            <md-menu id="groupactionsmenu_{{tab.title}}">
                                <md-button ng-click="$mdOpenMenu($event)" class="md-primary md-raised nvc-shape-pill">
                                    Group Actions
                                    <span class="caret"></span>
                                </md-button>
                                <md-menu-content>
                                    <md-menu-item>
                                        <md-button id="deleteaction_{{tab.title}}" md-auto-focus ng-click="batchOperation(selectedIndex,0)">
                                            <md-icon class="fa fa-trash"></md-icon>Delete
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button id="enableaction_{{tab.title}}" ng-click="batchOperation(selectedIndex,2)">
                                            <md-icon class="fa fa-check"></md-icon>Enable
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button id="disableaction_{{tab.title}}" ng-click="batchOperation(selectedIndex,1)">
                                            <md-icon class="fa fa-ban"></md-icon>Disable
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                        <div ng-show="contacts.length >0 || groups.length >0">
                            <md-menu >

                                <md-button ng-click="$mdOpenMenu($event)" id="menu" class="md-primary md-raised nvc-shape-pill nvc-margin-right-0">
                                    New
                                    <span class="caret"></span>
                                </md-button>
                                <md-menu-content>
                                    <md-menu-item ng-show="selectedIndex!==2">
                                        <md-button md-autofocus ng-click="panelChange('','add',selectedIndex)">
                                            <md-icon class="fa fa-plus"> </md-icon> New Contact
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="panelChange('','group',selectedIndex)">
                                            <md-icon class="fa fa-file"></md-icon>New Group
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button id="importcontactsmenuhome" ng-click="panelChange('','import',selectedIndex)">
                                            <md-icon class="fa fa-file"></md-icon>Import
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>
                    <view-contacts hide-xs ng-if="(selectedIndex===0 || selectedIndex===1)"></view-contacts>
                    <view-contact-cards hide-gt-xs ng-if="(selectedIndex===0 || selectedIndex===1)"></view-contact-cards>
                    <view-groups ng-if="selectedIndex===2 && groups.length>0"></view-groups>
                    <div ng-show="(selectedIndex===0 || selectedIndex===1) && contacts.length===0" layout="row" layout-wrap layout-align="center center" class="nvc-no-list-illustration" layout-sm="row" layout-xs="row">
                        <div flex="15" flex-sm="20" flex-xs="30">
                            <img src="/modules/contacts/img/zero-contacts.png" class="bb-wid-100">
                        </div>
                        <div flex="100" flex-sm="100" flex-xs="100" class="nv-text-center">
                            <h4 class="nv-text-bold">Your {{selectedIndex===0?'Customers':'Suppliers'}} list is empty</h4>
                            <h5>Looks like you haven't added any {{selectedIndex===0?'Customers':'Suppliers'}} yet</h5>
                        </div>
                        <div flex="100" flex-sm="100" flex-xs="100" layout="row" layout-align="center center" class="submenu">
                            <md-button class="md-primary nvc-shape-pill nvc-accent-border" id="importcontactshome" ng-click="panelChange('','import',selectedIndex);">Create CSV / Excel and Import</md-button>
                            <md-button class="md-primary nvc-shape-pill nvc-accent-border" id="create-customer" ng-show="selectedIndex===0" ng-click="panelChange('','add',selectedIndex);">Create New Customer</md-button>
                            <md-button class="md-primary nvc-shape-pill nvc-accent-border" id="create-supplier" ng-show="selectedIndex===1" ng-click="panelChange('','add',selectedIndex);">Create New Supplier</md-button>
                        </div>
                    </div>
                    <div ng-show="selectedIndex===2 && groups.length===0" layout="row" layout-wrap layout-align="center cenrer" class="nvc-no-list-illustration">
                        <div flex="15">
                            <img src="/modules/contacts/img/zero-contacts.png" class="bb-wid-100">
                        </div>
                        <div flex="100" class="nv-text-center">
                            <h4 class="nv-text-bold">Your Groups list is empty</h4>
                            <h5>Looks like you haven't created any Groups yet</h5>
                        </div>
                        <div flex="100" layout="row" layout-align="center center" class="submenu">
                            <md-button class="md-primary nvc-shape-pill nvc-accent-border" ng-click="panelChange('','group',selectedIndex);" id="create-group">Create new group</md-button>
                        </div>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>

    </div>

</div>
