<div ng-if="showView">
	<div class="col-sm-12 hidden-xs hidden-sm">
		<!--<a data-ng-click="toggleView();" id="toggleViewButton">
			<i class="glyphicon glyphicon-chevron-left"></i> Contacts
		</a>
-->
		<div class="col-sm-2" ng-show="selcontact.disabled==true;">
			<button class="btn" ng-disabled="selcontact.disabled==true;" data-ng-click="panelChange(selcontact,'edit');
			createCopy(selcontact);showEdit=true;" title="Edit Contact">
				<i class="glyphicon glyphicon-edit" ng-disabled="selcontact.disabled==true;"></i> Edit
			</button>
		</div>

		<div class="col-sm-2" ng-show="selcontact.disabled==false;">
			<a class="btn" ng-disabled="selcontact.disabled==true;" data-ng-click="panelChange(selcontact,'edit');
			createCopy(selcontact);showEdit=true;" title="Edit Contact">
				<i class="glyphicon glyphicon-edit" ng-disabled="selcontact.disabled==true;"></i> Edit
			</a>
		</div>
		<div class="col-sm-3" ng-show="selcontact.disabled==true;">
			<button class="btn" title="Add To Groups"  ng-disabled="selcontact.disabled==true;" data-ng-click="panelChange(selcontact,'addToGroups');" ng-show="showSelection() && groups.length!=0">
				<i class="glyphicon glyphicon-transfer"  ng-disabled="selcontact.disabled==true;"></i> Groups
			</button>
		</div>
		<div class="col-sm-3" ng-show="selcontact.disabled==false;">
			<a class="btn" title="Add To Groups"  ng-disabled="selcontact.disabled==true;" data-ng-click="panelChange(selcontact,'addToGroups');" ng-show="showSelection() && groups.length!=0">
				<i class="glyphicon glyphicon-transfer"  ng-disabled="selcontact.disabled==true;"></i> Groups
			</a>
		</div>
		<div class="col-sm-3">
			<a class="btn" data-ng-click="updateStatus(updatecontact,selcontact);$scope.updatecontact=updatecontact;" title="Delete Contact" ng-show="showSelection()" ng-if="selcontact.disabled==true;">
				<i class="glyphicon glyphicon-trash"></i> Activate
			</a>
			<a class="btn" data-ng-click="updateStatus(updatecontact,selcontact);$scope.updatecontact=updatecontact;" title="Delete Contact" ng-show="showSelection()" ng-if="selcontact.disabled==false;">
				<i class="glyphicon glyphicon-trash"></i> Inactive
			</a>
		</div>

		<div class="col-sm-2">
            <a class="btn" data-ng-controller="OrdersController" href="/orders" title="Orders">
				<i class="glyphicon glyphicon-edit">OR</i>
			</a>
		</div>
		<div class="col-sm-1">
            <a class="btn" data-ng-controller="OffersController" href="/offers" title="Offers">
				<i class="glyphicon glyphicon-edit">OF</i>
			</a>
		</div>
		<!--<div class="col-sm-1">
			<a class="btn"  data-ng-controller="MessagesController" href="/messages" title="Message">
				<i class="glyphicon glyphicon-envelope"></i>
			</a>
		</div>-->
	</div>
</div>
<div>
	<div class="scroll-list col-sm-12">
	<div class="form-group">
		<div class="col-xs-10 col-sm-10 label-item">
			<h3 class="col-sm-12 ng-binding"
				data-ng-bind="selcontact.firstName+' '+selcontact.middleName +' '+selcontact.lastName"></h3>
		</div>
		<div data-ng-show="selcontact.nVipaniUser" class="col-xs-2 col-sm-2  data-item">
			<img class="header-profile-image" alt="nVipani User" src="modules/core/img/nvipani-logo-small.png">
		</div>
	</div>
	<div class="form-group">
	<div class="col-xs-4 col-sm-5 label-item">
		<span>Company</span>
	</div>
	<div class="col-xs-8 col-sm-7  data-item">
		<span data-ng-bind="selcontact.companyName"></span>
	</div>
	</div>
	<hr>
	<div class="form-group">
	<div class="col-xs-12 label-item">
		<label class="control-label">Phone </label>
	</div>


	<div data-ng-repeat="phone in selcontact.phones" class="item-group col-xs-12">
		<div class="col-xs-4 col-sm-5  label-item">
			<span>{{phone.phoneType}}</span>
		</div>
		<div class="col-xs-5 col-sm-7 data-item">
			<span data-ng-bind="phone.phoneNumber"></span>
		</div>

	</div>
		</div>
	<hr>
	<div class="form-group">
	<div class="col-xs-12 label-item">
		<label class="control-label">Email </label>
	</div>

	<div data-ng-repeat="email in selcontact.emails" class="item-group col-xs-12">
		<div class="col-xs-4 col-sm-5 label-item">
			<span>{{email.emailType}}</span>
		</div>
		<div class="col-xs-8 col-sm-7 data-item">
			<span data-ng-bind="email.email"></span>
		</div>

	</div>
		</div>
		<hr>
		<div class="form-group">
		<div class="col-xs-12 label-item">
			<label class="control-label">Address </label>
		</div>


		<div data-ng-repeat="address in selcontact.addresses" class="item-group col-xs-12">
			<div class="col-sm-5 col-xs-4 label-item">
				<span>{{address.addressType}}</span>
			</div>
			<div class="col-sm-7 col-xs-8 data-item">
				<p>{{address.addressLine}}<br>{{address.city}}, {{address.state}} {{address.pinCode}}<br>{{address.country}}</p>
			</div>
			<br>
		</div>
		</div>
</div>
</div>
