<div ng-show="viewAll">

	<div class="alert alert-dismissible alert-danger" data-ng-show="!allContacts && contacts.length===0">
     <div class="md-subhead text-center"> No Contacts in This Group</div>
	<!--<strong>Oh snap!</strong> <a href="#" class="alert-link">No Contacts in This Group</a>-->
	</div>


	<div class="bb-clearboth alert alert-warning text-center" data-ng-show="allContacts && contacts.length===0">
	No Contacts ,why don't you create one?
	</div>
	<md-list  single-contact contact="contact" layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap ng-repeat="contact in contacts | orderBy:'-created'| filter:searchFilter" ng-class="{'bb-inactive-cust': contact.disabled, 'bb-active-cust': !(contact.disabled)  }">
	</md-list>
</div>
