<section class="row" data-ng-controller="SettingsController">
	<!--<div class="col-sm-offset-2 col-sm-8 col-xs-12 col-md-offset-2 col-md-8">-->
	<div class="col-lg-12">
	<div class="panel panel-blue submenu">
	<div class="panel-heading">
		Change your password
	</div>
		<div class="panel-body">
		<form data-ng-submit="changeUserPassword()" class="form-horizontal page-header panel-body" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="currentPassword" class="col-sm-5 control-label">Current Password</label>
					<div class="col-sm-6">
					 <input type="password" id="currentPassword" name="currentPassword" class="form-control" data-ng-model="passwordDetails.currentPassword" placeholder="Current Password">
				    </div>
				</div>
				<div class="form-group">
					<label for="newPassword" class="col-sm-5 control-label">New Password</label>
					<div class="col-sm-6">
					<input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="New Password">
				    </div>
				</div>
				<div class="form-group">
					<label for="verifyPassword" class="col-sm-5 control-label">Verify Password</label>
					<div class="col-sm-6">
						<input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Verify Password">
				    </div>
					</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-success">Save Password</button>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>Password Changed Successfully</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
		</div>
	</div>
	</div>
</section>
