<div layout-fill ng-controller="SettingsController">
    <!-----------Head Bar -------------------->
    <head-bar nvipanipath="context"></head-bar>
    <div class="bb-min-height" layout="row" layout-fill layout-xs='row' layout-xs="column" layout-sm="row"
         layout-align="center center" layout-align-sm="center center" layout-align-gt-lg="center center">

        <div flex="50" flex-xs="100">
            <md-card>
                <h3 class="md-title text-center">Change your password</h3>
                <img alt="nVipani" class="img-responsive center-block bb-img"
                     src="modules/core/img/brand/nvipani_logo.png"/>

                <div class="bb-pass-chg" layout-padding layout="row" layout-xs='row' layout-xs="column"
                     layout-sm="column"
                     layout-align="center center" layout-align-sm="center center" layout-align-gt-lg="center center">
                    <form name="updatePassword" data-ng-submit="changeUserPassword()" autocomplete="off">


                        <div flex="100" flex-xs="100">

                            <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
                                 layout-wrap>
                                <div flex="45" flex-xs="100"><label class="md-subhead">Current Password </label><span
                                        hide-xs>:</span></div>
                                <div flex="55" flex-xs="100">
                                    <md-input-container class="md-block bb-container-cust">
                                        <input type="password" nv-type="currentpassword"  name="currentPassword"
                                               ng-model="passwordDetails.currentPassword"  required  ng-minlength="8" ng-maxlength="20">
                                        <div ng-messages="updatePassword.passwordDetails.currentPassword.$error">
                                            <div ng-message="required">Current Password should be Minimum 6 characters
                                                at least 1 Capital, 1 Number and 1 Special Character (@#$%).
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </div>

                            <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
                                 layout-wrap>
                                <div flex="45" flex-xs="100"><label class="md-subhead">New Password</label><span
                                        hide-xs>:</span></div>
                                <div flex="55" flex-xs="100">
                                    <md-input-container class="md-block bb-container-cust">
                                        <input type="password" nv-type="newpassword" name="newpassword"
                                               ng-model="passwordDetails.newPassword"  required  ng-minlength="8" ng-maxlength="20">
                                        <div ng-messages="updatePassword.passwordDetails.newPassword.$error">
                                            <div ng-message="required">Current Password should be Minimum 6 characters
                                                at least 1 Capital, 1 Number and 1 Special Character (@#$%).
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </div>

                            <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
                                 layout-wrap>
                                <div flex="45" flex-xs="100"><label class="md-subhead">Verify Password </label><span
                                        hide-xs>:</span></div>
                                <div flex="55" flex-xs="100">
                                    <md-input-container class="md-block bb-container-cust">
                                        <input type="password" nv-type="verifypassword" name="verifyPassword"
                                               ng-model="passwordDetails.verifyPassword"  required  ng-minlength="8" ng-maxlength="20">
                                        <div ng-messages="updatePassword.passwordDetails.verifyPassword.$error" >
                                            <div ng-message="required">Verify Password should be Minimum 6 characters at
                                                least 1 Capital, 1 Number and 1 Special Character (@#$%).
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </div>

                            <!--<md-input-container class="md-block">-->
                            <!--<label>Current Password</label>-->
                            <!--<input type="password" id="currentPassword" name="currentPassword"-->
                            <!--ng-model="passwordDetails.currentPassword">-->

                            <!--</md-input-container>-->

                            <!--<md-input-container class="md-block">-->
                            <!--<label>New Password</label>-->
                            <!--<input type="password" id="newPassword" name="newPassword"-->
                            <!--ng-model="passwordDetails.newPassword">-->

                            <!--</md-input-container>-->

                            <!--<md-input-container class="md-block">-->
                            <!--<label>Verify Password</label>-->
                            <!--<input type="password" id="verifyPassword" name="verifyPassword"-->
                            <!--ng-model="passwordDetails.verifyPassword">-->

                            <!--</md-input-container>-->
                            <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
                                 layout-wrap layout-align="center center" layout-align-sm="center center"
                                 layout-align-gt-lg="center center">
                                <div flex="50" flex-xs="100">
                                    <md-button ng-disabled="updatePassword.$pristine || updatePassword.$invalid"
                                               type="submit"
                                               class="md-raised md-primary bb-wid-100 bb-comment-btn">Save Password
                                    </md-button>

                                    <div data-ng-show="success" class="text-center text-success">
                                        <strong>Password Changed Successfully</strong>
                                    </div>
                                    <div data-ng-show="error" class="text-center text-danger">
                                        <strong data-ng-bind="error"></strong>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </form>
                </div>

            </md-card>
            <!--<h3 class="md-title text-center">Change your password</h3>-->
            <!--<img alt="nVipani" class="img-responsive center-block" height="120" width="250" src="modules/core/img/brand/nvipani_logo.png" />-->
            <!--<div layout="row" layout-xs="column" layout-sm="column" layout-align="center center" layout-align-sm="center center" layout-align-gt-lg="center center">-->
            <!--<form name="updatePassword" data-ng-submit="changeUserPassword()"  autocomplete="off">-->
            <!--<div  flex="100" flex-xs="100">-->

            <!--<md-input-container class="md-block">-->
            <!--<label>Current Password</label>-->
            <!--<input type="password" id="currentPassword" name="currentPassword" ng-model="passwordDetails.currentPassword">-->

            <!--</md-input-container>-->

            <!--<md-input-container class="md-block">-->
            <!--<label>New Password</label>-->
            <!--<input type="password" id="newPassword" name="newPassword" ng-model="passwordDetails.newPassword">-->

            <!--</md-input-container>-->

            <!--<md-input-container class="md-block">-->
            <!--<label>Verify Password</label>-->
            <!--<input type="password" id="verifyPassword" name="verifyPassword" ng-model="passwordDetails.verifyPassword">-->

            <!--</md-input-container>-->

            <!--<md-button ng-disabled="updatePassword.$pristine || updatePassword.$invalid" type="submit" class="md-raised md-primary wid-100">Save Password</md-button>-->

            <!--<div data-ng-show="success" class="text-center text-success">-->
            <!--<strong>Password Changed Successfully</strong>-->
            <!--</div>-->
            <!--<div data-ng-show="error" class="text-center text-danger">-->
            <!--<strong data-ng-bind="error"></strong>-->
            <!--</div>-->


            <!--</div>-->
            <!--</form>-->
            <!--</div>-->


        </div>
        </div>
</div>

<!--<section class="wrapper firsec-bg" data-ng-controller="SettingsController">-->
    <!--<div class="row firsec-bg">-->

        <!--<div class="col-lg-12 firsec-bg">-->
            <!--<h3 class="text-center">Change your password</h3>-->
            <!--<img alt="nVipani" class="img-responsive center-block" height="120" width="250" src="modules/core/img/brand/nvipani_logo.png" />-->

            <!--<form data-ng-submit="changeUserPassword()"  autocomplete="off">-->
                <!--<div class="col-lg-12 col-sm-12 m-top15 col-lg-offset-4 col-md-offset-4 col-sm-offset-3 xs-offset-0 m-bot250 mob-lg">-->
                    <!--<div class="col-lg-12 col-sm-12">-->
                        <!--<div class="col-lg-4 col-sm-6">-->
                            <!--<h5  class="tabtxt heading">Current Password</h5>-->
                            <!--<input  type="password" id="currentPassword" name="currentPassword" class="form-control" data-ng-model="passwordDetails.currentPassword"  placeholder="Enter Password..." maxlegth="128">-->

                        <!--</div>-->

                    <!--</div>-->

                    <!--<div class="col-lg-12 col-sm-12">-->
                        <!--<div class="col-lg-4 col-sm-6">-->
                            <!--<h5  class="tabtxt heading">New Password</h5>-->
                            <!--<input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword"  placeholder="Enter Password Again..." maxlegth="128">-->

                        <!--</div>-->

                    <!--</div>-->

                    <!--<div class="col-lg-12 col-sm-12">-->
                        <!--<div class="col-lg-4 col-sm-6">-->
                            <!--<h5  class="tabtxt heading">Verify Password</h5>-->
                            <!--<input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword"  placeholder="Enter Password Again..." maxlegth="128">-->

                        <!--</div>-->

                    <!--</div>-->


                    <!--<div class="col-lg-12 m-top15 col-sm-12">-->
                        <!--<div class="col-lg-4 col-sm-6">-->
                            <!--<button type="submit" class="btn btn-save">Save Password</button>-->
                            <!--<div data-ng-show="success" class="text-center text-success">-->
                                <!--<strong>Password Changed Successfully</strong>-->
                            <!--</div>-->
                            <!--<div data-ng-show="error" class="text-center text-danger">-->
                                <!--<strong data-ng-bind="error"></strong>-->
                            <!--</div>-->

                        <!--</div>-->

                    <!--</div>-->



                <!--</div>-->

            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->
