<div>
<md-tabs md-dynamic-height flex="100">
    <md-tab ng-repeat="tab in addresstypes" label="{{tab}}">
        <md-content id={{tab}} layout="row" layout-wrap>
            <div flex="100" layout="row" class="layout-align-start-center nvc-padding-left-0">
                <span class="md-primary fa fa-plus-circle fa-2x nvc-primary-color"id="companyAddAddresses-{{$index}}" aria-label="favourite" ng-click="addAddress({addresses:addresses,tab:tab})">
                </span>
                <h6 class="nvc-padding-left-10">Add Addresses</h6>
            </div>
            <div flex="100"  layout="row" layout-wrap ng-repeat="address in addresses | filter:{addressType: tab}">
                <div flex="100" layout="row" class="layout-align-start-center nvc-padding-left-0" ng-show="$index>0">
                    <span ng-show="$index>0" class=" fa fa-minus-circle fa-2x nv-red" aria-label="favourite" ng-click="addresses.splice(addresses.indexOf(address), 1)">
                    </span>
                    <h6 ng-show="$index>0" class="nvc-padding-left-10">Addresses - {{$index+1}}</h6>
                </div>
                <div id={{tab+'-'+$index}} flex="95" layout="row" layout-wrap layout-padding>
                    <div flex="100">
                        <md-input-container class="md-block bb-wid-100">
                            <label>Address Line</label>
                            <input ng-model="address.addressLine" name="addressLine">

                        </md-input-container>
                    </div>
                    <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                        <md-input-container class="md-block">
                            <label>City</label>
                            <input ng-model="address.city" name="city">

                        </md-input-container>
                    </div>

                    <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                        <md-input-container class="md-block">
                            <label>State</label>
                            <input ng-model="address.state" name="state">

                        </md-input-container>
                    </div>

                    <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                        <md-input-container class="md-block">
                            <label>Country</label>
                            <input ng-model="address.country" name="country">

                        </md-input-container>
                    </div>

                    <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                        <md-input-container class="md-block">
                            <label>Pin Code</label>
                            <input ng-model="address.pinCode" name="pinCode" ng-minlength="6" ng-maxlength="6" only-digits>

                        </md-input-container>
                    </div>
                </div>
            </div>
        </md-content>
    </md-tab>
</md-tabs>
</div>
