<div class="bb-min-height" data-ng-controller="BusinessSettingsController">
    <!-----------Head Bar -------------------->
    <head-bar nvipanipath="context"></head-bar>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab ng-click="selValTabs('currentprofile')" label="BASIC PROFILE">
            <md-content class="md-padding" ng-controller="SettingsController">
                <form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)"
                      autocomplete="off">
                    <div class="" layout-padding layout="row" layout-xs='row'
                         layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                        <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                            <span class="bb-profile-ava">
                                <img class="img-responsive bb-simple bb-profimg-fix bb-img-center"
                                     data-ng-src="{{user.profileImageURL}}" alt="{{user.displayName}}">
                            </span>
                            <div class="bb-link-me">
                                <div class="text-center">
                                    <span class="bb-ubtn bb-btn-file">
                                        <i title="Upload images" class="fa fa-camera fa-2x" ></i><input type="file" ng-model="user.profileImageURL" uploadpathkey='users' accept="image/*" uploader="uploader" />
                                    </span>

                                    <div data-ng-show="imgsuccess && tab=='currentprofile'" class="text-center text-success">
                                        <strong>Profile Picture Changed Successfully</strong>
                                    </div>
                                    <div data-ng-show="imgerror" class="text-center text-danger">
                                        <strong data-ng-bind="imgerror"></strong>
                                    </div>
                                </div>
                                <span id="lblError1"
                                      class="text-danger bb-f-15 bb-center"></span>
                                <div class="bb-hr-center"></div>
                            </div>
                        </div>

                        <div flex="33" flex-xs="100" flex-sm="33" flex-gt-lg="33">
                            <md-input-container class="md-block">
                                <label>First Name</label>
                                <input md-maxlength="128"  md-no-asterisk  required id="firstName" name="firstName" data-ng-model="user.firstName">

                            </md-input-container>
                        </div>

                        <div flex="33" flex-xs="100" flex-sm="33" flex-gt-lg="33">
                            <md-input-container class="md-block">
                                <label>Middle Name</label>
                                <input md-maxlength="128"  md-no-asterisk  id="middleName" name="middleName" data-ng-model="user.middleName">

                            </md-input-container>
                        </div>
                        <div flex="33" flex-xs="100" flex-sm="33" flex-gt-lg="33">
                            <md-input-container class="md-block">
                                <label>Last Name</label>
                                <input md-maxlength="128" md-no-asterisk  id="lastName" name="lastName"  data-ng-model="user.lastName">

                            </md-input-container>
                        </div>
                        <div flex="33" flex-xs="100" flex-sm="33" flex-gt-lg="33">
                            <md-input-container class="md-block">
                                <label>User Name</label>
                                <input  md-no-asterisk  id="username"  name="username"  data-ng-model="user.username" disabled>
                            </md-input-container>
                        </div>

                        <div flex="33" flex-xs="100" flex-sm="33" flex-gt-lg="33">
                            <md-input-container class="md-block" ng-show="user.username!==user.mobile">
                                <label>Mobile</label>
                                <input md-maxlength="11"   md-no-asterisk  id="mobile" name="mobile"  data-ng-model="user.mobile"
                                       nv-regulation-exp="phonenumber" ng-disabled="user.username===user.mobile">

                            </md-input-container>
                            <md-input-container class="md-block" ng-show="user.username!==user.email">
                                <label>Email</label>
                                <input type="email" md-no-asterisk  name="email"  data-ng-model="user.email"
                                       nv-regulation-exp="mail1" ng-disabled="user.username===user.email">

                            </md-input-container>
                        </div>

                    </div>
                    <md-divider></md-divider>
                    <div layout-padding layout="row" layout-xs='row' layout-xs="column"
                         layout-sm="row" layout-gt-lg="row" layout-wrap>

                        <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="35">
                            <div data-ng-show="success" class="text-center text-success">
                                <strong>Profile Saved Successfully</strong>
                            </div>
                            <div data-ng-show="error" class="text-center text-danger">
                                <strong data-ng-bind="error"></strong>
                            </div>
                        </div>
                        <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="15">
                            <md-button type="submit" class="md-raised md-primary bb-wid-100"
                                       ng-disabled="userForm.$invalid">Save
                            </md-button>
                        </div>

                        <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="15">
                            <md-button ng-click="reset(userForm)"
                                       class="md-raised md-accent bb-wid-100">Reset
                            </md-button>
                        </div>

                    </div>
                </form>

                <!--<div class="row">-->
                <!--<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off">-->
                <!--<div class="col-lg-12">-->


                <!--<span class="profile-ava">-->
                <!--<img class="simple img-fix img-center" data-ng-src="{{imageURL}}"-->
                <!--alt="{{user.displayName}}">-->
                <!--&lt;!&ndash; <div class=""><span class="fa fa-camera cam"></span></div>&ndash;&gt;-->
                <!--</span>-->
                <!--<div class="link-me" >-->
                <!--<div class="text-center">-->

                <!--<span class="ubtn btn-file">-->
                <!--<i title="Upload images" class="fa fa-camera fa-2x" ></i><input type="file" accept="image/*" nv-file-select uploader="uploader">-->
                <!--</span>-->
                <!--&lt;!&ndash;    <div class="text-center form-group" data-ng-show="uploader.queue.length">-->
                <!--<input type="button" value="Upload" class="btn btnn" data-ng-click="uploadProfilePicture();">-->
                <!--<input type="button" value="Cancel" class="btn btnn" data-ng-click="cancelUpload();">-->
                <!--</div>&ndash;&gt;-->
                <!--<div data-ng-show="imgsuccess && tab=='currentprofile'" class="text-center text-success">-->
                <!--<strong>Profile Picture Changed Successfully</strong>-->
                <!--</div>-->
                <!--<div data-ng-show="imgerror" class="text-center text-danger">-->
                <!--<strong data-ng-bind="imgerror"></strong>-->
                <!--</div>-->
                <!--</div>-->
                <!--<span id="lblError1" class="text-danger f-15 center"></span>-->
                <!--<div class="hr-center"></div>-->
                <!--</div>-->

                <!--</div>-->

                <!--<div class="col-lg-12 b-prof mob-lg">-->

                <!--<div class="col-lg-4 form-group-n">-->
                <!--<h5  class="tabtxt heading">First Name</h5>-->
                <!--<input type="text" id="firstName" name="firstName" data-ng-model="user.firstName" class="form-control" placeholder="Enter First Name...">-->
                <!--</div>-->

                <!--<div class="col-lg-4 form-group-n">-->
                <!--<h5  class="tabtxt heading">Middle Name</h5>-->
                <!--<input type="text" id="middleName" name="middleName" data-ng-model="user.middleName" class="form-control" placeholder="Enter Middle Name...">-->
                <!--</div>-->
                <!--<div class="col-lg-4 form-group-n">-->
                <!--<h5  class="tabtxt heading">Last Name</h5>-->
                <!--<input type="text" id="lastName" name="lastName"  data-ng-model="user.lastName" class="form-control" placeholder="Enter Last Name...">-->
                <!--</div>-->

                <!--<div class="col-lg-4">-->
                <!--<h5 class="tabtxt heading">User Name</h5>-->
                <!--<input type="text" id="username" name="username"  data-ng-model="user.username" class="form-control" placeholder="Enter UserName..." readonly>-->
                <!--</div>-->

                <!--&lt;!&ndash;   <div class="col-lg-4">-->
                <!--<h5  class="tabtxt heading">E-mail Id</h5>-->
                <!--<input type="text"  class="form-control m-bot15" placeholder="Enter E-mail Id...">-->
                <!--</div>&ndash;&gt;-->

                <!--<div class="col-lg-4">-->
                <!--<h5  class="tabtxt heading">Mobile</h5>-->
                <!--<input type="text" id="mobile" name="mobile"  data-ng-model="user.mobile" class="form-control m-bot15" placeholder="Enter Mobile...">-->
                <!--</div>-->


                <!--</div>-->
                <!--<div class="col-lg-12">-->
                <!--<hr class="nline" >-->
                <!--<div class="row">-->
                <!--<div class="col-lg-3"></div>-->
                <!--<div class="col-lg-3">-->
                <!--<button type="submit" ng-click="showSimpleToast()" class="btn btn-save">Save</button>-->
                <!--<div data-ng-show="success" class="text-center text-success">-->
                <!--<strong>Profile Saved Successfully</strong>-->
                <!--</div>-->
                <!--<div data-ng-show="error" class="text-center text-danger">-->
                <!--<strong data-ng-bind="error"></strong>-->
                <!--</div>-->

                <!--</div>-->
                <!--<div class="col-lg-3">-->
                <!--<button type="button" data-ng-click="reset(userForm)" class="btn btn-cancel">Reset</button>-->
                <!--</div>-->

                <!--</div>-->

                <!--</div>-->
                <!--</form>-->
                <!--</div>-->
            </md-content>
        </md-tab>
        <!--<md-tab  ng-click="selValTabs('businsesprofile')" ng-hide="true" label="BUSINESS PROFILE">
            <md-content class="md-padding">
                <form name="companyForm" data-ng-submit="updateUserBusinessProfile(companyForm.$valid)">
                    <div class="" layout-padding layout="row" layout-xs='row'
                         layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                        <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                            <span class="bb-profile-ava">
                                <img class="img-responsive bb-simple bb-profimg-fix bb-img-center"
                                     data-ng-src="{{company.profileImageURL}}" alt="{{company.name}}">
                            </span>

                            <div class="bb-link-me">
                                <div class="text-center">

                                    <span class="bb-ubtn bb-btn-file">
                                        <i title="Upload images" class="fa fa-camera fa-2x" ></i>
                                        <input type="file" ng-model="company.profileImageURL" uploadpathkey='businessprofile' accept="image/*" uploader="uploader" />
                                        &lt;!&ndash;<input type="file" accept="image/*" nv-file-select uploader="uploader">&ndash;&gt;
                                    </span>

                                    <div data-ng-show="imgsuccess && tab=='businsesprofile'" class="text-center text-success">
                                        <strong>Profile Picture Changed Successfully</strong>
                                    </div>
                                    <div data-ng-show="imgerror" class="text-center text-danger">
                                        <strong data-ng-bind="imgerror"></strong>
                                    </div>
                                </div>
                                <div class="bb-hr-center"></div>
                                <span id="lblError"
                                      class="text-danger bb-f-15 bb-center"></span>
                            </div>
                        </div>
                        <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                            <md-input-container class="md-block">
                                <label>Company Name</label>
                                <input md-maxlength="128"  id="companyName" ng-disabled="company.isPredefined?false:true" name="companyName"  data-ng-model="company.name">
                            </md-input-container>
                        </div>
                        <div flex="25" flex-xs="25" flex-sm="25" flex-gt-lg="25">
                            <md-button class="md-primary md-raised" ng-click="addBussiness('unit')">Add Business Unit</md-button>
                        </div>
                        <div flex="25" flex-xs="25" flex-sm="25" flex-gt-lg="25">
                            <md-button class="md-primary md-raised" ng-click="addBussiness('user')">Add Business User</md-button>
                        </div>
                        <div ng-hide='company.isPredefined' flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                            <md-input-container class="md-block">
                                <label>Profile Url</label>
                                <input md-maxlength="128" id="profileUrl" name="profileUrl"
                                       data-ng-model="company.profileUrl">
                            </md-input-container>
                        </div>

                    </div>

                    <md-divider></md-divider>

                    <div layout="row" layout-xs='row' layout-xs="column"
                         layout-sm="row" layout-gt-lg="row" layout-wrap>

                        <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                            <div layout="row">
                                <h3 class="md-subhead bb-pl">Phone</h3>
                                <span flex></span>
                                <md-button class="md-fab md-mini md-mini-cust bb-plus-btn"
                                           aria-label="Favorite"
                                           ng-click="addPhone(company.phones)">
                                    <md-tooltip md-direction="top">Add Another Phone Number</md-tooltip>
                                    <md-icon class="fa fa-plus md-icon-cust"></md-icon>
                                </md-button>
                            </div>
                            &lt;!&ndash;<md-divider></md-divider>&ndash;&gt;
                            <md-card class="bb-pos-rel" layout-margin layout="row"
                                     flex layout-xs='row' layout-xs="column" layout-sm="column"
                                     layout-gt-lg="row" layout-wrap
                                     ng-repeat="phone in company.phones track by $id(phone)"
                                     data-ng-form="phoneForm">


                                <md-icon
                                        class="fa-minus-circle faa bb-minus-btn bb-closebtn"
                                        ng-click="company.phones.splice($index, 1)"
                                        ng-show="company.phones.length > 1 && !phone.primary"></md-icon>
                                 <div flex="20" flex-xs="100" flex-sm="100" flex-gt-lg="20">
                                     <md-input-container>
                                         <label>Type</label>
                                         <md-select ng-model="phone.phoneType" ng-disabled="phone.primary">
                                             <md-option ng-repeat="item in phoneTypes">{{item}}</md-option>
                                          </md-select>
                                     </md-input-container>
                                 </div>

                                <div flex="50" flex-xs="100" flex-sm="100" flex-gt-lg="50">
                                    <md-input-container class="md-block">
                                        <label>Phone Number</label>
                                        <input md-maxlength="11"   data-ng-model="phone.phoneNumber" id="phoneNumber" nv-regulation-exp="phonenumber"
                                               name="phoneNumber" ng-disabled="phone.primary">

                                    </md-input-container>
                                </div>
                                <div flex="20" flex-xs="100" flex-sm="100" flex-gt-lg="20">
                                    <md-checkbox ng-model="phone.isPublic" ng-disabled="phone.primary">Public</md-checkbox>
                                </div>
                            </md-card>
                        </div>

                        <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                            <div layout="row">
                                <h3 class="md-subhead bb-pl">Email</h3>
                                <span flex></span>
                                <md-button class="md-fab md-mini md-mini-cust bb-plus-btn"
                                           aria-label="Favorite"
                                           ng-click="addEmail(company.emails)">
                                    <md-tooltip md-direction="top">Add Another Email</md-tooltip>
                                    <md-icon class="fa fa-plus md-icon-cust"></md-icon>
                                </md-button>
                            </div>
                            &lt;!&ndash;<md-divider></md-divider>&ndash;&gt;

                            <md-card class="bb-pos-rel" layout-margin layout="row"
                                     flex layout-xs='row' layout-xs="column" layout-sm="column"
                                     layout-gt-lg="row" layout-wrap
                                     ng-repeat="email in company.emails  track by $id(email)"
                                     data-ng-form="emailForm">
                                <md-icon
                                        class="fa-minus-circle faa bb-minus-btn bb-closebtn"
                                        ng-click="company.emails.splice($index, 1)"
                                        ng-show="company.emails.length > 1 && !email.primary"></md-icon>
                                <div flex="20" flex-xs="100" flex-sm="100" flex-gt-lg="20">
                                    <md-input-container>
                                        <label>Type</label>
                                        <md-select ng-model="email.emailType" ng-disabled="email.primary">
                                            <md-option ng-repeat="item in emailTypes">{{item}}</md-option>

                                        </md-select>
                                    </md-input-container>
                                </div>

                                <div flex="50" flex-xs="100" flex-sm="100" flex-gt-lg="50">
                                    <md-input-container class="md-block">
                                        <label>E-mail</label>
                                        <input md-maxlength="128"   ng-model="email.email" id="email" name="email" nv-regulation-exp="mail1"  ng-disabled="email.primary">
                                     </md-input-container>
                                </div>
                                <div flex="20" flex-xs="100" flex-sm="100" flex-gt-lg="20">
                                    <md-checkbox ng-model="email.isPublic" ng-disabled="email.primary">Public</md-checkbox>
                                </div>

                            </md-card>

                        </div>
                    </div>

                    <div layout="row" layout-xs='row' layout-xs="column"
                         layout-sm="column" layout-gt-lg="row" layout-wrap>

                        <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                            <div layout="row">
                                <h3 class="md-subhead bb-pl">Address</h3>
                                <span flex></span>
                                <md-button class="md-fab md-mini md-mini-cust bb-plus-btn"
                                           aria-label="Favorite"
                                           ng-click="addAddress(company.addresses)">
                                    <md-tooltip md-direction="top">Add Another Address</md-tooltip>
                                    <md-icon class="fa fa-plus md-icon-cust"></md-icon>
                                </md-button>
                            </div>
                            &lt;!&ndash;<md-divider></md-divider>&ndash;&gt;

                            <md-card layout-margin class="bb-pos-rel" layout="row"
                                     flex layout-xs='row' layout-xs="column" layout-sm="column"
                                     layout-gt-lg="row" layout-wrap
                                     ng-repeat="address in company.addresses track by $id(address)"
                                     data-ng-form="addressForm">

                                <md-icon
                                        class="fa-minus-circle faa bb-minus-btn bb-closebtn"
                                        ng-show="company.addresses.length > 1 && address.primary!==true"
                                        ng-click="company.addresses.splice($index, 1)"></md-icon>
                                <div flex="49" flex-xs="100" flex-gt-lg="50">
                                    <div layout-padding layout="row" flex layout-xs='row'
                                         layout-xs="column" layout-sm="row"
                                         layout-gt-lg="row" layout-wrap>
                                        <div flex="50" flex-xs="100" flex-sm="50">
                                            <md-input-container class="bb-wid-100">
                                                <label>Type</label>
                                                <md-select ng-model="address.addressType">
                                                    <md-option ng-repeat="item in addressTypes">{{item}}</md-option>

                                                </md-select>
                                            </md-input-container>
                                        </div>

                                        <div flex="50" flex-xs="100" flex-sm="50"
                                             flex-gt-lg="50">

                                            <md-checkbox ng-model="address.isPublic">Public</md-checkbox>
                                        </div>


                                        <div flex="100" flex-xs="100" flex-sm="100"
                                             flex-gt-lg="100">
                                            <md-input-container class="md-block">
                                                <label>Address Line</label>
                                                <textarea md-maxlength="1028"   ng-model="address.addressLine" id="addressLine"
                                                          name="addressLine"></textarea>
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>

                                <div flex="49" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                                    <div layout-padding layout="row" flex layout-xs='row'
                                         layout-xs="column" layout-sm="row"
                                         layout-gt-lg="row" layout-wrap>
                                        <div flex="50" flex-xs="100" flex-sm="50"
                                             flex-gt-lg="50">
                                            <md-input-container class="md-block">
                                                <label>City</label>
                                                <input md-maxlength="128"    ng-model="address.city" id="city" name="city">

                                            </md-input-container>
                                        </div>
                                        <div flex="50" flex-xs="100" flex-sm="50"
                                             flex-gt-lg="50">
                                            <md-input-container class="md-block">
                                                <label>State</label>
                                                <input md-maxlength="128"    ng-model="address.state" id="state" name="state">

                                            </md-input-container>
                                        </div>

                                        <div flex="50" flex-xs="100" flex-sm="50"
                                             flex-gt-lg="50">
                                            <md-input-container class="md-block">
                                                <label>Country</label>
                                                <input md-maxlength="128"  ng-model="address.country" id="country" name="country">

                                            </md-input-container>
                                        </div>

                                        <div flex="50" flex-xs="100" flex-sm="50"
                                             flex-gt-lg="50">
                                            <md-input-container class="md-block">
                                                <label>PinCode</label>
                                                <input md-maxlength="6"  ng-model="address.pinCode" id="pinCode">

                                            </md-input-container>
                                        </div>
                                    </div>

                                </div>

                            </md-card>

                        </div>
                    </div>

                    <div layout="row" layout-xs='row' layout-xs="column"
                         layout-sm='row' layout-sm="column" layout-gt-lg="row" layout-wrap>
                        <div flex="100" flex-xs="100" flex-sm="100">
                            <div layout="row">
                                <h3 class="md-subhead">Account Details</h3>

                            </div>
                            &lt;!&ndash;<md-divider></md-divider>&ndash;&gt;

                            <md-card layout-margin class="" layout="row" flex
                                     layout-xs='row' layout-xs="column" layout-sm="column"
                                     layout-gt-lg="row" layout-wrap>
                                <div flex="100" flex-xs="100" flex-sm="80" flex-gt-lg="80">
                                    <div layout-padding layout="row" flex layout-xs='row'
                                         layout-xs="column" layout-sm="row"
                                         layout-gt-lg="row" layout-wrap>

                                        <div flex="30" flex-xs="100">
                                            <md-input-container class="md-block">
                                                <label>Account Type</label>
                                                <md-select
                                                        ng-model="company.bankAccountDetails.accountType">
                                                    <md-option
                                                            ng-repeat="accountType in accountTypes">
                                                        {{accountType}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                    </div>

                                    <div layout-padding layout="row" flex layout-xs='row'
                                         layout-xs="column" layout-sm="row"
                                         layout-gt-lg="row" layout-wrap>

                                        &lt;!&ndash;<div flex="50" flex-xs="100" flex-sm="50"&ndash;&gt;
                                        &lt;!&ndash;flex-gt-lg="50">&ndash;&gt;
                                        &lt;!&ndash;<md-input-container class="md-block">&ndash;&gt;
                                        &lt;!&ndash;<label>Bank Account Details</label>&ndash;&gt;
                                        &lt;!&ndash;<textarea md-maxlength="1028"   ng-model="company.bankAccountDetails"></textarea>&ndash;&gt;
                                         &lt;!&ndash;</md-input-container>&ndash;&gt;
                                        &lt;!&ndash;</div>&ndash;&gt;

                                        <div flex="30" flex-xs="100" flex-sm="45">
                                            <md-input-container class="md-block">
                                                <label>Bank Account Number</label>
                                                <input md-maxlength="20"
                                                       ng-model="company.bankAccountDetails.bankAccountNumber">
                                            </md-input-container>
                                        </div>

                                        <div flex="30" flex-xs="100" flex-sm="35"
                                             flex-gt-lg="30">
                                            <label ng-if="!company.bankAccountDetailsProof" class="bb-nlabel bb-m-bot15">Account
                                                Number Proof</label>
                                            <a ng-if="company.bankAccountDetailsProof" class="bb-simple bb-profimg-fix"
                                               ng-href="{{company.bankAccountDetailsProof}}" >Account
                                                Number Proof</a>
                                        </div>

                                        <div flex="20" flex-xs="100" flex-sm="20"
                                             flex-gt-lg="15">
                                            <span class="bb-wbtn btn bb-btn-save bb-btn-file bb-wid-100">
                                                Browse
                                                <input type="file" ng-model="company.bankAccountDetailsProof" uploadpathkey='businessprofile'  uploader="uploader" />
                                            </span>
                                        </div>

                                        <div flex="30" flex-xs="100">
                                            <md-input-container class="md-block">
                                                <label>IFSC Code</label>
                                                <input md-maxlength="11"
                                                       ng-model="company.bankAccountDetails.ifscCode">
                                            </md-input-container>
                                        </div>
                                        <div flex="30" flex-xs="100">
                                            <md-input-container class="md-block">
                                                <label>Bank Name</label>
                                                <input md-maxlength="50"
                                                       ng-model="company.bankAccountDetails.bankName">
                                            </md-input-container>
                                        </div>
                                        <div flex="30" flex-xs="100">
                                            <md-input-container class="md-block">
                                                <label>Bank Branch Name</label>
                                                <input md-maxlength="250"
                                                       ng-model="company.bankAccountDetails.bankBranchName">
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>
                            </md-card>
                            <div layout="row">
                                <h3 class="md-subhead">Company Details</h3>

                            </div>
                        <md-card layout-margin class="" layout="row" flex
                                 layout-xs='row' layout-xs="column" layout-sm="column"
                                 layout-gt-lg="row" layout-wrap>
                            <div flex="100" flex-xs="100" flex-sm="80" flex-gt-lg="80">
                                    <div layout-padding layout="row" flex layout-xs='row'
                                         layout-xs="column" layout-sm="row"
                                         layout-gt-lg="row" layout-wrap>

                                        <div flex="30" flex-xs="100" flex-sm="30"
                                             flex-gt-lg="30">
                                            <md-input-container class="md-block">
                                                <label>TIN Number</label>
                                                <input md-maxlength="11" ng-model="company.tinNumber">

                                            </md-input-container>
                                        </div>
                                        <div flex="30" flex-xs="100" flex-sm="40"
                                             flex-gt-lg="30">
                                            <label ng-if="!company.tinNumberProof" class="bb-nlabel bb-m-bot15">TIN Number
                                                Proof</label>
                                            <a ng-if="company.tinNumberProof" class="bb-simple bb-profimg-fix"
                                               ng-href="{{company.tinNumberProof}}" >TIN Number
                                                Proof</a>
                                        </div>
                                        <div flex="20" flex-xs="100" flex-sm="20"
                                             flex-gt-lg="15">
                                            <span class="bb-wbtn btn bb-btn-save bb-btn-file bb-wid-100">Browse&lt;!&ndash;<input
                                                                               ng-model="company.panNumberProof"
                                                                                type="file" v-file-select
                                                                               uploader="uploaderCases">&ndash;&gt;
                                                <input type="file" ng-model="company.tinNumberProof" uploadpathkey='businessprofile'  uploader="uploader" /></span>
                                         </div>

                                        <div flex="30" flex-xs="100" flex-sm="30"
                                             flex-gt-lg="30">
                                            <md-input-container class="md-block">
                                                <label>PAN Number</label>
                                                <input md-maxlength="11" ng-model="company.panNumber">

                                            </md-input-container>
                                        </div>

                                        <div flex="30" flex-xs="100" flex-sm="40"
                                             flex-gt-lg="30">
                                            <label ng-if="!company.panNumberProof" class="bb-nlabel bb-m-bot15">PAN Number
                                                Proof</label>
                                            <a ng-if="company.panNumberProof" class="bb-simple bb-profimg-fix"
                                               ng-href="{{company.panNumberProof}}" >PAN Number
                                                Proof</a>
                                        </div>
                                        <div flex="20" flex-xs="100" flex-sm="20"
                                             flex-gt-lg="15">
                                            <span class="bb-wbtn btn bb-btn-save bb-btn-file bb-wid-100">Browse&lt;!&ndash;<input
                                                                               ng-model="company.panNumberProof"
                                                                                type="file" v-file-select
                                                                               uploader="uploaderCases">&ndash;&gt;
                                                <input type="file" ng-model="company.panNumberProof" uploadpathkey='businessprofile'  uploader="uploader" /></span>

                                        </div>


                                        &lt;!&ndash;<div flex="30" flex-xs="100" flex-sm="30"
                                                                       flex-gt-lg="30">
                                                                       <md-input-container class="md-block">
                                                                           <label>VAT Number</label>
                                                                           <input md-maxlength="11"  ng-model="company.vatNumber">
                                                                        </md-input-container>
                                                                    </div>

                                                                    <div flex="30" flex-xs="100" flex-sm="40"
                                                                         flex-gt-lg="30">
                                                                        <label ng-if="!company.vatNumberProof" class="bb-nlabel bb-m-bot15">VAT Number
                                                                            Proof</label>
                                                                        <a ng-if="company.vatNumberProof" class="bb-simple bb-profimg-fix "
                                                                           ng-href="{{company.vatNumberProof}}" >VAT Number
                                                                            Proof</a>
                                                                    </div>

                                                                    <div flex="20" flex-xs="100" flex-sm="20"
                                                                         flex-gt-lg="15">
                                                                        <span class="bb-wbtn btn bb-btn-save bb-btn-file bb-wid-100">Browse&lt;!&ndash;<input
                                                                                ng-model="company.vatNumberProof"
                                                                                type="file" v-file-select
                                                                                uploader="uploaderCases">

                                                                         <input type="file" ng-model="company.vatNumberProof" uploadpathkey='businessprofile'  uploader="uploader" /></span>

                                                                    </div>

                                                                    <div flex="30" flex-xs="100" flex-sm="30"
                                                                         flex-gt-lg="30">
                                                                        <md-input-container class="md-block">
                                                                            <label>CST Number</label>
                                                                            <input md-maxlength="11"  ng-model="company.cstNumber">

                                                                        </md-input-container>
                                                                    </div>

                                                                    <div flex="30" flex-xs="100" flex-sm="40"
                                                                         flex-gt-lg="30">
                                                                        <label ng-if="!company.cstNumberProof" class="bb-nlabel bb-m-bot15">CST Number
                                                                            Proof</label>
                                                                        <a ng-if="company.cstNumberProof" class="bb-simple bb-profimg-fix "
                                                                           ng-href="{{company.cstNumberProof}}" >CST Number
                                                                            Proof</a>
                                                                    </div>

                                                                    <div flex="20" flex-xs="100" flex-sm="20"
                                                                         flex-gt-lg="15">
                                                                        <span class="bb-wbtn btn bb-btn-save bb-btn-file bb-wid-100">Browse
                                                                         <input type="file" ng-model="company.cstNumberProof" uploadpathkey='businessprofile'  uploader="uploader" /></span>
                                                                    </div>&ndash;&gt;

                                        <div flex="30" flex-xs="100" flex-sm="30"
                                             flex-gt-lg="30">
                                            <md-input-container class="md-block">
                                                <label>GSTIN</label>
                                                <input name="gst2" required ng-model="company.gstinNumber"
                                                       nv-regulation-exp="gstin">
                                             </md-input-container>
                                        </div>
                                        <div flex="30" flex-xs="100" flex-sm="40"
                                             flex-gt-lg="30">
                                            <label ng-if="!company.gstinNumberProof" class="bb-nlabel bb-m-bot15">GSTIN Proof</label>
                                            <a ng-if="company.gstinNumberProof" class="bb-simple bb-profimg-fix "
                                               ng-href="{{company.gstinNumberProof}}" >GSTIN Proof</a>
                                        </div>

                                        <div flex="20" flex-xs="100" flex-sm="20"
                                             flex-gt-lg="15">
                                            <span class="bb-wbtn btn bb-btn-save bb-btn-file bb-wid-100">Browse
                                                <input type="file" ng-model="company.gstinNumberProof" uploadpathkey='businessprofile'  uploader="uploader" /></span>
                                        </div>





                                    </div>
                                </div>


                            </md-card>


                            <div layout-padding layout="row" flex layout-xs='row'
                                 layout-xs="column" layout-sm="row" layout-gt-lg="row"
                                 layout-wrap>
                                <div flex="20" flex-xs="100" flex-sm="20" flex-gt-lg="15">
                                    <md-button ng-disabled="companyForm.$invalid"
                                               type="submit"
                                               class="md-raised md-primary bb-wid-100 bb-comment-btn">
                                        Save
                                    </md-button>
                                </div>

                                <div flex="20" flex-xs="100" flex-sm="20" flex-gt-lg="15">
                                    <md-button ng-click="reset(companyForm)"
                                               class="md-raised md-accent bb-wid-100 bb-comment-btn">
                                        Reset
                                    </md-button>
                                </div>

                                <div flex="60" flex-xs="100" flex-sm="60" flex-gt-lg="60">
                                    <div data-ng-show="success"  class="text-center text-success">
                                        <strong>Business Profile Saved Successfully</strong>
                                    </div>
                                    <div data-ng-show="error" class="text-center text-danger">
                                        <strong data-ng-bind="error"></strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </form>


                &lt;!&ndash;<form name="companyForm" data-ng-submit="updateUserBusinessProfile(companyForm.$valid)">&ndash;&gt;
                &lt;!&ndash;<div class="row">&ndash;&gt;
                &lt;!&ndash;<div class="col-lg-12 mob-lg ">&ndash;&gt;


                &lt;!&ndash;<span class="profile-ava">&ndash;&gt;
                &lt;!&ndash;<img  class="simple img-fix img-center" data-ng-src="{{imageURL}}" alt="{{company.name}}">&ndash;&gt;
                &lt;!&ndash;&lt;!&ndash;<div class="layer"><span class="fa fa-camera "></span></div>&ndash;&gt;&ndash;&gt;
                &lt;!&ndash;</span>&ndash;&gt;
                &lt;!&ndash;<div class="link-me" >&ndash;&gt;
                &lt;!&ndash;<div class="text-center">&ndash;&gt;

                &lt;!&ndash;<span class="ubtn btn-file">&ndash;&gt;
                &lt;!&ndash;<i title="Upload images" class="fa fa-camera fa-2x" ></i><input type="file" accept="image/*" nv-file-select uploader="uploader">&ndash;&gt;
                &lt;!&ndash;</span>&ndash;&gt;
                &lt;!&ndash;&lt;!&ndash; <div class="text-center form-group" data-ng-show="uploader.queue.length">&ndash;&gt;
                &lt;!&ndash;<input type="button" value="Upload" class="btn btnn" data-ng-click="uploadProfilePicture();">&ndash;&gt;
                &lt;!&ndash;<input type="button" value="Cancel" class="btn btnn" data-ng-click="cancelUpload();">&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;
                &lt;!&ndash;<div data-ng-show="imgsuccess && tab=='businsesprofile'" class="text-center text-success">&ndash;&gt;
                &lt;!&ndash;<strong>Profile Picture Changed Successfully</strong>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;<div data-ng-show="imgerror" class="text-center text-danger">&ndash;&gt;
                &lt;!&ndash;<strong data-ng-bind="imgerror"></strong>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;<div class="hr-center"></div>&ndash;&gt;
                &lt;!&ndash;<span id="lblError" class="text-danger f-15 center"></span>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;

                &lt;!&ndash;<div class="col-lg-12 mob-lg">&ndash;&gt;
                &lt;!&ndash;<div class="row">&ndash;&gt;
                &lt;!&ndash;<div class="col-lg-6 col-fix">&ndash;&gt;
                &lt;!&ndash;<h5  class="tabtxt heading">Company Name</h5>&ndash;&gt;
                &lt;!&ndash;<input type="text" class="form-control" placeholder="Enter Company Name..." id="companyName" ng-readonly='true' name="companyName"  data-ng-model="company.name">&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;<div class="col-lg-6 col-fix">&ndash;&gt;
                &lt;!&ndash;<h5  class="tabtxt heading">Profile Url</h5>&ndash;&gt;
                &lt;!&ndash;<input type="text" class="form-control" placeholder="Enter Profile url..." id="profileUrl" name="profileUrl"&ndash;&gt;
                &lt;!&ndash;data-ng-model="company.profileUrl">&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;<hr class="nline m-15" >&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;


                &lt;!&ndash;<div class="col-lg-12 mob-lg">&ndash;&gt;
                &lt;!&ndash;<div class="row">&ndash;&gt;
                &lt;!&ndash;<div class="col-lg-6 mob-lg ">&ndash;&gt;


                &lt;!&ndash;<div>&ndash;&gt;
                &lt;!&ndash;<h5  class="nhead tabtxt heading">Phone<button type="button" title="Add"  data-ng-click="addPhone(company.phones)"class="btn btn-success addbtn"><i class="fa-plus faa"></i></button></h5>&ndash;&gt;
                &lt;!&ndash;<hr class="nline m-15" >&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;

                &lt;!&ndash;<div class="col-lg-12 m-top15" data-ng-repeat="phone in company.phones track by $index" data-ng-form="phoneForm">&ndash;&gt;
                &lt;!&ndash;<div type="button" title="Remove" class="closeButton cursor" data-ng-show="company.phones.length > 1 && !phone.primary"&ndash;&gt;
                &lt;!&ndash;data-ng-click="company.phones.splice($index, 1)"><i class="fa-minus-circle faa"></i>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;<div class="col-lg-4">&ndash;&gt;
                &lt;!&ndash;<select class="form-control input-sm m-bot15" ng-disabled="phone.primary" ng-model="phone.phoneType" ng-options="item as item for item in phoneTypes"></select>&ndash;&gt;
                 &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;<div class="col-lg-4">&ndash;&gt;
                &lt;!&ndash;<input type="text" data-ng-model="phone.phoneNumber" id="phoneNumber"&ndash;&gt;
                &lt;!&ndash;name="phoneNumber"  ng-minlength="10" , ng-maxlength="11"&ndash;&gt;
                &lt;!&ndash;only-digits class="form-control m-bot15" ng-readonly="phone.primary" placeholder="eg: +919164518060">&ndash;&gt;
                 &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;<div class="col-lg-4">&ndash;&gt;
                &lt;!&ndash;<input class="checkbox-custom" ng-disabled="phone.primary" type="checkbox" id="phone_{{$index}}" ng-model="phone.public" />&ndash;&gt;
                &lt;!&ndash;<label class="checkbox-custom-label" for="phone_{{$index}}"><span></span>Public</label>&ndash;&gt;
                 &lt;!&ndash;&lt;!&ndash;<md-checkbox ng-model="phone.public" aria-label="Public">&ndash;&gt;&ndash;&gt;

                &lt;!&ndash;&lt;!&ndash;</md-checkbox>&ndash;&gt;&ndash;&gt;

                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;<div class="col-lg-12">&ndash;&gt;
                &lt;!&ndash;<span class="text-danger "&ndash;&gt;
                &lt;!&ndash;data-ng-show="phoneForm.phoneNumber.$dirty && phoneForm.phoneNumber.$invalid">&ndash;&gt;
                &lt;!&ndash;<span data-ng-show="phoneForm.phoneNumber.$error.number">Not a valid phone number.</span>&ndash;&gt;
                &lt;!&ndash;<span data-ng-show="phoneForm.phoneNumber.$error.minlength || phoneForm.phoneNumber.$error.maxlength">Phone Number length should be 10 to 11 digits.</span>&ndash;&gt;
                &lt;!&ndash;</span>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;


                &lt;!&ndash;</div>&ndash;&gt;

                &lt;!&ndash;<hr class="nline m-15" >&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;

                &lt;!&ndash;<div class="col-lg-6 mob-lg">&ndash;&gt;

                &lt;!&ndash;<div>&ndash;&gt;
                &lt;!&ndash;<h5  class="nhead tabtxt heading">E-mail<button type="button" title="Add" data-ng-click="addEmail(company.emails)" class="btn btn-success addbtn"><i class="fa-plus faa"></i></button></h5>&ndash;&gt;
                &lt;!&ndash;<hr class="nline m-15" >&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;<div class="col-lg-12 m-top15" data-ng-repeat="email in company.emails  track by $index" data-ng-form="emailForm">&ndash;&gt;
                &lt;!&ndash;<div type="button" title="Remove" data-ng-show="company.emails.length > 1 && !email.primary"&ndash;&gt;
                &lt;!&ndash;class="closeButton cursor"  data-ng-click="company.emails.splice($index, 1)"><i class="fa-minus-circle faa"></i>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;<div class="col-lg-4">&ndash;&gt;
                &lt;!&ndash;<select class="form-control input-sm m-bot15" ng-disabled="email.primary" ng-model="email.emailType" ng-options="item as item for item in emailTypes"></select>&ndash;&gt;
                 &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;<div class="col-lg-4">&ndash;&gt;
                &lt;!&ndash;<input type="text" type="email" data-ng-model="email.email" id="email" name="email"&ndash;&gt;
                &lt;!&ndash;ng-required="isOneContactRequired();" ng-readonly="email.primary" placeholder="Email" maxlength="256" class="form-control m-bot15" >&ndash;&gt;

                &lt;!&ndash;</div>&ndash;&gt;

                &lt;!&ndash;<div class="col-lg-4">&ndash;&gt;
                &lt;!&ndash;<input class="checkbox-custom" type="checkbox" ng-disabled="email.primary" id="email_{{$index}}" name="cc"  ng-model="email.public"/>&ndash;&gt;
                &lt;!&ndash;<label class="checkbox-custom-label" for="email_{{$index}}"><span></span>Public</label>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;<div class="col-lg-12">&ndash;&gt;
                &lt;!&ndash;<span class="text-danger" data-ng-show="emailForm.email.$dirty && emailForm.email.$invalid">&ndash;&gt;
                &lt;!&ndash;<span ng-show="emailForm.email.$error.email">Invalid email address.</span>&ndash;&gt;
                &lt;!&ndash;<span ng-show="emailForm.email.$error.maxlength">The email should not exceed 256 characters.</span>&ndash;&gt;
                &lt;!&ndash;</span>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;


                &lt;!&ndash;</div>&ndash;&gt;

                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;

                &lt;!&ndash;<div class="col-lg-12 lg mob-lg">&ndash;&gt;

                &lt;!&ndash;<div class="col-lg-12 " >&ndash;&gt;
                &lt;!&ndash;<h5  class="nhead tabtxt heading">Address<button type="button" title="Add" data-ng-click="addAddress(company.addresses)" class="btn btn-success addbtn"><i class="fa-plus faa"></i></button></h5>&ndash;&gt;
                &lt;!&ndash;<hr class="nline m-15" >&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;


                &lt;!&ndash;<div class="col-lg-12 mob-lg"  data-ng-repeat="address in company.addresses track by $index" data-ng-form="addressForm">&ndash;&gt;
                &lt;!&ndash;<div type="button" title="Remove" data-ng-show="company.addresses.length > 1 && address.primary!==true"&ndash;&gt;
                &lt;!&ndash;data-ng-click="company.addresses.splice($index, 1)" class="closeButton cursor"><i class="fa-minus-circle faa"></i>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;

                &lt;!&ndash;<div class="col-lg-6 mob-lg">&ndash;&gt;

                &lt;!&ndash;<div class="col-lg-6">&ndash;&gt;
                &lt;!&ndash;<select class="form-control input-sm m-bot15" ng-model="address.addressType" ng-options="item as item for item in addressTypes"></select>&ndash;&gt;

                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;<div class="col-lg-4">&ndash;&gt;
                &lt;!&ndash;<input class="custom" type="checkbox" id="'address_'+{{$index}}" name="cc" ng-model="address.public" />&ndash;&gt;
                &lt;!&ndash;<label class="checkbox-custom-label" for="'address_'+{{$index}}"><span></span>Public</label>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;<div class="col-lg-12 mob-lg">&ndash;&gt;
                &lt;!&ndash;<div class="col-lg-6">&ndash;&gt;
                &lt;!&ndash;<textarea class="form-control txt-fix" rows="4" cols="40" style="resize:none" data-ng-model="address.addressLine" id="addressLine"&ndash;&gt;
                &lt;!&ndash;name="addressLine"&ndash;&gt;
                &lt;!&ndash;maxlength="1024" placeholder="Enter Your Billing Address.." ></textarea>&ndash;&gt;
                &lt;!&ndash;<span class="text-danger"&ndash;&gt;
                &lt;!&ndash;data-ng-show="addressForm.addressLine.$dirty && addressForm.addressLine.$invalid">&ndash;&gt;
                &lt;!&ndash;<span data-ng-show="addressForm.addressLine.$error.maxlength">The address line should not exceed 1024 characters.</span>&ndash;&gt;
                &lt;!&ndash;</span>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;


                &lt;!&ndash;<div class="col-lg-6 mob-lg">&ndash;&gt;
                &lt;!&ndash;<div class="col-lg-5">&ndash;&gt;
                &lt;!&ndash;<input type="text" data-ng-model="address.city" id="city" name="city" class="form-control m-bot15"&ndash;&gt;
                &lt;!&ndash;placeholder="Enter City..." maxlength="128">&ndash;&gt;
                &lt;!&ndash;<span class="text-danger"&ndash;&gt;
                &lt;!&ndash;data-ng-show="addressForm.city.$dirty && addressForm.city.$invalid">&ndash;&gt;
                &lt;!&ndash;<span data-ng-show="addressForm.city.$error.maxlength">The city should not exceed 128 characters.</span>&ndash;&gt;
                &lt;!&ndash;</span>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;<div class="col-lg-5">&ndash;&gt;
                &lt;!&ndash;<input type="text" data-ng-model="address.state" id="state" name="state" class="form-control m-bot15"&ndash;&gt;
                &lt;!&ndash;placeholder="Enter State..." maxlength="128">&ndash;&gt;
                &lt;!&ndash;<span class="text-danger"&ndash;&gt;
                &lt;!&ndash;data-ng-show="addressForm.state.$dirty && addressForm.state.$invalid">&ndash;&gt;
                &lt;!&ndash;<span data-ng-show="addressForm.state.$error.maxlength">The state should not exceed 128 characters.</span>&ndash;&gt;
                &lt;!&ndash;</span>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;<div class="col-lg-5">&ndash;&gt;
                &lt;!&ndash;<input type="text" data-ng-model="address.country" id="country" name="country"&ndash;&gt;
                &lt;!&ndash;class="form-control m-bot15" placeholder="Enter Country..." maxlength="128">&ndash;&gt;
                &lt;!&ndash;<span class="text-danger"&ndash;&gt;
                &lt;!&ndash;data-ng-show="addressForm.country.$dirty && addressForm.country.$invalid">&ndash;&gt;
                &lt;!&ndash;<span data-ng-show="addressForm.country.$error.maxlength">The country should not exceed 128 characters.</span>&ndash;&gt;
                &lt;!&ndash;</span>&ndash;&gt;

                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;<div class="col-lg-5">&ndash;&gt;
                &lt;!&ndash;<input type="text" data-ng-model="address.pinCode" id="pinCode" name="Enter pinCode..."&ndash;&gt;
                &lt;!&ndash;class="form-control m-bot15" placeholder="Pincode" ng-minlength="6" ng-maxlength="6" only-digits>&ndash;&gt;
                &lt;!&ndash;<span class="text-danger"&ndash;&gt;
                &lt;!&ndash;data-ng-show="addressForm.pinCode.$dirty && addressForm.pinCode.$invalid">&ndash;&gt;
                &lt;!&ndash;<span data-ng-show="addressForm.pinCode.$error.maxlength || addressForm.pinCode.$error.minlength">Pincode should be 6 digits.</span>&ndash;&gt;
                &lt;!&ndash;<span data-ng-show="addressForm.pinCode.$error.number">Pincode should number.</span>&ndash;&gt;
                &lt;!&ndash;</span>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;

                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;

                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;

                &lt;!&ndash;<div class="col-lg-12 mob-lg">&ndash;&gt;

                &lt;!&ndash;<div class="col-lg-12" >&ndash;&gt;
                &lt;!&ndash;<h5  class="nhead tabtxt heading">Account Details</h5>&ndash;&gt;
                &lt;!&ndash;<hr class="nline" >&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;


                &lt;!&ndash;<div class="col-lg-12 mob-lg">&ndash;&gt;
                &lt;!&ndash;<div class="col-lg-6">&ndash;&gt;
                &lt;!&ndash;<textarea class="form-control txt-fix" rows="4" cols="40" ng-model="company.bankAccountDetails" placeholder="Enter Bank Account details.." ></textarea>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;


                &lt;!&ndash;<div class="col-lg-6">&ndash;&gt;

                &lt;!&ndash;<label class="nlabel m-bot15">Account Number Proof</label>&ndash;&gt;
                &lt;!&ndash;<span class="wbtn btn btn-save btn-file">&ndash;&gt;
                &lt;!&ndash;Browse<input ng-model="company.bankAccountDetailsProof" type="file" v-file-select uploader="uploaderCases">&ndash;&gt;
                &lt;!&ndash;</span>&ndash;&gt;


                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;

                &lt;!&ndash;<div class="col-lg-12 mob-lg">&ndash;&gt;

                &lt;!&ndash;<div class="col-lg-3">&ndash;&gt;
                &lt;!&ndash;<input type="text" ng-model="company.panNumber" class="form-control m-bot15" placeholder="Enter PAN Number...">&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;


                &lt;!&ndash;<div class="col-lg-6">&ndash;&gt;

                &lt;!&ndash;<label class="nlabel m-bot15">PAN Number Proof</label>&ndash;&gt;
                &lt;!&ndash;&lt;!&ndash; <input type="file" class="form-browse m-bot15" tabindex="6" class="medium" size="20">&ndash;&gt;&ndash;&gt;
                &lt;!&ndash;<span class="wbtn btn btn-save btn-file">Browse<input ng-model="company.panNumberProof" type="file" v-file-select uploader="uploaderCases"></span>&ndash;&gt;


                &lt;!&ndash;</div>&ndash;&gt;

                &lt;!&ndash;</div>&ndash;&gt;

                &lt;!&ndash;<div class="col-lg-12 mob-lg">&ndash;&gt;

                &lt;!&ndash;<div class="col-lg-3">&ndash;&gt;
                &lt;!&ndash;<input type="text" ng-model="company.vatNumber" class="form-control m-bot15" placeholder="Enter VAT Number...">&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;


                &lt;!&ndash;<div class="col-lg-6">&ndash;&gt;
                &lt;!&ndash;<label class="nlabel m-bot15">VAT Number Proof</label>&ndash;&gt;
                &lt;!&ndash;&lt;!&ndash;<input type="file" class="form-browse m-bot15" tabindex="6" class="medium" size="20">&ndash;&gt;&ndash;&gt;
                &lt;!&ndash;<span class="wbtn btn btn-save btn-file">Browse<input ng-model="company.vatNumberProof" type="file" v-file-select uploader="uploaderCases"></span>&ndash;&gt;


                 &lt;!&ndash;</div>&ndash;&gt;


                &lt;!&ndash;</div>&ndash;&gt;


                &lt;!&ndash;<div class="col-lg-12 mob-lg">&ndash;&gt;

                &lt;!&ndash;<div class="col-lg-3">&ndash;&gt;
                &lt;!&ndash;<input type="text" ng-model="company.cstNumber" class="form-control m-bot15" placeholder="Enter CST Number...">&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;


                &lt;!&ndash;<div class="col-lg-6">&ndash;&gt;
                &lt;!&ndash;<label class="nlabel m-bot15">CST Number Proof</label>&ndash;&gt;

                &lt;!&ndash;&lt;!&ndash;<input type="file" class="form-browse m-bot15" tabindex="6" class="medium" size="20">&ndash;&gt;&ndash;&gt;
                &lt;!&ndash;<span class="wbtn btn btn-save btn-file">Browse<input ng-model="company.cstNumberProof" type="file" v-file-select uploader="uploaderCases"></span>&ndash;&gt;



                &lt;!&ndash;</div>&ndash;&gt;


                &lt;!&ndash;</div>&ndash;&gt;

                &lt;!&ndash;<div class="col-lg-12 mob-lg">&ndash;&gt;
                &lt;!&ndash;<div class="row">&ndash;&gt;
                &lt;!&ndash;<div class="col-lg-12" >&ndash;&gt;

                &lt;!&ndash;<hr class="nline" >&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;<div class="col-lg-6">&ndash;&gt;
                &lt;!&ndash;<div class="col-lg-6">&ndash;&gt;
                &lt;!&ndash;<button type="submit" ng-click="showSimpleToast()" class="btn btn-save">Save&ndash;&gt;
                &lt;!&ndash;</button>&ndash;&gt;
                &lt;!&ndash;<div data-ng-show="success"  class="text-center text-success">&ndash;&gt;
                &lt;!&ndash;<strong>Business Profile Saved Successfully</strong>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;<div data-ng-show="error" class="text-center text-danger">&ndash;&gt;
                &lt;!&ndash;<strong data-ng-bind="error"></strong>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;

                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;<div class="col-lg-6">&ndash;&gt;
                &lt;!&ndash;<button type="button" data-ng-click="reset(companyForm)" class="btn btn-cancel">Reset</button>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;


                &lt;!&ndash;</div>&ndash;&gt;

                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;





                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;</div>&ndash;&gt;
                &lt;!&ndash;</form>&ndash;&gt;

            </md-content>
        </md-tab>-->
        <!--  <md-tab  ng-click="selValTabs('products');" label="PRODUCTS">
                                       <md-content class="md-padding">
                                            <view-product data-ng-show="viewAllProduct"></view-product>
                                            <edit-product data-ng-show="showEditProduct"></edit-product>
                                            <add-product data-ng-show="showAddProduct"></add-product>
                                        </md-content>
                                    </md-tab>-->
        <md-tab label="PAYMENT OPTIONS" ng-click="selValTabs('paymentoptions');">
            <md-content class="md-padding">
                <form name="companyPaymentForm" data-ng-submit="updateUserBusinessProfile(companyPaymentForm.$valid)">
                    <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row"
                         layout-gt-lg="row" layout-wrap>

                        <div class="bb-loc" flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                            <md-checkbox
                                    ng-model="company.settings.paymentOptions.payOnDelivery.enabled">
                                Pay On Delivery
                            </md-checkbox>
                            <input  ng-show="company.settings.paymentOptions.payOnDelivery.enabled"
                                    ng-model="company.settings.paymentOptions.payOnDelivery.discount"  type="text" class="bb-input-label" placeholder="Discount">
                            <span  ng-show="company.settings.paymentOptions.payOnDelivery.enabled"> % discount </span>
                        </div>

                        <div class="bb-loc" flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                            <md-checkbox
                                    ng-model="company.settings.paymentOptions.payNow.enabled">
                                Pay Now
                            </md-checkbox>
                            <input  ng-show="company.settings.paymentOptions.payNow.enabled"
                                    ng-model="company.settings.paymentOptions.payNow.discount"  type="text" class="bb-input-label" placeholder="Discount">
                            <span  ng-show="company.settings.paymentOptions.payNow.enabled"> % discount </span>
                        </div>
                        <div class="bb-loc" flex="100" flex-xs="100" flex-sm="100"
                             flex-gt-lg="100">
                            <md-checkbox
                                    ng-model="company.settings.paymentOptions.lineOfCredit.enabled">
                                Line Of Credit
                            </md-checkbox>

                            <input  ng-show="company.settings.paymentOptions.lineOfCredit.enabled"
                                    ng-model="company.settings.paymentOptions.lineOfCredit.days"  type="text" class="bb-input-label" placeholder="Number of days">
                            <span  ng-show="company.settings.paymentOptions.lineOfCredit.enabled"> days</span>
                        </div>
                        <div flex="80" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                            <div layout="row">
                                <md-checkbox
                                        ng-model="company.settings.paymentOptions.installments.enabled">
                                    Pay By Installments
                                </md-checkbox>
                                <span flex></span>
                                <md-button ng-show="company.settings.paymentOptions.installments.enabled"
                                           class="md-fab md-mini md-mini-cust bb-plus-btn"
                                           aria-label="Favorite" ng-click="addOptions();">
                                    <md-tooltip md-direction="top">Add Installment</md-tooltip>
                                    <md-icon class="fa fa-plus md-icon-cust"></md-icon>
                                </md-button>
                            </div>
                            <!--<md-divider></md-divider>-->
                            <div hide-xs
                                 ng-show="company.settings.paymentOptions.installments.enabled && company.settings.paymentOptions.installments.options.length>0"
                                 layout="row" flex layout-xs='row'
                                 layout-xs="column" layout-sm="row" layout-gt-lg="row"
                                 layout-wrap>
                                <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="80">
                                    <div class="bb-paymntopt-header" layout-padding layout="row"
                                         flex layout-xs='row'
                                         layout-xs="column" layout-sm="row" layout-gt-lg="row"
                                         layout-wrap>
                                        <div flex="30" flex-xs="100" flex-sm="30" flex-gt-lg="30">
                                            <span>Payment Description</span>
                                        </div>
                                        <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="30">
                                            <span>Days</span>
                                        </div>
                                        <div flex="45" flex-xs="100" flex-sm="45"
                                             flex-gt-lg="30">
                                            <span>Percentage ( % )</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="company.settings.paymentOptions.installments.enabled"
                                 class="bb-pos-rel"
                                 layout="row" flex layout-xs='row'
                                 layout-xs="column" layout-sm="row" layout-gt-lg="row"
                                 layout-wrap
                                 ng-repeat="option in company.settings.paymentOptions.installments.options track by $id(option)">
                                <md-card flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="80">
                                    <div class="bb-paymentopt bb-pos-rel" layout-margin
                                         layout="row" flex
                                         layout-xs='row' layout-xs="column" layout-sm="row"
                                         layout-gt-lg="row" layout-wrap>
                                        <md-icon
                                                class="fa-minus-circle faa bb-minus-btn bb-closebtn"
                                                ng-click="company.settings.paymentOptions.installments.options.splice($index, 1)"></md-icon>

                                        <div flex="30" flex-xs="100" flex-sm="30"
                                             flex-gt-lg="30">
                                            <md-input-container
                                                    class="md-block bb-container-cust">
                                                <label hide-gt-xs>Payment
                                                    Description</label>
                                                <input aria-label="description"
                                                       md-maxlength="128"
                                                       ng-model="option.description">

                                            </md-input-container>
                                        </div>

                                        <div flex="25" flex-xs="100" flex-sm="25"
                                             flex-gt-lg="25">
                                            <md-input-container
                                                    class="md-block bb-container-cust">
                                                <label hide-gt-xs>Days</label>
                                                <input aria-label="days"
                                                       md-maxlength="3"
                                                       ng-model="option.days">
                                            </md-input-container>
                                        </div>

                                        <div flex="25" flex-xs="100" flex-sm="25"
                                             flex-gt-lg="25">
                                            <md-input-container
                                                    class="md-block bb-container-cust">
                                                <label hide-gt-xs>Percentage ( % )</label>
                                                <input aria-label="percentage"
                                                       md-maxlength="3"
                                                       ng-model="option.percentage">
                                            </md-input-container>
                                        </div>
                                    </div>

                                </md-card>
                            </div>
                        </div>


                    </div>
                    <div layout-padding layout="row" layout-xs='row' layout-xs="column"
                         layout-sm="row" layout-gt-lg="row" layout-wrap>
                        <div flex="20" flex-xs="100" flex-sm="25" flex-gt-lg="15">
                            <md-button ng-disabled="companyPaymentForm.$pristine" type="submit"
                                       class="md-raised md-primary bb-wid-100 bb-comment-btn">
                                Save
                            </md-button>
                        </div>

                        <div flex="20" flex-xs="100" flex-sm="25" flex-gt-lg="15">
                            <md-button ng-click="reset(companyPaymentForm)"
                                       class="md-raised md-accent bb-wid-100 bb-comment-btn">
                                Reset
                            </md-button>
                        </div>

                        <div flex="60" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                            <div data-ng-show="success" class="text-center text-success">
                                <strong>Saved Options Successfully</strong>
                            </div>
                            <div data-ng-show="error" class="text-center text-danger">
                                <strong data-ng-bind="error"></strong>
                            </div>
                        </div>
                    </div>
                </form>
            </md-content>
        </md-tab>
        <md-tab label="PAYMENT MODE" label="PAYMENT MODE" ng-click="selValTabs('paymentmode');">
            <md-content class="md-padding">
                <form name="companyPaymentFormMode" data-ng-submit="updateUserBusinessProfile(companyPaymentFormMode.$valid)">
                    <div layout="row" layout-xs='row' layout-xs="column"
                         layout-sm="row" layout-gt-lg="row" layout-wrap>

                        <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                            <md-checkbox
                                    ng-model="company.settings.paymentModes.cash">
                                Cash
                            </md-checkbox>
                        </div>

                        <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                            <md-checkbox ng-model="company.settings.paymentModes.cheque">
                                Cheque
                            </md-checkbox>
                        </div>

                        <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                            <md-checkbox ng-model="company.settings.paymentModes.neft">
                                NEFT
                            </md-checkbox>
                        </div>
                        <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                            <md-checkbox ng-model="company.settings.paymentModes.rtgs">
                                RTGS
                            </md-checkbox>
                        </div>
                        <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                            <md-checkbox ng-model="company.settings.paymentModes.imps">
                                IMPS
                            </md-checkbox>
                        </div>

                        <div ng-disabled="true" flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                            <md-checkbox ng-disabled="true" ng-model="company.settings.paymentModes.online">
                                Online
                            </md-checkbox>
                        </div>
                    </div>
                    <div layout-padding layout="row" layout-xs='row' layout-xs="column"
                         layout-sm="row" layout-gt-lg="row" layout-wrap>
                        <div flex="20" flex-xs="100" flex-sm="25" flex-gt-lg="15">
                            <md-button ng-disabled="companyPaymentFormMode.$pristine"
                                       type="submit"
                                       class="md-raised md-primary bb-wid-100">Save
                            </md-button>
                        </div>
                        <div flex="20" flex-xs="100" flex-sm="25" flex-gt-lg="15">
                            <md-button ng-click="reset(companyPaymentFormMode)"
                                       class="md-raised md-accent bb-wid-100">Reset
                            </md-button>
                        </div>

                        <div flex="60" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                            <div data-ng-show="success" class="text-center text-success">
                                <strong>Saved Options Successfully</strong>
                            </div>
                            <div data-ng-show="error" class="text-center text-danger">
                                <strong data-ng-bind="error"></strong>
                            </div>
                        </div>
                    </div>
                </form>
            </md-content>
        </md-tab>
      <!--  <md-tab>
            <add-business-unit></add-business-unit>
        </md-tab>
        <md-tab>
           <add-business-user></add-business-user>
        </md-tab>-->
<!--
  <md-tab label="REPORTS"  ng-show="false" ng-disabled="company.inventories.length===0" ng-click="selValTabs('reports');">
      <md-content class="md-padding">
     <form name="companyReports" data-ng-submit="updateUserBusinessProfile(companyPaymentForm.$valid)">
        <div  layout="row" layout-xs='row' layout-xs="column"
   layout-sm="row" layout-gt-lg="row" layout-wrap>
      <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="80">
               <div class="bb-paymentopt bb-pos-rel" layout-margin
                    layout="row" flex
                           layout-xs='row' layout-xs="column" layout-sm="row"
                           layout-gt-lg="row" layout-wrap ng-repeat="option in reportTypes track by $index">
                              <div flex="10" flex-xs="100" flex-sm="10"


                                       flex-gt-lg="10">
                               <md-input-container
                             class="md-block">
                      <label aria-label="description"
                           md-maxlength="128"
                  ng-model="option">{{option}}</label>
                             </md-input-container>
             </div>
               <div flex="20" flex-xs="100" flex-sm="20" flex-gt-lg="20">
                     <md-datepicker  md-date-locale="monthFormat" md-mode="month" required ng-model="from">
                </md-datepicker>
                     </div>

                   <div flex="10" flex-xs="100" flex-sm="10"
                  flex-gt-lg="10" ng-repeat="formats in reportFormats track by $index">
              <md-input-container class="md-block">
               <label aria-label="percentage"
                  md-maxlength="3"
                 ng-model="formats">{{formats}}</label>

                </md-input-container>
              </div>
         </div>
       </div>
       </div>
        <div layout-padding layout="row" layout-xs='row' layout-xs="column"

           layout-sm="row" layout-gt-lg="row" layout-wrap>
          <div flex="60" flex-xs="100" flex-sm="50" flex-gt-lg="50">
            <div data-ng-show="success" class="text-center text-success">
             <strong>Saved Options Successfully</strong>
          </div>
          <div data-ng-show="error" class="text-center text-danger">
           <strong data-ng-bind="error"></strong>
        </div>
        </div>
       </div>
       </form>
        </md-content>
        </md-tab>-->
    </md-tabs>
</div>
