<section data-ng-controller="BusinessSettingsController" data-ng-init="findOne(true)">
	<head-bar nvipanipath="context"></head-bar>

		<md-card class="md-whiteframe-3dp nvc-content layout-padding submenu" layout="row" layout-sm="row" layout-xs="row" layout-gt-lg="row" layout-wrap layout-padding>
			<div flex="60" flex-sm="60" flex-xs="60" flex-gt-lg="60"
                 layout="row" layout-sm="row" layout-xs="row" layout-gt-lg="row" layout-padding>
				<div flex="20" flex-sm="20" flex-xs="20" flex-gt-lg="15" layout="column" layout-align="space-between center" ng-show="!editCompany">
                    <img ng-src="{{company.profileImageURL}}" class="bb-wid-100 nvc-display-block img-circle nvc-img-circle" square-image>
                    <md-button class="md-primary md-raised nvc-shape-pill" aria-label="fav button" ng-click="setCompanyEdit()">Edit</md-button>
				</div>
                <div flex="20" flex-xs="20" flex-sm="20" flex-gt-lg="15" layout="column" layout-align="space-between center" ng-show="editCompany">
                    <img ng-src="{{company.profileImageURL}}" class="bb-wid-100 nvc-display-block img-circle nvc-img-circle" square-image>
                    <span class="bb-ubtn bb-btn-file nv-position-absolute nvc-margin-top-10">
                        <i title="Upload images" class="fa fa-camera fa-2x" ></i>
                        <input type="file" ng-model="company.profileImageURL" uploadpathkey='users' accept="image/*" uploader="uploader" />
                    </span>

                </div>
				<div flex="80" flex-sm="80" flex-xs="80" flex-gt-lg="80" class="layout-padding nvc-layout-divider"
                     layout="column" layout-wrap layout-align="start stretch">
                    <div layout="row" layout-sm="row">
                        <div flex="50" flex-sm="50" flex-xs="50" flex-gt-lg="50" ng-show="!editCompany">
                            <h6>Company Name</h6>
                            <label class="bb-truncate">{{company.name}}</label>
                        </div>
                        <div flex="50" flex-sm="50" flex-xs="50" flex-gt-lg="50" ng-show="editCompany">
                            <md-input-container class="md-block bb-wid-100 nvc-margin-bottom-0">
                                <label>Company Name</label>
                                <input  ng-model="company.name" name="name" >
                            </md-input-container>
                        </div>
                        <div flex="50" flex-sm="50" flex-xs="50" flex-gt-lg="50">
                            <h6 class="nvc-margin-top-0">Type</h6>
                            <label class="bb-truncate nvc-primary-color">{{company.registrationCategory.name}}</label>
                        </div>
                    </div>
				</div>
			</div>
             <!--================ Subscriptions plans and data must be implemented ============================-->
			<div flex="40" flex-sm="40" flex-xs="40" flex-gt-lg="40" layout-padding layout="row" layout-sm="row" layout-xs="row" layout-gt-lg="row" layout-wrap>
                <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                    <h4 > <span class="nvc-primary-color nv-text-bold">Subscription Plan: </span> 45 Days Free Trial</h4>
                </div>
                <div flex="50" flex-sm="50" flex-xs="50" flex-gt-lg="50">
                <h6>Status</h6>
                    <label><span class="nvc-primary-color">Active</span> (Till {{expiryDate | date:'dd MMM yyyy'}})</label>
                </div>
                <div flex="50" flex-sm="50" flex-xs="50" flex-gt-lg="50">
                    <h6>Next chargeable amount</h6>
                    <label> 1200</label>
                </div>
                <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100" class="nvc-product-detail nvc-primary-color nvc-margin-bottom-10" layout="row" layout-align="space-around center">
                    <div>
                        Renew Plan
                    </div>
                    <md-divider class="nvc-divider"></md-divider>
                    <div>
                        payment History
                    </div>
                </div>
			</div>
            <!--================= End of subscriptions plans ======================================================-->
		</md-card>

	<div class="nvc-content" id="business-tabs">
        <md-tabs md-dynamic-height md-border-bottom md-selected="myTabIndex" ng-init="myTabIndex=0;">
            <md-tab label="Business Units" ng-init="myTabIndex=0;findUserGroups();" ng-click="findOne(true)">
                <md-content ng-if="myTabIndex===0">
                    <div layout="row" layout-align="center center" class="nvc-margin-top-10 nvc-margin-bottom-10">
                        <div class="nvc-input-btngrp nv-position-relative" flex="30">
                            <input placeholder="Search..." type="text" ng-model="searchText">
                            <span>
                                <button class="nvc-input-button" type="button" ng-click="find()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div flex>
                        </div>
                            <div ng-show="getSelectedUnits()>0 && (userRole === 'Admin')">
                                <md-menu>
                                    <md-button ng-click="$mdOpenMenu($event)" class="md-primary md-raised nvc-shape-pill">
                                        Group Actions
                                        <span class="caret"></span>
                                    </md-button>
                                    <md-menu-content>
                                        <md-menu-item>
                                            <md-button md-auto-focus ng-click="businessUnitBatchOperations(0)" id="delete-mass-units">
                                                <md-icon class="fa fa-trash"></md-icon>Delete
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button ng-click="businessUnitBatchOperations(1)" id="enable-mass-units">
                                                <md-icon class="fa fa-check"></md-icon>Enable
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button ng-click="businessUnitBatchOperations(2)" id="disable-mass-units">
                                                <md-icon class="fa fa-ban"></md-icon>Disable
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </div>

                        <md-button class="md-primary md-raised nvc-shape-pill" aria-label="addBunit" ng-show="(userRole === 'Admin')" id="add-business-unit" ng-click="addBussiness('unit')">New +</md-button>
                    </div>

                    <table class="nvc-content-table bb-wid-100" id="businessUnitTable">
                        <thead>
                        <tr>
                            <td class="td-checkbox-width" ng-show="!isCriteria && (userRole === 'Admin')"><nv-check-box  selectedlist="selectedList" orginallist="company.businessUnits" sort-by="-created"></nv-check-box>
                                <!--<md-checkbox class="ng-hide md-primary"  ng-model="selectedAll" aria-label="batch operations">

                                </md-checkbox>--></td>
                            <td>Unit Name</td>
                            <td>Incharge</td>
                            <td>Status</td>
                            <td>View</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="unit in company.businessUnits">
                            <td class="td-checkbox-width" ng-show="!isCriteria && (userRole === 'Admin')">
                                <md-checkbox  ng-show="!unit.defaultBusinessUnit" class="md-primary bb-center" ng-model="unit.selected" aria-label="BusinessUnit Selection">
                            </md-checkbox></td>

                            <td ng-click="panelChange('businessUnit',unit)">
                                <span class="nv-text-bold">{{unit.businessUnit.name}}</span>
                                <h6>{{unit.businessUnit.addresses[0].city}}</h6>
                            </td>
                            <td>
                                <h5 class="nv-text-bold">{{getBusinessUnitIncharge(unit.businessUnit._id)}}</h5>
                                <h6>{{getBusinessUnitInchargeStatus(unit.businessUnit._id)}}</h6>
                            </td>
                            <!--<td>
                                <span class="nv-text-bold">{{unit.businessUnit.businessUnitRevenue}}</span>
                            </td>-->
                            <td ng-init="getEachBusinessUnitStatus(unit.businessUnit)" ng-show="((!unit.defaultBusinessUnit) && (userRole === 'Admin'))"><!--<span ng-class="unit.businessUnit.disabled?'nvc-accent-100-color':'nvc-primary-color'">
                                {{unit.businessUnit.disabled ? 'Disabled':'Active'}}</span>-->
                                <md-switch ng-model="unit.businessUnit.toggle" class="md-primary"  name="status" aria-label="businessUserStatus"
                                           ng-change="updateBusinessUnit(unit.businessUnit,unit.businessUnit.toggle ? 2:3)">
                                    {{unit.businessUnit.toggle ? 'Active':'Inactive'}}
                                </md-switch>
                            </td>
                            <td ng-show="unit.defaultBusinessUnit || (userRole === 'Employee') || (userRole === 'Manager')">
                                <h5 class="nv-text-bold">Active</h5>
                            </td>
                            <td class='nvc-primary-color' ng-click="panelChange('businessUnit',unit);">
                                <span class="fa fa-eye" ></span>&nbsp;&nbsp;&nbsp;view
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-content>
            </md-tab>
            <md-tab label="Business Users" ng-init="myTabIndex=1;" ng-click="panelChange('businessUserViewAll','null');">
                <md-content ng-if="myTabIndex===1">
                    <div ng-show="company.employees.length>0">
                    <div layout="row" layout-align="center center" class="nvc-margin-top-10 nvc-margin-bottom-10">
                        <div class="nvc-input-btngrp nv-position-relative" flex="30">
                            <input placeholder="Search..." type="text" ng-model="searchBusinessUserText">
                            <span>
                                <button class="nvc-input-button" type="button" ng-click="findBusinessUsersByCompany()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <div flex>

                        </div>

                        <div ng-show="getCount()>0 && (userRole === 'Admin')" id="user-group-actions">
                            <md-menu>
                                <md-button ng-click="$mdOpenMenu($event)" class="md-primary md-raised nvc-shape-pill">
                                    Group Actions
                                    <span class="caret"></span>
                                </md-button>
                                <md-menu-content>
                                    <md-menu-item>
                                        <md-button md-auto-focus ng-click="businessUserBatchOperations(0)" id="delete-mass-users">
                                            <md-icon class="fa fa-trash"></md-icon>Delete
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button  ng-click="businessUserBatchOperations(1)" id="enable-mass-users">
                                            <md-icon class="fa fa-check"></md-icon>Enable
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button  ng-click="businessUserBatchOperations(2)" id="disable-mass-users">
                                            <md-icon class="fa fa-ban"></md-icon>Disable
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>

                        <md-button class="md-primary md-raised nvc-shape-pill" aria-label="addBuser" id="add-business-user" ng-show="(userRole === 'Admin')" ng-click="addBussiness('user');">New +</md-button>
                    </div>
                    <table class="nvc-content-table bb-wid-100" id="businessUserTable">
                        <thead>
                        <tr>
                            <td class="td-checkbox-width" ng-show="!isCriteria && (userRole === 'Admin')"><nv-check-box  selectedlist="selectedList" orginallist="company.employees" sort-by="-created"></nv-check-box>
                                <!--<md-checkbox class="ng-hide md-primary"  ng-model="selectedAll" aria-label="batch operations"></md-checkbox>--></td>
                            <td hide-xs></td>
                            <td>User Name</td>
                            <td>User Group</td>
                            <td>Status</td>
                            <td>View</td>

                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="eachEmployee in company.employees|orderBy:'-created'|filter:searchBusinessUserText |itemsPerPage:itemsPerPage"
                            pagination-id="paginationId" total-items="total_count" id="businessUser-{{$index}}"ng-init="getEachEmployeeStatus(eachEmployee)">
                            <td class="td-checkbox-width" ng-show="!isCriteria && (userRole === 'Admin')"><md-checkbox  ng-show="(eachEmployee.user.userType === 'Employee')" class="md-primary bb-center" ng-model="eachEmployee.selected" aria-label="Contact Selection">
                            </md-checkbox></td>

                            <td class="td-image-width" hide-xs><span class="nv-position-relative nvc-display-inlineblock">
                                            <img ng-src="{{eachEmployee.user.profileImageURL}}"
                                                 class="img-responsive bb-img-center-prod">
                                        </span></td>
                            <td ng-click="panelChange('businessUser',eachEmployee);">{{eachEmployee.user.username}}</td>
                            <td>{{eachEmployee.userGroup.name}}</td>
                            <td><md-switch  ng-show="(eachEmployee.status) !== 'Request' && (eachEmployee.user.userType === 'Employee') && (userRole === 'Admin')" ng-model="eachEmployee.toggle"
                                                  class="md-primary"  name="status" aria-label="businessUserStatus" ng-change="updateEmployeeStatus(eachEmployee,$index)">
                                    {{eachEmployee.status}}
                                </md-switch>
                                <span ng-show="(eachEmployee.status) === 'Request' || (eachEmployee.user.userType === 'User') ||(userRole === 'Employee') ||(userRole === 'Manager')">{{eachEmployee.status}}</span>

                            </td>
                            <td class='nvc-primary-color' ng-click="panelChange('businessUser',eachEmployee);">
                                <span class="fa fa-eye" ></span>&nbsp;&nbsp;&nbsp;view
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                    <div ng-show="company.employees.length===0" layout="row" layout-wrap layout-align="center cenrer" class="nvc-no-list-illustration">
                        <div flex="15">
                            <img src="/modules/contacts/img/zero-contacts.png" class="bb-wid-100">
                        </div>
                        <div flex="100" class="nv-text-center">
                            <h4 class="nv-text-bold">Your business users list is empty</h4>
                            <h5>Looks like you haven't added any business users yet</h5>
                        </div>
                        <div flex="100" layout="row" layout-align="center center" class="submenu">
                            <md-button class="md-primary nvc-shape-pill nvc-accent-border" ng-click="addBussiness('user');">Create New business user</md-button>
                        </div>
                    </div>
                    <div class="nv-text-right">
                        <dir-pagination-controls pagination-id="paginationId" on-page-change="findBusinessUsersByCompany(newPageNumber)"
                                                 max-size="8"
                                                 direction-links="true"
                                                 boundary-links="true" >
                        </dir-pagination-controls>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Company info" ng-init="myTabIndex=2" ng-click="findOne(false)">
                <md-content class="layout-padding nvc-landing-offers-tabs" ng-if="myTabIndex===2">
                    <form name="companyForm" data-ng-submit="updateCompanyBusinessProfile(companyForm.$valid)" autocomplete="off">
                        <h5 class="nv-text-bold">Credentials:</h5>
                        <div class="layout-padding nvc-margin-10 nvc-padding-10" layout-align="space-around center" layout="row" layout-sm="row" layout-xs="row" layout-gt-lg="row" layout-wrap>
                            <div flex="20" flex-xs="20" flex-sm="20" flex-gt-lg="20">
                                <md-input-container class="md-block bb-wid-100 nvc-margin-bottom-0">
                                    <label>GSTIN No</label>
                                    <input  ng-model="company.gstinNumber" name="name" nv-regulation-exp="gstin">
                                </md-input-container>
                            </div>
                            <div flex="20" flex-xs="20" flex-sm="20" flex-gt-lg="20">
                                <md-input-container class="md-block bb-wid-100 nvc-margin-bottom-0">
                                    <label>PAN No</label>
                                    <input  ng-model="company.panNumber"  name="name" nv-regulation-exp="pan">
                                </md-input-container>
                            </div>
                            <div flex="20" flex-sm="20" flex-xs="20">
                                <h6 class="nvc-margin-top-0">GSTIN Proof</h6>
                                <div flex="100" layout="row" layout-align="space-around center" class="nvc-bottom-tag" id="companyGstinproof">
                                <span class="bb-btn-file bb-cursor">
                                    <input type="file" ng-model="company.gstinNumberProof" uploadpathkey='businessprofile' ng-show="userRole=== 'Admin'" uploader="uploader" />
                                    <span ng-if="!company.gstinNumberProof" class="fa fa-link "></span>&nbsp;&nbsp;Add
                                    </span>
                                    <span ng-if="company.gstinNumberProof"><a href="{{company.gstinNumberProof}}" target="_blank" ><span class="fa fa-eye"></span></a></span>
                                    <span ng-if="company.gstinNumberProof"><a href="{{company.gstinNumberProof}}" download><span class="fa fa-download"></span></a></span>
                                </div>
                            </div>
                            <div flex="20" flex-sm="20" flex-xs="20">
                                <h6 class="nvc-margin-top-0">PAN Proof</h6>
                                <div flex="100" layout="row" layout-align="space-around center"  class="nvc-bottom-tag" id="companyPannoproof">
                                <span class="bb-btn-file bb-cursor">
                                    <input type="file" ng-model="company.panNumberProof" uploadpathkey='businessprofile' ng-show="userRole=== 'Admin'" uploader="uploader" />
                                    <span ng-if="!company.panNumberProof" class="fa fa-link "></span>&nbsp;&nbsp;Add
                                    </span>
                                    <span ng-if="company.panNumberProof"><a href="{{company.panNumberProof}}" target="_blank" ><span class="fa fa-eye"></span></a></span>
                                    <span ng-if="company.panNumberProof"><a href="{{company.panNumberProof}}" download><span class="fa fa-download"></span></a></span>
                                </div>
                            </div>
                        </div>
                        <h5 class="nv-text-bold layout-padding">Bank Account Details:</h5>
                        <div class="layout-padding nvc-margin-10 nvc-padding-10" layout-align="space-around center" layout="row" layout-sm="row" layout-xs="row" layout-gt-lg="row" layout-align="space-around center" layout-wrap>
                            <div flex="20" flex-xs="20" flex-sm="20" flex-gt-lg="20">
                                <md-input-container   class="md-block bb-wid-100 nvc-margin-top-0" >
                                    <label>Account No</label>
                                    <input ng-model="company.bankAccountDetails.bankAccountNumber" name="accountNo">
                                </md-input-container>
                            </div>
                            <div flex="20" flex-xs="20" flex-sm="20" flex-gt-lg="20">
                                <md-input-container  class="md-primary bb-wid-100 nvc-margin-top-0 nvc-margin-bottom-20" md-no-float>
                                    <md-select ng-model="company.bankAccountDetails.accountType" name="acType" aria-label="acType"
                                               placeholder="Bank Ac Type">
                                        <md-option  value="Current" id="companyCurrent">
                                            <span>Current</span>
                                        </md-option>
                                        <md-option  value="Saving" id="companySaving">
                                            <span>Saving</span>
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div flex="20" flex-xs="20" flex-sm="20" flex-gt-lg="20">
                                <md-input-container class="md-block bb-wid-100 nvc-margin-bottom-0">
                                    <label>Bank name</label>
                                    <input  ng-model="company.bankAccountDetails.bankName" name="name" >
                                </md-input-container>
                            </div>
                            <div flex="20" flex-xs="20" flex-sm="20" flex-gt-lg="20">
                                <md-input-container  class="md-block bb-wid-100 nvc-margin-bottom-0">
                                    <label>IFSC code</label>
                                    <input  ng-model="company.bankAccountDetails.ifscCode" name="name" nv-regulation-exp="ifsc">
                                </md-input-container>
                            </div>

                        </div>
                        <h5 class="nv-text-bold">Phones & emails:</h5>
                        <div class="nvc-margin-10 nvc-padding-10" id="companyPhoneEmailTab">
                            <md-tabs md-dynamic-height md-border-bottom flex="100">
                                <md-tab label="Phone ( {{company.phones.length}} )">
                                    <md-content>
                                        <div flex="100" layout="row" ng-show="userRole=== 'Admin'" class="layout-align-start-center nvc-padding-left-0">
                                    <span class="md-primary fa fa-plus-circle fa-2x nvc-primary-color"  id="companyAddPhones" aria-label="favourite" ng-click="addPhone(company.phones)">
                                    </span>
                                            <h6 class="nvc-padding-left-10" >Add Phone</h6>
                                        </div>
                                        <div flex="100" layout-wrap layout="row" layout-sm="row" layout-xs="row" layout-align="center center"
                                             ng-repeat="phone in company.phones  track by $id(phone)" data-ng-form="phoneForm" ng-show="company.phones.length>0">
                                            <div flex="5" ng-show="userRole=== 'Admin'&& phone.isPublic">
                                                <md-icon ng-show="$index>0" class="fa fa-minus-circle fa-2x nv-red" aria-label="favourite" ng-click="company.phones.splice($index, 1)">
                                                    <md-tooltip>Remove Phone</md-tooltip>
                                                </md-icon>

                                            </div>
                                            <div flex="95" layout="row">
                                                <div flex="20">
                                                    <md-input-container class="md-block b-wid-100">
                                                        <md-select  ng-disabled="phone.isPublic" ng-model="phone.phoneType" id="companyPhoneType-{{$index}}" aria-label="phoneType">
                                                            <md-option ng-repeat="item in phoneTypes" id="companyPhone-{{item}}">{{item}}</md-option>
                                                        </md-select>
                                                    </md-input-container>
                                                </div>
                                                <div flex="80">
                                                    <md-input-container class="md-block bb-wid-100">
                                                        <label>Phone Number</label>
                                                        <input ng-disabled="phone.isPublic" data-ng-model="phone.phoneNumber" id="companyPhoneNumber-{{$index}}"  name="phoneNumber" nv-regulation-exp="phonenumber">

                                                    </md-input-container>
                                                </div>
                                            </div>
                                        </div>
                                    </md-content>
                                </md-tab>
                                <md-tab  label="E-mail ( {{company.emails.length}} )">
                                    <md-content>
                                        <div flex="100" layout="row" ng-show="userRole=== 'Admin'" class="layout-align-start-center nvc-padding-left-0">
                                    <span class="md-primary fa fa-plus-circle fa-2x nvc-primary-color" id="companyAddEmails" aria-label="favourite" ng-click="addEmail(company.emails)">
                                    </span>
                                            <h6 class="nvc-padding-left-10">Add Email</h6>
                                        </div>
                                        <div flex="100" layout-wrap layout="row" layout-sm="row" layout-xs="row" layout-align="center center"
                                             ng-repeat="email in company.emails  track by $id(email)" data-ng-form="emailForm" ng-show="company.emails.length>0">
                                            <div flex="5" ng-show="userRole=== 'Admin' && email.isPublic">
                                                <md-icon ng-show="$index>0" class="fa fa-minus-circle fa-2x nv-red" aria-label="favourite" ng-click="company.emails.splice($index, 1)">
                                                    <md-tooltip>Remove Email</md-tooltip>
                                                </md-icon>
                                            </div>
                                            <div flex="95" layout="row">
                                                <div flex="20">
                                                    <md-input-container class="md-block bb-wid-100">
                                                        <md-select ng-disabled="email.isPublic" ng-model="email.emailType" id="companyEmailType-{{$index}}" aria-label="emailType">
                                                            <md-option ng-repeat="item in emailTypes" id="companyEmail-{{item}}">{{item}}</md-option>

                                                        </md-select>
                                                    </md-input-container>
                                                </div>
                                                <div flex="80">
                                                    <md-input-container class="md-block bb-wid-100">
                                                        <label>E-mail</label>
                                                        <input   ng-disabled="email.isPublic" ng-model="email.email" id="companyEmail-{{$index}}" name="email" nv-regulation-exp="mail1">

                                                    </md-input-container>
                                                </div>
                                            </div>
                                        </div>
                                    </md-content>
                                </md-tab>
                            </md-tabs>
                        </div>
                        <h5 class="nv-text-bold">Address details:</h5>
                        <div class="nvc-margin-10 nvc-padding-10" id="companyAddressTab">
                            <add-addresses addresses="company.addresses" addresstypes="addressTypes" add-address="addAddress(addresses,tab)"></add-addresses>
                            <!--<md-tabs md-dynamic-height flex="100">
                                <md-tab ng-repeat="tab in addressTypes" label="{{tab}}">
                                    <md-content layout="row" layout-wrap>
                                        <div flex="100" layout="row" ng-show="userRole=== 'Admin'" class="layout-align-start-center nvc-padding-left-0">
                                    <span class="md-primary fa fa-plus-circle fa-2x nvc-primary-color"id="companyAddAddresses-{{$index}}" aria-label="favourite" ng-click="addAddress(company.addresses,tab)">
                                    </span>
                                            <h6 class="nvc-padding-left-10">Add Addresses</h6>
                                        </div>
                                        <div flex="100" layout="row" layout-wrap ng-repeat="address in company.addresses | filter:{addressType: tab}">
                                            <div flex="100" layout="row" class="layout-align-start-center nvc-padding-left-0" ng-show="$index>0">
                                        <span ng-show="$index>0 && userRole=== 'Admin'" class=" fa fa-minus-circle fa-2x nv-red" aria-label="favourite" ng-click="company.addresses.splice(company.addresses.indexOf(address), 1)">
                                        </span>
                                                <h6 ng-show="$index>0" class="nvc-padding-left-10">Addresses - {{$index+1}}</h6>
                                            </div>
                                            <div flex="95" layout="row" layout-wrap layout-padding>
                                                <div flex="100">
                                                    <md-input-container class="md-block bb-wid-100">
                                                        <label>Address Line</label>
                                                        <input ng-model="address.addressLine" name="addressLine">

                                                    </md-input-container>
                                                </div>
                                                <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                                                    <md-input-container class="md-block">
                                                        <label>City</label>
                                                        <input ng-model="address.city" name="city">

                                                    </md-input-container>
                                                </div>

                                                <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                                                    <md-input-container class="md-block">
                                                        <label>State</label>
                                                        <input ng-model="address.state" name="state">

                                                    </md-input-container>
                                                </div>

                                                <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                                                    <md-input-container class="md-block">
                                                        <label>Country</label>
                                                        <input ng-model="address.country" name="country">

                                                    </md-input-container>
                                                </div>

                                                <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                                                    <md-input-container class="md-block">
                                                        <label>Pin Code</label>
                                                        <input ng-model="address.pinCode" name="pinCode" ng-minlength="6" ng-maxlength="6" only-digits>

                                                    </md-input-container>
                                                </div>
                                            </div>
                                        </div>
                                    </md-content>
                                </md-tab>
                            </md-tabs>-->
                        </div>
                        <div layout="row" class="nvc-accent-background" layout-align="space-around center">
                            <md-button flex="100" class="md-primary nvc-margin-0 nvc-padding-0" type="submit" ng-disabled="companyForm.$invalid">Update company info</md-button>
                        </div>
                    </form>
                </md-content>
            </md-tab>
        </md-tabs>
    </div>
	<!--<div class="panel panel-primary submenu">
	<div class="panel-heading">
		Basic profile
	</div>
	<div class="panel-body">
	<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
		<fieldset>
			<div class="row col-md-12">
		<div class="form-group inline-block">
			<div class="col-md-2 col-sm-6 col-xs-6">
				<div class="form-group text-center">
					<img src="{{imageURL}}" alt="{{user.displayName}}"
						 class="img-circle user-profile-picture" width="80%" style="max-width: 200px">
				</div>
				<div class="text-center form-group" data-ng-hide="uploader.queue.length">
					<span class="btn btn-primary btn-file">
    					Select Image <input type="file" nv-file-select uploader="uploader">
					</span>
				</div>
				<div class="text-center form-group" data-ng-show="uploader.queue.length">
					<input type="button" value="Upload" class="btn btn-primary" data-ng-click="uploadProfilePicture();">
					<input type="button" value="Cancel" class="btn btn-default" data-ng-click="cancelUpload();">
				</div>
				<div data-ng-show="imgsuccess" class="text-center text-success">
					<strong>Profile Picture Changed Successfully</strong>
				</div>
				<div data-ng-show="imgerror" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
					</div>
			</div>
			<div class="form-group col-md-4 col-xs-6" style="padding-left: 3.5%;">
				<input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="First Name">
						&nbsp;&nbsp;

						<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="Last Name">
						&nbsp;&nbsp;
						<input type="text" id="middleName" name="middleName" class="form-control" data-ng-model="user.middleName" placeholder="Middle Name">
						&nbsp;&nbsp;
					</div>
             </div>
		</div>

			<div class="row col-md-12">

				<div class="col-md-8 col-sm-12 col-xs-12">
					<div class="form-group">
						<div class="col-sm-3">
							<label for="username">Email-Id</label>
						</div>
						<div class="col-sm-4">
							<input type="text" id="username" name="username" class="form-control" data-ng-model="user.username" placeholder="Email" readonly>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-3">
							<label for="mobile">Mobile</label>
						</div>
						<div class="col-sm-4">
							<input type="text" id="mobile" name="mobile" class="form-control" data-ng-model="user.mobile" placeholder="Mobile">
						</div>
					</div>
				</div>
			</div>
			<div class="row col-md-5">
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-success">Save</button>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>Profile Saved Successfully</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</div>
		</fieldset>
	</form>
	</div>
	</div>-->
</section>
