<section class="row" data-ng-controller="BusinessSettingsController" data-ng-init="findOne();">
    <h3 class="col-md-12 text-center">Business Profile</h3>

    <div class="col-xs-offset-2 col-xs-7 col-md-offset-4 col-md-4">
        <form editable-form name="companyForm" data-ng-submit="updateUserBusinessProfile(companyForm.$valid)"
              class="signin form-horizontal"
              autocomplete="off">

        <fieldset>
            <div class="form-group">
                <div class="form-group text-center">
                    <img data-ng-src="{{imageURL}}" alt="{{company.name}}"
                         class="img-thumbnail user-profile-picture">
                </div>
                <div class="text-center form-group" data-ng-hide="uploader.queue.length">
                        <span class="btn btn-default btn-file">
                            Select Image <input type="file" nv-file-select uploader="uploader">
                        </span>
                </div>
                <div class="text-center form-group" data-ng-show="uploader.queue.length">
                    <input type="button" value="Upload" class="btn btn-primary" data-ng-click="uploadProfilePicture();">
                    <input type="button" value="Cancel" class="btn btn-default" data-ng-click="cancelUpload();">
                </div>
                <div data-ng-show="imgsuccess" class="text-center text-success">
                    <strong>Profile Picture Changed Successfully</strong>
                </div>
                <div data-ng-show="imgerror" class="text-center text-danger">
                    <strong data-ng-bind="imgerror"></strong>
                </div>
            </div>
            <div class="form-group">
                <label for="companyName">Company Name</label>
                <input type="text" id="companyName" name="companyName" class="form-control" data-ng-model="company.name"
                       placeholder="Company Name">
            </div>
            <div class="form-group">
                <label for="profileUrl">Profile URL</label>
                <input type="text" id="profileUrl" name="profileUrl" class="form-control"
                       data-ng-model="company.profileUrl"
                       placeholder="Company Profile Url">
            </div>

                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label class="control-label">Phone </label>
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" data-ng-click="addPhone(company.phones)">+</button>
                                </div>
                                <label></label>
                                <label></label>
                                <hr>
                            </div>
                            <div data-ng-repeat="phone in company.phones track by $id(phone)" data-ng-form="phoneForm"
                                 class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label">{{phone.phoneType}}</label>
                                    <button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown"
                                            aria-expanded="true">
                                        <span class="control-label glyphicon glyphicon-chevron-down email-down-icon">
                                                            </span></button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a class="list-item" ng-click="phone.phoneType = 'Mobile'" role="button">Mobile</a></li>
                                        <li><a class="list-item" ng-click="phone.phoneType = 'Home'" role="button">Home</a></li>
                                        <li><a class="list-item" ng-click="phone.phoneType = 'Work'" role="button">Work</a></li>
                                        <li><a class="list-item" ng-click="phone.phoneType = 'Other'" role="button">Other</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" data-ng-model="phone.phoneNumber" id="phoneNumber" class="form-control"
                                           name="phoneNumber" placeholder="Phone Number" ng-minlength="10" , ng-maxlength="11"
                                           only-digits>
                                    <span class="text-danger"
                                          data-ng-show="phoneForm.phoneNumber.$dirty && phoneForm.phoneNumber.$invalid">
                                        <span data-ng-show="phoneForm.phoneNumber.$error.number">Not a valid phone number.</span>
                                        <span data-ng-show="phoneForm.phoneNumber.$error.minlength || phoneForm.phoneNumber.$error.maxlength">Phone Number length should be 10 to 11 digits.</span>
                                    </span>
                                </div>
                                <div class="col-sm-2">
                                    <label>Public:
                                        <input type="checkbox" ng-model="phone.isPublic">
                                    </label><br/>
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" data-ng-show="company.phones.length > 1"
                                            data-ng-click="company.phones.splice($index, 1)">-
                                    </button>
                                </div>

                            </div>
                            <hr>
            <div class="form-group">
                <div class="col-sm-10">
                    <label class="control-label">Email </label>
                </div>
                <div class="col-sm-2">
                    <button type="button" data-ng-click="addEmail(company.emails)">+</button>
                </div>
            </div>

            <hr>

            <div data-ng-repeat="email in company.emails  track by $id(email)" data-ng-form="emailForm" class="form-group">
                <div class="col-sm-4">
                    <label class="control-label">{{email.emailType}}</label>
                    <button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="true"><span
                            class="control-label glyphicon glyphicon-chevron-down email-down-icon">
                                                </span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a class="list-item" ng-click="email.emailType = 'Personal'" role="button">Personal</a></li>
                        <li><a class="list-item" ng-click="email.emailType = 'Work'" role="button">Work</a></li>
                        <li><a class="list-item" ng-click="email.emailType = 'Other'" role="button">Other</a></li>
                    </ul>

                </div>
                <div class="col-sm-6">
                    <input type="email" data-ng-model="email.email" id="email" name="email" class="form-control"
                           ng-required="isOneContactRequired();" ng-readonly="email.primary" placeholder="Email" maxlength="256">
                            <span class="text-danger" data-ng-show="emailForm.email.$dirty && emailForm.email.$invalid">
                                <span ng-show="emailForm.email.$error.email">Invalid email address.</span>
                                <span ng-show="emailForm.email.$error.maxlength">The email should not exceed 256 characters.</span>
                            </span>
                </div>
                <div class="col-sm-2">
                    <label>Public:
                        <input type="checkbox" ng-model="email.isPublic">
                    </label><br/>
                </div>
                <div class="col-sm-2">
                    <button type="button" data-ng-show="company.emails.length > 1"
                            data-ng-click="company.emails.splice($index, 1)">-
                    </button>
                </div>

            </div>
            <hr>
            <div class="form-group">
                <div class="col-sm-10">
                    <label class="control-label">Address </label>
                </div>
                <div class="col-sm-2">
                    <button type="button" data-ng-click="addAddress(company.addresses)">+</button>
                </div>
            </div>
            <hr>
            <div data-ng-repeat="address in company.addresses  track by $id(address)" data-ng-form="addressForm">
                <div class="form-group">
                    <div class="col-sm-4">
                        <label class="control-label">{{address.addressType}}</label>
                        <button type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="true"><span
                                class="control-label glyphicon glyphicon-chevron-down email-down-icon">
                                                </span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="list-item" ng-click="address.addressType = 'Billing'"
                                   role="button">Billing</a></li>
                            <li><a class="list-item" ng-click="address.addressType = 'Shipping'"
                                   role="button">Shipping</a></li>
                            <li><a class="list-item" ng-click="address.addressType = 'Receiving'" role="button">Receiving</a>
                            </li>
                            <li><a class="list-item" ng-click="address.addressType = 'Invoice'"
                                   role="button">Invoice</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <textarea rows="3" style="resize:none" data-ng-model="address.addressLine" id="addressLine"
                                  name="addressLine" class="form-control" placeholder="Address Line"
                                  maxlength="1024"> </textarea>
                                <span class="text-danger"
                                      data-ng-show="addressForm.addressLine.$dirty && addressForm.addressLine.$invalid">
                                    <span data-ng-show="addressForm.addressLine.$error.maxlength">The address line should not exceed 1024 characters.</span>
                                </span>
                    </div>
                    <div class="col-sm-2">
                        <label>Public:
                            <input type="checkbox" ng-model="address.isPublic">
                        </label><br/>
                    </div>
                    <div class="col-sm-2">

                        <button type="button" data-ng-show="company.addresses.length > 1"
                                data-ng-click="company.addresses.splice($index, 1)">-
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4">
                        <label class="control-label" for="city"></label>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" data-ng-model="address.city" id="city" name="city" class="form-control"
                               placeholder="City" maxlength="128">
                                <span class="text-danger"
                                      data-ng-show="addressForm.city.$dirty && addressForm.city.$invalid">
                                    <span data-ng-show="addressForm.city.$error.maxlength">The city should not exceed 128 characters.</span>
                                </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <label class="control-label" for="state"></label>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" data-ng-model="address.state" id="state" name="state" class="form-control"
                               placeholder="State" maxlength="128">
                                <span class="text-danger"
                                      data-ng-show="addressForm.state.$dirty && addressForm.state.$invalid">
                                    <span data-ng-show="addressForm.state.$error.maxlength">The state should not exceed 128 characters.</span>
                                </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <label class="control-label" for="country"></label>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" data-ng-model="address.country" id="country" name="country"
                               class="form-control" placeholder="Country" maxlength="128">
                                <span class="text-danger"
                                      data-ng-show="addressForm.country.$dirty && addressForm.country.$invalid">
                                    <span data-ng-show="addressForm.country.$error.maxlength">The country should not exceed 128 characters.</span>
                                </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <label class="control-label" for="pinCode"></label>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" data-ng-model="address.pinCode" id="pinCode" name="pinCode"
                               class="form-control" placeholder="Pincode" ng-minlength="6" ng-maxlength="6" only-digits>
                                <span class="text-danger"
                                      data-ng-show="addressForm.pinCode.$dirty && addressForm.pinCode.$invalid">
                                    <span data-ng-show="addressForm.pinCode.$error.maxlength || addressForm.pinCode.$error.minlength">Pincode should be 6 digits.</span>
                                    <span data-ng-show="addressForm.pinCode.$error.number">Pincode should number.</span>
                                </span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="clearboth table-responsive panel panel-default">
                <div class="panel-heading"><h4><span class="label label-primary">Products</span></h4></div>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Unit Measure</th>
                        <th>Unit Size</th>
                        <th>Unit Price</th>
                        <th>No Units</th>
                        <th>Public</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="product in company.products track by $id(index)">
                        <td><img data-ng-src="{{product.product.productImageURL1}}" alt="{{product.product.name}}"
                                 class="img-thumbnail product-profile-picture"/>
                            <a data-ng-href="products/{{product.product._id}}{{((user) && (user._id === product.product.user))?'/edit':''}}">{{product.product.name}}</a>
                        </td>
                        <td>{{product.product.unitMeasure}}</td>
                        <td>{{product.product.unitSize}}</td>
                        <td>{{product.product.unitPrice}}</td>
                        <td>{{product.product.numberOfUnits}}</td>
                        <td>{{product.isPublic?'Yes':'No'}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--
            <div class="panel panel-default table-responsive" data-ng-init="findProducts();">
                <div class="panel-heading"><h4><span class="label label-primary">Products</span></h4></div>
                <table class="table table-bordered table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Product Category</th>
                        <th>Sample Number</th>
                        <th>Unit Size</th>
                        <th>Unit Measure</th>
                        <th>Unit Price</th>
                        <th>No Units</th>
                        <th>Public</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="product in company.products track by $index">
                        <td>
                            <span ng-show="!companyForm.$visible" data-ng-bind="product.product.name"
                                  e-form="companyForm"></span>
                            <span ng-show="companyForm.$visible" editable-text="product.product"
                                  e-typeahead-on-select="selectProduct($item, $index);"
                                  e-name="name"
                                  e-typeahead="metaProduct as metaProduct.name for metaProduct in filterByProductName(metaProducts, $viewValue)"
                                  e-form="companyForm" e-autocomplete="off">
          {{ product.name || 'empty' }}</span></td>
                        <td><span ng-show="!companyForm.$visible" data-ng-bind="product.product.subCategory"
                                  e-form="updateform"></span>
                                <span ng-show="companyForm.$visible" editable-text="product.product.subCategory"
                                      e-name="subCategory" e-form="companyForm" e-readonly>
          {{ product.subCategory || 'empty' }}</span></td>
                        <td>
                            <span ng-show="!companyForm.$visible" data-ng-bind="product.sampleNumber"
                                  e-form="companyForm"></span>
                                <span ng-show="companyForm.$visible" editable-text="product.sampleNumber"
                                      e-ng-bind="product.sampleNumber"
                                      e-ng-change="changeProductSampleNumber($index,this);" e-name="sampleNumber"
                                      e-form="companyForm">
          {{ product.sampleNumber || 'empty' }}</span></td>
                        <td>
                            <span ng-show="!companyForm.$visible" data-ng-bind="product.unitSize"
                                  e-form="updateform"></span>
                                <span ng-show="companyForm.$visible" editable-text="product.unitSize"
                                      e-ng-change="changeProductUnitSize($index,this);" e-name="unitSize"
                                      e-form="companyForm">
          {{ product.unitSize || 'empty' }}</span></td>
                        <td><span ng-show="!companyForm.$visible" data-ng-bind="product.unitMeasure"
                                  e-form="companyForm"></span>
                                <span ng-show="companyForm.$visible" editable-text="product.unitMeasure"
                                      e-ng-change="changeProductUnitMeasure($index,this);" e-name="unitMeasure"
                                      e-form="companyForm">
                                {{ product.unitMeasure || 'empty' }}</span></td>
                        <td>
                            <span ng-show="!companyForm.$visible" data-ng-bind="product.unitPrice"
                                  e-form="companyForm"></span>
                                <span ng-show="companyForm.$visible" editable-text="product.unitPrice"
                                      e-name="unitPrice" e-ng-change="changeProductUnitPrice($index,this);"
                                      e-form="companyForm">{{ product.unitPrice || 'empty'}}
                            </span></td>
                        <td><span ng-show="!companyForm.$visible" data-ng-bind="product.numberOfUnits"
                                  e-form="companyForm"></span>
                                <span ng-show="companyForm.$visible" editable-text="product.numberOfUnits"
                                      e-ng-change="changeProductNumberOfUnits($index,this);"
                                      e-name="numberOfUnits"
                                      e-form="companyForm">{{ product.numberOfUnits || 'empty'}}</span></td>
                        <td><span ng-show="!companyForm.$visible" data-ng-bind="product.public"
                                  e-form="companyForm"></span>
                                <span ng-show="companyForm.$visible" editable-checkbox="product.public"
                                      e-ng-change="changeProductPublic($index,this);"
                                      e-name="public"
                                      e-form="companyForm">{{ product.public || true}}</span></td>
                        <td ng-show="companyForm.$visible">
                            <button type="button" ng-show="companyForm.$visible"
                                    ng-click="company.products.splice($index, 1)"
                                    class="btn btn-danger pull-right">-
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>-->
            <!-- buttons -->
            <div class="form-group">
                <div class="btn-form">
                    <a href="/products/create">ADD Product</a>
                </div>
            </div>
            <hr>

            <div class="text-center form-group">
                    <button type="submit" class="btn btn-large btn-primary">Save My Business</button>
                </div>
                <div data-ng-show="success" class="text-center text-success">
                    <strong>Business Profile Saved Successfully</strong>
                </div>
                <div data-ng-show="error" class="text-center text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
