<section class="wrapper firsec-bg">
   <div class="row">
       <div class="col-lg-12">
           <div class="col-lg-4">



               <div  class="addr-prof">
                   <h5 class="tabtxt heading">Kshetra Agricultural Products</h5>

                   <div class="data-item">
                       <p><i class="fa fa-home"></i>2-62, 3rd Cross, Annamaiah Nagar, Near</p>
                       <p><i class="fa fa-road"></i>Bairagi Patteda,Tirupathi</p>
                       <p><i class="glyphicon glyphicon-map-marker"></i>Andhra Pradesh- 517501</p>
                       <p><i class="fa fa-flag"></i>India</p>
                   </div>

               </div>


           </div>
           <div class="col-lg-4">
               <div  class="addr-prof m-top-35">
               <div class="data-item">
                   <p><i class="fa fa-phone"></i>+91-9494536238</p>
                   <p><i class="fa fa-envelope"></i>farmersfreshindia@gmail.com</p>
               </div>
           </div>
               </div>

       </div>
       <div class="col-lg-12">

           <div role="tabpanel">
               <!-- Nav tabs -->
               <div class="tabs tabs-style-linebox-p">
                   <ul class="nav nav-tabs p-tab" role="tablist">
                       <li role="presentation" class=" active">
                           <a class="tabtxt"  aria-expanded="false" href="#offers" role="tab"
                              data-toggle="tab">OFFERS</a></li>

                       <li role="presentation" ><a
                               class="tabtxt" aria-expanded="true" href="#products" role="tab"
                               data-toggle="tab">PRODUCTS</a></li>

                   </ul>
               </div>
               <!-- Tab panes -->
               <div class="tab-content">
                   <div role="tabpanel" class="tab-pane active" id="offers">


                       <!--1st starts-->
                       <section class="wrapper firsec-bg">

                           <ul class="nav top-menu comp-profile">



                               <li class="pull-right">
                                   <select class="form-control input-sm">
                                       <option label="Category" selected="selected" value="0">Sub-Category-2</option>
                                       <option  value="1">Agriculture</option>
                                       <option  value="2">Food & Beverages</option>
                                       <option  value="3">Apparels</option>
                                   </select>
                               </li>
                               <li class="pull-right">
                                   <select class="form-control input-sm">
                                       <option label="Category" selected="selected" value="0">Sub-Category-1</option>
                                       <option  value="1">Agriculture</option>
                                       <option  value="2">Food & Beverages</option>
                                       <option  value="3">Apparels</option>
                                   </select>
                               </li>
                               <li class="pull-right">
                                   <select class="form-control input-sm">
                                       <option label="Category" selected="selected" value="0">Category</option>
                                       <option  value="1">Agriculture</option>
                                       <option  value="2">Food & Beverages</option>
                                       <option  value="3">Apparels</option>
                                   </select>
                               </li>
                               <li class="pull-right">
                                   <label>Sort-by :</label>
                               </li>
                           </ul>

                           <div class="row firsec-bg comp-prof-border">
                               <div class="col-lg-12 m-top15 col-sm-12">
                                   <div class="col-lg-2">
                                       <img alt="" class="simple img-fix img-center o-img-fix"
                                            data-ng-src="/modules/core/img/dashboard/partner1.png">

                                   </div>
                                   <div class="col-lg-10 col-sm-10">
                                       <div class="offerlist-timeline">

                                           <p class="timeline-comment-text">Naturally Formed Jaggery Powder with 10% margin</p>
                                           <div class="offer-by">
                                               <p>{{offer.user.displayName}}</p>
                                           </div>
                                       </div>
                                       <!-- <p class="o-title">14 people watching</p>-->
                                       <div class="col-lg-12 col-sm-12 lg m-top15">
                                           <div class="col-lg-2 lg col-sm-2">
                                               <label class="flabel">MOQ:<span>40Kg</span></label>
                                           </div>
                                           <div class="col-lg-2 lg col-sm-2">
                                               <label class="flabel">Valid-Till:<span>18-Apr-2016</span></label>
                                           </div>
                                           <div class="col-lg-2 lg col-sm-2">
                                               <label class="flabel">Unit Price:<span>Rs 2700/-</span></label>
                                           </div>
                                           <div class="col-lg-2 lg col-sm-2">
                                               <label class="flabel">Offer Units :<span>100</span></label>
                                           </div>
                                           <div class="col-lg-2 lg col-sm-2">
                                               <label class="flabel">Unit Size:<span>50kgs</span></label>
                                           </div>

                                           <div class="col-lg-3 col-lg-offset-4 col-sm-offset-4  col-sm-3 m-top15">
                                               <button type="button" class="btn btn-save">Sample Request</button>
                                           </div>

                                           <div class="col-lg-3  col-sm-3 m-top15" >
                                               <button type="button" class="btn btn-save">Place order</button>
                                           </div>

                                       </div>

                                   </div>
                                   <!--<div class="col-lg-3 col-sm-4">-->
                                   <!--<h5  class="flabel">Valid Till:</h5>-->
                                   <!--<label>{{offer.validTill | date:"dd-MM-yyyy"}}</label>-->
                                   <!--<button type="button" class="btn btn-save" ng-click="createOrder(offer);">Place order-->
                                   <!--</button>-->
                                   <!--</div>-->
                                   <div class="col-lg-12 col-sm-12">
                                       <hr class="nline">
                                   </div>
                               </div>
                               <div class="col-lg-12 m-top15  col-sm-12">
                                   <div class="col-lg-2">
                                       <img alt="" class="simple img-fix img-center o-img-fix"
                                            data-ng-src="/modules/core/img/dashboard/partner2.png">

                                   </div>
                                   <div class="col-lg-10">
                                       <div class="offerlist-timeline">

                                           <p class="timeline-comment-text">Naturally Formed Jaggery Powder with 10% margin</p>
                                           <div class="offer-by">
                                               <p>{{offer.user.displayName}}</p>
                                           </div></div>
                                       <!-- <p class="o-title">14 people watching</p>-->
                                       <div class="col-lg-12 lg m-top15">
                                           <div class="col-lg-2 lg col-sm-2">
                                               <label class="flabel">MOQ:<span>40Kg</span></label>
                                           </div>
                                           <div class="col-lg-2 lg col-sm-2">
                                               <label class="flabel">Valid-Till:<span>18-Apr-2016</span></label>
                                           </div>
                                           <div class="col-lg-2 lg col-sm-2">
                                               <label class="flabel">Unit Price:<span>Rs 2700/-</span></label>
                                           </div>
                                           <div class="col-lg-2 lg col-sm-2">
                                               <label class="flabel">Offer Units :<span>100</span></label>
                                           </div>
                                           <div class="col-lg-2 lg col-sm-2">
                                               <label class="flabel">Unit Size:<span>50kgs</span></label>
                                           </div>

                                           <div class="col-lg-3 col-lg-offset-4  col-sm-2 m-top15">
                                               <button type="button" class="btn btn-save">Sample Request</button>
                                           </div>

                                           <div class="col-lg-3  col-sm-2 m-top15" >
                                               <button type="button" class="btn btn-save">Place order</button>
                                           </div>

                                       </div>

                                   </div>
                                   <!--<div class="col-lg-3 col-sm-4">-->
                                   <!--<h5  class="flabel">Valid Till:</h5>-->
                                   <!--<label>{{offer.validTill | date:"dd-MM-yyyy"}}</label>-->
                                   <!--<button type="button" class="btn btn-save" ng-click="createOrder(offer);">Place order-->
                                   <!--</button>-->
                                   <!--</div>-->
                                   <div class="col-lg-12">
                                       <hr class="nline">
                                   </div>
                               </div>
                           </div>
                       </section>
                   </div>

                   <div role="tabpanel" class="tab-pane" id="products">
                       <section class="wrapper firsec-bg">
                           <ul class="nav top-menu comp-profile">



                               <li class="pull-right">
                                   <select class="form-control input-sm">
                                       <option label="Category" selected="selected" value="0">Sub-Category-2</option>
                                       <option  value="1">Agriculture</option>
                                       <option  value="2">Food & Beverages</option>
                                       <option  value="3">Apparels</option>
                                   </select>
                               </li>
                               <li class="pull-right">
                                   <select class="form-control input-sm">
                                       <option label="Category" selected="selected" value="0">Sub-Category-1</option>
                                       <option  value="1">Agriculture</option>
                                       <option  value="2">Food & Beverages</option>
                                       <option  value="3">Apparels</option>
                                   </select>
                               </li>
                               <li class="pull-right">
                                   <select class="form-control input-sm">
                                       <option label="Category" selected="selected" value="0">Category</option>
                                       <option  value="1">Agriculture</option>
                                       <option  value="2">Food & Beverages</option>
                                       <option  value="3">Apparels</option>
                                   </select>
                               </li>
                               <li class="pull-right">
                                   <label>Sort-by :</label>
                               </li>
                           </ul>

                           <div class="row firsec-bg comp-prof-border">



                               <div class="col-lg-12 m-top15  col-sm-12">
                                   <div class="col-lg-2">
                                       <img alt="" class="simple img-fix img-center o-img-fix"
                                            data-ng-src="/modules/core/img/dashboard/partner3.png">

                                   </div>
                                   <div class="col-lg-10">
                                       <div class="offerlist-timeline">

                                           <p class="timeline-comment-text">Jaggery Powder</p>
                                           <div class="offer-by">
                                               <p>{{offer.user.displayName}}</p>
                                           </div></div>
                                       <!-- <p class="o-title">14 people watching</p>-->
                                       <div class="col-lg-12 lg m-top15">
                                           <div class="col-lg-2 lg col-sm-2">
                                               <label class="flabel">MRP:<span>40Kg</span></label>
                                           </div>
                                           <div class="col-lg-2 lg col-sm-2">
                                               <label class="flabel">Units:<span>100</span></label>
                                           </div>

                                           <div class="col-lg-2 lg col-sm-2">
                                               <label class="flabel">Unit Size:<span>50kgs</span></label>
                                           </div>

                                           <div class="col-lg-3 lg col-sm-2">
                                               <label class="flabel">Sample Number:<span>JAG-1234</span></label>
                                           </div>

                                           <div class="col-lg-2 lg col-sm-2">
                                               <label class="flabel">Category:<span>Agriculture</span></label>
                                           </div>

                                           <div class="col-lg-3 col-lg-offset-4  col-sm-2 m-top15">
                                               <button type="button" class="btn btn-save">View-Details</button>
                                           </div>

                                           <div class="col-lg-3  col-sm-2 m-top15" >
                                               <button type="button" class="btn btn-save">Add to order</button>
                                           </div>

                                       </div>

                                   </div>
                                   <!--<div class="col-lg-3 col-sm-4">-->
                                   <!--<h5  class="flabel">Valid Till:</h5>-->
                                   <!--<label>{{offer.validTill | date:"dd-MM-yyyy"}}</label>-->
                                   <!--<button type="button" class="btn btn-save" ng-click="createOrder(offer);">Place order-->
                                   <!--</button>-->
                                   <!--</div>-->
                                   <div class="col-lg-12">
                                       <hr class="nline">
                                   </div>
                               </div>
                               <div class="col-lg-12 m-top15  col-sm-12">
                                   <div class="col-lg-2">
                                       <img alt="" class="simple img-fix img-center o-img-fix"
                                            data-ng-src="/modules/core/img/dashboard/partner4.png">

                                   </div>
                                   <div class="col-lg-10">
                                       <div class="offerlist-timeline">

                                           <p class="timeline-comment-text">Jaggery Powder</p>
                                           <div class="offer-by">
                                               <p>{{offer.user.displayName}}</p>
                                           </div></div>
                                       <!-- <p class="o-title">14 people watching</p>-->
                                       <div class="col-lg-12 lg m-top15">
                                           <div class="col-lg-2 lg col-sm-2">
                                               <label class="flabel">MRP:<span>40Kg</span></label>
                                           </div>
                                           <div class="col-lg-2 lg col-sm-2">
                                               <label class="flabel">Units:<span>100</span></label>
                                           </div>

                                           <div class="col-lg-2 lg col-sm-2">
                                               <label class="flabel">Unit Size:<span>50kgs</span></label>
                                           </div>

                                           <div class="col-lg-3 lg col-sm-2">
                                               <label class="flabel">Sample Number:<span>JAG-1234</span></label>
                                           </div>

                                           <div class="col-lg-2 lg col-sm-2">
                                               <label class="flabel">Category:<span>Agriculture</span></label>
                                           </div>

                                           <div class="col-lg-3 col-lg-offset-4  col-sm-2 m-top15">
                                               <button type="button" class="btn btn-save">View-Details</button>
                                           </div>

                                           <div class="col-lg-3  col-sm-2 m-top15" >
                                               <button type="button" class="btn btn-save">Add to order</button>
                                           </div>

                                       </div>

                                   </div>
                                   <!--<div class="col-lg-3 col-sm-4">-->
                                   <!--<h5  class="flabel">Valid Till:</h5>-->
                                   <!--<label>{{offer.validTill | date:"dd-MM-yyyy"}}</label>-->
                                   <!--<button type="button" class="btn btn-save" ng-click="createOrder(offer);">Place order-->
                                   <!--</button>-->
                                   <!--</div>-->
                                   <div class="col-lg-12">
                                       <hr class="nline">
                                   </div>
                               </div>

                           </div>
                       </section>

                   </div>




               </div>




           </div>

       </div>





   </div>
</section>
