<md-content layout-fill>
    <div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>

        <div flex="30" flex-xs="100" flex-sm="50" flex-gt-lg="30">
            <div class="md-title">Kshetra Agricultural Products</div>
            <span class="md-caption">2-62, 3rd Cross, Annamaiah Nagar, Near</span><br>
            <span class="md-caption">Bairagi Patteda, Tirupathi - 517501</span><br>
            <span class="md-caption">Andhra Pradesh India</span>
        </div>

        <div flex="30" flex-xs="100" flex-sm="50" flex-gt-lg="30">
            <span class="md-caption">Ph: +91-8065630100, Mobile: +91-9494536238</span><br>
            <span class="md-caption">Work:+91-7393934523,</span><br>
            <span class="md-caption">Email:farmersfreshindia@gmail.com,</span><br>
            <span class="md-caption">email2@gmail.com</span>
        </div>


        <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">

            <div ng-cloak>
                <md-content>
                    <md-card class="input-group" layout="row" layout-xs='row' layout-xs="column" layout-sm="row"
                             layout-gt-lg="row" layout-wrap>
                        <!--<div hide-xs flex="20" flex-xs="100" flex-sm="15" flex-gt-lg="20" layout-fill>-->
                        <!--<span class="input-group-btn">-->
                        <!--<button class="btn btn-search" type="button">-->
                        <!--<i class="fa fa-search"></i>-->
                        <!--</button>-->
                        <!--</span>-->
                        <!--</div>-->
                        <span class="flex" flex></span>

                        <div flex="20" flex-xs="100" flex-sm="25" flex-gt-lg="20">
                            <md-input-container class="bb-wid-100">
                                <label>Category</label>
                                <md-select ng-model="phone.phoneType">
                                    <md-option>Agriculture</md-option>

                                </md-select>
                            </md-input-container>
                        </div>
                        <div flex="20" flex-xs="100" flex-sm="25" flex-gt-lg="20">
                            <md-input-container class="bb-wid-100">
                                <label>Sub-Category-1</label>
                                <md-select ng-model="phone.phoneType">
                                    <md-option>Agriculture</md-option>

                                </md-select>
                            </md-input-container>
                        </div>
                        <div flex="20" flex-xs="100" flex-sm="25" flex-gt-lg="20">
                            <md-input-container class="bb-wid-100">
                                <label>Sub-Category-2</label>
                                <md-select ng-model="phone.phoneType">
                                    <md-option>Agriculture</md-option>

                                </md-select>
                            </md-input-container>
                        </div>
                    </md-card>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Offers">
                            <md-content>

                                <md-card class="layout-padding" layout="row" layout-xs='row' layout-xs="column"
                                         layout-sm="row" layout-gt-lg="row" layout-wrap>

                                    <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                                        <img alt="" class="img-responsive bb-profimg-fix bb-img-center bb-prod-img-fix"
                                             data-ng-src="">

                                    </div>

                                    <div flex="75" flex-xs="100" flex-sm="75" flex-gt-lg="75">
                                        <div layout="row" layout-xs='row' layout-xs="column" layout-sm="column"
                                             layout-gt-lg="row" layout-wrap>
                                            <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                                                <h3 class="md-title">Naturally Farmed Jaggery Powder with 30%
                                                    Margin</h3>

                                                <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row"
                                                     layout-gt-lg="row" layout-wrap>
                                                    <div flex="25" flex-xs="100" flex-sm="35" flex-gt-lg="33">
                                                        <label class="md-subhead">MOQ : <span
                                                                class="md-caption">10Kg</span></label>
                                                    </div>
                                                    <div flex="25" flex-xs="100" flex-sm="35" flex-gt-lg="33">
                                                        <label class="md-subhead">Valid till : <span class="md-caption">01-06-2016</span></label>
                                                    </div>

                                                    <div flex="25" flex-xs="100" flex-sm="35" flex-gt-lg="33">
                                                        <label class="md-subhead">Offer Unit Price : <span
                                                                class="md-caption">Rs 99</span></label>
                                                    </div>

                                                    <div flex="25" flex-xs="100" flex-sm="35" flex-gt-lg="33">
                                                        <label class="md-subhead">Offer Units : <span
                                                                class="md-caption">110</span></label>
                                                    </div>

                                                    <div flex="25" flex-xs="100" flex-sm="35" flex-gt-lg="33">
                                                        <label class="md-subhead">Unite Size : <span class="md-caption">25</span></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                                                <div class="layout-padding" layout="row" layout-xs='row'
                                                     layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                                                    <div flex="25" flex-xs="100" flex-sm="33" flex-gt-lg="33">
                                                        <md-button class="md-raised md-primary bb-wid-100">Request
                                                            Sample
                                                        </md-button>
                                                    </div>
                                                    <div flex="25" flex-xs="100" flex-sm="33" flex-gt-lg="33">
                                                        <md-button class="md-raised md-primary bb-wid-100">Place order
                                                        </md-button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                    <!--<div flex="100" flex-xs="100">-->
                                    <!--<md-divider></md-divider>-->
                                    <!--</div>-->
                                </md-card>
                                <md-card class="layout-padding" layout="row" layout-xs='row' layout-xs="column"
                                         layout-sm="row" layout-gt-lg="row" layout-wrap>

                                    <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                                        <img alt="" class="img-responsive bb-profimg-fix bb-img-center bb-prod-img-fix"
                                             data-ng-src="">

                                    </div>

                                    <div flex="75" flex-xs="100" flex-sm="75" flex-gt-lg="75">
                                        <div layout="row" layout-xs='row' layout-xs="column" layout-sm="column"
                                             layout-gt-lg="row" layout-wrap>
                                            <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                                                <h3 class="md-title">Naturally Farmed Jaggery Powder with 30%
                                                    Margin</h3>

                                                <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row"
                                                     layout-gt-lg="row" layout-wrap>
                                                    <div flex="25" flex-xs="100" flex-sm="35" flex-gt-lg="33">
                                                        <label class="md-subhead">MOQ : <span
                                                                class="md-caption">10Kg</span></label>
                                                    </div>
                                                    <div flex="25" flex-xs="100" flex-sm="35" flex-gt-lg="33">
                                                        <label class="md-subhead">Valid till : <span class="md-caption">01-06-2016</span></label>
                                                    </div>

                                                    <div flex="25" flex-xs="100" flex-sm="35" flex-gt-lg="33">
                                                        <label class="md-subhead">Offer Unit Price : <span
                                                                class="md-caption">Rs 99</span></label>
                                                    </div>

                                                    <div flex="25" flex-xs="100" flex-sm="35" flex-gt-lg="33">
                                                        <label class="md-subhead">Offer Units : <span
                                                                class="md-caption">110</span></label>
                                                    </div>

                                                    <div flex="25" flex-xs="100" flex-sm="35" flex-gt-lg="33">
                                                        <label class="md-subhead">Unite Size : <span class="md-caption">25</span></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                                                <div class="layout-padding" layout="row" layout-xs='row'
                                                     layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                                                    <div flex="25" flex-xs="100" flex-sm="33" flex-gt-lg="33">
                                                        <md-button class="md-raised md-primary bb-wid-100">Request
                                                            Sample
                                                        </md-button>
                                                    </div>
                                                    <div flex="25" flex-xs="100" flex-sm="33" flex-gt-lg="33">
                                                        <md-button class="md-raised md-primary bb-wid-100">Place order
                                                        </md-button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                    <!--<div flex="100" flex-xs="100">-->
                                    <!--<md-divider></md-divider>-->
                                    <!--</div>-->
                                </md-card>
                            </md-content>
                        </md-tab>
                        <md-tab label="Products">
                            <md-content>
                                <md-card class="layout-padding" layout="row" layout-xs='row' layout-xs="column"
                                         layout-sm="row" layout-gt-lg="row" layout-wrap>

                                    <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                                        <img alt="" class="img-responsive bb-profimg-fix bb-img-center bb-prod-img-fix"
                                             data-ng-src="{{product.productImageURL1}}">

                                    </div>

                                    <div flex="75" flex-xs="100" flex-sm="75" flex-gt-lg="75">
                                        <div layout="row" layout-xs='row' layout-xs="column" layout-sm="column"
                                             layout-gt-lg="row" layout-wrap>
                                            <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                                                <h3 class="md-title">Jaggery Powder</h3>

                                                <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row"
                                                     layout-gt-lg="row" layout-wrap>
                                                    <div flex="25" flex-xs="100" flex-sm="35" flex-gt-lg="33">
                                                        <label class="md-subhead">MRP : <span
                                                                class="md-caption">Rs 500</span></label>
                                                    </div>
                                                    <div flex="20" flex-xs="100" flex-sm="35" flex-gt-lg="33">
                                                        <label class="md-subhead">Units : <span
                                                                class="md-caption">100</span></label>
                                                    </div>

                                                    <div flex="20" flex-xs="100" flex-sm="35" flex-gt-lg="33">
                                                        <label class="md-subhead">Unit Size : <span class="md-caption">50</span></label>
                                                    </div>

                                                    <div flex="35" flex-xs="100" flex-sm="40" flex-gt-lg="33">
                                                        <label class="md-subhead">Sample Number : <span
                                                                class="md-caption">SAMPLE456</span></label>
                                                    </div>

                                                    <div flex="25" flex-xs="100" flex-sm="35" flex-gt-lg="33">
                                                        <label class="md-subhead">Category : <span class="md-caption">Agriculture</span></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                                                <div class="layout-padding" layout="row" layout-xs='row'
                                                     layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                                                    <div flex="25" flex-xs="100" flex-sm="33" flex-gt-lg="33">
                                                        <md-button class="md-raised md-primary bb-wid-100">View Details
                                                        </md-button>
                                                    </div>
                                                    <div flex="25" flex-xs="100" flex-sm="33" flex-gt-lg="33">
                                                        <md-button class="md-raised md-primary bb-wid-100">Add to order
                                                        </md-button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                    <!--<div flex="100" flex-xs="100">-->
                                    <!--<md-divider></md-divider>-->
                                    <!--</div>-->
                                </md-card>
                            </md-content>
                        </md-tab>

                    </md-tabs>
                </md-content>
            </div>


        </div>


    </div>

    <div layout="row" layout-xs='row' layout-xs="column" layout-sm="column" layout-gt-lg="row" layout-wrap>


    </div>

</md-content>
