<div class="bb-min-height" data-ng-controller="BusinessSettingsController">
    <!-----------Head Bar -------------------->
    <head-bar nvipanipath="context"></head-bar>
    <div class="nvc-content " layout-align="center center">
        <div class="nvc-input-btngrp nv-position-relative nvc-margin-top-10 nvc-margin-bottom-10" flex="30">
            <input placeholder="Search..." type="text" ng-model="searchText">
            <span>
                <button class="nvc-input-button" type="button" ng-click="find()">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Inventory" ng-click="">
                <md-content>
                    <div layout-align="space-around center">
                        <div layout="row" class="nvc-margin-top-10 nvc-margin-bottom-10">
                            <b class="nvc-margin-top-5">1. Enable Tracking</b>
                            <md-switch class="md-primary nvc-margin-top-0 nvc-margin-bottom-0 nvc-padding-left-10" aria-label="enable-tracking" >
                            </md-switch>
                        </div>
                        <div class="nvc-margin-top-10 nvc-margin-bottom-10">
                            <b>2. Group Item item list by :</b>
                            <md-radio-group layout="row" class="nvc-margin-top-10 nvc-margin-bottom-10">
                                <md-radio-button ng-value="true" class="md-primary">Product</md-radio-button>
                                <md-radio-button ng-value="false" class="md-primary">Brand</md-radio-button>
                            </md-radio-group>
                        </div>
                        <div layout="row" class="nvc-margin-top-10 nvc-margin-bottom-10">
                            <b class="nvc-margin-top-5">3. Show non billable item</b>
                            <md-switch class="md-primary nvc-margin-top-0 nvc-margin-bottom-0 nvc-padding-left-10" aria-label="enable-tracking" >
                            </md-switch>
                        </div>
                        <div layout="row" class="nvc-margin-top-10 nvc-margin-bottom-10">
                            <b class="nvc-margin-top-5">4. Alert on low inventory item</b>
                            <md-switch class="md-primary nvc-margin-top-0 nvc-margin-bottom-0 nvc-padding-left-10" aria-label="enable-tracking" >
                            </md-switch>
                        </div>
                        <div layout="row" class="nvc-margin-top-10 nvc-margin-bottom-10">
                            <b class="nvc-margin-top-5">5. Alert on expiry of inventory item</b>
                            <md-switch class="md-primary nvc-margin-top-0 nvc-margin-bottom-0 nvc-padding-left-10" aria-label="enable-tracking" >
                            </md-switch>
                        </div>
                        <div layout="row" class="nvc-margin-top-10 nvc-margin-bottom-10">
                            <b class="nvc-margin-top-5">6.Include inactive items</b>
                            <md-switch class="md-primary nvc-margin-top-0 nvc-margin-bottom-0 nvc-padding-left-10" aria-label="enable-tracking" >
                            </md-switch>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Offers" ng-click="">
                <md-content>
                    <div layout-align="space-around center">
                        <div layout="row" class="nvc-margin-top-10 nvc-margin-bottom-10">
                            <b class="nvc-margin-top-5">1. Subscribe to buy offer notification</b>
                            <md-switch class="md-primary nvc-margin-top-0 nvc-margin-bottom-0 nvc-padding-left-10" aria-label="enable-tracking" >
                            </md-switch>
                        </div>
                        <div layout="row" class="nvc-margin-top-10 nvc-margin-bottom-10">
                            <b class="nvc-margin-top-5">2. Subscribe to sale offer notification</b>
                            <md-switch class="md-primary nvc-margin-top-0 nvc-margin-bottom-0 nvc-padding-left-10" aria-label="enable-tracking" >
                            </md-switch>
                        </div>
                        <div layout="row"  class="nvc-margin-top-10 nvc-margin-bottom-10">
                            <b class="nvc-margin-top-10">3. Set offer status sequence</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <md-select class="nvc-margin-top-0" flex="30" multiple ng-model="offerStatus" aria-label="Offer status">
                                <md-option  ng-value="Drafted">Drafted</md-option>
                                <md-option  ng-value="opened">Opened</md-option>
                                <md-option  ng-value="Cancelled">Cancelled</md-option>
                                <md-option  ng-value="Expired">Expired</md-option>
                                <md-option  ng-value="Completed">Completed</md-option>
                                <md-option  ng-value="Pending">Pending</md-option>
                                <md-option  ng-value="Open">Open</md-option>
                                <md-option  ng-value="Closed">Closed</md-option>
                            </md-select>
                        </div>
                        <div layout="row" class="nvc-margin-top-10 nvc-margin-bottom-10">
                            <b class="nvc-margin-top-5">4. Alert on expiry of sale offers</b>
                            <md-switch class="md-primary nvc-margin-top-0 nvc-margin-bottom-0 nvc-padding-left-10" aria-label="enable-tracking" >
                            </md-switch>
                        </div>
                        <div layout="row" class="nvc-margin-top-10 nvc-margin-bottom-10">
                            <b class="nvc-margin-top-5">5. Alert on epiry of buy offers</b>
                            <md-switch class="md-primary nvc-margin-top-0 nvc-margin-bottom-0 nvc-padding-left-10" aria-label="enable-tracking" >
                            </md-switch>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Orders" ng-click="">
                <md-content>
                    <div layout-align="space-around center">
                        <div layout="row" class="nvc-margin-top-10 nvc-margin-bottom-10">
                            <b class="nvc-margin-top-5">1. Enable quick orders</b>
                            <md-switch class="md-primary nvc-margin-top-0 nvc-margin-bottom-0 nvc-padding-left-10" aria-label="enable-tracking" >
                            </md-switch>
                        </div>
                        <div layout="row" class="nvc-margin-top-10 nvc-margin-bottom-10">
                            <b class="nvc-margin-top-10">2. Order status sequence</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <md-select class="nvc-margin-top-0" flex="30" multiple ng-model="offerStatus" aria-label="Offer status">
                                <md-option ng-value="Drafted">Drafted</md-option>
                                <md-option ng-value="Placed" selected="true">Placed</md-option>
                                <md-option ng-value="Accepted">Accepted</md-option>
                                <md-option ng-value="Confirmed">Confirmed</md-option>
                                <md-option ng-value="Rejected">Rejected</md-option>
                                <md-option  ng-value="Cancelled">Cancelled</md-option>
                                <md-option  ng-value="Pending">Pending</md-option>
                                <md-option  ng-value="InProgress">InProgress</md-option>
                                <md-option  ng-value="Shipped">Shipped</md-option>
                                <md-option  ng-value="Delivered" selected="true">Delivered</md-option>
                                <md-option  ng-value="Completed">Completed</md-option>
                                <md-option  ng-value="Disputed">Disputed</md-option>
                                <md-option  ng-value="Resolved">Resolved</md-option>
                                <md-option  ng-value="Returned">Returned</md-option>

                            </md-select>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Payments" ng-click="">
                <md-content>
                    <div layout-align="space-around center">

                        <div  class="nvc-margin-top-10 nvc-margin-bottom-10" ng-init="getCompanyPaymentTerms()">
                            <div layout="row">
                                <b>1. Payment terms</b>&nbsp;&nbsp;&nbsp;&nbsp;
                                <span ng-show="!isNew" class="md-primary fa fa-plus-circle fa-2x nvc-primary-color"  id="companyAddPhones" aria-label="favourite" ng-click="newPaymentTerm()">
                                </span>
                                <div flex="5"  ng-show="isNew">
                                    <h5  class="nvc-margin-top-0 nvc-primary-border nv-text-center nvc-accent-background nvc-padding-5 nvc-shape-pill" ng-click="createNewPaymentTerm()">Done</h5>
                                </div>
                                <div flex="5"  ng-show="isNew" class="nvc-margin-left-16">
                                    <h5  class="nvc-margin-top-0 nvc-primary-border nv-text-center nvc-accent-background nvc-padding-5 nvc-shape-pill" ng-click="cancelNewPaymentTerm()">Cancel</h5>
                                </div>
                            </div>
                            <div ng-show="!isNew" layout="row" class="nvc-margin-top-10 nvc-margin-bottom-10">
                                <div ng-repeat="item in paymentterms track by $id(item)" class="nvc-margin-left-16" >
                                    <md-checkbox ng-checked="isChecked(item, company.settings.paymentterms)" class="md-primary" ng-click="selectPaymentTerms(item, company.settings.paymentterms)">
                                        {{ item.name }}
                                    </md-checkbox>
                                </div>
                            </div>
                            <div ng-show="isNew">
                                <div layout="row">
                                    <div flex="30">
                                        <md-input-container class="md-block b-wid-100">
                                            <md-select ng-model="paymentTerm.type" aria-label="paymentType">
                                                <md-option ng-repeat="item in paymentTypes">{{item}}</md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div flex="30" class="nvc-margin-left-16">
                                        <md-input-container class="md-block bb-wid-100">
                                            <label>Payment Name</label>
                                            <input data-ng-model="paymentTerm.name" name="name">

                                        </md-input-container>
                                    </div>
                                </div>
                                <div layout="row">
                                    <div flex="30" ng-show="(paymentTerm.type === 'NetTerm')||(paymentTerm.type === 'NetTermDiscount')">
                                        <md-input-container class="md-block bb-wid-100">
                                            <label>Days</label>
                                            <input data-ng-model="paymentTerm.netTerm" name="netTerm" type="number">

                                        </md-input-container>
                                    </div>
                                    <div flex="30" class="nvc-margin-left-16" ng-show="paymentTerm.type === 'NetTermDiscount'">
                                        <md-input-container class="md-block bb-wid-100">
                                            <label>Discount</label>
                                            <input data-ng-model="paymentTerm.discountTerm" name="discountTerm" type="number">

                                        </md-input-container>
                                    </div>
                                </div>
                                <div ng-show="paymentTerm.type === 'Installments'">
                                    <div layout-wrap layout="row" layout-sm="row" layout-xs="row">
                                        <div flex="5"></div>
                                        <div flex="95" layout="row" >
                                            <label flex="30">Payment Description</label>
                                            <label flex="30">Days</label>
                                            <label flex="30">Percentage(%)</label>
                                        </div>
                                    </div>
                                    <div layout-wrap layout="row" layout-sm="row" layout-xs="row" layout-padding layout-align="center center" ng-repeat="installment in paymentTerm.installments track by $index">
                                        <div flex="5" class="nvc-margin-bottom-20">
                                            <md-icon ng-if="$index>0" class="fa fa-minus-circle fa-2x nv-red" aria-label="favourite" ng-click="paymentTerm.installments.splice($index, 1)">
                                                <md-tooltip>Remove Installment</md-tooltip>
                                            </md-icon>
                                            <md-icon ng-if="$index===0" class="md-primary fa fa-plus-circle fa-2x" aria-label="favourite" ng-click="addInstallments(paymentTerm.installments)">
                                                <md-tooltip>Add Installment</md-tooltip>
                                            </md-icon>
                                        </div>
                                        <div flex="95" layout="row" >
                                            <div flex="30">
                                                <md-input-container class="md-block bb-wid-100">
                                                    <label>Description</label>
                                                    <input ng-model="installment.description" name="description">
                                                </md-input-container>
                                            </div>
                                            <div flex="30">
                                                <md-input-container class="md-block bb-wid-100">
                                                    <label>Days</label>
                                                    <input ng-model="installment.days"  name="days" type="number">
                                                </md-input-container>
                                            </div>
                                            <div flex="30">
                                                <md-input-container class="md-block bb-wid-100">
                                                    <label>Percentage</label>
                                                    <input ng-model="installment.percentage"  name="percentage" type="number">
                                                </md-input-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div layout="row" class="nvc-margin-top-10 nvc-margin-bottom-10">
                            <b class="nvc-margin-top-10">2. Preferred payment terms</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <md-select class="nvc-margin-top-0" flex="30" md-on-open="getCompanyPaymentTerms()" multiple ng-model="company.settings.preferedpaymentTerms"   aria-label="Payment Terms">
                                <md-option  id='PPT_{{$index}}' ng-repeat="item in paymentterms track by $id(item)" ng-value="item._id">{{item.name}}</md-option>
                            </md-select>
                        </div>
                        <div layout="row" class="nvc-margin-top-10 nvc-margin-bottom-10">
                            <b class="nvc-margin-top-10">3. Payment modes</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <md-select class="nvc-margin-top-0" flex="30" md-on-open="getCompanyPaymentModes()" multiple ng-model="company.settings.paymentmodes"   aria-label="Payment Modes">
                                <md-option  id='PM_{{$index}}' ng-repeat="item in paymentmodes track by $id(item)" ng-value="item._id">{{item.name}}</md-option>
                            </md-select>
                        </div>
                        <div layout="row" class="nvc-margin-top-10 nvc-margin-bottom-10">
                            <b class="nvc-margin-top-5">4. Round off decimal digits</b>&nbsp;&nbsp;&nbsp;&nbsp;
                            <md-input-container class="nvc-margin-top-0" flex="30" class="md-block bb-wid-100">
                                <label>Decimal digits</label>
                                <input ng-model="decimalDigits">
                            </md-input-container>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Contacts" ng-click="">
                <md-content>
                    <div layout-align="space-around center">
                        <div layout="row" class="nvc-margin-top-10 nvc-margin-bottom-10">
                            <b class="nvc-margin-top-5">1. Include inactive contacts</b>
                            <md-switch class="md-primary nvc-margin-top-0 nvc-margin-bottom-0 nvc-padding-left-10" aria-label="enable-tracking" >
                            </md-switch>
                        </div>
                        <div layout="row" class="nvc-margin-top-10 nvc-margin-bottom-10">
                            <b class="nvc-margin-top-5">2. Show phone number in the list</b>
                            <md-switch class="md-primary nvc-margin-top-0 nvc-margin-bottom-0 nvc-padding-left-10" aria-label="enable-tracking" >
                            </md-switch>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Message" ng-click="">
                <md-content>
                    <div layout-align="space-around center">
                        <div class="nvc-margin-top-10 nvc-margin-bottom-10">
                            <b class="nvc-margin-top-5">1. SMS</b>
                            <div layout="row" layout-align="space-around center" class="nvc-margin-top-10 ">
                                <div>
                                    <span class="nvc-margin-top-5">Offer</span>
                                    <md-input-container class="md-block nvc-margin-top-0">
                                        <input >
                                    </md-input-container>
                                </div>
                                <div>
                                    <span class="nvc-margin-top-5">Order</span>
                                    <md-input-container class="md-block nvc-margin-top-0">
                                        <input >
                                    </md-input-container>
                                </div>
                                <div>
                                    <span class="nvc-margin-top-5">Comments</span>
                                    <md-input-container class="md-block nvc-margin-top-0">
                                        <input >
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                        <div class="nvc-margin-top-10 nvc-margin-bottom-10">
                            <b class="nvc-margin-top-5">2.Whatsapp</b>
                            <div layout="row" layout-align="space-around center" class="nvc-margin-top-10 ">
                                <div>
                                    <span class="nvc-margin-top-5">Offer</span>
                                    <md-input-container class="md-block nvc-margin-top-0">
                                        <input >
                                    </md-input-container>
                                </div>
                                <div>
                                    <span class="nvc-margin-top-5">Order</span>
                                    <md-input-container class="md-block nvc-margin-top-0">
                                        <input >
                                    </md-input-container>
                                </div>
                                <div>
                                    <span class="nvc-margin-top-5">Comments</span>
                                    <md-input-container class="md-block nvc-margin-top-0">
                                        <input >
                                    </md-input-container>
                                </div>
                            </div>

                        </div>
                        <div class="nvc-margin-top-10 nvc-margin-bottom-10">
                            <b class="nvc-margin-top-5">3.Email</b>
                            <div layout="row" layout-align="space-around center" class="nvc-margin-top-10 ">
                                <div>
                                    <span class="nvc-margin-top-5">Offer</span>
                                    <md-input-container class="md-block nvc-margin-top-0">
                                        <input >
                                    </md-input-container>
                                </div>
                                <div>
                                    <span class="nvc-margin-top-5">Order</span>
                                    <md-input-container class="md-block nvc-margin-top-0">
                                        <input >
                                    </md-input-container>
                                </div>
                                <div>
                                    <span class="nvc-margin-top-5">Comments</span>
                                    <md-input-container class="md-block nvc-margin-top-0">
                                        <input >
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Tracking" ng-click="">
                <md-content>
                    <div layout="row" layout-align="center center" class="nvc-margin-top-10 nvc-margin-bottom-10">
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Labels & Alias" ng-click="">
                <md-content>
                    <div layout="row" layout-align="center center" class="nvc-margin-top-10 nvc-margin-bottom-10">
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </div>

</div>
