<div ng-show="showConversion" class="nvc-content" id="convertView">
    <md-card  class="submenu md-whiteframe-5dp nvc-margin-0">
        <div layout="row" layout-sm="row" layout-align="center center">
            <div flex="10" flex-sm="10">
                <img src="modules/core/img/brand/nvc-email-orders.jpg" class="bb-wid-100 nvc-margin-5">
            </div>
            <div flex="85" flex-sm="85" layout="row" layout-padding>
                <div flex="75">
                    <h5><span class="nv-text-bold">Products Selected : </span> {{conversionProducts.length}}</h5>
                </div>
                <div flex="25" layout="column">
                    <md-button class="md-primary" >+ Add Products</md-button>
                    <md-button class="md-primary md-raised" ng-click="nextConversionStage(selectedPageId)" ng-show="selectedPageId===0">Continue</md-button>
                    <md-button class="md-primary md-raised" ng-show="selectedPageId>0" ng-click="nextConversionStage(-1)">Change</md-button>
                </div>
            </div>
        </div>
    </md-card>
    <div ng-show="selectedPageId===0" ng-style="getHeight('convertView')" class="nvc-overflow-auto">
    <table id="firstsourcetable" class="nvc-content-table bb-wid-100" >
        <thead>
        <tr>
            <td ng-show="conversionProducts.length>1" ></td>
            <td></td>
            <td>Product Details</td>
            <td>Batch Details</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in conversionProducts track by $index" ng-show="product.stockMasters.length>0">
            <td ng-show="conversionProducts.length>1" ><span class="fa fa-times nv-red" ng-click="conversionProducts.splice($index, 1)"></span> </td>
            <td><img ng-src="{{product.inventoryImageURL1}}"
                     alt="{{product.productName}}"
                     class="img-responsive bb-img-center-prod"></td>
            <td><h5 class="nv-text-bold" >{{product.productName}} - {{product.unitOfMeasureName}}</h5>
                <h6 class="nv-text-bold">{{product.brandName}}</h6></td>
            <td>
                <div ng-repeat="batch in product.stockMasters" class="layout-padding" layout="row" layout-align="space-between center">
                    <div>
                        <md-input-container class="md-icon-float nv-text-center md-block">
                            <md-checkbox class="md-primary" ng-model="batch.selected" aria-label="batch select">{{batch.batchNumber?batch.batchNumber:'N/A'}}</md-checkbox>
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container class="md-icon-float md-icon-right md-block md-no-error-space nvc-margin-bottom-0" >
                            <md-icon class="fa fa-plus-circle fa-2x nvc-primary-color"></md-icon>
                            <input ng-model="batch.currentBalance" placeholder="Units" data-ng-disabled="!batch.selected" type="number">
                            <md-icon class="fa fa-minus-circle fa-2x nvc-primary-color"></md-icon>
                        </md-input-container>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
    <md-card id="convertproductcategory" class="nvc-margin-top-1 nvc-margin-0">
        <div ng-show="selectedPageId<1" class="md-padding">
            <h5 class="nv-text-bold">2. Inventory Details</h5>
        </div>
        <div layout="row" layout-sm="row" layout-align="center center" ng-show="selectedPageId>=1">
            <div flex="10" flex-sm="10">
                <img src="modules/core/img/brand/nvc-email-orders.jpg" class="bb-wid-100 nvc-margin-5">
            </div>
            <div flex="85" flex-sm="85" layout="row" layout-padding>
                <div flex>

                    <h6 class="nvc-create-content-prod" ng-show="selectedPageId>1">{{getDisplaySelection()}}
                    </h6>
                    <div ng-show="selectedPageId===1" layout-padding layout="row" layout-align="start center"
                         layout-wrap>
                        <div layout="row" layout-padding layout-align="start center" layout-wrap>
                            <div layout="row" layout-padding layout-align="start center" layout-wrap>
                                <div flex="20" ng-if="convertType==='Manufactured'">
                                    <h5 class="nv-text-bold">Category :</h5>
                                </div>
                                <div flex="33"  ng-show="convertType==='Manufactured'">
                                    <!--<div class="md-subhead">Category</div>
                                    <select id="subCategory11" size="10"
                                            data-ng-model="subCategory1"
                                            data-ng-options="subCategory1._id as subCategory1.name+' ('+subCategory1.code+')' for subCategory1 in  subCategories1  | orderBy:'name'"
                                            data-ng-change="findCategory(subCategory1);"
                                            class="form-control input-sm  bb-autotext">

                                    </select>-->

                                    <md-select id="subCategory11" data-ng-model="subCategory1" md-on-open="findSubCategories1()" placeholder="Category" class="nvc-margin-0 nvc-padding-15 nvc-accent-background nvc-shape-pill">
                                        <md-option ng-repeat="subCategory1 in  subCategories1  | orderBy:'name'"
                                                   value="{{subCategory1._id}}"  >{{subCategory1.name}} ({{subCategory1.code}})</md-option>
                                    </md-select>
                                </div>

                                <div flex="33" ng-show="convertType==='Manufactured'">
                                    <md-select   id="subCategory21" data-ng-model="subCategory2" name="homepage_select_first" placeholder="{{subCategory1?'Product':'Choose Category first'}}"
                                               md-on-open="findCategory(subCategory1)"
                                               class="nvc-padding-15 nvc-accent-background nvc-shape-pill nvc-margin-0">
                                        <md-option value="?" ng-click="panelChange('addCategory')"><em>Add New Product</em></md-option>
                                        <md-divider></md-divider>
                                        <md-option data-ng-repeat="subCategory2 in subCategories2  | orderBy:'name' "
                                                   value="{{subCategory2._id}}">{{subCategory2.name}} ({{subCategory2.code}})</md-option>
                                    </md-select>
                                </div>
                                <div flex="20">
                                    <h5 class="nv-text-bold">Brand :</h5>
                                </div>
                                <div flex="33">
                                    <md-select md-on-open="findCategory(subCategory2)"
                                               data-ng-model="productBrand" class="nvc-padding-15 nvc-accent-background nvc-shape-pill nvc-margin-0"
                                               data-ng-change="findBrandChange(productBrand);" placeholder="{{subCategory2?'Brand':'Choose Product Brand'}}">
                                        <md-option value="?" ng-click="panelChange('addBrand')">Add New Brand</md-option>
                                        <md-divider></md-divider>
                                        <md-option data-ng-repeat="brand in productBrands"
                                                   value="{{brand._id}}">{{brand.name}}</md-option>
                                    </md-select>
                                </div>
                                <div flex="33"></div>
                                <div flex="20"><h5 class="nv-text-bold">UOM :</h5></div>
                                <div flex="33">
                                    <md-select data-ng-model="unitOfMeasure"
                                               class="nvc-padding-15 nvc-accent-background nvc-shape-pill nvc-margin-0" data-ng-disabled="!productBrand"
                                               name="uom" aria-label="Unit Measure" placeholder="{{productBrand?'Choose UOM':'Choose Brand first'}}">
                                        <md-option value="" ng-click="addUOM = true;">Custom UOM</md-option>
                                        <md-option ng-repeat="item in brandUoms track by $id(item)" ng-show="item._id!==-1"  ng-value="item" ng-click="addUOM = false;">
                                            <!--<span ng-class="item._id===-1?'fa fa-plus nv-select-new-label':''"></span>-->
                                            <span>{{(item.symbol)}}</span>
                                        </md-option>
                                    </md-select>
                                </div>
                            </div>
                            <!--<div  ng-if="convertType==='Repacked'">
                                <div flex="20"><h5 class="nv-text-bold">UOM :</h5></div>

                            </div>
                            <div  ng-if="convertType==='Graded'">

                            </div>-->

                        </div>
                    </div>
                </div>
                <div flex="25" layout="column">
                    <div flex></div>
                    <md-button class="md-primary md-raised" ng-click="nextConversionStage(selectedPageId)" ng-show="selectedPageId===1">Continue</md-button>
                    <md-button class="md-primary md-raised" ng-click="nextConversionStage(0)" ng-show="selectedPageId>1">Change</md-button>
                </div>
            </div>
        </div>
    </md-card>
    <md-card id="convertproductstock" class="nvc-margin-top-1  nvc-margin-0">
        <div ng-show="selectedPageId!==2" class="md-padding">
            <h5 class="nv-text-bold">3. Inventory Creation</h5>
        </div>
        <div ng-show="selectedPageId===2">
            <div class="nvc-accent-background nvc-primary-color">
                <div class="nv-text-center" ng-show="convertProductsStockMasters.length>0" layout="row" layout-padding>
                    <div flex="33">
                        <h5 class="nv-text-bold">Inventory Found</h5>
                    </div>
                    <div flex="33">
                        <h5 class="nv-text-bold">Batch details</h5>
                    </div>
                    <div flex="33">
                        <h5 class="nv-text-bold">Update Quantity</h5>
                    </div>
                </div>
                <h5 class="nv-text-center md-padding" ng-show="convertProductsStockMasters.length===0">Create a new inventory by adding stock</h5>
            </div>
            <div layout="row" layout-padding ng-show="convertProductsStockMasters.length>0" >
                <div flex="33" layout="row" layout-padding>
                    <div flex="20">
                        <img ng-src="{{convertProducts.inventoryImageURL1}}"
                             alt="{{convertProducts.productName}}"
                             class="img-responsive bb-img-center-prod nvc-accent-border"
                             ng-class="(convertProducts.numberOfUnits===0 || convertProducts.disabled===true)?'no-stock-image' : 'no-stock-inventory'" >
                    </div>
                    <div flex>
                        <h5 class="nv-text-bold" >{{convertProducts.productName}} - {{convertProducts.unitOfMeasureName}}</h5>
                        <h6 class="nv-text-bold">{{convertProducts.brandName}}</h6>
                    </div>
                </div>
                <md-divider></md-divider>
                <div flex="33">
                    <md-select ng-model="stock" placeholder="Choose Stock" class="nvc-margin-0">
                        <md-option ng-value={_id:-1} ng-click="addStock(false)">Add New Stock</md-option>
                        <md-option ng-repeat="stock in convertProductsStockMasters" ng-value="stock">{{stock.batchNumber}}</md-option>
                    </md-select>
                    <div layout="row" layout-align="space-between center" ng-show="stock && stock._id!==-1">
                        <div><h6><span class="nv-text-bold">MRP :</span> {{stock.MRP}}</h6></div>
                        <div><h6><span class="nv-text-bold">Exp :</span> {{stock.expiryDate | date:'dd:MM:yyyy'}}</h6></div>
                    </div>
                </div>
                <md-divider></md-divider>
                <div flex="33">
                    <md-input-container class="md-icon-float md-icon-right md-block md-no-error-space nvc-margin-bottom-0" >
                        <md-icon class="fa fa-plus-circle fa-2x nvc-primary-color" ng-click="stock._id===-1?'':stock.currentBalance=stock.currentBalance + 1"></md-icon>
                        <input ng-model="stock.currentBalance" placeholder="Units" data-ng-disabled="stock._id===-1" type="number">
                        <md-icon class="fa fa-minus-circle fa-2x nvc-primary-color" ng-click="stock._id===-1?'':stock.currentBalance=stock.currentBalance - 1"></md-icon>
                    </md-input-container>
                </div>
            </div>
            <div layout="row" layout-align="center center" ng-show="!(convertProductsStockMasters.length===0 || (stock && stock._id===-1))">
                <div flex="10"></div>
                <div flex="85" layout="row" layout-padding>
                    <div flex></div>
                    <div flex="25" layout="column">
                        <md-button class="md-primary md-raised" ng-click="nextConversionStage(selectedPageId)" ng-show="selectedPageId===2">Continue</md-button>
                    </div>
                </div>
            </div>
            <div layout="row" layout-wrap layout-align="center center" layout-padding ng-show="convertProductsStockMasters.length===0 || (stock && stock._id===-1)">
                <div flex="25">
                    <md-input-container class="md-block nvc-margin-bottom-0">
                        <label>Batch Number</label>
                        <input ng-model="stock.batchNumber">
                    </md-input-container>
                </div>
                <div flex="25">
                    <md-input-container class="md-block nvc-margin-bottom-0">
                        <label>MRP</label>
                        <input  ng-model="stock.MRP" ng-disabled="stock._id!==-1 && (stock._id || stock.inventory)">
                    </md-input-container>
                </div>
                <div flex="25">
                    <md-input-container class="md-block nvc-margin-bottom-0">
                        <label>Opening Balance</label>
                        <input  ng-model="stock.openingBalance" >
                    </md-input-container>
                </div>
                <div flex="25">
                    <md-input-container class="bb-wid-100 nvc-margin-bottom-0">
                        <label>Current Balance</label>
                        <input ng-model="stock.currentBalance" >
                    </md-input-container>
                </div>
                <div flex="25">
                    <h6 class="nvc-margin-5 nvc-display-inlineblock nv-text-bold">Mfg Date : </h6>
                    <md-datepicker ng-model="stock.manufacturingDate" class="nvc-date-picker md-block" placeholder="Mfg Date"></md-datepicker>
                </div>
                <div flex="25">
                    <h6 class="nvc-margin-5 nvc-display-inlineblock nv-text-bold">Pkg Date : </h6>
                    <md-datepicker ng-model="stock.packagingDate" class="nvc-date-picker" placeholder="Pkg Date"></md-datepicker>
                </div>
                <div flex="25">
                    <h6 class="nvc-margin-5 nvc-display-inlineblock nv-text-bold">Best Before : </h6>
                    <md-datepicker ng-model="stock.expiryDate" class="nvc-date-picker" placeholder="Best Before"></md-datepicker>
                </div>
                <div flex="25" layout="column">
                    <md-button class="md-primary md-raised" ng-click="nextConversionStage(selectedPageId)" ng-show="selectedPageId===2">Continue</md-button>
                </div>
            </div>
        </div>
    </md-card>

</div>
