<section >
    <div class="page-header">
        <h1>New Stock</h1>
    </div>

        <form class="form-horizontal" name="productForm" data-ng-submit="createStock()" novalidate>
            <div layout="row">
                <div flex="30">
                    <md-input-container class="bb-wid-100">
                        <label>
                            MRP
                        </label>
                        <input required ng-model="stock.MRP">
                    </md-input-container>
                </div>
                <div flex="30">
                    <md-input-container class="bb-wid-100">
                        <label>Current Balance</label>
                        <input required ng-model="stock.currentBalance">
                    </md-input-container>
                </div>
                <div flex="30">
                    <md-input-container class="bb-wid-100">
                        <label>Serial Number</label>
                        <input ng-model="stock.serialNumber">
                    </md-input-container>
                </div>
                <div flex="30">
                    <md-input-container class="bb-wid-100">
                        <label>Batch Number</label>
                        <input ng-model="stock.batchNumber">
                    </md-input-container>
                </div>
            </div>
            <md-button type="submit" class="md-primary md-raised">Save</md-button>
            <md-button class="md-raised" ng-click="panelChange('Edit')">Cancel</md-button>
        </form>

</section>
