

<div flex="100" flex-xs="100" flex-sm="100" layout-padding>
    <div class="md-headline">New Hsncode</div>
        <label class="bb-flabel bb-truncate">{{selectedMainCategory.name+' /'+selectedSubCategory1Category.name+' /'+selectedSubCategory.name}}</label>
        <md-tooltip>Sub Category</md-tooltip>
</div>

<div class="layout-padding"  layout="column" layout-xs='row' layout-xs="column" layout-sm="column" layout-gt-lg="column" layout-wrap>
<md-divider></md-divider>
    <div class="layout-padding" layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
        <!-- <div ng-show="address.shipping || address.billing || !editAddress">-->
     <!--   <div flex="30" flex-xs="100" flex-sm="100" flex-gt-lg="100">
            <md-input-container class="md-block">
                <label>Name </label>
                <textarea md-maxlength="1024"  md-no-asterisk  ng-model="hsncode.name">
                     </textarea>
            </md-input-container>
        </div>-->

        <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
            <md-input-container class="md-block">
                <label>Hsn Code</label>
                <input md-maxlength="15"  md-no-asterisk  ng-model="hsncode.hsncode">

            </md-input-container>
        </div>

        <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
            <md-input-container class="md-block">
                <label>Description</label>
                <textarea  md-maxlength="128"  md-no-asterisk  ng-model="hsncode.description">
                </textarea>

            </md-input-container>
        </div>



        <!--  <md-dialog-actions layout="row">

              <div flex="100" flex-xs="100" flex-sm="60" flex-gt-lg="50">
                  <md-button ng-click="addAddress()" class="md-raised md-primary">Add New Address
                  </md-button>
              </div>
              <div flex="50" flex-xs="100" flex-sm="60" flex-gt-lg="50" data-ng-show="error" class="text-danger">
                  <strong data-ng-bind="error" ></strong>
              </div>
              <span flex></span>

              <div flex="50" flex-xs="100" flex-sm="60" flex-gt-lg="50">
                  <md-button ng-click="cancel()" class="md-raised md-accent">Cancel
                  </md-button>
              </div>
          </md-dialog-actions>-->


        <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="15">
            <md-button ng-click="createHsnCode(isCreate)" class="md-raised md-primary bb-wid-100">Create</md-button>
        </div>
        <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="15">
            <md-button ng-click="panelChange('cancelViewAll');" class="md-raised md-accent bb-wid-100">Cancel</md-button>
        </div>
    </div>

</div>
</div>
