<form name="productForm" data-ng-submit="createProduct(productForm.$valid);" novalidate get-invalid-entry="productForm.$valid" class="nvc-slider-form">
    <div class="nvc-form-content">
        <div layout="row" layout-align="center center" class="nvc-sticky-top">
            <md-button class="md-icon-button md-mini" ng-click="cancel()" aria-label="close dialog"><md-icon class="fa fa-times fa-lg"></md-button>
            <h4 flex class="nv-text-center nv-text-bold">Add Product</h4>
            <md-button class="md-icon-button md-mini" ng-click="clearFields()" aria-label="reset form"><md-icon class="fa fa-repeat fa-lg"></md-icon></md-button>
        </div>
    <div class="nvc-create-head">
        <div class="nvc-create-head-tag nvc-primary-color">1</div>
        <div class="nvc-create-head-content">
            <h5 class="nvc-primary-color">Create Product</h5>
            <h6>Select the respective categories and brand</h6>
        </div>
    </div>
    <div class="nvc-create-content">
        <h6 class="nvc-create-content-prod" ng-show="(productBrand && subCategory2 &&  subCategory1) && !change">{{selectedSubCategory1Category.name +' / '+selectedSubCategory.name+' / '+selectedProductBrand.name}}
        </h6><span ng-show="(productBrand && subCategory2 &&  subCategory1) && !change" ng-click="change=!change"> Change </span>
        <select-category ng-show="change || !(productBrand && subCategory2 &&  subCategory1)"></select-category>
    </div>
        <div class="nvc-create-head">
            <div class="nvc-create-head-tag nvc-primary-color">2</div>
            <div class="nvc-create-head-content">
                <h5 class="nvc-primary-color">Create an Inventory</h5>
                <h6>Select the respective categories and brand</h6>
            </div>
        </div>
    <div ng-show="productBrand" flex="100" flex-xs="100" >
        <div class="nvc-create-content">
            <div ng-repeat="inventory in inventoryArray track by $id(inventory)" id="inventory-{{$index}}">
                <div layout="row"  layout-wrap layout-padding>
                    <div flex="100" layout="row" layout-align="center center">
                    <md-icon ng-if="$index>0" class="fa fa-minus-circle fa-2x nv-red" aria-label="favourite" ng-click="inventoryArray.splice($index,1)">
                        <md-tooltip>Remove Inventory</md-tooltip>
                    </md-icon>
                    <md-icon ng-if="$index===0" class="md-primary fa fa-plus-circle fa-2x" aria-label="favourite" ng-click="addInventoryItem()">
                        <md-tooltip>Add Inventory</md-tooltip>
                    </md-icon>
                        <h6 flex class="nvc-margin-0 layout-padding nvc-padding-left-10">Inventory - {{$index+1}}</h6>
                    </div>
                        <div flex="50">
                        <md-input-container class="bb-wid-100">
                            <label>Choose UOM</label>
                            <md-select ng-model="inventory.unitOfMeasure" name="uom"  aria-label="Unit Measure" ng-required="!inventory.addUOM" md-on-open="getAcceptableUOMs(inventory,inventoryArray,inventory.unitOfMeasure)">
                                <md-option value="" ng-click="inventory.addUOM = !inventory.addUOM;">Custom UOM</md-option>
                                <md-option  ng-repeat="item in inventory.acceptableUOMs track by $id(item)" ng-click="inventory.addUOM = false" ng-value="item._id">
                                    <span ng-class="item._id===-1?'fa fa-plus nv-select-new-label':''"></span>
                                    <span>{{(item.symbol)}}</span>
                                </md-option>
                            </md-select>
                            <div ng-messages="productForm.uom.$error">
                                <div ng-message="required">UOM is required</div>
                            </div>
                        </md-input-container>
                        </div>
                        <div flex="25">
                        <md-input-container class="bb-wid-100">
                            <label>No. Of Units</label>
                            <input ng-class="{ errorinput: submitted && productForm.numofunits.$invalid }"
                                   name="numofunits"
                                   required
                                   md-no-asterisk  ng-model="inventory.numberOfUnits" nv-regulation-exp="num">
                            <span class="e" ng-show="submitted && productForm.numofunits.$invalid"></span>
                        </md-input-container>
                        </div>
                        <div flex="25">
                        <md-input-container class="bb-wid-100">
                            <label>MRP</label>
                            <input ng-class="{ errorinput: submitted && productForm.mrp.$invalid }"
                                   name="mrp"
                                   required
                                   md-no-asterisk  ng-model="inventory.MRP" nv-regulation-exp="float">
                        </md-input-container>
                        </div>
                    <div flex="50"  ng-show="inventory.addUOM">
                        <md-input-container class="bb-wid-100">
                            <label>First UOM</label>
                            <md-select ng-model="inventory.uom.firstUnitOfMeasure" name="uom1"  md-on-open="findByUom(null, null, null, false)" aria-label="First Unit Measure" ng-required="inventory.addUOM">
                                <md-option  ng-repeat="item in UOMS track by $id(item)"  ng-value="item._id">
                                    <span ng-class="item._id===-1?'fa fa-plus nv-select-new-label':''"></span>
                                    <span>{{(item.name)}}</span>
                                </md-option>
                            </md-select>
                            <div ng-messages="productForm.uom1.$error">
                                <div ng-message="required">First UOM is required</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex="25" ng-show="inventory.addUOM">
                        <md-input-container class="bb-wid-100">
                            <label>Size</label>
                            <input ng-class="{ errorinput: submitted && productForm.conversion.$invalid }"
                                   name="conversion"
                                   ng-required="inventory.addUOM"
                                   md-no-asterisk  ng-model="inventory.uom.conversion" nv-regulation-exp="num">
                            <span class="e" ng-show="submitted && productForm.conversion.$invalid"></span>
                        </md-input-container>
                    </div>
                    <div flex="25" ng-show="inventory.addUOM">
                        <md-input-container class="bb-wid-100">
                            <label>Second UOM</label>
                            <md-select ng-model="inventory.uom.secondUnitOfMeasure" name="uom2"  md-on-open="findByUom(null, null, null, false)" aria-label="Second Unit Measure" ng-required="inventory.addUOM">
                                <md-option ng-repeat="item in UOMS track by $id(item)"  ng-value="item._id">
                                    <span ng-class="item._id===-1?'fa fa-plus nv-select-new-label':''"></span>
                                    <span>{{(item.name)}}</span>
                                </md-option>
                            </md-select>
                            <div ng-messages="productForm.uom2.$error">
                                <div ng-message="required">Second is required</div>
                            </div>
                        </md-input-container>
                    </div>
                            <div flex="50" ng-show="showMore">
                            <md-input-container class="bb-wid-100">
                                <label>Batch No.</label>
                                <input ng-class="{ errorinput: submitted && productForm.mrp.$invalid }"
                                       name="batchNo"
                                       md-no-asterisk  ng-model="inventory.batchNumber" >
                            </md-input-container>
                            </div>
                            <div flex="25" ng-show="showMore">
                                <label class="nvc-text-light">Mfg Date</label>
                                <md-datepicker required class="nvc-date-picker" ng-model="inventory.manufacturingDate"  md-placeholder="Mfg Date">
                                </md-datepicker>
                            </div>
                            <div flex="25" ng-show="showMore">
                                <label class="nvc-text-light">Pkg Date</label>
                                <md-datepicker required class="nvc-date-picker" ng-model="inventory.packagingDate"  md-placeholder="Pkg Date">
                                </md-datepicker>
                            </div>

                    <div flex="100" class="nv-text-right nvc-primary-color" ><span ng-click="showMore=!showMore">{{showMore?'-':'+'}} Show {{showMore?'Less':'More'}}</span></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div>
    <div  ng-show="addInventory" ng-disabled="!productbrand" flex="100" flex-xs="100" layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
          layout-wrap >
        <div flex="60" flex-xs="100" flex-sm="60" flex-gt-lg="60">
            <div data-ng-show="success"  class="text-center text-success">
                <strong>Product Added Successfully</strong>
            </div>
            <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </div>
            <md-button type="submit" class="nvc-accent-background nvc-primary-color nvc-padding-0 nvc-margin-0 md-background-accent" flex="100">Create Product</md-button>

    </div>
    </div>
</form>




