<div ng-if="showAddProduct">
    <form name="productForm" data-ng-submit="createProduct(productForm.$valid);" novalidate get-invalid-entry="productForm.$valid">
        <input type="hidden" name="businessUnitId" value="businessUnit"/>
        <h2 class="md-headline">Add Product</h2>
        <md-divider></md-divider>

        <md-card layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
                 layout-wrap>

            <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
            <h3 ng-show="subCategory2" class="md-title">Product Details</h3>
            </div>
            <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                <md-card ng-show="subCategory2" layout-padding layout="row" layout-xs='row' layout-xs="column"
                         layout-sm="row" layout-gt-lg="row"
                         layout-wrap>
                <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                        <md-autocomplete
                                required
                                     md-no-cache="false"
                                     md-search-text="searchText"
                                     md-selected-item="existingProduct"
                                     md-selected-item-change="getSelectedItem(item)"
                                     md-items="item in findProduct(searchText,subCategory2,false)"
                                     md-item-text="item.name"
                                     md-floating-label="Product Name">
                            <md-item-template>

                                <span md-highlight-text="searchText" md-highlight-flags="^i" >{{item.name + ' '+(item.brandName?item.brandName:'')+' '+item.productUID}}</span>

                            </md-item-template>
                      <!--      <md-not-found>
                                No states matching were found.
                                <a ng-click="newSelecetedItem(searchText)">Create a new one!</a>
                            </md-not-found>-->
                    </md-autocomplete>
                </div>
                    <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25"
                         ng-show="selectedSubCategory && selectedSubCategory.productAttributes.brand">
                    <md-input-container class="md-block">
                        <label>Brand Name</label>
                        <input md-maxlength="128" md-no-asterisk ng-disabled="selectedItem.productUID" ng-model="selectedItem.brandName">
                    </md-input-container>
                </div>

                <div flex="25" flex-xs="100" flex-sm="50" flex-gt-lg="25" ng-show="selectedItem.productUID">
                    <md-input-container class="md-block">
                        <label>Sample Number</label>
                        <input md-maxlength="128"  md-no-asterisk  ng-disabled="selectedItem.productUID" ng-model="selectedItem.sampleNumber">

                    </md-input-container>

                </div>
                <div flex="25" flex-xs="100" flex-sm="50" flex-gt-lg="25"
                     ng-show="selectedSubCategory && selectedSubCategory.productAttributes.fssaiLicenceNumber">
                    <md-input-container class="md-block">
                        <label>FSSAI License Number</label>
                        <input md-maxlength="128"  md-no-asterisk ng-disabled="selectedItem.productUID " ng-model='selectedItem.fssaiLicenseNumber'>

                    </md-input-container>

                </div>

                <div flex="20" flex-xs="100" flex-sm="35"
                     flex-gt-lg="20"
                     ng-show="(selectedSubCategory && selectedSubCategory.productAttributes.fssaiLicenceNumber) &&!(selectedItem.productUID)">
                    <label ng-if="!selectedItem.fssaiLicenseNumberProof" class="bb-nlabel bb-m-bot15">FSSAI Number Proof</label>
                    <a ng-if="selectedItem.fssaiLicenseNumberProof" class="bb-simple bb-profimg-fix" href="{{selectedItem.fssaiLicenseNumberProof}}" target="_blank" >FSSAI Number Proof</a>
                    <span class="bb-wbtn btn bb-btn-save bb-btn-file bb-wid-100">
                            Browse
                            <input type="file" ng-disabled="selectedItem.productUID" ng-model="selectedItem.fssaiLicenseNumberProof" uploadpathkey='product'
                                   uploader="uploader"/>
                         </span>
                </div>


                <div flex="20" flex-xs="100" flex-sm="35"
                     flex-gt-lg="20"
                     ng-show="selectedSubCategory && selectedSubCategory.productAttributes.testCertifcate">
                    <label ng-if="!selectedItem.testCertificate" class="bb-nlabel bb-m-bot15">Test Certificate</label>
                    <a ng-if="selectedItem.testCertificate" class="bb-simple bb-profimg-fix"
                       ng-href="{{selectedItem.testCertificate}}">Test Certificate</a>
                    <span ng-disabled="selectedItem.productUID " class="bb-wbtn btn bb-btn-save bb-btn-file bb-wid-100">
                                                                            Browse
                                                                            <input type="file"
                                                                                   ng-model="selectedItem.testCertificate"
                                                                                   uploadpathkey='product'
                                                                                   uploader="uploader"/>
                                                                         </span>
                </div>
                <div flex="25" flex-xs="100" flex-sm="50" flex-gt-lg="25">
                        <md-input-container class="md-block">
                            <label>Description</label>
                            <textarea md-maxlength="1058" ng-disabled="selectedItem.productUID" md-no-asterisk ng-model="selectedItem.description"></textarea>
                        </md-input-container>
                    </div>


           <!--     <div flex="15" flex-xs="100" flex-sm="15" flex-gt-lg="15">
                    <div class="bb-ubtn bb-btn-file">
                        <img class="bb-profimg-fix bb-img-center" data-ng-src="{{selectedItem.productImageURL1?selectedItem.productImageURL1:productImageURL1}}" alt="Product Image 1">
                        <div class="bb-layer">
                            <span class="fa fa-camera bb-cam"></span></div>
                        <input type="file" ng-model="selectedItem.productImageURL1" uploadpathkey='product' accept="image/*" uploader="uploader"/></div>
                    <span id="lblErrorAddProduct" class="text-danger bb-f-15 bb-center"></span>
                </div>-->
                    <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100" layout="row" layout-wrap >
                        <div flex="50" flex-xs="100" flex-sm="100" flex-gt-lg="50" layout-wrap class="nv-max-height-inventory" ng-show="selectedSubCategory && selectedSubCategory.productAttributes.grade.enabled">
                            <div flex="{{selectedItem.gradeDefinition.length>0? '100':'50'}}" flex-xs="100" flex-sm="100" flex-gt-lg="50" layout="row">
                                <h2 class="md-headline">{{selectedItem.gradeDefinition.length>0? '':'Add '}}Grades</h2>
                                <span flex></span>
                                <md-button ng-hide="selectedItem.productUID " class="md-fab md-mini md-mini-cust bb-plus-btn"
                                           aria-label="Favorite"
                                           aria-label="Favorite" ng-click="addGrade(false)">
                                    <md-tooltip md-direction="top">Add Another Grade</md-tooltip>
                                    <md-icon class="fa fa-plus md-icon-cust"></md-icon>
                                </md-button>
                            </div>
                            <md-card ng-repeat="grade in selectedItem.gradeDefinition track by  $id(grade) ">
                                <div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
                                     layout-wrap>
                                    <div flex="45" flex-xs="45" flex-sm="45" flex-gt-lg="45">
                                        <md-input-container class="md-block">
                                            <label >Key</label>
                                            <input  md-maxlength="128"
                                                    md-minlength="1"
                                                    required
                                                    md-no-asterisk ng-disabled="selectedItem.productUID " ng-model="grade.attributeKey" nv-regulation-exp="key">
                                        </md-input-container>
                                    </div>
                                    <div flex="45" flex-xs="45" flex-sm="45" flex-gt-lg="45">
                                        <md-input-container class="bb-wid-100">
                                            <label>Value</label>
                                            <input md-maxlength="128"
                                                   md-minlength="1"
                                                   required
                                                   md-no-asterisk  ng-model="grade.attributeValue" nv-regulation-exp="value">

                                        </md-input-container>
                                    </div>
                                    <div flex="2" flex-xs="2" flex-sm="2" flex-gt-lg="2">
                                        <md-icon
                                                class="fa-minus-circle faa bb-minus-btn"
                                                ng-click="selectedItem.gradeDefinition.splice($index, 1)"
                                                ng-show="selectedItem.gradeDefinition.length > 0 && !selectedItem.productUID">

                                        </md-icon>
                                    </div>
                                </div>
                            </md-card>
                        </div>
                        <!--  <div flex="50" flex-xs="50" flex-sm="50" flex-gt-lg="50" >-->

                        <div flex="50" flex-xs="100" flex-sm="100" class="nv-max-height-inventory" ng-show="selectedSubCategory && selectedSubCategory.productAttributes.quality.enabled">
                            <div flex="{{selectedItem.qualityDefinition.length>0? '100': '50'}}" flex-xs="100" flex-sm="100" flex-gt-lg="50" layout="row">
                                <h2 class="md-headline">{{selectedItem.qualityDefinition.length>0? '': 'Add '}}Quality</h2>
                                <span flex></span>
                                <md-button ng-hide="selectedItem.productUID " class="md-fab md-mini md-mini-cust bb-plus-btn"
                                           aria-label="Favorite"
                                           aria-label="Favorite" ng-click="addQuality(false)">
                                    <md-tooltip md-direction="top">Add Another quality</md-tooltip>
                                    <md-icon class="fa fa-plus md-icon-cust"></md-icon>
                                </md-button>
                            </div>
                            <md-card ng-repeat="quality in selectedItem.qualityDefinition track by  $id(quality) ">
                                <div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
                                     layout-wrap>
                                    <div flex="45" flex-xs="45" flex-sm="45" flex-gt-lg="45">
                                        <md-input-container class="md-block">
                                            <label>Key</label>
                                            <input ng-disabled="selectedItem.productUID" md-maxlength="128"
                                                   md-minlength="1"
                                                   required
                                                   md-no-asterisk  ng-model="quality.attributeKey" nv-regulation-exp="key">
                                        </md-input-container>
                                    </div>
                                    <div flex="45" flex-xs="45" flex-sm="45" flex-gt-lg="45">
                                        <md-input-container class="bb-wid-100">
                                            <label>Value</label>
                                            <input ng-disabled="selectedItem.productUID " md-maxlength="128"
                                                   md-minlength="1"
                                                   required
                                                   md-no-asterisk  ng-model="quality.attributeValue" nv-regulation-exp="value">
                                        </md-input-container>
                                    </div>
                                    <div flex="2" flex-xs="2" flex-sm="2" flex-gt-lg="2">
                                        <md-icon
                                                class="fa-minus-circle faa bb-minus-btn"
                                                ng-click="selectedItem.qualityDefinition.splice($index, 1)"
                                                ng-show="selectedItem.qualityDefinition.length > 0 && !selectedItem.productUID"></md-icon>
                                    </div>
                                </div>
                            </md-card>
                        </div>
                    </div>
                <div layout-padding layout="row" flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
                         layout-wrap>
                        <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                            <div class="bb-ubtn bb-btn-file">
                                <img class="bb-profimg-fix bb-img-center" data-ng-src="{{selectedItem.productImageURL1?selectedItem.productImageURL1:productImageURL1}}"
                                     alt="Product Image 1">

                                <div class="bb-layer">
                                    <span class="fa fa-camera bb-cam"></span></div>
                                <!--<input type="file" nv-file-select uploader accept="image/*">-->

                                <input type="file" ng-model="selectedItem.productImageURL1"  uploadpathkey='product'
                                       accept="image/*" uploader="uploader"/></div>
                            <span id="lblErrorAddProduct" class="text-danger bb-f-15 bb-center"></span>

                        </div>
                        <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                            <div class="bb-ubtn bb-btn-file">
                                <img class="bb-profimg-fix bb-img-center" data-ng-src="{{selectedItem.productImageURL2?selectedItem.productImageURL2:productImageURL1}}"
                                     alt="Product Image 2">

                                <div class="bb-layer">
                                    <span class="fa fa-camera bb-cam"></span></div>
                                <!--<input type="file" nv-file-select uploader accept="image/*">-->

                                <input type="file" ng-model="selectedItem.productImageURL2" uploadpathkey='product'
                                       accept="image/*" uploader="uploader"/></div>
                            <span id="lblErrorAddProduct2" class="text-danger bb-f-15 bb-center"></span>

                        </div>
                        <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                            <div class="bb-ubtn bb-btn-file">
                                <img class="bb-profimg-fix bb-img-center" data-ng-src="{{selectedItem.productImageURL3?selectedItem.productImageURL3:productImageURL1}}"
                                     alt="Product Image 3">

                                <div class="bb-layer">
                                    <span class="fa fa-camera bb-cam"></span></div>
                                <!--<input type="file" nv-file-select uploader accept="image/*">-->

                                <input type="file" ng-model="selectedItem.productImageURL3" uploadpathkey='product'
                                       accept="image/*" uploader="uploader"/></div>
                            <span id="lblErrorAddProduct3" class="text-danger bb-f-15 bb-center"></span>

                        </div>
                        <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                            <div class="bb-ubtn bb-btn-file">
                                <img class="bb-profimg-fix bb-img-center" data-ng-src="{{selectedItem.productImageURL4?selectedItem.productImageURL4:productImageURL1}}"
                                     alt="Product Image 4">

                                <div class="bb-layer">
                                    <span class="fa fa-camera bb-cam"></span></div>
                                <!--<input type="file" nv-file-select uploader accept="image/*">-->

                                <input type="file" ng-model="selectedItem.productImageURL4" uploadpathkey='product'
                                       accept="image/*" uploader="uploader"/></div>
                            <span id="lblErrorAddProduct4" class="text-danger bb-f-15 bb-center"></span>
                        </div>
                    </div>

            </div>
        </md-card>

        <div ng-show="subCategory2" flex="100" flex-xs="100" layout="row">
            <h2 class="md-headline">Inventory Details</h2>
            <span flex></span>
            <md-button class="md-fab md-mini md-mini-cust bb-plus-btn" aria-label="Favorite" ng-click="addInventory()">
                <md-tooltip>Add Inventory</md-tooltip>
                <md-icon class="fa fa-plus md-icon-cust"></md-icon>
            </md-button>
        </div>
            <div ng-show="subCategory2" flex="100" flex-xs="100" class="nv-max-height-inventory">
        <md-card ng-repeat="inventory in inventoryArray track by  $id(inventory) ">
            <div flex="100" flex-gt-lg="100" flex-md="100" flex-xs="100" flex-sm="100"  layout="row" ng-if="inventoryArray.length>1">

                <h2 class="md-headline" ng-show="inventory.unitSize>0 && inventory.unitMeasure">Inventory - {{inventory.unitSize+' ( '+inventory.unitMeasure +' )'}}</h2>
                <span flex></span>
                <md-icon class="md-fab md-mini md-mini-cust bb-minus-btn nv-red" aria-label="Favorite" ng-click="inventoryArray.splice($index, 1)">
                    <md-tooltip>Remove Inventory</md-tooltip>
                    <md-icon class="fa-minus-circle faa bb-minus-btn"></md-icon>
                </md-icon>
            </div>
            <div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
                 layout-wrap>


                <div flex="25" flex-xs="50" flex-sm="25" flex-gt-lg="25">
                    <md-input-container class="md-block">
                        <label>Unit Size</label>
                        <input ng-class="{ errorinput: submitted && productForm.unitSize.$invalid }"
                               md-maxlength="128"
                               name="unitSize"
                               md-minlength="1"
                               required
                               md-no-asterisk  ng-model="inventory.unitSize" nv-regulation-exp="float">
                        <span class="e" ng-show="submitted && productForm.unitSize.$invalid"></span>

                    </md-input-container>
                </div>
                <div flex="25" flex-xs="50" flex-sm="23" flex-gt-lg="23">
                    <md-input-container class="bb-wid-100">
                        <label>Unit Measure</label>
                        <md-select required ng-model="inventory.unitMeasure">
                            <md-option ng-repeat="item in selectedSubCategory.inventoryAttributes.unitMeasure">
                                {{item}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                </div>

                <div flex="25" flex-xs="50" flex-sm="25" flex-gt-lg="25">
                    <md-input-container class="md-block">
                        <label>MRP</label>
                        <input ng-class="{ errorinput: submitted && productForm.mrp.$invalid }"
                               name="mrp"
                               md-maxlength="128"
                               md-minlength="1"
                               required
                               md-no-asterisk  ng-model="inventory.MRP" nv-regulation-exp="float">
                        <span class="e" ng-show="submitted && productForm.mrp.$invalid"></span>
                    </md-input-container>

                </div>
                <div flex="25" flex-xs="50" flex-sm="25" flex-gt-lg="25">

                    <md-input-container  flex="99" class="md-block">

                        <label>Number of Units</label>
                        <input ng-class="{ errorinput: submitted && productForm.numofunits.$invalid }"
                               name="numofunits"
                               md-maxlength="128"
                               md-minlength="1"
                               required
                               md-no-asterisk  ng-model="inventory.numberOfUnits" nv-regulation-exp="num">
                        <span class="e" ng-show="submitted && productForm.numofunits.$invalid"></span>
                    </md-input-container>
                </div>

                <div flex="25" flex-xs="50" flex-sm="25" flex-gt-lg="25">

                    <md-input-container  flex="99" class="md-block">

                        <label>Max Units</label>
                        <input ng-class="{ errorinput: submitted && productForm.maxUnits.$invalid }"
                               name="maxUnits"
                               md-maxlength="128"
                               md-minlength="1"
                               required
                               md-no-asterisk  ng-model="inventory.maxUnits" nv-regulation-exp="num">
                        <span class="e" ng-show="submitted && productForm.maxUnits.$invalid"></span>
                    </md-input-container>

                </div>

                <div flex="25" flex-xs="50" flex-sm="25" flex-gt-lg="25">
                <md-input-container  class="md-block">
                    <!-- <label>Registration Category</label>-->
                    <md-select ng-model="inventory.taxGroup"  aria-label="Select  Buyer">
                        <md-option  id='_{{$index}}' ng-repeat="item in taxgroups track by $id(item)"  ng-value="item._id">
                            <span ng-class="item._id===-1?'fa fa-plus nv-select-new-label':''"></span>
                            <span>{{(item.name)}}</span>
                        </md-option>
                    </md-select>
                </md-input-container>
                </div>
                <div flex="100" flex-xs="100">
                    <div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
                         layout-wrap>
                      <div flex="50" flex-xs="100" flex-sm="100" flex-gt-lg="50" class="nv-max-height-inventory">

                         <div flex="100" flex-xs="100" layout="row">
                           <h2 class="md-headline">Sale Price</h2>
                           <span flex></span>
                           <md-button class="md-fab md-mini md-mini-cust bb-plus-btn"
                                   aria-label="Favorite"
                                   aria-label="Favorite" ng-click="addMoqAndSalePrice(false)">
                            <md-tooltip md-direction="top">Add Another Sale Price</md-tooltip>
                            <md-icon class="fa fa-plus md-icon-cust"></md-icon>
                           </md-button>
                       </div>
                    <md-card ng-repeat="salePrice in inventory.moqAndSalePrice track by $id(salePrice) ">

                        <div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
                             layout-wrap layout-align="center center">

                            <div flex="30" flex-xs="90" flex-sm="30" flex-gt-sm="" flex-gt-lg="30">
                                <md-input-container class="md-block">
                                    <label>MOQ</label>
                                    <input ng-class="{ errorinput: submitted && productForm.moq1.$invalid }"
                                           name="moq1"
                                           md-maxlength="128"
                                           md-minlength="1"
                                           required
                                           md-no-asterisk  ng-model="salePrice.MOQ" nv-regulation-exp="num" >
                                    <span class="e" ng-show="submitted && productForm.moq1.$invalid"></span>
                                </md-input-container>

                            </div>
                            <div flex-xs="2" show-xs hide-md hide-sm hide-lg hide-gt-lg>
                                <md-icon
                                        class="fa-minus-circle faa bb-minus-btn"
                                        ng-click="inventory.moqAndSalePrice.splice($index, 1)"
                                        ng-show="inventory.moqAndSalePrice.length > 1"></md-icon>
                            </div>
                            <div flex="30" flex-xs="50" flex-sm="30" flex-gt-lg="30">
                                <md-input-container class="bb-wid-100" >
                                    <label>Margin</label>
                                    <input ng-class="{ errorinput: submitted && productForm.margin1.$invalid }"
                                           name="margin1"
                                           required
                                           md-no-asterisk  ng-model="salePrice.margin" ng-change="changeValidPrice($index,true)"
                                           nv-regulation-exp="margin">
                                    <span class="e" ng-show="submitted && productForm.margin1.$invalid"></span>
                                </md-input-container>

                            </div>
                            <div flex="30" flex-xs="50" flex-sm="30" flex-gt-lg="30">
                                <md-input-container class="bb-wid-100" >
                                    <label>Price</label>
                                    <input ng-model="salePrice.price"  nv-index={{$index}} nv-sale="true" nv-price="{{inventory.MRP}}" disabled  >
                                </md-input-container>

                            </div>


                            <div flex="2" hide-xs flex-sm="2" flex-gt-lg="2">
                                <md-icon
                                         class="fa-minus-circle faa bb-minus-btn"
                                         ng-click="inventory.moqAndSalePrice.splice($index, 1)"
                                         ng-show="inventory.moqAndSalePrice.length > 1"></md-icon>
                            </div>
                        </div>
                    </md-card>
                </div>
                <div flex="50" flex-xs="100" flex-sm="100" flex-gt-lg="50" class="nv-max-height-inventory">

                    <div flex="100" flex-xs="100" layout="row">
                        <h2 class="md-headline">Buy Price</h2>
                        <span flex></span>

                        <md-button class="md-fab md-mini md-mini-cust bb-plus-btn"
                                   aria-label="Favorite"
                                   aria-label="Favorite" ng-click="addMoqAndBuyPrice(false)">
                            <md-tooltip md-direction="top">Add Another Buy Price</md-tooltip>
                            <md-icon class="fa fa-plus md-icon-cust"></md-icon>
                        </md-button>
                    </div>
                    <md-card ng-repeat="buyPrice in inventory.moqAndBuyPrice track by  $id(buyPrice) ">

                        <div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
                             layout-wrap>

                            <div flex="30" flex-xs="90" flex-sm="30" flex-gt-lg="30">
                                <md-input-container class="md-block">
                                    <label>MOQ</label>
                                    <input ng-class="{ errorinput: submitted && productForm.moq.$invalid }"
                                           name="moq"
                                           md-maxlength="128"
                                           md-minlength="1"
                                           required
                                           md-no-asterisk  ng-model="buyPrice.MOQ" nv-regulation-exp="num">
                                    <span class="e" ng-show="submitted && productForm.moq.$invalid"></span>
                                </md-input-container>

                            </div>
                            <div show-xs flex-xs="2" hide-md hide-lg hide-gt-lg hide-sm>
                                <md-icon class="fa-minus-circle faa bb-minus-btn"
                                         ng-click="inventory.moqAndBuyPrice.splice($index, 1)"
                                         ng-show="inventory.moqAndBuyPrice.length>1"></md-icon>
                            </div>
                            <div flex="30" flex-xs="50" flex-sm="30" flex-gt-lg="30">
                                <md-input-container class="bb-wid-100">
                                    <label>Margin</label>
                                    <input ng-class="{ errorinput: submitted && productForm.margin.$invalid }"
                                           name="margin"
                                           required
                                           md-no-asterisk  ng-model="buyPrice.margin" ng-change="changeValidPrice($index,false)"
                                           nv-regulation-exp="margin">
                                    <span class="e" ng-show="submitted && productForm.margin.$invalid"></span>
                                </md-input-container>

                            </div>
                            <div flex="30" flex-xs="50" flex-sm="30" flex-gt-lg="30">
                                <md-input-container class="bb-wid-100">
                                    <label>Price</label>
                                    <input disabled ng-model="buyPrice.price" nv-index={{$index}} nv-sale="false" nv-price="{{inventory.MRP}}"    >
                                </md-input-container>

                            </div>

                            <div flex="2" hide-xs flex-sm="2" flex-gt-lg="2">
                                <md-icon class="fa-minus-circle faa bb-minus-btn"
                                        ng-click="inventory.moqAndBuyPrice.splice($index, 1)"
                                        ng-show="inventory.moqAndBuyPrice.length>1"></md-icon>
                            </div>

                        </div>

                    </md-card>


                </div>
               </div>
              </div>
            </div>
                <div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
                     layout-wrap>
                    <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                        <div class="bb-ubtn bb-btn-file">
                            <img class="bb-profimg-fix bb-img-center" data-ng-src="{{inventory.inventoryImageURL1}}"
                                 alt="Product Image 1">

                            <div class="bb-layer">
                                <span class="fa fa-camera bb-cam"></span></div>
                            <!--<input type="file" nv-file-select uploader accept="image/*">-->

                            <input type="file" ng-model="inventory.inventoryImageURL1" uploadpathkey='inventory'
                                   accept="image/*" uploader="uploader"/></div>
                        <span id="lblErrorAddProductInventory1" class="text-danger bb-f-15 bb-center"></span>

                    </div>
                    <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                        <div class="bb-ubtn bb-btn-file">
                            <img class="bb-profimg-fix bb-img-center" data-ng-src="{{inventory.inventoryImageURL2}}"
                                 alt="Product Image 2">

                            <div class="bb-layer">
                                <span class="fa fa-camera bb-cam"></span></div>
                            <!--<input type="file" nv-file-select uploader accept="image/*">-->

                            <input type="file" ng-model="inventory.inventoryImageURL2" uploadpathkey='inventory'
                                   accept="image/*" uploader="uploader"/></div>
                        <span id="lblErrorAddProductInventory2" class="text-danger bb-f-15 bb-center"></span>

                    </div>
                    <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                        <div class="bb-ubtn bb-btn-file">
                            <img class="bb-profimg-fix bb-img-center" data-ng-src="{{inventory.inventoryImageURL3}}"
                                 alt="Product Image 3">

                            <div class="bb-layer">
                                <span class="fa fa-camera bb-cam"></span></div>
                            <!--<input type="file" nv-file-select uploader accept="image/*">-->

                            <input type="file" ng-model="inventory.inventoryImageURL3" uploadpathkey='inventory'
                                   accept="image/*" uploader="uploader"/></div>
                        <span id="lblErrorAddProductInventory3" class="text-danger bb-f-15 bb-center"></span>
                    </div>
                    <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                        <div class="bb-ubtn bb-btn-file">
                            <img class="bb-profimg-fix bb-img-center" data-ng-src="{{inventory.inventoryImageURL4}}"
                                 alt="Product Image 4">

                            <div class="bb-layer">
                                <span class="fa fa-camera bb-cam"></span></div>
                            <!--<input type="file" nv-file-select uploader accept="image/*">-->

                            <input type="file" ng-model="inventory.inventoryImageURL4" uploadpathkey='inventory'
                                   accept="image/*" uploader="uploader"/></div>
                        <span id="lblErrorAddProductInventory4" class="text-danger bb-f-15 bb-center"></span>
                    </div>
                </div>

        </md-card>
        </div>
        <div  ng-show="subCategory2" layout-padding flex="100" flex-xs="100" layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
             layout-wrap>

            <div flex="20" flex-xs="100" flex-sm="20" flex-gt-lg="15">
                <md-button type="submit"     class="md-raised md-primary bb-wid-100">Save</md-button>
            </div>

            <div flex="20" flex-xs="100" flex-sm="20" flex-gt-lg="15">
                <md-button ng-click="panelChange('viewAll');" class="md-raised md-accent bb-wid-100">Cancel</md-button>
            </div>

            <div flex="60" flex-xs="100" flex-sm="60" flex-gt-lg="60">
                <div data-ng-show="success"  class="text-center text-success">
                    <strong>Product Added Successfully</strong>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </div>
        </div>
    </form>
</div>



