<section data-ng-controller="ProductsController">
    <div class="page-header">
        <h1>New Product</h1>
    </div>
    <div class="col-md-12" data-ng-init="findMainCategories();">
        <form class="form-horizontal" name="productForm" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label" for="name">Name</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label" for="category">Category</label>
                    </div>
                    <div class="col-sm-2">
                        <select id="category"
                                data-ng-model="category"
                                data-ng-options="category._id as category.name for category in mainCategories | orderBy:'name'"
                                data-ng-change="changeCategory();">
                            <option value=''>Select</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label" for="subCategory1">Sub Category 1</label>
                    </div>
                    <div class="col-sm-2">
                        <select id="subCategory1"
                                data-ng-model="subCategory1"
                                data-ng-options="subCategory1._id as subCategory1.name for subCategory1 in subCategories1  | orderBy:'name'"
                                data-ng-change="changeSubCategory1();">
                            <option value=''>Select</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label" for="subCategory2">Sub Category 2</label>
                    </div>
                    <div class="col-sm-2">
                        <select id="subCategory2"
                                data-ng-model="subCategory2"
                                data-ng-options="subCategory2._id as subCategory2.name for subCategory2 in subCategories2  | orderBy:'name'">
                            <option value=''>Select</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label" for="unitSize">Unit Size</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" data-ng-model="unitSize" id="unitSize" class="form-control"
                               placeholder="Unit Size" only-digits>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label" for="unitMeasure">Unit Measure</label>
                    </div>
                    <div class="col-sm-2">
                        <select data-ng-model="unitMeasure" id="unitMeasure" class="form-control"
                                ng-options="item as item for item in unitMeasureTypes"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label" for="unitPrice">Unit Price</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" data-ng-model="unitPrice" id="unitPrice" class="form-control"
                               placeholder="Unit Price" only-digits>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label" for="numberOfUnits">Number Of Units</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" data-ng-model="numberOfUnits" id="numberOfUnits" class="form-control"
                               placeholder="Number Of Units" only-digits>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label" for="description">Description</label>
                    </div>
                    <div class="col-sm-2">
                        <textarea rows="3" style="resize:none" data-ng-model="description" id="description" class="form-control" placeholder="Product Description"> </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div data-ng-repeat="key in keyWords">
                        <button type ="button" class ="btn btn-default btn-xs" data-ng-click="removeKey(key)">
                            <span class = "glyphicon glyphicon-remove"></span>
                            {{key}}
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">Key Words</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" data-ng-keypress="($event.keyCode == 13)&&addKey()" data-ng-model="keyWord" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <img data-ng-src="{{imageURL1}}" alt="Product Image 1"
                                 class="img-thumbnail user-profile-picture">
                        </div>
                        <div class="form-group" data-ng-show="uploader.progress > 0 && uploader.progress != 100">
                            Uploading:
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-ng-style="{ 'width' : uploader.progress + '%' }"></div>
                            </div>
                        </div>
                        <div class="form-group" data-ng-hide="uploader.queue.length">
                            <span class="btn btn-default btn-file">
                                Select Image <input type="file" nv-file-select uploader="uploader">
                            </span>
                        </div>
                    </div>

                    <!--
                    <div class="col-sm-2">
                        <div class="form-group">
                            <img data-ng-src="{{imageURL2}}" alt="Product Image 2"
                                 class="img-thumbnail user-profile-picture">
                        </div>
                        <div class="form-group" data-ng-hide="uploader.queue.length">
                            <span class="btn btn-default btn-file">
                                Select Image <input type="file" nv-file-select uploader="uploader">
                            </span>
                        </div>
                        <div class="form-group" data-ng-show="uploader.queue.length">
                            <button class="btn btn-primary" data-ng-click="uploadProfilePicture();">Upload</button>
                            <button class="btn btn-default" data-ng-click="cancelUpload();">Cancel</button>
                        </div>
                        <div data-ng-show="imgsuccess" class="text-success">
                            <strong>Profile Picture Changed Successfully</strong>
                        </div>
                        <div data-ng-show="imgerror" class="text-danger">
                            <strong data-ng-bind="imgerror"></strong>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <img data-ng-src="{{imageURL3}}" alt="Product Image 3"
                                 class="img-thumbnail user-profile-picture">
                        </div>
                        <div class="form-group" data-ng-hide="uploader.queue.length">
                            <span class="btn btn-default btn-file">
                                Select Image <input type="file" nv-file-select uploader="uploader">
                            </span>
                        </div>
                        <div class="form-group" data-ng-show="uploader.queue.length">
                            <button class="btn btn-primary" data-ng-click="uploadProfilePicture();">Upload</button>
                            <button class="btn btn-default" data-ng-click="cancelUpload();">Cancel</button>
                        </div>
                        <div data-ng-show="imgsuccess" class="text-success">
                            <strong>Profile Picture Changed Successfully</strong>
                        </div>
                        <div data-ng-show="imgerror" class="text-danger">
                            <strong data-ng-bind="imgerror"></strong>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <img data-ng-src="{{imageURL4}}" alt="Product Image 4"
                                 class="img-thumbnail user-profile-picture">
                        </div>
                        <div class="form-group" data-ng-hide="uploader.queue.length">
                            <span class="btn btn-default btn-file">
                                Select Image <input type="file" nv-file-select uploader="uploader">
                            </span>
                        </div>
                        <div class="form-group" data-ng-show="uploader.queue.length">
                            <button class="btn btn-primary" data-ng-click="uploadProfilePicture();">Upload</button>
                            <button class="btn btn-default" data-ng-click="cancelUpload();">Cancel</button>
                        </div>
                        <div data-ng-show="imgsuccess" class="text-success">
                            <strong>Profile Picture Changed Successfully</strong>
                        </div>
                        <div data-ng-show="imgerror" class="text-danger">
                            <strong data-ng-bind="imgerror"></strong>
                        </div>
                    </div>-->
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default" data-ng-click="reset(productForm);" value="Save">
                    <input type="button" value="Cancel" data-ng-click="panelChange();" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
