<div layout-padding layout="column">
    <div class="md-headline">New Offers</div>
    <md-divider></md-divider>

    <form  name="tableform"  data-ng-submit="processOfferCreation()" autocomplete="off">
       <!-- <div class="layout-padding" layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
            <div flex="40" flex-xs="100" flex-sm="40" flex-gt-lg="25">
                <md-input-container class="md-block">
                    <label>Offer Name</label>
                    <input required ng-model="selOffer.name">
                    <div ng-messages="tableform.offerName.$error" multiple="" md-auto-hide="true">
                        <div ng-message="required">
                            Offer name is mandatory. Please enter the offer name.
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div flex="30" flex-xs="100" flex-sm="40" flex-gt-lg="30">
                <div class="md-subhead">Valid Till</div>
                <md-datepicker required ng-model="selOrder.validTill"  md-placeholder="Valid Till">
                </md-datepicker>
            </div>

            <div flex="20" flex-xs="100" flex-sm="20" flex-gt-lg="10">
                <md-checkbox ng-model="selOffer.isPublic" aria-label="Public">
                    Public
                </md-checkbox>
            </div>

         <div flex="40" flex-xs="100" flex-sm="40" flex-gt-lg="25">
                <div class="md-subhead">To</div>
                <select class="form-control"  ng-required="!(selOffer.isPublic)" ui-select2="select2Options" multiple ng-model="to.contact" placeholder="Type Contacts,Group Names...">
                    <option ng-repeat="tag in contactsVsGroup" value="{{tag}}">{{(tag.firstName?tag.firstName:tag.name)+(tag.middleName?' '+tag.middleName:'')+(tag.lastName?' '+tag.lastName:'')}}</option>
                </select>
            </div>
            <div flex="30" flex-xs="100" flex-sm="30" flex-gt-lg="30">
                <div class="md-subhead">Offer Type </div>
                <md-radio-group data-ng-model="selOffer.offerType" ng-change="changeOfferType()" name="Offer Types" layout-padding layout="row"
                                layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>

                    <md-radio-button flex-xs="100" ng-repeat="types in offerTypes" class="md-primary"
                                     data-ng-model="selOffer.offerType" name="types.text" ng-value="types.value">{{types.text}}
                    </md-radio-button>
                </md-radio-group>
            </div>

        </div>

        <div class="bb-off-srch" layout="column" layout-xs='row' layout-xs="column" layout-sm="column"
             layout-gt-lg="column" layout-wrap>

            <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                <div class="input-group bb-p-15">
                    <input class="form-control" placeholder="Search..." type="text">
                    <span class="input-group-btn">
                                <button class="btn bb-btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                </div>
            </div>
        </div>
-->
       <!-- <div class="layout-padding bb-sidenav-scroll bb-offer-products" layout="row" layout-xs='row' layout-xs="column"
             layout-sm="row"
             layout-gt-lg="row" layout-wrap>

            <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100" ng-show="!selOffer.products.length>0">
                <div class="bb-min-prod">
                    &lt;!&ndash;<a class="btn btn-blue pull-right" href="/#!/products/create">Add Products</a>&ndash;&gt;
                    <md-button class="md-raised md-primary pull-right">Add Products</md-button>
                    <p class="md-subhead">No Products! Please add products to Create Offers</p>
                </div>
            </div>

            <div class="panel panel-default" layout-fill>
                <div class="panel-body">
                    <div class="layout-padding" layout="row" layout-xs='row' layout-xs="column" layout-sm="row"
                         layout-gt-lg="row" layout-wrap>

                        <md-card class="bb-pop-more bb-prod-box"
                                 ng-class="{'bb-ofs' :offerType==='Sell' && (item.numberOfUnits === 0 || item.numberOfUnits -item.offerUnits === 0)}"
                                 flex="20"
                                 flex-xs="100"
                                 flex-sm="25" flex-gt-lg="15"
                                 ng-repeat="item in allCategoriesProducts track by $index "
                                 ng-show="allCategoriesProducts.length>0">

                            <div ng-show="offerType==='Sell' && (item.numberOfUnits === 0 || item.numberOfUnits -item.offerUnits === 0)" class="ribbon ribbon-small ribbon-green">
                                <div class="banner">
                                    <div class="text" ng-if="offerType==='Sell' && item.numberOfUnits === 0">OUT OF STOCK</div>
                                    <div class="text" ng-if="item.numberOfUnits !== 0 && item.numberOfUnits -item.offerUnits === 0">OUT OF OFFER STOCK</div>
                                </div>
                            </div>

                            <img data-ng-src={{item.inventoryImageURL1}}
                                 class="img-responsive bb-img-center bb-inv-img-fix"
                                 alt="">

                            <md-card-actions layout="row" layout-align="start center">
                                <md-checkbox class="bb-prod-checkbox" aria-label="Public" ng-model="item.selected"
                                             ng-change="changeSelectedProduct($index,null);" ng-disabled="offerType==='Sell' && (item.numberOfUnits === 0 || item.numberOfUnits-item.offerUnits === 0 || item.disabled)">
                                    <div class="md-subhead bb-truncate">{{item.product.name+' ('+item.unitSize+''+item.unitMeasure+' )'}}
                                    </div>
                                </md-checkbox>
                            </md-card-actions>
                        </md-card>
                    </div>
                </div>
            </div>
        </div>-->

        <div class="layout-padding"  layout="column" layout-xs='row' layout-xs="column" layout-sm="column" layout-gt-lg="column" layout-wrap ng-show="selOffer.products.length>0">
       <!--     <md-divider></md-divider>
            <div class="md-headline">Products</div>-->
            <table class="nvc-content nvc-content-table">
       <!--     <div class="table-responsive bb-offerprod-scroll bb-table">
                <table class="table bb-responstable">-->
                    <thead  ng-show="selOffer.offerType!='Sell'">
                    <tr>
                        <!-- <th></th>-->
                        <th><md-checkbox ng-model="selectAll" aria-label="select all" </th>
                        <th>Product Name</th>
                        <th>Unit Size (Measure)</th>
                        <th>Units</th>
                        <th>Unit Price (&#8377;)</th>
                        <th>Margin (%)</th>
                        <th>MOQ (Units)</th>
                        <th>Available Date</th>
                        <th>Sample Available</th>
                    </tr>
                    </thead>



                    <thead ng-show="selOffer.offerType==='Buy'">
                    <tr>
                        <!-- <th></th>-->
                        <th>Product Name</th>
                        <th>Unit Size ( Measure )</th>
                        <th>Quantity</th>
                        <th>Unit Price  ( &#8377; )</th>
                        <th>Margin ( % )</th>
                        <th>MOQ ( Units )</th>
                        <th>Required By Date</th>
                        <th>Sample Required</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="singleproduct in selOffer.products track by $id(singleproduct)">
                        <td><md-checkbox aria-label="selectProduct" ng-model="singleproduct.selected" class="md-primary"></md-checkbox> </td>

                        <td>

                            <md-input-container class="md-block">
                                <div class="md-subhead bb-truncate">{{singleproduct.productName}}
                                    <md-tooltip>{{singleproduct.productName}}</md-tooltip>
                                </div>
                            </md-input-container>
                        </td>
                        <td class="bb-w-16">
                            <md-input-container class="md-block">
                                <div class="md-subhead">{{singleproduct.unitOfMeasureName}}
                                </div>
                            </md-input-container>
                        </td>
                        <td class="bb-w-10">
                            <md-input-container class="md-block">
                                <div class="md-subhead">{{singleproduct.numberOfUnits}}</div> </md-input-container>
                        </td>
                        <td class="bb-w-10">
                            <md-input-container class="md-block">
                                <div class="md-subhead">{{singleproduct.MRP*(1-singleproduct.MOQ.margin/100) | number:2}}</div> </md-input-container>
                            </md-input-container>


                        </td>

                        <td>
                            <md-input-container class="md-block">
                                <div class="md-subhead">
                                    {{(singleproduct.margin) | number:2}}
                                </div>
                            </md-input-container>

                        </td>
                        <td class="bb-w-10">
                            <md-select  ng-model="singleproduct.MOQ"  aria-label="Select MOQ">
                                <md-option ng-repeat="item in singleproduct.moqAndMargin track by $id(item)" ng-value="item">
                                    <span>{{(item.MOQ)}}</span>
                                </md-option>
                            </md-select>
                        </td>
                        <td class="bb-w-18">
                            <md-datepicker ng-model="singleproduct.availableDate"  md-placeholder="Sample Available">
                            </md-datepicker>
                        </td>
                        <td>
                            <md-checkbox ng-model="singleproduct.sampleAvailable" aria-label="Sample"></md-checkbox>
                        </td>
                        <!--<td> <md-icon
                                class="fa-minus-circle faa bb-minus-btn"
                                ng-click="selectedproducts.splice($index, 1);"
                                ng-show="selectedproducts.length >=1"></md-icon></td>-->
                    </tr>


                    </tbody>
                </table>


           <!-- </div>-->

            <md-divider></md-divider>

            <div class="layout-padding"   layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="15">
                    <md-button type="submit" class="md-raised md-primary bb-wid-100">Place Offer</md-button>
                </div>
                <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="15">
                    <md-button ng-click="panelChange('cancelViewAll');" class="md-raised md-accent bb-wid-100">Cancel</md-button>
                </div>

            </div>

        </div>

    </form>

</div>



