
<div class="md-headline nv-text-center">Choose Products and specify number of Units</div>
    <form  name="tableform"  data-ng-submit="processOrderCreation()" autocomplete="off">
        <div layout="row" layout-sm="row" layout-xs="row" layout-gt-lg="row" layout-wrap>
            <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="row" layout="row" layout-padding>
                <div flex="50" class="md-padding">
                    <h4>Total No.of Products: <strong>{{selOrder.products.length}}</strong></h4>
                    <!----------- We need to generate total amount excluding discounts ------------------->
                    <h4>Total Amount: <strong>{{getTotalAmount()| currency:' &#8377; '}}</strong></h4>
                </div>
                <div flex="50" class="md-padding">
                    <!------------ we need to generate discounts of all Products --------------------->
                    <h4>Discounts: <strong>{{getDiscounts(selOrder)}}</strong></h4>
                    <h4>Total Payable: <strong>{{totalPriceFormatter() |currency:' &#8377; '}}</strong></h4>
                </div>
            </div>
            <div flex="100" flex-sm="100" flex-xs="100" flex-gt-lg="100">
                <table class="nvc-content nvc-content-table">
                    <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Unit Price ( &#8377; )</th>
                        <th>Unit Size ( Measure )</th>
                        <th>No. of Units</th>
                        <th>Margin (%)</th>
                        <!-- <th>MOQ</th>
                         <th>No. of Available Units</th>-->
                        <th>Price</th>
                        <th ng-show="selOrder.products.length > 0">Remove Product</th>
                        <!-- <th>VAT (%)</th>
                         <th>CST (%)</th>-->
                    </tr>
                    </thead>
                    <tbody>


<!--ng-show="selOrder.currentStatus==='Drafted' || selOrder.currentStatus==='Placed'"-->
                    <tr  ng-repeat="singleproduct in selOrder.products track by $id(singleproduct)" >
                        <td>
                            <md-input-container class="md-block">
                                <div class="md-subhead bb-truncate">
                                    <a  class="bb-cursor" ng-click="productDetails(selOrder.products,$index)" aria-label="Number">{{singleproduct.productName}}</a>
                                    <md-tooltip>
                                        {{singleproduct.productName}}
                                    </md-tooltip>

                                </div>


                            </md-input-container>
                        </td>
                        <td class="nv-text-right">
                            <md-input-container ng-disabled="singleproduct.disabled" class="md-block">
                                <div class="md-subhead">{{singleproduct.unitPrice | number:2}}</div>
                            </md-input-container>
                            <!-- <md-input-container ng-disabled="singleproduct.inventory.disabled" class="md-block" ng-if="!selOrder.offer">
                                 <input ng-disabled="singleproduct.inventory.disabled" aria-label="Unit Price" id="product_price_{{$index}}" required type="number" ng-model="singleproduct.unitPrice" ng-min=0 ng-max="{{singleproduct.inventory.unitPrice}}">
                                 <md-tooltip>Min Order Unit Price :0, Max Order Unit Price: {{singleproduct.inventory.unitPrice}}</md-tooltip>
                             </md-input-container>-->
                        </td>
                        <td>
                            <md-input-container ng-disabled="singleproduct.disabled" class="md-block">
                                <div class="md-subhead">
                                    {{singleproduct.unitOfMeasureName}}
                                </div>
                            </md-input-container>

                        </td>
                        <td>
                            <md-input-container class="md-block">
                                <!-- <label class="active" data-error="Please enter valid url." for="product_{{$index}}">url</label>-->
                                <input ng-change="changeProductPrice(singleproduct,$index)" ng-disabled="singleproduct.disabled"
                                       aria-label="numberOfUnits" id="product_{{$index}}" type="number" ng-model="singleproduct.numberOfUnits"
                                       ng-min="{{singleproduct.MOQ}}" ng-max="{{maxProductUnits(singleproduct,(selOrder.offer && selOrder.offer.offerType==='Buy'))}}">
                                <md-tooltip>Min Order Quantity : {{(singleproduct.MOQ!==0)?singleproduct.MOQ:(maxProductUnits(singleproduct,(selOrder.offer && selOrder.offer.offerType==='Buy'))>=1?1:0)}}, Max Order Quantity: {{maxProductUnits(singleproduct,(selOrder.offer && selOrder.offer.offerType==='Buy'))}}</md-tooltip>
                            </md-input-container>
                            <!--<div class="showtooltip" tooltip-placement="left" tooltip-enable="$isValid" tooltip="tooltip message"></div>-->


                        </td>
                        <!-- <td>
                             <md-input-container class="md-block">
                                 <div class="md-subhead">{{singleproduct.MOQ}}</div>
                             </md-input-container>
                         </td>-->
                        <!--  <td>
                              <md-input-container class="md-block">
                                  <div class="md-subhead">{{singleproduct.numberOfUnitsAvailable}}
                                  </div>
                              </md-input-container>
                          </td>-->
                        <td>
                            <md-input-container class="md-block">
                                <div class="md-subhead">{{singleproduct.margin | number:2}}
                                </div>
                            </md-input-container>
                        </td>
                        <td>
                            <md-input-container class="md-block">
                                <div class="md-subhead">
                                    {{singleproduct.unitPrice*singleproduct.numberOfUnits |currency:' &#8377; '}}
                                </div>
                            </md-input-container>
                        </td>

                        <!-- <td>
                             <md-input-container class="md-block">
                                 <div class="md-subhead"> {{singleproduct.inventory.tax.VAT}}</div>
                             </md-input-container>

                             &lt;!&ndash; <md-input-container class="md-block">
                                  <div class="md-subhead">{{ 'Service Tax-'+inventory.inventory.tax.serviceTax}}</div>
                              </md-input-container>&ndash;&gt;
                         </td>
                         <td>
                             <md-input-container ng-disabled="singleproduct.inventory.disabled" class="md-block">
                                 <div class="md-subhead">{{singleproduct.inventory.tax.CST}}</div>
                             </md-input-container>
                         </td>-->
                        <td ng-show="selOrder.products.length > 0 || singleproduct.disabled">
                            <md-icon class="fa-minus-circle faa bb-minus-btn"
                                     ng-click="selOrder.products.splice($index, 1)" ></md-icon></td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
<!--<div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap
     class="bb-white-bg">

    <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
        <div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-wrap >

            <div flex="40" flex-xs="100" flex-sm="40" flex-gt-lg="40">
                <div class="md-subhead">Order Type </div>
                <md-radio-group data-ng-model="selOrder.orderType" name="Order Types" layout-padding layout="row"
                                layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>

                    <md-radio-button flex-xs="100" ng-repeat="types in orderTypes" class="md-primary"
                                     data-ng-model="orderType" name="types.text" ng-value="types.value">{{types.text}}
                    </md-radio-button>
                </md-radio-group>
            </div>
            <div flex="30" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                <h3 class="md-subhead">Seller</h3>
                <label class="bb-flabel bb-truncate" ng-show="selOrder.orderType==='Sale'"
                       data-ng-bind="authentication.user.firstName +' '+authentication.user.middleName+' '+authentication.user.lastName"></label>

                <select ng-click="update()" ng-show="selOrder.orderType!=='Sale'" class="form-control" ng-model="selOrder.seller.contact._id">
                    <option  ng-repeat="c in contacts" value="{{c._id}}">{{(c.firstName?c.firstName:'')+(c.middleName?' '+c.middleName:'')+(c.lastName?' '+c.lastName:'')}}</option>
                </select>

            </div>

            <div flex="30" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                <h3 class="md-subhead">Buyer</h3>
                <label ng-show="selOrder.orderType==='Purchase'"
                       class="bb-flabel bb-truncate"
                       data-ng-bind="authentication.user.firstName +' '+authentication.user.middleName+' '+authentication.user.lastName"></label>

                <select class="form-control" ng-show="selOrder.orderType!=='Purchase'" ng-model="selOrder.buyer.contact._id">
                    <option ng-repeat="c in contacts" value="{{c._id}}">{{(c.firstName?c.firstName:'')+(c.middleName?' '+c.middleName:'')+(c.lastName?' '+c.lastName:'')}}</option>
                </select>

            </div>
        </div>
    </div>
</div>

<div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap
     class="bb-white-bg">

    <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
        <div class="md-title">Product Details :</div>
        &lt;!&ndash;<md-divider></md-divider>&ndash;&gt;
        <div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="column" layout-gt-lg="row" layout-wrap >

            <div class="table-responsive bb-wid-100 bb-table">
                <table class="table bb-responstable">
                    <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Unit Price ( &#8377; )</th>
                        <th>Unit Size ( Measure )</th>
                        <th>No. of Units</th>
                        <th>Price</th>
                        <th ng-show="selOrder.products.length > 0 || singleproduct.inventory.disabled"> Remove Product</th>
                       &lt;!&ndash; <th>VAT (%)</th>
                        <th>CST (%)</th>&ndash;&gt;
                    </tr>
                    </thead>
                    <tbody>

                    <tr  ng-repeat="singleproduct in selOrder.products track by $id(singleproduct)">
                        <td>
                            <md-input-container class="md-block">
                                <div class="md-subhead bb-truncate">
                                    {{singleproduct.product.name}}
                                    <md-tooltip>{{singleproduct.product.name}}</md-tooltip>
                                </div>
                            </md-input-container>
                        </td>
                        <td>
                            <md-input-container ng-disabled="singleproduct.disabled" class="md-block">
                                <div class="md-subhead">{{singleproduct.unitPrice}}</div>
                            </md-input-container>

                        </td>
                        <td>
                            <md-input-container ng-disabled="singleproduct.disabled" class="md-block">
                                <div class="md-subhead">
                                    {{singleproduct.unitSize+' ( '+singleproduct.unitMeasure+' )'}}
                                </div>
                            </md-input-container>

                        </td>
                        <td>
                            <md-input-container class="md-block">
                                <div class="md-subhead">
                                    {{singleproduct.numberOfUnits}}
                                </div>
                               &lt;!&ndash; <label class="active" data-error="Please enter valid url." for="product_{{$index}}">url</label>&ndash;&gt;
                                &lt;!&ndash;<input ng-change="changeProductPrice(singleproduct,$index)" ng-disabled="singleproduct.disabled" aria-label="numberOfUnits" id="product_{{$index}}" type="number" ng-model="singleproduct.numberOfUnits" ng-min="{{singleproduct.MOQ}}" ng-max="{{maxProductUnits(singleproduct)}}">
                                <md-tooltip>Min Order Quantity : {{singleproduct.MOQ}}, Max Order Quantity: {{maxProductUnits(singleproduct)}}</md-tooltip>
                           &ndash;&gt; </md-input-container>
                            &lt;!&ndash;<div class="showtooltip" tooltip-placement="left" tooltip-enable="$isValid" tooltip="tooltip message"></div>&ndash;&gt;


                        </td>
                       &lt;!&ndash; <td>
                            <md-input-container class="md-block">
                                <div class="md-subhead">{{singleproduct.MOQ}}</div>
                            </md-input-container>
                        </td>&ndash;&gt;
                      &lt;!&ndash;  <td>
                            <md-input-container class="md-block">
                                <div class="md-subhead">{{singleproduct.numberOfUnitsAvailable}}
                                </div>
                            </md-input-container>
                        </td>&ndash;&gt;
                        <td>
                            <md-input-container class="md-block">
                                <div class="md-subhead">
                                    {{singleproduct.unitPrice*singleproduct.numberOfUnits |currency:' &#8377; '}}
                                </div>
                            </md-input-container>
                        </td>
                       &lt;!&ndash; <td>
                            <md-input-container class="md-block">
                                <div class="md-subhead"> {{singleproduct.inventory.tax.VAT}}</div>
                            </md-input-container>

                            &lt;!&ndash; <md-input-container class="md-block">
                                 <div class="md-subhead">{{ 'Service Tax-'+inventory.inventory.tax.serviceTax}}</div>
                             </md-input-container>&ndash;&gt;
                        </td>
                        <td>
                            <md-input-container ng-disabled="singleproduct.inventory.disabled" class="md-block">
                                <div class="md-subhead">{{singleproduct.inventory.tax.CST}}</div>
                            </md-input-container>
                        </td>&ndash;&gt;
                        <td ng-show="selOrder.products.length > 0 || singleproduct.inventory.disabled" > <md-icon
                                class="fa-minus-circle faa bb-minus-btn"
                                ng-click="selOrder.products.splice($index, 1)"
                                ></md-icon></td>

                    </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>-->

<div class="layout-padding"   layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
    <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="15">
        <md-button type="submit" class="md-raised md-primary bb-wid-100">Create Order</md-button>
    </div>
    <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="15">
        <md-button ng-click="panelChange('viewAll');" class="md-raised md-accent bb-wid-100">Cancel</md-button>
    </div>

</div>
    </form>

