<form name='editProductForm' data-ng-submit="updateProduct()" class="nvc-slider-form" ng-if="showEditProduct">
    <div ng-class="(myTabIndex===1 || myTabIndex === 4)?'nvc-form-content':'nvc-max-height'">
        <div layout="row" layout-align="center center" class="nvc-sticky-top">
            <md-button class="md-icon-button md-mini" ng-click="cancel();updateInv(inventory)" aria-label="close dialog"><md-icon class="fa fa-times fa-lg"></md-button>
            <h4 flex class="nv-text-center nv-text-bold">Product Details</h4>
            <md-button class="md-icon-button md-mini" ng-show="authentication.companyBusinessUnits.userGroup.name === 'Admin'" ng-click="batchInventories(0);cancel()" aria-label="reset form"><md-icon class="fa fa-trash fa-lg text-danger"></md-icon></md-button>
        </div>
        <div layout="row" layout-xs='row' layout-sm="row" layout-gt-lg="row" class="nvc-inventory-detail"
             layout-wrap>
            <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100" layout="row" layout-wrap layout-align="center" layout-padding class="nvc-product-detail" >
                <div flex="15" flex-xs="15" flex-sm="15">
                    <product-image images="[inventory.inventoryImageURL1,inventory.inventoryImageURL2,inventory.inventoryImageURL3]" id="1"></product-image>
                </div>
                <div flex="85" flex-xs="85" flex-sm="85" layout="row" layout-xs="row" layout-sm="row" layout-gt-lg="row" layout-wrap>
                    <div flex="40" flex-xs="40" flex-sm="40" flex-gt-lg="40">
                        <h6>Category</h6>
                        <label class="bb-truncate">{{inventory.productMainCategoryName?inventory.productMainCategoryName+' > '+inventory.productSubCategoryName:inventory.productSubCategoryName}}</label>
                    </div>
                    <div flex="40" flex-xs="40" flex-sm="40" flex-gt-lg="40">
                        <h6>Brand Name</h6>
                        <label class="bb-truncate">{{inventory.brandName}}</label>
                    </div>
                    <div flex="20" flex-xs="20" flex-sm="20" flex-gt-lg="20">
                        <h6>MRP</h6>
                        <label class="bb-truncate">{{inventory.MRP}}</label>
                    </div>
                    <div flex="40" flex-xs="40" flex-sm="40" flex-gt-lg="40">
                        <h6>Product Name</h6>
                        <label class="bb-truncate">{{inventory.productName}}</label>
                    </div>
                    <div flex="40" flex-xs="40" flex-sm="40" flex-gt-lg="40">
                        <h6>Hsncode</h6>
                        <label class="bb-truncate">{{inventory.hsncode.hsncode}}</label>
                    </div>
                    <div flex="20" flex-xs="20" flex-sm="20" flex-gt-lg="20">
                        <h6>In Stock</h6>
                        <label class="bb-truncate">{{inventory.numberOfUnits}}</label>
                    </div>
                </div>
                <div flex="15" flex-xs="15" flex-sm="15">
                </div>
                <div flex="85" flex-xs="85" flex-sm="85" layout="row" layout-xs="row" layout-sm="row" layout-gt-lg="row" layout-wrap>
                    <div flex="40" flex-xs="40" flex-sm="40" flex-gt-lg="40">
                        <h6>Unit Of Measure ( No )</h6>
                        <label class="bb-truncate">{{inventory.unitOfMeasure.name +' ( '+inventory.unitOfMeasure.conversion+' )'}}</label>
                    </div>
                    <div flex="40" flex-xs="40" flex-sm="40" flex-gt-lg="40">
                        <h6>Tax</h6>
                        <label class="bb-truncate">{{inventory.taxGroup.name}}</label>
                    </div>
                    <div flex="20" flex-xs="20" flex-sm="20" flex-gt-lg="20">
                        <h6>Created</h6>
                        <label>{{inventory.created | date:'dd MMM yyyy h:mm a'}}</label>
                    </div>
                    <!-------- Status of the product------------>
                    <!--<div flex="33" flex-xs="33" flex-sm="33" flex-gt-lg="33">
                        <h6>Status</h6>
                        <label class="bb-truncate">{{inventory.productStatus}}</label>
                    </div>-->
                    <!--<div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                        <h3 class="md-subhead">Sales Price</h3>
                        <label class="bb-flabel bb-truncate">{{inventory.MRP  |currency:' &#8377; '}}</label>
                    </div>
                    <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                        <h3 class="md-subhead">Units</h3>
                        <label class="bb-flabel bb-truncate">{{inventory.numberOfUnits}}</label>
                    </div>-->
                </div>
            </div>
            <div flex="100" layout="row" layout-wrap>
                <md-tabs md-dynamic-height md-border-bottom flex="100" md-selected="myTabIndex" ng-init="myTabIndex=0">
                    <md-tab ng-show="inventory.stockMasters.length>0" label="Batches">
                        <md-content id='batches' layout="row" layout-wrap>
                            <div flex="100" flex-xs="100" layout="row" ng-show="authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager'">
                                <span flex></span>
                                <md-button ng-show="!addStock" class="md-primary md-raised nvc-shape-pill"
                                           aria-label="Favorite" ng-click="addStockMasters(false)">
                                    <md-tooltip md-direction="top">Add Another Stock</md-tooltip>
                                    <span class="fa fa-plus"></span> Add Batch
                                </md-button>
                            </div>
                            <md-card flex="100" layout="row" ng-repeat="stock in inventory.stockMasters | orderBy:'-created' track by $index" layout-wrap id="stock-{{$index}}">
                                <div>
                                    <div class="front">
                                        <div class="layout-padding" layout="row" flex="100">
                                            <div flex="100" layout="row" class="layout-padding" ng-if="(stock.edit || stock.new) && inventory.stockMasters.indexOf(stock)===inventory.stockMasters.length-1">
                                                <div flex="25" layout="row" layout-wrap layout-padding>
                                                    <div flex="100">
                                                        <md-input-container class="b-wid-100">
                                                            <label>Batch Number</label>
                                                            <input ng-disabled="$index!==0" ng-model="stock.batchNumber" md-select-on-focus>
                                                        </md-input-container>
                                                    </div>
                                                    <div flex="100" layout="row" ng-show="!stock.new" layout-align="end center" layout-padding>
                                                        <div ng-show="(inventory.stockMasters.indexOf(stock)===inventory.stockMasters.length-1) && (authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager') ">
                                                            <md-button  class="md-fab md-mini md-primary nvc-fab-mini"
                                                                        ng-click="stock.edit? createStock($index):(stock.edit=true)"
                                                                        aria-label="Edit-Batch">
                                                                <md-icon class="fa fa-floppy-o"></md-icon>
                                                            </md-button>
                                                            <md-tooltip>Update</md-tooltip>
                                                        </div>
                                                        <div ng-show="getStockSource(stock)">
                                                            <md-button class="md-fab md-mini md-primary nvc-fab-mini" ng-click="track(inventory._id)" aria-label="Track-Batch">
                                                                <md-icon class="fa fa-map-marker"></md-icon>
                                                            </md-button>
                                                            <md-tooltip>Track Batch</md-tooltip>
                                                        </div>
                                                        <div ng-show="authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager'">
                                                            <md-button class="md-fab md-mini md-primary nvc-fab-mini" ng-click="flip($index);"
                                                                       aria-label="Delete-Batch">
                                                                <md-icon class="fa fa-trash"></md-icon>
                                                            </md-button>
                                                            <md-tooltip>Delete Batch</md-tooltip>
                                                        </div>
                                                    </div>
                                                    <div flex="100" ng-show="stock.new" layout="row">
                                                        <md-button class="md-primary md-raised nvc-shape-pill" ng-click="createStock($index)">Save</md-button>
                                                        <md-button class="md-primary md-raised nvc-shape-pill" ng-click="cancelStock($index)"><span class="fa fa-times fa-lg"></span></md-button>
                                                    </div>
                                                </div>
                                                <md-divider></md-divider>
                                                <div flex="75" layout="row" layout-wrap layout-padding>
                                                    <div flex="33">
                                                        <md-input-container class="bb-wid-100">
                                                            <label>MRP</label>
                                                            <input  ng-model="stock.MRP" disabled>
                                                        </md-input-container>
                                                    </div>
                                                    <div flex="33">
                                                        <md-input-container class="bb-wid-100">
                                                            <label>Opening Balance</label>
                                                            <input  ng-model="stock.openingBalance" >
                                                        </md-input-container>
                                                    </div>
                                                    <div flex="33">
                                                        <md-input-container class="bb-wid-100">
                                                            <label>Current Balance</label>
                                                            <input  ng-model="stock.currentBalance" >
                                                        </md-input-container>
                                                    </div>
                                                    <div flex="33">
                                                        <h6 class="nvc-margin-5">Mfg Date</h6>
                                                        <md-datepicker ng-model="stock.manufacturingDate" class="nvc-date-picker" placeholder="Mfg Date"></md-datepicker>
                                                    </div>
                                                    <div flex="33">
                                                        <h6 class="nvc-margin-5">Pkg Date</h6>
                                                        <md-datepicker ng-model="stock.packagingDate" class="nvc-date-picker" placeholder="Pkg Date"></md-datepicker>
                                                    </div>
                                                    <div flex="33">
                                                        <h6 class="nvc-margin-5">Best Before</h6>
                                                        <md-datepicker ng-model="stock.expiryDate" class="nvc-date-picker" placeholder="Best Before"></md-datepicker>
                                                    </div>
                                                </div>
                                            </div>
                                            <div flex="100" layout="row" class="layout-padding" ng-if="!(inventory.stockMasters.indexOf(stock)===inventory.stockMasters.length-1 && (stock.edit || stock.new))">
                                                <div flex="25" layout="row" layout-wrap layout-padding layout-align="start space-between">
                                                    <div flex="100">
                                                        <h6 class="nvc-margin-0">Batch No.</h6>
                                                        <label class="bb-truncate">{{stock.batchNumber?stock.batchNumber:'N/A'}}
                                                            <md-tooltip ng-if="stock.batchNumber">{{stock.batchNumber}}</md-tooltip>
                                                        </label>
                                                    </div>
                                                    <div flex="100" layout="row" layout-align="end center" layout-padding>
                                                        <div ng-show="(inventory.stockMasters.indexOf(stock)===inventory.stockMasters.length-1) && (authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager')">
                                                            <md-button  class="md-fab md-mini md-primary nvc-fab-mini"
                                                                        ng-click="stock.edit? createStock($index):(stock.edit=true)"
                                                                        aria-label="Edit-Batch">
                                                                <md-icon class="fa fa-pencil"></md-icon>
                                                            </md-button>
                                                            <md-tooltip>Edit</md-tooltip>
                                                        </div>
                                                        <div ng-show="getStockSource(stock)">
                                                            <md-button class="md-fab md-mini md-primary nvc-fab-mini" ng-click="track(inventory,stock,$index)" aria-label="Track-Batch">
                                                                <md-icon class="fa fa-map-marker"></md-icon>
                                                            </md-button>
                                                            <md-tooltip>Track Batch</md-tooltip>
                                                        </div>
                                                        <div ng-show="authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager'"   >
                                                            <!--ng-click="inventory.stockMasters.splice(inventory.stockMasters.indexOf(stock), 1)"-->
                                                            <md-button class="md-fab md-mini md-primary nvc-fab-mini" ng-click="flip($index);"
                                                                       aria-label="Delete-Batch">
                                                                <md-icon class="fa fa-trash"></md-icon>
                                                            </md-button>
                                                            <md-tooltip>Delete Batch</md-tooltip>
                                                        </div>
                                                    </div>
                                                </div>
                                                <md-divider></md-divider>
                                                <div flex="75" layout="row" layout-wrap layout-padding>
                                                    <div flex="33">
                                                        <h6 class="nvc-margin-0">MRP</h6>
                                                        <label>{{stock.MRP? stock.MRP: '0'}}</label>
                                                    </div>
                                                    <div flex="33">
                                                        <h6 class="nvc-margin-0">Opening Balance</h6>
                                                        <label class=" bb-truncate">{{stock.openingBalance ? stock.openingBalance:'0'}}
                                                            <md-tooltip ng-show="stock.openingBalance">{{stock.openingBalance}}</md-tooltip></label>
                                                    </div>
                                                    <div flex="33">
                                                        <h6 class="nvc-margin-0">Current Balance</h6>
                                                        <label class=" bb-truncate">{{stock.currentBalance? stock.currentBalance: '0'}}
                                                            <md-tooltip ng-show="stock.currentBalance">{{stock.currentBalance}}</md-tooltip></label>
                                                    </div>
                                                    <div flex="33">
                                                        <h6 class="nvc-margin-0">Mfg Date</h6>
                                                        <label>{{stock.manufacturingDate? (stock.manufacturingDate | date:'dd MMM yyyy'):'N/A'}}</label>
                                                    </div>
                                                    <div flex="33">
                                                        <h6 class="nvc-margin-0">Pkg Date</h6>
                                                        <label>{{stock.packagingDate? (stock.packagingDate | date:'dd MMM yyyy'):'N/A'}}</label>
                                                    </div>
                                                    <div flex="33">
                                                        <h6 class="nvc-margin-0">Best Before</h6>
                                                        <label>{{stock.expiryDate? (stock.expiryDate | date:'dd MMM yyyy'):'N/A'}}</label>
                                                    </div>
                                                    <!--
                                                                                            <div flex="25">
                                                                                                <h6 class="nvc-margin-0">Sample Number</h6>
                                                                                                <label>{{stock.sampleNumber?stock.sampleNumber:'N/A'}}</label>
                                                                                            </div>-->
                                                </div>
                                            </div>
                                        </div>
                                        <div flex="100" layout="row" class="nvc-accent-background" layout-padding ng-click="openStock(stock)" ng-show="!stock.new">
                                            <div><span class="fa fa-certificate"></span> {{stock.certificate.certificateStatus}}</div>
                                            <div flex></div>
                                            <div >View</div>
                                        </div>
                                    </div>
                                </div>
                            </md-card>
                        </md-content>
                    </md-tab>
                    <md-tab ng-show="inventory.moqAndMargin.length>0 || inventory.moqAndBuyMargin.length>0" ng-click="setEditBasedOnUserRole(inventory)" label="Discounts">
                        <md-content id='discounts' class="md-padding">
                            <div class="nvc-landing-offers-tabs frm-inpt-mrgn-btm-0">
                                <md-tabs md-dynamic-height>
                                    <md-tab label="Sale">
                                        <md-content id='sale-discounts' layout="row" layout-padding>
                                            <div flex="50" layout="row" layout-wrap layout-align="start start" class="nvc-padding-left-0">
                                                <div flex="100" class="layout-row layout-align-start-center nvc-margin-bottom-5">
                                                    <span class="fa fa-plus-circle fa-2x nvc-primary-color" aria-label="favourite" ng-show="authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager'" ng-click="addMoqAndMargin(false)"></span>
                                                    <h6 class="nvc-padding-left-10">Add MOQ vs Margin</h6>
                                                </div>
                                                <div flex="100" layout="row" layout-align="center center" ng-repeat="salePrice in inventory.moqAndMargin track by  $id(salePrice)" id="salePrice-{{$index}}">
                                                    <div flex="10">
                                                        <span class="fa fa-minus-circle fa-2x nv-red" aria-label="favourite" ng-click="inventory.moqAndMargin.splice($index, 1)"
                                                              ng-show="(inventory.moqAndMargin.length > 1) && (authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager')"></span>
                                                    </div>
                                                    <div flex="40">
                                                        <md-input-container class="md-block">
                                                            <label>MOQ ( Units )</label>
                                                            <input nv-regulation-exp="num" id="saleMoq-{{$index}}" ng-model="salePrice.MOQ">

                                                        </md-input-container>
                                                    </div>
                                                    <div flex="50">
                                                        <md-input-container class="bb-wid-100" >
                                                            <label>Margin ( % )</label>
                                                            <input
                                                                    ng-model="salePrice.margin" id="saleMoqMargin-{{$index}}" nv-regulation-exp="margin">
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                            </div>
                                            <md-divider></md-divider>
                                            <div flex="50" layout="row" layout-wrap layout-align="start start">
                                                <div flex="100" class="layout-row layout-align-start-center nvc-margin-bottom-5">
                                                    <span class="fa fa-plus-circle fa-2x nvc-primary-color" aria-label="favourite" ng-show="authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager'" ng-click="addMovAndMargin(false)">
                                                </span>
                                                    <h6 class="nvc-padding-left-10">Add MOV vs Margin</h6>
                                                </div>
                                                <div flex="100" layout="row" layout-align="center center" ng-repeat="saleValue in inventory.movAndMargin track by  $id(saleValue)" id="saleValue-{{$index}}">
                                                    <div flex="10">
                                                        <span class="fa fa-minus-circle fa-2x nv-red" aria-label="favourite"  ng-click="inventory.movAndMargin.splice($index, 1)"
                                                              ng-show="(inventory.movAndMargin.length > 1) && (authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager')"></span>
                                                    </div>
                                                    <div flex="40">
                                                        <md-input-container class="md-block">
                                                            <label>MOV</label>
                                                            <input  ng-model="saleValue.MOV" id="saleMov-{{$index}}" nv-regulation-exp="num">

                                                        </md-input-container>
                                                    </div>
                                                    <div flex="50">
                                                        <md-input-container class="bb-wid-100" >
                                                            <label>Margin ( % )</label>
                                                            <input
                                                                    ng-model="saleValue.margin" id="saleMovMargin={{$index}}" nv-regulation-exp="margin">
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </md-content>
                                    </md-tab>
                                    <md-tab label="Buy">
                                        <md-content id='buy-discounts' layout="row" layout-padding>
                                            <div flex="50" layout="row" layout-wrap layout-align="start start" class="nvc-padding-left-0">
                                                <div flex="100" class="layout-row layout-align-start-center nvc-margin-bottom-5">
                                                    <span class="fa fa-plus-circle fa-2x nvc-primary-color" aria-label="favourite" ng-show="authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager'" ng-click="addMoqAndBuyMargin(false)">
                                                </span>
                                                    <h6 class="nvc-padding-left-10">Add MOQ vs Margin</h6>
                                                </div>
                                                <div flex="100" layout="row" layout-align="center center" ng-repeat="buyPrice in inventory.moqAndBuyMargin track by $id(buyPrice)" id="buyPrice-{{$index}}">
                                                    <div flex="10">
                                                        <span class="fa fa-minus-circle fa-2x nv-red" aria-label="favourite"  ng-click="inventory.moqAndBuyMargin.splice($index, 1)"
                                                              ng-show="(inventory.moqAndBuyMargin.length>1) && (authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager')"></span>
                                                    </div>
                                                    <div flex="40">
                                                        <md-input-container class="md-block">
                                                            <label>MOQ ( Units )</label>
                                                            <input nv-regulation-exp="num" id="buyMoq-{{$index}}" ng-model="buyPrice.MOQ">

                                                        </md-input-container>
                                                    </div>
                                                    <div flex="50">
                                                        <md-input-container class="bb-wid-100" >
                                                            <label>Margin ( % )</label>
                                                            <input ng-model="buyPrice.margin" id="buyMoqMargin-{{$index}}" nv-regulation-exp="margin">
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                            </div>
                                            <md-divider></md-divider>
                                            <div flex="50" layout="row" layout-wrap layout-align="start start">
                                                <div flex="100" class="layout-row layout-align-start-center nvc-margin-bottom-5">
                                                    <span class="fa fa-plus-circle fa-2x nvc-primary-color" aria-label="favourite" ng-show="authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager'" ng-click="addMovAndBuyMargin(false)">
                                                </span>
                                                    <h6 class="nvc-padding-left-10">Add MOV vs Margin</h6>
                                                </div>
                                                <div flex="100" layout="row" layout-align="center center" ng-repeat="buyValue in inventory.movAndBuyMargin track by $id(buyValue)" id="buyValue-{{$index}}">
                                                    <div flex="10">
                                                        <span class="fa fa-minus-circle fa-2x nv-red" aria-label="favourite"  ng-click="inventory.movAndBuyMargin.splice($index, 1)"
                                                              ng-show="(inventory.movAndBuyMargin.length>1) && (authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager')"></span>
                                                    </div>
                                                    <div flex="40">
                                                        <md-input-container class="md-block">
                                                            <label>MOV</label>
                                                            <input ng-model="buyValue.MOV" id="buyMov-{{$index}}" nv-regulation-exp="num">
                                                        </md-input-container>
                                                    </div>
                                                    <div flex="50">
                                                        <md-input-container class="bb-wid-100" >
                                                            <label>Margin ( % )</label>
                                                            <input ng-model="buyValue.margin" id="buyMovMargin-{{$index}}" nv-regulation-exp="margin">
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </md-content>
                                    </md-tab>
                                </md-tabs>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Grades">
                        <md-content id="brand-grades-quality" class="md-padding">
                            <div class="nvc-landing-offers-tabs frm-inpt-mrgn-btm-0">
                                <md-tabs md-dynamic-height>
                                    <md-tab label="Grades">
                                        <md-content id='brand-grades'  layout-padding layout-wrap>
                                            <table>
                                                <tbody>
                                                <tr ng-repeat="gradeItem in inventory.productBrand.gradeDefinition" ng-if="gradeItem.attributeValue!==''">
                                                    <td class="layout-padding layout-align"><h5>{{gradeItem.attributeKey}}</h5></td>
                                                    <td class="layout-padding layout-align"> <label>{{gradeItem.attributeValue===''?'N/A':gradeItem.attributeValue}}</label></td>
                                                </tr>
                                                <tr ng-repeat="gradeItem in inventory.productBrand.gradeDefinition" ng-if="gradeItem.attributeValue==='' && showMoreGrades">
                                                    <td class="layout-padding layout-align"><h5>{{gradeItem.attributeKey}}</h5></td>
                                                    <td class="layout-padding layout-align"> <label>{{gradeItem.attributeValue===''?'N/A':gradeItem.attributeValue}}</label></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <!--<div flex="100" class="nv-text-right nvc-primary-color" ><span ng-click="showMoreGrades=!showMoreGrades">{{showMoreGrades?'-':'+'}} Show {{showMoreGrades?'Less':'More'}}</span></div>-->
                                        </md-content>
                                    </md-tab>
                                    <md-tab label="Quality">
                                        <md-content id='brand-quality' layout-padding layout-wrap>
                                            <table>
                                                <tbody>
                                                <tr ng-repeat="qualityItem in inventory.productBrand.qualityDefinition" ng-if="qualityItem.attributeValue!==''" class="layout-padding layout-wrap">
                                                    <td class="layout-padding layout-align"><h5>{{qualityItem.attributeKey}}</h5></td>
                                                    <td class="layout-padding layout-align"><label>{{qualityItem.attributeValue===''?'N/A':qualityItem.attributeValue}}</label></td>
                                                </tr>
                                                <tr ng-repeat="qualityItem in inventory.productBrand.qualityDefinition" ng-if="qualityItem.attributeValue==='' && showMoreQuality" class="layout-padding layout-wrap">
                                                    <td class="layout-padding layout-align"><h5>{{qualityItem.attributeKey}}</h5></td>
                                                    <td class="layout-padding layout-align"><label>{{qualityItem.attributeValue===''?'N/A':qualityItem.attributeValue}}</label></td>
                                                </tr>
                                                </tbody></table>
                                            <!--<div flex="100" class="nv-text-right nvc-primary-color" ><span ng-click="showMoreQuality=!showMoreQuality">{{showMoreQuality?'-':'+'}} Show {{showMoreQuality?'Less':'More'}}</span></div>-->
                                        </md-content>
                                    </md-tab>
                                </md-tabs>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Certificates">
                        <md-content id='certificates' class="md-padding">
                            <md-card layout="row" layout-wrap="">
                                <div flex="100" class="nvc-accent-background" layout="row" layout-padding>
                                    <div>
                                        <span class="fa fa-certificate"></span>
                                    </div>
                                    <div flex class="nv-text-center nvc-primary-color nv-text-bold">Batch No.</div>
                                    <div>
                                        <span class="fa fa-chevron-up"></span>
                                    </div>
                                </div>
                                <div flex="100" class="md-padding">
                                    certificate Issued by UTC
                                </div>
                                <div flex="100" layout="row" layout-padding>
                                    <div flex></div>
                                    <div flex="30" layout="row" layout-align="space-around center" class="nvc-bottom-tag">
                                        <span><a href="{{certificate.Proof}}" target="_blank" ><span class="fa fa-eye"></span></a></span>
                                        <span><a href="{{certificate.proof}}" download><span class="fa fa-download"></span></a></span>
                                    </div>
                                </div>
                            </md-card>
                        </md-content>
                    </md-tab>
                    <md-tab label="Images">
                        <div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
                             layout-wrap>
                            <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                                <div class="bb-ubtn bb-btn-file">
                                    <img class="bb-profimg-fix bb-img-center" data-ng-src="{{inventory.inventoryImageURL1}}"
                                         alt="Product Image 1">

                                    <div class="bb-layer">
                                        <span class="fa fa-camera bb-cam"></span></div>
                                    <!-- <input type="file" nv-file-select uploader="uploader" accept="image/*">-->
                                    <input ng-show="authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager'" type="file" ng-model="inventory.inventoryImageURL1" uploadpathkey='product'
                                           accept="image/*" uploader="uploader"/></div>
                                <span id="lblErrorEditProduct1" class="text-danger bb-f-15 bb-center"></span>
                            </div>
                            <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                                <div class="bb-ubtn bb-btn-file">
                                    <img class="bb-profimg-fix bb-img-center" data-ng-src="{{inventory.inventoryImageURL2}}"
                                         alt="Product Image 2">

                                    <div class="bb-layer">
                                        <span class="fa fa-camera bb-cam"></span></div>
                                    <!-- <input type="file" nv-file-select uploader="uploader" accept="image/*">-->
                                    <input ng-show="authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager'" type="file" ng-model="inventory.inventoryImageURL2" uploadpathkey='product'
                                           accept="image/*" uploader="uploader"/></div>
                                <span id="lblErrorEditProduct2" class="text-danger bb-f-15 bb-center"></span>
                            </div>
                            <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                                <div class="bb-ubtn bb-btn-file">
                                    <img class="bb-profimg-fix bb-img-center" data-ng-src="{{inventory.inventoryImageURL3}}"
                                         alt="Product Image 3">

                                    <div class="bb-layer">
                                        <span class="fa fa-camera bb-cam"></span></div>
                                    <!-- <input type="file" nv-file-select uploader="uploader" accept="image/*">-->
                                    <input ng-show="authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager'" type="file" ng-model="inventory.inventoryImageURL3" uploadpathkey='product'
                                           accept="image/*" uploader="uploader"/></div>
                                <span id="lblErrorEditProduct3" class="text-danger bb-f-15 bb-center"></span>
                            </div>
                            <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                                <div class="bb-ubtn bb-btn-file">
                                    <img class="bb-profimg-fix bb-img-center" data-ng-src="{{inventory.inventoryImageURL4}}"
                                         alt="Product Image 4">

                                    <div class="bb-layer">
                                        <span class="fa fa-camera bb-cam"></span></div>
                                    <!-- <input type="file" nv-file-select uploader="uploader" accept="image/*">-->
                                    <input ng-show="authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager'" type="file" ng-model="inventory.inventoryImageURL4" uploadpathkey='product'
                                           accept="image/*" uploader="uploader"/></div>
                                <span id="lblErrorEditProduct4" class="text-danger bb-f-15 bb-center"></span>
                            </div>
                        </div>
                    </md-tab>
                </md-tabs>
            </div>
        </div>
    </div>
    <div layout="row" ng-show="(myTabIndex===1 || myTabIndex===4) && (authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager')">
        <md-button type="submit" ng-disabled="!editProductForm.$dirty" class="nvc-accent-background nvc-primary-color nvc-padding-0 nvc-margin-0 md-background-accent" flex="100">Save</md-button>
    </div>
    <!-- <div flex="60" flex-xs="100" flex-sm="60" flex-gt-lg="60">
         <div data-ng-show="success"  class="text-center text-success">
             <strong>Product Added Successfully</strong>
         </div>
         <div data-ng-show="error" class="text-danger">
             <strong data-ng-bind="error"></strong>
         </div>
     </div>-->
</form>
