<div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
    <h2></h2>
<table class="nvc-content nvc-content-table">
    <thead>
    <tr>
        <td><nv-check-box  selectedlist="selectedList" orginallist="masterRecords" sort-by="-created"></nv-check-box></td>
        <td></td>
        <td>Product Details</td>
        <td>Brand</td>
        <td>HSNcode</td>
        <td>Tax</td>
        <td>Units</td>
        <td>Price</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="eachItemMaster in masterRecords track by $id(eachItemMaster)">
        <td><md-checkbox class="md-primary bb-center" ng-model="eachItemMaster.selected"></md-checkbox></td>
        <td><img ng-src="{{eachItemMaster.product.categoryImageURL1}}" alt="category image"
                 class="img-responsive bb-img-center-prod" /></td>
        <td><h5 class="nv-text-bold">{{eachItemMaster.product.name}} - {{eachItemMaster.uom.symbol}}</h5>
            <h6>{{eachItemMaster.product.grandParent.name?eachItemMaster.product.grandParent.name +' > '+ eachItemMaster.product.parent.name:eachItemMaster.product.parent.name}}</h6></td>
        <td>{{eachItemMaster.brand.name}}</td>
        <td>{{eachItemMaster.brand.hsncode.hsncode}}</td>
        <td>{{eachItemMaster.brand.taxGroup.name}}</td>
        <td>
            <md-input-container class="md-block nvc-margin-0" md-no-float>
                <input  ng-model="eachItemMaster.inventory.numberOfUnits" placeholder="Units">
                       </md-input-container>
        </td>
        <td>
            <md-input-container class="md-block nvc-margin-0" md-no-float>
                <input  ng-model="eachItemMaster.inventory.MRP" placeholder="Price">
            </md-input-container>
        </td>
        <td><span class="fa fa-trash" ng-click="masterRecords.splice($index, 1)"></span> </td>
    </tr>
    </tbody>
</table>
<div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
     layout-wrap class="nvc-sticky-bottom">
    <div flex="20" flex-xs="100" flex-sm="20" flex-gt-lg="15">
        <md-button ng-click="createMaster()" class="md-raised md-primary bb-wid-100">Save</md-button>
    </div>

    <div flex="20" flex-xs="100" flex-sm="20" flex-gt-lg="15">
        <md-button ng-click="cancel()" class="md-raised md-accent bb-wid-100">Cancel</md-button>
    </div>

    <div flex="60" flex-xs="100" flex-sm="60" flex-gt-lg="60">
        <div data-ng-show="success"  class="text-center text-success">
            <strong>Inventory Added Successfully</strong>
        </div>
        <div data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error"></strong>
        </div>
    </div>
</div>
</div>
