<div layout="column" data-ng-controller="InventoriesController" data-ng-init="panelChange('viewAll')">
    <div class="nv-fixed-headline" data-ng-show="viewAllProduct" layout="row" layout-xs="row"  layout-sm="row" layout-wrap layout-align="space-between center">
            <div flex="20" flex-xs="20" flex-sm="20">
            <h2 class="md-headline">Products</h2>
            <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
            </div>
            <div flex="30" flex-xs="100" flex-sm="40" class="first">
                    <div class="input-group bb-p-15">
                        <input class="form-control" placeholder="Search..." type="text" ng-model="searchInventoryText">
                            <span class="input-group-btn">
                                <button class="btn bb-btn-search" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                    </div>
            </div>

            <div  flex="30" flex-xs="80" flex-sm="40" ng-cloak class="second">
                <div class="lock-size" layout="row" layout-align="end center">
                    <md-fab-speed-dial md-direction="left" class="md-scale">
                        <md-fab-trigger>
                            <md-button aria-label="menu" class="md-fab md-raised">
                                <md-tooltip md-direction="bottom">Create</md-tooltip>
                                <md-icon class="fa fa-list bb-f20"></md-icon>
                            </md-button>
                        </md-fab-trigger>

                        <md-fab-actions>
                            <md-button aria-label="Offer" class="md-fab md-raised md-mini" ng-click="showOfferDialog(event)"  ng-disabled="filterSelectedProducts().length===0">
                                <md-tooltip md-direction="bottom">Create Offer</md-tooltip>
                                <md-icon class="fa fa-gift bb-f20"></md-icon>
                            </md-button>

                            <md-button aria-label="Order" class="md-fab md-raised md-mini" ng-click="createOrder()"  ng-disabled="filterSelectedProducts().length===0">
                                <md-tooltip md-direction="bottom">Create Order</md-tooltip>
                                <md-icon class="fa fa-file-o bb-f20"></md-icon>
                            </md-button>

                            <md-button aria-label="Product" class="md-fab md-raised md-mini" ng-click="panelChange('Add');" ng-disabled="filterSelectedProducts().length!==0">
                                <md-tooltip md-direction="bottom    hmmm">Add Product </md-tooltip>
                                <md-icon class="fa fa-plus bb-f20"></md-icon>
                            </md-button>
                        </md-fab-actions>
                    </md-fab-speed-dial>
                </div>
            </div>
    </div>
<md-card class="bb-min-height" >
            <div class="nv-content-height" ng-if="viewAllProduct" flex="100" flex-xs="100" layout="row" flex layout-xs='row' layout-xs="column"  layout-sm="column" >
                <div flex="100" flex-xs="100">
                    <div class="table-responsive">
                        <div ng-disabled="inventory.disabled" ng-repeat="inventory in inventories|orderBy:'-created' | filter:searchInventoryText">
                        <md-list  single-product product="inventory" id="product-{{$index}}" class="nv-position-relative nv-no-overflow" layout="row" layout-xs="row" layout-gt-sm="row" layout-md="row" layout-sm="row" layout-gt-lg="row" layout-align="center center" layout-wrap>

                        </md-list>
                            <md-divider></md-divider>
                        </div>

                    </div>

                </div>
            </div>
    <md-content class="md-padding">
        <edit-product data-ng-show="showEditProduct"></edit-product>
        <add-product data-ng-show="showAddProduct"></add-product>
    </md-content>
</md-card>
</div>
