<div layout="row" layout-xs="row" layout-gt-lg="row" layout-sm="row" class="bb-wid-100" layout-wrap>
    <div flex-gt-lg="100" flex="100" flex-sm="100" flex-xs="100"
         dir-paginate="inventory in inventories|orderBy:'-created'|filter:searchInventoryText |itemsPerPage:itemsPerPage"
         pagination-id="paginationId"
         total-items="total_count">
        <div layout="row" layout-sm="row" layout-xs="row" layout-gt-lg="row">
            <div flex="50" flex-xs="100" layout="row" layout-padding class="nvc-padding-0" layout-align="center center">
                <div>
                    <md-checkbox class="md-primary" ng-model="inventory.selected" aria-label="Select-product"></md-checkbox>
                </div>
                <div flex="20">
                    <img ng-src="{{inventory.inventoryImageURL1}}"
                         alt="{{inventory.productName}}"
                         class="img-responsive bb-img-center-prod img-circle nvc-accent-border" square-image>
                </div>
                <div flex="60">
                    <h5 class="nv-text-bold nvc-margin-bottom-0">{{inventory.productName}}</h5>
                    <h6 class="nv-text-bold nvc-margin-top-0">{{inventory.brandName}}</h6>
                    <h6>{{inventory.unitOfMeasureName}} (<span class="nv-text-bold">{{inventory.numberOfUnits}}</span>)</h6>
                    <h6><span class="nvc-primary-color">&#8377;</span> {{inventory.MRP}}</h6>
                </div>
                <div flex="20" class="nvc-accent-background nv-text-center ">
                    <h5 class="nvc-primary-color nv-text-bold">{{inventory.stockMasters.length}}</h5>
                    <h6 >Batches</h6>
                </div>
                <!--<div flex="100" class="nvc-accent-background nv-text-center"  layout="row" layout-align="space-between center" layout-padding>
                    <md-checkbox class="md-primary" ng-model="inventory.selected" ng-click="$parent.toggle($index)" aria-label="product selection"></md-checkbox>
                    <h5 class="nvc-primary-color nv-text-bold nvc-margin-5">{{inventory.disabled?'Disabled':'Enabled'}}</h5>
                    <h5 class="nvc-primary-color nvc-margin-5" ng-click="panelChange('Edit')"><span class="fa fa-eye"></span> View</h5>
                </div>
                <div flex="20" layout="row" layout-align="start center">
                    <div class="nvc-primary-background nvc-white-color h5 nvc-tag-left nvc-padding-5" layout="row">
                        <span class="fa fa-map-marker nvc-padding-left-5"></span><span class="nvc-padding-left-5">Track&nbsp;&nbsp;&nbsp;</span>
                    </div>
                </div>
                <div flex="80">
                    <h5 class="nvc-padding-5"><span class="nv-text-bold">{{inventory.productName}}</span> ( {{inventory.unitOfMeasureName}} )</h5>
                </div>
                <div flex="20" flex-xs="20" flex-sm="20" flex-gt-lg="20" class="nvc-padding-10">

                </div>
                <div flex="80">
                    <h6 class="nv-text-bold nvc-margin-top-0">{{inventory.brandName}}</h6>
                    <h6>In Stock : {{inventory.numberOfUnits}}</h6>
                    <h6>MRP : {{inventory.MRP}}</h6>
                    <table class="nv-text-center nvc-margin-bottom-10 bb-wid-80" ng-show="inventory.moqAndMargin.length>0 || inventory.moqAndBuyMargin.length>0">
                        <tr>
                            <td class="nvc-primary-border"><h6 class="nv-text-bold nvc-margin-5">{{inventory.moqAndMargin[0].margin}} %</h6>
                            <h6 class="nvc-margin-5">Margin</h6></td>
                            <td class="nvc-primary-border">
                                <h6 class="nv-text-bold  nvc-margin-5">{{inventory.moqAndMargin[0].MOQ}}</h6>
                                <h6 class="nvc-margin-5">MOQ</h6>
                            </td>
                        </tr>
                    </table>
                </div>-->
            </div>
        </div>
    </div>
</div>
