
    <!--Main content of this Section-->

    <table class="bb-wid-100 nvc-content-table nvc-margin-top-10" >
        <thead>
        <tr>
            <td class="td-checkbox-width"><nv-check-box  selectedlist="selectedList" orginallist="inventories" sort-by="-created"></nv-check-box></td>
            <td hide-xs></td>
            <td>Product Details</td>
            <td>In Stock</td>
            <td>MRP <span class="nvc-text-light">( &#x20b9 )</span> </td>
            <!--MOQ and Margin changes based on the user is in BUY mode or SELL mode-->
            <td>Status</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-disabled="inventory.disabled" dir-paginate="inventory in inventories|orderBy:'-created'|filter:searchInventoryText |itemsPerPage:itemsPerPage" pagination-id="paginationId" total-items="total_count">
            <td><md-checkbox class="md-primary bb-center" ng-model="inventory.selected" ng-click="$parent.toggle($index)" aria-label="Product Selection">
            </md-checkbox></td>
            <td hide-xs class="td-image-width"><img ng-src="{{inventory.inventoryImageURL1}}"
                     alt="{{inventory.productName}}"
                     class="img-responsive bb-img-center-prod"
                     ng-class="(inventory.numberOfUnits===0 || inventory.disabled===true)?'no-stock-image' : 'no-stock-inventory'" ></td>
            <td ng-click="panelChange('Edit')">
                <h5 class="nv-text-bold" >{{inventory.productName}} - {{inventory.unitOfMeasureName}}</h5>
                <h6 class="nv-text-bold">{{inventory.brandName}}</h6>
                <!--<md-icon class="fa fa-plus bb-f20" ng-click="panelChange('AddStock')"></md-icon>-->
            </td>
            <td>{{inventory.numberOfUnits}}</td>
            <td>{{inventory.MRP}}</td>
                <td ng-show="type==='offerEdit'"><md-select  ng-model="inventory.MOQ"  aria-label="Select MOQ">
                    <md-option ng-repeat="item in inventory.moqAndMargin track by $id(item)" ng-value="item">
                        <span>{{(item.MOQ)}}</span>
                    </md-option>
                </md-select></td>
                <td ng-show="type==='offerEdit'"> <md-input-container class="md-block">
                    <div class="md-subhead">{{inventory.MOQ.margin}}</div> </md-input-container>
                    </md-input-container></td>

            <td>{{inventory.disabled?'Disabled':'Enable'}}</td>
            <td class="nvc-primary-color" ng-click="panelChange('Edit')">view&nbsp;&nbsp; <span class="fa fa-eye"></span></td>

        </tr>

        </tbody>

    </table>
    <div ng-show="(inventories|filter:searchInventoryText).length===0">
        <h5 class="nv-text-bold nv-text-center">No products found with that search category</h5>
    </div>
    <div class="nv-text-right">
        <dir-pagination-controls pagination-id="paginationId" on-page-change="isFilterSummary?inventoryFilterSummary(null,null,newPageNumber):find(newPageNumber)"
                                 max-size="8"
                                 direction-links="true"
                                 boundary-links="true" >
        </dir-pagination-controls>
    </div>
