<div layout="column" data-ng-controller="InventoriesController" data-ng-init="panelChange('viewAll')">
    <!--Header of this section-->
    <head-bar nvipanipath="context" isbusinessunitslist="true" change-business-unit="getInventoriesByBusinessUnit(busUnitId)"></head-bar>

    <!--Action Bar ot this section-->
    <div ng-show="viewAllProduct" class="nvc-content submenu">
        <action ng-show="inventoryFilters.Count>0"  nvactions="inventoryFilters"  filter-summary="getInventoryFilterSummary(filterKey,filterCount,toggle)" page="'inventory'"></action>

        <div class="table-responsive-vertical shadow-z-1">
            <div ng-show="inventories.length>0" class="nvc-margin-top-10" layout="row" layout-align="center center">
                <div class="nvc-input-btngrp nv-position-relative" flex="30">
                    <input placeholder="Search..." type="text" ng-model="searchInventoryText">
                    <span>
                                <button class="nvc-input-button" type="button" ng-click="find()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                </div>
                <div flex>
                    <!--   <md-menu-bar >
                   <md-menu>
                       <md-button class="md-icon-button" aria-label="open menu" ng-click="$mdOpenMenu($event)">
                           <md-icon class="fa fa-filter">
                           </md-icon>
                       </md-button>
                       <md-menu-content>
                           &lt;!&ndash;Filters Here&ndash;&gt;
                           <md-menu-item>
                               Filter 1
                           </md-menu-item>
                           <md-menu-item>
                               Filter 2
                           </md-menu-item>
                           <md-menu-item>
                               Filter 3
                           </md-menu-item>
                       </md-menu-content>
                   </md-menu>
                           <md-menu>
                               <md-button class="md-icon-button" aria-label="open menu" ng-click="$mdOpenMenu($event)">
                                   <md-icon class="fa fa-arrows-v"></md-icon>
                               </md-button>
                               <md-menu-content>
                                   &lt;!&ndash;Sort Here&ndash;&gt;
                                   <md-menu-item>
                                       Sort 1
                                   </md-menu-item>
                                   <md-menu-item>
                                       Sort 2
                                   </md-menu-item>
                               </md-menu-content>
                           </md-menu>
                       </md-menu-bar>-->
                </div>
                <div ng-show="authentication.companyBusinessUnits.userGroup.name === 'Admin'">
                    <md-menu >
                        <md-button ng-click="$mdOpenMenu($event)" class="md-primary md-raised nvc-shape-pill">
                            Group Actions
                            <span class="caret"></span>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button md-auto-focus ng-click="batchInventories(0)" >
                                    <md-icon class="fa fa-trash"></md-icon> Delete
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="batchInventories(1)">
                                    <md-icon class="fa fa-ban"></md-icon> Disable
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="batchInventories(2)">
                                    <md-icon class="fa fa-check"></md-icon> Enable
                                </md-button>
                            </md-menu-item>

                        </md-menu-content>
                    </md-menu>
                </div>
                <div ng-show="authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager'">
                    <md-menu id="menu">
                        <md-button ng-click="$mdOpenMenu()" class="md-primary md-raised nvc-shape-pill nvc-margin-right-0">
                            New
                            <span class="caret"></span>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button md-autofocus ng-click="panelChange('Add');" ng-disabled="selProductLength().length!==0" id='menu-newproduct' aria-label="New Product">
                                    <md-icon class="fa fa-plus"> </md-icon> New Product
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button id="importproductfile" ng-click="panelChange('Import');" aria-label="Import File">
                                    <md-icon class="fa fa-file"></md-icon>
                                    Import From CSV/Excel
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button data-ng-href="/#!/products/import" aria-label="Import Inventory" id="menu-importmasters">
                                    <md-icon class="fa fa-file"></md-icon>
                                    Import from Catalogue
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-menu-item>
                                <md-menu class="nvc-margin-0 nvc-padding-0" >
                                    <md-button class="nvc-margin-0 nvc-padding-0 bb-wid-100 nv-text-left" ng-disabled="selProductLength().length===0" ng-click="$mdOpenMenu($event)" ng-mouseenter="stopPropogation($event);$mdOpenMenu($event)">
                                        <md-icon class="fa fa-random fa-lg"></md-icon>Convert
                                    </md-button>
                                    <md-menu-content ng-mouseleave="closeSubMenu($event)">
                                        <md-menu-item>
                                            <md-button ng-click="panelChange('Convert')" ng-disabled="selProductLength().length===0" id="menu-convert-manufacture" aria-label="Convert">
                                                <md-icon class="fa fa-file"></md-icon>convert product
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button ng-click="panelChange('ConvertRePack')" ng-disabled="selProductLength().length!==1" id="menu-convert-pack" aria-label="Convert">
                                                <md-icon class="fa fa-file"></md-icon>Repacking
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button ng-click="panelChange('ConvertGrade')" ng-disabled="selProductLength().length!==1" id="menu-convert-grade" aria-label="Convert">
                                                <md-icon class="fa fa-file"></md-icon>Grading
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                                </md-menu-item>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="panelChange('CreateOffer')"  ng-disabled="selProductLength().length===0" id="menu-createoffer" aria-label="Create Offer">
                                    <md-icon class="fa fa-gift"></md-icon> Create Offer
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="createOrder()"  ng-disabled="selProductLength().length===0" id="menu-createorder" aria-label="Create Order">
                                    <md-icon class="fa fa-file-o"></md-icon> Create Order
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>

            </div>
        </div>
        <view-products products="inventories" type='view' paginationId='viewAll' hide-xs ng-show="viewAllProduct && (importType!=='productImport' || importType!=='MassImport') && inventories.length>0"></view-products>
        <view-product-cards products="inventories" type='view' paginationId='viewAll' hide-gt-xs ng-show="viewAllProduct && (importType!=='productImport' || importType!=='MassImport') && inventories.length>0"></view-product-cards>
        <div ng-show="viewAllProduct && inventories.length===0" layout="row" layout-wrap layout-align="center cenrer" class="nvc-no-list-illustration">
            <div flex="15">
                <img src="/modules/inventories/img/profile/zero-inventory.png" class="bb-wid-100">
            </div>
            <div flex="100" class="nv-text-center">
                <h4 class="nv-text-bold">Your Inventory is empty</h4>
                <h5>Looks like you haven't added your products yet</h5>
            </div>
            <div flex="100" layout="row" layout-align="center center" class="submenu" ng-show="(authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager')">
                <md-button id="importproductfilehome" class="md-primary nvc-shape-pill nvc-accent-border" ng-click="panelChange('Import');">Create CSV / Excel and Import
                </md-button>
                <md-button id="importmastershome" class="md-primary nvc-shape-pill nvc-accent-border"  data-ng-href="/#!/products/import"">Import from Catalogue</md-button>
                <md-button id="newproducthome" class="md-primary nvc-shape-pill nvc-accent-border" ng-click="panelChange('Add');">Create New Product</md-button>
            </div>
        </div>
        <div class="nvc-page-bottom-tag nvc-primary-background md-whiteframe-3dp"  ng-class="selProductLength().length<1?'nvc-page-tag-transition':''"
             ng-show="(inventories.length>0) && (authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager')">
            <div layout="row" layout-align="center center">
                <div class="nvc-box nvc-shape-pill nv-text-bold nv-text-center nvc-white-color" hide-gt-xs>{{selProductLength().length}}</div>
                <div flex="33">
                    <md-menu class="bb-wid-100">
                        <md-button class="bb-wid-100 nvc-margin-0 nvc-padding-0 nvc-white-color" aria-lable="open conver menu" ng-click="$mdOpenMenu()"><span class="fa fa-random"></span> Convert </md-button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="panelChange('Convert')">Convert Inventory</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="panelChange('ConvertRePack')" ng-disabled="selProductLength().length!==1" >Repacking</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="panelChange('ConvertGrade')" ng-disabled="selProductLength().length!==1">Grading</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
                <!--<md-button class="nvc-white-color nvc-margin-0" flex="33" ng-click="panelChange('Convert');"><span class="fa fa-random"></span> Convert</md-button>
                --><md-divider class="nvc-white-divider"></md-divider>
                <md-button class="nvc-white-color nvc-margin-0" flex="33" ng-click="createOrder()"><span class="fa fa-file"></span> Create order</md-button>
                <md-divider class="nvc-white-divider"></md-divider>
                <md-button class="nvc-white-color nvc-margin-0" flex="33" ng-click="panelChange('CreateOffer')"><span class="fa fa-gift"></span> Create Offer</md-button>
            </div>
        </div>
        <!--<view-product-cards products="inventories" type='view' paginationId='viewAll' hide-gt-xs ng-show="viewAllProduct && (importType!=='productImport' || importType!=='MassImport')"></view-product-cards>-->
    </div>
    <div ng-show="!viewAllProduct">
        <add-offer-product ng-if="showOfferProducts"></add-offer-product>
        <add-order-product ng-if="showOrderProducts"></add-order-product>
        <div ng-show="importType==='productImport' || importType==='MassImport'" layout="row" layout-align="center" class="nvc-margin-top-20">
            <div  flex="80" flex-xs="100" flex-sm="90" flex-gt-lg="80" layout="row">
                <!--<h5>Search for Your prefered Category ,Products, Brands</h5>-->
                <!-- <md-contact-chips
                          ng-model = "mainCategories"
                          md-contacts = "querySearch($query)" searchType="offer" searchType="contacts"
                          md-contact-name = "firstName"
                          md-require-match = "true"
                          md-highlight-flags = "i"
                          filter-selected = "true"
                          placeholder = "To">
                  </md-contact-chips>-->

                <!--<md-content class="md-padding" layout="column">-->


                <div class="nv-position-relative"><md-button class="md-fab md-mini" ng-class="{'md-primary':selectedCategories.length>0}">
                    <md-icon class="fa fa-bars fa-lg"></md-icon>
                    <md-tooltip>{{selectedCategories.length}} Products selected</md-tooltip>
                </md-button>
                    <h5 class="nvc-sup-text" ng-show="selectedCategories.length>0">{{(selectedCategories.length>99)?'99+':selectedCategories.length}}</h5>
                </div>
                <div flex><md-chips class="nvc-chips" ng-model="selectedCategories" md-autocomplete-snap="" md-transform-chip="criteriaChips.transformChip($chip)" md-require-match="autocompleteDemoRequireMatch">
                    <md-autocomplete md-selected-item="selectedCategoryItem" md-search-text="searchCategoryText" md-items="item in criteriaChips.querySearchCategory(selectedCat,searchCategoryText)" md-item-text="item.name" placeholder="Search for Category ,Products, Brands">
                        <span md-highlight-text="searchCategoryText">{{item.name}} :: {{item.type}}</span>
                        <md-not-found>
                            <div class="chip-not-found" ng-click="notFound(searchCategoryText)">Not found. Click here to add new.</div>
                        </md-not-found>
                    </md-autocomplete>
                    <md-chip-template>
                            <span>
                              <strong>{{$chip.name}}</strong>
                                <!--<em>({{$chip.type}})</em>-->
                            </span>
                    </md-chip-template>
                </md-chips>
                </div>
                <div>
                    <md-button type="button" class="md-fab md-mini" ng-class="{'md-primary':selectedCategories.length>0}" ng-click="importInventory()">
                        <md-icon class="fa fa-download fa-lg"></md-icon>
                        <md-tooltip>Fetch Data</md-tooltip>
                    </md-button>
                </div>

                <!-- </md-content>-->
            </div>

        </div>
        <create-import ng-if="importType==='MassImport'"></create-import>
        <convert-view ng-if="showConversion"></convert-view>

    </div>
</div>
