<div layout="row" layout-sm="row" layout-xs="row" layout-gt-lg="row">
    <div flex="80" flex-sm="80" flex-xs="80" flex-gt-lg="80">
    <div class="nv-position-relative"><md-button class="md-fab md-mini" ng-class="{'md-primary':selectedCategories.length>0}">
        <md-icon class="fa fa-bars fa-lg"></md-icon>
        <md-tooltip>{{selectedCategories.length}} Products selected</md-tooltip>
    </md-button>
        <h5 class="nvc-sup-text" ng-show="selectedCategories.length>0">{{(selectedCategories.length>99)?'99+':selectedCategories.length}}</h5>
    </div>
    <div flex><md-chips class="nvc-chips" ng-model="selectedCategories" md-autocomplete-snap="" md-transform-chip="criteriaChips.transformChip($chip)" md-require-match="autocompleteDemoRequireMatch">
        <md-autocomplete md-selected-item="selectedCategoryItem" md-search-text="searchOfferCategoryText" md-items="itemCategory in criteriaChips.querySearchCategory(selectedCat,searchOfferCategoryText)" md-item-text="itemCategory.name" placeholder="Search for Category ,Products, Brands">
            <span md-highlight-text="searchOfferCategoryText">{{itemCategory.name}} :: {{itemCategory.type}}</span>
            <md-not-found>
                <div class="chip-not-found" ng-click="notFound(searchOfferCategoryText)">Not found. Click here to add new.</div>
            </md-not-found>
        </md-autocomplete>
        <md-chip-template>
                            <span>
                              <strong>{{$chip.name}}</strong>
                                <!--<em>({{$chip.type}})</em>-->
                            </span>
        </md-chip-template>
    </md-chips>
    </div>
    <div>
        <md-button type="button" class="md-fab md-mini" ng-class="{'md-primary':selectedCategories.length>0}" ng-click="importInventory()">
            <md-icon class="fa fa-download fa-lg"></md-icon>
            <md-tooltip>Fetch Data</md-tooltip>
        </md-button>
    </div>
    </div>
    <div flex="100" flex-sm="100" flex-xs="100" flex-gt-lg="100">
        <table class="nvc-content nvc-content-table">
            <thead>
            <tr>
                <th>Product Name</th>
                <th>Unit Price ( &#8377; )</th>
                <th>Unit Size ( Measure )</th>
                <th>No. of Units</th>
                <th>Price</th>
                <th ng-show="selOrder.products.length > 0 || singleproduct.inventory.disabled"> Remove Product</th>
                <!-- <th>VAT (%)</th>
                 <th>CST (%)</th>-->
            </tr>
            </thead>
            <tbody>

            <tr  ng-repeat="singleproduct in selOrder.products track by $id(singleproduct)">
                <td>
                    <md-input-container class="md-block">
                        <div class="md-subhead bb-truncate">
                            {{singleproduct.product.name}}
                            <md-tooltip>{{singleproduct.product.name}}</md-tooltip>
                        </div>
                    </md-input-container>
                </td>
                <td>
                    <md-input-container ng-disabled="singleproduct.disabled" class="md-block">
                        <div class="md-subhead">{{singleproduct.unitPrice}}</div>
                    </md-input-container>

                </td>
                <td>
                    <md-input-container ng-disabled="singleproduct.disabled" class="md-block">
                        <div class="md-subhead">
                            {{singleproduct.unitSize+' ( '+singleproduct.unitMeasure+' )'}}
                        </div>
                    </md-input-container>

                </td>
                <td>
                    <md-input-container class="md-block">
                        <div class="md-subhead">
                            {{singleproduct.numberOfUnits}}
                        </div>
                        <!-- <label class="active" data-error="Please enter valid url." for="product_{{$index}}">url</label>-->
                        <!--<input ng-change="changeProductPrice(singleproduct,$index)" ng-disabled="singleproduct.disabled" aria-label="numberOfUnits" id="product_{{$index}}" type="number" ng-model="singleproduct.numberOfUnits" ng-min="{{singleproduct.MOQ}}" ng-max="{{maxProductUnits(singleproduct)}}">
                        <md-tooltip>Min Order Quantity : {{singleproduct.MOQ}}, Max Order Quantity: {{maxProductUnits(singleproduct)}}</md-tooltip>
                   --> </md-input-container>
                    <!--<div class="showtooltip" tooltip-placement="left" tooltip-enable="$isValid" tooltip="tooltip message"></div>-->


                </td>
                <!-- <td>
                     <md-input-container class="md-block">
                         <div class="md-subhead">{{singleproduct.MOQ}}</div>
                     </md-input-container>
                 </td>-->
                <!--  <td>
                      <md-input-container class="md-block">
                          <div class="md-subhead">{{singleproduct.numberOfUnitsAvailable}}
                          </div>
                      </md-input-container>
                  </td>-->
                <td>
                    <md-input-container class="md-block">
                        <div class="md-subhead">
                            {{singleproduct.unitPrice*singleproduct.numberOfUnits |currency:' &#8377; '}}
                        </div>
                    </md-input-container>
                </td>
                <!-- <td>
                     <md-input-container class="md-block">
                         <div class="md-subhead"> {{singleproduct.inventory.tax.VAT}}</div>
                     </md-input-container>

                     &lt;!&ndash; <md-input-container class="md-block">
                          <div class="md-subhead">{{ 'Service Tax-'+inventory.inventory.tax.serviceTax}}</div>
                      </md-input-container>&ndash;&gt;
                 </td>
                 <td>
                     <md-input-container ng-disabled="singleproduct.inventory.disabled" class="md-block">
                         <div class="md-subhead">{{singleproduct.inventory.tax.CST}}</div>
                     </md-input-container>
                 </td>-->
                <td ng-show="selOrder.products.length > 0 || singleproduct.inventory.disabled" > <md-icon
                        class="fa-minus-circle faa bb-minus-btn"
                        ng-click="selOrder.products.splice($index, 1)"
                ></md-icon></td>

            </tr>
            </tbody>
        </table>
    </div>
    <div flex="100" flex-sm="100" flex-xs="100" flex-gt-lg="100">
        <md-button class="md-primary" ng-click="createOffer()">Export products to create Offer</md-button>
    </div>
</div>
