
<div flex="5" flex-xs="100" flex-gt-sm="5" flex-md="5" flex-sm="5" flex-gt-lg="5">
        <md-checkbox ng-disabled="inventory.disabled || (inventory.numberOfUnits===0 && inventory.maxUnits===0)" class="bb-center" ng-model="inventory.selected" aria-label="Product Selection">
        </md-checkbox>
</div>
<div flex="15" flex-xs="100" flex-gt-sm="15" flex-md="15" flex-sm="25" flex-gt-lg="15">
    <div flex="100" flex-xs="100" flex-sm="100">
        <label class="bb-flabel bb-truncate">{{inventory.product.category.name+' /'+inventory.product.subCategory1.name+' /'+inventory.product.subCategory2.name}}</label>
        <md-tooltip>Sub Category</md-tooltip>
    </div>
    <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100" >

        <div layout-padding layput-align="center center" layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-wrap layout-align="center center">


            <div flex="100" flex-xs="50" flex-sm="100" flex-gt-lg="100" class="nv-position-relative">
                <img ng-src="{{inventory.inventoryImageURL1}}"
                     alt="{{inventory.product.name}}"
                     class="img-responsive bb-img-center bb-img-center-prod bb-profimg-fix"
                    ng-class="(inventory.numberOfUnits===0 || inventory.disabled===true)?'no-stock-image' : 'no-stock-inventory'" >
                <div class="no-stock" ng-show="getImageLabel(inventory)" >{{getImageLabel(inventory)}}</div>
            </div>
        </div>
    </div>
    <div flex-sm="100" flex-xs="100" hide-lg hide-md hide-gt-lg>
        <div layout="row" layout-sm="row" layout-xs="row" layout-align="space-around center" layout-wrap>
        <div flex="10" flex-xs="10" flex-sm="25">
            <md-button class="md-fab md-raised md-mini" ng-click="update(false)">
                <md-icon class="fa fa-save bb-f20 md-icon-col "></md-icon>
                <md-tooltip md-auto-focus="true" md-direction="bottom">Update Product</md-tooltip>
            </md-button>
        </div>
        <div flex="10" flex-xs="10" flex-sm="25">
            <md-button class="md-fab md-raised md-mini" ng-click="panelChange('Edit')">
                <md-icon class="fa fa-pencil bb-f20 md-icon-col "></md-icon>
                <md-tooltip md-direction="bottom">Edit Product</md-tooltip>
            </md-button>
        </div>
        <div flex="10" flex-xs="10" flex-sm="25">
            <md-button class="md-fab md-raised md-mini" ng-click="remove(inventory , $index)">
                <md-icon class="fa fa-trash bb-f20 md-icon-col "></md-icon>
                <md-tooltip md-direction="bottom">Remove Product</md-tooltip>
            </md-button>
        </div>
            <div flex="10" flex-xs="10" flex-sm="25">
                <md-button class="md-fab md-raised md-mini" ng-click="update(true)">
                    <md-icon class="fa bb-f20 md-icon-col" ng-class="inventory.disabled===true? 'fa-check' : 'fa-ban'" ></md-icon>
                    <md-tooltip md-direction="bottom">{{inventory.disabled===true ?'Active ':'Inactive '}}Product</md-tooltip>
                </md-button>

            </div>
        </div>
    </div>
</div>
<div flex="80" flex-xs="100" flex-gt-sm="80" flex-md="80" flex-sm="70" flex-gt-lg="80">
    <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100" >
        <div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-wrap>
            <div flex="25" flex-xs="100" flex-sm="33" flex-gt-lg="25">
                <h3 class="bb-flabel">Name </h3>
                <label class="md-subhead">{{inventory.product.name}} ({{inventory.unitSize}}
                    {{inventory.unitMeasure}})</label>

            </div>

            <div flex="25" flex-xs="50" flex-sm="33" flex-gt-lg="25">

                <h3 class="md-subhead">Sample Number</h3>
                <label class="bb-flabel bb-truncate">{{inventory.product.sampleNumber}}</label>
            </div>


            <div flex="25" flex-xs="50" flex-sm="33" flex-gt-lg="25">
                <h3 class="md-subhead">Brand Name</h3>
                <label class="bb-flabel bb-truncate">{{inventory.product.brandName}}</label>
            </div>
            <div flex="8" hide-xs flex-gt-lg="10" hide-sm>
                <h3 class="md-subhead">CGST</h3>
                <label class="bb-flabel">{{inventory.tax.CGST}} %</label>
            </div>
            <div flex="8" hide-xs hide-sm flex-gt-lg="10">
                <h3 class="md-subhead">SGST</h3>
                <label class="bb-flabel">{{inventory.tax.SGST}} %</label>
            </div>
            <div flex="8" hide-xs hide-sm flex-gt-lg="5">
                <h3 class="md-subhead">IGST</h3>
                <label class="bb-flabel">{{inventory.tax.IGST}} %</label>
            </div>
        </div>
    </div>
    <md-divider></md-divider>
    <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
        <div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-wrap>


            <!-- <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="25">
                 <h3 class="md-subhead">Sale Price</h3>
                 <input class="bb-border-input" aria-label="unitSize" type="number" ng-model="inventory.saleUnitPrice">

             </div>-->
            <div flex="25" flex-xs="100" flex-sm="33" flex-gt-lg="25">

                <h3 class="md-subhead">Number Of Units</h3>
                <input aria-label="Number of Units" type="number" class="bb-border-input"  ng-model="inventory.numberOfUnits" nv-regulation-exp="num">

            </div>
            <!--<div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="25">
                    <h3 class="md-subhead">Buy Price</h3>
                    <input class="bb-border-input" aria-label="unitPrice" type="number" ng-model="inventory.buyUnitPrice">
            </div>-->
            <div flex="25" flex-xs="50" flex-sm="33" flex-gt-lg="25">
                <h3 class="md-subhead">MRP</h3>
                <md-input-container class="md-no-float"><input class="bb-border-input" aria-label="MRP"  ng-change="changePrice($index)" ng-model="inventory.MRP" nv-regulation-exp="float"></md-input-container>
            </div>
            <div flex="25" flex-xs="50" flex-sm="33" flex-gt-lg="25">
                <h3 class="md-subhead">Max Units</h3>
                <input class="bb-border-input" aria-label="Max Units" type="number" ng-model="inventory.maxUnits" nv-regulation-exp="num">
            </div>
            <div flex="25" hide-xs hide-sm flex-gt-lg="25">
                <div layout="row">
            <div flex="25" >
                    <md-button class="md-fab md-raised md-mini nv-margin-top-30" ng-click="update(false)">
                        <md-icon class="fa fa-save bb-f20 md-icon-col "></md-icon>
                        <md-tooltip md-direction="bottom">Update Product</md-tooltip>
                    </md-button>
                </div>
                <div flex="25">
                    <md-button class="md-fab md-raised md-mini nv-margin-top-30" ng-click="panelChange('Edit')">
                        <md-icon class="fa fa-pencil bb-f20 md-icon-col "></md-icon>
                        <md-tooltip md-direction="bottom">Edit Product</md-tooltip>
                    </md-button>
                </div>
                <div flex="25">
                    <md-button class="md-fab md-raised md-mini nv-margin-top-30" ng-click="remove(inventory , $index)">
                        <md-icon class="fa fa-trash bb-f20 md-icon-col "></md-icon>
                        <md-tooltip md-direction="bottom">Remove Product</md-tooltip>
                    </md-button>
                </div>
                    <div flex="25">
                    <md-button class="md-fab md-raised md-mini nv-margin-top-30" ng-click="update(true)">
                        <md-icon class="fa bb-f20 md-icon-col" ng-class="inventory.disabled===true? 'fa-check' : 'fa-ban'" ></md-icon>
                        <md-tooltip md-direction="bottom">{{inventory.disabled===true ?'Active ':'Inactive '}}Product</md-tooltip>
                    </md-button>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <md-divider hide-gt-sm hide-lg hide-md hide-gt-lg></md-divider>
        <div flex="100" flex-xs="100" layout-sm="100" layout="row" layout-xs="row" layout-sm="row" hide-gt-sm hide-gt-lg hide-md hide-lg layout-padding layout-wrap>
                <div flex="33" felx-sm="33" flex-xs="33">
                    <h3 class="md-subhead">CGST</h3>
                    <label class="bb-flabel">{{inventory.tax.CGST}} %</label>
                </div>
                <div flex="33" felx-sm="33" flex-xs="33">
                    <h3 class="md-subhead">SGST</h3>
                    <label class="bb-flabel">{{inventory.tax.SGST}} %</label>
                </div>
                <div flex="33" felx-sm="33" flex-xs="33">
                    <h3 class="md-subhead">IGST</h3>
                    <label class="bb-flabel">{{inventory.tax.IGST}} %</label>
                </div>
        </div>
    </div>




