<div>
    <md-button class="md-icon-button nvc-lfloat" aria-label="close" ng-click="minimiseView()">
        <md-icon class="fa fa-times fa-lg"></md-icon>
        <md-tooltip>Close Stock View</md-tooltip>
    </md-button>
    <h4 class="nv-text-center">Stock Details {{currentStock.batchNumber?'- '+currentStock.batchNumber:''}}</h4>
    <div layout="row" layout-sm="row" class="nvc-product-detail nvc-clear-both" layout-wrap layout-align="space-around center" layout-padding>
        <div flex="100" flex-sm="100" layout="row" layout-sm="row" layout-wrap>
        <div flex="40" flex-sm="40">
            <h6>Opening Balance</h6>
            <label>{{currentStock.openingBalance?currentStock.openingBalance:0}}</label>
        </div>
        <div flex-sm="40" flex="40">
            <h6>Current Balance</h6>
            <label>{{currentStock.currentBalance?currentStock.currentBalance:0}}</label>
        </div>
        <div flex-sm="20" flex="20">
            <h6>MRP</h6>
            <label>{{currentStock.MRP?currentStock.MRP:0}}</label>
        </div>
        <div flex="40" flex-sm="40">
            <h6>MFG Date</h6>
            <label>{{currentStock.manufacturingDate? (currentStock.manufacturingDate | date:'dd:MM:yyyy'):'N/A'}}</label>
        </div>
        <div flex-sm="40" flex="40">
            <h6>PKG Date</h6>
            <label>{{currentStock.packagingDate? (currentStock.packagingDate | date:'dd:MM:yyyy'):'N/A'}}</label>
        </div>
        <div flex="20" flex-sm="20">
            <h6>Best Before</h6>
            <label>{{currentStock.expiryDate? (currentStock.expiryDate | date:'dd:MM:yyyy'):'N/A'}}</label>
        </div>
        </div>
    </div>
    <div layout="row" layout-sm="row" layout-wrap >
        <md-tabs md-dynamic-height md-border-bottom class="bb-wid-100">
            <md-tab label="Certificates">
                <md-content>
                    <div layout="row" layout-sm="row">

                    </div>
                </md-content>
            </md-tab>
            <!--<md-tab label="Grades">
                <md-content>
                    <md-content id="stock-grades-quality" class="md-padding">
                        <div class="nvc-landing-offers-tabs frm-inpt-mrgn-btm-0">
                            <md-tabs md-dynamic-height>
                                <md-tab label="Grades">
                                    <md-content id='batch-grades'  layout-padding layout-wrap>
                                        <table>
                                            <tbody>
                                            <tr ng-repeat="gradeItem in currentStock.certificate.gradeDefinition" ng-if="gradeItem.attributeValue!==''">
                                                <td class="layout-padding layout-align"><h5>{{gradeItem.attributeKey}}</h5></td>
                                                <td class="layout-padding layout-align"> <label>{{gradeItem.attributeValue===''?'N/A':gradeItem.attributeValue}}</label></td>
                                            </tr>
                                            <tr ng-repeat="gradeItem in currentStock.certificate.gradeDefinition" ng-if="gradeItem.attributeValue==='' && showMoreGrades">
                                                <td class="layout-padding layout-align"><h5>{{gradeItem.attributeKey}}</h5></td>
                                                <td class="layout-padding layout-align"> <label>{{gradeItem.attributeValue===''?'N/A':gradeItem.attributeValue}}</label></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div flex="100" class="nv-text-right nvc-primary-color" ><span ng-click="showMoreGrades=!showMoreGrades">{{showMoreGrades?'-':'+'}} Show {{showMoreGrades?'Less':'More'}}</span></div>
                                    </md-content>
                                </md-tab>
                                <md-tab label="Quality">
                                    <md-content id='batch-quality' layout-padding layout-wrap>
                                        <table>
                                            <tbody>
                                            <tr ng-repeat="qualityItem in currentStock.certificate.qualityDefinition" ng-if="qualityItem.attributeValue!==''" class="layout-padding layout-wrap">
                                                <td class="layout-padding layout-align"><h5>{{qualityItem.attributeKey}}</h5></td>
                                                <td class="layout-padding layout-align"><label>{{qualityItem.attributeValue===''?'N/A':qualityItem.attributeValue}}</label></td>
                                            </tr>
                                            <tr ng-repeat="qualityItem in currentStock.certificate.qualityDefinition" ng-if="qualityItem.attributeValue==='' && showMoreQuality" class="layout-padding layout-wrap">
                                                <td class="layout-padding layout-align"><h5>{{qualityItem.attributeKey}}</h5></td>
                                                <td class="layout-padding layout-align"><label>{{qualityItem.attributeValue===''?'N/A':qualityItem.attributeValue}}</label></td>
                                            </tr>
                                            </tbody></table>
                                        <div flex="100" class="nv-text-right nvc-primary-color" ><span ng-click="showMoreQuality=!showMoreQuality">{{showMoreQuality?'-':'+'}} Show {{showMoreQuality?'Less':'More'}}</span></div>
                                    </md-content>
                                </md-tab>
                            </md-tabs>
                        </div>

                    </md-content>
                </md-content>
            </md-tab>-->
        </md-tabs>
    </div>
</div>
