<section data-ng-controller="ProductsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="product.name"></h1>
		<h2 data-ng-bind="product.type"></h2>
		<h3 data-ng-bind="product.category"></h3>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == product.user._id))">
		<a class="btn btn-primary" href="/products/{{product._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="product.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="product.user.displayName"></span>
		</em>
	</small>
</section>
