<div layout-padding>
<div layout-padding ng-if="showBothPrice===true || showSalePrice===true || showBuyPrice===true">
    <div class="md-toolbar-tools" flex layout-align="space-between center"><md-button class="md-primary">Sale Price</md-button><span class="fa fa-times" ng-click="cancel()"></span></div>
    <div layout-padding layout-wrap layout="row" layout-sm="row" layout-xs="row" layout-gt-lg="row" layout-align="center center" class="nv-text-center nv-border">
         <div flex="33" flex-sm="33" flex-xs="33" flex-gt-lg="33" class="nv-header-product">
            <span>MOQ</span>
        </div>
        <div flex="33" flex-sm="33" flex-xs="33" flex-gt-lg="33" class="nv-header-product">
            <span>Margin</span>
        </div>
      <!--  <div flex="33" flex-sm="33" flex-xs="33" flex-gt-lg="33" class="nv-header-product">
            <span>Price</span>
        </div>-->

        <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100" ng-repeat="saleMargin in selectedProduct.moqAndMargin track by $id(saleMargin)" class="nv-no-background">
            <div layout-wrap layout="row" layout-sm="row" layout-xs="row" layout-gt-lg="row">
            <div flex="33" flex-sm="33" flex-xs="33" flex-gt-lg="33">
                {{saleMargin.MOQ}}
            </div>
            <div flex="33" flex-sm="33" flex-xs="33" flex-gt-lg="33">
                {{saleMargin.margin}}
            </div>
           <!-- <div flex="33" flex-sm="33" flex-xs="33" flex-gt-lg="33">
                {{saleMargin.price}}
            </div>-->
            </div>
        </div>
    </div>

</div>
<div layout-padding ng-if="showBothPrice===true">
    <md-button class="md-primary">Buy Price</md-button>
    <div layout-padding layout-wrap layout="row" layout-sm="row" layout-xs="row" layout-gt-lg="row" layout-align="center center" class="nv-text-center nv-border">
        <div flex="33" flex-sm="33" flex-xs="33" flex-gt-lg="33" class="nv-header-product">
            <span>MOQ</span>
        </div>
        <div flex="33" flex-sm="33" flex-xs="33" flex-gt-lg="33" class="nv-header-product">
            <span>Margin</span>
        </div>
        <!--<div flex="33" flex-sm="33" flex-xs="33" flex-gt-lg="33" class="nv-header-product">
            <span>Price</span>
        </div>-->

        <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100" ng-repeat="buyMargin in selectedProduct.moqAndBuyMargin track by $id(buyMargin)" class="nv-no-background">
            <div layout-wrap layout="row" layout-sm="row" layout-xs="row" layout-gt-lg="row">
                <div flex="33" flex-sm="33" flex-xs="33" flex-gt-lg="33">
                    {{buyMargin.MOQ}}
                </div>
                <div flex="33" flex-sm="33" flex-xs="33" flex-gt-lg="33">
                    {{buyMargin.margin}}
                </div>
               <!-- <div flex="33" flex-sm="33" flex-xs="33" flex-gt-lg="33">
                    {{buyMargin.price}}
                </div>-->
            </div>
        </div>
    </div>
</div>
</div>
