.panel-title{
    font-size: large;
}

/*Contacts*/


.panel .panel-body {
    border-width: medium 1px 2px;
    border-style: none solid solid;
    border-top: medium none;
    border-right-color: #CCC !important;
    border-bottom-color: #CCC !important;
    border-left-color: #CCC !important;

}

.panel-pad{
    padding: 15px !important;
}
.project-team, .panel-title, .progress-panel {
    background: #FFFFFF !important;
}
.progress-panel {
    padding-bottom: 5px !important;
}

.personal-task tbody tr td {
    padding: 11px 15px;
    border-color: #EEEFF1;
}

.badge.bg-important {
    background: #00A0DF;
    font-family: "Lato",sans-serif;
    font-size: 11px;
}
.badge {
    border-radius: 9px;
    min-width: 18px;
    height: 18px;
    text-align: center;
    padding: 3px 5px;
    background: #00A0DF;
}

.personal-task > tbody > tr > td:last-child {
    text-align: right;
}

.task-progress {
    float: left;
}

.bb-profile-ava img.bb-simple {
    border-radius: 50%;
    border: #0070FF;
    border: 2px solid rgba(0, 112, 255, 0.4);
    display: inline-block;
}

.contact-menu-icon{
    /*padding-right: 13px;*/
    border-left: 1px solid #EEE;
   /* padding-left: 13px;*/
}

.contact-icon-color {
    color: #359EEA !important;
    font-size: 20px;
}

ul.con-menu > li > a {
    color: #359EEA !important;
    font-size: 20px !important;
    padding: 0 13px !important;
    margin-right: 1px !important;

}

ul.grp-menu > li > a {
    color: #359EEA !important;
    font-size: 20px !important;
    padding: 0 8px !important;
    margin-right: 1px !important;
}

.panel-scroll{
    max-height: 518px;
    overflow-y: auto !important;
    overflow-x: hidden;
}

.pan-scroll {
    max-height: 620px;
    margin: 0 auto;
    overflow:auto;
}

.bb-pan-scroll {
    max-height: 620px;
    margin: 0 auto;
    overflow: auto;
}

.bb-inventory-scroll {
    max-height: 200px;
    overflow: auto;
}
.leftside .title {
    padding: 15px 0 0;
    color:#000000;
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    text-transform: uppercase;
    display: block;
    border-bottom: #000000;
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
    margin: 10px;
}

.cshadow-in {
    box-shadow: 2px 0 0 #CCC !important;
}

.adjc
{
    min-height: 580px;
}

.sb-icon{
    padding-right: 5px;
    border-right: 1px solid #C2BDBD;
    padding-left: 5px;
}

.sb-icon-z{
    color:#359EEA;
    font-size : 20px;
}

.bb-sample-icon {
    color: #359EEA;
    font-size: 20px;
}

.copacity
{
    opacity : 1 !important;
    margin-right: 30px !important;
}

.cbtn
{
    padding: 10px 50px ;
    font-size: 15px ;
    font-weight: 900 ;
    background-color: #359EEA;
}

.personal-grp{
    padding-left: 4px;
    padding-bottom: 5px;
}

.pg-over{
    max-height: 240px;
    overflow-y: auto;
    overflow-x: hidden;
}

.pg-over-grp{
    max-height: 240px;
    overflow-y: auto;
    overflow-x: hidden;
}

.g-pan-scroll > ul.nav
{
    overflow-y: hidden !important;
}

.bb-sidenav-scroll > ul.nav {
    overflow-y: hidden !important;
}

.ctruncate {
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


}
.bb-truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.bb-truncate-nowrap {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
td .bb-truncate{
    max-width: 200px;
    white-space: nowrap;
    display: block;
}
.bb-truncate-vh {
    width: 135px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bb-sidenav-scroll md-card.selected {
    background-color: rgb(33, 150, 243);
    color: #FFF;
}

.bb-sidenav-scroll md-card.selected md-icon {
    color: #FFF;
}

.mcheckbx{
    vertical-align: middle;
    position: relative;
    bottom: 9px;
    right: 2px;
}

.pg-over > li {
    /*padding: 5px 10px !important;*/
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #EBEBEB !important;
    font-size: 12px;
    list-style: outside none none;
    padding: 0;
}

.pg-over > li:hover , .pg-over > li a:hover , .pg-over-grp > li:hover {
    text-decoration: none;
    background: #EEE;
}

.pg-over-grp > li {
    padding: 5px 10px !important;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #EBEBEB !important;
    font-size: 12px;
    list-style: outside none none;
    /*padding: 0;*/
}


.form-group-n
{
    margin-top: 10px;
}

.nhead{
    margin-left: 30px;
}

.nline{
    margin-top: 10px;
    margin-bottom: 15px;
    border-color: rgb(210, 199, 199);
}

.contact-bg
{
    background : #F7F7F7 !important;
}

.bb-contact-bg {
    background: #F7F7F7 !important;
}


.bb-profimg-fix {
    height: 150px;
    width: 150px !important;
    object-fit: cover;
    -o-object-fit: cover;
}

.txt-fix{
    margin-bottom: 10px;
}


.bb-btn-save {

    border:2px solid #299e26;
    font-weight: 900;
    font-size: 14px;
    width: 100%;
    color: #299e26;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

}

.btn-cancel {
    background-color: #8F8C8C;
    border-color: #8F8C8C;
    font-weight: 900;
    font-size: 16px;
    width: 100%;
    color: #FFF;
}


.bb-layer {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.59);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.allc{
    font-size: 18px;
    font-weight: 500;
    color: rgb(63, 63, 64);
    margin-left: 10px;
}

.bb-cam {
    margin-top: 48%;
    font-size: 18px;
    color: #FFF;
}

.bb-m-bot15 {
    margin-bottom: 15px;
}

.m-bot15 {
    margin-bottom: 15px;
}

.m-bot10 {
    margin-bottom: 10px;
}

.m-bot5 {
    margin-bottom: 5px;
}

.bb-nlabel {

    /*padding: 1.5% 10%;*/
    border-radius: 5px;
    font-size: 14px;
    min-width: 227px;
    /*text-align: center;*/
    font-weight: 500;
    background: #FFF;
    color: #AE2C2C;

}

.npadj{
    padding-top: 5px;
}



.closeButton
{
    display:block;
    position:absolute;
    top:-10px;
    right:-10px;
    width:27px;
    height:27px;
    /*background: url('../../../modules/core/img/icons/close-button.png') no-repeat center center;*/
    color:#359EEA;
}

.nvipani-img{
    width: 40px;
    height: 40px;
}

.nvipani-user {
    width: 100%;
}

.pfont{
    font-size: 14px !important;
}


.alert {
    padding: 15px;
    margin-bottom: 0;
}

.breadcrumb {
    padding: 8px 20px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #fefefe;
    border-radius: 4px;
    font-size: 16px;
}

.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.col-fix{
    padding: 10px 60px 20px;
}

.c-min{
    min-width: 180px;
}

.disablec{
    color : #969696;

}

.bb-cursor {
    cursor: pointer;
}

.nav > li {
    position: static !important;
    display: block;
}

.disable-img {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.61);
    position: absolute;
    top: 0;
    left: 15px;
    width: 14%;
    height: 99%;
    text-align: center;
    border-radius: 50%;
}

.breadcrumb-adj{
    padding-left: 5px;
    font-size: 14px;
    text-decoration: none !important;
}

.form-group-nn {
    margin-top: 60px;
}

.dropdwn{

    left: 400px !important;


}

.img-fixed{

    width: 40px !important;
    height: 40px;
}

.c-border{
    border: 2px solid rgb(201, 192, 192);
    border-radius: 5px;
}

.inactive{
    background: #F7F7F7 !important;
    color: rgb(150, 150, 150);
}

.hov{
    background: #359EEA !important;
    color: #FFFFFF;
}

.hov ul.con-menu > li > a, .hov ul.con-menu > li > a {
    color: #FFFFFF !important;

}

.roww {
    position: relative;
}

.hover-btn {


    display: none;
}

.roww:hover .hover-btn {
    display: block;
}

.wid-100{
    width:100% !important;
}



.contact-menu-icon .dropdown-menu {
    right: 0;
    left: auto;
}

.contact-icon-color .dropdown-menu {
    right: 10%;
    left: auto;
}

.addbtn {
    padding: 0 5px;
    background-color: #359EEA;
    border-color: #359EEA;

    font-weight: 800;
    margin-left: 10px;
    background-image: inherit;
}

.addbtn:hover, .addbtn:focus {
    border-color: #B4B4B4;
    background-color: #FFFFFF;
    color:#359EEA !important;

}

.faa{

    margin-right: 0 !important;
}

.faa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.faa:hover, .faa:focus {
    color:#359EEA !important;
}

.bb-resize {
    resize: none;
}

.p-h{
    height : auto !important;
}

.btn-blue-p {
    background-image: -moz-linear-gradient(#359EEA, #359EEA);
    background-image: -webkit-linear-gradient(top, #359EEA 0%, #359EEA 100%);
    background-image: -o-linear-gradient(top, #359EEA 0%, #359EEA 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#359EEA), to(#359EEA));
    background-image: linear-gradient(to bottom, #359EEA 0%, #359EEA 100%);
    background-repeat: repeat-x;
    border-color: #359EEA;
    color: #FFFFFF;
}

.bb-f-15 {
    font-size: 14px;
}

.offer-icon{
    height:22px;
    width:17px;
}

.center{
    margin: auto;
    display: table;
}

.bb-center {
    margin: auto;
    display: table;
}

.panel-blue {
    border-color: #359EEA;
}

.panel-blue > .panel-heading {
    color: #fff;
    background-color: #359EEA;
    border-color: #359EEA;
}

.bb-checkbox-custom {
    opacity: 0;
    position: absolute;
}

.bb-checkbox-custom, .bb-checkbox-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.bb-checkbox-custom-label {
    position: relative;
}

.bb-checkbox-custom + .bb-checkbox-custom-label:before {
    content: '';
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #909090;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    text-align: center;
    position: absolute;
    right: 1px;
}

.bb-checkbox-custom:checked + .bb-checkbox-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #299e26;
    border-color: #299e26;
    font-size: 13px;
    line-height: 18px;

}


.btn-blue {
    background-image: -moz-linear-gradient(#359EEA, #359EEA); /* FF 3.6+ */
    background-image: -webkit-linear-gradient(top, #359EEA 0%, #359EEA 100%);
    background-image: -o-linear-gradient(top, #359EEA 0%, #359EEA 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#359EEA), to(#359EEA));
    background-image: linear-gradient(to bottom, #359EEA 0%, #359EEA 100%);

    background-repeat: repeat-x;
    border-color: #359EEA;
    color:#FFFFFF;
}

.user-info{
    max-width: 130px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    vertical-align: top;

    position: relative;
    /*top: 7px;*/
    padding: 22px 0;
}

.ace-icon {
    display: inline-block;
    font-size: 12px;
    color: #FFF;
    text-align: center;
    width: 9px;
    padding: 28px 25px 27px 0;
}

.ava{
    padding: 22px 2px 22px 9px;
}

.logo-box li a:hover{
    text-decoration: none;
}

.pad a:hover{
    text-decoration: none;
}


.m-top15{
    margin-top: 15px;
}

.bb-m-top15 {
    margin-top: 15px;
}

.hideload{
    display: none !important;
}

.limit{
    max-width: 130px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.bg-white{
    background: #FFFFFF;
}

.m-bot250{
    margin-bottom: 250px;
}

.bb-ctruncate {
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Contacts*/
.nvc-bottom-tag{
    background: #299e26;
    color: #fff;
    min-height: 25px;
}
.nvc-bottom-tag .bb-btn-file{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.nvc-bottom-tag a{
    color: #fff;
}


/* Small devices (tablets, 768px and up) */
@media (max-width: 500px) {
    .toggleViewButton{
        display: none;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .add-button{
        display: block;
    }

    .details-view{
        /*background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #c6ffc6 0%, #f2fff2 51%, #c6ffc6 100%) repeat scroll 0 0;*/
        overflow-y: auto;
        padding: 0;
        width: 70%;
        min-height: 50%;

    }

    .scroll-list{
        min-height:40%;
        overflow:hidden;
        overflow-y:auto;
        max-height:70%;
    }

    .list-group-item-heading {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    i{
        display:inline-block;
    }
    .clearboth{
        clear:both;
    }

    .bb-clearboth {
        clear: both;
    }

    .contactView{
        /*         background-color: #e0e0e0;*/
        float: left;
        margin-right: 5px;
        overflow-y: auto;
        width: 30%;
        min-height:50%;
    }.maincontactView{
         width:100%;
         height:100%;
     }

    .label-item{
        font-weight: bold;
    }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .ctcgroup-list{
        display: block;
    }
}
@media (max-width: 500px) {
    .ctcgroup-list{
        display: block;
    }
}

.md-whiteframe-1dp, .md-whiteframe-z1 {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}
/*.ng-invalid.ng-dirty:focus, .ng-invalid.ng-pristine:focus {
    outline: 0;
    webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(205, 10, 10, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(205, 10, 10, 0.6);
}*/
select.ng-invalid.ng-dirty, select.ng-invalid.ng-pristine {
    color: #555;
}
