<section data-ng-controller="NotificationsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1 data-ng-bind="notification.name"></h1>
    </div>
    <div class="pull-right"
         data-ng-show="((authentication.user) && (authentication.user._id == notification.user._id))">
        <a class="btn btn-primary" href="/notifications/{{notification._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <small>
        <em class="text-muted">
            Posted on
            <span data-ng-bind="notification.created | date:'mediumDate'"></span>
            by
            <span data-ng-bind="notification.user.displayName"></span>
        </em>
    </small>
</section>
