<form name="addBusinessUnitForm" ng-submit="addBUnit()" class="nvc-slider-form">
    <div class="nvc-form-content">
        <div layout="row" layout-align="center center" class="nvc-sticky-top">
            <md-button class="md-icon-button md-mini" ng-click="cancel()" id="closeAddBunit" aria-label="close dialog"><md-icon class="fa fa-times fa-lg"></md-button>
            <h4 flex class="nv-text-center nv-text-bold">Add Business Unit</h4>
            <md-button class="md-icon-button md-mini" id="refreshAddBunit" ng-click="resetBusinessUnitForm(addBusinessUnitForm)" type="reset" aria-label="reset form"><md-icon class="fa fa-repeat fa-lg"></md-icon></md-button>
        </div>
    <div>
        <div class="nvc-create-head" id="createStep-1">
            <div class="nvc-create-head-tag">1</div>
            <div class="nvc-create-head-content">
                <h5 class="md-primary nvc-primary-color">Add Basic Info</h5>
                <h6>Enter details about the Business Unit</h6>
            </div>
        </div>
        <div class="nvc-create-content">
            <div layout="row" layout-sm="row" layout-xs="row" layout-gt-lg="row" layout-padding layout-wrap>
                <div flex="50" flex-sm="50" flex-xs="50" flex-gt-lg="50">
                    <md-input-container class="md-block bb-wid-100 nvc-margin-bottom-20">
                        <label>Incharge</label>
                        <md-select name="incharge" id="addBunitIncharge"  ng-model="businessUnit.businessUnitIncharge" md-on-open="findInchargeUsers()">
                            <!--  <md-option data-ng-value="value1">Some 1</md-option>
                              <md-option data-ng-value="value2">Some 2</md-option>-->

                            <md-option ng-repeat="item in inchargeUsers.employees" id="{{item.user.username}}" ng-value="item.user._id">{{item.user.username}}</md-option>
                        </md-select>

                    </md-input-container>
                </div>
                <div flex="50" flex-sm="50" flex-xs="50" flex-gt-lg="50">
                    <md-input-container class="md-block bb-wid-100">
                        <label>Business Unit Name</label>
                        <input  ng-model="businessUnit.name" name="name" required>
                    </md-input-container>
                </div>
                <div flex="50" flex-sm="50" flex-xs="50" flex-gt-lg="50">
                    <md-input-container class="md-block bb-wid-100 nvc-margin-bottom-0">
                        <label>GSTIN No</label>
                        <input  ng-model="businessUnit.gstinNumber" name="name" nv-regulation-exp="gstin">
                    </md-input-container>
                </div>
                <div flex="50" flex-sm="50" flex-xs="50" flex-gt-lg="50">
                    <md-input-container class="md-block bb-wid-100 nvc-margin-bottom-0">
                        <label>PAN No</label>
                        <input  ng-model="businessUnit.panNumber" name="name" nv-regulation-exp="pan">
                    </md-input-container>
                </div>
                <div flex="50" flex-sm="50" flex-xs="50" flex-gt-lg="50">
                    <h6 class="nvc-margin-top-0">GSTIN Proof</h6>
                    <div flex="100" layout="row" layout-align="space-around center" class="nvc-bottom-tag" id="addBunitGstinProof">
                                <span class="bb-btn-file bb-cursor">
                                    <input type="file" ng-model="businessUnit.gstinNumberProof" uploadpathkey='businessprofile'  uploader="uploader" />
                                    <span ng-if="!businessUnit.gstinNumberProof" class="fa fa-link "></span>&nbsp;&nbsp;Add
                                    </span>
                        <span ng-if="businessUnit.gstinNumberProof"><a href="{{businessUnit.gstinNumberProof}}" target="_blank" ><span class="fa fa-eye"></span></a></span>
                        <span ng-if="businessUnit.gstinNumberProof"><a href="{{businessUnit.gstinNumberProof}}" download><span class="fa fa-download"></span></a></span>
                    </div>
                </div>
                <div flex="50" flex-sm="50" flex-xs="50" flex-gt-lg="50">
                    <h6 class="nvc-margin-top-0">PAN Proof</h6>
                    <div flex="100" layout="row" layout-align="space-around center" class="nvc-bottom-tag" id="addBunitPanProof">
                                <span class="bb-btn-file bb-cursor">
                                    <input type="file" ng-model="businessUnit.panNumberProof" uploadpathkey='businessprofile'  uploader="uploader" />
                                    <span ng-if="!businessUnit.panNumberProof" class="fa fa-link "></span>&nbsp;&nbsp;Add
                                    </span>
                        <span ng-if="businessUnit.panNumberProof"><a href="{{businessUnit.panNumberProof}}" target="_blank" ><span class="fa fa-eye"></span></a></span>
                        <span ng-if="businessUnit.panNumberProof"><a href="{{businessUnit.panNumberProof}}" download><span class="fa fa-download"></span></a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="nvc-create-head" ng-click="show2 = !show2" id="createStep-2">
            <div class="nvc-create-head-tag" >2</div>
            <div class="nvc-create-head-content">
                <h5 class="md-primary nvc-primary-color">Add phones & emails</h5>
                <h6>Enter all Phone No. &amp; email Id.</h6>
            </div>
        </div>
        <div class="nvc-create-content nvc-landing-offers-tabs" ng-show="show2" id="addBunitPhoneNumberTab">
            <md-tabs md-dynamic-height>
                <md-tab label="Phones">
                    <md-content>
                        <div layout-wrap layout="row" layout-sm="row" layout-xs="row" layout-padding layout-align="center center"
                             ng-repeat="phone in businessUnit.phones track by $index" id="addBunitphone-{{$index}}">
                            <div flex="5" class="nvc-padding-left-0">
                                <md-icon ng-show="$index>0" class="fa fa-minus-circle fa-2x nv-red" aria-label="favourite" ng-click="businessUnit.phones.splice($index, 1)">
                                    <md-tooltip>Remove Phone</md-tooltip>
                                </md-icon>
                                <md-icon ng-show="$index===0" class="md-primary fa fa-plus-circle fa-2x" aria-label="favourite" ng-click="addPhone(businessUnit.phones)">
                                    <md-tooltip md-direction="bottom" >Add Phone</md-tooltip>
                                </md-icon>
                            </div>
                            <div flex="95" layout="row">
                                <div flex="30">
                                    <md-input-container class="md-block b-wid-100">
                                        <md-select ng-model="phone.phoneType" aria-label="phoneType" id="addBunitPhoneType">
                                            <md-option ng-repeat="item in phoneTypes" id="addBunitPhone-{{item}}">{{item}}</md-option>

                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div flex="70">
                                    <md-input-container class="md-block bb-wid-100">
                                        <label>Phone Number</label>
                                        <input data-ng-model="phone.phoneNumber" id="addBunitPhoneNumber-{{$index}}"  ng-required="isOneContactRequired();" name="phoneNumber" nv-regulation-exp="phonenumber">
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Emails">
                    <md-content >
                        <div layout="row" layout-wrap layout-padding layout-align="center center" id="addBunitEmail-{{$index}}"
                             ng-repeat="email in businessUnit.emails  track by $index" data-ng-form="emailForm">
                            <div flex="5" >
                                <md-icon ng-show="$index>0" class="fa fa-minus-circle fa-2x nv-red" aria-label="favourite" ng-click="emails.splice($index, 1)">
                                    <md-tooltip>Remove Email</md-tooltip>
                                </md-icon>
                                <md-icon ng-show="$index===0" class="md-primary fa fa-plus-circle fa-2x" aria-label="favourite" ng-click="addEmail(emails)">
                                    <md-tooltip  md-direction="bottom" >Add Email</md-tooltip>
                                </md-icon>
                            </div>
                            <div flex="95" layout="row">
                                <div flex="30">
                                    <md-input-container class="md-block bb-wid-100">
                                        <md-select ng-model="email.emailType" aria-label="emailType" id="addBunitEmailType">
                                            <md-option ng-repeat="item in emailTypes" id="addBunitType-{{item}}">{{item}}</md-option>

                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div flex="70">
                                    <md-input-container class="md-block bb-wid-100">
                                        <label>E-mail</label>
                                        <input ng-model="email.email" id="addBunitPhoneEmail-{{$index}}" name="email" nv-regulation-exp="mail1">

                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
        <div class="nvc-create-head" ng-click="show3 = !show3" id="createStep-3">
            <div class="nvc-create-head-tag">3</div>
            <div class="nvc-create-head-content">
                <h5 class="md-primary" >Add Address Details</h5>
                <h6>Enter all Billing, Shipping, Invoicing, &amp; Receiving Addresses</h6>
            </div>
        </div>
        <div class="nvc-create-content nvc-landing-offers-tabs" ng-show="show3">
            <add-addresses addresstypes="addressTypes" addresses="businessUnit.addresses" add-address="addAddress(addresses,tab)"></add-addresses>
           <!-- <md-tabs md-dynamic-height  class="nvc-padding-left-10">
                <md-tab ng-repeat="tab in addressTypes" label="{{tab}}">
                    <md-content class="nvc-padding-left-0" layout-padding>
                        <div flex="100" layout="row" class="layout-align-start-center nvc-padding-left-0">
                                <span class="md-primary fa fa-plus-circle fa-2x nvc-primary-color" aria-label="favourite" id="addBunitAddAddresses-{{$index}}" ng-click="addAddress(businessUnit.addresses,tab)">
                                    <md-tooltip>Add Address</md-tooltip>
                                </span>
                            <h6 class="nvc-padding-left-10">Add Address</h6>
                        </div>
                        <div ng-repeat="address in businessUnit.addresses | filter:{addressType: tab}" id="addBunitAddress-{{$index}}">
                            <div flex="100"  ng-show="$index>0" layout="row" class="layout-align-start-center">
                                <span class="fa fa-minus-circle fa-2x nv-red " aria-label="favourite" ng-click="businessUnit.addresses.splice(businessUnit.addresses.indexOf(address), 1)">
                                    <md-tooltip>Remove Address</md-tooltip>
                                </span>
                                <h6 class="nvc-padding-left-10">Address - {{$index}}</h6>
                            </div>
                            <div flex="95" layout="row" layout-wrap layout-padding>
                                <div flex="100">
                                    <md-input-container class="md-block bb-wid-100">
                                        <label>Address Line</label>
                                        <input ng-model="address.addressLine"
                                               name="addressLine">

                                    </md-input-container>
                                </div>
                                <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                                    <md-input-container class="md-block">
                                        <label>City</label>
                                        <input ng-model="address.city" name="city">

                                    </md-input-container>
                                </div>

                                <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                                    <md-input-container class="md-block">
                                        <label>State</label>
                                        <input ng-model="address.state" name="state">

                                    </md-input-container>
                                </div>

                                <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                                    <md-input-container class="md-block">
                                        <label>Country</label>
                                        <input ng-model="address.country"
                                               name="country">

                                    </md-input-container>
                                </div>

                                <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                                    <md-input-container class="md-block">
                                        <label>Pin Code</label>
                                        <input ng-model="address.pinCode" id="pinCode"
                                               name="pinCode" ng-minlength="6" ng-maxlength="6" only-digits>

                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>-->
        </div>
        <div class="nvc-create-head" ng-click="show4 = !show4" id="createStep-4">
            <div class="nvc-create-head-tag">4</div>
            <div class="nvc-create-head-content">
                <h5 class="md-primary" >Add Bank Details</h5>
                <h6>Enter Bank Information</h6>
            </div>
        </div>
        <div class="nvc-create-content nvc-landing-offers-tabs layout-padding" layout-align="space-around center" layout-wrap
             layout="row" layout-sm="row" layout-xs="row" layout-gt-lg="row" ng-show="show4">
            <div flex="50" flex-xs="50" flex-sm="50" flex-gt-lg="50">
                <md-input-container class="md-block bb-wid-100 nvc-margin-top-20">
                    <label>Account No</label>
                    <input  ng-model="businessUnit.bankAccountDetails.bankAccountNumber" name="name">
                </md-input-container>
            </div>
            <div flex="50" flex-xs="50" flex-sm="50" flex-gt-lg="50">
                <md-input-container class="md-primary bb-wid-100 nvc-margin-bottom-20" md-no-float>
                    <md-select ng-model="businessUnit.bankAccountDetails.accountType" name="acType" aria-label="acType"
                               placeholder="Bank Ac Type">
                        <md-option  value="Current" id="addBunitCurrent">
                            <span>Current</span>
                        </md-option>
                        <md-option  value="Saving" id="addBunitSaving">
                            <span>Saving</span>
                        </md-option>
                    </md-select>
                    <div ng-messages="editBusinessUserForm.userGroup.$error">
                        <div ng-message="required">User Role is required</div>
                    </div>
                </md-input-container>
            </div>
            <div flex="50" flex-xs="50" flex-sm="50" flex-gt-lg="50">
                <md-input-container class="md-block bb-wid-100 nvc-margin-bottom-0">
                    <label>Bank name</label>
                    <input  ng-model="businessUnit.bankAccountDetails.bankName" name="name">
                </md-input-container>
            </div>
            <div flex="50" flex-xs="50" flex-sm="50" flex-gt-lg="50">
                <md-input-container class="md-block bb-wid-100 nvc-margin-bottom-0">
                    <label>IFSC code</label>
                    <input  ng-model="businessUnit.bankAccountDetails.ifscCode" name="name" nv-regulation-exp="ifsc">
                </md-input-container>
            </div>
        </div>
    </div>
    </div>
        <div layout="row" layout-wrap>

            <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                <div data-ng-show="success" class="text-center text-success">
                    <strong>Profile Saved Successfully</strong>
                </div>
                <div data-ng-show="error" class="text-center text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </div>
            <md-button type="submit" id="createBunit" class="nvc-accent-background nvc-primary-color nvc-padding-0 nvc-margin-0 md-background-accent" flex="100">Create</md-button>
        </div>

</form>
