
<form name="addBusinessUserForm" data-ng-submit="addUser()" class="nvc-slider-form">
    <div class="nvc-form-content">
        <div layout="row" layout-align="center center" class="nvc-sticky-top">
            <md-button class="md-icon-button md-mini" ng-click="cancel();resetBusinessUserForm()" id="close-add-business-user" aria-label="close dialog"><md-icon class="fa fa-times fa-lg"></md-button>
            <h4 flex class="nv-text-center nv-text-bold">Add Business User</h4>
            <md-button class="md-icon-button md-mini" ng-click="resetBusinessUserForm(addBusinessUserForm)" id="resetUserForm" type="reset" aria-label="reset form"><md-icon class="fa fa-repeat fa-lg"></md-icon></md-button>
        </div>
    <div>
        <div class="nvc-create-head">
            <div class="nvc-create-head-tag">1</div>
            <div class="nvc-create-head-content">
                <h4 class="md-primary nvc-primary-color">Add Basic Info</h4>
                <h6>Enter details about the Business User</h6>
            </div>
        </div>
        <div class="nvc-create-content">
            <div layout="row" layout-sm="row" layout-xs="row" layout-gt-lg="row"  layout-padding layout-wrap>
                <div flex="40" flex-sm="40" flex-xs="40" flex-gt-lg="40">
                    <md-input-container class="bb-wid-100">
                        <label>User Group</label>
                        <md-select ng-model="businessUser.userGroup" name="userGroup" ng-required="true"  md-on-open="findUserGroups()" aria-label="Business User Group">
                            <md-option  ng-repeat="item in userGroups track by $id(item)"  ng-value="item._id" id="{{item.name}}">
                                <span ng-class="item._id===-1?'fa fa-plus nv-select-new-label':''"></span>
                                <span>{{(item.name)}}</span>
                            </md-option>
                        </md-select>
                        <div ng-messages="addBusinessUserForm.userGroup.$error">
                            <div ng-message="required">User Group is required</div>
                        </div>
                    </md-input-container>
                </div>
                <div flex="50" flex-sm="50" flex-xs="50" flex-gt-lg="50">
                    <md-input-container class="md-block">
                        <label>E-mail</label>
                        <input ng-model="businessUser.username" nv-regulation-exp="mail1" required>
                    </md-input-container>
                </div>
                <!--<div flex="40" flex-sm="40" flex-xs="40">
                    <h6 class="nvc-margin-top-0">Digital signature</h6>
                    <div flex="100" layout="row" layout-align="space-around center" class="nvc-bottom-tag" id="digital-signature">
                        <span class="bb-btn-file bb-cursor">
                            <input type="file" ng-model="businessUser.digitalSignature" uploadpathkey='businessprofile'  uploader="uploader" />
                            <span ng-if="!businessUser.digitalSignature" class="fa fa-link "></span>&nbsp;&nbsp;Add
                        </span>
                        <span ng-if="businessUser.digitalSignature"><a href="{{businessUser.digitalSignature}}" target="_blank" ><span class="fa fa-eye"></span></a></span>
                        <span ng-if="businessUser.digitalSignature"><a href="{{businessUser.digitalSignature}}" download><span class="fa fa-download"></span></a></span>
                    </div>
                </div>-->

                <div flex="80" >
                    <h5><span class="nv-text-bold">Note: </span>A notification will be sent to the Email for activation </h5>
                </div>

            </div>
        </div>
    </div>
    </div>
    <div layout="row" layout-wrap>

        <div flex="100" flex-xs="100" flex-sm="10" flex-gt-lg="100">
            <div data-ng-show="success" class="text-center text-success">
                <strong>{{success}}</strong>
            </div>
            <div data-ng-show="error" class="text-center text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </div>
        <md-button type="submit" id="create-business-user" class="nvc-accent-background nvc-primary-color nvc-padding-0 nvc-margin-0 md-background-accent" flex="100"
                   ng-disabled="addBusinessUserForm.$invalid">Create
        </md-button>
    </div>
</form>
