<div data-ng-controller="CompaniesController" data-ng-init="getEmployeeDetails();">
    <div ng-show="!authentication.user" class="nvc-signup-background nvc-height-100" flex="100" layout="row" layout-sm="row" layout-xs="row" layout-gt-lg="row" layout-align="start center">
        <div flex="65" flex-sm="65" flex-xs="65" flex-gt-lg="65" class="md-padding">
            <h3 class="nvc-primary-color"><span><img src="modules/core/img/brand/nvc-email-orders.jpg" flex="30"></span>Turn the way you trade</h3>
            <h5 class="md-padding">Supply Chain Management Solution to stock, showcase, sell</h5>
        </div>
        <div flex="25" flex-sm="25" flex-xs="25" flex-gt-lg="25" class="nvc-signup-box">
            <div layout="column" class="layout-padding">
                <div class=" bb-layout-padding bb-login nv-text-center">
                    <form class="bb-wid-100" name="userActivateForm" data-ng-submit="businessUserActivation()" autocomplete="off" >
                        <div flex>
                            <h3 class="nv-text-bold nv-text-center"> Join Now </h3>
                        </div>

                        <div flex>
                            <span>with<h4 class="nv-text-bold">{{employeeCompanyName}}</h4> </span>
                        </div>
                         <div flex class="bb-m-top40"></div>
                        <div flex>
                            <md-input-container md-no-float class="md-block nvc-margin-bottom-0">
                                <input ng-model="credentials.username" class="nv-text-center" nv-regulation-exp="mail" placeholder="Email" readonly>
                            </md-input-container>
                        </div>
                        <div flex >
                            <md-input-container md-no-float class="md-block nvc-margin-top-0">
                                <input ng-model="credentials.password" name ="pwd" type="password" nv-type="businessuserpassword"
                                       ng-minlength="8" ng-maxlength="20" class="nv-text-center" placeholder="Password" required>
                            </md-input-container>
                        </div>
                        <div flex class="nv-text-center">
                            <md-button class="md-primary md-raised nvc-shape-pill nvc-primary-100-background" type="submit"  id="activate">Activate</md-button>
                        </div>
                        <div data-ng-show="error" class="text-center text-danger">
                            <div class="md-subhead" data-ng-bind="error"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <register class="bb-wid-100" ng-if="authentication.user"></register>
    <!--<div ng-show="$scope.isRejectPage">

    </div>
    <div ng-show="$scope.isAcceptSuccessPage">

    </div>
    <div ng-show="$scope.isLogoutRequire">

    </div>-->

</div>
