<form name="editBusinessUnitForm" class="nvc-slider-form" >
    <div class="nvc-form-content">
    <div layout="row" layout-align="center center" class="nvc-sticky-top">
        <md-button class="md-icon-button md-mini" id="closeeditbusinessunit"  ng-click="toggleEdit=true;closeAddUnitUser();cancel()" aria-label="close dialog"><md-icon class="fa fa-times fa-lg"></md-button>
        <h4 flex class="nv-text-center nv-text-bold">Business Unit Details</h4>
        <md-button class="md-icon-button md-mini" ng-click="updateBusinessUnit(businessUnit,4);cancel()" aria-label="delete business unit"
                   ng-show="toggleEdit && !isDefaultBusinessUnit && (userRole==='Admin')">
            <md-icon class="fa fa-trash text-danger fa-lg">
        </md-button>
        <md-button class="nvc-rfloat md-icon-button" aria-label="edit button" id="business-unit-edit-icon" ng-click="closeAddUnitUser();toggleEdit = !toggleEdit"
                   ng-show="userRole === 'Admin' || userRole=== 'Manager'">
            <md-icon class="fa fa-lg nvc-primary-color" ng-class="toggleEdit?'fa-check':'fa-pencil'"ng-click="getEachBusinessUnitStatus(businessUnit)"></md-icon>
        </md-button>
    </div>
    <div class="nvc-clear-both nvc-product-detail layout-padding layout-align-center-center"
         layout="row" layout-xs="row" layout-sm="row" layout-gt-lg="row" layout-wrap layout-align="space-around center">
        <div flex="30" flex-gt-lg="30" flex-sm="30" flex-xs="30" ng-show="(!toggleEdit) || (userRole==='Employee')">
            <h6>Name</h6>
            <label class="bb-truncate">{{businessUnit.name}}</label>
        </div>
        <div flex="30" flex-gt-lg="30" flex-sm="30" flex-xs="30" ng-show="toggleEdit && (userRole === 'Admin' || userRole=== 'Manager')" class="nvc-margin-bottom-0">
            <md-input-container class="md-block bb-wid-100 nvc-margin-bottom-0">
            <label>Name</label>
            <input  ng-model="businessUnit.name" name="name" required>
            </md-input-container>
        </div>
        <div flex="30" flex-gt-lg="30" flex-sm="30" flex-xs="30">
            <h6>Incharge</h6>
            <label class="bb-truncate" id="editBunitInchargeName">{{getBusinessUnitIncharge(businessUnit._id)}}</label>
        </div>
        <!--<div flex="40" flex-gt-lg="40" flex-sm="40" flex-xs="40" ng-show="false" class="nvc-margin-0">
            <md-input-container class="bb-wid-100 nvc-margin-0" md-no-float>
                <label>Incharge</label>
                <md-select name="incharge"  ng-model="businessUnit.businessUnitIncharge" md-on-open="findInchargeUsers()">
                    <md-option ng-repeat="item in inchargeUsers.employees" ng-value="item.user._id">{{item.user.username}}</md-option>
                </md-select>

            </md-input-container>
        </div>-->
        <div flex="30" flex-xs="30" flex-sm="30" flex-gt-lg="30" ng-show="!toggleEdit || isDefaultBusinessUnit || userRole === 'Employee'">
            <h6>Status</h6>
            <label class="bb-truncate">{{businessUnit.disabled ? 'Disabled':'Active'}}</label>
        </div>
        <div flex="30" flex-sm="30" flex-xs="30" flex-gt-lg="30" ng-show="toggleEdit && !isDefaultBusinessUnit && (userRole === 'Admin' || userRole=== 'Manager')">
            <md-input-container class="bb-wid-100 nvc-margin-top-0" md-no-float >
                <md-switch ng-model="businessUnit.toggle" class="md-primary"  name="status" aria-label="businessUserStatus"
                           ng-change="updateBusinessUnit(businessUnit,businessUnit.toggle ? 2:3)">
                    {{businessUnit.toggle ? 'Active':'Inactive'}}
                </md-switch>
            </md-input-container>
        </div>
    </div>
        <div id="editBunitTabs">
            <md-tabs md-dynamic-height md-border-bottom class="frm-inpt-mrgn-btm-0 nvc-content" >
            <md-tab label="Basic Info" ng-init="editBsedOnUserRole(businessUnit)">
                <md-content class="layout-padding nvc-landing-offers-tabs">
                    <h5 class="nv-text-bold">Credentials:</h5>
                    <div class="layout-padding nvc-margin-10 nvc-padding-10" layout="row" layout-sm="row" layout-xs="row" layout-gt-lg="row" layout-wrap>
                        <div flex="50" flex-xs="50" flex-sm="50" flex-gt-lg="50">
                            <md-input-container class="md-block bb-wid-100 nvc-margin-bottom-0">
                                <label>GSTIN No</label>
                                <input  ng-model="businessUnit.gstinNumber" id="editBunitGstinNo" name="name" nv-regulation-exp="gstin">
                            </md-input-container>
                        </div>
                        <div flex="50" flex-xs="50" flex-sm="50" flex-gt-lg="50">
                            <md-input-container class="md-block bb-wid-100 nvc-margin-bottom-0">
                                <label>PAN No</label>
                                <input  ng-model="businessUnit.panNumber" id="editBunitPanNo" name="name" nv-regulation-exp="pan">
                            </md-input-container>
                        </div>
                        <div flex="50" flex-sm="50" flex-xs="50">
                            <h6 class="nvc-margin-top-0">GSTIN Proof</h6>
                            <div flex="100" layout="row" layout-align="space-around center" class="nvc-bottom-tag" id="editBunitGstinproof">
                                <span class="bb-btn-file bb-cursor">
                                    <input type="file" ng-model="businessUnit.gstinNumberProof" uploadpathkey='businessprofile' ng-show="(userRole=== 'Admin' || userRole==='Manager')" uploader="uploader" />
                                    <span ng-if="!businessUnit.gstinNumberProof" class="fa fa-link "></span>&nbsp;&nbsp;Add
                                    </span>
                                <span ng-if="businessUnit.gstinNumberProof"><a href="{{businessUnit.gstinNumberProof}}" target="_blank" ><span class="fa fa-eye"></span></a></span>
                                <span ng-if="businessUnit.gstinNumberProof"><a href="{{businessUnit.gstinNumberProof}}" download><span class="fa fa-download"></span></a></span>
                            </div>
                        </div>
                        <div flex="50" flex-sm="50" flex-xs="50">
                            <h6 class="nvc-margin-top-0">PAN Proof</h6>
                            <div flex="100" layout="row" layout-align="space-around center"  class="nvc-bottom-tag" id="editBunitPannoproof">
                                <span class="bb-btn-file bb-cursor">
                                    <input type="file" ng-model="businessUnit.panNumberProof" uploadpathkey='businessprofile' ng-show="(userRole=== 'Admin' || userRole==='Manager')" uploader="uploader" />
                                    <span ng-if="!businessUnit.panNumberProof" class="fa fa-link "></span>&nbsp;&nbsp;Add
                                    </span>
                                <span ng-if="businessUnit.panNumberProof"><a href="{{businessUnit.panNumberProof}}" target="_blank" ><span class="fa fa-eye"></span></a></span>
                                <span ng-if="businessUnit.panNumberProof"><a href="{{businessUnit.panNumberProof}}" download><span class="fa fa-download"></span></a></span>
                            </div>
                        </div>

                    </div>
                    <h5 class="nv-text-bold">Phones & emails:</h5>
                    <div class="nvc-margin-10 nvc-padding-10" id="editBunitEmailTab">
                        <md-tabs md-dynamic-height md-border-bottom flex="100">
                            <md-tab label="Phone ( {{businessUnit.phones.length}} )">
                                <md-content>
                                    <div flex="100" layout="row" ng-show="(userRole=== 'Admin' || userRole==='Manager')" class="layout-align-start-center nvc-padding-left-0">
                                    <span class="md-primary fa fa-plus-circle fa-2x nvc-primary-color"  id="editBunitAddPhones" aria-label="favourite" ng-click="addPhone(businessUnit.phones)">
                                    </span>
                                        <h6 class="nvc-padding-left-10" >Add Phone</h6>
                                    </div>
                                    <div flex="100" layout-wrap layout="row" layout-sm="row" layout-xs="row" layout-align="center center"
                                         ng-repeat="phone in businessUnit.phones  track by $id(phone)" data-ng-form="phoneForm" ng-show="businessUnit.phones.length>0">
                                        <div flex="5" ng-show="(userRole=== 'Admin' || userRole==='Manager')">
                                            <md-icon ng-show="$index>0" class="fa fa-minus-circle fa-2x nv-red" aria-label="favourite" ng-click="businessUnit.phones.splice($index, 1)">
                                                <md-tooltip>Remove Phone</md-tooltip>
                                            </md-icon>

                                        </div>
                                        <div flex="95" layout="row">
                                            <div flex="20">
                                                <md-input-container class="md-block b-wid-100">
                                                    <md-select ng-model="phone.phoneType" id="editBunitPhoneType-{{$index}}" aria-label="phoneType">
                                                        <md-option ng-repeat="item in phoneTypes" id="editBunitPhone-{{item}}">{{item}}</md-option>

                                                    </md-select>
                                                </md-input-container>
                                            </div>
                                            <div flex="80">
                                                <md-input-container class="md-block bb-wid-100">
                                                    <label>Phone Number</label>
                                                    <input data-ng-model="phone.phoneNumber" id="editBunitPhoneNumber-{{$index}}"  ng-required="isOneContactRequired();" name="phoneNumber" nv-regulation-exp="phonenumber">

                                                </md-input-container>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                            <md-tab  label="E-mail ( {{businessUnit.emails.length}} )">
                                <md-content>
                                    <div flex="100" layout="row" ng-show="(userRole=== 'Admin' || userRole==='Manager')" class="layout-align-start-center nvc-padding-left-0">
                                    <span class="md-primary fa fa-plus-circle fa-2x nvc-primary-color" id="editBunitAddEmails" aria-label="favourite" ng-click="addEmail(businessUnit.emails)">
                                    </span>
                                        <h6 class="nvc-padding-left-10">Add Email</h6>
                                    </div>
                                    <div flex="100" layout-wrap layout="row" layout-sm="row" layout-xs="row" layout-align="center center"
                                         ng-repeat="email in businessUnit.emails  track by $id(email)" data-ng-form="emailForm" ng-show="businessUnit.emails.length>0">
                                        <div flex="5" ng-show="(userRole=== 'Admin' || userRole==='Manager')">
                                            <md-icon ng-show="$index>0" class="fa fa-minus-circle fa-2x nv-red" aria-label="favourite" ng-click="businessUnit.emails.splice($index, 1)">
                                                <md-tooltip>Remove Email</md-tooltip>
                                            </md-icon>
                                        </div>
                                        <div flex="95" layout="row">
                                            <div flex="20">
                                                <md-input-container class="md-block bb-wid-100">
                                                    <md-select ng-model="email.emailType" id="editBunitEmailType-{{$index}}" aria-label="emailType">
                                                        <md-option ng-repeat="item in emailTypes" id="editBunitEmail-{{item}}">{{item}}</md-option>

                                                    </md-select>
                                                </md-input-container>
                                            </div>
                                            <div flex="80">
                                                <md-input-container class="md-block bb-wid-100">
                                                    <label>E-mail</label>
                                                    <input  ng-model="email.email" id="editBunitEmail-{{$index}}" name="email" nv-regulation-exp="mail1">

                                                </md-input-container>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </div>
                    <h5 class="nv-text-bold">Address details:</h5>
                    <div class="nvc-margin-10 nvc-padding-10" id="editBunitAddressTab">
                        <add-addresses addresses="businessUnit.addresses" addresstypes="addressTypes" add-address="addAddress(addresses,tab)"></add-addresses>
                        <!--<md-tabs md-dynamic-height flex="100">
                            <md-tab ng-repeat="tab in addressTypes" label="{{tab}}">
                                <md-content layout="row" layout-wrap>
                                    <div flex="100" layout="row" ng-show="(userRole=== 'Admin' || userRole==='Manager')" class="layout-align-start-center nvc-padding-left-0">
                                    <span class="md-primary fa fa-plus-circle fa-2x nvc-primary-color"id="editBunitAddAddresses-{{$index}}" aria-label="favourite" ng-click="addAddress(businessUnit.addresses,tab)">
                                    </span>
                                        <h6 class="nvc-padding-left-10">Add Addresses</h6>
                                    </div>
                                    <div flex="100" layout="row" layout-wrap ng-repeat="address in businessUnit.addresses | filter:{addressType: tab}">
                                        <div flex="100" layout="row" class="layout-align-start-center nvc-padding-left-0" ng-show="$index>0">
                                        <span ng-show="$index>0 && (userRole=== 'Admin' || userRole==='Manager')" class=" fa fa-minus-circle fa-2x nv-red" aria-label="favourite" ng-click="businessUnit.addresses.splice(businessUnit.addresses.indexOf(address), 1)">
                                        </span>
                                            <h6 ng-show="$index>0" class="nvc-padding-left-10">Addresses - {{$index+1}}</h6>
                                        </div>
                                        <div flex="95" layout="row" layout-wrap layout-padding>
                                            <div flex="100">
                                                <md-input-container class="md-block bb-wid-100">
                                                    <label>Address Line</label>
                                                    <input ng-model="address.addressLine" id="editBunitAddressLine-{{$index}}"
                                                           name="addressLine">

                                                </md-input-container>
                                            </div>
                                            <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                                                <md-input-container class="md-block">
                                                    <label>City</label>
                                                    <input ng-model="address.city" id="editBunitCity-{{$index}}" name="city">

                                                </md-input-container>
                                            </div>

                                            <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                                                <md-input-container class="md-block">
                                                    <label>State</label>
                                                    <input ng-model="address.state" id="editBunitState-{{$index}}" name="state">

                                                </md-input-container>
                                            </div>

                                            <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                                                <md-input-container class="md-block">
                                                    <label>Country</label>
                                                    <input ng-model="address.country" id="editBunitCountry-{{$index}}"
                                                           name="country">

                                                </md-input-container>
                                            </div>

                                            <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                                                <md-input-container class="md-block">
                                                    <label>Pin Code</label>
                                                    <input ng-model="address.pinCode" id="editBunitPinCode-{{$index}}"
                                                           name="pinCode" ng-minlength="6" ng-maxlength="6" only-digits>

                                                </md-input-container>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                        </md-tabs>-->
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Business Users" ng-click="getBusinessUnitUsers(businessUnit._id)" >
                <md-content>
                    <div>
                        <div >
                            <div layout="row" layout-align="center center" class="nvc-margin-top-10 nvc-margin-bottom-10">
                                <div class="nvc-input-btngrp nv-position-relative" flex="30">
                                    <input placeholder="Search..." type="text" ng-model="searchBusinessUserText">
                                    <span>
                                <button class="nvc-input-button" type="button" ng-click="findBusinessUsersByCompany()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                                </div>
                                <div flex>

                                </div>

                                <div ng-show="toggleEdit && (getSelectedUnitEmployees().length>0) &&(userRole === 'Admin' || userRole === 'Manager')">
                                    <md-menu>
                                        <md-button ng-click="$mdOpenMenu($event)" class="md-primary md-raised nvc-shape-pill">
                                            Group Actions
                                            <span class="caret"></span>
                                        </md-button>
                                        <md-menu-content>
                                            <md-menu-item>
                                                <md-button md-auto-focus ng-click="unitEmployeeBatchOperations(businessUnit._id)">
                                                    <md-icon class="fa fa-trash"></md-icon>Delete
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>
                                <md-button class="md-primary md-raised nvc-shape-pill" ng-show="(!addUnitUser) && (userRole=== 'Admin' || userRole==='Manager')" aria-label="addUnitUsers" ng-click="openUnitBusinessUser(businessUnit._id,false)">New +</md-button>

                            </div>
                            <table class="nvc-content-table bb-wid-100" id="businessUnitBusinessUserTable">
                                <thead>
                                <tr>
                                    <td class="td-checkbox-width" ng-show="!isCriteria && (userRole=== 'Admin' || userRole==='Manager')">
                                        <nv-check-box  selectedlist="selectedList" orginallist="businessUnit.employees" sort-by="-created"></nv-check-box></td>
                                    <td hide-xs></td>
                                    <td>User Name</td>
                                    <td>User Group</td>
                                    <!--<td>Status</td>-->
                                    <!--<td>View</td>-->

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-show="addUnitUser">
                                    <td colspan="4">
                                        <div ng-show="addUnitUser && (!isNew) && (userRole=== 'Admin' || userRole==='Manager')" layout="row" layout-align="center center">
                                            <div>
                                                <md-button class="md-icon-button md-mini" ng-click="closeAddUnitUser()" aria-label="close dialog">
                                                    <md-icon class="fa fa-times fa-lg"></md-icon>
                                                </md-button>
                                            </div>
                                            <div  flex="80" flex-xs="80" flex-sm="80" flex-gt-lg="80" layout="row">
                                                <div class="nv-position-relative">
                                                    <md-button class="md-fab md-mini" aria-label="unitUserCount" ng-class="{'md-primary':selectedUsers.length>0}">
                                                        <md-icon class="fa fa-bars fa-lg"></md-icon>
                                                    </md-button>
                                                    <h5 class="nvc-sup-text" ng-show="selectedUsers.length>0">{{(selectedUsers.length>99)?'99+':selectedUsers.length}}</h5>
                                                </div>
                                                <div flex>
                                                    <md-chips class="nvc-chips" ng-model="selectedUsers" md-autocomplete-snap="" md-transform-chip="CompanyService.transformChip($chip)" md-require-match="autocompleteDemoRequireMatch">
                                                        <md-autocomplete md-selected-item="selectedContactItem" md-search-text="searchEmployeeText" md-items="item in CompanyService.querySearchBusinessUsers(selectedUser,searchEmployeeText)"
                                                                         md-item-text="item.user.username" placeholder="Search for Users">
                                                            <span md-highlight-text="searchEmployeeText">{{item.user.username ? item.user.username:item.user.displayName}}</span>
                                                            <md-not-found>
                                                                <div class="chip-not-found" ng-show="(userRole === 'Admin')" ng-click="openUnitBusinessUser(businessUnit._id,true)">Not found. Click here to add new.</div>
                                                                <div class="chip-not-found" ng-show="(userRole === 'Manager') || (userRole === 'Employee')">Not found.</div>

                                                            </md-not-found>
                                                        </md-autocomplete>
                                                        <md-chip-template>
                                            <span>
                                                <strong>{{$chip.user.username?$chip.user.username:$chip.user.displayname}}</strong>
                                            </span>
                                                        </md-chip-template>
                                                    </md-chips>
                                                </div>
                                            </div>
                                            <div flex="20" flex-xs="20" flex-sm="20" flex-gt-lg="20">
                                                <md-button class="md-primary nvc-shape-pill" ng-show="selectedUsers.length>0" aria-label="AddUser" ng-click="addMultipleUserToUnit(businessUnit._id)">
                                                    Add user
                                                </md-button>

                                            </div>
                                        </div>
                                        <div ng-show="addUnitUser && isNew && (userRole=== 'Admin')" layout="row" layout-align="center center">
                                            <div layout="row" class="nvc-sticky-top">
                                                <md-button class="md-icon-button md-mini" ng-click="closeAddUnitUser()" aria-label="closeDialog">
                                                    <md-icon class="fa fa-times fa-lg"></md-icon>
                                                </md-button>
                                            </div>
                                            <div>
                                                <div layout="row" layout-sm="row" layout-xs="row" layout-gt-lg="row"  layout-padding layout-wrap>
                                                    <div flex="40" flex-sm="40" flex-xs="40" flex-gt-lg="40">
                                                        <md-input-container class="bb-wid-100">
                                                            <label>User Group</label>
                                                            <md-select ng-model="businessUser.userGroup" name="userGroup" ng-required="true"  md-on-open="findUserGroups(true)" aria-label="Business User Group">
                                                                <md-option  ng-repeat="item in userGroups track by $id(item)"  ng-value="item._id">
                                                                    <span ng-class="item._id===-1?'fa fa-plus nv-select-new-label':''"></span>
                                                                    <span>{{(item.name)}}</span>
                                                                </md-option>
                                                            </md-select>
                                                            <div ng-messages="addBusinessUserForm.userGroup.$error">
                                                                <div ng-message="required">User Group is required</div>
                                                            </div>
                                                        </md-input-container>
                                                    </div>
                                                    <div flex="40">
                                                        <md-input-container class="md-block">
                                                            <label>E-mail</label>
                                                            <input ng-model="businessUser.username" nv-regulation-exp="mail1" required>
                                                        </md-input-container>
                                                    </div>
                                                    <div flex="20" class="flex-20 nvc-margin-top-20">
                                                        <md-button class="md-primary nvc-margin-0 nvc-padding-0" ng-click="addUnitBusinessUser(businessUnit._id)" aria-label="AddUser">
                                                            Add user
                                                        </md-button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr dir-paginate="eachUnitEmployee in businessUnit.employees|orderBy:'-created'|filter:searchBusinessUserText |itemsPerPage:itemsPerPage"
                                    pagination-id="paginationId" total-items="total_count" id="unitBusinessUser-{{$index}}">
                                    <td class="td-checkbox-width" ng-show="(userRole=== 'Admin' || userRole==='Manager')"><md-checkbox  class="md-primary bb-center" ng-model="eachUnitEmployee.selected" aria-label="Contact Selection">
                                    </md-checkbox></td>

                                    <td class="td-image-width" hide-xs><span class="nv-position-relative nvc-display-inlineblock">
                                            <img ng-src="{{eachUnitEmployee.user.profileImageURL}}"
                                                 class="img-responsive bb-img-center-prod">
                                        </span></td>
                                    <td>{{eachUnitEmployee.user.username}}</td>
                                    <td>{{eachUnitEmployee.userGroup.name}}</td>
                                    <!--<td><span>{{eachUnitEmployee.status}}</span></td>-->
                                    <!--<td ng-class="eachUnitEmployee.status==='Active'?'nvc-primary-color':'nvc-accent-100-color'">
                                        <span class="fa fa-eye" ></span>&nbsp;&nbsp;&nbsp;view
                                    </td>-->
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="nv-text-right">
                            <dir-pagination-controls pagination-id="paginationId" on-page-change="findBusinessUsersByCompany(newPageNumber)"
                                                     max-size="8"
                                                     direction-links="true"
                                                     boundary-links="true" >
                            </dir-pagination-controls>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Bank Account Info">
                <md-content>
                    <div>
                        <h5 class="nv-text-bold layout-padding">Bank Account Details:</h5>
                    </div>
                    <div class="layout-padding nvc-margin-10 nvc-padding-10" layout="row" layout-sm="row" layout-xs="row" layout-gt-lg="row" layout-align="space-around center" layout-wrap>
                        <div flex="50" flex-xs="50" flex-sm="50" flex-gt-lg="50">
                            <md-input-container   class="md-block bb-wid-100 nvc-margin-top-0" >
                                <label>Account No</label>
                                <input id="editBunitAccountNo" ng-model="businessUnit.bankAccountDetails.bankAccountNumber" name="accountNo">
                            </md-input-container>
                        </div>
                        <div flex="50" flex-xs="50" flex-sm="50" flex-gt-lg="50">
                            <md-input-container  class="md-primary bb-wid-100 nvc-margin-top-0 nvc-margin-bottom-20" md-no-float>
                                <md-select id="editBunitAccountType" ng-model="businessUnit.bankAccountDetails.accountType" name="acType" aria-label="acType"
                                           placeholder="Bank Ac Type">
                                    <md-option  value="Current" id="editBunitCurrent">
                                        <span>Current</span>
                                    </md-option>
                                    <md-option  value="Saving" id="">
                                        <span>Saving</span>
                                    </md-option>
                                </md-select>
                                <div ng-messages="editBusinessUserForm.userGroup.$error">
                                    <div ng-message="required">User Role is required</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div flex="50" flex-xs="50" flex-sm="50" flex-gt-lg="50">
                            <md-input-container class="md-block bb-wid-100 nvc-margin-bottom-0">
                                <label>Bank name</label>
                                <input  ng-model="businessUnit.bankAccountDetails.bankName" name="name" id="editBunitBankName">
                            </md-input-container>
                        </div>
                        <div flex="50" flex-xs="50" flex-sm="50" flex-gt-lg="50">
                            <md-input-container  class="md-block bb-wid-100 nvc-margin-bottom-0">
                                <label>IFSC code</label>
                                <input  ng-model="businessUnit.bankAccountDetails.ifscCode" id="editBunitIfscCode" name="name" nv-regulation-exp="ifsc">
                            </md-input-container>
                        </div>

                    </div>

                </md-content>
            </md-tab>
        </md-tabs>
        </div>

    </div>
    <div layout="row" class="nvc-accent-background" layout-align="space-around center">
        <md-button flex="100" class="md-primary nvc-margin-0 nvc-padding-0" ng-show="(toggleEdit || editBusinessUnitForm.$dirty) && (userRole=== 'Admin' || userRole==='Manager')" ng-click="updateBusinessUnit(businessUnit,1)">Update</md-button>
    </div>
</form>
