<form name="editBusinessUserForm" class="nvc-slider-form" ng-show="viewBusinessUser">
    <div class="nvc-form-content">
        <div layout="row" layout-align="center center" class="nvc-sticky-top" ng-init="toggleEdit=false">
            <md-button class="md-icon-button md-mini" ng-click="cancel();" id="user-cancel" aria-label="close dialog"><md-icon class="fa fa-times fa-lg"></md-button>
            <h4 flex class="nv-text-center nv-text-bold">Business User Details</h4>
            <md-button class="md-icon-button md-mini" ng-click="updateBusinessUser(4);" id="user-delete" aria-label="close dialog" ng-show="toggleEdit && (businessUser.user.userType === 'Employee') && (userRole=== 'Admin' || userRole==='Manager')">
                <md-icon class="fa fa-trash text-danger fa-lg">
            </md-button>
            <md-button class="nvc-rfloat md-icon-button" id="user-edit" aria-label="edit button" ng-click="toggleEdit = !toggleEdit">
                <md-icon class="fa fa-lg nvc-primary-color" ng-class="toggleEdit?'fa-check':'fa-pencil'"></md-icon>
            </md-button>
        </div>
    <div class="nvc-clear-both nvc-product-detail layout-padding layout-align-center-center" layout="row" layout-xs="row" layout-sm="row" layout-gt-lg="row" layout-wrap>
        <div flex="20" flex-sm="20" flex-xs="20" flex-gt-lg="20" class="flex-xs-20 flex-sm-20 flex-gt-lg-20 flex-15">
            <img class="img-responsive bb-img-center-prod bb-wid-100 bb-img-center"
                 data-ng-src="{{businessUser.user.profileImageURL}}"
                 alt="{{businessUser.user.firstName}}">
        </div>
        <div flex="80" flex-sm="80" flex-xs="80" flex-gt-lg="80" class="layout-padding"
             layout="row" layout-sm="row" layout-xs="row" layout-gt-lg="row" layout-align="space-around center" layout-wrap>
            <div flex="40" flex-xs="40" flex-sm="40" flex-gt-lg="40">
                <h6>Name</h6>
                <label class="bb-truncate">{{businessUser.user.username}}</label>
            </div>
            <div flex="40" flex-xs="40" flex-sm="40" flex-gt-lg="40" ng-show="!toggleEdit || (businessUser.user.userType === 'User') || userRole==='Employee'">
                <h6>Group</h6>
                <label class="bb-truncate">{{businessUser.userGroup.name}}</label>
            </div>
            <div flex="40" flex-sm="40" flex-xs="40" flex-gt-lg="40" ng-show="toggleEdit && (businessUser.user.userType === 'Employee') && (userRole=== 'Admin' || userRole==='Manager')" >
                <md-input-container class="bb-wid-100 nvc-margin-top-0" md-no-float>
                    <md-select ng-model="businessUser.userGroup._id" name="userRole" aria-label="UserRole" placeholder="User Group" ng-required="true">
                        <md-option  ng-repeat="item in userGroups track by $id(item)"  ng-value="item._id" id="{{item.name}}">
                            <span>{{(item.name)}}</span>
                        </md-option>
                    </md-select>
                    <div ng-messages="editBusinessUserForm.userGroup.$error">
                        <div ng-message="required">User Role is required</div>
                    </div>
                </md-input-container>
            </div>
            <div flex="40" flex-xs="40" flex-sm="40" flex-gt-lg="40" ng-show="!toggleEdit || (businessUser.status === 'Request') || (businessUser.user.userType === 'User') || (userRole==='Employee')">
                <h6>Status</h6>
                <label class="nvc-primary-color">{{businessUser.status}}</label>
                <h6 class="nvc-primary-color" ng-show="businessUser.status === 'Request'" ng-click="resendLink()">Resend link</h6>
            </div>
            <div flex="40" flex-sm="40" flex-xs="40" flex-gt-lg="40" ng-show="toggleEdit && (businessUser.status !== 'Request') && (businessUser.user.userType === 'Employee') && (userRole === 'Admin' || userRole==='Manager')" ng-init="getEachEmployeeStatus(businessUser)">
                <md-input-container class="bb-wid-100 nvc-margin-bottom-0" md-no-float>
                    <md-switch  ng-model="businessUser.toggle" class="md-primary"  name="status" aria-label="businessUserStatus"
                                ng-change="updateEmployeeStatus(businessUser,$index)">
                        {{businessUser.status}}
                    </md-switch>
                </md-input-container>
            </div>
            <div flex="40" flex-sm="40" flex-xs="40">
                <h6 class="nvc-margin-top-0 nvc-margin-bottom-10">Digital signature</h6>
                <div flex="100" layout="row" layout-align="space-around center" class="nvc-bottom-tag" id="edit-digital-signature">
                    <span class="bb-btn-file bb-cursor">
                        <input type="file" ng-model="businessUser.digitalSignature" ng-show="(userRole=== 'Admin' || userRole==='Manager')" uploadpathkey='businessprofile'  uploader="uploader" />
                        <span ng-if="!businessUser.user.digitalSignature" class="fa fa-link "></span>&nbsp;&nbsp;Add
                    </span>
                    <span ng-if="businessUser.user.digitalSignature"><a href="{{businessUser.user.digitalSignature}}" target="_blank" ><span class="fa fa-eye"></span></a></span>
                    <span ng-if="businessUser.user.digitalSignature"><a href="{{businessUser.user.digitalSignature}}" download><span class="fa fa-download"></span></a></span>
                </div>
            </div>
        </div>
    </div>
    <div layout="row">
        <md-tabs md-dynamic-height md-border-bottom flex="100">
            <md-tab label="Activity">
                <md-content>
                    <!--<md-menu class="nvc-rfloat">
                        <md-button class="md-raised md-icon-button md-primary">
                            <md-icon class="fa fa-filter fa-lg">

                            </md-icon>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button>Filter 1</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button>Filter 2</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>-->
                    <div class="nvc-content md-padding">
                        <!--<table class="nvc-content-table bb-wid-100">
                            <thead>
                            <tr>
                                <td>Date</td>
                                <td>Activity</td>
                                <td>To</td>
                                <td>Value</td>
                            </tr>
                            </thead>
                            <tbody>
                            &lt;!&ndash;===================== Business User Activity ===========================&ndash;&gt;
                            <tr ng-repeat="activity in businessUser.user.businessUserActivity">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            &lt;!&ndash;===================== End of Business User Activity =====================&ndash;&gt;
                            </tbody>
                        </table>-->
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </div>
    </div>
    <div layout="row" class="nvc-accent-background" layout-align="space-around center" ng-show="(toggleEdit || editBusinessUserForm.$dirty) && (userRole=== 'Admin' || userRole==='Manager')">
        <md-button flex="33" class="md-primary nvc-margin-0 nvc-padding-0" id="update-business-user" ng-click="updateBusinessUser(1)">Update</md-button>

    </div>
</form>
