<md-content layout-fill data-ng-controller="CompaniesController" data-ng-init="findOne()">
    <div ng-show="company">
        <div layout="row" layout-align="start center" layout-padding class="nvc-padding-0 nvc-accent-background nvc-company-header">
            <div flex="20" class="nvc-header-businessunit">
                <md-input-container class="nvc-margin-0 md-block">
                    <md-select class="md-icon-button nvc-shape-pill nv-text-bold" ng-model="defaultBusinessUnitId" name="selectedBusinessUnit" aria-label="businessUnitSelect" placeholder="Business Unit"
                               ng-change="findOneCompany()">
                        <md-option  ng-repeat="item in company.businessUnits track by $index"  ng-value="item.businessUnit._id">
                            <span>{{item.businessUnit.name}}</span>
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div class="nvc-padding-15" ng-show="businessUnit.phones.length>0">
                <h5 class="nv-text-center nvc-margin-0 nv-text-bold nvc-padding-15"><a href="tel:+91{{businessUnit.phones[0].phoneNumber}}"><span class="fa fa-phone fa-lg"></span> &nbsp;{{businessUnit.phones[0].phoneNumber}}</a></h5>
            </div>
            <div class="nvc-padding-15" ng-show="businessUnit.emails.length>0">
                <h5 class="nv-text-center nvc-margin-0 nv-text-bold nvc-padding-15"><a href="mailto:{{businessUnit.phones[0].phoneNumber}}"><span class="fa fa-envelope fa-lg"></span> &nbsp;{{businessUnit.emails[0].email}}</a></h5>
            </div>
        </div>
        <div layout="row" class="nvc-company-logo">
            <img ng-src="{{company.profileImageURL}}" alt="company logo">
        </div>
        <div layout="row">
            <div class="carousel slide nvc-accent-background nvc-offer-carousel" flex="100" id="company-offer-carousel" data-ride="carousel" ng-show="companyOffers.length>0">
                <ol class="carousel-indicators">
                    <li ng-repeat="offer in companyOffers track by $index" data-target="#company-offer-carousel" data-slide-to="{{$index}}" ng-class="{ 'active ':$index===0}"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item" ng-repeat="offer in companyOffers track by $index" ng-class="{ 'active ':$index===0}">
                        <img ng-src="{{offer.products[0].inventory.inventoryImageURL1}}" alt="offer banner" class="bb-wid-100">
                        <div class="md-padding nv-text-center carousel-content">
                            <div class="nvc-vertical-center">
                                <h2 class="nv-text-bold">{{offer.name}}</h2>
                                <h3 class="nv-text-bold">{{offer.Margin + ' '+offer.offerType}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" data-slide="prev" href="#company-offer-carousel"><span class="glyphicon glyphicon-chevron-left"></span> <span class="sr-only">Previous</span></a>
                <a class="right carousel-control" data-slide="next" href="#company-offer-carousel"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
            <div ng-show="companyOffers.length===0" flex="100">
                <div class="nvc-padding-top-10 nvc-margin-top-10 nvc-margin-bottom-10 nvc-padding-bottom-10 nvc-accent-background">
                    <h3 class="nv-text-bold nv-text-center">No Offer available in this company</h3>
                </div>
            </div>
        </div>
        <div layout="row" layout-padding layout-align="space-around center" layout-wrap>
            <div flex="100">
                <h4 class="nvc-company-page-header nv-text-bold nv-position-relative">Categories&nbsp;&nbsp;&nbsp;</h4>
            </div>
            <div flex="30" ng-repeat="category in companyCategories" >
                <md-card class="md-block md-whiteframe-3dp" layout="row" ng-click="showCategory(category)" >
                    <div flex="30">
                        <img ng-src="{{category.categoryImageURL1}}" class="bb-wid-100" square-image >
                    </div>
                    <div flex="70" class="md-padding nv-text-right">
                        <h5 class="nv-text-bold">{{category.name}}</h5>
                        <h5 class="nvc-primary-color">{{category.inventories.length}} Products</h5>
                    </div>
                </md-card>
            </div>
        </div>
        <div layout="row" layout-padding layout-align="space-around center" layout-wrap ng-show="companyInventories.length>0" id="companyInventoryTab">
            <div flex="100">
                <h4 class="nvc-company-page-header nv-text-bold nv-position-relative">{{companyInventories[0].productName}}&nbsp;&nbsp;&nbsp;</h4>
            </div>
            <div flex="20" ng-repeat="inventory in companyInventories track by $index">
                <md-card class="md-block md-whiteframe-3dp" layout="row" layout-wrap>
                    <div flex="50">
                        <product-image images="[inventory.inventoryImageURL1,inventory.inventoryImageURL2,inventory.inventoryImageURL3]" id="$index" shape="'square'"></product-image>
                    </div>
                    <div flex="50" class="nvc-padding-10">
                        <h5 class="nvc-primary-color nv-text-bold">&#8377; {{inventory.MRP}}</h5>
                        <h5><span class="nv-text-bold">QTY: </span> {{inventory.numberOfUnits}}</h5>
                    </div>
                    <div flex="100">
                        <h5 class="nv-text-bold">{{inventory.productName}}</h5>
                        <h5 class="nv-text-bold">{{inventory.unitOfMeasureName}})</h5>
                        <h5>{{inventory.brandName}}</h5>
                    </div>
                </md-card>
            </div>
        </div>
        <!--<div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                    <div class="md-title">{{company.name}}</div>
                    <div ng-show="company.disabled" class="md-title">(Disabled)</div>

                    <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50" ng-repeat="address in company.addresses track by $index">
                        &lt;!&ndash;<div class="md-title">{{address.addressType +' :'}}</div>&ndash;&gt;
                        <span class="md-caption">{{address.addressLine}}</span><br>
                        <span class="md-caption">{{address.city +' ,' +address.pinCode}}</span><br>
                        <span class="md-caption">{{address.state +' ,' +address.country}}</span>
                        </div>
                </div>
                <div flex="40" flex-xs="100" flex-sm="40" flex-gt-lg="40">
                    <div class="md-title">Phone :</div>
                    <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50" ng-repeat="phone in company.phones track by $index">
                        <span class="md-caption">{{phone.phoneType + ':'+phone.phoneNumber}}</span><br>
                    </div>
                    <div class="md-title">Email :</div>
                    <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50" ng-repeat="email in company.emails track by $index">
                    <span class="md-caption">{{email.emailType + ':'+email.email}}</span><br>
                        </div>
                </div>
                <div flex="10" flex-xs="100" flex-sm="10" flex-gt-lg="10" ng-show="!company.disabled &&  authentication && authentication.token && authentication.token.length!==0  && authentication.token.length!==0 && authentication.user!=='' && company._id!==authentication.user.company && !contactExists">
                    <md-button ng-click="createCompanyContacts(company);" class="md-raised md-primary bb-wid-100">Add Contact
                    </md-button>
                </div>
                <div flex="50" flex-xs="50" flex-sm="50" flex-gt-lg="50">
                    <div class="md-title">GSTIN : <span class="md-caption">{{company.gstinNumber}}</span></div>

                </div>
                <div flex="50" flex-xs="50" flex-sm="50" flex-gt-lg="50">
                    <div class="md-title">Business Categories :<span class="md-caption">{{getBusinessCategories(company)}}</span></div>

                    <div class="md-title">Business Type:<span class="md-caption">{{company.businessType}}</span></div>
                </div>
                <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">

                    <div ng-cloak>
                        <md-content>
                            <div class="md-headline">Categories</div>

                            <div  layout="row" layout-xs='row' layout-xs="column" layout-sm="row"
                                     layout-gt-lg="row" layout-wrap>


                                <div ng-repeat="inventory in company.inventories track by $index"  flex="40" flex-xs="100" flex-sm="40" flex-gt-lg="40">

                                    <span>
                                        {{inventory.inventory.product.category.name}} -> {{inventory.inventory.product.subCategory1.name}} -> {{inventory.inventory.product.subCategory2.name}}
                                    </span>

                                </div>
                            </div>

                            <md-tabs md-dynamic-height md-border-bottom>
                                <md-tab label="Offers">
                                    <md-content>
                                        <md-card ng-repeat="offer in companyOffers track by $index" class="layout-padding" layout="row" layout-xs='row' layout-xs="column"
                                                 layout-sm="row" layout-gt-lg="row" layout-wrap>

                                            <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                                                <div layout="row" layout-xs='row' layout-xs="column" layout-sm="column"
                                                     layout-gt-lg="row" layout-wrap>
                                                    &lt;!&ndash;<div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">&ndash;&gt;
                                                       &lt;!&ndash; <h3 class="md-title">{{offer.name}}</h3>&ndash;&gt;
                                                        <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100" layout="row" layout-xs='row' layout-xs="column" layout-sm="row"
                                                             layout-gt-lg="row" layout-wrap>
                                                            <div flex="75" flex-xs="100" flex-sm="75" flex-gt-lg="75">
                                                                <label class="md-subhead">Offer Name : <span
                                                                        class="bb-flabel bb-truncate">{{offer.name}}</span></label>
                                                            </div>
                                                            <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                                                                <label class="md-subhead">Valid Till : <span
                                                                        class="bb-flabel bb-truncate">{{offer.validTill| date:'dd-MM-yyyy'}}</span></label>
                                                            </div>
                                                        </div>
                                                    <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100" layout="row" layout-xs='row' layout-xs="column" layout-sm="row"
                                                         layout-gt-lg="row" layout-wrap>
                                                        <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                                                            <label class="md-subhead">Offer Number :<span
                                                                    class="bb-flabel bb-truncate">{{offer.offerNumber}}</span></label>
                                                        </div>
                                                        <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                                                            <label class="md-subhead">Offer Type :<span
                                                                    class="bb-flabel bb-truncate">{{offer.offerType}}</span></label>
                                                        </div>
                                                        <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                                                            <label class="md-subhead">Status  :<span
                                                                    class="bb-flabel bb-truncate">{{offer.offerStatus}}</span></label>
                                                        </div>
                                                        <div class="right" ng-show="!company.disabled">
                                                            <md-button  ng-disabled="orderProductCount(offer);" ng-click="createOrder(offer);" class="md-raised md-primary bb-wid-100">Place order
                                                                <md-tooltip>
                                                                    Please choose Products
                                                                </md-tooltip>
                                                            </md-button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <md-divider></md-divider>
                                                <div class="md-headline">Products</div>
                                                <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                                                    <div class="table-responsive bb-offerprod-scroll">
                                                        <table class="table bb-responstable bb-table">

                                                            <thead class="bb-fhead" ng-show="offer.offerType==='Sell'">
                                                            <tr>
                                                                &lt;!&ndash; <th></th>&ndash;&gt;
                                                                <th>Product Name</th>
                                                                <th>Unit Size ( Measure )</th>
                                                                <th>Units</th>
                                                                <th>Unit Price</th>
                                                                <th>Margin ( % )</th>
                                                                <th>MOQ ( Units )</th>
                                                                <th>Available Date</th>
                                                                <th>Sample Available</th>
                                                            </tr>
                                                            </thead>



                                                            <thead class="bb-fhead" ng-show="offer.offerType==='Buy'">
                                                            <tr>
                                                                &lt;!&ndash; <th></th>&ndash;&gt;
                                                                <th>Product Name</th>
                                                                <th>Unit Size ( Measure )</th>
                                                                <th>Quantity</th>
                                                                <th>Unit Price</th>
                                                                <th>Margin ( % )</th>
                                                                <th>MOQ ( Units )</th>
                                                                <th>Required By Date</th>
                                                                <th>Sample Required</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="singleproduct in offer.products" ng-show="offer.offerStatus!=='Drafted'">

                                                                <td>
                                                                    <md-input-container class="md-block">
                                                                        <div class="md-subhead bb-truncate">{{singleproduct.inventory.product.name}}</div>
                                                                    </md-input-container>
                                                                </td>
                                                                <td>
                                                                    <md-input-container class="md-block">
                                                                        <div class="md-subhead">
                                                                            {{singleproduct.inventory.unitSize+' ( '+singleproduct.inventory.unitMeasure+' )
                                                                            '}}
                                                                        </div>
                                                                    </md-input-container>
                                                                </td>
                                                                <td>
                                                                    <md-input-container class="md-block">
                                                                        <div class="md-subhead">{{singleproduct.inventory.numberOfUnits}}</div>
                                                                    </md-input-container>
                                                                </td>
                                                                <td>
                                                                    <md-input-container class="md-block">
                                                                        <div class="md-subhead">{{getPrice(offer,singleproduct)}}</div>
                                                                    </md-input-container>
                                                                </td>
                                                                <td>
                                                                    <md-input-container class="md-block">
                                                                        <div class="md-subhead"> {{((singleproduct.inventory.unitPrice-getPrice(offer,singleproduct))/singleproduct.inventory.unitPrice)*100
                                                                            | number:2}}</div>
                                                                    </md-input-container>
                                                                </td>
                                                                <td>
                                                                    <md-input-container class="md-block">
                                                                        <div class="md-subhead">{{singleproduct.MOQ}}</div>
                                                                    </md-input-container>
                                                                </td>

                                                                <td>
                                                                    <md-input-container class="md-block">
                                                                        <div class="md-subhead">{{singleproduct.availableDate | date:'dd-MM-yyyy'}}</div>
                                                                    </md-input-container>
                                                                </td>

                                                                <td class="text-center">
                                <span class="fa bb-sample-icon"
                                      data-ng-class="{'fa-check': singleproduct.sampleAvailable, 'fa-close bb-red':!singleproduct.sampleAvailable}"></span>
                                                                </td>
                                                                <td>
                                                                    <md-checkbox aria-label="selections"
                                                                                 ng-model="singleproduct.selected"></md-checkbox>

                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                </div>

                                            &lt;!&ndash;<div flex="100" flex-xs="100">&ndash;&gt;
                                            &lt;!&ndash;<md-divider></md-divider>&ndash;&gt;
                                            &lt;!&ndash;</div>&ndash;&gt;
                                        </md-card>

                                    </md-content>
                                </md-tab>
                                <md-tab label="Products">
                                    <md-content>
                                        <md-card  ng-show="inventory.inventory.isPublic" ng-repeat="inventory in company.inventories track by $index" class="layout-padding" layout="row" layout-xs='row' layout-xs="column"
                                                 layout-sm="row" layout-gt-lg="row" layout-wrap>

                                            <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                                                <img alt="" class="img-responsive bb-profimg-fix bb-img-center bb-prod-img-fix"
                                                     data-ng-src="{{inventory.inventory.inventoryImageURL1}}">

                                            </div>

                                            <div flex="75" flex-xs="100" flex-sm="75" flex-gt-lg="75">
                                                <div layout="row" layout-xs='row' layout-xs="column" layout-sm="column"
                                                     layout-gt-lg="row" layout-wrap>
                                                    <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                                                        <h3 class="md-title">{{inventory.inventory.product.name}}</h3>

                                                        <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row"
                                                             layout-gt-lg="row" layout-wrap>
                                                            <div flex="25" flex-xs="100" flex-sm="35" flex-gt-lg="33">
                                                                <label class="md-subhead">Unit Market Price : <span
                                                                        class="md-caption">{{inventory.inventory.unitPrice |currency:' &#8377; '}}</span></label>
                                                            </div>
                                                            <div flex="20" flex-xs="100" flex-sm="35" flex-gt-lg="33">
                                                                <label class="md-subhead">Units : <span
                                                                        class="md-caption">{{inventory.inventory.numberOfUnits}}</span></label>
                                                            </div>

                                                            <div flex="20" flex-xs="100" flex-sm="35" flex-gt-lg="33">
                                                                <label class="md-subhead">Unit Size : <span class="md-caption">{{inventory.inventory.unitSize}}</span></label>
                                                            </div>

                                                            <div flex="35" flex-xs="100" flex-sm="40" flex-gt-lg="33">
                                                                <label class="md-subhead">Sample Number : <span
                                                                        class="md-caption">{{inventory.inventory.product.sampleNumber}}</span></label>
                                                            </div>

                                                            <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                                                                <label class="md-subhead">Category : <span class="md-caption">{{inventory.inventory.product.category.name}} -> {{inventory.inventory.product.subCategory1.name}} -> {{inventory.inventory.product.subCategory2.name}}
                                </span></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    &lt;!&ndash;<div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                                                        <div class="layout-padding" layout="row" layout-xs='row'
                                                             layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
                                                            <div flex="25" flex-xs="100" flex-sm="33" flex-gt-lg="33">
                                                                <md-button class="md-raised md-primary bb-wid-100">View Details
                                                                </md-button>
                                                            </div>
                                                            <div flex="25" flex-xs="100" flex-sm="33" flex-gt-lg="33">
                                                                <md-button class="md-raised md-primary bb-wid-100">Add to order
                                                                </md-button>
                                                            </div>
                                                        </div>

                                                    </div>&ndash;&gt;
                                                </div>
                                            </div>
                                        </md-card>
                                    </md-content>
                                </md-tab>

                            </md-tabs>
                        </md-content>
                    </div>


                </div>


            </div>-->
    </div>
    <div ng-show="!company">
        No Company Details Found, Please check the comapny URL
    </div>
</md-content>



