<section data-ng-controller="MessagesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1 data-ng-bind="message.name"></h1>
    </div>
    <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == message.user._id))">
        <a class="btn btn-primary" href="/messages/{{message._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <small>
        <em class="text-muted">
            Posted on
            <span data-ng-bind="message.created | date:'mediumDate'"></span>
            by
            <span data-ng-bind="message.user.displayName"></span>
        </em>
    </small>
</section>
