<div dropdown keyboard-nav>
    <div class="input-group">

    <input class="form-control" vs-google-autocomplete="options"
               ng-model="address.name"
           vs-place="address.place"
               vs-place-id="address.components.placeId"
               vs-street-number="address.components.streetNumber"
               vs-street="address.components.street"
               vs-city="address.components.city"
               vs-state="address.components.state"
               vs-country-short="address.components.countryCode"
               vs-country="address.components.country"
               vs-district = "address.components.district"
               name="address"
               type="text">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-info" data-ng-click="reverse_location()">
              <span class="glyphicon glyphicon-map-marker"></span>
            </button>
        </span>
    </div>

</div>
