<div layout="row" layout-wrap layout-padding>
    <div flex="25">
        <md-select id="subCategory11" ng-model="subCategory1" md-on-open="findSubCategories1()" placeholder="Category" class="nvc-margin-0 nvc-padding-15 nvc-accent-background nvc-shape-pill">
            <md-option ng-value="-1">All</md-option>
            <md-option ng-repeat="subCategory1 in  subCategories1  | orderBy:'name'"
                       value="{{subCategory1._id}}"  >{{subCategory1.name}} ({{subCategory1.code}})</md-option>
        </md-select>
    </div>
    <div flex="25" ng-show="subCategory1 && subCategory1!==-1">
        <md-select id="subCategory21" ng-model="subCategory2" name="homepage_select_first" placeholder="{{subCategory1?'Product':'Choose Category first'}}"
                   md-on-open="findCategory(subCategory1)" ng-disabled="!subCategory1"
                   class="nvc-padding-15 nvc-accent-background nvc-shape-pill nvc-margin-0">
            <md-option ng-value="-1"><em>All</em></md-option>
            <md-divider></md-divider>
            <md-option data-ng-repeat="subCategory2 in subCategories2  | orderBy:'name' "
                       value="{{subCategory2._id}}">{{subCategory2.name}} ({{subCategory2.code}})</md-option>
        </md-select>
    </div>
    <div flex="20" ng-show="subCategory2 && subCategory1 && subCategory1!==-1 && subCategory2!==-1">
        <md-select md-on-open="findCategory(subCategory2)"
                   ng-model="productBrand" class="nvc-padding-15 nvc-accent-background nvc-shape-pill nvc-margin-0"
                   ng-change="findBrandChange(productBrand);" placeholder="{{subCategory2?'Brand':'Choose Product first'}}" ng-disabled="!subCategory2">
            <md-option ng-value="-1">All</md-option>
            <md-divider></md-divider>
            <md-option data-ng-repeat="brand in productBrands"
                       value="{{brand._id}}">{{brand.name}}</md-option>
        </md-select>
    </div>
    <div flex="20" ng-show="subCategory2 && subCategory1 && subCategory1!==-1 && subCategory2!==-1 && productBrand && productBrand!==-1">
        <md-select ng-model="unitOfMeasure"
                   class="nvc-padding-15 nvc-accent-background nvc-shape-pill nvc-margin-0" data-ng-disabled="!productBrand"
                   name="uom" aria-label="Unit Measure" placeholder="{{productBrand?'Choose UOM':'Choose Brand first'}}">
            <md-option ng-value="-1">All</md-option>
            <md-option ng-repeat="item in brandUoms track by $id(item)" ng-show="item._id!==-1"  ng-value="item._id" ng-click="addUOM = false;">
                <span>{{(item.symbol)}}</span>
            </md-option>
        </md-select>
    </div>
</div>
