<div class="nvc-slider-form">
    <div class="nvc-max-height">
        <div layout="row" layout-align="center center" class="nvc-sticky-top">
            <md-button class="md-icon-button md-mini" ng-click="minimiseView()" aria-label="close dialog"><md-icon class="fa fa-times fa-lg"></md-button>
            <h4 flex class="nv-text-center nv-text-bold"> Track Your Product </h4>
            <md-button class="md-icon-button md-mini" ng-click="trackerSettigns()" aria-label="reset form"><md-icon class="fa fa-cog fa-lg nvc-primary-color"></md-icon></md-button>
        </div>
    <div>
        <nvc-tracker tree="trackPaths" treelength="" parent="trackPaths"></nvc-tracker>
    </div>
    </div>
</div>
