<div layout="row" class="nvc-tracker-card" layout-wrap>
    <div flex="100" layout="row" layout-sm="row" layout-xs="80" layout-align="space-between center" class="nvc-tracker-card-padding" ng-class="{'nvc-more-tracking-prods':treelength>1}" >
        <div flex="15" flex-sm="20" flex-xs="20" class="nv-position-relative">
            <img class="bb-wid-100 img-circle nvc-primary-border bb-height-100" square-image ng-src="{{tree.inventory.user.company.profileImageURL}}">
            <img class="img-circle nv-position-absolute track-prod-img" ng-src="{{tree.inventory.inventoryImageURL1}}">
        </div>
        <div flex="75" flex-xs="75" flex-sm="75">
            <h6><span class="nv-text-bold">{{tree.inventory.productName}}</span> {{tree.stockMasters[0].count + ' ( '+ tree.inventory.unitOfMeasureName}} )</h6>
            <h6 class="nv-text-bold">{{tree.inventory.currentOwner.companyName}} ({{tree.inventory.currentOwner.businessUnitName}}) </h6>
            <h6>{{tree.inventory.user.company.addresses[0].pinCode}}</h6>
            <h6>Type: {{tree.inventory.user.company.registrationCategory.name}}</h6>
        </div>
        <div class="dropdown nvc-more-tracking-prods-count" ng-show="treelength>1" >
            <button class="nvc-more-tracking-prods-count nvc-accent-background nvc-primary-color nv-text-center md-padding" type="button" ng-click="expandSelectionView(parent,$index, parent.destinations.indexOf(tree))">
                <h5 class="nv-text-bold">{{treelength - 1}}</h5>
                <h6 class="nv-text-bold">More</h6>
            </button>
        </div>
    </div>
    <div flex="100" layout="row" layout-sm="row" layout-xs="row" layout-align="space-between stretch" class="nvc-tracker-card-padding">
        <div flex="15" flex-sm="20" flex-xs="20" class="nv-position-relative layout-row layout-align-center-center">
            <div class="timeline-left" ng-class="{'timeline-left-last':tree.destinations.length===0}"></div>
            <div class="timeline-date">
                <div class="layout-row layout-align-center-center">
                    <span class="nv-text-bold">
                        {{tree.inventory.created | date:"dd MMM"}}
                    </span>
                </div>
            </div>
            </div>
        <div flex="75" flex-xs="75" flex-sm="75" class="nvc-margin-top-20 nvc-margin-bottom-20">
            <div class="md-padding nvc-padding-left-0" ng-show="tree.destinations.length>0">
                <div ng-show="!tree.destinations[0].orderNumber" layout="row" layout-align="center center">
                    <span class="fa fa-random fa-2x " flex="15"></span>
                    <h5 flex><span class="nv-text-bold">Converted </span> {{tree.destinations.length}} items to  <span class="nv-text-bold">{{tree.inventory.productName}}</span> ( {{tree.inventory.unitOfMeasureName}} )
                    </h5>
                </div>
                <div ng-show="tree.destinations[0].orderNumber" layout="row" layout-align="center center">
                    <span class="fa fa-truck fa-2x" flex="15"></span>
                    <h5 flex><span class="nv-text-bold">Transported</span> {{tree.destinations[0].stockMasters[0].count+' '+tree.inventory.unitOfMeasureName}} with Order Number - <span class="nv-text-bold">{{tree.destinations[0].orderNumber}}</span> to <span class="nv-text-bold">{{tree.inventory.user.company.name}}</span></h5>
                </div>
            </div>
            <div class="md-padding nvc-padding-left-0" ng-show="tree.destinations.length===0">
                <div layout="row" layout-align="center center">
                    <span class="fa fa-hourglass-start fa-2x " flex="15"></span>
                    <h5 flex><span class="nv-text-bold">Created {{tree.inventory.productName}}</span> ( {{tree.inventory.unitOfMeasureName}} )
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="nvc-tracker" ng-if="tree.destinations.length>0">
    <nvc-tracker tree="tree.destinations[0]" parent="tree" treelength="tree.destinations.length"></nvc-tracker>
</div>
