<div data-ng-init="scanProductDetails()" data-ng-controller="TrackerController">
    <div ng-if="productDetails">
        <div class="nvc-tracker-page">
            <div class="nv-position-relative">
            <div id="trackerCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#trackerCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#trackerCarousel" data-slide-to="1"></li>
                    <li data-target="#trackerCarousel" data-slide-to="2"></li>
                    <li data-target="#trackerCarousel" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active" >
                        <img ng-src="{{productDetails.inventory.inventoryImageURL1}}" alt="image1">
                    </div>

                    <div class="item">
                        <img ng-src="{{productDetails.inventory.inventoryImageURL2}}" alt="image2">
                    </div>

                    <div class="item">
                        <img ng-src="{{productDetails.inventory.inventoryImageURL3}}" alt="image3">
                    </div>

                    <div class="item">
                        <img ng-src="{{productDetails.inventory.inventoryImageURL4}}" alt="image4">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#trackerCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#trackerCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="nvc-carousel-title">
                <h4 class="nv-text-bold">{{productDetails.inventory.productName}}</h4>
                <h5 class="nv-text-bold">{{productDetails.inventory.brandName}}</h5>
                <h5>&#8377; {{productDetails.stockMasters.MRP}}</h5>
                <h6>{{productDetails.company.name}}</h6>
            </div>
            </div>
            <div>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Details">
                        <md-content class="md-padding">
                            <h5><span class="nv-text-bold">Batch Number: </span>{{productDetails.stockMasters.batchNumber}}</h5>
                            <h5><span class="nv-text-bold">Mfg. Date: </span>{{productDetails.stockMasters.manufacturingDate | date:'dd-MM-yyyy'}}</h5>
                            <h5><span class="nv-text-bold">Best Before: </span>{{productDetails.stockMasters.expiryDate | date:'dd-MM-yyy'}}</h5>
                            <md-divider></md-divider>
                            <p><span class="nv-text-bold">Description: </span> {{productDetails.inventory.productDescription}}</p>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </div>
        </div>
        <div class="nv-text-center" ng-show="!publicPathResponse">
            <md-button class="md-primary nvc-shape-pill md-raised" ng-click="getPublicPaths(productDetails.stockMasters._id,productDetails.businessUnit._id)">Trace to Origin</md-button>
        </div>
        <div ng-if="publicPathResponse">
            <h5 class="nv-text-center nv-text-bold"><span class="bb-truncate">{{productDetails.inventory.productName}}</span> - Tracking History</h5>
            <md-divider class="nvc-margin-bottom-20"></md-divider>
            <nvc-tracker tree="publicPathResponse" treelength="" parent="publicPathResponse"></nvc-tracker>
        </div>
    </div>
</div>
