<div ng-show="showAddOffer && selectedIndex===0" >
    <div id="createOffer">
        <div layout="row" layout-align="end center">
            <md-button class="md-warn nvc-shape-pill md-raised nvc-margin-bottom-10 nvc-margin-top-10" ng-click="alertClose($event)">Discard Offer</md-button>
        </div>
        <md-card class="nvc-margin-0 md-whiteframe-5dp" id="offerLevel-0">
            <div layout="row" layout-sm="row" layout-align="space-around center">
                <div flex="10" flex-sm="10">
                    <img src="modules/core/img/brand/nvc-email-offers.jpg" class="bb-wid-100 nvc-margin-5">
                </div>
                <div flex="85" flex-sm="85" layout="row" layout-padding>
                    <div flex layout="row" layout-wrap layout-align="start center">
                        <div flex="20">
                            <h5><span class="nv-text-bold">Offer Name :</span></h5>
                        </div>
                        <div flex="50">
                            <span ng-show="selectedLevel>0">{{offerName}}</span>
                            <div ng-show="selectedLevel===0">
                                <md-input-container md-no-float class="md-block nvc-accent-background nvc-shape-pill md-no-error-space md-no-border">
                                    <input ng-model="offerName" required name="offerName" class="nv-text-center" placeholder="Enter name here">
                                </md-input-container>
                            </div>
                        </div>
                        <div flex="30"></div>
                        <div flex="20">
                            <h5><span class="nv-text-bold">Offer Type :</span></h5>
                        </div>
                        <div flex="50" layout="row" layout-align="space-between center">
                            <h5 ng-show="selectedLevel>0">{{offerType}} Offer</h5>
                            <div flex="40" ng-show="selectedLevel===0">
                                    <h5 ng-click="offerType='Sell'" ng-class="offerType==='Sell'?'nvc-primary-border':'nvc-accent-border'" class="nv-text-center nvc-accent-background nvc-padding-5 nvc-shape-pill">Sell</h5>
                                </div>
                            <div flex="40" ng-show="selectedLevel===0">
                                    <h5 ng-click="offerType='Buy'" ng-class="offerType==='Buy'?'nvc-primary-border':'nvc-accent-border'" class="nv-text-center nvc-accent-background nvc-padding-5 nvc-shape-pill">Buy</h5>
                            </div>
                        </div>
                        <div flex="100" layout="row" layout-wrap layout-align="center center" ng-show="offerHasValidity || selectedLevel===0">
                            <div flex="20">
                                <h5><span class="nv-text-bold">Validity :</span></h5>
                            </div>
                            <div flex="50" layout="row" layout-align="space-between center" ng-show="offerHasValidity">
                                <div flex="40">
                                    <h5 class="nvc-margin-0">From : <span class="nv-text-bold" ng-show="selectedLevel>0">{{validFrom | date:'dd MMM yyyy'}}</span> </h5>
                                    <md-datepicker  ng-show="selectedLevel===0" required ng-model="validFrom" md-max-date="validTill" class="nvc-custom-date-picker">
                                    </md-datepicker>
                                </div>
                                <div flex="40">
                                    <h5 class="nvc-margin-0">Till : <span class="nv-text-bold" ng-show="selectedLevel>0">{{validTill | date:'dd MMM yyyy'}}</span> </h5>
                                    <md-datepicker ng-show="selectedLevel===0" required ng-model="validTill" md-min-date="validFrom" class="nvc-custom-date-picker">
                                    </md-datepicker>
                                </div>
                            </div>
                            <div flex="30" ng-show="offerHasValidity"></div>
                            <div flex="20" ng-show="offerHasValidity"></div>
                            <div flex class="nvc-margin-5">
                            <md-checkbox class="md-primary" aria-label="offer validation" ng-change="changeOfferValidation()" ng-model="offerHasValidity" ng-show="selectedLevel===0">Set Validity</md-checkbox>
                            </div>
                        </div>
                    </div>
                    <div flex="25" layout="column" layout-align="end end">
                        <md-button class="md-primary nvc-shape-pill md-raised" ng-show="selectedLevel===0" ng-click="nextStepOffer(selectedLevel)">Continue</md-button>
                        <md-button class="md-primary md-raised nvc-shape-pill" ng-click="setSelectedLevel(0)" ng-show="selectedLevel>0">Change</md-button>
                    </div>
                </div>
            </div>
        </md-card>
        <md-card class="nvc-margin-0 nvc-margin-top-1 md-whiteframe-5dp" id="offerLevel-1" ng-class="(selectedLevel>1 && selOffer.products.length>0)?'nvc-accent-background':''">
            <div ng-style="getHeight('createOffer')" class="nvc-overflow-auto">
                <div class="md-padding" ng-show="selectedLevel<=1">
                    <h5 class="nv-text-bold" ng-show="selectedLevel<1 && (!selOffer.products || selOffer.products.length===0)">2. Products</h5>
                    <h5 class="nv-text-bold" ng-show="selectedLevel===1 && (!selOffer.products || selOffer.products.length===0)">Select some criteria to fetch Inventories or to place offer</h5>
                    <h5 class="nv-text-bold" ng-show="selectedLevel===1 && selOffer.products.length>0">Modify your product selection</h5>
                </div>
                <div layout="row" layout-align="center center">
                    <div flex>
                        <inventory-filter ng-show="selectedLevel===1"></inventory-filter>
                    </div>
                    <md-button class="md-primary nvc-shape-pill md-raised" ng-show="selectedLevel===1" ng-click="getOfferInventories()">Fetch</md-button>
                    <md-button ng-show="selectedLevel===1" class="md-primary nvc-shape-pill md-raised" ng-click="nextStepOffer(selectedLevel)">Continue</md-button>
                </div>
                <div ng-show="selOffer.products.length>0 || selectedLevel>1">
                    <div ng-show="!selOffer.products || selOffer.products.length===0" layout="row" layout-sm="row" layout-align="space-around center">
                        <div flex="10" flex-sm="10">
                            <img src="modules/core/img/brand/nvc-buyer.png" class="bb-wid-100 nvc-margin-5">
                        </div>
                        <div flex="85" flex-sm="85" layout="row" layout-padding>
                            <div flex layout="row" layout-align="start start" layout-wrap>
                                <div flex="20">
                                    <h5><span class="nv-text-bold">Offer Criteria :</span> {{subCategory1 + ' ' + subCategory2 + ' ' + productBrand + ' ' + unitOfMeasure}} </h5>
                                </div>
                            </div>
                            <div flex="25" layout="column" layout-align="end end">
                                <md-button class="md-primary md-raised nvc-shape-pill" ng-click="setSelectedLevel(1)" ng-show="selectedLevel>1">Modify</md-button>
                            </div>
                        </div>
                    </div>
                    <div ng-show="selectedLevel!==1 && selOffer.products.length>0">
                        <h5 class="md-padding nv-text-bold nvc-margin-0">Selected Products for the offer</h5>
                        <div layout="row" layout-wrap layout-padding layout-align="end center">
                            <div flex="33"  ng-repeat="product in selOffer.products">
                                <md-card layout="row" layout-align="center center" class="layout-padding">
                                    <div flex="20">
                                        <img ng-src="{{product.inventoryImageURL1}}"
                                             alt="{{product.productName}}"
                                             class="img-responsive nvc-shape-pill" square-image>
                                    </div>
                                    <div flex="80">
                                        <h5 class="nv-text-bold" >{{product.productName}} - {{product.unitOfMeasureName}}</h5>
                                        <h6 class="nv-text-bold">{{product.brandName}}</h6>
                                        <div layout="row" layout-align="space-between center">
                                            <h6><span class="nv-text-bold">MOQ :</span> {{product.MOQ.MOQ}}</h6>
                                            <h6><span class="nv-text-bold">Margin :</span> {{product.MOQ.margin | number:2}} %</h6>
                                        </div>
                                    </div>
                                </md-card>
                            </div>
                            <div flex="33" class="layout-row layout-align-end-center">
                                <md-button class="md-primary md-raised nvc-shape-pill nvc-float-left" ng-click="setSelectedLevel(1)" ng-show="selectedLevel>1">Modify</md-button>
                            </div>
                        </div>
                    </div>
                    <table  ng-show="selOffer.products.length>0 && selectedLevel===1" class="bb-wid-100 nvc-content-table">
                        <thead>
                        <tr>
                            <td></td>
                            <td><div class="nv-position-relative nvc-display-inlineblock"><md-button class="md-fab md-mini" ng-class="{'md-primary':selOffer.products.length>0}">
                                <md-icon class="fa fa-bars fa-lg"></md-icon>
                                <md-tooltip>{{selOffer.products.length}} Products selected</md-tooltip>
                            </md-button>
                                <h5 class="nvc-sup-text" ng-show="selOffer.products.length>0">{{(selOffer.products.length>99)?'99+':selOffer.products.length}}</h5>
                            </div></td>
                            <td>
                                <div class="nvc-accent-100-background nvc-shape-pill flex-60 " layout="row" layout-padding>
                                    <div><span class="fa fa-search nvc-padding-left-10"></span></div>
                                    <div><input ng-model="searchOfferProductText" class="nvc-md-input" placeholder="Search Products"></div>
                                </div>
                            </td>
                            <td>In Stock (Units)</td>
                            <td>Price (&#8377;)</td>
                            <td>MOQ vs Margin</td>
                            <td>Sample Available</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="product in selOffer.products track by $index">
                            <td >
                                <span class="fa-times-circle fa fa-lg bb-minus-btn"
                                         ng-click="selOffer.products.splice($index, 1)" >
                                    <md-tooltip>Remove Product</md-tooltip>
                                </span>

                            </td>
                            <td><img ng-src="{{product.inventoryImageURL1}}"
                                     alt="{{product.productName}}"
                                     class="img-responsive bb-img-center-prod">
                            </td>
                            <td><h5 class="nv-text-bold" >{{product.productName}} - {{product.unitOfMeasureName}}</h5>
                                <h6 class="nv-text-bold">{{product.brandName}}</h6>
                            </td>
                            <td>{{product.numberOfUnits}}</td>
                            <td><div ng-show="product.MOQ.margin===0">{{product.MRP}}</div>
                                <div ng-show="product.MOQ.margin!==0"><h6 class="nvc-text-light">MRP : <span class="nv-text-strike ">{{product.MRP}}</span></h6>
                            <h5 class="nv-text-bold">Price : {{product.MRP - ((product.MOQ.margin*product.MRP) / 100)}}</h5></div> </td>
                            <td><md-select  ng-model="product.MOQ"  aria-label="Select MOQ" ng-show="product.moqAndMargin.length>1">
                                <md-option ng-repeat="item in product.moqAndMargin track by $id(item)" ng-value="item">
                                    <span>{{(item.MOQ+' / '+item.margin.toFixed(2)+'%')}}</span>
                                </md-option>
                            </md-select>
                            <h5 class="nv-text-bold" ng-show="product.moqAndMargin.length<=1">{{product.MOQ.MOQ+' / '+product.MOQ.margin.toFixed(2)+'%'}}</h5></td>
                            <td class="nv-text-center"><md-checkbox aria-label="sample availabel" ng-model="product.sampleAvailable" class="md-primary" ></md-checkbox></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </md-card>
        <md-card class="nvc-margin-0 nvc-margin-top-1 md-whiteframe-5dp" id="offerLevel-2">
            <div class="md-padding" ng-show="selectedLevel<2">
                <h5 class="nv-text-bold">3. Define or Notify Buyers</h5>
            </div>
            <div ng-show="selectedLevel>=2">
                <div layout="row" layout-sm="row" layout-align="space-around center">
                    <div flex="10" flex-sm="10">
                        <img src="modules/core/img/brand/nvc-buyer.png" class="bb-wid-100 nvc-margin-5">
                    </div>
                    <div flex="85" flex-sm="85" layout="row" layout-padding>
                        <div flex layout="row" layout-align="start start" layout-wrap>
                            <div flex="20">
                                <h5><span class="nv-text-bold">Visibility :</span> </h5>
                            </div>
                            <div flex="50" layout="row" layout-align="space-between center">
                                <h5 ng-show="selectedLevel>2">{{publicOffer?'Public':(isIntraCompany?'Business Unit':'Private')}} Offer</h5>
                                <div flex="30" ng-show="selectedLevel===2">
                                    <h5 ng-click="publicOffer = true;isIntraCompany = false" ng-class="publicOffer && !isIntraCompany?'nvc-primary-border':'nvc-accent-border'" class="nv-text-center nvc-accent-background nvc-padding-5 nvc-shape-pill">Public</h5>
                                </div>
                                <div flex="30" ng-show="selectedLevel===2">
                                    <h5 ng-click="publicOffer = false;isIntraCompany=false" ng-class="!publicOffer && !isIntraCompany?'nvc-primary-border':'nvc-accent-border'" class="nv-text-center nvc-accent-background nvc-padding-5 nvc-shape-pill">Private</h5>
                                </div>
                                <div flex="30" ng-show="selectedLevel===2&& authentication.companyBusinessUnits.businessUnits.length>1">
                                    <h5 ng-click="publicOffer=false;isIntraCompany = true" ng-class="isIntraCompany?'nvc-primary-border':'nvc-accent-border'" class="nv-text-center nvc-accent-background nvc-padding-5 nvc-shape-pill">BusinessUnit</h5>
                                </div>
                            </div>
                            <div flex="30">
                            </div>


                            <div flex="20" ng-show="!isIntraCompany">
                                <h5><span class="nv-text-bold">Contacts/Groups:  </span></h5>
                            </div>
                            <div flex="70" ng-show="!isIntraCompany">
                                <add-offer-contacts ng-show="selectedLevel===2"></add-offer-contacts>
                                <div ng-show="selectedLevel>2">
                                    <md-chips class="nvc-chips" ng-model="selectedContacts" readonly="true">
                                        <md-chip-template>
                                            <span>
                                                <span>{{$chip.displayName?$chip.displayName:$chip.name}}</span>
                                            </span>
                                        </md-chip-template>
                                    </md-chips>
                                </div>
                            </div>
                            <div flex="20" ng-show="isIntraCompany && authentication.companyBusinessUnits.businessUnits.length>1">
                                <h5><span class="nv-text-bold">Business Unit:  </span></h5>
                            </div>
                            <div flex="70" ng-show="isIntraCompany && authentication.companyBusinessUnits.businessUnits.length>1">
                                <md-input-container class="nvc-margin-0 md-block">
                                    <md-select multiple md-on-open="getCompanyBusinessUnits()" class="md-icon-button nvc-shape-pill nv-text-bold" ng-model="businessContacts" name="selectedBusinessUnit" aria-label="businessUnitSelect" placeholder="Business Unit">
                                        <md-option  ng-repeat="item in companyBusinessunits track by $index"  ng-value="item">
                                            <span>{{item.name}}</span>
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                        <div flex="25" layout="row" layout-align="end center" >
                            <md-button ng-show="selectedLevel===2" class="md-primary nvc-shape-pill md-raised" ng-click="nextStepOffer(selectedLevel)">Continue</md-button>
                            <md-button class="md-primary md-raised nvc-shape-pill" ng-click="setSelectedLevel(2)" ng-show="selectedLevel>2">Modify</md-button>
                        </div>
                    </div>
                </div>
            </div>
        </md-card>
        <md-card class="nvc-margin-0 nvc-margin-top-1 md-whiteframe-5dp" id="offerLevel-3">
            <div class="md-padding" ng-show="selectedLevel<3">
                <h5 class="nv-text-bold">4. Payment Terms</h5>
            </div>
            <div ng-show="selectedLevel===3">
                <div layout="row" layout-sm="row" layout-align="space-around center">
                    <div flex="10" flex-sm="10">
                        <img src="modules/core/img/brand/nvc-buyer.png" class="bb-wid-100 nvc-margin-5">
                    </div>
                    <div flex="85" layout="row" layout-padding>
                        <div flex layout="row" layout-align="start center" layout-wrap>
                            <div flex="20">
                                <h5 class="nv-text-bold">Payment Terms :</h5>
                            </div>
                            <div flex="50">
                                <offer-payment-terms></offer-payment-terms>
                            </div>
                        </div>
                        <div flex="25" layout="row" layout-align="end center">
                            <md-button class="md-primary md-raised nvc-shape-pill" ng-click="nextStepOffer(selectedLevel)">Place Offer</md-button>
                        </div>
                    </div>
                </div>
            </div>
        </md-card>
    </div>


</div>


