<section data-ng-controller="OffersCreateController">
    <div class="page-header">
        <h1>Create a New Offer</h1>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
            </div>
        </div>
        <form editable-form name="tableform" onaftersave="create()" oncancel="cancel()" data-ng-submit="create()" e-autocomplete="off">
            <fieldset>
                <div class="form-horizontal" data-ng-init="findContactVSGroups();">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label" for="name">Offer Name</label>
                        </div>
                        <div class="col-sm-2 col-lg-4">
                            <input type="text" data-ng-model="offerName" id="name" class="form-control"
                                   placeholder="Short Description of Offer">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label" for="date">Valid Till</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="date" datepicker-popup="{{dt.format}}"
                                   data-ng-model="dt.dt" is-open="dt.opened" min-date="dt.minDate"
                                   data-ng-click="dt.open($event)" required/>
                        </div>
                    </div>

                 <!--   <div>
                        <button data-ng-repeat="contact in to" class="btn btn-sm btn-success">
                            <span>{{contact.firstName + " " + contact.lastName}}</span>
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>-->

                 <!--   <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label" for="to">To</label>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" data-ng-model="to" id="to" class="form-control"
                                   typeahead="contact as contact.firstName+' '+contact.lastName
                                   for contact in filterByName(contacts, $viewValue)"
                                   placeholder="Contact" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label" for="role">Role</label>
                        </div>
                        <div class="col-sm-2">
                            <select data-ng-model="role" id="role" ng-options="item as item for item in offerCategories"></select>
                        </div>
                    </div>-->

                        <div class="form-group">
                            <label class="col-sm-2" ng-repeat="item in offerTypes" for="{{item}}">

                                <input type="radio"
                                       ng-model="my.role"
                                       ng-value="item"
                                       id="{{item}}"
                                       name="role">  {{item}}
                            </label>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label class="control-label">To</label>
                            </div>
                            <div class="col-sm-2">
                                <select style="width: 400px;" ui-select2="select2Options" multiple ng-model="to.contact">
                                    <option ng-repeat="tag in contactsVsGroup" value="{{tag}}">{{(tag.firstName?tag.firstName:tag.name)+(tag.middleName?' '+tag.middleName:'')+(tag.lastName?' '+tag.lastName:'')}}</option>
                                </select>
                            </div>
                        </div>

                       <!-- <div class="form-group">
                            <div class="col-sm-2">
                                <label class="control-label" for="deliveryDate">Delivery Date</label>
                            </div>
                            <div class="col-sm-2">
                                <input ng-model="deliveryDate" type="text" id="deliveryDate" name="dueDate"
                                       class="form-control" datepicker-popup="MM-dd-yyyy" datepicker-append-to-body="true"
                                       is-open="data.isOpen" ng-click="data.isOpen = true">
                            </div>
                        </div>-->
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label" for="publicOffer">Public Offer</label>
                        </div>
                        <div class="col-sm-2" id="publicOffer">
                            <label class="radio-inline">
                                <input type="radio" data-ng-model="publicOffer" data-ng-value="true"> Yes
                            </label>
                            <label class="radio-inline">
                                <input type="radio" data-ng-model="publicOffer" data-ng-value="false"> No
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Table Begins -->

                <div class="panel panel-default" data-ng-init="findProducts();" ng-show="products.length>0">
                    <div class="panel-heading"><h4><span class="label label-success">Products</span></h4></div>
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Units Available</th>
                            <th>Unit Size</th>
                            <th>Unit Measure</th>
                            <th>Unit Indicative Price</th>
                            <th>MOQ</th>
                            <th>Margin (%)</th>
                            <th>Available Date</th>
                            <th>Sample Available</th>

                        </tr>
                        </thead>
                   <!--     <tbody>
                        <tr ng-repeat="product in products track by $index">
                            <td><span editable-text="product.product"  e-typeahead-on-select="selectProduct($item, $index);"
                                      e-name="name"
                                      e-typeahead="metaProduct as metaProduct.name for metaProduct in filterByProductName(metaProducts, $viewValue)"
                                      e-form="tableform" e-autocomplete="off">
          {{ product.name || 'empty' }}</span></td>
                            <td><span editable-text="prod.product.unitIndicativePrice" e-name="unitIndicativePrice" e-form="tableform">
                                {{ prod.unitIndicativePrice || 'empty' }}</span></td>
                            <td><span editable-text="product.unitSize" e-name="unitSize" e-form="tableform">
                                {{ prod.unitSize || 'empty' }}</span></td>
                            <td><span editable-text="product.unitMeasure" e-name="unitMeasure" e-form="tableform">
                                {{ prod.unitMeasure || 'empty' }}</span></td>
                            <td><span editable-text="product.numberOfUnitsAvailable" e-name="numberOfUnitsAvailable" e-form="tableform">
                                {{ product.numberOfUnitsAvailable || 'empty' }}</span></td>
                            <td><span editable-checkbox="prod.sampleAvailable" e-name="sampleAvailable" e-form="tableform">
                                {{ product.sampleAvailable || 'Yes'  }}</span></td>
                        &lt;!&ndash;    <td><span editable-text="prod.producer" e-name="producer" e-form="tableform">
          {{ product.producer || 'empty' }}</span></td>&ndash;&gt;
                            <td ng-show="tableform.$visible">
                                <button type="button" ng-show="tableform.$visible" ng-click="products.splice($index, 1)"
                                        class="btn btn-danger pull-right">-
                                </button>
                            </td>
                        </tr>
                        </tbody>-->
                        <tbody>
                        <tr ng-repeat="product in products track by $index">
                            <td><span editable-text="product.product"  e-typeahead-on-select="selectProduct($item, $index);"
                                      e-name="name"
                                      e-typeahead="metaProduct as metaProduct.name for metaProduct in filterByProductName(metaProducts, $viewValue)"
                                      e-form="tableform" e-autocomplete="off">
          {{ product.name || 'empty' }}</span></td>
                            <!--<td><span editable-text="product.product.subCategory" e-name="subCategory" e-form="tableform" e-readonly>
          {{ product.subCategory || 'empty' }}</span></td>-->
                            <td><span editable-text="product.numberOfUnitsAvailable" e-ng-change="changeProductNumberOfUnitsAvailable($index,this);" e-name="numberOfUnitsAvailable" e-form="tableform">
          {{ product.numberOfUnitsAvailable || '' }}</span></td>
                            <td><span>{{product.product.unitSize || '' }}</span><!--<span editable-text="product.unitSize" e-ng-change="changeProductUnitSize($index,this);" e-name="unitSize" e-form="tableform">
          {{ product.unitSize || 'empty' }}</span>--></td>
                            <td><span>{{product.product.unitMeasure || '' }}</span><!--<span editable-text="product.unitMeasure" e-ng-change="changeProductUnitMeasure($index,this);" e-name="unitMeasure" e-form="tableform">
                                {{ product.unitMeasure || 'empty' }}</span>--></td>
                            <td><span editable-text="product.unitIndicativePrice"  e-name="unitIndicativePrice" e-ng-change="changeProductIndicativePrice($index,this);"
                                      e-form="tableform">{{ product.unitIndicativePrice || ''}}
                            </span></td>

                            <td><span editable-text="product.MOQ"  e-name="MOQ" e-ng-change="changeProductMOQ($index,this);"
                                      e-form="tableform">{{ product.MOQ || ''}}
                            </span></td>
                            <td><span>{{product.margin | number:2 || '' }}</span><!--<span editable-text="product.margin"  e-name="margin" e-ng-change="changeProductMOQ($index,this);"
                                      e-form="tableform">{{ product.margin || ''}}
                            </span>--></td>
                            <td><span editable-text="product.availableDate" e-datepicker-popup="dd-MMMM-yyyy"  e-ng-change="changeProductAvailableDate($index,this);"
                                      e-name="availableDate"
                                      e-form="tableform">{{ product.availableDate || ''}}</span></td>

                            <td><span e-title="IsSample" editable-checkbox="product.sampleAvailable" e-name="sampleAvailable" e-form="tableform" e-ng-change="changeProductSampleAvailable($index,this);">
                                {{ product.sampleAvailable || 'Yes'  }}</span></td>
                          <!-- <td><span editable-text="prod.producer" e-name="producer" e-form="tableform">
          {{ product.producer || 'empty' }}</span></td>-->
                            <td ng-show="tableform.$visible">
                                <button type="button" ng-show="tableform.$visible" ng-click="products.splice($index, 1)"
                                        class="btn btn-danger pull-right">-
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- buttons -->
              <!--  <div class="form-group">
                    <div class="btn-edit">
                        <button type="button" class="btn btn-default" ng-show="!tableform.$visible"
                                ng-click="tableform.$show()">
                            Edit
                        </button>
                    </div>
                    <div class="btn-form" ng-show="tableform.$visible">
                        <button type="button" ng-disabled="tableform.$waiting" ng-click="addProduct()"
                                class="btn btn-default pull-right">Add Row
                        </button>
                        <button type="submit" ng-disabled="tableform.$waiting" class="btn btn-primary">Save</button>
                        <button type="button" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()"
                                class="btn btn-default">Cancel
                        </button>
                    </div>
                </div>-->


                <div class="form-group">
                    <div class="btn-form">
                        <button type="button" class="btn btn-default pull-right"
                                ng-click="tableform.$show();addProduct();">
                            ADD Product
                        </button>
                        <button type="submit" ng-disabled="orderValidation();" ng-click="offerStatus='Opened'" class="btn btn-primary">Place Offer</button>
                        <button type="submit" class="btn btn-primary">Draft Offer</button>
                        <button type="button"  ng-click="clearFields();offerRedirection();"
                                class="btn btn-default">Cancel
                        </button>
                    </div>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
</form>
</div>
</section>
<!--This is the template for lookAhead -->
<script type="text/ng-template" id="contactTemplate.html">
    <a>
        <span>{{match.model.lastName + ", " + match.model.firstName}}</span>
    </a>
</script>
