<section >
    <div class="col-md-12 bb-mob-lg">
    <!--<form editable-form name="tableforms" onaftersave="updateStatusHistory();" oncancel="cancel()">
-->
        <!-- table -->
        <!--<table class="table table-bordered table-hover table-condensed">
            <thead>
            <th style="font-weight: bold">
                <td style="width:40%">Name</td>
                <td style="width:30%">Status</td>
                <td style="width:30%">Group</td>
                <td style="width:30%"><span ng-show="tableform.$visible">Action</span></td>
            </th>-->
        <div class="table-responsive">
        <table class="table table-bordered table-hover" ng-show="selOffer.statusHistory.length>0">
            <thead>
            <tr>
                <th>User Name</th>
                <th>Date</th>
                <th>Status</th>
                <th>Comments</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="eachstatusHistory in selOffer.statusHistory track by $id(eachstatusHistory) ">
                <td>
          <span text="eachstatusHistory.displayName">
            {{ eachstatusHistory.displayName || 'empty' }}
          </span>
                </td>
                <td>
          <span text="eachstatusHistory.date">
            {{ eachstatusHistory.date |date:'medium' || 'empty' }}
          </span>
                </td>
                <td>
          <span select="eachstatusHistory.status">
            {{ eachstatusHistory.status || 'empty'}}
          </span>
                </td>

                <td>
          <span text="eachstatusHistory.comments">
            {{ eachstatusHistory.comments || 'empty' }}
          </span>
                </td><!--
								<td>
          <span select="history.paymentMode">
            {{ history.paymentMode || 'empty'}}
          </span>
								</td>
								<td>
          <span text="history.amount">
            {{ history.amount || 'empty' }}
          </span>
								</td>-->
            </tr>
            </tbody>
        </table></div>
       <!-- <table class="table table-bordered table-hover table-condensed" ng-show="tableforms.$visible && statusHistory.length>0">
            <thead>
            <tr>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="eachStatusHistory in statusHistory track by $index ">
                &lt;!&ndash;						<td>
                  <span editable-text="user.date" e-form="tableform" onbeforesave="checkName($data, user.id)">
                    {{ user.date || 'empty' }}
                  </span>
                                        </td>&ndash;&gt;
                <td>
          <span editable-select="eachStatusHistory.status" e-form="tableforms" e-ng-options="g.value as g.text for g in statusTypes">
            {{ showStatusHistory(eachStatusHistory) }}
          </span>
                </td>
                &lt;!&ndash; <span editable-select="history.paymentMode" e-form="tableform"  e-ng-options="g.value as g.text for g in paymentType">
                    {{ showGroup(history) }}
                  </span>
                                        </td>
                                        <td>
                  <span editable-text="history.amount" e-form="tableform">
                    {{history.amount || 'empty' }}
                  </span>
                                        </td>
                        &ndash;&gt;				<td><button type="button" ng-show="tableforms.$visible" ng-click="statusHistory.splice($index, 1);" class="btn btn-danger pull-right">Del</button></td>
            </tr>
            </tbody>
        </table>-->
        <!--	<div class="btn-edit">
                <button type="button" class="btn btn-primary" ng-show="!tableform.$visible" ng-click="tableform.$show()">
                    edit
                </button>
            </div>-->
        <!--<div class="btn-form">
            <button type="button" ng-disabled="tableforms.$waiting" ng-click="tableforms.$show();addStatusHistory();" ng-hide="tableforms.$visible && statusHistory.length!==0" class="btn btn-primary pull-right">Add Status</button>
            <button type="submit" ng-disabled="tableforms.$waiting" ng-show="tableforms.$visible && statusHistory.length>0" class="btn btn-primary">Save</button>
            <button type="button" ng-disabled="tableforms.$waiting" ng-show="tableforms.$visible && statusHistory.length>0" ng-click="tableforms.$cancel();statusHistory=[];" class="btn btn-default">Cancel</button>
        </div>-->
    <!--</form>-->
    </div>
</section>
