<div class="layout-padding" layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
    <div  flex="80" flex-xs="100" flex-sm="90" flex-gt-lg="80" layout="row">
        <div class="nv-position-relative"><md-button class="md-fab md-mini" ng-class="{'md-primary':selectedContacts.length>0}">
            <md-icon class="fa fa-bars fa-lg"></md-icon>
            <md-tooltip>{{selectedContacts.length}} Send Notifications</md-tooltip>
        </md-button>
            <h5 class="nvc-sup-text" ng-show="selectedContacts.length>0">{{(selectedContacts.length>99)?'99+':selectedContacts.length}}</h5>
        </div>
        <div flex><md-chips class="nvc-chips" ng-model="selectedContacts" md-autocomplete-snap="" md-transform-chip="criteriaChips.transformChip($chip)" md-require-match="autocompleteDemoRequireMatch">
            <md-autocomplete  md-selected-item="selectedContactItem" md-search-text="searchOfferContactText" md-items="item in criteriaChips.querySearchContacts(selectedContact,searchOfferContactText)" md-item-text="item.name" placeholder="Search for Contacts ,Groups">
                <span md-highlight-text="searchOfferContactText">{{item.name ? item.name:item.displayName}}</span>
                <md-not-found>
                    <div class="chip-not-found" ng-click="notFound(searchOfferContactText)">Not found. Click here to add new.</div>
                </md-not-found>
            </md-autocomplete>
            <md-chip-template>
                            <span>
                              <strong>{{$chip.displayName?$chip.displayName:$chip.name}}</strong>

                            </span>
            </md-chip-template>
        </md-chips>
        </div>
    </div>
</div>
