<md-input-container class="md-block">
    <label>Payment Terms</label>
    <md-select md-on-open="getCompanyPaymentTerms()" multiple ng-model="paymentTerms"   aria-label="Payment Terms">
        <md-option  id='PT_{{$index}}' ng-repeat="item in paymentterms track by $id(item)" ng-value="item._id">{{item.name}}</md-option>
    </md-select>
</md-input-container>
<md-input-container class="md-block">
    <label>Payment Modes</label>
    <md-select md-on-open="getCompanyPaymentModes()" multiple ng-model="paymentModes"   aria-label="Payment Modes">
        <md-option  id='PM_{{$index}}' ng-repeat="item in paymentmodes track by $id(item)" ng-value="item._id">{{item.name}}</md-option>
    </md-select>
</md-input-container>
