
    <div layout="row" layout-sm="row" layout-xs="row" layout-wrap layout-padding>
        <div flex="100" flex-sm="100" flex-xs="100">
            <md-radio-group ng-model="publicOffer" layout="row">
                <md-radio-button flex="50" ng-value="true" class="md-primary">Public Offer</md-radio-button>
                <md-radio-button flex="50" ng-value="false" class="md-primary">Private Offer</md-radio-button>
            </md-radio-group>
        </div>
        <div flex="50" flex-xs="50" flex-sm="50">
            <md-input-container class="md-block bb-wid-100">
                <label>Offer Name</label>
                <input ng-model="offerName" required name="offerName">
                <div ng-messages="offerName.$error">
                    <div ng-message="required">Name is required.</div>
                </div>
            </md-input-container>
        </div>
        <div flex="50" flex-xs="50" flex-sm="50">
            <md-input-container class="md-block bb-wid-100">
                <!-------- Applicable Location needs to be implemented--------------->
                <label>Applicable Location</label>
                <input ng-model="applicableLocation">
            </md-input-container>
        </div>
        <div flex="50" flex-sm="50" flex-xs="50">
                <label>Valid From</label>&nbsp;&nbsp;
                <md-datepicker required class="nvc-date-picker" ng-model="validFrom" md-max-date="validTill"  md-open-on-focus >
                </md-datepicker>
        </div>
        <div flex="50" flex-xs="50" flex-sm="50">
                <label>Valid Till</label>&nbsp;&nbsp;
                <md-datepicker required class="nvc-date-picker" ng-model="validTill" md-min-date="validFrom" md-open-on-focus >
                </md-datepicker>
        </div>
    </div>

