<div  class="layout-padding" layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
    <div flex="50" flex-sm="50" flex-xs="100">
        <md-input-container class="md-block bb-wid-100">
            <label>Total order Quantity</label>
            <!--------- Offer total order quantity needs to be implemented ---------->
            <md-select ng-model="totalOrderQuantity" >
                <md-option>Some</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div flex="50" flex-sm="50" flex-xs="100">
        <md-input-container class="md-block bb-wid-100">
            <label>in multiples of</label>
            <!--------- Offer in multiples of needs to be implemented ---------->
            <md-select ng-model="inMultiplesOf" >
                <md-option>Some</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div layout="row" flex="100" flex-sm="100" flex-xs="100" ng-repeat="unit in offer.units" >
        <div flex="50">
            <md-icon ng-if="$index>0" class="fa fa-minus-circle fa-2x nv-red" aria-label="favourite" ng-click="offerUnits.splice($index,1)">
                <md-tooltip>Remove Inventory</md-tooltip>
            </md-icon>
            <md-icon ng-if="$index===0" class="md-primary fa fa-plus-circle fa-2x" aria-label="favourite" ng-click="addofferUnits()">
                <md-tooltip>Add Inventory</md-tooltip>
            </md-icon>
            <md-input-container class="md-block">
                <label>No. Of Units</label>
                <!------ this needs to be added-->
                <input ng-model="unit.noOfUnits">
            </md-input-container>
        </div>
        <div flex="50">
            <md-input-container class="md-block">
                <label>Unit of Measure</label>
            </md-input-container>
        </div>
    </div>
            <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                <md-input-container>
                    <label>Payment Terms</label>
                  <md-select md-on-open="paymentsTerms()" multiple ng-model="paymentTerms"   aria-label="Payment Terms">
                        <md-option  id='PT_{{$index}}' ng-repeat="item in paymentterms track by $id(item)" ng-value="item._id">{{item.name}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
</div>

