

<div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>
    <div flex="50" flex-xs="50" flex-sm="50">
        <md-input-container class="md-block bb-wid-100">
            <label>Product Selection Type</label>
            <md-select ng-model="inventoryItemsClassification.classificationType">
                <md-option ng-repeat="type in inventoryItemsClassification.classificationTypes" class="md-primary" ng-click="show2 = false" ng-value="type.value">{{type.text}}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div flex="100" ng-show="inventoryItemsClassification.classificationType==='Custom'">
        <h6 class="nvc-create-content-prod" >{{getOfferProducts()}} Products selected</h6>
        <span ng-click="changeUrl()">Change</span>
    </div>
    <div  flex="80" flex-xs="100" flex-sm="90" flex-gt-lg="80" layout="row" ng-show="inventoryItemsClassification.classificationType==='Criteria'">

        <div class="nv-position-relative"><md-button class="md-fab md-mini" ng-class="{'md-primary':selectedCategories.length>0}">
            <md-icon class="fa fa-bars fa-lg"></md-icon>
            <md-tooltip>{{selectedCategories.length}} Products selected</md-tooltip>
        </md-button>
            <h5 class="nvc-sup-text" ng-show="selectedCategories.length>0">{{(selectedCategories.length>99)?'99+':selectedCategories.length}}</h5>
        </div>
        <div flex><md-chips class="nvc-chips" ng-model="selectedCategories" md-autocomplete-snap="" md-transform-chip="criteriaChips.transformChip($chip)" md-require-match="autocompleteDemoRequireMatch">
            <md-autocomplete md-selected-item="selectedCategoryItem" md-search-text="searchOfferCategoryText" md-items="itemCategory in criteriaChips.querySearchCategory(selectedCat,searchOfferCategoryText)" md-item-text="itemCategory.name" placeholder="Search for Category ,Products, Brands">
                <span md-highlight-text="searchOfferCategoryText">{{itemCategory.name}} :: {{itemCategory.type}}</span>
                <md-not-found>
                    <div class="chip-not-found" ng-click="notFound(searchOfferCategoryText)">Not found. Click here to add new.</div>
                </md-not-found>
            </md-autocomplete>
            <md-chip-template>
                            <span>
                              <strong>{{$chip.name}}</strong>
                                <!--<em>({{$chip.type}})</em>-->
                            </span>
            </md-chip-template>
        </md-chips>
        </div>
        <div>
            <md-button type="button" class="md-fab md-mini" ng-class="{'md-primary':selectedCategories.length>0}" ng-click="importInventory()">
                <md-icon class="fa fa-download fa-lg"></md-icon>
                <md-tooltip>Fetch Data</md-tooltip>
            </md-button>
        </div>

        <!-- </md-content>-->
    </div>
</div>



