<section data-ng-controller="OffersEditController" data-ng-init="findOne();">
    <div class="page-header">
        <h1>Edit Offer {{offer.offerNumber}}</h1>
    </div>
    <div class="col-md-12">
        <form editable-form name="updateform" onaftersave="update()"  oncancel="cancel()"
              novalidate>
            <fieldset>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2" ng-repeat="item in offerTypes" for="{{item}}">

                            <input ng-change="changeFields(this);" type="radio"
                                   ng-model="offer.role"
                                   ng-value="item"
                                   id="{{item}}"
                                   name="role">  {{item}}
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label" for="name">Offer Name</label>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" data-ng-model="offer.name" id="name" autocomplete="off" name="name" class="form-control" placeholder="offer Name" maxlength="128" >
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label">To</label>
                        </div>
                        <div class="col-sm-2">
                            <select style="width: 400px;" ui-select2="select2Options" multiple init-selection="offer.toAllContacts" data-ng-model="offer.toAllContacts">
                                <option ng-repeat="item in offer.selectedContacts" ng-selected="item.selected" value={{item.eachObject}} ng-click="item.eachObject.selected=true">{{(item.eachObject.firstName?item.eachObject.firstName:item.eachObject.name)+(item.eachObject.middleName?' '+item.eachObject.middleName:'')+(item.eachObject.lastName?' '+item.eachObject.lastName:'')}}</option>
                            </select>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label" for="validTill">Valid Till</label>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" data-ng-model="offer.validTill" id="validTill" name="validTill"
                                   class="form-control" datepicker-popup="dd-MMMM-yyyy" datepicker-append-to-body="true"
                                   is-open="data.isOpen" ng-click="data.isOpen = true;">
                        </div>
                    </div>
                </div>
                <div class="panel panel-default table-responsive" data-ng-init="findProducts();" ng-show="offer.products.length>0">
                    <div class="panel-heading"><h4><span class="label label-primary">Products</span></h4></div>
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Unit Indicative Price</th>
                            <th>Unit Size</th>
                            <th>Unit Measure</th>
                            <th>Units Available</th>
                            <th>MOQ</th>
                            <th>Margin (%)</th>
                            <th>Available Date</th>
                            <th>Sample Available</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="product in offer.products track by $index">
                            <td>
                                <span ng-show="!updateform.$visible">
                                    <div>
                                        <img data-ng-src="{{product.product.productImageURL1}}" alt="{{product.product.name}}"
                                             class="img-thumbnail product-profile-picture">
                                    </div>
                                   <a data-ng-href="products/{{product.product._id}}{{((authentication.user) && (authentication.user._id == product.product.user))?'/edit':''}}">{{product.product.name}}</a>
                                </span>
                                <span  ng-show="updateform.$visible" editable-text="product.product"  e-typeahead-on-select="selectProduct($item, $index);"
                                       e-name="name"
                                       e-typeahead="metaProduct as metaProduct.name for metaProduct in filterByProductName(metaProducts, $viewValue)"
                                       e-form="updateform" e-autocomplete="off">
          {{ product.name || 'empty' }}</span></td>
                            <td>
                                <span ng-show="!updateform.$visible" data-ng-bind="product.unitIndicativePrice" e-form="updateform"></span>
                                <span ng-show="updateform.$visible" editable-text="product.unitIndicativePrice" e-name="unitIndicativePrice" e-form="updateform" e-ng-change="changeProductIndicativePrice($index,this);">
          {{ product.subCategory || 'empty' }}</span></td>
                            <!--				<td>
                                                <span ng-show="!updateform.$visible" data-ng-bind="product.sampleNumber" e-form="updateform"></span>
                                                <span ng-show="updateform.$visible" editable-text="product.sampleNumber" e-ng-bind="product.sampleNumber" e-ng-change="changeProductSampleNumber($index,this);" e-name="sampleNumber" e-form="tableform">
                          {{ product.sampleNumber || 'empty' }}</span>
                                            </td>-->
                            <td>
                                <span  data-ng-bind="product.product.unitSize" e-form="updateform"></span>
                            <!--    <span ng-show="updateform.$visible" editable-text="product.unitSize" e-ng-change="changeProductUnitSize($index,this);" e-name="unitSize" e-form="tableform">
          {{ product.unitSize || 'empty' }}</span>-->
                            </td>
                            <td>
                                <span data-ng-bind="product.product.unitMeasure" e-form="updateform"></span>
                               <!-- <span ng-show="updateform.$visible" editable-text="product.unitMeasure" e-ng-change="changeProductUnitMeasure($index,this);" e-name="unitMeasure" e-form="tableform">
                                {{ product.unitMeasure || 'empty' }}</span>-->
                            </td>
                            <td>
                                <span ng-show="!updateform.$visible" data-ng-bind="product.numberOfUnitsAvailable" e-form="updateform"></span>
                                <span ng-show="updateform.$visible" editable-text="product.numberOfUnitsAvailable" e-ng-change="changeProductNumberOfUnitsAvailable($index,this);"
                                      e-name="numberOfUnitsAvailable"
                                      e-form="updateform">{{ product.numberOfUnitsAvailable || ''}}</span>
                            </td>
                            <td>
                                <span ng-show="!updateform.$visible" data-ng-bind="product.MOQ" e-form="updateform"></span>
                                <span ng-show="updateform.$visible" editable-text="product.MOQ" e-ng-change="changeProductMOQ($index,this);" e-name="MOQ" e-form="tableform">
                                {{ product.MOQ || 'empty' }}</span>
                            </td>
                            <td>
                                <span data-ng-bind="((product.product.unitPrice-product.unitIndicativePrice)/product.product.unitPrice)*100 | number:2" e-form="updateform"></span>
                               <!-- <span ng-show="updateform.$visible" editable-text="product.margin" e-ng-change="changeProductMOQ($index,this);" e-name="margin" e-form="tableform">
                                {{ product.margin || '' }}</span>-->
                            </td>

                            <td>
                                <span ng-show="!updateform.$visible" e-form="updateform">{{(product.availableDate| date:"dd-MMMM-yyyy") || '' }}</span>
							 <span ng-show="updateform.$visible" editable-text="product.availableDate" e-datepicker-popup="dd-MMMM-yyyy" e-name="availableDate" e-ng-change="changeProductAvailableDate($index,this);"
                                   e-form="updateform">
                                {{(product.availableDate| date:"dd-MMMM-yyyy") || '' }}</span>
                            </td>

                            <td>
                            <span ng-show="!updateform.$visible"  data-ng-bind="product.sampleAvailable? 'Yes':'No'" e-form="updateform"></span>
                    <span e-title="IsSample" ng-show="updateform.$visible" editable-checkbox="product.sampleAvailable" e-form="updateform" e-ng-change="changeProductSampleAvailable($index,this);"> {{product.sampleAvailable}}
                    </span>
                            </td>

                            <td ng-show="updateform.$visible">
                                <button type="button" ng-show="updateform.$visible" ng-click="offer.products.splice($index, 1)"
                                        class="btn btn-danger pull-right">-
                                </button>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <!-- buttons -->
                <div class="form-group">
                    <div class="btn-form">
                        <button ng-show="updateform.$visible" type="button" class="btn btn-default pull-right"
                                ng-click="updateProducts(offer);">
                            ADD Product
                        </button>
                        <button ng-show="!updateform.$visible" type="button" class="btn btn-default pull-right"
                                ng-click="updateform.$show();updateProduct(offer);">
                            Edit Product
                        </button>
                        <button type="submit" class="btn btn-primary" ng-disabled="offer.products.length==0" ng-click="offer.offerStatus='Opened'">Place Offer</button>
                        <button type="submit" class="btn btn-primary">Draft Offer</button>
                        <button type="button"  ng-click="clearFields();offerRedirection();"
                                class="btn btn-default">Cancel
                        </button>
                    </div>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
<script>
   $('#mySel2').select2({
        closeOnSelect:false
    });
 /*   $('#mySel2').select2({
        formatSelection: function(item) {
            // Debugging -- open the developer console to see what you can access from the item object
            /!*console.dir(item);*!/

            return '<strong>' + item.id + '</strong>';
        },
        initSelection: function(element, callback){
            var preselected_ids = extract_preselected_ids(element);
            var preselections = find_preselections(preselected_ids);
            callback(preselections);
        }
    });*/

 /*  $('select').select2({
       formatSelection: function(item) {
           // Debugging -- open the developer console to see what you can access from the item object
           console.dir(item);

           return '<strong>' + item.id + '</strong>';
       }
   });*/

 /*  var foundKeyword = $('#mySel2').find('option[value='+es.tag+']').text();
   $('.select2-choices').prepend("<li class='select2-search-choice'><div>" + foundKeyword + '</div><a href="#" class="select2-search-choice-close" tabindex="-1"></a></li>");
   $('.select2-search-field input').attr('aria-activedescendan','select2-result-label-25');
   $('.select2-search-field input').css('width', '10px');
   $('.select2-search-field input').removeClass('select2-default');*/


</script>
