<section class="wrapper firsec-bg" data-ng-controller="OffersController" data-ng-init="findMainCategories();">
    <div class="col-lg-12 m-top40">

        <ol class="breadcrumb">
            <li><i class=""></i><a href="">Agriculture</a></li>
            <li><i class=""></i>Vegetables</li>
        </ol>


<div ng-repeat="category in categories">


    <div class="col-lg-12 col-sm-12  public-off m-top40">
        <div class="col-lg-2 col-sm-3 col-md-3 pop m-bot15"

             ng-repeat="child in category.children">
            <a href="/offers/:offerId/edit">
                <img data-ng-src={{child.categoryImageURL1}}
                     class="img-responsive img-center p-img-fix" alt="">
            </a>
            <p class="f-13 text-center">{{child.name}}</p>
        </div>
    </div>
</div>
        </div>
    </section>
