<div layout-fill data-ng-controller="OffersController" data-ng-init="findInit()">
    <!-------- Head Bar ------->
    <head-bar nvipanipath="context" isbusinessunitslist="true" change-business-unit="changeSelectionTabByIndex(busUnitId,selectedIndex)">
    </head-bar>
    <md-divider></md-divider>
    <div id="tab-content-off" class="nvc-content">
        <md-tabs md-dynamic-height md-selected="selectedIndex" ng-show="showViewAll || selectedIndex===2">
            <md-tab label="{{tab.title}}" ng-repeat="tab in tabs track by $id(tab)"
                    ng-click="changeSelectionTab(busUnitId,tab.type);" >
                <md-content ng-show="(getMyOfferIndex('MyOffers')  || getMyOfferIndex('ReceivedOffers') ) && showViewAll">
                    <!-------- Action Bar ----->
                    <action ng-show="offerfilters && offerfilters.Count>0"  nvactions="offerfilters" filter-summary="getOffersFilterSummary(filterKey,filterCount,toggle)" page="'offers'"></action>
                    <!-- <div class="table-responsive-vertical shadow-z-1">-->
                    <div flex="100" flex-xs="100" layout="row" layout-align="center center">
                        <div flex="80" ng-if="showViewAll && selectedIndex!==2" class="nvc-padding-0"
                             ng-show="offers.length>0">
                            <span id={{selectedIndex}} search-fields=searchText[queryBy] search-query=queryBy
                                  field="offer" class="bb-wid-100"></span>
                        </div>
                        <div flex></div>
                        <!--    <div ng-if="selectedIndex===0">
                                <md-menu class="nvc-menu">
                                    <md-button ng-click="$mdOpenMenu($event)">
                                        New
                                        <span class="caret"></span>
                                    </md-button>
                                    <md-menu-content>
                                        <md-menu-item>
                                            <md-button md-autofocus ng-click="panelChange(null,'add',selectedIndex)">
                                                <md-icon class="fa fa-plus"> </md-icon> New Offer
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </div>-->
                        <div ng-show="getMyOfferIndex('MyOffers') && offers.length>0&&authentication.companyBusinessUnits.userGroup.name === 'Admin'">
                            <md-menu class="nvc-menu">
                                <md-button ng-click="$mdOpenMenu($event)" class="md-primary md-raised nvc-shape-pill">
                                    Group Actions
                                    <span class="caret"></span>
                                </md-button>
                                <md-menu-content>
                                    <md-menu-item>
                                        <md-button md-auto-focus ng-click="batchOffers(0)">
                                            <md-icon class="fa fa-trash"></md-icon>
                                            Delete
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="batchOffers(1)">
                                            <md-icon class="fa fa-ban"></md-icon>
                                            Disable
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="batchOffers(2)">
                                            <md-icon class="fa fa-check"></md-icon>
                                            Enable
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>

                        <div ng-show="getMyOfferIndex('MyOffers')  && offers.length>0 && (authentication.companyBusinessUnits.userGroup.name === 'Manager'
                        || authentication.companyBusinessUnits.userGroup.name ==='Admin')">
                            <md-menu class="nvc-menu">
                                <md-button ng-click="$mdOpenMenu($event)"
                                           class="md-primary md-raised nvc-shape-pill nvc-margin-right-0">
                                    New
                                    <span class="caret"></span>
                                </md-button>
                                <md-menu-content>
                                    <md-menu-item>
                                        <md-button md-autofocus
                                                   ng-click="panelChange(null,'add',selectedIndex,'Sell');">
                                            <md-icon class="fa fa-plus"></md-icon>
                                            Sale Offer
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button md-autofocus
                                                   ng-click="panelChange(null,'add',selectedIndex, 'Buy');">
                                            <md-icon class="fa fa-plus"></md-icon>
                                            Buy Offer
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>

                    </div>
                    <div ng-show="offers.length === 0">
                        <div layout="row" layout-wrap layout-align="center center" class="nvc-no-list-illustration">
                            <div flex="15">
                                <img src="/modules/inventories/img/profile/zero-offers.png" class="bb-wid-100">
                            </div>
                            <div flex="100" class="nv-text-center">
                                <h4 class="nv-text-bold">There are no offers available</h4>
                                <h5 ng-show="selectedIndex===0">Looks like you haven't created any offers yet</h5>
                            </div>
                            <div flex="100" layout="row" layout-align="center center" class="submenu" ng-show="selectedIndex===0 && (authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager')">
                                <md-button class="md-primary nvc-shape-pill nvc-accent-border"
                                           ng-click="panelChange(null,'add',selectedIndex,'Sell');">Create Sale Offer
                                </md-button>
                                <md-button class="md-primary nvc-shape-pill nvc-accent-border"
                                           ng-click="panelChange(null,'add',selectedIndex, 'Buy');">Create Buy Offer
                                </md-button>
                            </div>
                        </div>
                    </div>
                    <view-offer-list ng-show="offers.length>0" hide-xs></view-offer-list>
                    <div ng-show="offers.length>0" hide-gt-xs>
                        <view-offer-cards dir-paginate="offer in offers| orderBy:'-created' | filter:searchText |itemsPerPage :itemsPerPage" pagination-id="paginationId" total-items="total_count"></view-offer-cards>
                        <div class="nv-text-right">
                            <dir-pagination-controls pagination-id="paginationId" on-page-change="find(selectedIndex,newPageNumber)"
                                                     max-size="8"
                                                     direction-links="true"
                                                     boundary-links="true" >
                            </dir-pagination-controls>
                        </div>
                    </div>
                </md-content>

                <md-content class="md-padding" ng-show="selectedIndex===2">
                    <h2 class="md-title">Public Offers</h2>

                    <div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
                         layout-wrap>
                        <md-card flex="18" flex-xs="80" flex-sm="30" flex-gt-lg="15">
                            <md-list-item md-no-ink ng-class="{'bb-md-list-arrow': category.name === tag}"
                                          ng-show="categories.length>0"
                                          ng-repeat="category in categories | orderBy:'name'"
                                          ng-click="changeType(category.name)">{{category.name}}
                                {{category.children.length
                                > 0?'( '+category.children.length+' )':''}}

                            </md-list-item>

                        </md-card>
                        <md-card class="bb-order-summary" flex="80" flex-xs="100" flex-sm="65" flex-gt-lg="80">
                            <div ng-repeat="category in categories | filter:tag | orderBy:name"
                                 data-ng-class="{active: category.name === tag}">

                                <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100" class="bb-public-off">
                                    <div layout-padding layout="row" layout-xs='row' layout-xs="column"
                                         layout-sm="row" layout-gt-lg="row" layout-wrap>

                                        <div flex="25" flex-xs="100" flex-sm="33" flex-gt-lg="15"
                                             class="bb-pop-less"
                                             ng-repeat="child in category.children | orderBy:'name'">
                                            <a href="#!/categories/{{child._id}}">
                                                <img data-ng-src={{child.categoryImageURL1}}
                                                     class="img-responsive bb-img-center bb-prod-img-fix"
                                                     alt="">
                                            </a>

                                            <p class="text-center md-body-2">{{child.name}} {{child.children.length > 0?'( '+child.children.length+')':''}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </md-card>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
        <add-offer isAddOffer="true" selectedTab="0" selectedPage="0" allcategoriesproducts="allCategoriesProducts" ng-show="showAddOffer"></add-offer>
    </div>
</div>
