<section data-ng-controller="OffersController" data-ng-init="find()">
    <div class="panel-body">

        <!-- <div  class="pull-left">
             <a class="btn" data-ng-click="addOffer=true;" title="Add Contact">
                 <i class="glyphicon glyphicon-plus"></i>  Add Offer
             </a>
         </div>-->
    </div>
    <div class="panel-body">
        <a class="btn pull-right" href="/offers/create" title="Add Order"> <i class="glyphicon glyphicon-plus"></i>Create
            Offer</a>
        <ul class="tabrow" ng-init="selectedTab = 'MyOffers';">
            <li id="MyOffers" ng-class="{'active':selectedTab === 'MyOffers'}" data-ng-click="selectedTab = 'MyOffers';find();">MyOffers</li>

            <li id="PublicOffers" ng-class="{'active':selectedTab === 'PublicOffers'}" data-ng-click="selectedTab = 'PublicOffers';findSpecific();">Public Offers</li>
        </ul>
        <div class="clearboth list-group">
            <div class="clearboth table-responsive panel panel-default">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <th>#</th>
                    <th>Offer Number</th>
                    <th>Offer Name</th>
                    <th>Offer Products</th>
                    <th>Offer Created</th>
                    <th>Created User</th>
                    <th>Offer Valid Date</th>
                    <th>Offer Role</th>
                    <th>Offer Status</th>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="offer in offers track by $index" ng-init="findProducts(offer.products)">
                        <td scope="row">{{$index+1}}</td>
                        <td ng-show="offer.offerStatus=='Drafted'"><a data-ng-href="offers/{{offer._id}}/edit">{{offer.offerNumber}}</a>
                        </td>
                        <!--    <td ng-show="order.currentStatus=='Opened'"><a data-ng-href="#!/orders/{{order._id}}/change">{{order.orderNumber}}</a></td>-->
                        <td ng-show="offer.offerStatus!=='Drafted'"><a data-ng-href="offers/{{offer._id}}">{{offer.offerNumber}}</a>
                        </td>
                        <td>
                            {{offer.name}}
                        </td>
                        <td>
                            <span data-ng-repeat="product in offer.products track by $index">{{product.product.name}}{{offer.products.length-1===$index? '' : ', '}}</span>

                        </td>

                        <td>{{offer.created | date:'medium'}}</td>
                        <td>{{offer.user.displayName}}</td>
                        <td>{{offer.validTill | date:'dd-MM-yyyy'}}</td>
                        <td>
                            {{offer.role}}
                        </td>
                        <td>
                            {{offer.offerStatus}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--   <div class="alert alert-warning text-center" data-ng-hide="!offers.$resolved || offers.length">
               No Offers yet, why don't you <a href="/offers/create">create one</a>?
           </div>
   -->

    </div>
    <!-- <add-offer data-ng-show="addOffer"></add-offer>-->
</section>

