<md-card class="md-whiteframe-3dp nvc-padding-0">
    <div layout-xs="row" layout="row" layout-padding class="nvc-margin-5">
        <div flex="33" flex-xs="33"  class="nvc-primary-color nv-text-center">
            <h6 class="nv-text-bold">{{offer.offerType}} Offer</h6>
            <h3 class="nvc-margin-0 nv-text-bold">20 %</h3>
            <h5 class="nv-text-bold">Till- {{offer.validTill | date:"dd-MM-yyyy"}}</h5>
        </div>
        <md-divider class="nvc-margin-right-3"></md-divider>
        <div flex="66" flex-xs="66">
            <h4 class="nv-text-bold">{{offer.name}}</h4>
            <h6 layout="row" layout-align="start center">Status: <span><md-chips>
                <md-chip class="bb-chips-custom"
                         ng-class="{'confirmed': offer.offerStatus === 'Confirmed', 'inprogress': offer.offerStatus === 'InProgress', 'draft': offer.offerStatus === 'Drafted' , 'shipped': offer.offerStatus === 'Shipped' ,'placed': offer.offerStatus === 'Opened'|| offer.offerStatus === 'Placed' , 'expire': offer.currentStatus === 'Rejected',  'complete': offer.offerStatus === 'Completed' ,  'delivered': offer.offerStatus === 'Delivered' ,  'cancelled': offer.offerStatus === 'Cancelled'}">
                    {{offer.offerStatus}}<span ng-show="offerUpdateStatusEditButton(offer)" ng-click="changeStatusOffer(offer);"
                                               class="fa fa-pencil bb-cursor bb-text-center nvc-padding-left-10 "></span>
                </md-chip>
            </md-chips></span></h6>
            <h6>Owner: {{offer.user.company.name}}</h6>
        </div>
    </div>
    <div class="nvc-accent-background nv-text-center" ng-click="changeSelOffer(offer)">
        <h5 class="nv-text-bold nvc-primary-color"><span class="fa fa-eye"></span>&nbsp;&nbsp;&nbsp;View</h5>
    </div>
</md-card>

