<table id="table" class=" bb-wid-100 nvc-content-table" ng-show="offers.length>0">

    <thead>
    <tr>
        <!-- <th>ID</th>-->
        <td ng-show="getMyOfferIndex('MyOffers')  && (authentication.companyBusinessUnits.userGroup.name === 'Admin')"><nv-check-box  selectedlist="selectedList" orginallist="offers" sort-by="-created"></nv-check-box><!--<md-checkbox ng-model="selectedAll" class="md-primary ng-hide" aria-label="batch operations" data-ng-value="selectedOffers.length === inventories.length"
                                                     md-indeterminate="filterSelectedOffers().length>0 && filterSelectedOffers().length<inventories.length"></md-checkbox>--></td>
        <td>Offer Details</td>
        <td>Type</td>
        <td>Valid Till</td>
        <td>Owner</td>
        <!--  <th>Total Amount</th>
          <th>Paid Amount</th>
          <th>Buyer</th>-->
        <td>Status</td>
        <td ng-show="getMyOfferIndex('MyOffers') && (authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager')">Action</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="offer in offers| orderBy:'-created' | filter:searchText |itemsPerPage :itemsPerPage" pagination-id="paginationId" total-items="total_count">
        <td ng-show="getMyOfferIndex('MyOffers') && (authentication.companyBusinessUnits.userGroup.name === 'Admin')"><h5><md-checkbox aria-label="offer" ng-model="offer.selected" class="md-primary"></md-checkbox></h5></td>
        <td data-title="Offer Name" ng-click="changeSelOffer(offer)" aria-label="Number">
            <h5 class="nv-text-bold">{{offer.name}}</h5>
            <h6>Offer No: {{offer.offerNumber}}</h6>
        </td>
        <td data-title="Offer Type">
            {{offer.offerType}}</td>
        <td data-title="Valid Till">
            {{offer.validTill | date:"dd-MM-yyyy"}}</td>
        <td data-title="Seller">
            <a target='_blank' ng-href="#!/companyPublicPage/{{offer.owner.company.profileUrl}}" class="nvc-primary-color bb-truncate">{{offer.owner.company.name}}</a>
        </td>
        <td data-title="Status">
            <div flex="100" layout="row">
               <md-chips>
                    <md-chip class="bb-chips-custom"
                             ng-class="{'confirmed': offer.offerStatus === 'Confirmed', 'inprogress': offer.offerStatus === 'InProgress', 'draft': offer.offerStatus === 'Drafted' , 'shipped': offer.offerStatus === 'Shipped' ,'placed': offer.offerStatus === 'Opened'|| offer.offerStatus === 'Placed' , 'expire': offer.currentStatus === 'Rejected',  'complete': offer.offerStatus === 'Completed' ,  'delivered': offer.offerStatus === 'Delivered' ,  'cancelled': offer.offerStatus === 'Cancelled'}">
                        {{offer.offerStatus}}
                    </md-chip>
                </md-chips>
            </div>

        </td>
        <td data-title="Actions" ng-show="getMyOfferIndex('MyOffers')  && (authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager')">
            <!--<md-menu>
                <md-button class="md-primary" ng-click="$mdOpenMenu($event)" aria-label="open-actions">Actions <span class="fa fa-chevron-down"></span></md-button>
                <md-menu-content>
                    <md-menu-item ng-show="offer.offerStatus!=='Drafted' && offer.user._id===authentication.user._id ">
                        <md-button ng-click="cloneOffer()" aria-label="copy-offer"><md-icon class="fa fa-clone"></md-icon> Copy Offer</md-button>
                    </md-menu-item>
                    <md-menu-item ng-show="offer.offerStatus==='Drafted'"">
                    <md-button ng-click="offer.offerStatus='Opened';updateOfferStatus()" aria-label="place-offer"><md-icon class="fa fa-check"></md-icon> Open offer</md-button>
                    </md-menu-item>
                    <md-menu-item ng-show="(authentication.companyBusinessUnits.userGroup.name === 'Admin')">
                        <md-button ng-click="remove(offer)" aria-label="delete-offer"><md-icon class="fa fa-trash"></md-icon> Delete Offer</md-button>
                    </md-menu-item>
                    &lt;!&ndash;<md-menu-item>
                        <md-icon class="fa fa-book"></md-icon><md-button ng-click="createOrder(offer)" aria-label="create-order">Create Order</md-button>
                    </md-menu-item>&ndash;&gt;
                </md-menu-content>
            </md-menu>-->
            <md-button ng-click="cloneOffer()" aria-label="copy-offer"><md-icon class="fa fa-clone"></md-icon> Copy Offer</md-button>

            <!-- <div flex="100" layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row">
                &lt;!&ndash; <div flex="40" flex-xs="100" flex-sm="25" flex-gt-lg="15" ng-if="offer.offerStatus!=='Drafted' && offer.products.length>0" ng-show="!(offer.offerStatus==='Cancelled' || offer.offerStatus==='Completed' || offer.offerStatus==='Expired')">
                     <md-button type='button'
                                ng-click="createOrder(offer);" class="md-raised md-primary">Create Order
                     </md-button>
                 </div>&ndash;&gt;
                 <div flex="80"  flex-xs="100" flex-sm="80" flex-gt-lg="50" ng-if="offer.offerStatus!=='Drafted' && offer.user._id===authentication.user._id ">
                     <md-button type='button' ng-click="cloneOffer();"
                                class="md-raised md-primary">Copy Offer
                     </md-button>
                 </div>
                 <div flex="80" flex-xs="100" flex-sm="80" flex-gt-lg="50" ng-if="offer.offerStatus==='Drafted'">
                     <md-button ng-click="offer.offerStatus='Placed';updateOfferStatus()"
                                class="md-raised md-primary">Place Offer
                     </md-button>



                 </div>
                 <div flex="20" flex-xs="100" flex-sm="20" flex-gt-lg="50"> <span ng-click="remove(offer);" class="fa bb-cursor" flex="10" ng-class="{'fa-trash bb-sample-icon':offer.offerStatus === 'Drafted' || offer.offerStatus === 'Cancelled' ||  offer.offerStatus === 'Expired'}"></span></div>

                     </div>-->
        </td>
        <td class="nvc-primary-color bb-cursor" ><a data-ng-href="#!/offers/{{offer._id}}">view&nbsp;&nbsp; <span class="fa fa-eye"></span></a></td>
    </tr>
    </tbody>
</table>

<div class="nv-text-right">
    <dir-pagination-controls pagination-id="paginationId" on-page-change="isFilterSummary?offersFilterSummary(null,null,newPageNumber):find(selectedIndex,newPageNumber)"
                             max-size="8"
                             direction-links="true"
                             boundary-links="true" >
    </dir-pagination-controls>
</div>
