<section class="main-content" data-ng-controller="OffersController" data-ng-init="findInit();panelChange('','');findContactVSGroups();findProducts();toggleSideNavigation('left','');">




    <div ng-cloak>
        <md-content class="bb-min-height">
            <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
                <md-tab  label="{{tab.title}}" ng-repeat="tab in tabs" ng-click="selectedtab=tab.type;changeSelectionTab();" >
                    <!--  <md-tab label="MY OFFERS" ng-click="find(false);">-->
                    <md-content ng-show="tab.type==='MyOffers' || tab.type==='ReceivedOffers'" class="">

                        <section layout="row" flex>
                            <md-sidenav
                                    class="md-sidenav-left"
                                    md-component-id="left"
                                    md-is-locked-open="$mdMedia('gt-md')"
                                    md-disable-backdrop
                                    md-whiteframe="4">

                                <md-content layout-padding>
                                    <!--<md-button ng-click="closeleft()" class="md-primary" hide-gt-md>-->
                                    <!--Close Sidenav Left-->
                                    <!--</md-button>-->

                                    <md-list>
                                        <md-list-item class="noright">
                                            <input class="form-control" placeholder="Search..." type="text" data-ng-model="searchOfferText">
                                        </md-list-item>
                                        <md-list-item class="noright" ng-if="tab.type==='MyOffers'">
                                            <md-button data-ng-click="panelChange('','add')"  class="md-raised md-primary wid-100">Create New Offer</md-button>
                                        </md-list-item>

                                        <md-divider></md-divider>

                                        <md-list>
                                            <md-subheader class="md-no-sticky">Filters</md-subheader>
                                            <md-divider></md-divider>

                                            <div layout-margin layout="row" layout-xs="column" layout-sm="column" layout-gt-lg="row" layout-wrap>
                                                <div  layout-fill flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="25">
                                                    <md-checkbox>ALL</md-checkbox></div>
                                                <div  layout-fill flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="25">
                                            <md-checkbox>Opened</md-checkbox></div>
                                                <div  layout-fill flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="25">
                                            <md-checkbox>Completed</md-checkbox></div>

                                                <div  layout-fill flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="25">
                                            <md-checkbox>Expired</md-checkbox></div>
                                                <div  layout-fill flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="25">
                                            <md-checkbox>Drafted</md-checkbox></div>
                                                </div>


                                            <!--<md-list-item data-ng-repeat="offer in offers | filter:filterOffer |orderBy:'created'" class="noright" ng-click="changeSelOffer(offer);panelChange(offer,'view');toggleSideNavigation('left','close');" ng-class="{active:selOffer._id === offer._id}">-->

                                                <!--<p class="limit">{{offer.name}}</p>-->
                                                <!--<md-chips>-->
                                                    <!--<md-chip class="bb-chips-custom" ng-class="{'draft': offer.offerStatus === 'Drafted', '': order.currentStatus === 'Placed' ,  'complete': offer.offerStatus === 'Completed' ,  'expire': offer.offerStatus === 'Expired'}"-->
                                                    <!--&gt;{{offer.offerStatus}}</md-chip>-->
                                                <!--</md-chips>-->
                                                <!--&lt;!&ndash;<p class="label label-blue" >{{offer.offerStatus}}</p>&ndash;&gt;-->
                                                <!--<span class="fa fa-trash-o f20 md-secondary" ng-click="changeSelOffer(offer);remove();" confirm-click="Are you sure you want to delete this group '{{offer.name}}' ?"></span>-->
                                                <!--&lt;!&ndash;<md-icon class="md-secondary"><i class="fa fa-trash-o f20"></i></md-icon>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<span class="label label-blue gname limit" data-ng-class="{'label-blue': offer.offerStatus === 'Drafted', 'placed': order.currentStatus === 'Placed' ,  'complete': offer.offerStatus === 'Completed' ,  'expire': offer.offerStatus === 'Expired'}">&ndash;&gt;-->

                                                <!--&lt;!&ndash;{{offer.offerStatus}}</span>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<md-icon md-svg-icon="communication:email"  ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3" ></md-icon>&ndash;&gt;-->


                                                <!--&lt;!&ndash;<md-icon class="md-secondary"></md-icon>&ndash;&gt;-->

                                                <!--<md-divider></md-divider>-->

                                            <!--</md-list-item>-->

                                        </md-list>




                                        <!--</md-list>-->

                                        <!--<md-list ng-cloak>-->
                                        <!--<md-subheader class="md-no-sticky">GROUPS</md-subheader>-->
                                        <!--<md-divider></md-divider>-->

                                        <!--&lt;!&ndash;<md-list-item class="noright" data-ng-repeat="group in groups | orderBy:'created'| filter:filterGroup" ng-click="panelChange(group,'');changeSelGroup(group,false);toggleGroupView();">&ndash;&gt;-->

                                        <!--&lt;!&ndash;<p>{{ group.name }}</p>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<md-icon md-svg-icon="communication:email"  ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3" >2</md-icon>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message">3</md-icon>&ndash;&gt;-->

                                        <!--&lt;!&ndash;<md-divider></md-divider>&ndash;&gt;-->

                                        <!--&lt;!&ndash;</md-list-item>&ndash;&gt;-->
                                        <!--<div class="g-pan-scroll">-->
                                        <!--&lt;!&ndash;<md-list>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<md-list-item data-ng-repeat="group in groups | orderBy:'created'| filter:filterGroup" class="noright" data-ng-click="panelChange(group,'');changeSelGroup(group,false);toggleGroupView();">&ndash;&gt;-->

                                        <!--&lt;!&ndash;<p>{{group.name}}</p>&ndash;&gt;-->

                                        <!--&lt;!&ndash;<md-icon class="md-secondary md-hue-3" ><span title="Delete" class="fa fa-trash-o icon-size" ng-click="changeSelGroup(group,false);removeGroup(group)" confirm-click="Are you sure you want to delete this group '{{group.name}}' ?"></span></md-icon>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<md-divider></md-divider>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</md-list-item>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</md-list>&ndash;&gt;-->

                                        <!--<ul class="nav" ng-if="groups.length>0">-->
                                        <!--&lt;!&ndash;<li data-ng-repeat="group in groups">-->
                                        <!--<a href="#"-->
                                        <!--data-ng-click="changeSelGroup(group,false);toggleGroupView();"-->
                                        <!--data-ng-class="{active: selectedGroup === group}"-->
                                        <!--data-ng-bind="group.nseame">-->
                                        <!--<span class="fa fa-circle-o sb-icon-z pull-right sb-icon">&nbsp;&nbsp;</span>-->
                                        <!--<span class="fa fa-pencil sb-icon-z pull-right sb-icon" data-ng-click="changeSelGroup(group,true);panelChange(selectedGroup,'editgroup');">&nbsp;&nbsp;</span>-->
                                        <!--</a>-->
                                        <!--</li>&ndash;&gt;-->
                                        <!--<li data-ng-repeat="group in groups | orderBy:'created'| filter:filterGroup">-->
                                        <!--<ul class="nav top-menu grp-menu pull-left gul group" data-ng-class="{active: selectedGroup === group}">-->
                                        <!--<li  class=" contact-menu-icon"><a href="" class="gmin" data-ng-click="panelChange(group,'');changeSelGroup(group,false);toggleGroupView();"-->
                                        <!--data-ng-class="{active: selectedGroup === group}">-->
                                        <!--<span title="{{group.name}}" class="gname limit" data-ng-class="{active: selectedGroup === group}">{{group.name}}</span></a></li>-->
                                        <!--<li class="contact-icon-color c-menu-icon pull-right cursor">-->
                                        <!--<a data-ng-class="{active: selectedGroup === group}"><span title="Delete" class="fa fa-trash-o icon-size" ng-click="changeSelGroup(group,false);removeGroup(group)" confirm-click="Are you sure you want to delete this group '{{group.name}}' ?"></span></a></li>-->
                                        <!--<li class="contact-icon-color c-menu-icon pull-right"><a data-ng-class="{active: selectedGroup === group}">-->
                                        <!--<span title="Edit" class="fa fa-pencil icon-size cursor" data-ng-click="changeSelGroup(group,true);panelChange(selectedGroup,'editgroup');"></span></a></li>-->

                                        <!--<li class="contact-icon-color c-menu-icon pull-right"><a href="/offers" data-ng-class="{active: selectedGroup === group}">-->
                                        <!--<span title="Group Offers" class=" fa fa-gift offer-icon icon-size"></span> </a></li>-->


                                        <!--</ul>-->
                                        <!--</li>-->
                                        <!--</ul>-->
                                        <!--</div>-->
                                        <!--</md-list>-->


                                        <!--<section class="panel firsec-bg adjc">-->

                                        <!--<div class="profile-usermenu osidebar">-->
                                        <!--<ul class="nav">-->
                                        <!--<li class="sidebar-search">-->
                                        <!--<div class="input-group wid-100">-->
                                        <!--<input class="form-control" placeholder="Search..." type="text" data-ng-model="searchOfferText">-->

                                        <!--</div>-->
                                        <!--&lt;!&ndash; /input-group &ndash;&gt;-->
                                        <!--</li>-->
                                        <!--<hr class="nline" ng-show="selectedtab==='MyOffers'">-->
                                        <!--<li class="m-bot10" ng-show="selectedtab==='MyOffers'" >-->
                                        <!--<a class="c-border" data-ng-click="panelChange('','add');select($index)" scroll-to-item scroll-to="#view">-->
                                        <!--<span class="fa fa-plus sb-icon-z">&nbsp;</span>-->
                                        <!--Create New Offer </a>-->
                                        <!--</li></ul>-->

                                        <!--<hr class="nline">-->
                                        <!--<div class="o-pan-scroll">-->


                                        <!--<ul class="nav top-menu off-menu pull-left gul group " data-ng-click="changeSelOffer(offer);panelChange(offer,'view');" scroll-to-item scroll-to="#view" data-ng-repeat="offer in offers | filter:filterOffer |orderBy:'created'"   data-ng-class="{active:selOffer._id === offer._id}" >-->
                                        <!--&lt;!&ndash;<li class="of-name">-->
                                        <!--<a class="" data-ng-class="{active: selOffer === offer}" confirm-click data-ng-click="confirmClick() && changeSelOffer(offer,false);remove();changeSelOffer(offer);panelChange(offer,'view');" scroll-to-item scroll-to="#view">-->
                                        <!--<span ng-show="selectedtab==='MyOffers'"-->
                                        <!--class="fa fa-trash-o sb-icon-z  pull-right cursor">&nbsp;</span>-->
                                        <!--{{offer.name}}</a>-->

                                        <!--<span class="label label-blue cursor pull-right" ng-show="offer.offerStatus==='Drafted'">Drafted</span>-->
                                        <!--</li>&ndash;&gt;-->


                                        <!--<li  class="of-name cursor"><a class="gmin" >-->
                                        <!--<span title="{{offer._id}}" class="gname limit" data-ng-class="{active:selOffer._id === offer._id}">{{offer.name}}</span></a></li>-->

                                        <!--<li ng-show="selectedTab==='MyOffers'" class="of-name pull-right cursor">-->
                                        <!--<a  ng-click="changeSelOffer(offer);remove();" confirm-click="Are you sure you want to delete this group '{{offer.name}}' ?"><span title="Delete" class="fa fa-trash-o icon-size"></span></a></li>-->



                                        <!--<li class="of-name pull-right">-->
                                        <!--<a  data-ng-class="{active: selOffer._id === offer._id}"> <span class="label label-blue gname limit" data-ng-class="{'label-blue': offer.offerStatus === 'Drafted', 'placed': order.currentStatus === 'Placed' ,  'complete': offer.offerStatus === 'Completed' ,  'expire': offer.offerStatus === 'Expired'}">-->
                                        <!--{{offer.offerStatus}}</span></a></li>-->

                                        <!--&lt;!&ndash;<li  class="contact-icon-color c-menu-icon pull-right" ><a href="" data-ng-class="{active: selOffer === offer}">-->
                                        <!--<span title="Delete" class="fa fa-trash-o icon-size" data-ng-click="changeSelOffer(offer,false);remove();"></span></a></li>&ndash;&gt;-->

                                        <!--</ul>-->
                                        <!--</div>-->
                                        <!--</div>-->

                                        <!--</section>-->


                                </md-content>
                            </md-sidenav>

                            <md-content class="hide-overflow contact-bg bb-min-height" flex layout-padding>
                                <div layout="column" layout-fill>

                                    <div>
                                        <!--<md-button ng-click="toggleLeft()"-->
                                        <!--class="md-primary" hide-gt-md>-->
                                        <!--Toggle left-->
                                        <!--</md-button>-->

                                        <md-button class="md-primary md-fab md-mini" ng-click="toggleSideNavigation('left','toggle')" hide-gt-md>
                                            <md-icon class="fa fa-arrow-left f20"></md-icon>
                                        </md-button>
                                    </div>
                                    <!--<div>-->
                                    <!--<md-button ng-click="toggleRight()"-->
                                    <!--ng-hide="isOpenRight()"-->
                                    <!--class="md-primary">-->
                                    <!--Toggle right-->
                                    <!--</md-button>-->
                                    <!--</div>-->

                                    <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="75" class="whit-bg">
                                        <div flex="100" flex-xs="100" flex-sm="100">
                                            <h1 class="md-subhead">Offers List</h1>
                                            <md-divider></md-divider>

                                            <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                                                <div class="text-center"
                                                     data-ng-show="subCategoryOffers.length === 0">
                                                    No offers present in this category.
                                                </div>
                                            </div>

                                            <div class="layout-padding" layout="row" layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap ng-repeat="offer in offers | filter:filterOffer |orderBy:'created'">

                                                <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">
                                                    <img alt="" class="img-responsive simple img-fix img-center o-img-fix"
                                                         data-ng-src="{{offer.products[0].product.productImageURL1}}">

                                                </div>

                                                <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">
                                                    <div class="md-title">{{offer.name}}</div>
                                                    <div class="offer-by">
                                                        <p>{{offer.user.displayName}}</p>
                                                    </div>
                                                    <div class="m-top15" layout="row" layout-xs="column" layout-sm="row" layout-gt-lg="row">
                                                        <div flex="33" flex-xs="100" flex-sm="33" flex-gt-lg="33">
                                                            <label class="flabel">MOQ:<span>{{offer.products[0].MOQ}}{{offer.products[0].product.unitMeasure}}</span></label>
                                                        </div>

                                                        <div flex="33" flex-xs="100" flex-sm="33" flex-gt-lg="33">
                                                            <label class="flabel">Price:<span>Rs {{offer.products[0].unitIndicativePrice}}</span></label>
                                                        </div>

                                                        <div flex="33" flex-xs="100" flex-sm="33" flex-gt-lg="33">
                                                            <label class="flabel">Location:<span>Karnataka</span></label>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="15">

                                                    <h5  class="flabel">Valid Till:</h5>
                                                    <label>{{offer.validTill | date:"dd-MM-yyyy"}}</label>

                                                    <md-button ng-click="createOrder(offer);" class="md-raised md-primary wid-100">Place order</md-button>
                                                     <md-button ng-click="changeSelOffer(offer);panelChange(offer,'view');" class="md-raised md-primary wid-100">View Details</md-button>

                                                </div>
                                                <div flex="100" flex-xs="100">
                                                    <md-divider></md-divider>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div  id="viewOffer">
                                        <add-offer data-ng-show="showAddOffer"></add-offer>
                                        <view-offer data-ng-show="showView && selOffer!=null"></view-offer>
                                    </div>
                                </div>
                                <div flex></div>
                            </md-content>
                        </section>

                    </md-content>
                    <md-content ng-show="tab.type==='PublicOffers'">
                        <section class="wrapper firsec-bg">
                            <div class="row firsec-bg">
                                <div class="col-lg-12 firsec-bg">
                                    <div>
                                        <h3  class="tabtxt heading m-bot15">Public Offers</h3>
                                    </div>


                                    <!-- <div class="col-lg-12 col-sm-12  bg-white m-top15 p-sh"
                                          ng-show="categories.length>0" ng-repeat="category in categories">

                                         <div>
                                             <h4 class="tabtxt heading m-top15 m-bot15">{{category.name}}

                                             </h4>
                                         </div>


                                         <div class="col-lg-2 col-sm-3 col-md-3 pop m-bot15"
                                              ng-show="category.children.length >0"
                                              ng-repeat="child in category.children">
                                       <a href="/offers/:offerId/edit">
                                           <img src={{child.name}}
                                                class="img-responsive img-center p-img-fix" alt="">
                                       </a>
                                             <p class="f-13 text-center">{{child.name}}</p>
                                     </div>

                                     </div>-->

                                    <section class="panel firsec-bg">

                                        <div class="panel-body panelbdy">



                                            <div class="tabs-left" role="tabpanel">
                                                <!-- Nav tabs -->

                                                <ul class="nav nav-tabs" role="tablist">
                                                    <li  role="presentation" class="arrow_box" data-ng-class="{active: category.name === 'Agriculture'}" ng-show="categories.length>0" ng-repeat="category in categories">
                                                        <a class="tabtxt" aria-expanded="false" href="#{{category._id}}" role="tab"
                                                           data-toggle="tab">{{category.name}}</a></li>

                                                </ul>
                                                <!-- Tab panes -->
                                                <div class="tab-content">
                                                    <div ng-repeat="category in categories" role="tabpanel" class="tab-pane fade in" data-ng-class="{active: category.name === 'Agriculture'}"  id="{{category._id}}">

                                                        <div class="col-lg-9 col-sm-9 col-lg-push-0.5 col-sm-push-0.5 public-off">
                                                            <div class="row">

                                                                <div class="col-lg-3 col-sm-3 col-md-3 ad-pop m-bot15"
                                                                     ng-repeat="child in category.children">
                                                                    <a href="categories/{{child._id}}">
                                                                        <img data-ng-src={{child.categoryImageURL1}}
                                                                             class="img-responsive img-center o-img-fix"
                                                                             alt="">
                                                                    </a>

                                                                    <p class="text-center"><strong>{{child.name}}</strong></p>

                                                                    <!--<p class="f-13 text-center">{{child.name}}</p>-->
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </section>

                                </div>
                            </div>
                        </section>

                    </md-content>
                </md-tab>

            </md-tabs>
        </md-content>
    </div>




    <!--<div class="col-lg-12 firsec-bg mob-lg">-->



    <!--<div role="tabpanel">-->
    <!--&lt;!&ndash; Nav tabs &ndash;&gt;-->
    <!--<div class="tabs tabs-style-linebox-p">-->
    <!--<ul class="nav nav-tabs p-tab" role="tablist">-->
    <!--<li role="presentation" ng-class="{'active':selectedTab === 'MyOffers'}"-->
    <!--data-ng-click="find(false);">-->
    <!--<a class="tabtxt"  aria-expanded="false" href="#myoffers" role="tab"-->
    <!--data-toggle="tab">MY OFFERS</a></li>-->

    <!--<li role="presentation" ng-class="{'active':selectedTab === 'ReceivedOffers'}"-->
    <!--data-ng-click="findReceivedOffers(false);"><a-->
    <!--class="tabtxt" aria-expanded="true" href="#myoffers" role="tab"-->
    <!--data-toggle="tab">RECEIVED OFFERS</a></li>-->
    <!--<li role="presentation" ng-class="{'active':selectedTab === 'PublicOffers'}" ng-click="selectedTab='PublicOffers'"-->
    <!--data-ng-init="findMainCategories();"><a-->
    <!--class="tabtxt" aria-expanded="true" href="#publicOffers" role="tab"-->
    <!--data-toggle="tab">PUBLIC OFFERS</a></li>-->
    <!--<li class="pull-right" ng-show="metaProducts.length==0">-->
    <!--<div class="addprod"><a class="btn btn-blue pull-right" href="/products/create">Add Products</a></div>-->

    <!--</li>-->

    <!--</ul>-->
    <!--</div>-->
    <!--&lt;!&ndash; Tab panes &ndash;&gt;-->
    <!--<div class="tab-content">-->
    <!--<div role="tabpanel" class="tab-pane" id="myoffers" data-ng-class={active:"selectedTab==='MyOffers'"} >-->

    <!--<section layout="row" flex>-->
    <!--<md-sidenav-->
    <!--class="md-sidenav-left"-->
    <!--md-component-id="left"-->
    <!--md-is-locked-open="$mdMedia('gt-md')"-->
    <!--md-disable-backdrop-->
    <!--md-whiteframe="4">-->

    <!--<md-content layout-padding>-->
    <!--<md-button ng-click="closeleft()" class="md-primary" hide-gt-md>-->
    <!--Close Sidenav Left-->
    <!--</md-button>-->

    <!--&lt;!&ndash;<md-list>&ndash;&gt;-->
    <!--&lt;!&ndash;<md-list-item class="noright">&ndash;&gt;-->
    <!--&lt;!&ndash;<input class="form-control" placeholder="Search..." type="text" data-ng-model="searchText">&ndash;&gt;-->
    <!--&lt;!&ndash;</md-list-item>&ndash;&gt;-->
    <!--&lt;!&ndash;<md-list-item class="noright">&ndash;&gt;-->
    <!--&lt;!&ndash;<md-button data-ng-click="panelChange('','add');closeleft()" class="md-raised md-primary wid-100">Create New Contact</md-button>&ndash;&gt;-->
    <!--&lt;!&ndash;</md-list-item>&ndash;&gt;-->
    <!--&lt;!&ndash;<md-list-item>&ndash;&gt;-->
    <!--&lt;!&ndash;<md-button data-ng-click="panelChange('','group');closeleft()" class="md-raised md-primary wid-100">Create New Group</md-button>&ndash;&gt;-->
    <!--&lt;!&ndash;</md-list-item>&ndash;&gt;-->
    <!--&lt;!&ndash;<md-divider></md-divider>&ndash;&gt;-->
    <!--&lt;!&ndash;<md-list-item>&ndash;&gt;-->
    <!--&lt;!&ndash;<md-button class="wid-100 md-raised" layout="row" data-ng-click="changeSelGroup('',false) ;toggleGroupView();panelChange('','');closeleft()"&ndash;&gt;-->
    <!--&lt;!&ndash;&gt; {{AllContactsString}}</md-button>&ndash;&gt;-->
    <!--&lt;!&ndash;</md-list-item>&ndash;&gt;-->
    <!--&lt;!&ndash;<md-divider></md-divider>&ndash;&gt;-->




    <!--&lt;!&ndash;</md-list>&ndash;&gt;-->

    <!--&lt;!&ndash;<md-list ng-cloak>&ndash;&gt;-->
    <!--&lt;!&ndash;<md-subheader class="md-no-sticky">GROUPS</md-subheader>&ndash;&gt;-->
    <!--&lt;!&ndash;<md-divider></md-divider>&ndash;&gt;-->

    <!--&lt;!&ndash;&lt;!&ndash;<md-list-item class="noright" data-ng-repeat="group in groups | orderBy:'created'| filter:filterGroup" ng-click="panelChange(group,'');changeSelGroup(group,false);toggleGroupView();">&ndash;&gt;&ndash;&gt;-->

    <!--&lt;!&ndash;&lt;!&ndash;<p>{{ group.name }}</p>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<md-icon md-svg-icon="communication:email"  ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3" >2</md-icon>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message">3</md-icon>&ndash;&gt;&ndash;&gt;-->

    <!--&lt;!&ndash;&lt;!&ndash;<md-divider></md-divider>&ndash;&gt;&ndash;&gt;-->

    <!--&lt;!&ndash;&lt;!&ndash;</md-list-item>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="g-pan-scroll">&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<md-list>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<md-list-item data-ng-repeat="group in groups | orderBy:'created'| filter:filterGroup" class="noright" data-ng-click="panelChange(group,'');changeSelGroup(group,false);toggleGroupView();">&ndash;&gt;&ndash;&gt;-->

    <!--&lt;!&ndash;&lt;!&ndash;<p>{{group.name}}</p>&ndash;&gt;&ndash;&gt;-->

    <!--&lt;!&ndash;&lt;!&ndash;<md-icon class="md-secondary md-hue-3" ><span title="Delete" class="fa fa-trash-o icon-size" ng-click="changeSelGroup(group,false);removeGroup(group)" confirm-click="Are you sure you want to delete this group '{{group.name}}' ?"></span></md-icon>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<md-divider></md-divider>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;</md-list-item>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;</md-list>&ndash;&gt;&ndash;&gt;-->

    <!--&lt;!&ndash;<ul class="nav" ng-if="groups.length>0">&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<li data-ng-repeat="group in groups">&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="#"&ndash;&gt;-->
    <!--&lt;!&ndash;data-ng-click="changeSelGroup(group,false);toggleGroupView();"&ndash;&gt;-->
    <!--&lt;!&ndash;data-ng-class="{active: selectedGroup === group}"&ndash;&gt;-->
    <!--&lt;!&ndash;data-ng-bind="group.nseame">&ndash;&gt;-->
    <!--&lt;!&ndash;<span class="fa fa-circle-o sb-icon-z pull-right sb-icon">&nbsp;&nbsp;</span>&ndash;&gt;-->
    <!--&lt;!&ndash;<span class="fa fa-pencil sb-icon-z pull-right sb-icon" data-ng-click="changeSelGroup(group,true);panelChange(selectedGroup,'editgroup');">&nbsp;&nbsp;</span>&ndash;&gt;-->
    <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<li data-ng-repeat="group in groups | orderBy:'created'| filter:filterGroup">&ndash;&gt;-->
    <!--&lt;!&ndash;<ul class="nav top-menu grp-menu pull-left gul group" data-ng-class="{active: selectedGroup === group}">&ndash;&gt;-->
    <!--&lt;!&ndash;<li  class=" contact-menu-icon"><a href="" class="gmin" data-ng-click="panelChange(group,'');changeSelGroup(group,false);toggleGroupView();"&ndash;&gt;-->
    <!--&lt;!&ndash;data-ng-class="{active: selectedGroup === group}">&ndash;&gt;-->
    <!--&lt;!&ndash;<span title="{{group.name}}" class="gname limit" data-ng-class="{active: selectedGroup === group}">{{group.name}}</span></a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li class="contact-icon-color c-menu-icon pull-right cursor">&ndash;&gt;-->
    <!--&lt;!&ndash;<a data-ng-class="{active: selectedGroup === group}"><span title="Delete" class="fa fa-trash-o icon-size" ng-click="changeSelGroup(group,false);removeGroup(group)" confirm-click="Are you sure you want to delete this group '{{group.name}}' ?"></span></a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li class="contact-icon-color c-menu-icon pull-right"><a data-ng-class="{active: selectedGroup === group}">&ndash;&gt;-->
    <!--&lt;!&ndash;<span title="Edit" class="fa fa-pencil icon-size cursor" data-ng-click="changeSelGroup(group,true);panelChange(selectedGroup,'editgroup');"></span></a></li>&ndash;&gt;-->

    <!--&lt;!&ndash;<li class="contact-icon-color c-menu-icon pull-right"><a href="/offers" data-ng-class="{active: selectedGroup === group}">&ndash;&gt;-->
    <!--&lt;!&ndash;<span title="Group Offers" class=" fa fa-gift offer-icon icon-size"></span> </a></li>&ndash;&gt;-->


    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</md-list>&ndash;&gt;-->


    <!--<section class="panel firsec-bg cshadow-in adjc">-->

    <!--<div class="profile-usermenu osidebar">-->
    <!--<ul class="nav">-->
    <!--<li class="sidebar-search">-->
    <!--<div class="input-group wid-100">-->
    <!--<input class="form-control" placeholder="Search..." type="text" data-ng-model="searchOfferText">-->

    <!--</div>-->
    <!--&lt;!&ndash; /input-group &ndash;&gt;-->
    <!--</li>-->
    <!--<hr class="nline" ng-show="selectedtab==='MyOffers'">-->
    <!--<li class="m-bot10" ng-show="selectedtab==='MyOffers'" >-->
    <!--<a class="c-border" data-ng-click="panelChange('','add');select($index)" scroll-to-item scroll-to="#view">-->
    <!--<span class="fa fa-plus sb-icon-z">&nbsp;</span>-->
    <!--Create New Offer </a>-->
    <!--</li></ul>-->

    <!--<hr class="nline">-->
    <!--<div class="o-pan-scroll">-->


    <!--<ul class="nav top-menu off-menu pull-left gul group " data-ng-click="changeSelOffer(offer);panelChange(offer,'view');" scroll-to-item scroll-to="#view" data-ng-repeat="offer in offers | filter:filterOffer |orderBy:'created'"   data-ng-class="{active:selOffer._id === offer._id}" >-->
    <!--&lt;!&ndash;<li class="of-name">-->
    <!--<a class="" data-ng-class="{active: selOffer === offer}" confirm-click data-ng-click="confirmClick() && changeSelOffer(offer,false);remove();changeSelOffer(offer);panelChange(offer,'view');" scroll-to-item scroll-to="#view">-->
    <!--<span ng-show="selectedtab==='MyOffers'"-->
    <!--class="fa fa-trash-o sb-icon-z  pull-right cursor">&nbsp;</span>-->
    <!--{{offer.name}}</a>-->

    <!--<span class="label label-blue cursor pull-right" ng-show="offer.offerStatus==='Drafted'">Drafted</span>-->
    <!--</li>&ndash;&gt;-->


    <!--<li  class="of-name cursor"><a class="gmin" >-->
    <!--<span title="{{offer._id}}" class="gname limit" data-ng-class="{active:selOffer._id === offer._id}">{{offer.name}}</span></a></li>-->

    <!--<li ng-show="selectedTab==='MyOffers'" class="of-name pull-right cursor">-->
    <!--<a  ng-click="changeSelOffer(offer);remove();" confirm-click="Are you sure you want to delete this group '{{offer.name}}' ?"><span title="Delete" class="fa fa-trash-o icon-size"></span></a></li>-->



    <!--<li class="of-name pull-right">-->
    <!--<a  data-ng-class="{active: selOffer._id === offer._id}"> <span class="label label-blue gname limit" data-ng-class="{'label-blue': offer.offerStatus === 'Drafted', 'placed': order.currentStatus === 'Placed' ,  'complete': offer.offerStatus === 'Completed' ,  'expire': offer.offerStatus === 'Expired'}">-->
    <!--{{offer.offerStatus}}</span></a></li>-->

    <!--&lt;!&ndash;<li  class="contact-icon-color c-menu-icon pull-right" ><a href="" data-ng-class="{active: selOffer === offer}">-->
    <!--<span title="Delete" class="fa fa-trash-o icon-size" data-ng-click="changeSelOffer(offer,false);remove();"></span></a></li>&ndash;&gt;-->

    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->

    <!--</section>-->


    <!--</md-content>-->
    <!--</md-sidenav>-->

    <!--<md-content class="hide-overflow" flex layout-padding>-->
    <!--<div layout="column" layout-fill>-->

    <!--<div>-->
    <!--<md-button ng-click="toggleLeft()"-->
    <!--class="md-primary" hide-gt-md>-->
    <!--Toggle left-->
    <!--</md-button>-->
    <!--</div>-->
    <!--&lt;!&ndash;<div>&ndash;&gt;-->
    <!--&lt;!&ndash;<md-button ng-click="toggleRight()"&ndash;&gt;-->
    <!--&lt;!&ndash;ng-hide="isOpenRight()"&ndash;&gt;-->
    <!--&lt;!&ndash;class="md-primary">&ndash;&gt;-->
    <!--&lt;!&ndash;Toggle right&ndash;&gt;-->
    <!--&lt;!&ndash;</md-button>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<div  id="view">-->
    <!--<add-offer data-ng-show="showAddOffer"></add-offer>-->
    <!--<view-offer data-ng-show="showView"></view-offer>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div flex></div>-->
    <!--</md-content>-->
    <!--</section>-->

    <!--&lt;!&ndash;1st starts&ndash;&gt;-->
    <!--&lt;!&ndash;<section class="wrapper firsec-bg">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="row firsec-bg">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-lg-12 firsec-bg lg">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-lg-3 mob-lg" >&ndash;&gt;-->

    <!--&lt;!&ndash;<section class="panel firsec-bg cshadow-in adjc">&ndash;&gt;-->

    <!--&lt;!&ndash;<div class="profile-usermenu osidebar">&ndash;&gt;-->
    <!--&lt;!&ndash;<ul class="nav">&ndash;&gt;-->
    <!--&lt;!&ndash;<li class="sidebar-search">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="input-group wid-100">&ndash;&gt;-->
    <!--&lt;!&ndash;<input class="form-control" placeholder="Search..." type="text" data-ng-model="searchOfferText">&ndash;&gt;-->

    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash; /input-group &ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<hr class="nline" ng-show="selectedtab==='MyOffers'">&ndash;&gt;-->
    <!--&lt;!&ndash;<li class="m-bot10" ng-show="selectedtab==='MyOffers'" >&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="c-border" data-ng-click="panelChange('','add');select($index)" scroll-to-item scroll-to="#view">&ndash;&gt;-->
    <!--&lt;!&ndash;<span class="fa fa-plus sb-icon-z">&nbsp;</span>&ndash;&gt;-->
    <!--&lt;!&ndash;Create New Offer </a>&ndash;&gt;-->
    <!--&lt;!&ndash;</li></ul>&ndash;&gt;-->

    <!--&lt;!&ndash;<hr class="nline">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="o-pan-scroll">&ndash;&gt;-->


    <!--&lt;!&ndash;<ul class="nav top-menu off-menu pull-left gul group " data-ng-click="changeSelOffer(offer);panelChange(offer,'view');" scroll-to-item scroll-to="#view" data-ng-repeat="offer in offers | filter:filterOffer |orderBy:'created'"   data-ng-class="{active:selOffer._id === offer._id}" >&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<li class="of-name">&ndash;&gt;-->
    <!--&lt;!&ndash;<a class="" data-ng-class="{active: selOffer === offer}" confirm-click data-ng-click="confirmClick() && changeSelOffer(offer,false);remove();changeSelOffer(offer);panelChange(offer,'view');" scroll-to-item scroll-to="#view">&ndash;&gt;-->
    <!--&lt;!&ndash;<span ng-show="selectedtab==='MyOffers'"&ndash;&gt;-->
    <!--&lt;!&ndash;class="fa fa-trash-o sb-icon-z  pull-right cursor">&nbsp;</span>&ndash;&gt;-->
    <!--&lt;!&ndash;{{offer.name}}</a>&ndash;&gt;-->

    <!--&lt;!&ndash;<span class="label label-blue cursor pull-right" ng-show="offer.offerStatus==='Drafted'">Drafted</span>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->


    <!--&lt;!&ndash;<li  class="of-name cursor"><a class="gmin" >&ndash;&gt;-->
    <!--&lt;!&ndash;<span title="{{offer._id}}" class="gname limit" data-ng-class="{active:selOffer._id === offer._id}">{{offer.name}}</span></a></li>&ndash;&gt;-->

    <!--&lt;!&ndash;<li ng-show="selectedTab==='MyOffers'" class="of-name pull-right cursor">&ndash;&gt;-->
    <!--&lt;!&ndash;<a  ng-click="changeSelOffer(offer);remove();" confirm-click="Are you sure you want to delete this group '{{offer.name}}' ?"><span title="Delete" class="fa fa-trash-o icon-size"></span></a></li>&ndash;&gt;-->



    <!--&lt;!&ndash;<li class="of-name pull-right">&ndash;&gt;-->
    <!--&lt;!&ndash;<a  data-ng-class="{active: selOffer._id === offer._id}"> <span class="label label-blue gname limit" data-ng-class="{'label-blue': offer.offerStatus === 'Drafted', 'placed': order.currentStatus === 'Placed' ,  'complete': offer.offerStatus === 'Completed' ,  'expire': offer.offerStatus === 'Expired'}">&ndash;&gt;-->
    <!--&lt;!&ndash;{{offer.offerStatus}}</span></a></li>&ndash;&gt;-->

    <!--&lt;!&ndash;&lt;!&ndash;<li  class="contact-icon-color c-menu-icon pull-right" ><a href="" data-ng-class="{active: selOffer === offer}">&ndash;&gt;-->
    <!--&lt;!&ndash;<span title="Delete" class="fa fa-trash-o icon-size" data-ng-click="changeSelOffer(offer,false);remove();"></span></a></li>&ndash;&gt;&ndash;&gt;-->

    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--&lt;!&ndash;</section>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-lg-9 o-border" id="view">&ndash;&gt;-->
    <!--&lt;!&ndash;<add-offer data-ng-show="showAddOffer"></add-offer>&ndash;&gt;-->
    <!--&lt;!&ndash;<view-offer data-ng-show="showView"></view-offer>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</section>&ndash;&gt;-->
    <!--</div>-->

    <!--<div role="tabpanel" class="tab-pane" id="publicOffers" ng-show="selectedTab==='PublicOffers'" data-ng-class={active:"selectedTab==='PublicOffers'"}>-->
    <!--<section class="wrapper firsec-bg">-->
    <!--<div class="row firsec-bg">-->
    <!--<div class="col-lg-12 firsec-bg">-->
    <!--<div>-->
    <!--<h3  class="tabtxt heading m-bot15">Public Offers</h3>-->
    <!--</div>-->


    <!--&lt;!&ndash; <div class="col-lg-12 col-sm-12  bg-white m-top15 p-sh"-->
    <!--ng-show="categories.length>0" ng-repeat="category in categories">-->

    <!--<div>-->
    <!--<h4 class="tabtxt heading m-top15 m-bot15">{{category.name}}-->

    <!--</h4>-->
    <!--</div>-->


    <!--<div class="col-lg-2 col-sm-3 col-md-3 pop m-bot15"-->
    <!--ng-show="category.children.length >0"-->
    <!--ng-repeat="child in category.children">-->
    <!--<a href="/offers/:offerId/edit">-->
    <!--<img src={{child.name}}-->
    <!--class="img-responsive img-center p-img-fix" alt="">-->
    <!--</a>-->
    <!--<p class="f-13 text-center">{{child.name}}</p>-->
    <!--</div>-->

    <!--</div>&ndash;&gt;-->

    <!--<section class="panel firsec-bg">-->

    <!--<div class="panel-body panelbdy">-->



    <!--<div class="tabs-left" role="tabpanel">-->
    <!--&lt;!&ndash; Nav tabs &ndash;&gt;-->

    <!--<ul class="nav nav-tabs" role="tablist">-->
    <!--<li  role="presentation" class="arrow_box" data-ng-class="{active: category.name === 'Agriculture'}" ng-show="categories.length>0" ng-repeat="category in categories">-->
    <!--<a class="tabtxt" aria-expanded="false" href="#{{category._id}}" role="tab"-->
    <!--data-toggle="tab">{{category.name}}</a></li>-->

    <!--</ul>-->
    <!--&lt;!&ndash; Tab panes &ndash;&gt;-->
    <!--<div class="tab-content">-->
    <!--<div ng-repeat="category in categories" role="tabpanel" class="tab-pane fade in" data-ng-class="{active: category.name === 'Agriculture'}"  id="{{category._id}}">-->

    <!--<div class="col-lg-9 col-sm-9 col-lg-push-0.5 col-sm-push-0.5 public-off">-->
    <!--<div class="row">-->

    <!--<div class="col-lg-3 col-sm-3 col-md-3 ad-pop m-bot15"-->
    <!--ng-repeat="child in category.children">-->
    <!--<a href="#!/categories/{{child._id}}">-->
    <!--<img data-ng-src={{child.categoryImageURL1}}-->
    <!--class="img-responsive img-center o-img-fix"-->
    <!--alt="">-->
    <!--</a>-->

    <!--<p class="text-center"><strong>{{child.name}}</strong></p>-->

    <!--&lt;!&ndash;<p class="f-13 text-center">{{child.name}}</p>&ndash;&gt;-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->
    <!--</section>-->

    <!--</div>-->
    <!--</div>-->
    <!--</section>-->

    <!--</div>-->




    <!--</div>-->




    <!--</div>-->

    <!--</div>-->

</section>
<!-- main content -->
