
<div layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
         layout-wrap>
        <md-card flex="18" flex-xs="80" flex-sm="30" flex-gt-lg="15">
            <md-list-item  md-no-ink  ng-show="contactoffers.length>0" ng-repeat="eachContact in contactoffers "
                           ng-class="{'nvc-primary-color nvc-accent-background': eachContact.name === selectedContact.name}" ng-click="changeOfferContactSelection(eachContact)">{{eachContact.name}}

            </md-list-item>
        </md-card>
        <md-card class="bb-order-summary" flex="80" flex-xs="100" flex-sm="65" flex-gt-lg="80">
            <view-offer-list></view-offer-list>
            <div ng-show="offers.length===0">
                <div layout="row" layout-wrap layout-align="center center" class="nvc-no-list-illustration">
                    <div flex="15">
                        <img src="/modules/inventories/img/profile/zero-offers.png" class="bb-wid-100">
                    </div>
                    <div flex="100" class="nv-text-center">
                        <h4 class="nv-text-bold">There are no offers available from this company</h4>
                    </div>
                </div>
            </div>
        </md-card>
</div>



