<div layout-fill ng-controller="OffersController"
     ng-init="allCategories();toggleSideNavigation('left','');">

    <section class="bb-contact" layout="row" flex layout-fill>
        <md-sidenav
                class="md-sidenav-left"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md')"
                md-disable-backdrop
                md-whiteframe="4">

            <md-content layout-padding>

               <!-- <h1 class="md-title">{{category.name}}</h1>-->

                <ol class="breadcrumb">
                    <li ng-if="category.parent._id"><i class=""></i><a href="#!/categories/{{category.parent._id}}">{{category.parent.name}} {{(category.parent.children.length
                        > 0?'( '+category.parent.children.length+' )':'')}}</a></li>
                    <li><i class=""></i>{{category.name}}</li>
                </ol>
            <md-divider></md-divider>
            <span class="bb-m-top15">
                <img alt="" class="img-responsive bb-profimg-fix bb-img-center bb-prod-img-fix"
                     data-ng-src="{{category.categoryImageURL1}}" ng-click="toggleSideNavigation('left','close');">
            </span>

                <div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row"
                     layout-gt-lg="row" layout-wrap>
                    <div flex="100" flex-xs="100" flex-sm="100">

                        <!--Add fliters here-->
                </div>
                </div>

            </md-content>
        </md-sidenav>
        <md-content class="" flex>


            <div flex="100" flex-xs="100" flex-sm="100">

                <div>
                    <md-button class="md-primary md-fab md-mini" ng-click="toggleSideNavigation('left','open');"
                               hide-gt-md>
                        <md-icon class="fa fa-arrow-left bb-f20" aria-label="left"></md-icon>
                    </md-button>
                </div>

                <h1 class="md-subhead bb-pl">Offers List</h1>
                <!--<md-divider></md-divider>-->

                <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                    <div class="text-center"
                         data-ng-show="subCategoryOffers.length === 0">
                        No offers present in this category.
                    </div>
                </div>


                    <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">


                        <md-card class="bb-contact-bg" layout="row" layout-xs='row' layout-xs="column" layout-sm="row"
                                 layout-gt-lg="row" layout-wrap ng-repeat="offer in subCategoryOffers track by $id(offer)">


                            <div class="md-accordion bb-publicOffer-slider" layout-fill>
                                <md-toolbar
                                            ng-click="collapseAll($index)">
                                    <div class="md-toolbar-tools">
                                        <div flex="15" flex-xs="100" flex-sm="20" flex-gt-lg="25">
                                            <h2>
                                                <div ng-class="{'md-raised md-primary': offer._id=== selectedSubCategoryOffer._id, 'md-subhead': offer._id!== selectedSubCategoryOffer._id}">
                                                    {{offer.offerNumber}}
                                                </div>
                                            </h2>
                                        </div>
                                        <div flex="60" flex-xs="100" flex-sm="50" flex-gt-lg="25" hide-xs ng-hide="offer._id=== selectedSubCategoryOffer._id">
                                            <div layout="column" layout-xs='row' layout-xs="column" layout-sm="column"
                                                 layout-gt-lg="row" layout-wrap>
                                                <div class="md-subhead bb-truncate-nowrap">{{offer.name}}
                                                    <md-tooltip>{{offer.name}}</md-tooltip>
                                                </div>
                                                <div class="bb-link">
                                                    <label class="md-caption">{{offer.offerType}} :</label>
                                                <a class="md-caption" target='_blank' ng-href="#!/company/{{offer.user.company.profileUrl}}">{{offer.user.company.name}}</a>
                                                </div>
                                            </div>

                                        </div>
                                        <span flex=""></span>

                                        <div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25" hide-xs
                                             ng-hide="offer._id===selectedSubCategoryOffer._id">
                                            <h2>
                                                <!--<div class="md-subhead">{{offer.offerNumber}}</div>-->
                                                <md-button ng-disabled="orderProductCount(offer)" class="md-raised md-primary">Place Order
                                                    <md-tooltip>
                                                        Please choose Products
                                                    </md-tooltip>
                                                </md-button>
                                            </h2>

                                        </div>

                                        <span ng-class="{'accordion-toggle':true, collapsed:offer._id===selectedSubCategoryOffer._id}"></span>
                                    </div>
                                </md-toolbar>
                                <div ng-class="{dataContent:true, activeContent:offer._id===selectedSubCategoryOffer._id}">
                                    <md-card layout-padding layout="row" layout-xs='row' layout-xs="column" layout-wrap>
                                    <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="50" layout="row" layout-wrap>
                                        <div flex="80" flex-xs="100" flex-sm="80" flex-gt-lg="100">
                                            <div class="md-title">
                                            <a target='_blank' ng-href="#!/offers/{{offer._id}}">{{offer.name}}</a></div>
                                            <div class="bb-link">
                                                <div class="md-subhead">{{offer.offerType==='Sell'?'Seller':'Buyer'}} :<a target='_blank' ng-href="#!/company/{{offer.user.company.profileUrl}}">{{offer.user.company.name}}</a></div>
                                            </div>
                                        </div>
                                        <div flex="20" flex-xs="20" flex-sm="20" flex-gt-lg="20">
                                            <md-button ng-disabled="orderProductCount(offer)" ng-click="createOrder(offer);"
                                                       class="md-raised md-primary bb-comment-btn">Place Order
                                                <md-tooltip>
                                                    Please choose Products
                                                </md-tooltip>
                                            </md-button>
                                        </div>
                                    </div>
                                    <div flex="100" layout="row" layout-xs='row' layout-xs="column" layout-sm="row"
                                                 layout-gt-lg="row" layout-wrap>
                                        <!--  <div flex="20" flex-xs="100" flex-sm="20" flex-gt-lg="20">
                                              <h3 class="md-subhead">Offer Number</h3>
                                              <label class="bb-flabel">{{offer.offerNumber}}</label>
                                          </div>
                                          <div flex="20" flex-xs="100" flex-sm="20" flex-gt-lg="20">
                                              <h3 class="md-subhead">Offer Type</h3>
                                              <label class="bb-flabel">{{offer.offerType}}</label>
                                          </div>
                                          <div flex="20" flex-xs="100" flex-sm="20" flex-gt-lg="20">
                                              <h3 class="md-subhead bb-truncate">Offer Status</h3>
                                              <label class="bb-flabel">{{offer.offerStatus}}</label>
                                          </div>-->
                                                <div flex="20" flex-xs="50" flex-sm="20" flex-gt-lg="20">
                                                    <h3 class="md-subhead">Location(s)</h3>
                                                    <label class="bb-flabel"><span
                                                            ng-repeat="address in offer.user.company.addresses">{{address.city}}, {{address.state}}</span></label>
                                                </div>

                                                <div flex="20" flex-xs="100" flex-sm="20" flex-gt-lg="20">
                                                    <h3 class="md-subhead">Valid Till:</h3>

                                                    <div class="bb-flabel">{{offer.validTill | date:"dd-MM-yyyy"}}</div>

                                                </div>

                                            </div>



                                     <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">
                                            <md-divider></md-divider>
                                            <h2 class="md-subhead">Products</h2>

                                         <div class="table-responsive bb-pan-scroll bb-wid-100 layout-padding">
                                             <table class="bb-product-table table bb-responstable">
                                                    <thead>
                                                    <tr>
                                                        <th>Product Name</th>
                                                        <th>Unit Price ( &#8377; )</th>
                                                        <th>Unit Size (Measure)</th>
                                                        <th>Units</th>
                                                        <th>MOQ (Units)</th>
                                                        <th>Margin (%)</th>
                                                        <th>Available Date</th>
                                                        <th>Select to place Order</th>
                                                        <!--<th>Sample Available</th>-->
                                                    </tr>
                                                    </thead>
                                                    <tbody>

                                                    <tr data-ng-class="{'fontsize': product.subCategory2===category._id}" ng-repeat="product in offer.products">
                                                        <td>
                                                            <img data-ng-src="{{product.inventory.inventoryImageURL1}}"
                                                                 alt="{{product.inventory.inventory.productName}}"
                                                                 class="bb-inv-img-fix bb-img-center bb-pop-less">

                                                            <md-input-container class="md-block">
                                                                <div class="md-subhead bb-truncate">
                                                                    <a class="bb-cursor" ng-click="productDetails(offer.products,$index,offer)" aria-label="Number">{{product.inventory.productName}}</a>
                                                                    <md-tooltip>
                                                                        {{product.inventory.productName}}
                                                                    </md-tooltip>
                                                                </div>
                                                            </md-input-container>
                                                        </td>
                                                        <td>
                                                            <md-input-container class="md-block">
                                                                <div class="md-subhead">
                                                                    {{getPrice(product) | number:2}}
                                                                </div>
                                                            </md-input-container>
                                                        </td>
                                                        <td>
                                                            <md-input-container class="md-block">
                                                                <div class="md-subhead">
                                                                    {{product.inventory.unitSize +' '+product.inventory.unitMeasure}}
                                                                </div>
                                                            </md-input-container>
                                                        </td>
                                                        <td>
                                                            <md-input-container class="md-block">
                                                                <div class="md-subhead">
                                                                    {{product.inventory.numberOfUnits}}
                                                                </div>
                                                            </md-input-container>
                                                        </td>

                                                        <td>
                                                            <md-input-container class="md-block">
                                                                <div class="md-subhead">{{product.MOQ}}</div>
                                                            </md-input-container>
                                                        </td>
                                                        <td>
                                                            <md-input-container class="md-block">
                                                                <div class="md-subhead">
                                                                    {{(product.inventory.MRP ? ((product.inventory.MRP-getPrice(product))/product.inventory.MRP):0)*100 | number:2}}
                                                                </div>
                                                            </md-input-container>
                                                        </td>
                                                        <td>
                                                            <!--<label type="text" class="form-control">{{singleproduct.availableDate | date:'dd-MM-yyyy'}}</label>-->
                                                            <md-input-container class="md-block">
                                                                <div class="md-subhead">{{product.availableDate | date:'dd-MM-yyyy'}}</div>
                                                            </md-input-container>
                                                        </td>
                                                        <td>
                                                            <md-checkbox ng-disabled="getDisabledItem(product)" aria-label="selections"
                                                                         ng-model="product.selected"></md-checkbox>

                                                        </td>
                                                        <!--<td>-->
                                                        <!--<span class="fa sb-icon-z" data-ng-class="{'fa-check': offer.sampleAvailable, 'fa-close red':!offer.sampleAvailable}"></span>-->
                                                        <!--</td>-->

                                                    </tr>

                                                    </tbody>
                                                </table>


                                            </div>
                                        </div>
                                    </md-card>
                                </div>
                                <div>
                                </div>
                            </div>
                            <!--<div layout-padding layout="row"-->
                            <!--ng-repeat="product in offer.products | filter:{subCategory2:category._id}" layout-wrap>-->
                            <!--<div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">-->
                            <!--<img alt="" class="img-responsive simple img-center p-img-fix ad-pop"-->
                            <!--data-ng-src="{{product.inventory.product.productImageURL1}}">-->

                            <!--<div class="md-subhead text-center bb-truncate-nowrap">{{product.inventory.productName}}-->
                            <!--</div>-->
                            <!--</div>-->

                            <!--<div flex="75" flex-xs="100" flex-sm="75" flex-gt-lg="75">-->

                            <!--<div class="" layout="row" layout-xs='row' layout-xs="column" layout-sm="row"-->
                            <!--layout-gt-lg="row" layout-wrap>-->
                            <!--<div flex="25" flex-xs="33" flex-sm="25" flex-gt-lg="25">-->
                            <!--<h3 class="md-subhead">MOQ:</h3>-->
                            <!--<label class="flabel"><span>{{product.MOQ}} units</span></label>-->
                            <!--</div>-->

                            <!--<div flex="25" flex-xs="33" flex-sm="25" flex-gt-lg="25">-->
                            <!--<h3 class="md-subhead">Unit:</h3>-->
                            <!--<label class="flabel"><span>{{product.inventory.unitSize}}{{product.inventory.unitMeasure}}</span></label>-->
                            <!--</div>-->

                            <!--<div flex="25" flex-xs="33" flex-sm="25" flex-gt-lg="25">-->
                            <!--<h3 class="md-subhead">Unit Price:</h3>-->
                            <!--<label class="flabel"><span>Rs {{product.unitIndicativePrice}}</span></label>-->
                                        <!--</div>-->

                            <!--&lt;!&ndash;<div flex="25" flex-xs="50" flex-sm="25" flex-gt-lg="25">&ndash;&gt;-->
                            <!--&lt;!&ndash;<h3 class="md-subhead">Location:</h3>&ndash;&gt;-->
                            <!--&lt;!&ndash;<label class="flabel"><span>Karnataka</span></label>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--</div>-->
                            <!--<md-divider></md-divider>-->

                            <!--</div>-->

                            <!--</div>-->


                        </md-card>
                    </div>

                    <!--<div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">-->
                    <!--<div class="md-title">{{offer.name}}</div>-->
                    <!--<div>-->
                    <!--<a ng-href="#!/{{offer.user.company.profileUrl}}">{{offer.user.company.name}}</a>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div layout="row" ng-repeat="product in offer.products | filter:{subCategory2:category._id}">-->
                    <!--<div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">-->
                    <!--<img alt="" class="img-responsive simple img-fix img-center o-img-fix"-->
                    <!--data-ng-src="{{product.inventory.product.productImageURL1}}">-->
                    <!--<div class="md-title">{{product.inventory.productName}}</div>-->

                    <!--</div>-->
                    <!--<div class="m-top15" layout="row" layout-xs='row' layout-xs="column" layout-sm="row"-->
                    <!--layout-gt-lg="row">-->
                    <!--<div flex="33" flex-xs="100" flex-sm="33" flex-gt-lg="33">-->
                    <!--<label class="flabel">MOQ:<span>{{product.MOQ}} units</span></label>-->
                    <!--</div>-->

                    <!--<div flex="33" flex-xs="100" flex-sm="33" flex-gt-lg="33">-->
                    <!--<label class="flabel">Unit:<span>{{product.inventory.unitSize}}{{product.inventory.unitMeasure}}</span></label>-->
                    <!--</div>-->

                    <!--<div flex="33" flex-xs="100" flex-sm="33" flex-gt-lg="33">-->
                    <!--<label class="flabel">Unit Price:<span>Rs {{product.unitIndicativePrice}}</span></label>-->
                    <!--</div>-->

                    <!--<div flex="33" flex-xs="100" flex-sm="33" flex-gt-lg="33">-->
                    <!--<label class="flabel">Location:<span>Karnataka</span></label>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--</div>-->
                    <!--<div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="15">-->

                    <!--<h5 class="flabel">Valid Till:</h5>-->

                    <!--<div class="md-caption">{{offer.validTill | date:"dd-MM-yyyy"}}</div>-->

                    <!--<md-button ng-click="createOrder(offer);" class="md-raised md-primary wid-100 comment-btn">Place-->
                    <!--order-->
                    <!--</md-button>-->
                    <!--&lt;!&ndash; <md-button class="md-raised md-primary wid-100">Request Sample</md-button>&ndash;&gt;-->

                    <!--</div>-->


            </div>

        </md-content>

    </section>


    <!--<div layout-fill class="layout-padding" layout="row" layout-xs='row' layout-xs="column" layout-sm="column"-->
    <!--layout-gt-lg="row" layout-wrap>-->

    <!--<div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">-->
    <!--<h1 class="md-headline">{{category.name}}</h1>-->
    <!--<md-divider></md-divider>-->

    <!--<div class="layout-padding" layout="row" layout-xs='row' layout-xs="column" layout-sm="column"-->
    <!--layout-gt-lg="row" layout-wrap>-->


    <!--<div layout-fill flex="25" flex-xs="100" flex-sm="100" flex-gt-lg="25">-->
    <!--<span class="m-top15">-->
    <!--<img alt="" class="img-responsive simple img-fix img-center o-img-fix"-->
    <!--data-ng-src="{{category.categoryImageURL1}}">-->
    <!--</span>-->
    <!--</div>-->
    <!--&lt;!&ndash;<md-divider></md-divider>&ndash;&gt;-->

    <!--<div flex="75" flex-xs="100" flex-sm="100" flex-gt-lg="75" class="whit-bg">-->
    <!--<div class="layout-padding" layout="row" layout-xs='row' layout-xs="column" layout-sm="column"-->
    <!--layout-gt-lg="row" layout-wrap>-->
    <!--<md-card flex="100" flex-xs="100" flex-sm="100">-->
    <!--<h1 class="md-subhead">Offers List</h1>-->
    <!--<md-divider></md-divider>-->

    <!--<div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100">-->
    <!--<div class="text-center"-->
    <!--data-ng-show="subCategoryOffers.length === 0">-->
    <!--No offers present in this category.-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="layout-padding" layout="row" layout-xs='row' layout-xs="column" layout-sm="row"-->
    <!--layout-gt-lg="row" layout-wrap ng-repeat="offer in subCategoryOffers">-->

    <!--<div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="25">-->
    <!--<img alt="" class="img-responsive simple img-fix img-center o-img-fix"-->
    <!--data-ng-src="{{offer.products[0].inventory.product.productImageURL1}}">-->

    <!--</div>-->

    <!--<div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50">-->
    <!--<div class="md-title">{{offer.name}}</div>-->
    <!--<div class="offer-by">-->
    <!--<p>{{offer.user.displayName}}</p>-->
    <!--</div>-->
    <!--<div class="m-top15" layout="row" layout-xs='row' layout-xs="column" layout-sm="row"-->
    <!--layout-gt-lg="row">-->
    <!--<div flex="33" flex-xs="100" flex-sm="33" flex-gt-lg="33">-->
    <!--<label class="flabel">MOQ:<span>{{offer.products[0].MOQ}}{{offer.products[0].product.unitMeasure}}</span></label>-->
    <!--</div>-->

    <!--<div flex="33" flex-xs="100" flex-sm="33" flex-gt-lg="33">-->
    <!--<label class="flabel">Price:<span>Rs {{offer.products[0].unitIndicativePrice}}</span></label>-->
    <!--</div>-->

    <!--<div flex="33" flex-xs="100" flex-sm="33" flex-gt-lg="33">-->
    <!--<label class="flabel">Location:<span>Karnataka</span></label>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->

    <!--<div flex="25" flex-xs="100" flex-sm="25" flex-gt-lg="15">-->

    <!--<h5  class="flabel">Valid Till:</h5>-->
    <!--<label>{{offer.validTill | date:"dd-MM-yyyy"}}</label>-->

    <!--<md-button ng-click="createOrder(offer);" class="md-raised md-primary wid-100">Place order</md-button>-->
    <!--&lt;!&ndash; <md-button class="md-raised md-primary wid-100">Request Sample</md-button>&ndash;&gt;-->

    <!--</div>-->
    <!--<div flex="100" flex-xs="100">-->
    <!--<md-divider></md-divider>-->
    <!--</div>-->
    <!--</div>-->

    <!--</md-card>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    </div>

<!--1st starts-->
<!--<section class="wrapper firsec-bg" data-ng-controller="OffersController"-->
         <!--data-ng-init="findSubcategory2Offers();findCategory();">-->
    <!--<div class="col-lg-12 m-top40">-->
        <!--<h3 class="tabtxt heading">{{category.name}}</h3>-->
        <!--<hr class="nline">-->

    <!--</div>-->

    <!--<div class="row firsec-bg">-->



        <!--<div class="col-lg-12 firsec-bg">-->

            <!--<div class="col-lg-3">-->
                <!--<section class="panel firsec-bg shw min">-->
                           <!--<span class="m-top15">-->
                              <!--<img alt="" class="img-responsive simple img-fix img-center o-img-fix"-->
                                   <!--data-ng-src="{{category.categoryImageURL1}}">-->
                           <!--</span>-->
                    <!--&lt;!&ndash;<h4>Filter / Sort Options</h4>-->
                    <!--<hr class="nline" >-->

                    <!--<div class="filter">-->
                        <!--<h3>Filter</h3>-->
                        <!--<hr class="nline" >-->
                        <!--<input class="checkbox-custom" type="checkbox" id="new" name="cc" />-->
                        <!--<label class="checkbox-custom-label" for="new"  ><span>&nbsp;</span>New</label>-->

                        <!--<input class="checkbox-custom" type="checkbox" id="all" name="cc" />-->
                        <!--<label class="checkbox-custom-label" for="all"  ><span>&nbsp;</span>All</label>-->
                    <!--</div>-->

                    <!--<div class="filter">-->
                        <!--<h3>Minimum Order Quantity</h3>-->
                        <!--<hr class="nline" >-->
                        <!--<input class="checkbox-custom" type="checkbox" id="five" name="cc" />-->
                        <!--<label class="checkbox-custom-label" for="five"><span>&nbsp;</span>5 Tons</label>-->

                        <!--<input class="checkbox-custom" type="checkbox" id="ten" name="cc" />-->
                        <!--<label class="checkbox-custom-label" for="ten"><span>&nbsp;</span>10 Tons</label>-->

                        <!--<input class="checkbox-custom" type="checkbox" id="fifteen" name="cc" />-->
                        <!--<label class="checkbox-custom-label" for="fifteen"><span>&nbsp;</span>15 Tons</label>-->
                    <!--</div>-->

                    <!--<div class="filter">-->
                        <!--<h3>Price</h3>-->
                        <!--<hr class="nline" >-->
                        <!--<input class="checkbox-custom" type="checkbox" id="10" name="cc" />-->
                        <!--<label class="checkbox-custom-label" for="10" ><span>&nbsp;</span>Rs10</label>-->

                        <!--<input class="checkbox-custom" type="checkbox" id="100" name="cc" />-->
                        <!--<label class="checkbox-custom-label" for="100" ><span>&nbsp;</span>Rs100</label>-->

                        <!--<input class="checkbox-custom" type="checkbox" id="1000" name="cc" />-->
                        <!--<label class="checkbox-custom-label" for="1000" ><span>&nbsp;</span>Rs1000</label>-->
                    <!--</div>-->

                    <!--<div class="filter">-->
                        <!--<h3>Sort by</h3>-->
                        <!--<hr class="nline" >-->
                        <!--<div class="col-lg-12">-->
                            <!--<input type="text" class="form-control" />-->
                        <!--</div>-->
                    <!--</div>-->
<!--&ndash;&gt;-->
                <!--</section>-->
            <!--</div>-->

            <!--<div class="col-lg-9 bg-white">-->
                <!--<div class="row">-->
                    <!--<div class="nhead" >-->
                        <!--<h3 id="heading" class="tabtxt">Offers List</h3>-->
                        <!--<hr class="nline" >-->
                    <!--</div>-->

                    <!--<div class="col-lg-12 m-top15  col-sm-12" data-ng-repeat="offer in subCategoryOffers">-->
                        <!--<div class="col-lg-3">-->
                            <!--<img alt="" class="img-responsive simple img-fix img-center o-img-fix"-->
                                 <!--data-ng-src="{{offer.products[0].product.productImageURL1}}">-->


                        <!--</div>-->
                        <!--<div class="col-lg-6">-->
                            <!--<div class="offerlist-timeline">-->

                                <!--<p class="timeline-comment-text">{{offer.name}}</p>-->
                                <!--<div class="offer-by">-->
                                    <!--<p>{{offer.user.displayName}}</p>-->
                                <!--</div></div>-->
                            <!--&lt;!&ndash; <p class="o-title">14 people watching</p>&ndash;&gt;-->
                            <!--<div class="col-lg-12 lg">-->
                                <!--<div class="col-lg-4 lg col-sm-4">-->
                                    <!--<label class="flabel">MOQ:<span>{{offer.products[0].MOQ}}{{offer.products[0].product.unitMeasure}}</span></label>-->
                                <!--</div>-->
                                <!--<div class="col-lg-4 lg col-sm-4">-->
                                    <!--<label class="flabel">Price:<span>Rs {{offer.products[0].unitIndicativePrice}}</span></label>-->
                                <!--</div>-->
                                <!--<div class="col-lg-4 lg col-sm-4">-->
                                    <!--<label class="flabel">Location:<span>Karnataka</span></label>-->
                                <!--</div>-->
                            <!--</div>-->

                        <!--</div>-->
                        <!--<div class="col-lg-3 col-sm-4">-->
                            <!--<h5  class="flabel">Valid Till:</h5>-->
                            <!--<label>{{offer.validTill | date:"dd-MM-yyyy"}}</label>-->
                            <!--<button type="button" class="btn btn-save" ng-click="createOrder(offer);">Place order-->
                            <!--</button>-->
                        <!--</div>-->
                        <!--<div class="col-lg-12">-->
                            <!--<hr class="nline">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="text-center"-->
                 <!--data-ng-show="subCategoryOffers.length === 0">-->
                <!--No offers present in this category.-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->
