<section data-ng-controller="OffersController" data-ng-init="findOne();" ng-show="offer.offerStatus!=='Drafted'">
	<div class="page-header">
		<h1>View Offer</h1>
	</div>
	<div class="form-horizontal" data-ng-init="findContacts();">
		<!--	<div class="form-group">
				<a title="Edit Order" class="btn pull-right">
					<i class="glyphicon glyphicon-edit"></i> Edit Order
				</a>
				</div>-->
		<div class="form-group">
			<div class="col-sm-2">

				<label class="control-label">Offer Name</label>
			</div>
			<div class="col-sm-10">
				<b><span  data-ng-bind="offer.name"></span></b>
			</div>

		</div>
		<div class="form-group">
			<div class="col-sm-2">

				<label class="control-label">Offer Number</label>
			</div>
			<div class="col-sm-2">
				<b><span  data-ng-bind="offer.offerNumber"></span></b>
			</div>

		</div>


		<div class="form-group">
			<div class="col-sm-2">
				<label class="control-label">Offer Type</label>
			</div>
			<div class="col-sm-2">
				<span  data-ng-bind="offer.role"></span>
			</div>

		</div>
		<!--<div class="form-group">
			<div class="col-sm-2">
				<label class="control-label">To</label>
			</div>
			<div class="col-sm-2">
				<span data-ng-bind="offer.to.contact.firstName +' '+offer.buyer.contact.lastName"></span>
			</div>
		</div>-->
		<!--<div class="form-group">
			<div class="col-sm-2">
				<label class="control-label">Seller</label>
			</div>
			<div class="col-sm-2">
				<span data-ng-bind="offer.seller.contact.firstName +' '+offer.seller.contact.lastName"></span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				<label class="control-label">Mediator/Agent</label>
			</div>
			<div class="col-sm-2">
				<span data-ng-bind="offer.mediator.contact.firstName +' '+offer.mediator.contact.lastName"></span>
			</div>


		</div>-->
		<div class="form-group">
			<div class="col-sm-2">
				<label class="control-label">Offer Status</label>
			</div>
			<div class="col-sm-2">
				<span data-ng-bind="offer.offerStatus" ></span>
			</div>

			<button ng-show="offer.changeStatusDisplay" ng-click="offer.onchangestatus=true;clearStatusData();" class="btn btn-primary">Update Status</button>
		</div>
		<div class="form-group" ng-show="offer.onchangestatus">
			<form class="form-horizontal" name="CommentForm" data-ng-submit="updateOfferStatus(true);onchangestatus=false">
				<fieldset>
					<table class="table table-bordered table-hover table-condensed">
						<thead>
						<tr>
							<th>Offer Status</th>
							<th>Offer Status Comments</th>
							<th></th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>
								<select name="currentStatus" ng-model="currentStatus" ng-options="s.value as s.text for s in offer.statusArray">
									<option value="" selected="selected">Select</option>
								</select>
							</td>
							<td>
								<textarea ng-model="statusComments" class="form-control" rows="1" id="statusComments"></textarea>
							</td>
							<td>
								<div class="btn-form">
									<button type="submit" class="btn btn-primary" data-ng-click="reset(CommentForm);">Submit</button>
									<input type="button" value="Cancel" class="btn btn-primary" data-ng-click="offer.onchangestatus=false;offerUpdateFields();clearStatusData();">
								</div>
							</td>
						</tr></tbody></table>
				</fieldset>
			</form>
		</div>
		<div class="form-group">
			<div class="col-sm-2">
				<label class="control-label" >Valid Date</label>
			</div>
			<div class="col-sm-2">
				<span> {{offer.validTill | date:"dd-MM-yyyy"}}</span>
			</div>
		</div>


		<div class="form-group" >
			<div class="col-sm-2" ng-show="offer.isPublic">
				<label class="control-label" >Public Offer</label>
			</div>
			<div class="col-sm-2" ng-show="!offer.isPublic">
				<label class="control-label" >Private Offer</label>
			</div>
		</div>
	</div>
	<form editable-form name="updateform" onaftersave="update()"  oncancel="cancel()"
		  novalidate>
		<fieldset>
			<div class="panel panel-default">

				<div class="panel panel-default table-responsive" data-ng-init="findProducts();">
					<div class="panel-heading"><h4><span class="label label-primary">Products</span></h4></div>
					<table class="table table-bordered table-hover table-condensed">
						<thead>
						<tr>
							<th>Product Name</th>
							<th>Unit Indicative Price</th>
							<th>Unit Size</th>
							<th>Unit Measure</th>
							<th>Units Available</th>
							<th>MOQ</th>
							<th>Margin (%)</th>
							<th>Available Date</th>
							<th>Sample Available</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="product in offer.products track by $index">
							<!-- <tr ng-repeat="prod in offer.products track by $index">
                                 <td><span data-ng-bind="prod.product.name"></span></td>
                                 <td><span data-ng-bind="prod.product.subCategory"></span></td>
                                 <td><span data-ng-bind="prod.sampleNumber"></span></td>
                                 <td><span data-ng-bind="prod.unitSize"></span></td>
                                 <td><span data-ng-bind="prod.unitMeasure"></span></td>
                                 <td><span data-ng-bind="prod.unitPrice"></span></td>
                                 <td><span data-ng-bind="prod.numberOfUnits"></span></td>
                                 <td><span data-ng-bind="prod.unitSize*prod.numberOfUnits"></span></td>
                                 <td><span data-ng-bind="prod.unitPrice*prod.numberOfUnits"></span></td>
                             </tr>-->
							<td>
								 <span ng-show="!updateform.$visible">
                                    <div>
										<img data-ng-src="{{product.product.productImageURL1}}" alt="{{product.product.name}}"
											 class="img-thumbnail product-profile-picture">
									</div>

                                   <a data-ng-href="products/{{product.product._id}}{{((authentication.user) && (authentication.user._id == product.product.user))?'/edit':''}}">{{product.product.name}}</a>
                                </span>
                                <span  ng-show="updateform.$visible" editable-text="product.product"  e-typeahead-on-select="selectProduct($item, $index);"
									   e-name="name"
									   e-typeahead="metaProduct as metaProduct.name for metaProduct in filterByProductName(metaProducts, $viewValue)"
									   e-form="updateform" e-autocomplete="off">
          {{ product.name || '' }}</span></td>
							<td>
								<span ng-show="!updateform.$visible" data-ng-bind="product.unitIndicativePrice" e-form="updateform"></span>
                                <span ng-show="updateform.$visible" editable-text="product.unitIndicativePrice" e-name="unitIndicativePrice" e-form="updateform" e-ng-change="changeProductIndicativePrice($index,this);">
          {{ product.subCategory || '' }}</span></td>
							<!--				<td>
                                                <span ng-show="!updateform.$visible" data-ng-bind="product.sampleNumber" e-form="updateform"></span>
                                                <span ng-show="updateform.$visible" editable-text="product.sampleNumber" e-ng-bind="product.sampleNumber" e-ng-change="changeProductSampleNumber($index,this);" e-name="sampleNumber" e-form="tableform">
                          {{ product.sampleNumber || 'empty' }}</span>
                                            </td>-->
							<td>
								<span data-ng-bind="product.product.unitSize" e-form="updateform"></span>
                                <!--<span ng-show="updateform.$visible" editable-text="product.unitSize" e-ng-change="changeProductUnitSize($index,this);" e-name="unitSize" e-form="tableform">
          {{ product.unitSize || 'empty' }}</span>-->
							</td>
							<td>
								<span data-ng-bind="product.product.unitMeasure" e-form="updateform"></span>
                               <!-- <span ng-show="updateform.$visible" editable-text="product.unitMeasure" e-ng-change="changeProductUnitMeasure($index,this);" e-name="unitMeasure" e-form="tableform">
                                {{ product.unitMeasure || 'empty' }}</span>-->
							</td>
							<td>
								<span ng-show="!updateform.$visible" data-ng-bind="product.numberOfUnitsAvailable" e-form="updateform"></span>
                                <span ng-show="updateform.$visible" editable-text="product.numberOfUnitsAvailable" e-ng-change="changeProductNumberOfUnitsAvailable($index,this);"
									  e-name="numberOfUnits"
									  e-form="updateform">{{ product.numberOfUnits || ''}}</span></td>

							<td>
								<span ng-show="!updateform.$visible" data-ng-bind="product.MOQ" e-form="updateform"></span>
                                <span ng-show="updateform.$visible" editable-text="product.MOQ" e-ng-change="changeProductMOQ($index,this);"
									  e-name="MOQ"
									  e-form="updateform">{{ product.MOQ || ''}}</span></td>


							<td>
								<span data-ng-bind="product.margin" e-form="updateform"></span>
                                <!--<span ng-show="updateform.$visible" editable-text="product.margin" e-ng-change="changeProductMOQ($index,this);"
									  e-name="MOQ"
									  e-form="updateform">{{ product.margin || ''}}</span>--></td>


							<td>
								<span  ng-show="!updateform.$visible" e-form="updateform">{{(product.availableDate| date:"dd-MMMM-yyyy") || '' }}</span>
							 <span ng-show="updateform.$visible" editable-text="product.availableDate" e-datepicker-popup="dd-MMMM-yyyy" e-name="availableDate" e-ng-change="changeProductAvailableDate($index,this);"
								   e-form="updateform">
                                {{(product.availableDate| date:"dd-MMMM-yyyy") || '' }}</span>
							</td>

							<td>
								<span ng-show="!updateform.$visible"  data-ng-bind="product.sampleAvailable? 'Yes':'No'" e-form="updateform"></span>
								<span ng-show="updateform.$visible" editable-checkbox="product.sampleAvailable" e-name="sampleAvailable" e-form="updateform" e-ng-change="changeProductSampleAvailable($index,this);">
                                {{ product.sampleAvailable || 'Yes'  }}</span>
								<button type="button" ng-show="!updateform.$visible && product.sampleAvailable"
										ng-click="requestSample(product);"
										class="btn btn-primary">Request Sample
								</button>
							</td>
							<!--<td>
								<span ng-show="!updateform.$visible" data-ng-bind="product.unitPrice" e-form="updateform"></span>
                                <span ng-show="updateform.$visible" editable-text="product.unitPrice"  e-name="unitPrice" e-ng-change="changeProductUnitPrice($index,this);"
									  e-form="updateform">{{ product.unitPrice || 'empty'}}
                            </span></td>
							<td>-->

							<!--<td>
								<span ng-show="!updateform.$visible" data-ng-bind="product.unitSize*product.numberOfUnits"></span>
								<span ng-show="updateform.$visible" e-form="updateform"> {{product.unitSize*product.numberOfUnits}}</span>
							</td>
							<td>
								<span ng-show="!updateform.$visible" data-ng-bind="product.unitPrice*product.numberOfUnits"></span>
								<span ng-show="updateform.$visible" e-form="updateform"> {{product.unitPrice*product.numberOfUnits }}</span>
							</td>-->
							<td ng-show="updateform.$visible">
								<button type="button" ng-show="updateform.$visible" ng-click="offer.products.splice($index, 1)"
										class="btn btn-danger pull-right">-
								</button>
							</td>
						</tr>

						</tbody>
					</table>
				</div>
			</div>
			<!--    <span class="pull-right" ng-show="offer.products.length>0">
               &lt;!&ndash;<tr>
                   <td>&ndash;&gt;

                       <label class="control-label" >Total Price: {{totalPriceFormatter();}}</label>

                    &lt;!&ndash;</td>
                </tr>&ndash;&gt;
           </span>-->
			<div class="clearboth form-group">
				<div class="btn-form">
					<!--<button ng-show="updateform.$visible" type="button" class="btn btn-default pull-right"
							ng-click="updateProducts(offer);">
						ADD Products
					</button>
					&lt;!&ndash;	<div ng-show="offer.createduser===true" ng-init="updateform.$show();">	</div>&ndash;&gt;
					<button ng-show="!updateform.$visible && offer.offerStatus==='Opened' && offer.createduser" type="button" class="btn btn-default pull-right"
							ng-click="updateform.$show();updateProduct(offer);">
						Edit Products
					</button>-->
					<button type="submit" class="btn btn-primary" ng-show="offer.createduser" ng-click="cloneOffer();">Clone Offer</button>
					<button type="button" class="btn btn-primary" ng-show="offer.offerStatus!=='Cancelled'" ng-click="createOrder();">Create Order</button>
					<button type="button" ng-click="clearFields();offerRedirection();"
							class="btn btn-default">Cancel
					</button>
				</div>
			</div>
			<div data-ng-show="error" class="text-danger">
				<strong data-ng-bind="error"></strong>
			</div>

			</div>
		</fieldset>
	</form>
	<div class="form-group">

		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments</a></li>
			<!--<li role="presentation"><a href="#paymentOptions-history" aria-controls="paymentOptions-history" role="tab" data-toggle="tab">Payment History</a></li>-->
			<li role="presentation"><a href="#status-history" aria-controls="status-history" role="tab" data-toggle="tab">Status History</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="comments" data-ng-init="findOfferMessages()">
					<div class="media" ng-repeat="orderMessage in offerMessages track by $index">
                        <div class="media-left"
                             data-ng-show="((authentication.user) && (authentication.user._id != orderMessage.user._id))">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img data-ng-src="{{orderMessage.user.profileImageURL}}"
                                     alt="{{orderMessage.user.displayName}}" class="media-object"
                                     style="width: 64px; height: 64px;"/>
                            </a>
                        </div>
                        <div class="media-body"
                             data-ng-show="((authentication.user) && (authentication.user._id != orderMessage.user._id))">
                            <h4 class="media-heading">{{orderMessage.user.displayName}}</h4>
                            {{orderMessage.body}}
                        </div>

                        <div class="media-body"
                             data-ng-show="((authentication.user) && (authentication.user._id == orderMessage.user._id))">
                            <h4 class="media-heading text-right">{{authentication.user.displayName}}</h4>
                            {{orderMessage.body}}
                        </div>
                        <div class="media-right"
                             data-ng-show="((authentication.user) && (authentication.user._id == orderMessage.user._id))">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img data-ng-src="{{authentication.user.profileImageURL}}"
                                     alt="{{authentication.user.displayName}}" class="media-object"
                                     style="width: 64px; height: 64px;"/>
                            </a>
                        </div>
                    </div>
                    <form class="form-horizontal" name="commentsForm" data-ng-submit="createMessage(offer._id)">
                        <div class="form-group">
                            <label for="comment">Comment:</label>
                            <textarea data-ng-model="body" class="form-control" rows="5" id="comment"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" ng-disabled="commentsForm.$waiting" class="btn btn-primary">Save Comments
                            </button>

                        </div>
                    </form>
			</div>
			<!--   <div role="tabpanel" class="tab-pane" id="paymentOptions-history" >
                   <add-payment-history data-ng-show="true"></add-payment-history>
               </div>
   -->			<div role="tabpanel" class="tab-pane" id="status-history">
			<add-offer-status-history data-ng-show="true"></add-offer-status-history>

		</div>
		</div>

	</div>
	<div data-ng-show="error" class="text-danger">
		<strong data-ng-bind="error"></strong>
	</div>
</section>
<div data-ng-show="error" class="text-danger">
	<strong data-ng-bind="error"></strong>
</div>
</section>
