<form editable-form name="updateform" onaftersave="update()"   oncancel="cancel()" novalidate ng-if="showView" class="nvc-slider-form">
    <div class="nvc-form-content">
        <div layout="row" layout-align="center center" class="nvc-sticky-top">
            <md-button class="md-icon-button md-mini" ng-click="closeOfferDetails()" aria-label="close dialog"><md-icon class="fa fa-times fa-lg"></md-button>
            <h4 flex class="nv-text-center nv-text-bold">Offer Details</h4>
            <md-button class="md-icon-button md-mini" ng-click="batchOffers(0);cancel()" ng-show="(authentication.companyBusinessUnits.userGroup.name === 'Admin')" aria-label="close dialog"><md-icon class="fa fa-trash text-danger fa-lg"></md-button>
        </div>
        <div layout="row"  layout-xs='row'  layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap  ng-show="selOffer.offerStatus!=='Drafted'" class="nvc-clear-both">
            <div ng-show="selOffer.offerStatus === 'Expired'" class="ribbon ribbon-small ribbon-red">
                <div class="banner">
                    <div class="text nv-text-center">OFFER EXPIRED</div>
                </div>
            </div>

            <div ng-show="selOffer.offerStatus === 'Completed'" class="ribbon ribbon-small ribbon-green">
                <div class="banner">
                    <div class="text nv-text-center">OUT OF STOCK</div>
                </div>
            </div>


            <div flex="100" flex-xs="100" flex-sm="100" flex-gt-lg="100" class="nv-text-center">
                <div layout="row" layout-xs="row" layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-align="space-around start" layout-padding layout-wrap class="nvc-product-detail nvc-padding-top-10">
                    <div flex="30" flex-xs="30" flex-sm="30" flex-gt-lg="30">
                        <h6>Offer Name</h6>
                        <label class="bb-truncate">{{selOffer.name}}</label>
                        </div>
                    <div flex="30" flex-xs="30" flex-sm="30" flex-gt-lg="30">
                        <h6>Valid From</h6>
                        <label  data-ng-bind="selOffer.validFrom |date:'MMM d, y'"></label>
                    </div>
                    <div flex="30" flex-xs="30" flex-sm="30" flex-gt-lg="30">
                        <h6>Valid Till</h6>
                        <label data-ng-bind="selOffer.validTill |date:'MMM d, y'" ></label>
                    </div>


                    <div flex="30" flex-xs="30" flex-sm="30" flex-gt-lg="30">
                        <h6>Offer Number</h6>
                        <label class="bb-truncate">{{selOffer.offerNumber}}</label>
                    </div>

                    <div flex="30" flex-xs="30" flex-sm="30" flex-gt-lg="30">
                        <h6>Offer Type</h6>
                        <label class="bb-truncate">{{selOffer.isPublic?'Public Offer':'Private Offer'}}</label>
                    </div>

                    <div flex="30" flex-xs="30" flex-sm="30" flex-gt-lg="30">
                        <h6>Offer Status</h6>
                        <!--<md-chips>
                            <md-chip class="bb-chips-custom" ng-click="myTabIndex=4"
                                     ng-class="{'confirmed': selOffer.offerStatus === 'Confirmed', 'inprogress': selOffer.offerStatus === 'InProgress', 'draft': selOffer.offerStatus === 'Drafted' , 'shipped': selOffer.offerStatus === 'Shipped' ,'placed': selOffer.offerStatus === 'Opened'|| selOffer.offerStatus === 'Placed' , 'expire': selOffer.currentStatus === 'Rejected',  'complete': selOffer.offerStatus === 'Completed' ,  'delivered': selOffer.offerStatus === 'Delivered' ,  'cancelled': selOffer.offerStatus === 'Cancelled'}">
                                {{selOffer.offerStatus}}<span ng-show="offerUpdateStatusEditButton(selOffer)" ng-click="changeStatusOffer(selOffer);"
                                                           class="fa fa-pencil bb-cursor bb-text-center nvc-padding-left-10 "></span>
                            </md-chip>
                        </md-chips>-->
                        <span class="bb-label nvc-shape-pill" ng-click="checkUserRoleToChangeStatus(selOffer)"
                              data-ng-class="{'bb-opened': (selOffer.offerStatus === 'Drafted' || selOffer.offerStatus === 'Opened') ,  'bb-complete': selOffer.offerStatus === 'Completed' ,  'bb-expire': selOffer.offerStatus === 'Expired' , 'bb-cancelled': selOffer.offerStatus === 'Cancelled'}">
                                {{selOffer.offerStatus}}</span>
                        <span ng-show="selOffer.createduser && !(selOffer.offerStatus==='Cancelled' || selOffer.offerStatus==='Completed' || selOffer.offerStatus==='Expired') &&(authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager')"
                              ng-click="myTabIndex=4;changeStatusOrder(selOffer);"
                              class="fa fa-pencil bb-cursor"></span>
                    </div>
                    </div>
                </div>
        </div>
        <div layout-padding layout="row" layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row"
             layout-wrap ng-show="selOffer.offerStatus==='Drafted'" class="nvc-product-detail" layout-align="space-around center">
                    <div flex="30" flex-xs="30" flex-sm="30" flex-gt-lg="30">
                        <h5>Offer Name</h5>
                        <md-input-container class="md-block nvc-margin-0">
                            <input required ng-model="selOffer.name">
                        </md-input-container>
                    </div>

                    <div flex="30" flex-xs="30" flex-sm="30" flex-gt-lg="30">
                        <h5>Offer Number</h5>
                        <label class="bb-truncate">{{selOffer.offerNumber}}</label>
                    </div>

                    <div flex="30" flex-xs="30" flex-sm="30" flex-gt-lg="30">
                        <h5>Valid Till</h5>
                        <md-datepicker class="nvc-date-picker" md-min-date="selOffer.validFrom" ng-model="selOffer.validTill"  md-placeholder="Valid Till">
                        </md-datepicker>
                    </div>
            <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50" ng-show="selOffer.offerStatus==='Drafted'">
                <h5>Offer Type </h5>
                <md-radio-group ng-model="publicOffer" layout="row">
                    <md-radio-button flex="50" ng-value="true" class="md-primary">Public Offer</md-radio-button>
                    <md-radio-button flex="50" ng-value="false" class="md-primary">Private Offer</md-radio-button>
                </md-radio-group>
            </div>
                    <div flex="50" flex-xs="100" flex-sm="50" flex-gt-lg="50" ng-show="selOffer.offerStatus==='Drafted'">
                    <h5>Offer Type </h5>
                    <md-radio-group ng-model="selOffer.offerType" name="Offer Types" layout-padding layout="row"
                                    layout-xs='row' layout-xs="column" layout-sm="row" layout-gt-lg="row" layout-wrap>

                        <md-radio-button flex-xs="100" ng-repeat="types in offerTypes" class="md-primary"
                                         data-ng-model="selOffer.offerType" data-ng-value="types.value"name="types.text" >{{types.text}}
                        </md-radio-button>
                    </md-radio-group>
                    </div>
            </div>
        <md-tabs md-dynamic-height md-border-bottom md-selected="myTabIndex">
            <md-tab label="Products" >
                <md-content class="md-padding" layout="row" layout-wrap>
                    <div layout="row" flex="100"  class="nvc-margin-top-5 nvc-margin-bottom-10 layout-padding layout-align-start-center">
                        <div flex="5" ng-disabled="(selOffer.offerStatus==='Cancelled' || selOffer.offerStatus==='Completed' || selOffer.offerStatus==='Expired')">
                            <nv-check-box  selectedlist="selectedList" orginallist="selOffer.products" sort-by="-created"></nv-check-box>
                        </div>
                    <div flex="30">
                        <div class="nvc-input-btngrp nv-position-relative">
                        <input placeholder="Search..." type="text" ng-model="searchInventoryText">
                        <span>
                                <button class="nvc-input-button" type="button" ng-click="find()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    </div>
                    <div class="layout-padding nv-position-relative nvc-border-bottom nvc-margin-bottom-10"
                         layout-align="start center" layout-wrap flex="100" layout="row" layout-xs="row" layout-sm="row" layout-gt-lg="row"
                         ng-repeat="singleproduct in selOffer.products track by $index" id="offerProduct-{{$index}}">
                        <div flex="100" flex-sm="100" flex-gt-lg="100" flex-xs="100"
                             layout="row" layout-align="center center" layout-wrap>
                            <div flex="5">
                                <md-checkbox ng-disabled="getDisabledItem(singleproduct) || (selOffer.offerStatus==='Cancelled' || selOffer.offerStatus==='Completed' || selOffer.offerStatus==='Expired')" aria-label="selections" class="md-primary"
                                             ng-model="singleproduct.selected"></md-checkbox>
                            </div>
                            <div flex="15" >
                                <product-image images="[singleproduct.inventory.inventoryImageURL1,singleproduct.inventory.inventoryImageURL2,singleproduct.inventory.inventoryImageURL3]" id="$index"></product-image>
                            </div>
                            <div flex="80" class="nvc-padding-left-10">
                                <label>{{singleproduct.inventory.productName}} ({{singleproduct.inventory.unitOfMeasureName}})</label>
                                <h6 class="nv-text-bold nvc-margin-5">{{singleproduct.inventory.brandName}}</h6>
                                <h6>In Stock : <span><label>{{singleproduct.inventory.numberOfUnits | number:2}}</label></span>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    MRP : <span><label>{{getPrice(singleproduct)| number:2}}</label></span></h6>

                            </div>
                            <div flex="5">

                            </div>
                            <div flex="15" class="nv-text-center">
                                <md-menu class="nvc-padding-0 " md-position-mode="target-right target" md-offset="0 42">
                                <md-button class="nvc-shape-pill nvc-primary-background nvc-cust-mini" ng-click="$mdOpenMenu($event)" aria-label="track"><h6 class="nvc-margin-0 nv-text-bold">Track</h6></md-button>
                                    <md-menu-content>
                                        <h6>Select Batch to track</h6>
                                        <md-divider></md-divider>
                                    <md-menu-item ng-repeat="stock in singleproduct.inventory.stockMasters">
                                        <md-button ng-click="track(singleproduct.inventory,stock,$index)" aria-label="select batch">{{stock.batchNumber}}</md-button>
                                    </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </div>
                            <div flex="80" class="nvc-padding-left-10">
                                <h5>Discounts : <span><label class="nvc-primary-color">{{(singleproduct.inventory.MRP ?((singleproduct.inventory.MRP-getPrice(singleproduct))/singleproduct.inventory.MRP)*100:0) | number:2}}</label></span></h5>
                            </div>
                            <div flex="100" flex-sm="100" flex-xs="100" flex-gt-lg="100" layout="row" layout-sm="row" layout-xs="row" ng-show="showMore">
                                <div flex="20" flex-sm="20" flex-xs="20" flex-gt-lg="20">
                                    &nbsp;
                                </div>
                                <div flex="80" flex-sm="80" flex-xs="80" flex-gt-lg="80" layout="row" layout-sm="row" layout-xs="row" class="nvc-padding-left-10">
                                    <h6>Mfg : <span><label>{{singleproduct.inventory.stockMasters[0].manufacturingDate | date:'dd-MM-yyyy'}}</label></span>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        Pkg : <span><label>{{singleproduct.inventory.stockMasters[0].packagingDate | date:'dd-MM-yyyy'}}</label></span>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        Exp : <span><label>{{singleproduct.inventory.stockMasters[0].expiryDate | date:'dd-MM-yyyy'}}</label></span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <!--<div class="layout-padding" flex="80" flex-xs="80" flex-sm="80" flex-gt-lg="80" layout="row" layout-sm="row" layout-xs="row" layout-gt-lg="row" layout-wrap>
                            <div flex="100" flex-sm="100" flex-xs="100" flex-gt-lg="100">
                                <h6 class="nvc-margin-0">Status : <span><label class="nvc-primary-color">Available</label></span></h6>
                                <label class="nvc-primary-color">Available</label>
                            </div>
                            <div flex="100" flex-sm="100" flex-xs="100" flex-gt-lg="100">
                                <h6 class="nvc-margin-0">Sample</h6>
                                <label ng-class="singleproduct.sampleAvailable?'nvc-primary-color':'text-danger'">{{singleproduct.sampleAvailable?'Available':'Not Available'}}</label>
                            </div>
                        </div>-->
                        <div class="nv-position-absolute nvc-bottom-right">
                            <span class="fa" ng-class="showMore?'fa-chevron-up':'fa-chevron-down'" ng-click="showMore = !showMore"></span>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Notified To">
                <md-content class="md-padding">
                    <div flex="100" layout="row" layout-padding layout-wrap>
                        <div flex="100" layout="row" class="layout-align-start-center">
                                <span class="md-primary fa fa-2x nvc-primary-color" ng-show="(authentication.companyBusinessUnits.userGroup.name === 'Manager'
                        || authentication.companyBusinessUnits.userGroup.name ==='Admin')" ng-class="showNotifiedContacts?'fa-chevron-circle-up':'fa-plus-circle'" ng-click="showNotifiedContacts = !showNotifiedContacts" aria-label="favourite" >
                                </span>
                            <div flex="30" class="nvc-padding-left-10">
                                <div class="nvc-input-btngrp nv-position-relative">
                                    <input placeholder="Search..." type="text" ng-model="searchContactText">
                                    <span>
                                <button class="nvc-input-button" type="button" ng-click="find()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                                </div>
                            </div>
                        </div>
                        <div layout="row" flex="100" ng-show="showNotifiedContacts">
                            <div class="nv-position-relative">
                                <md-button class="md-fab md-mini" ng-class="{'md-primary':selectedContacts.length>0}">
                                    <md-icon class="fa fa-bars fa-lg"></md-icon>
                                    <md-tooltip>{{selectedContacts.length}} Send Notifications</md-tooltip>
                                </md-button>
                            <h5 class="nvc-sup-text" ng-show="selectedContacts.length>0">{{(selectedContacts.length>99)?'99+':selectedContacts.length}}</h5>
                            </div>
                            <div flex>
                                <md-chips class="nvc-chips" ng-model="selectedContacts" md-autocomplete-snap="" md-transform-chip="criteriaChips.transformChip($chip)" md-require-match="autocompleteDemoRequireMatch">
                                    <md-autocomplete md-selected-item="selectedContactItem" md-search-text="searchOfferContactText" md-items="item in criteriaChips.querySearchContacts(selectedContact,searchOfferContactText)" md-item-text="item.name" placeholder="Search for Contacts ,Groups">
                                        <span md-highlight-text="searchOfferContactText">{{item.name ? item.name:item.displayName}}</span>

                                    </md-autocomplete>
                                    <md-chip-template>
                                        <span>
                                            <strong>{{$chip.displayName?$chip.displayName:$chip.name}}</strong>
                                        </span>
                                    </md-chip-template>
                                </md-chips>
                            </div>
                            <div>
                                <md-button class="md-fab md-mini" ng-click="batchOffers(3)" ng-class="{'md-primary':selectedContacts.length>0}">
                                    <md-icon class="fa fa-arrow-right fa-lg"></md-icon>
                                    <md-tooltip>Send Notification</md-tooltip>
                                </md-button>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="contact in selOffer.toContacts.contacts" flex="100" layout="row" layout-padding>
                        <div flex="15">
                            <img ng-src="{{contact.contact.contactImageURL}}" class="img-circle nv-accent-background bb-wid-100 nvc-accent-border">
                        </div>
                        <div flex="85" layout="column" layout-align="space-between start">
                            <label>{{contact.contact.displayName}}</label>
                            <h6 class="nvc-margin-5">{{contact.contact.customerType}}</h6>
                            <h6><span ng-show="contact.contact.phones.length>0"><span class="fa fa-phone nvc-primary-color" ></span>&nbsp;&nbsp;Phone: {{contact.contact.phones[0].phoneNumber}} &nbsp;&nbsp;</span>
                                <span ng-show="contact.contact.emails.length>0" ><span class="fa fa-envelope nvc-primary-color"></span>&nbsp;&nbsp;Email: {{contact.contact.emails[0].email}}</span></h6>
                        </div>
                    </div>
                    <div ng-repeat="group in selOffer.toContacts.groups" flex="100" layout="row" layout-padding>
                        <div flex="15">
                            <img ng-src="{{group.group.groupImageURL}}" class="img-circle nv-accent-background bb-wid-100 nvc-accent-border">
                        </div>
                        <div flex="85" layout="column" layout-align="space-between start">
                            <label>{{group.group.name}}</label>
                            <h6 class="nvc-margin-5">{{group.group.groupType}}</h6>
                            <!--<h6><span ng-show="contact.contact.phones.length>0"><span class="fa fa-phone nvc-primary-color" ></span>&nbsp;&nbsp;Phone: {{contact.contact.phones[0].phoneNumber}} &nbsp;&nbsp;</span>
                                <span ng-show="contact.contact.emails.length>0" ><span class="fa fa-envelope nvc-primary-color"></span>&nbsp;&nbsp;Email: {{contact.contact.emails[0].email}}</span></h6>-->
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Comments" md-on-select="findOfferMessages(selOffer._id)">
                <md-content class="md-padding">
                    <div flex="100" layout="row" layout-padding layout-wrap>
                        <div flex="100" layout="row" class="layout-align-start-center">
                                <span class="md-primary fa  fa-2x nvc-primary-color nvc-padding-left-5" ng-class="showComment?'fa-chevron-circle-up':'fa-plus-circle'" ng-click="showComment = !showComment" aria-label="favourite" >
                                </span>
                            <div flex="30" class="nvc-padding-left-10">
                                <div class="nvc-input-btngrp nv-position-relative">
                                    <input placeholder="Search..." type="text" ng-model="searchCommentText">
                                    <span>
                                <button class="nvc-input-button" type="button" ng-click="find()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                                </div>
                            </div>
                        </div>
                        <div flex="100" ng-show="showComment">
                            <md-input-container md-no-float class="md-block md-icon-right">
                                <input ng-model="body" type="text" placeholder="Comment" >
                                <md-icon class="fa-lg fa fa-paper-plane nvc-display-inlineblock" ng-click="createMessage(selOffer._id)"></md-icon>
                            </md-input-container>
                        </div>
                    </div>
                    <md-list flex>
                        <md-list-item class="md-3-line" ng-repeat="orderMessage in offerMessages track by $id(orderMessage)">
                            <img ng-src="{{orderMessage.user.profileImageURL}}" class="md-avatar nvc-accent-border img-circle nvc-margin-top-10" alt="{{orderMessage.user.displayName}}" />
                            <div class="md-list-item-text" layout="column">
                                <h4 class="nv-text-bold nvc-margin-bottom-5">{{orderMessage.user.displayName}}</h4>
                                <p>{{orderMessage.body}}</p>
                                <h6 class="nv-text-right">{{orderMessage.created |date:'medium'}}</h6>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-tab>
            <md-tab label="Orders"  ng-show="getMyOfferIndex('MyOffers')" md-on-select="getOrdersByOffer(selOffer._id)">
                <md-content class="md-padding">
                    <list-order-cards ng-show="offerOrders.length>0" order="order" ng-repeat="order in offerOrders track by $index"></list-order-cards>
                </md-content>
            </md-tab>
            <md-tab label="History" >
                <md-content class="nvc-content" ng-show="(authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager')">
                    <div layout="row" layout-wrap layout-align="center center" >
                        <div flex="100" layout="row" ng-show="selOffer.offerStatus!=='Cancelled'" layout-wrap>
                        <div flex="40" class="nvc-padding-left-10 nvc-margin-top-10">
                            <md-input-container class="md-block nvc-margin-bottom-10" md-auto-focus>
                                <label>Change Offer status</label>
                                <md-select aria-label="Offer Status" ng-model="currentStatus">
                                    <md-option ng-repeat="s in selOffer.statusArray">{{s.text}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div flex="60">
                        </div>
                        <div flex="100" layout="row" layout-align="center center">
                            <div flex class="nvc-padding-left-10">
                            <md-input-container class="md-block">
                                <label>Comments</label>
                                <input ng-model="statusComments">
                            </md-input-container>
                            </div>
                            <div>
                                <md-button class="md-raised md-primary nvc-shape-pill" ng-click="updateOfferStatus();">Submit</md-button>
                            </div>
                        </div>
                        </div>
                        <div flex="100" class="nvc-margin-top-10">
                            <md-list flex>
                                <md-list-item class="md-3-line" ng-repeat="history in selOffer.statusHistory track by $id(history)">
                                    <img ng-src="{{history.user.profileImageURL}}" class="md-avatar nvc-accent-border img-circle nvc-margin-top-10" alt="{{orderMessage.user.displayName}}" />
                                    <div class="md-list-item-text" layout="column">
                                        <h4 class="nv-text-bold nvc-margin-bottom-5">{{history.displayName}} - {{history.status}} the offer</h4>
                                        <h4>{{history.comments}}</h4>
                                        <h6 class="nv-text-right">{{history.date |date:'medium'}}</h6>
                                    </div>
                                    <md-divider></md-divider>
                                </md-list-item>
                            </md-list>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Payments">
                <md-content id="brand-grades-quality" class="md-padding">
                    <div class="nvc-landing-offers-tabs frm-inpt-mrgn-btm-0">
                        <md-tabs md-dynamic-height>
                            <md-tab label="Terms">
                                <md-content id='brand-grades'  layout-padding layout-wrap>
                                    <table>
                                        <tbody>
                                        <tr ng-repeat="term in selOffer.applicablePaymentTerms" ng-if="term.selected===true">
                                            <td class="layout-padding layout-align"><h5>{{term.paymentTerm.name}}</h5></td>
                                          <!--  <td class="layout-padding layout-align"> <label>{{gradeItem.attributeValue===''?'N/A':gradeItem.attributeValue}}</label></td>-->
                                        </tr>
                                        <!--<tr ng-repeat="gradeItem in inventory.productBrand.gradeDefinition" ng-if="gradeItem.attributeValue==='' && showMoreGrades">
                                            <td class="layout-padding layout-align"><h5>{{gradeItem.attributeKey}}</h5></td>
                                            <td class="layout-padding layout-align"> <label>{{gradeItem.attributeValue===''?'N/A':gradeItem.attributeValue}}</label></td>
                                        </tr>-->
                                        </tbody>
                                    </table>
                                    <div flex="100" class="nv-text-right nvc-primary-color" ><span ng-click="showMoreGrades=!showMoreGrades">{{showMoreGrades?'-':'+'}} Show {{showMoreGrades?'Less':'More'}}</span></div>
                                </md-content>
                            </md-tab>
                            <md-tab label="Modes">
                                <md-content id='brand-quality' layout-padding layout-wrap>
                                    <table>
                                        <tbody>
                                        <tr ng-repeat="mode in selOffer.applicablePaymentModes" ng-if="mode.selected===true" class="layout-padding layout-wrap">
                                            <td class="layout-padding layout-align"><h5>{{mode.paymentMode.name}}</h5></td>
                                            <td class="layout-padding layout-align"><label>{{qualityItem.attributeValue===''?'N/A':qualityItem.attributeValue}}</label></td>
                                        </tr>
                                       <!-- <tr ng-repeat="qualityItem in inventory.productBrand.qualityDefinition" ng-if="qualityItem.attributeValue==='' && showMoreQuality" class="layout-padding layout-wrap">
                                            <td class="layout-padding layout-align"><h5>{{qualityItem.attributeKey}}</h5></td>
                                            <td class="layout-padding layout-align"><label>{{qualityItem.attributeValue===''?'N/A':qualityItem.attributeValue}}</label></td>
                                        </tr>-->
                                        </tbody></table>
                                    <div flex="100" class="nv-text-right nvc-primary-color" ><span ng-click="showMoreQuality=!showMoreQuality">{{showMoreQuality?'-':'+'}} Show {{showMoreQuality?'Less':'More'}}</span></div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </div>

                </md-content>

            </md-tab>
        </md-tabs>
    </div>
    <div layout="row" layout-align="center center" ng-show="selOffer.offerStatus!=='Drafted' && (authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager')">
        <md-button ng-click="cloneOffer();" ng-show="selOffer.user._id===authentication.user._id"
                   class="nvc-accent-background nvc-primary-color nvc-padding-0 nvc-margin-0 md-background-accent" ng-class="(selOffer.offerStatus==='Cancelled' || selOffer.offerStatus==='Completed' || selOffer.offerStatus==='Expired')?'flex-100':'flex-50'">Copy Offer
        </md-button>
        <md-button ng-click="createOrder();"
                   ng-disabled="orderProductCount()"
                   ng-show="!(selOffer.offerStatus==='Cancelled' || selOffer.offerStatus==='Completed' || selOffer.offerStatus==='Expired')"
                   class="nvc-accent-background nvc-padding-0 nvc-margin-0 md-background-accent"
                   ng-class="(orderProductCount()?'nvc-accent-100-color':'nvc-primary-color')+' '+(selOffer.user._id===authentication.user._id?'flex-50':'flex-100')">Create Order
        </md-button>
        <md-tooltip md-direction="top" ng-show="!orderProductCount()">
            Please choose Products
        </md-tooltip>
    </div>
    <div layout="row" layout-wrap ng-show="selOffer.offerStatus=='Drafted' && selOffer.products.length>=0 && (authentication.companyBusinessUnits.userGroup.name === 'Admin' || authentication.companyBusinessUnits.userGroup.name === 'Manager')">
                <md-button type="submit" ng-click="selOffer.offerStatus='Opened';"
                           class="nvc-accent-background nvc-primary-color nvc-padding-0 nvc-margin-0 md-background-accent" flex="100">Place Offer
                </md-button>
    </div>
    </form>
