<section data-ng-controller="LeadsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Product</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label" for="name">Name</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" data-ng-model="product.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label" for="type">Type</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" data-ng-model="product.type" id="type" class="form-control" placeholder="Product Type" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label" for="category">Category</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" data-ng-model="product.category" id="category" class="form-control" placeholder="Product Category" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label" for="subCategory">Sub Category</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" data-ng-model="product.subCategory" id="subCategory" class="form-control" placeholder="Product Sub Category">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label" for="unitSize">Unit Size</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" data-ng-model="product.unitSize" id="unitSize" class="form-control"
                               placeholder="Unit Size" only-digits>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label" for="unitMeasure">Unit Measure</label>
                    </div>
                    <div class="col-sm-2">
                        <select data-ng-model="product.unitMeasure" id="unitMeasure" class="form-control"
                                ng-options="item as item for item in unitMeasureTypes"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label" for="description">Description</label>
                    </div>
                    <div class="col-sm-2">
                        <textarea rows="3" style="resize:none" data-ng-model="product.description" id="description" class="form-control" placeholder="Product Description"> </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
